// 9:0
[com_0]
type=model
x=210
y=136
width=32
height=32
model=model_4652
modelangle=410,2046,0
modelzoom=881

// 9:1
[com_1]
type=model
x=217
y=137
width=32
height=32
model=model_5235
modelangle=436,7,0
modelzoom=824

// 9:2
[com_2]
type=text
x=169
y=72
width=154
height=33
textfont=q8_full
text=Rune-Draw
textactive=Rune-Draw
textalignh=centre
textshadow=yes
colour=0xe9ab73

// 9:3
[com_3]
type=text
x=71
y=108
width=118
height=36
textfont=q8_full
text=Your Score
textactive=Your Score
textshadow=yes
colour=0xc47630

// 9:4
[com_4]
type=text
x=314
y=111
width=118
height=37
textfont=q8_full
text=Opponent's Score
textactive=Opponent's Score
textshadow=yes
colour=0xc47630

// 9:5
[runedraw_btn_draw]
type=text
width=62
height=43
layer=runedraw_layer_draw
buttontype=1
textfont=q8_full
text=Draw
textactive=Draw
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xc47630
mouseovercolour=0xffffff
buttontext=Draw

// 9:6
[runedraw_btn_hold]
type=text
width=63
height=43
layer=runedraw_layer_hold
buttontype=1
textfont=q8_full
text=Hold
textactive=Hold
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xc47630
mouseovercolour=0xffffff
buttontext=Hold

// 9:7
[runedraw_slot_1]
type=model
x=72
y=145
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:8
[runedraw_slot_2]
type=model
x=105
y=145
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:9
[runedraw_slot_3]
type=model
x=140
y=137
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:10
[runedraw_slot_4]
type=model
x=173
y=131
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:11
[runedraw_slot_5]
type=model
x=205
y=125
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:12
[runedraw_slot_6]
type=model
x=69
y=172
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:13
[runedraw_slot_7]
type=model
x=104
y=175
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:14
[runedraw_slot_8]
type=model
x=139
y=167
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:15
[runedraw_slot_9]
type=model
x=172
y=158
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:16
[runedraw_slot_10]
type=model
x=204
y=154
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:17
[runedraw_slot_11]
type=model
x=267
y=157
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:18
[runedraw_slot_12]
type=model
x=301
y=158
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:19
[runedraw_slot_13]
type=model
x=336
y=151
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:20
[runedraw_slot_14]
type=model
x=370
y=142
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:21
[runedraw_slot_15]
type=model
x=402
y=143
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:22
[runedraw_slot_16]
type=model
x=266
y=188
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:23
[runedraw_slot_17]
type=model
x=302
y=190
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:24
[runedraw_slot_18]
type=model
x=337
y=183
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:25
[runedraw_slot_19]
type=model
x=371
y=172
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:26
[runedraw_slot_20]
type=model
x=404
y=172
width=25
height=24
model=model_5236
modelangle=525,762,0
modelzoom=1027

// 9:27
[runedraw_score_l]
type=text
x=75
y=69
width=90
height=32
textfont=q8_full
text=DEATH
textactive=DEATH
textalignh=centre
textalignv=centre
script0=varplayerbit_230

// 9:28
[runedraw_totalscore_l]
type=text
x=62
y=223
width=86
height=69
textfont=q8_full
text=Text
textactive=Text
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xc47630

// 9:29
[runedraw_score_r]
type=text
x=335
y=72
width=90
height=32
textfont=q8_full
text=DEATH
textactive=DEATH
textalignh=centre
textalignv=centre
script0=varplayerbit_231

// 9:30
[runedraw_totalscore_r]
type=text
x=346
y=229
width=86
height=69
textfont=q8_full
text=Text
textactive=Text
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xc47630

// 9:31
[runedraw_layer_draw]
type=layer
x=171
y=208
width=62
height=43

// 9:32
[runedraw_layer_hold]
type=layer
x=170
y=256
width=63
height=43

// 9:33
[com_33]
type=graphic
x=481
y=4
width=26
height=23
mouseoverlayer=ahoy_runedraw_close_button
graphic="close_buttons,4"

// 9:34
[com_34]
type=graphic
x=3
y=4
width=26
height=23
layer=ahoy_runedraw_close_button
buttontype=3
graphic="close_buttons,5"

// 9:35
[ahoy_runedraw_close_button]
type=layer
x=478
width=32
height=32
hide=yes

