[com_0]

[com_1]

[com_2]

[com_3]

[com_4]

[runedraw_btn_draw]

[runedraw_btn_hold]

[runedraw_slot_1]

[runedraw_slot_2]

[runedraw_slot_3]

[runedraw_slot_4]

[runedraw_slot_5]

[runedraw_slot_6]

[runedraw_slot_7]

[runedraw_slot_8]

[runedraw_slot_9]

[runedraw_slot_10]

[runedraw_slot_11]

[runedraw_slot_12]

[runedraw_slot_13]

[runedraw_slot_14]

[runedraw_slot_15]

[runedraw_slot_16]

[runedraw_slot_17]

[runedraw_slot_18]

[runedraw_slot_19]

[runedraw_slot_20]

[runedraw_score_l]

[runedraw_totalscore_l]

[runedraw_score_r]

[runedraw_totalscore_r]

[runedraw_layer_draw]

[runedraw_layer_hold]

[com_33]

[com_34]

[ahoy_runedraw_close_button]

