// 9:0
[com_0]

// 9:1
[com_1]

// 9:2
[com_2]

// 9:3
[com_3]

// 9:4
[com_4]

// 9:5
[runedraw_btn_draw]

// 9:6
[runedraw_btn_hold]

// 9:7
[runedraw_slot_1]

// 9:8
[runedraw_slot_2]

// 9:9
[runedraw_slot_3]

// 9:10
[runedraw_slot_4]

// 9:11
[runedraw_slot_5]

// 9:12
[runedraw_slot_6]

// 9:13
[runedraw_slot_7]

// 9:14
[runedraw_slot_8]

// 9:15
[runedraw_slot_9]

// 9:16
[runedraw_slot_10]

// 9:17
[runedraw_slot_11]

// 9:18
[runedraw_slot_12]

// 9:19
[runedraw_slot_13]

// 9:20
[runedraw_slot_14]

// 9:21
[runedraw_slot_15]

// 9:22
[runedraw_slot_16]

// 9:23
[runedraw_slot_17]

// 9:24
[runedraw_slot_18]

// 9:25
[runedraw_slot_19]

// 9:26
[runedraw_slot_20]

// 9:27
[runedraw_score_l]

// 9:28
[runedraw_totalscore_l]

// 9:29
[runedraw_score_r]

// 9:30
[runedraw_totalscore_r]

// 9:31
[runedraw_layer_draw]

// 9:32
[runedraw_layer_hold]

// 9:33
[com_33]

// 9:34
[com_34]

// 9:35
[ahoy_runedraw_close_button]

