// 8:0
[com_0]
type=rectangle
width=512
height=334
colour=0x000000
fill=yes

// 8:1
[dragontoothisland_paper]
type=model
x=260
y=166
width=32
height=32
model=model_4652
modelangle=416,1023,0
modelzoom=886

// 8:2
[dragontooth_map]
type=model
x=222
y=145
width=32
height=32
model=model_5234
modelangle=450,2039,0
modelzoom=962

// 8:3
[com_3]
type=text
x=331
y=149
width=39
height=14
textfont=p12_full
text=8-East
textshadow=yes

// 8:4
[com_4]
type=text
x=332
y=130
width=47
height=14
textfont=p12_full
text=6-South
textshadow=yes

// 8:5
[com_5]
type=text
x=330
y=169
width=46
height=14
textfont=p12_full
text=2-North
textalignh=centre
textshadow=yes

// 8:6
[com_6]
type=text
x=330
y=188
width=38
height=14
textfont=p12_full
text=4-East
textshadow=yes

// 8:7
[com_7]
type=text
x=330
y=207
width=55
height=14
textfont=p12_full
text=22-South
textshadow=yes

// 8:8
[com_8]
type=text
x=278
y=112
width=162
height=22
textfont=q8_full
text=X marks the start!
textalignh=centre
colour=0x9a9a54

// 8:9
[com_9]
type=text
x=200
y=83
width=103
height=56
textfont=q8_full
text=Dragontooth Island
textalignh=centre
colour=0x9a9a54

// 8:10
[com_10]
type=graphic
x=481
y=7
width=26
height=23
mouseoverlayer=ahoy_islandmap_close_button
graphic="close_buttons,4"

// 8:11
[com_11]
type=graphic
x=3
y=4
width=26
height=23
layer=ahoy_islandmap_close_button
buttontype=3
graphic="close_buttons,5"

// 8:12
[ahoy_islandmap_close_button]
type=layer
x=478
y=3
width=32
height=32
hide=yes

