[anma_rect]

[anma_white_rect]

[com_2]

[com_3]

[anma_close_button]

[anma_complete_a]

[anma_complete_a_layer]

[anma_complete_b]

[anma_complete_b_layer]

[anma_complete_c]

[anma_complete_c_layer]

[anma_random_1]

[anma_random_1_layer]

[anma_random_2]

[anma_random_2_layer]

[anma_random_3]

[anma_random_3_layer]

[anma_random_4]

[anma_random_4_layer]

[anma_random_5]

[anma_random_5_layer]

[anma_random_6]

[anma_random_6_layer]

[anma_buton_1_off]

[anma_buton_1_on]

[anma_buton_2_off]

[anma_button_1_layer]

[anma_buton_2_on]

[anma_button_2_layer]

[anma_buton_3_off]

[anma_buton_3_on]

[anma_button_3_layer]

[anma_buton_4_off]

[anma_buton_4_on]

[anma_button_4_layer]

[anma_buton_5_off]

[anma_buton_5_on]

[anma_button_5_layer]

[anma_buton_6_off]

[anma_buton_6_on]

[anma_button_6_layer]

[anma_buton_7_off]

[anma_buton_7_on]

[anma_button_7_layer]

[anma_buton_8_off]

[anma_buton_8_on]

[anma_button_8_layer]

[anma_buton_9_off]

[anma_buton_9_on]

[anma_button_9_layer]

[anma_button_1_layer_1_off]

[anma_button_2_layer_1_off]

[anma_button_3_layer_1_off]

[anma_button_4_layer_1_off]

[anma_button_5_layer_1_off]

[anma_button_6_layer_1_off]

[anma_button_7_layer_1_off]

[anma_button_8_layer_1_off]

[anma_button_9_layer_1_off]

