// 480:0
[anma_rect]

// 480:1
[anma_white_rect]

// 480:2
[com_2]

// 480:3
[com_3]

// 480:4
[anma_close_button]

// 480:5
[anma_complete_a]

// 480:6
[anma_complete_a_layer]

// 480:7
[anma_complete_b]

// 480:8
[anma_complete_b_layer]

// 480:9
[anma_complete_c]

// 480:10
[anma_complete_c_layer]

// 480:11
[anma_random_1]

// 480:12
[anma_random_1_layer]

// 480:13
[anma_random_2]

// 480:14
[anma_random_2_layer]

// 480:15
[anma_random_3]

// 480:16
[anma_random_3_layer]

// 480:17
[anma_random_4]

// 480:18
[anma_random_4_layer]

// 480:19
[anma_random_5]

// 480:20
[anma_random_5_layer]

// 480:21
[anma_random_6]

// 480:22
[anma_random_6_layer]

// 480:23
[anma_buton_1_off]

// 480:24
[anma_buton_1_on]

// 480:25
[anma_buton_2_off]

// 480:26
[anma_button_1_layer]

// 480:27
[anma_buton_2_on]

// 480:28
[anma_button_2_layer]

// 480:29
[anma_buton_3_off]

// 480:30
[anma_buton_3_on]

// 480:31
[anma_button_3_layer]

// 480:32
[anma_buton_4_off]

// 480:33
[anma_buton_4_on]

// 480:34
[anma_button_4_layer]

// 480:35
[anma_buton_5_off]

// 480:36
[anma_buton_5_on]

// 480:37
[anma_button_5_layer]

// 480:38
[anma_buton_6_off]

// 480:39
[anma_buton_6_on]

// 480:40
[anma_button_6_layer]

// 480:41
[anma_buton_7_off]

// 480:42
[anma_buton_7_on]

// 480:43
[anma_button_7_layer]

// 480:44
[anma_buton_8_off]

// 480:45
[anma_buton_8_on]

// 480:46
[anma_button_8_layer]

// 480:47
[anma_buton_9_off]

// 480:48
[anma_buton_9_on]

// 480:49
[anma_button_9_layer]

// 480:50
[anma_button_1_layer_1_off]

// 480:51
[anma_button_2_layer_1_off]

// 480:52
[anma_button_3_layer_1_off]

// 480:53
[anma_button_4_layer_1_off]

// 480:54
[anma_button_5_layer_1_off]

// 480:55
[anma_button_6_layer_1_off]

// 480:56
[anma_button_7_layer_1_off]

// 480:57
[anma_button_8_layer_1_off]

// 480:58
[anma_button_9_layer_1_off]

