// 30:0
[com_0]
type=text
x=7
y=7
width=500
height=16
textfont=b12_full
text=Blast Furnace Temp Gauge
textactive=Blast Furnace Temp Gauge
textalignh=centre
textshadow=yes
colour=0xffaa44

// 30:1
[temp_gauge_fuelflag]
type=model
x=303
y=174
width=32
height=32
model=model_9096
modelzoom=908

// 30:2
[temp_gauge_brokenflag]
type=model
x=172
y=181
width=32
height=32
model=model_9097
modelzoom=960

// 30:3
[temp_gauge_needle]
type=model
x=235
y=150
width=32
height=32
model=model_9083
modelzoom=172

// 30:4
[com_4]
type=graphic
x=482
y=5
width=26
height=23
mouseoverlayer=blast_furnace_temp_gauge_close_button
graphic="close_buttons,4"

// 30:5
[com_5]
type=graphic
x=3
y=4
width=26
height=23
layer=blast_furnace_temp_gauge_close_button
buttontype=3
graphic="close_buttons,5"

// 30:6
[blast_furnace_temp_gauge_close_button]
type=layer
x=479
y=1
width=32
height=32
hide=yes

