// 48:0
[bob_locator]

// 48:1
[bob_locator_nose_lights]

// 48:2
[bob_locator_r_eye]

// 48:3
[bob_locator_l_eye]

// 48:4
[bob_locator_mouth]

// 48:5
[bob_locator_l_whisker]

// 48:6
[bob_locator_r_whisker]

// 48:7
[bob_button_r_whisker]

// 48:8
[bob_button_l_whisker]

// 48:9
[com_9]

// 48:10
[bob_locator_close_button]

// 48:11
[bob_locator_amulet_close_button]

