[bob_locator]

[bob_locator_nose_lights]

[bob_locator_r_eye]

[bob_locator_l_eye]

[bob_locator_mouth]

[bob_locator_l_whisker]

[bob_locator_r_whisker]

[bob_button_r_whisker]

[bob_button_l_whisker]

[com_9]

[bob_locator_close_button]

[bob_locator_amulet_close_button]

