// 48:0
[bob_locator]
type=model
x=259
y=85
width=32
height=32
model=model_9374
modelangle=295,0,0
modelzoom=246

// 48:1
[bob_locator_nose_lights]
type=model
x=259
y=85
width=32
height=32
model=model_9380
modelangle=295,0,0
modelzoom=246
modelanim=bob_locator_nose_rotate
modelanimactive=bob_locator_nose_rotate

// 48:2
[bob_locator_r_eye]
type=model
x=255
y=84
width=32
height=32
model=model_9376
modelangle=293,0,0
modelzoom=246
modelanim=bob_locator_eyes
modelanimactive=bob_locator_eyes

// 48:3
[bob_locator_l_eye]
type=model
x=205
y=75
width=32
height=32
model=model_9376
modelangle=295,110,0
modelzoom=246
modelanim=bob_locator_eyes
modelanimactive=bob_locator_eyes

// 48:4
[bob_locator_mouth]
type=model
x=259
y=85
width=32
height=32
model=model_9379
modelangle=295,0,0
modelzoom=246
modelanim=bob_locator_eyes
modelanimactive=bob_locator_eyes

// 48:5
[bob_locator_l_whisker]
type=graphic
x=178
y=150
width=66
height=40
buttontype=1
buttontext=Turn anti-clockwise

// 48:6
[bob_locator_r_whisker]
type=graphic
x=278
y=150
width=66
height=40
buttontype=1
buttontext=Turn clockwise

// 48:7
[bob_button_r_whisker]
type=model
x=259
y=85
width=32
height=32
model=model_9381
modelactive=model_9382
modelangle=295,0,0
modelzoom=246
script=if1 = 1

// 48:8
[bob_button_l_whisker]
type=model
x=259
y=85
width=32
height=32
model=model_9377
modelactive=model_9378
modelangle=295,0,0
modelzoom=246
script=if1 = 2

// 48:9
[com_9]
type=graphic
x=483
y=5
width=26
height=23
mouseoverlayer=bob_locator_amulet_close_button
graphic="close_buttons,4"

// 48:10
[bob_locator_close_button]
type=graphic
x=3
y=4
width=26
height=23
layer=bob_locator_amulet_close_button
buttontype=3
graphic="close_buttons,5"

// 48:11
[bob_locator_amulet_close_button]
type=layer
x=480
y=1
width=32
height=32
hide=yes

