[brew_backing_scroll]

[brew_tatty_cut_throat]

[brew_tatty_guilded_smile]

[brew_poe1]

[brwe_poe2]

[brew_poe3]

[brew_poe4]

[brwe_poe5]

[brew_poe6]

[brew_poe7]

[brwe_poe8]

[brew_poe9]

[brew_poe10]

[brwe_poe11]

[brew_poe12]

[brwe_poe13]

[brew_poe14]

[brew_poe15]

[brew_poe16]

[brew_won_lost]

[brew_score]

[brew_pieces_of_eight]

[brew_dan_final_score]

[brew_san_final_score]

[extra_text]

[brew_xpreward]

[com_26]

[brew_close_game_over]

[brew_game_over_close_button]

