// 414:0
[brew_backing_scroll]

// 414:1
[brew_tatty_cut_throat]

// 414:2
[brew_tatty_guilded_smile]

// 414:3
[brew_poe1]

// 414:4
[brwe_poe2]

// 414:5
[brew_poe3]

// 414:6
[brew_poe4]

// 414:7
[brwe_poe5]

// 414:8
[brew_poe6]

// 414:9
[brew_poe7]

// 414:10
[brwe_poe8]

// 414:11
[brew_poe9]

// 414:12
[brew_poe10]

// 414:13
[brwe_poe11]

// 414:14
[brew_poe12]

// 414:15
[brwe_poe13]

// 414:16
[brew_poe14]

// 414:17
[brew_poe15]

// 414:18
[brew_poe16]

// 414:19
[brew_won_lost]

// 414:20
[brew_score]

// 414:21
[brew_pieces_of_eight]

// 414:22
[brew_dan_final_score]

// 414:23
[brew_san_final_score]

// 414:24
[extra_text]

// 414:25
[brew_xpreward]

// 414:26
[com_26]

// 414:27
[brew_close_game_over]

// 414:28
[brew_game_over_close_button]

