// 51:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 51:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 51:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 51:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 51:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 51:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 51:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 51:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 51:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 51:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 51:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 51:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 51:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 51:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 51:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 51:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 51:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 51:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 51:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 51:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 51:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 51:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 51:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 51:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 51:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 51:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 51:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 51:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 51:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 51:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 51:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 51:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 51:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 51:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 51:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 51:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 51:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 51:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 51:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 51:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 51:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 51:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 51:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 51:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 51:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 51:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 51:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 51:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 51:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 51:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 51:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 51:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 51:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 51:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 51:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 51:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 51:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 51:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 51:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 51:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 51:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 51:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 51:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 51:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 51:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 51:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 51:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 51:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 51:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 51:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 51:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 51:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 51:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 51:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 51:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 51:75
[com_75]
type=model
x=198
y=127
width=152
height=109
model=model_6857
modelangle=360,1975,0
modelzoom=133

// 51:76
[brooch1]
type=text
x=23
y=30
width=470
height=18
textfont=b12_full
text=Brooch
textalignh=centre
textshadow=yes
colour=0xff981f

// 51:77
[com_77]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 51:78
[com_78]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 51:79
[com_79]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 51:80
[com_80]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 51:81
[com_81]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 51:82
[com_82]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 51:83
[com_83]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 51:84
[com_84]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 51:85
[com_85]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 51:86
[com_86]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 51:87
[com_87]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 51:88
[com_88]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 51:89
[com_89]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 51:90
[com_90]
type=graphic
x=471
y=25
width=26
height=23
mouseoverlayer=brooch_closeup_close_button
graphic="close_buttons,0"

// 51:91
[broochclose]
type=graphic
x=5
y=3
width=26
height=23
layer=brooch_closeup_close_button
buttontype=3
graphic="close_buttons,1"

// 51:92
[brooch_closeup_close_button]
type=layer
x=466
y=22
width=32
height=32
hide=yes

