// 57:0
[canoeing_background_layer]

// 57:1
[canoeing_water]

// 57:2
[map_image]

// 57:3
[canoeing_map_model]

// 57:4
[canoeing_water2]

// 57:5
[canoeing_water3]

// 57:6
[canoeing_water4]

// 57:7
[canoeing_barberian_canoe_highlight]

// 57:8
[canoeing_champions_canoe_highlight]

// 57:9
[canoeing_lumbridge_canoe_highlight]

// 57:10
[canoeing_edgeville_canoe_highlight]

// 57:11
[canoeing_lumbridge_canoe]

// 57:12
[canoeing_lumbridge_canoe_model]

// 57:13
[canoeing_champions_canoe]

// 57:14
[canoeing_champions_canoe_model]

// 57:15
[canoeing_barbarian_canoe]

// 57:16
[canoeing_barberian_canoe_model]

// 57:17
[canoeing_edgeville_canoe_model]

// 57:18
[canoeing_gray_canoes]

// 57:19
[canoeing_tunnels]

// 57:20
[canoeing_fade_to_black]

// 57:21
[canoeing_large_tunnel]

// 57:22
[lumbridge_highlight]

// 57:23
[champions_highlight]

// 57:24
[barbarian_highlight]

// 57:25
[lumbridge canoe station_text]

// 57:26
[champions canoe station_text]

// 57:27
[barbarian village canoe station]

// 57:28
[edgeville canoe station_text]

// 57:29
[wilderness pond_text ]

// 57:30
[canoeing_danger_wilderness_skul]

// 57:31
[canoeing_wilderness_layer]

// 57:32
[canoeing_lumbridge_button]

// 57:33
[canoeing_champions_button]

// 57:34
[canoeing_barbarian_button]

// 57:35
[canoeing_wilderness_button]

// 57:36
[you_are_here_edgeville]

// 57:37
[you_are_here_edgeville_text]

// 57:38
[canoeing_edgeville_canoe]

// 57:39
[canoeing_edgeville_button]

// 57:40
[edgeville_highlight]

// 57:41
[wilderness_highlight]

// 57:42
[wilderness_text_highlight]

// 57:43
[you_are_here_edgeville_arrow]

// 57:44
[you_are_here_barbarian_village]

// 57:45
[you_are_here_barbarian_village_arrow]

// 57:46
[you_are_here_barbarian_village_text]

// 57:47
[you_are_here_champion]

// 57:48
[you_are_here_champion_arrow]

// 57:49
[you_are_here_champion_text]

// 57:50
[you_are_here_lumbridge]

// 57:51
[you_are_here_lumbridge_arrow]

// 57:52
[you_are_here_lumbridge_text]

// 57:53
[selection_scroll]

// 57:54
[com_54]

// 57:55
[where to _text]

// 57:56
[you_are_here_lum_rollover]

// 57:57
[you_are_here_champ_rollover]

// 57:58
[you_are_here_barb_rollover]

// 57:59
[you_are_here_edge_rollover]

// 57:60
[com_60]

// 57:61
[canoe_stations_close]

// 57:62
[canoe_stations_close_button]

