[canoeing_background_layer]

[canoeing_water]

[map_image]

[canoeing_map_model]

[canoeing_water2]

[canoeing_water3]

[canoeing_water4]

[canoeing_barberian_canoe_highlight]

[canoeing_champions_canoe_highlight]

[canoeing_lumbridge_canoe_highlight]

[canoeing_edgeville_canoe_highlight]

[canoeing_lumbridge_canoe]

[canoeing_lumbridge_canoe_model]

[canoeing_champions_canoe]

[canoeing_champions_canoe_model]

[canoeing_barbarian_canoe]

[canoeing_barberian_canoe_model]

[canoeing_edgeville_canoe_model]

[canoeing_gray_canoes]

[canoeing_tunnels]

[canoeing_fade_to_black]

[canoeing_large_tunnel]

[lumbridge_highlight]

[champions_highlight]

[barbarian_highlight]

[lumbridge canoe station_text]

[champions canoe station_text]

[barbarian village canoe station]

[edgeville canoe station_text]

[wilderness pond_text ]

[canoeing_danger_wilderness_skul]

[canoeing_wilderness_layer]

[canoeing_lumbridge_button]

[canoeing_champions_button]

[canoeing_barbarian_button]

[canoeing_wilderness_button]

[you_are_here_edgeville]

[you_are_here_edgeville_text]

[canoeing_edgeville_canoe]

[canoeing_edgeville_button]

[edgeville_highlight]

[wilderness_highlight]

[wilderness_text_highlight]

[you_are_here_edgeville_arrow]

[you_are_here_barbarian_village]

[you_are_here_barbarian_village_arrow]

[you_are_here_barbarian_village_text]

[you_are_here_champion]

[you_are_here_champion_arrow]

[you_are_here_champion_text]

[you_are_here_lumbridge]

[you_are_here_lumbridge_arrow]

[you_are_here_lumbridge_text]

[selection_scroll]

[com_54]

[where to _text]

[you_are_here_lum_rollover]

[you_are_here_champ_rollover]

[you_are_here_barb_rollover]

[you_are_here_edge_rollover]

[com_60]

[canoe_stations_close]

[canoe_stations_close_button]

