// 57:0
[canoeing_background_layer]
type=layer
x=-13
y=-1
width=527
height=340

// 57:1
[canoeing_water]
type=model
x=101
y=298
width=10
height=14
layer=canoeing_background_layer
model=model_12114
modelangle=465,1647,0
modelzoom=466
modelanim=canoeing_interface_water

// 57:2
[map_image]
type=layer
x=65
y=31
width=32
height=32

// 57:3
[canoeing_map_model]
type=model
x=314
y=185
width=32
height=32
model=model_12109
modelangle=387,2008,0
modelzoom=906

// 57:4
[canoeing_water2]
type=model
x=78
y=175
width=36
height=24
layer=canoeing_background_layer
model=model_12114
modelangle=306,1642,0
modelzoom=400
modelanim=canoeing_interface_water

// 57:5
[canoeing_water3]
type=model
x=86
y=61
width=32
height=32
layer=canoeing_background_layer
model=model_12114
modelangle=189,1654,0
modelzoom=400
modelanim=canoeing_interface_water

// 57:6
[canoeing_water4]
type=model
x=183
y=-9
width=32
height=32
layer=canoeing_background_layer
model=model_12114
modelangle=198,1609,0
modelzoom=400
modelanim=canoeing_interface_water

// 57:7
[canoeing_barberian_canoe_highlight]
type=model
x=28
y=-6
width=32
height=32
layer=barbarian_highlight
model=model_12104
modelangle=252,1960,0
modelzoom=3160

// 57:8
[canoeing_champions_canoe_highlight]
type=model
x=21
width=32
height=32
layer=champions_highlight
model=model_12104
modelangle=228,1990,0
modelzoom=2776

// 57:9
[canoeing_lumbridge_canoe_highlight]
type=model
x=13
y=9
width=32
height=32
layer=lumbridge_highlight
model=model_12104
modelangle=272,62,0
modelzoom=2954

// 57:10
[canoeing_edgeville_canoe_highlight]
type=model
x=22
y=4
width=32
height=32
layer=edgeville_highlight
model=model_12104
modelangle=279,1852,0
modelzoom=3160

// 57:11
[canoeing_lumbridge_canoe]
type=layer
x=165
y=237
width=248
height=36
buttontype=1

// 57:12
[canoeing_lumbridge_canoe_model]
type=model
x=189
y=9
width=32
height=32
layer=canoeing_lumbridge_canoe
model=model_12103
modelactive=model_12104
modelangle=272,62,0
modelzoom=2954

// 57:13
[canoeing_champions_canoe]
type=layer
x=164
y=208
width=249
height=42
buttontype=1

// 57:14
[canoeing_champions_canoe_model]
type=model
x=158
y=-2
width=32
height=32
layer=canoeing_champions_canoe
model=model_12103
modelactive=model_12104
modelangle=228,1990,0
modelzoom=2776

// 57:15
[canoeing_barbarian_canoe]
type=layer
x=165
y=174
width=222
height=36
buttontype=1

// 57:16
[canoeing_barberian_canoe_model]
type=model
x=110
y=-3
width=32
height=32
layer=canoeing_barbarian_canoe
model=model_12103
modelactive=model_12104
modelangle=252,1960,0
modelzoom=3160

// 57:17
[canoeing_edgeville_canoe_model]
type=model
x=108
y=-7
width=32
height=32
layer=canoeing_edgeville_canoe
model=model_12103
modelactive=model_12104
modelangle=279,1852,0
modelzoom=3160

// 57:18
[canoeing_gray_canoes]
type=layer
x=305
y=271
width=32
height=32

// 57:19
[canoeing_tunnels]
type=layer
x=228
y=101
width=55
height=46

// 57:20
[canoeing_fade_to_black]
type=model
x=433
y=31
width=32
height=32
layer=canoeing_background_layer
model=model_12105
modelangle=414,2008,0
modelzoom=344

// 57:21
[canoeing_large_tunnel]
type=model
x=20
y=3
width=32
height=32
layer=canoeing_tunnels
model=model_12107
modelangle=468,2032,0
modelzoom=428

// 57:22
[lumbridge_highlight]
type=layer
x=341
y=237
width=65
height=44
hide=yes

// 57:23
[champions_highlight]
type=layer
x=301
y=206
width=75
height=29
hide=yes

// 57:24
[barbarian_highlight]
type=layer
x=247
y=177
width=80
height=30
hide=yes

// 57:25
[lumbridge canoe station_text]
type=text
x=70
y=14
width=92
height=16
layer=canoeing_lumbridge_canoe
textfont=q8_full
text=Lumbridge
textalignh=right
textshadow=yes
colour=0x999999

// 57:26
[champions canoe station_text]
type=text
x=14
y=4
width=77
height=39
layer=canoeing_champions_canoe
textfont=q8_full
text=Champions <br>Guild
textactive= Station
textshadow=yes
colour=0x999999

// 57:27
[barbarian village canoe station]
type=text
x=7
y=-2
width=73
height=36
layer=canoeing_barbarian_canoe
mouseoverlayer=map_image
textfont=q8_full
text=Barbarian <br> Village
textshadow=yes
colour=0x999999

// 57:28
[edgeville canoe station_text]
type=text
x=3
y=6
width=90
height=18
layer=canoeing_edgeville_canoe
textfont=q8_full
text=Edgeville
textalignh=centre
textshadow=yes
colour=0x999999

// 57:29
[wilderness pond_text ]
type=text
x=5
y=1
width=237
height=52
layer=canoeing_wilderness_layer
textfont=q8_full
text=Wilderness Pond - <br>No canoe trees here.
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x999999
mouseovercolour=0x990000

// 57:30
[canoeing_danger_wilderness_skul]
type=model
x=1
y=20
width=36
height=31
layer=canoeing_wilderness_layer
model=model_12110
modelangle=525,2026,0
modelzoom=2704

// 57:31
[canoeing_wilderness_layer]
type=layer
x=201
y=63
width=254
height=53

// 57:32
[canoeing_lumbridge_button]
type=text
x=24
y=12
width=219
height=23
layer=canoeing_lumbridge_canoe
mouseoverlayer=lumbridge_highlight
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to Lumbridge.

// 57:33
[canoeing_champions_button]
type=text
x=3
y=2
width=242
height=28
layer=canoeing_champions_canoe
mouseoverlayer=champions_highlight
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to the Champions Guild.

// 57:34
[canoeing_barbarian_button]
type=text
x=2
width=220
height=31
layer=canoeing_barbarian_canoe
mouseoverlayer=barbarian_highlight
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to Barbarian Village.

// 57:35
[canoeing_wilderness_button]
type=text
x=-11
y=10
width=250
height=36
layer=canoeing_wilderness_layer
mouseoverlayer=wilderness_highlight
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
mouseovercolour=0x990000
buttontext=DANGER: Travel to the Wilderness. There are no canoe trees up there!

// 57:36
[you_are_here_edgeville]
type=layer
x=259
y=105
width=124
height=34
mouseoverlayer=map_image
hide=yes

// 57:37
[you_are_here_edgeville_text]
type=text
x=33
y=9
width=94
height=14
layer=you_are_here_edgeville
textfont=b12_full
text=You are here
textshadow=yes
colour=0xb86e0d

// 57:38
[canoeing_edgeville_canoe]
type=layer
x=165
y=136
width=212
height=33
buttontype=1

// 57:39
[canoeing_edgeville_button]
type=text
x=19
y=-9
width=139
height=38
layer=canoeing_edgeville_canoe
mouseoverlayer=edgeville_highlight
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to Edgeville.

// 57:40
[edgeville_highlight]
type=layer
x=251
y=125
width=79
height=38
hide=yes

// 57:41
[wilderness_highlight]
type=layer
x=201
y=63
width=254
height=53
hide=yes

// 57:42
[wilderness_text_highlight]
type=text
x=5
y=1
width=237
height=52
layer=wilderness_highlight
textfont=q8_full
text=Wilderness Pond - <br>No canoe trees here.
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x990000
mouseovercolour=0x990000

// 57:43
[you_are_here_edgeville_arrow]
type=model
x=2
y=1
width=36
height=31
layer=you_are_here_edgeville
model=model_12100
modelangle=567,201,0
modelzoom=528

// 57:44
[you_are_here_barbarian_village]
type=layer
x=248
y=154
width=145
height=32
hide=yes

// 57:45
[you_are_here_barbarian_village_arrow]
type=model
x=6
y=2
width=36
height=31
layer=you_are_here_barbarian_village
model=model_12100
modelangle=567,201,0
modelzoom=528

// 57:46
[you_are_here_barbarian_village_text]
type=text
x=31
y=11
width=112
height=14
layer=you_are_here_barbarian_village
textfont=b12_full
text=You are here
textalignh=centre
textshadow=yes
colour=0xb86e0d

// 57:47
[you_are_here_champion]
type=layer
x=280
y=189
width=145
height=32
hide=yes

// 57:48
[you_are_here_champion_arrow]
type=model
x=6
y=2
width=36
height=31
layer=you_are_here_champion
model=model_12100
modelangle=567,201,0
modelzoom=528

// 57:49
[you_are_here_champion_text]
type=text
x=27
y=8
width=109
height=15
layer=you_are_here_champion
textfont=b12_full
text=You are here
textalignh=centre
textshadow=yes
colour=0xb86e0d

// 57:50
[you_are_here_lumbridge]
type=layer
x=281
y=221
width=145
height=32
hide=yes

// 57:51
[you_are_here_lumbridge_arrow]
type=model
x=14
y=8
width=36
height=31
layer=you_are_here_lumbridge
model=model_12100
modelangle=567,201,0
modelzoom=528

// 57:52
[you_are_here_lumbridge_text]
type=text
x=29
y=14
width=102
height=14
layer=you_are_here_lumbridge
textfont=b12_full
text=You are here
textalignh=centre
textshadow=yes
colour=0xb86e0d

// 57:53
[selection_scroll]
type=layer
x=34
y=34
width=203
height=36

// 57:54
[com_54]
type=model
x=45
y=148
width=238
height=44
model=model_12111
modelangle=446,2041,0
modelzoom=1083

// 57:55
[where to _text]
type=text
x=34
y=31
width=192
height=33
mouseoverlayer=map_image
textfont=q8_full
text=Please Select <br>Your Destination
textalignh=centre
textshadow=yes
colour=0xc8d1db

// 57:56
[you_are_here_lum_rollover]
type=text
x=-1
width=145
height=32
layer=you_are_here_lumbridge
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are in Lumbridge.

// 57:57
[you_are_here_champ_rollover]
type=text
width=145
height=32
layer=you_are_here_champion
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are near the Champions Guild.

// 57:58
[you_are_here_barb_rollover]
type=text
width=145
height=32
layer=you_are_here_barbarian_village
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are at the Barbarian Village.

// 57:59
[you_are_here_edge_rollover]
type=text
width=145
height=32
layer=you_are_here_edgeville
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are in Edgeville.

// 57:60
[com_60]
type=graphic
x=451
y=10
width=26
height=23
mouseoverlayer=canoe_stations_close_button
graphic="close_buttons,4"

// 57:61
[canoe_stations_close]
type=graphic
x=4
y=4
width=26
height=23
layer=canoe_stations_close_button
buttontype=3
graphic="close_buttons,5"

// 57:62
[canoe_stations_close_button]
type=layer
x=447
y=6
width=32
height=32
hide=yes

