[cat_backdrop]

[com_1]

[com_2]

[cat_naming_cl1]

[cata_dial]

[catb_dial]

[catc_dial]

[catd_dial]

[cate_dial]

[catf_dial]

[cata]

[catb]

[catc]

[catd]

[cate]

[catf]

[cat_collar]

[cata_left]

[cata_right]

[catb_left]

[catb_right]

[catc_left]

[catc_right]

[catd_left]

[catd_right]

[cate_left]

[cate_right]

[catf_right]

[catf_left]

[com_29]

[com_30]

[catnaming]

[catname_enter]

[cat_naming_enter]

[cathead1]

[cathead2]

[cat_eye1]

[cat_eye2]

[cat_eye3]

[cat_eye4]

[cat_naming_close_button]

