[com_0]

[death_gamble_harold_dice2]

[death_gamble_harold_dice1]

[death_gamble_player_dice1]

[death_gamble_player_dice2]

[com_5]

[death_gamble_playername]

[death_gamble_harold_gold1]

[death_gamble_harold_gold2]

[death_gamble_harold_gold3]

[death_gamble_harold_gold4]

[death_gamble_harold_gold5]

[death_gamble_harold_gold6]

[death_gamble_harold_gold7]

[death_gamble_harold_gold8]

[death_gamble_harold_gold9]

[death_gamble_harold_gold10]

[death_gamble_player_gold1]

[death_gamble_player_gold2]

[death_gamble_player_gold3]

[death_gamble_player_gold4]

[death_gamble_player_gold5]

[death_gamble_player_gold6]

[death_gamble_player_gold7]

[death_gamble_player_gold8]

[death_gamble_player_gold9]

[death_gamble_player_gold10]

[death_gamble_roll]

[death_gamble_roll_button]

[death_gamble_continue]

[death_gamble_continue_button]

[death_gamble_harold_stake]

[death_gamble_player_stake]

[death_gamble_result]

[com_34]

[com_35]

[death_dice_close]

