// 99:0
[com_0]

// 99:1
[death_gamble_harold_dice2]

// 99:2
[death_gamble_harold_dice1]

// 99:3
[death_gamble_player_dice1]

// 99:4
[death_gamble_player_dice2]

// 99:5
[com_5]

// 99:6
[death_gamble_playername]

// 99:7
[death_gamble_harold_gold1]

// 99:8
[death_gamble_harold_gold2]

// 99:9
[death_gamble_harold_gold3]

// 99:10
[death_gamble_harold_gold4]

// 99:11
[death_gamble_harold_gold5]

// 99:12
[death_gamble_harold_gold6]

// 99:13
[death_gamble_harold_gold7]

// 99:14
[death_gamble_harold_gold8]

// 99:15
[death_gamble_harold_gold9]

// 99:16
[death_gamble_harold_gold10]

// 99:17
[death_gamble_player_gold1]

// 99:18
[death_gamble_player_gold2]

// 99:19
[death_gamble_player_gold3]

// 99:20
[death_gamble_player_gold4]

// 99:21
[death_gamble_player_gold5]

// 99:22
[death_gamble_player_gold6]

// 99:23
[death_gamble_player_gold7]

// 99:24
[death_gamble_player_gold8]

// 99:25
[death_gamble_player_gold9]

// 99:26
[death_gamble_player_gold10]

// 99:27
[death_gamble_roll]

// 99:28
[death_gamble_roll_button]

// 99:29
[death_gamble_continue]

// 99:30
[death_gamble_continue_button]

// 99:31
[death_gamble_harold_stake]

// 99:32
[death_gamble_player_stake]

// 99:33
[death_gamble_result]

// 99:34
[com_34]

// 99:35
[com_35]

// 99:36
[death_dice_close]

