// 99:0
[com_0]
type=model
x=241
y=142
width=32
height=32
model=model_3033
modelangle=490,0,0
modelzoom=498

// 99:1
[death_gamble_harold_dice2]
type=model
x=159
y=84
width=32
height=32
model=model_3712
modelangle=241,1454,0
modelzoom=1528

// 99:2
[death_gamble_harold_dice1]
type=model
x=105
y=105
width=32
height=32
model=model_3712
modelangle=253,1666,0
modelzoom=1229

// 99:3
[death_gamble_player_dice1]
type=model
x=330
y=87
width=32
height=31
model=model_3712
modelangle=253,1755,0
modelzoom=1528

// 99:4
[death_gamble_player_dice2]
type=model
x=399
y=109
width=32
height=32
model=model_3712
modelangle=276,1905,0
modelzoom=1229

// 99:5
[com_5]
type=text
x=95
y=62
width=102
height=19
textfont=q8_full
text=Harold
textactive=Harold
textalignh=centre
colour=0x333333

// 99:6
[death_gamble_playername]
type=text
x=322
y=62
width=103
height=23
textfont=q8_full
text=Player
textactive=Player
textalignh=centre
colour=0x333333

// 99:7
[death_gamble_harold_gold1]
type=model
x=79
y=235
width=32
height=32
model=null
modelactive=model_2484
modelangle=149,1698,0
modelzoom=445
script=if1 = 1

// 99:8
[death_gamble_harold_gold2]
type=model
x=79
y=235
width=32
height=32
model=null
modelactive=model_2485
modelangle=149,1698,0
modelzoom=445
script=if1 = 2

// 99:9
[death_gamble_harold_gold3]
type=model
x=79
y=235
width=32
height=32
model=null
modelactive=model_2486
modelangle=150,1700,0
modelzoom=445
script=if1 = 3

// 99:10
[death_gamble_harold_gold4]
type=model
x=79
y=235
width=32
height=32
model=null
modelactive=model_2487
modelangle=149,1698,0
modelzoom=445
script=if1 = 4

// 99:11
[death_gamble_harold_gold5]
type=model
x=79
y=235
width=32
height=32
model=null
modelactive=model_2488
modelangle=149,1698,0
modelzoom=445
script=if1 = 5

// 99:12
[death_gamble_harold_gold6]
type=model
x=79
y=235
width=32
height=32
model=null
modelactive=model_2667
modelangle=149,1698,0
modelzoom=445
script=if1 = 6

// 99:13
[death_gamble_harold_gold7]
type=model
x=79
y=235
width=32
height=32
model=null
modelactive=model_2825
modelangle=149,1693,0
modelzoom=445
script=if1 = 7

// 99:14
[death_gamble_harold_gold8]
type=model
x=79
y=235
width=32
height=32
model=null
modelactive=model_2423
modelangle=149,1698,0
modelzoom=445
script=if1 = 8

// 99:15
[death_gamble_harold_gold9]
type=model
x=79
y=235
width=32
height=32
model=null
modelactive=model_2710
modelangle=149,1698,0
modelzoom=445
script=if1 = 9

// 99:16
[death_gamble_harold_gold10]
type=model
x=79
y=235
width=32
height=32
model=null
modelactive=model_2775
modelangle=149,1698,0
modelzoom=445
script=if1 = 10

// 99:17
[death_gamble_player_gold1]
type=model
x=413
y=235
width=32
height=32
model=null
modelactive=model_2484
modelangle=149,1698,0
modelzoom=445
script=if2 = 1

// 99:18
[death_gamble_player_gold2]
type=model
x=413
y=235
width=32
height=32
model=null
modelactive=model_2485
modelangle=149,1698,0
modelzoom=445
script=if2 = 2

// 99:19
[death_gamble_player_gold3]
type=model
x=413
y=235
width=32
height=32
model=null
modelactive=model_2486
modelangle=150,1700,0
modelzoom=445
script=if2 = 3

// 99:20
[death_gamble_player_gold4]
type=model
x=413
y=235
width=32
height=32
model=null
modelactive=model_2487
modelangle=149,1698,0
modelzoom=445
script=if2 = 4

// 99:21
[death_gamble_player_gold5]
type=model
x=413
y=235
width=32
height=32
model=null
modelactive=model_2488
modelangle=149,1698,0
modelzoom=445
script=if2 = 5

// 99:22
[death_gamble_player_gold6]
type=model
x=413
y=235
width=32
height=32
model=null
modelactive=model_2667
modelangle=149,1698,0
modelzoom=445
script=if2 = 6

// 99:23
[death_gamble_player_gold7]
type=model
x=413
y=235
width=32
height=32
model=null
modelactive=model_2825
modelangle=149,1693,0
modelzoom=445
script=if2 = 7

// 99:24
[death_gamble_player_gold8]
type=model
x=413
y=235
width=32
height=32
model=null
modelactive=model_2423
modelangle=149,1698,0
modelzoom=445
script=if2 = 8

// 99:25
[death_gamble_player_gold9]
type=model
x=413
y=235
width=32
height=32
model=null
modelactive=model_2710
modelangle=149,1698,0
modelzoom=445
script=if2 = 9

// 99:26
[death_gamble_player_gold10]
type=model
x=413
y=235
width=32
height=32
model=null
modelactive=model_2775
modelangle=149,1698,0
modelzoom=445
script=if2 = 10

// 99:27
[death_gamble_roll]
type=layer
x=189
y=235
width=131
height=25
hide=yes

// 99:28
[death_gamble_roll_button]
type=text
x=1
y=2
width=127
height=22
layer=death_gamble_roll
buttontype=1
textfont=q8_full
text=Roll Dice!
textactive=Roll Dice!
textalignh=centre
colour=0x333333
mouseovercolour=0xffffff

// 99:29
[death_gamble_continue]
type=layer
x=190
y=234
width=128
height=27
hide=yes

// 99:30
[death_gamble_continue_button]
type=text
x=1
y=3
width=126
height=20
layer=death_gamble_continue
buttontype=6
textfont=q8_full
text=Continue...
textactive=Continue...
textalignh=centre
colour=0x333333
mouseovercolour=0xffffff
buttontext=Continue

// 99:31
[death_gamble_harold_stake]
type=text
x=91
y=275
width=9
height=17
textfont=q8_full
text=0
textactive=0
textalignh=centre
colour=0x333333

// 99:32
[death_gamble_player_stake]
type=text
x=424
y=275
width=9
height=17
textfont=q8_full
text=0
textactive=0
textalignh=centre
colour=0x333333

// 99:33
[death_gamble_result]
type=text
x=186
y=197
width=143
height=21
textfont=q8_full
text=You win!
textactive=You win!
textalignh=centre
colour=0x880000

// 99:34
[com_34]
type=graphic
x=441
y=47
width=26
height=23
mouseoverlayer=death_dice_close
graphic="close_buttons,2"

// 99:35
[com_35]
type=graphic
x=3
y=5
width=26
height=23
layer=death_dice_close
buttontype=3
graphic="close_buttons,3"

// 99:36
[death_dice_close]
type=layer
x=438
y=42
width=32
height=32
hide=yes

