// 113:0
[dwarf_rock_black_background]

// 113:1
[dwarf_rock_paper1]

// 113:2
[dwarf_rock_paper]

// 113:3
[dwarf_rock_schematic1]

// 113:4
[dwarf_rock_schematic_1]

// 113:5
[dwarf_rock_schematic2]

// 113:6
[dwarf_rock_schematic_2]

// 113:7
[dwarf_rock_schematic3]

// 113:8
[dwarf_rock_schematic_3]

// 113:9
[dwarf_rock_buttons]

// 113:10
[dwarf_rock_border1]

// 113:11
[dwarf_rock_border_1]

// 113:12
[dwarf_rock_border2]

// 113:13
[dwarf_rock_border_2]

// 113:14
[dwarf_rock_border3]

// 113:15
[dwarf_rock_border_3]

// 113:16
[dwarf_rock_congrat_layer]

// 113:17
[dwarf_rock_congrat_text]

// 113:18
[com_18]

// 113:19
[dwarf_rock_close_button]

// 113:20
[dwarf_rock_schematics_close_button]

