// 113:0
[dwarf_rock_black_background]
type=rectangle
width=512
height=334
colour=0x000000
fill=yes

// 113:1
[dwarf_rock_paper1]
type=layer
width=512
height=334

// 113:2
[dwarf_rock_paper]
type=model
x=242
y=172
width=32
height=32
layer=dwarf_rock_paper1
model=model_5825
modelangle=520,6,0
modelzoom=345

// 113:3
[dwarf_rock_schematic1]
type=layer
width=512
height=334

// 113:4
[dwarf_rock_schematic_1]
type=model
x=239
y=171
width=32
height=32
layer=dwarf_rock_schematic1
model=model_5828
modelangle=520,6,0
modelzoom=345

// 113:5
[dwarf_rock_schematic2]
type=layer
width=512
height=334

// 113:6
[dwarf_rock_schematic_2]
type=model
x=236
y=173
width=32
height=32
layer=dwarf_rock_schematic2
model=model_5830
modelangle=521,2043,0
modelzoom=339

// 113:7
[dwarf_rock_schematic3]
type=layer
width=512
height=334

// 113:8
[dwarf_rock_schematic_3]
type=model
x=239
y=174
width=32
height=32
layer=dwarf_rock_schematic3
model=model_5832
modelangle=574,2039,0
modelzoom=332

// 113:9
[dwarf_rock_buttons]
type=layer
x=445
y=13
width=66
height=28

// 113:10
[dwarf_rock_border1]
type=layer
width=512
height=334

// 113:11
[dwarf_rock_border_1]
type=model
x=239
y=171
width=32
height=32
layer=dwarf_rock_border1
model=model_5829
modelangle=520,6,0
modelzoom=345

// 113:12
[dwarf_rock_border2]
type=layer
width=512
height=334

// 113:13
[dwarf_rock_border_2]
type=model
x=236
y=173
width=32
height=32
layer=dwarf_rock_border2
model=model_5831
modelangle=521,2043,0
modelzoom=339

// 113:14
[dwarf_rock_border3]
type=layer
width=512
height=334

// 113:15
[dwarf_rock_border_3]
type=model
x=239
y=174
width=32
height=32
layer=dwarf_rock_border3
model=model_5833
modelangle=574,2039,0
modelzoom=332

// 113:16
[dwarf_rock_congrat_layer]
type=layer
y=46
width=512
height=27
hide=yes

// 113:17
[dwarf_rock_congrat_text]
type=text
width=512
height=27
layer=dwarf_rock_congrat_layer
textfont=b12_full
text=That's it, it all makes sense now! If you were a dwarf, that is...
textactive=That's it, it all makes sense now! If you were a dwarf, that is...
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xc9c980

// 113:18
[com_18]
type=graphic
x=482
y=4
width=26
height=23
mouseoverlayer=dwarf_rock_schematics_close_button
graphic="close_buttons,4"

// 113:19
[dwarf_rock_close_button]
type=graphic
x=3
y=3
width=26
height=23
layer=dwarf_rock_schematics_close_button
mouseoverlayer=dwarf_rock_schematics_close_button
buttontype=3
graphic="close_buttons,5"

// 113:20
[dwarf_rock_schematics_close_button]
type=layer
x=479
y=1
width=32
height=32
hide=yes

