// 112:0
[dwarf_rock_rectangle]

// 112:1
[dwarf_rock_backing]

// 112:2
[dwarf_rock_head]

// 112:3
[dwarf_rock_front]

// 112:4
[dwarf_rock_zoom_npcname]

// 112:5
[dwarf_rock_zoom_npctxt]

// 112:6
[dwarf_rock_zoom_npchead]

// 112:7
[dwarf_rock_zoom_playertxt]

// 112:8
[dwarf_rock_zoom_npclayer]

// 112:9
[dwarf_rock_zoom_playerlayer]

// 112:10
[dwarf_rock_fade_layer]

// 112:11
[dwarf_rock_fade_model]

