// 112:0
[dwarf_rock_rectangle]
type=rectangle
width=512
height=334
colour=0x000000
fill=yes

// 112:1
[dwarf_rock_backing]
type=model
x=243
y=170
width=32
height=32
model=model_5815
modelangle=117,3,0
modelzoom=400

// 112:2
[dwarf_rock_head]
type=model
x=243
y=170
width=32
height=32
model=model_63
modelangle=90,10,0
modelzoom=400

// 112:3
[dwarf_rock_front]
type=model
x=243
y=170
width=32
height=32
model=model_5816
modelangle=117,3,0
modelzoom=400

// 112:4
[dwarf_rock_zoom_npcname]
type=text
x=80
y=15
width=350
height=17
layer=dwarf_rock_zoom_npclayer
textfont=q8_full
text=Name
textalignh=centre
textshadow=yes
colour=0x800000

// 112:5
[dwarf_rock_zoom_npctxt]
type=text
x=80
y=37
width=350
height=17
layer=dwarf_rock_zoom_npclayer
textfont=q8_full
text=Line1
textalignh=centre
colour=0xc9c980

// 112:6
[dwarf_rock_zoom_npchead]
type=model
x=25
y=37
width=32
height=32
layer=dwarf_rock_zoom_npclayer
model=model_63
modelangle=40,1882,0
modelzoom=796

// 112:7
[dwarf_rock_zoom_playertxt]
type=text
x=10
y=8
width=350
height=17
layer=dwarf_rock_zoom_playerlayer
textfont=q8_full
text=Line1
textalignh=centre
colour=0xc9c980

// 112:8
[dwarf_rock_zoom_npclayer]
type=layer
y=1
width=512
height=94

// 112:9
[dwarf_rock_zoom_playerlayer]
type=layer
x=70
y=291
width=379
height=33

// 112:10
[dwarf_rock_fade_layer]
type=layer
width=512
height=334
hide=yes

// 112:11
[dwarf_rock_fade_model]
type=model
width=512
height=334
layer=dwarf_rock_fade_layer
model=model_5827
modelangle=500,0,0
modelzoom=114

