[dwarf_rock_black_background]

[dwarf_rock_paper1]

[dwarf_rock_paper]

[dwarf_rock_schematic1]

[dwarf_rock_schematic_1]

[dwarf_rock_schematic2]

[dwarf_rock_schematic_2]

[dwarf_rock_schematic3]

[dwarf_rock_schematic_3]

[dwarf_rock_buttons]

[dwarf_rock_border1]

[dwarf_rock_border_1]

[dwarf_rock_border2]

[dwarf_rock_border_2]

[dwarf_rock_border3]

[dwarf_rock_border_3]

[dwarf_rock_congrat_layer]

[dwarf_rock_congrat_text]

[com_18]

[dwarf_rock_close_button]

[dwarf_rock_schematics_close_button]

