[dwarf_rock_rectangle]

[dwarf_rock_backing]

[dwarf_rock_head]

[dwarf_rock_front]

[dwarf_rock_zoom_npcname]

[dwarf_rock_zoom_npctxt]

[dwarf_rock_zoom_npchead]

[dwarf_rock_zoom_playertxt]

[dwarf_rock_zoom_npclayer]

[dwarf_rock_zoom_playerlayer]

[dwarf_rock_fade_layer]

[dwarf_rock_fade_model]

