// 262:0
[base_plate]

// 262:1
[sparepipe1m]

// 262:2
[sparepipe2m]

// 262:3
[sparepipe3m]

// 262:4
[sparepipe1]

// 262:5
[sparepipe2]

// 262:6
[sparepipe3]

// 262:7
[connectiona_1]

// 262:8
[connectiona_1_l]

// 262:9
[connectionb_2]

// 262:10
[connectionb_2_l]

// 262:11
[connectionc_3]

// 262:12
[connectionc_3_l]

// 262:13
[connection1_2]

// 262:14
[connection1_2_l]

// 262:15
[connection1_3]

// 262:16
[connection1_3_l]

// 262:17
[connection2_3]

// 262:18
[connection2_3_l]

// 262:19
[connectiona_2]

// 262:20
[connectiona_2_l]

// 262:21
[connectiona_3]

// 262:22
[connectiona_3_l]

// 262:23
[connectiona_b]

// 262:24
[connectiona_b_l]

// 262:25
[connectiona_c]

// 262:26
[connectiona_c_l]

// 262:27
[connectionb_1]

// 262:28
[connectionb_1_l]

// 262:29
[connectionb_3]

// 262:30
[connectionb_3_l]

// 262:31
[connectionb_c]

// 262:32
[connectionb_c_l]

// 262:33
[connectionc_1]

// 262:34
[connectionc_1_l]

// 262:35
[connectionc_2]

// 262:36
[connectionc_2_l]

// 262:37
[inletcm]

// 262:38
[inlet1m]

// 262:39
[inlet2m]

// 262:40
[inlet3m]

// 262:41
[inletam]

// 262:42
[inletbm]

// 262:43
[backgroundm]

// 262:44
[com_44]

// 262:45
[closewin]

// 262:46
[elem_magicpress_pipes_close_button]

