// 262:0
[base_plate]
type=model
x=222
y=147
width=32
height=32
mouseoverlayer=sparepipe1
model=model_18787
modelangle=519,0,0
modelzoom=400

// 262:1
[sparepipe1m]
type=model
x=57
y=26
width=32
height=32
layer=sparepipe1
model=model_18789
modelangle=517,624,0
modelzoom=528
script=if2 < 3

// 262:2
[sparepipe2m]
type=model
x=48
y=23
width=32
height=32
layer=sparepipe2
model=model_18813
modelangle=517,645,0
modelzoom=528
script=if2 < 2

// 262:3
[sparepipe3m]
type=model
x=40
y=9
width=32
height=32
layer=sparepipe3
model=model_18814
modelangle=517,0,0
modelzoom=528
script=if2 < 1

// 262:4
[sparepipe1]
type=layer
x=344
y=36
width=130
height=81

// 262:5
[sparepipe2]
type=layer
x=343
y=126
width=125
height=78

// 262:6
[sparepipe3]
type=layer
x=349
y=217
width=118
height=65

// 262:7
[connectiona_1]
type=model
x=50
y=146
width=32
height=32
layer=connectiona_1_l
model=model_18801
modelangle=517,0,0
modelzoom=407

// 262:8
[connectiona_1_l]
type=layer
width=516
height=339
hide=yes

// 262:9
[connectionb_2]
type=model
x=156
y=141
width=32
height=32
layer=connectionb_2_l
model=model_18807
modelangle=517,0,0
modelzoom=400

// 262:10
[connectionb_2_l]
type=layer
width=517
height=348
hide=yes

// 262:11
[connectionc_3]
type=model
x=262
y=142
width=32
height=32
layer=connectionc_3_l
model=model_18812
modelangle=517,0,0
modelzoom=400

// 262:12
[connectionc_3_l]
type=layer
width=525
height=346
hide=yes

// 262:13
[connection1_2]
type=model
x=104
y=213
width=32
height=32
layer=connection1_2_l
buttontype=1
model=model_18798
modelangle=517,0,0
modelzoom=407
script=elemental_quest_2_earth_pipe_1_state = 7
script=elemental_quest_2_earth_pipe_2_state = 7
script=elemental_quest_2_earth_pipe_3_state = 7

// 262:14
[connection1_2_l]
type=layer
width=520
height=353
hide=yes

// 262:15
[connection1_3]
type=model
x=160
y=207
width=32
height=32
layer=connection1_3_l
model=model_18799
modelangle=517,0,0
modelzoom=414
script=elemental_quest_2_earth_pipe_1_state = 8
script=elemental_quest_2_earth_pipe_2_state = 8
script=elemental_quest_2_earth_pipe_3_state = 8

// 262:16
[connection1_3_l]
type=layer
width=517
height=353
hide=yes

// 262:17
[connection2_3]
type=model
x=210
y=212
width=32
height=32
layer=connection2_3_l
model=model_18800
modelangle=517,0,0
modelzoom=407

// 262:18
[connection2_3_l]
type=layer
width=515
height=342
hide=yes

// 262:19
[connectiona_2]
type=model
x=122
y=170
width=32
height=32
layer=connectiona_2_l
model=model_18802
modelangle=517,0,0
modelzoom=400

// 262:20
[connectiona_2_l]
type=layer
width=524
height=347
hide=yes

// 262:21
[connectiona_3]
type=model
x=154
y=150
width=32
height=32
layer=connectiona_3_l
model=model_18803
modelangle=517,0,0
modelzoom=407

// 262:22
[connectiona_3_l]
type=layer
width=519
height=349
hide=yes

// 262:23
[connectiona_b]
type=model
x=103
y=69
width=32
height=32
layer=connectiona_b_l
model=model_18804
modelangle=517,0,0
modelzoom=407

// 262:24
[connectiona_b_l]
type=layer
width=518
height=345
hide=yes

// 262:25
[connectiona_c]
type=model
x=160
y=75
width=32
height=32
layer=connectiona_c_l
model=model_18805
modelangle=517,0,0
modelzoom=410

// 262:26
[connectiona_c_l]
type=layer
width=516
height=350
hide=yes

// 262:27
[connectionb_1]
type=model
x=99
y=162
width=32
height=32
layer=connectionb_1_l
model=model_18806
modelangle=517,0,0
modelzoom=400

// 262:28
[connectionb_1_l]
type=layer
width=513
height=344
hide=yes

// 262:29
[connectionb_3]
type=model
x=222
y=167
width=32
height=32
layer=connectionb_3_l
model=model_18808
modelangle=517,0,0
modelzoom=400

// 262:30
[connectionb_3_l]
type=layer
width=516
height=356
hide=yes

// 262:31
[connectionb_c]
type=model
x=211
y=75
width=32
height=32
layer=connectionb_c_l
model=model_18809
modelangle=517,0,0
modelzoom=407

// 262:32
[connectionb_c_l]
type=layer
width=513
height=349
hide=yes

// 262:33
[connectionc_1]
type=model
x=153
y=172
width=32
height=32
layer=connectionc_1_l
model=model_18810
modelangle=517,0,0
modelzoom=407

// 262:34
[connectionc_1_l]
type=layer
width=519
height=348
hide=yes

// 262:35
[connectionc_2]
type=model
x=209
y=134
width=32
height=32
layer=connectionc_2_l
model=model_18811
modelangle=517,0,0
modelzoom=400

// 262:36
[connectionc_2_l]
type=layer
width=514
height=344
hide=yes

// 262:37
[inletcm]
type=model
x=249
y=37
width=57
height=47
buttontype=1
model=model_18794
modelactive=model_18796
modelangle=519,0,0
modelzoom=400
buttontext=Attach/Detach Pipe
script=if1 = 3

// 262:38
[inlet1m]
type=model
x=37
y=240
width=59
height=42
buttontype=1
model=model_18790
modelactive=model_18792
modelangle=517,0,0
modelzoom=400
buttontext=Attach/Detach Pipe
script=if1 = 4

// 262:39
[inlet2m]
type=model
x=140
y=239
width=58
height=45
buttontype=1
model=model_18790
modelactive=model_18792
modelangle=517,0,0
modelzoom=400
buttontext=Attach/Detach Pipe
script=if1 = 5

// 262:40
[inlet3m]
type=model
x=249
y=239
width=56
height=45
buttontype=1
model=model_18790
modelactive=model_18792
modelangle=517,0,0
modelzoom=400
buttontext=Attach/Detach Pipe
script=if1 = 6

// 262:41
[inletam]
type=model
x=35
y=37
width=61
height=47
buttontype=1
model=model_18794
modelactive=model_18796
modelangle=512,0,0
modelzoom=400
buttontext=Attach/Detach Pipe
script=if1 = 1

// 262:42
[inletbm]
type=model
x=141
y=36
width=57
height=48
buttontype=1
model=model_18794
modelactive=model_18796
modelangle=512,0,0
modelzoom=400
buttontext=Attach/Detach Pipe
script=if1 = 2

// 262:43
[backgroundm]
type=model
x=220
y=145
width=36
height=36
model=model_18788
modelangle=517,0,0
modelzoom=442

// 262:44
[com_44]
type=graphic
x=475
y=6
width=26
height=23
mouseoverlayer=elem_magicpress_pipes_close_button
graphic="close_buttons,0"

// 262:45
[closewin]
type=graphic
x=3
y=4
width=26
height=23
layer=elem_magicpress_pipes_close_button
mouseoverlayer=elem_magicpress_pipes_close_button
buttontype=3
graphic="close_buttons,1"

// 262:46
[elem_magicpress_pipes_close_button]
type=layer
x=472
y=2
width=32
height=32
hide=yes

