// 123:0
[com_0]
type=model
x=258
y=159
width=32
height=32
model=model_7445
modelangle=0,2047,0
modelzoom=179

// 123:1
[com_1]
type=graphic
x=467
y=23
width=23
height=23
mouseoverlayer=fairy_certificate_close
graphic="close_buttons,4"

// 123:2
[com_2]
type=text
x=131
y=100
width=264
height=17
textfont=q8_full
text=Certificate of Advanced Healing
textactive=Certificate of Advanced Healing
textalignh=centre
textshadow=yes
colour=0xeb9a2f

// 123:3
[com_3]
type=text
x=130
y=116
width=265
height=17
textfont=q8_full
text=From PoxStead College.
textactive=From PoxStead College.
textalignh=centre
textshadow=yes
colour=0xeb9a2f

// 123:4
[com_4]
type=text
x=207
y=187
width=191
height=54
textfont=p11_full
text=Signed Dr Foster-MMD, PRD<br>Head Of<br>Magical Healing.
textactive=Signed Dr Foster-MMD, PRD<br>Head Of<br>Magical Healing.
textlineheight=14
textalignh=centre
textshadow=yes
colour=0xeb9a2f

// 123:5
[com_5]
type=graphic
x=5
y=5
width=23
height=23
layer=fairy_certificate_close
buttontype=3
graphic="close_buttons,5"

// 123:6
[fairy_certificate_close]
type=layer
x=462
y=18
width=32
height=32
hide=yes

