[com_0]

[com_1]

[com_2]

[com_3]

[com_4]

[frisd_talkbutton]

[com_6]

[com_7]

[com_8]

[frisd_dancebutton]

[com_10]

[com_11]

[frisd_jugglebutton]

[com_13]

[com_14]

[frisd_skipbutton]

[com_16]

[com_17]

[frisd_piebutton]

[com_19]

[com_20]

[frisd_jigbutton]

[com_22]

[com_23]

[frisd_bowbutton]

