// 506:0
[com_0]
type=graphic
x=28
y=48
width=36
height=36
graphic="miscgraphics,4"
graphicactive="miscgraphics,6"

// 506:1
[com_1]
type=graphic
x=58
y=48
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 506:2
[com_2]
type=graphic
x=84
y=48
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 506:3
[com_3]
type=graphic
x=110
y=48
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 506:4
[com_4]
type=graphic
x=128
y=48
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 506:5
[frisd_talkbutton]
type=text
x=41
y=50
width=115
height=31
buttontype=1
textfont=p12_full
text=Talk to puppet
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000
mouseovercolour=0x0000cc

// 506:6
[com_6]
type=text
x=28
y=5
width=137
height=41
textfont=b12_full
text=Jester Controls
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00ffff
mouseovercolour=0x00ffcc

// 506:7
[com_7]
type=graphic
x=28
y=88
width=36
height=36
graphic="miscgraphics,4"
graphicactive="miscgraphics,6"

// 506:8
[com_8]
type=graphic
x=58
y=88
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 506:9
[frisd_dancebutton]
type=text
x=33
y=93
width=56
height=27
buttontype=1
textfont=p12_full
text=Dance
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000
mouseovercolour=0x0000cc

// 506:10
[com_10]
type=graphic
x=98
y=88
width=36
height=36
graphic="miscgraphics,4"
graphicactive="miscgraphics,6"

// 506:11
[com_11]
type=graphic
x=128
y=88
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 506:12
[frisd_jugglebutton]
type=text
x=102
y=94
width=59
height=26
buttontype=1
textfont=p12_full
text=Juggle
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000
mouseovercolour=0x0000cc

// 506:13
[com_13]
type=graphic
x=28
y=128
width=36
height=36
graphic="miscgraphics,4"
graphicactive="miscgraphics,6"

// 506:14
[com_14]
type=graphic
x=58
y=128
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 506:15
[frisd_skipbutton]
type=text
x=32
y=134
width=58
height=26
buttontype=1
textfont=p12_full
text=Skip
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000
mouseovercolour=0x0000cc

// 506:16
[com_16]
type=graphic
x=98
y=128
width=36
height=36
graphic="miscgraphics,4"
graphicactive="miscgraphics,6"

// 506:17
[com_17]
type=graphic
x=128
y=128
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 506:18
[frisd_piebutton]
type=text
x=103
y=134
width=55
height=26
buttontype=1
textfont=p12_full
text=Pie
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000
mouseovercolour=0x0000cc

// 506:19
[com_19]
type=graphic
x=28
y=168
width=36
height=36
graphic="miscgraphics,4"
graphicactive="miscgraphics,6"

// 506:20
[com_20]
type=graphic
x=58
y=168
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 506:21
[frisd_jigbutton]
type=text
x=33
y=173
width=55
height=27
buttontype=1
textfont=p12_full
text=Jig
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000
mouseovercolour=0x0000cc

// 506:22
[com_22]
type=graphic
x=98
y=168
width=36
height=36
graphic="miscgraphics,4"
graphicactive="miscgraphics,6"

// 506:23
[com_23]
type=graphic
x=128
y=168
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 506:24
[frisd_bowbutton]
type=text
x=102
y=173
width=57
height=27
buttontype=1
textfont=p12_full
text=Bow
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000
mouseovercolour=0x0000cc

