// 133:0
[garden_quiz_a]

// 133:1
[garden_quiz_b]

// 133:2
[garden_quiz_c]

// 133:3
[com_3]

// 133:4
[com_4]

// 133:5
[com_5]

// 133:6
[garden_quiz_title_1]

// 133:7
[garden_quiz_title_2]

// 133:8
[garden_quiz_number]

