// 133:0
[garden_quiz_a]
type=text
x=31
y=42
width=440
height=17
buttontype=1
textfont=p12_full
text=option1
colour=0x000000
mouseovercolour=0x00c000

// 133:1
[garden_quiz_b]
type=text
x=31
y=60
width=440
height=17
buttontype=1
textfont=p12_full
text=option1
colour=0x000000
mouseovercolour=0x00c000

// 133:2
[garden_quiz_c]
type=text
x=31
y=78
width=440
height=17
buttontype=1
textfont=p12_full
text=option3
colour=0x000000
mouseovercolour=0x00c000

// 133:3
[com_3]
type=text
x=10
y=42
width=18
height=17
textfont=p12_full
text=[A]
textalignh=centre
colour=0x0000ff

// 133:4
[com_4]
type=text
x=10
y=60
width=18
height=17
textfont=p12_full
text=[B]
textalignh=centre
colour=0x0000ff

// 133:5
[com_5]
type=text
x=10
y=78
width=18
height=17
textfont=p12_full
text=[C]
textalignh=centre
colour=0x0000ff

// 133:6
[garden_quiz_title_1]
type=text
x=38
y=5
width=460
height=14
textfont=p12_full
colour=0x800000

// 133:7
[garden_quiz_title_2]
type=text
x=38
y=21
width=460
height=14
textfont=p12_full
colour=0x800000

// 133:8
[garden_quiz_number]
type=text
x=4
y=5
width=30
height=14
textfont=p12_full
colour=0x800000

