// 535:0
[background]
type=rectangle
x=-3
y=-1
width=520
height=336
colour=0x2b2b14
fill=yes

// 535:1
[piano]
type=model
x=224
y=211
width=32
height=32
model=model_25890
modelangle=143,0,0
modelzoom=867

// 535:2
[piano_open_compartment]
type=layer
width=515
height=336
hide=yes

// 535:3
[piano_open]
type=model
x=224
y=211
width=32
height=32
layer=piano_open_compartment
model=model_25889
modelangle=143,0,0
modelzoom=867

// 535:4
[piano_keys]
type=layer
x=61
y=172
width=400
height=120

// 535:5
[key 1 layer]
type=layer
x=44
y=49
width=20
height=20
layer=piano_keys
mouseoverlayer=democ

// 535:6
[key1]
type=model
x=164
y=38
width=32
height=32
layer=piano_keys
mouseoverlayer=key 1 layer
model=model_25892
modelangle=143,0,0
modelzoom=867

// 535:7
[democ]
type=layer
width=400
height=120
layer=piano_keys
hide=yes

// 535:8
[key1_yellowc]
type=model
x=164
y=38
width=32
height=32
layer=democ
model=model_25902
modelangle=143,0,0
modelzoom=867

// 535:9
[key 2 layer]
type=layer
x=69
y=49
width=20
height=20
layer=piano_keys
mouseoverlayer=demod

// 535:10
[key2]
type=model
x=164
y=38
width=32
height=32
layer=piano_keys
mouseoverlayer=key 1 layer
model=model_25903
modelangle=143,0,0
modelzoom=867

// 535:11
[demod]
type=layer
width=400
height=120
layer=piano_keys
hide=yes

// 535:12
[key1_yellowd]
type=model
x=163
y=38
width=32
height=32
layer=demod
model=model_25904
modelangle=143,0,0
modelzoom=867

// 535:13
[key 3 layer]
type=layer
x=90
y=48
width=20
height=20
layer=piano_keys
mouseoverlayer=demoe

// 535:14
[key3]
type=model
x=164
y=38
width=32
height=32
layer=piano_keys
mouseoverlayer=key 1 layer
model=model_25905
modelangle=143,0,0
modelzoom=867

// 535:15
[demoe]
type=layer
width=400
height=120
layer=piano_keys
hide=yes

// 535:16
[key1_yellowe]
type=model
x=163
y=38
width=32
height=32
layer=demoe
model=model_25906
modelangle=143,0,0
modelzoom=867

// 535:17
[key 4 layer]
type=layer
x=112
y=50
width=20
height=20
layer=piano_keys
mouseoverlayer=demof

// 535:18
[key4]
type=model
x=164
y=38
width=32
height=32
layer=piano_keys
mouseoverlayer=key 1 layer
model=model_25907
modelangle=143,0,0
modelzoom=867

// 535:19
[key 5 layer]
type=layer
x=133
y=49
width=20
height=20
layer=piano_keys
mouseoverlayer=demog

// 535:20
[key5]
type=model
x=164
y=38
width=32
height=32
layer=piano_keys
model=model_25909
modelangle=143,0,0
modelzoom=867

// 535:21
[demog]
type=layer
width=400
height=120
layer=piano_keys
hide=yes

// 535:22
[key1_yellowg]
type=model
x=163
y=38
width=32
height=32
layer=demog
model=model_25910
modelangle=143,0,0
modelzoom=867

// 535:23
[demof]
type=layer
width=400
height=120
layer=piano_keys
hide=yes

// 535:24
[key1_yellowf]
type=model
x=164
y=38
width=32
height=32
layer=demof
model=model_25908
modelangle=143,0,0
modelzoom=867

// 535:25
[key 6 layer]
type=layer
x=154
y=49
width=20
height=20
layer=piano_keys
mouseoverlayer=demoa

// 535:26
[key6]
type=model
x=164
y=38
width=32
height=32
layer=piano_keys
model=model_25911
modelangle=143,0,0
modelzoom=867

// 535:27
[demoa]
type=layer
width=400
height=120
layer=piano_keys
hide=yes

// 535:28
[key1_yellowa]
type=model
x=164
y=38
width=32
height=32
layer=demoa
model=model_25912
modelangle=143,0,0
modelzoom=867

// 535:29
[key 7 layer]
type=layer
x=174
y=49
width=20
height=20
layer=piano_keys
mouseoverlayer=demob

// 535:30
[key7]
type=model
x=164
y=38
width=32
height=32
layer=piano_keys
model=model_25913
modelangle=143,0,0
modelzoom=867

// 535:31
[demob]
type=layer
width=400
height=120
layer=piano_keys
hide=yes

// 535:32
[key1_yellowb]
type=model
x=164
y=38
width=32
height=32
layer=demob
model=model_25914
modelangle=143,0,0
modelzoom=867

// 535:33
[key 9 layer]
type=layer
x=216
y=51
width=20
height=20
layer=piano_keys
mouseoverlayer=demoud

// 535:34
[key9]
type=model
x=164
y=38
width=32
height=32
layer=piano_keys
model=model_25917
modelangle=143,0,0
modelzoom=867

// 535:35
[demoud]
type=layer
width=400
height=120
layer=piano_keys
hide=yes

// 535:36
[key1_yellowud]
type=model
x=163
y=38
width=32
height=32
layer=demoud
model=model_25918
modelangle=143,0,0
modelzoom=867

// 535:37
[key 8 layer]
type=layer
x=194
y=50
width=20
height=20
layer=piano_keys
mouseoverlayer=demouc

// 535:38
[key8]
type=model
x=164
y=38
width=32
height=32
layer=piano_keys
model=model_25915
modelangle=143,0,0
modelzoom=867

// 535:39
[demouc]
type=layer
width=400
height=120
layer=piano_keys
hide=yes

// 535:40
[key1_yellowuc]
type=model
x=164
y=38
width=32
height=32
layer=demouc
model=model_25916
modelangle=143,0,0
modelzoom=867

// 535:41
[key 10 layer]
type=layer
x=237
y=50
width=20
height=20
layer=piano_keys
mouseoverlayer=demoue

// 535:42
[key10]
type=model
x=164
y=38
width=32
height=32
layer=piano_keys
model=model_25893
modelangle=143,0,0
modelzoom=867

// 535:43
[demoue]
type=layer
width=400
height=120
layer=piano_keys
hide=yes

// 535:44
[key1_yellowue]
type=model
x=164
y=38
width=32
height=32
layer=demoue
model=model_25891
modelangle=143,0,0
modelzoom=867

// 535:45
[key 14 layer]
type=layer
x=323
y=51
width=20
height=20
layer=piano_keys
mouseoverlayer=demoub

// 535:46
[key14]
type=model
x=164
y=38
width=32
height=32
layer=piano_keys
model=model_25901
modelangle=143,0,0
modelzoom=867

// 535:47
[demoub]
type=layer
width=400
height=120
layer=piano_keys
hide=yes

// 535:48
[key1_yellowub]
type=model
x=164
y=38
width=32
height=32
layer=demoub
model=model_25900
modelangle=143,0,0
modelzoom=867

// 535:49
[key 13 layer]
type=layer
x=302
y=51
width=20
height=20
layer=piano_keys
mouseoverlayer=demoua

// 535:50
[key13]
type=model
x=164
y=38
width=32
height=32
layer=piano_keys
model=model_25899
modelangle=143,0,0
modelzoom=867

// 535:51
[demoua]
type=layer
width=400
height=120
layer=piano_keys
hide=yes

// 535:52
[key1_yellowua]
type=model
x=164
y=38
width=32
height=32
layer=demoua
model=model_25898
modelangle=143,0,0
modelzoom=867

// 535:53
[key 12 layer]
type=layer
x=279
y=50
width=20
height=20
layer=piano_keys
mouseoverlayer=demoug

// 535:54
[key12]
type=model
x=164
y=38
width=32
height=32
layer=piano_keys
model=model_25897
modelangle=143,0,0
modelzoom=867

// 535:55
[demoug]
type=layer
width=400
height=120
layer=piano_keys
hide=yes

// 535:56
[key1_yellowug]
type=model
x=163
y=38
width=32
height=32
layer=demoug
model=model_25896
modelangle=143,0,0
modelzoom=867

// 535:57
[key 11 layer]
type=layer
x=259
y=50
width=20
height=20
layer=piano_keys
mouseoverlayer=demouf

// 535:58
[key11]
type=model
x=164
y=38
width=32
height=32
layer=piano_keys
model=model_25895
modelangle=143,0,0
modelzoom=867

// 535:59
[demouf]
type=layer
width=400
height=120
layer=piano_keys
hide=yes

// 535:60
[key1_yellowuf]
type=model
x=164
y=38
width=32
height=32
layer=demouf
model=model_25894
modelangle=143,0,0
modelzoom=867

// 535:61
[demo_button_layer]
type=layer
x=344
y=31
width=20
height=20
layer=piano_keys
mouseoverlayer=demo_button_yellow_layer

// 535:62
[demo button]
type=model
x=-181
y=8
width=32
height=32
layer=demo_button_layer
model=model_25886
modelangle=143,0,0
modelzoom=867

// 535:63
[demo_button_yellow_layer]
type=layer
x=344
y=30
width=20
height=20
layer=piano_keys
hide=yes

// 535:64
[demo_button_yellow]
type=model
x=-181
y=9
width=32
height=32
layer=demo_button_yellow_layer
model=model_25885
modelangle=143,0,0
modelzoom=867

// 535:65
[com_65]
type=graphic
x=467
y=26
width=26
height=23
mouseoverlayer=grim_closebutton_layer
graphic="close_buttons,4"

// 535:66
[piano_close]
type=graphic
x=3
y=5
width=26
height=23
layer=grim_closebutton_layer
buttontype=1
graphic="close_buttons,5"

// 535:67
[grim_closebutton_layer]
type=layer
x=464
y=21
width=32
height=32
hide=yes

// 535:68
[lc]
type=rectangle
x=108
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower C

// 535:69
[ld]
type=rectangle
x=129
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower D

// 535:70
[le]
type=rectangle
x=150
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower E

// 535:71
[lf]
type=rectangle
x=171
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower F

// 535:72
[lg]
type=rectangle
x=192
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower G

// 535:73
[la]
type=rectangle
x=213
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower A

// 535:74
[lb]
type=rectangle
x=234
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower B

// 535:75
[uc]
type=rectangle
x=255
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper C

// 535:76
[ud]
type=rectangle
x=276
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper D

// 535:77
[ue]
type=rectangle
x=297
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper E

// 535:78
[uf]
type=rectangle
x=318
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper F

// 535:79
[ug]
type=rectangle
x=339
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper G

// 535:80
[ua]
type=rectangle
x=360
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper A

// 535:81
[ub]
type=rectangle
x=381
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper B

// 535:82
[playdem]
type=rectangle
x=405
y=201
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Demo

// 535:83
[open_compartment_layer]
type=layer
x=192
y=42
width=130
height=80
hide=yes

// 535:84
[opencompartment]
type=rectangle
x=14
y=8
width=91
height=41
layer=open_compartment_layer
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Open compartment

// 535:85
[compartment_layer]
type=layer
x=192
y=42
width=130
height=80
hide=yes

// 535:86
[searchcompartment]
type=rectangle
x=14
y=8
width=91
height=41
layer=compartment_layer
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Search compartment

