// 535:0
[background]

// 535:1
[piano]

// 535:2
[piano_open_compartment]

// 535:3
[piano_open]

// 535:4
[piano_keys]

// 535:5
[key 1 layer]

// 535:6
[key1]

// 535:7
[democ]

// 535:8
[key1_yellowc]

// 535:9
[key 2 layer]

// 535:10
[key2]

// 535:11
[demod]

// 535:12
[key1_yellowd]

// 535:13
[key 3 layer]

// 535:14
[key3]

// 535:15
[demoe]

// 535:16
[key1_yellowe]

// 535:17
[key 4 layer]

// 535:18
[key4]

// 535:19
[key 5 layer]

// 535:20
[key5]

// 535:21
[demog]

// 535:22
[key1_yellowg]

// 535:23
[demof]

// 535:24
[key1_yellowf]

// 535:25
[key 6 layer]

// 535:26
[key6]

// 535:27
[demoa]

// 535:28
[key1_yellowa]

// 535:29
[key 7 layer]

// 535:30
[key7]

// 535:31
[demob]

// 535:32
[key1_yellowb]

// 535:33
[key 9 layer]

// 535:34
[key9]

// 535:35
[demoud]

// 535:36
[key1_yellowud]

// 535:37
[key 8 layer]

// 535:38
[key8]

// 535:39
[demouc]

// 535:40
[key1_yellowuc]

// 535:41
[key 10 layer]

// 535:42
[key10]

// 535:43
[demoue]

// 535:44
[key1_yellowue]

// 535:45
[key 14 layer]

// 535:46
[key14]

// 535:47
[demoub]

// 535:48
[key1_yellowub]

// 535:49
[key 13 layer]

// 535:50
[key13]

// 535:51
[demoua]

// 535:52
[key1_yellowua]

// 535:53
[key 12 layer]

// 535:54
[key12]

// 535:55
[demoug]

// 535:56
[key1_yellowug]

// 535:57
[key 11 layer]

// 535:58
[key11]

// 535:59
[demouf]

// 535:60
[key1_yellowuf]

// 535:61
[demo_button_layer]

// 535:62
[demo button]

// 535:63
[demo_button_yellow_layer]

// 535:64
[demo_button_yellow]

// 535:65
[com_65]

// 535:66
[piano_close]

// 535:67
[grim_closebutton_layer]

// 535:68
[lc]

// 535:69
[ld]

// 535:70
[le]

// 535:71
[lf]

// 535:72
[lg]

// 535:73
[la]

// 535:74
[lb]

// 535:75
[uc]

// 535:76
[ud]

// 535:77
[ue]

// 535:78
[uf]

// 535:79
[ug]

// 535:80
[ua]

// 535:81
[ub]

// 535:82
[playdem]

// 535:83
[open_compartment_layer]

// 535:84
[opencompartment]

// 535:85
[compartment_layer]

// 535:86
[searchcompartment]

