[background]

[piano]

[piano_open_compartment]

[piano_open]

[piano_keys]

[key 1 layer]

[key1]

[democ]

[key1_yellowc]

[key 2 layer]

[key2]

[demod]

[key1_yellowd]

[key 3 layer]

[key3]

[demoe]

[key1_yellowe]

[key 4 layer]

[key4]

[key 5 layer]

[key5]

[demog]

[key1_yellowg]

[demof]

[key1_yellowf]

[key 6 layer]

[key6]

[demoa]

[key1_yellowa]

[key 7 layer]

[key7]

[demob]

[key1_yellowb]

[key 9 layer]

[key9]

[demoud]

[key1_yellowud]

[key 8 layer]

[key8]

[demouc]

[key1_yellowuc]

[key 10 layer]

[key10]

[demoue]

[key1_yellowue]

[key 14 layer]

[key14]

[demoub]

[key1_yellowub]

[key 13 layer]

[key13]

[demoua]

[key1_yellowua]

[key 12 layer]

[key12]

[demoug]

[key1_yellowug]

[key 11 layer]

[key11]

[demouf]

[key1_yellowuf]

[demo_button_layer]

[demo button]

[demo_button_yellow_layer]

[demo_button_yellow]

[com_65]

[piano_close]

[grim_closebutton_layer]

[lc]

[ld]

[le]

[lf]

[lg]

[la]

[lb]

[uc]

[ud]

[ue]

[uf]

[ug]

[ua]

[ub]

[playdem]

[open_compartment_layer]

[opencompartment]

[compartment_layer]

[searchcompartment]

