// 80:0
[com_0]
type=text
x=4
y=4
width=180
height=17
textfont=q8_full
text=%1
textalignh=centre
textshadow=yes
colour=0xff981f

// 80:1
[com_1]
type=layer
x=4
y=40
width=180
height=163

// 80:2
[com_2]
type=graphic
x=16
y=5
width=70
height=46
layer=com_1
buttontype=5
graphic="combatboxes_large,0"
graphicactive="combatboxes_large,1"
buttontext=Aim and Fire
script=varplayer_43 = 0

// 80:3
[com_3]
type=graphic
x=100
y=5
width=70
height=46
layer=com_1
buttontype=5
graphic="combatboxes_large,0"
graphicactive="combatboxes_large,1"
buttontext=Kick
script=varplayer_43 = 1

// 80:4
[com_4]
type=graphic
x=118
y=13
width=34
height=24
layer=com_1
graphic="combaticons,15"

// 80:5
[com_5]
type=graphic
x=37
y=10
width=30
height=30
layer=com_1
graphic="prayeron,13"

// 80:6
[com_6]
type=text
x=4
y=25
width=180
height=12
textfont=p11_full
text=Combat Lvl: %1
textalignh=centre
textshadow=yes
colour=0xff981f
script0=stat_combat

// 80:7
[com_7]
type=graphic
x=21
y=152
width=150
height=46
buttontype=1
graphic="combatboxes_very_large,0"
graphicactive="combatboxes_very_large,1"
buttontext=Auto Retaliate
script=varplayer_172 = 0

// 80:8
[com_8]
type=text
x=20
y=75
width=70
height=13
textfont=p11_full
text=Aim and Fire
textalignh=centre
textshadow=yes
colour=0xff981f

// 80:9
[com_9]
type=text
x=104
y=75
width=70
height=13
textfont=p11_full
text=Kick
textalignh=centre
textshadow=yes
colour=0xff981f

// 80:10
[com_10]
type=text
x=57
y=154
width=112
height=42
textfont=p12_full
text=Auto Retaliate <br>(Off)
textactive=Auto Retaliate <br>(On)
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f
colouractive=0xff981f
script=varplayer_172 = 0

// 80:11
[com_11]
type=tooltip
x=20
y=45
width=70
height=46
text=Aim and Fire

// 80:12
[com_12]
type=tooltip
x=103
y=45
width=70
height=46
text=(Aggressive)<br>(Crush)<br>(Strength XP)

// 80:13
[com_13]
type=tooltip
x=22
y=153
width=150
height=46
text=When active your player<br>will automatically fight<br>back if attacked

