// 282:0
[com_0]
type=model
x=254
y=135
width=32
height=32
model=model_4652
modelangle=492,0,0
modelzoom=891

// 282:1
[com_1]
type=model
x=26
y=147
width=32
height=32
model=model_10097
modelangle=443,2,0
modelzoom=720

// 282:2
[com_2]
type=model
x=119
y=102
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:3
[com_3]
type=model
x=160
y=110
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:4
[com_4]
type=model
x=202
y=109
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:5
[com_5]
type=model
x=246
y=101
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:6
[com_6]
type=model
x=290
y=96
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:7
[com_7]
type=model
x=335
y=101
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:8
[com_8]
type=model
x=381
y=106
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:9
[com_9]
type=model
x=426
y=110
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:10
[com_10]
type=text
x=313
y=35
width=163
height=19
textfont=q8_full
text=Page 1 of 8
textalignh=centre
colour=0x000000

// 282:11
[com_11]
type=model
x=138
y=36
width=70
height=60
buttontype=4
model=model_10115
modelactive=model_10116
modelangle=512,0,0
modelzoom=400
buttontext=Raise an Octave.
script=varplayerbit_1413 = 1

// 282:12
[com_12]
type=model
x=119
y=107
width=32
height=195
buttontype=4
model=model_10099
modelactive=model_10100
modelangle=512,0,0
modelzoom=400
buttontext=D
script=varplayerbit_1412 = 63

// 282:13
[com_13]
type=model
x=160
y=115
width=32
height=195
buttontype=4
model=model_10101
modelactive=model_10102
modelangle=460,0,0
modelzoom=400
buttontext=E
script=varplayerbit_1412 = 62

// 282:14
[com_14]
type=model
x=202
y=114
width=32
height=195
buttontype=4
model=model_10103
modelactive=model_10104
modelangle=460,0,0
modelzoom=400
buttontext=F#
script=varplayerbit_1412 = 60

// 282:15
[com_15]
type=model
x=246
y=106
width=32
height=195
buttontype=4
model=model_10105
modelactive=model_10106
modelangle=460,0,0
modelzoom=400
buttontext=G
script=varplayerbit_1412 = 56

// 282:16
[com_16]
type=model
x=290
y=101
width=32
height=195
buttontype=4
model=model_10107
modelactive=model_10108
modelangle=460,0,0
modelzoom=400
buttontext=A
script=varplayerbit_1412 = 48

// 282:17
[com_17]
type=model
x=335
y=105
width=32
height=195
buttontype=4
model=model_10109
modelactive=model_10110
modelangle=460,0,0
modelzoom=400
buttontext=B
script=varplayerbit_1412 = 32

// 282:18
[com_18]
type=model
x=381
y=112
width=32
height=195
buttontype=4
model=model_10111
modelactive=model_10112
modelangle=460,0,0
modelzoom=400
buttontext=C#
script=varplayerbit_1412 = 1

// 282:19
[com_19]
type=model
x=426
y=115
width=32
height=195
buttontype=4
model=model_10113
modelactive=model_10114
modelangle=460,0,0
modelzoom=400
buttontext=C
script=varplayerbit_1412 = 24

// 282:20
[com_20]
type=text
x=208
y=55
width=149
height=21
buttontype=1
textfont=q8_full
text=PLAY
textalignh=centre
textshadow=yes
colour=0xff981f
mouseovercolour=0xff0000
buttontext=Play your tune.

// 282:21
[com_21]
type=model
x=1
y=1
width=40
height=40
layer=com_24
buttontype=1
model=model_10117
modelactive=model_10118
modelangle=512,0,0
modelzoom=220
buttontext=Next page.

// 282:22
[com_22]
type=model
x=2
y=1
width=40
height=38
layer=com_23
buttontype=1
model=model_10117
modelactive=model_10118
modelangle=522,1024,0
modelzoom=220
buttontext=Previous Page.

// 282:23
[com_23]
type=layer
x=358
y=55
width=44
height=42

// 282:24
[com_24]
type=layer
x=410
y=57
width=44
height=42

// 282:25
[com_25]
type=graphic
x=484
y=4
width=26
height=23
mouseoverlayer=com_27
graphic="close_buttons,4"

// 282:26
[com_26]
type=graphic
x=4
y=5
width=26
height=23
layer=com_27
buttontype=3
graphic="close_buttons,5"

// 282:27
[com_27]
type=layer
x=480
y=-1
width=32
height=32
hide=yes

