// 323:0
[com_0]
type=rectangle
x=95
y=37
width=300
height=170
colour=0x808040
fill=yes

// 323:1
[com_1]
type=model
x=223
y=215
width=32
height=32
model=model_8949
modelangle=523,0,0
modelzoom=404

// 323:2
[com_2]
type=inv
x=102
y=41
width=7
height=4
draggable=yes
paddingx=10
paddingy=4
op1=<col=00ff00>Value
op2=Pack <col=ff0000>1
op3=Pack <col=ff0000>5
op4=Pack <col=ff0000>All
op5=Pack <col=ff0000>X

// 323:3
[com_3]
type=text
x=102
y=195
width=286
height=26
textfont=q8_full
text=<col=ffff00>Tai Bwo Wannai <col=ff0000> Parcel Service
textalignh=centre
textshadow=yes
colour=0xffff00

// 323:4
[com_4]
type=graphic
x=463
y=11
width=23
height=23
mouseoverlayer=com_6
graphic="close_buttons,4"

// 323:5
[com_5]
type=graphic
x=4
y=4
width=23
height=23
layer=com_6
buttontype=3
graphic="close_buttons,5"

// 323:6
[com_6]
type=layer
x=458
y=7
width=32
height=32
hide=yes

