// 312:0
[com_0]
type=graphic
x=419
y=10
width=88
height=60
graphic=tradebacking

// 312:1
[com_1]
type=graphic
x=83
y=9
width=88
height=60
graphic=tradebacking

// 312:2
[com_2]
type=graphic
x=158
y=10
width=88
height=60
graphic=tradebacking

// 312:3
[com_3]
type=graphic
x=245
y=11
width=88
height=60
graphic=tradebacking

// 312:4
[com_4]
type=graphic
x=331
y=11
width=88
height=60
graphic=tradebacking

// 312:5
[com_5]
type=graphic
x=7
y=10
width=88
height=60
graphic=tradebacking

// 312:6
[com_6]
type=graphic
x=-13
y=31
width=36
height=36
graphic="miscgraphics,2"

// 312:7
[com_7]
type=graphic
x=419
y=78
width=88
height=60
graphic=tradebacking

// 312:8
[com_8]
type=graphic
x=419
y=132
width=88
height=60
graphic=tradebacking

// 312:9
[com_9]
type=graphic
x=420
y=194
width=88
height=60
graphic=tradebacking

// 312:10
[com_10]
type=graphic
x=419
y=254
width=88
height=60
graphic=tradebacking

// 312:11
[com_11]
type=graphic
x=419
y=156
width=88
height=60
graphic=tradebacking

// 312:12
[com_12]
type=graphic
x=178
y=178
width=32
height=32

// 312:13
[com_13]
type=graphic
x=165
y=254
width=88
height=60
graphic=tradebacking

// 312:14
[com_14]
type=graphic
x=161
y=197
width=88
height=60
graphic=tradebacking

// 312:15
[com_15]
type=graphic
x=152
y=139
width=88
height=60
graphic=tradebacking

// 312:16
[com_16]
type=graphic
x=148
y=81
width=88
height=60
graphic=tradebacking

// 312:17
[com_17]
type=graphic
x=118
y=26
width=88
height=60
graphic=tradebacking

// 312:18
[com_18]
type=graphic
y=20
width=88
height=60
graphic=tradebacking

// 312:19
[com_19]
type=graphic
y=77
width=88
height=60
graphic=tradebacking

// 312:20
[com_20]
type=graphic
y=137
width=88
height=60
graphic=tradebacking

// 312:21
[com_21]
type=graphic
y=196
width=88
height=60
graphic=tradebacking

// 312:22
[com_22]
type=graphic
x=1
y=254
width=88
height=60
graphic=tradebacking

// 312:23
[com_23]
type=graphic
x=88
y=21
width=88
height=60
graphic=tradebacking

// 312:24
[com_24]
type=graphic
x=87
y=81
width=88
height=60
graphic=tradebacking

// 312:25
[com_25]
type=graphic
x=492
y=264
width=36
height=36
graphic="steelborder2,1"

// 312:26
[com_26]
type=graphic
x=98
y=-10
width=36
height=36
graphic="steelborder2,0"

// 312:27
[com_27]
type=graphic
x=87
y=141
width=88
height=60
graphic=tradebacking

// 312:28
[com_28]
type=graphic
x=87
y=201
width=88
height=60
graphic=tradebacking

// 312:29
[com_29]
type=graphic
x=187
y=20
width=88
height=60
graphic=tradebacking

// 312:30
[com_30]
type=graphic
x=88
y=254
width=88
height=60
graphic=tradebacking

// 312:31
[com_31]
type=graphic
x=275
y=20
width=88
height=60
graphic=tradebacking

// 312:32
[com_32]
type=graphic
x=362
y=20
width=88
height=60
graphic=tradebacking

// 312:33
[com_33]
type=graphic
x=419
y=20
width=88
height=60
graphic=tradebacking

// 312:34
[com_34]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 312:35
[com_35]
type=graphic
x=188
y=138
width=88
height=60
graphic=tradebacking

// 312:36
[com_36]
type=graphic
x=2
y=5
width=25
height=30
graphic="steelborder,0"

// 312:37
[com_37]
type=graphic
x=-13
y=52
width=36
height=36
graphic="miscgraphics,2"

// 312:38
[com_38]
type=graphic
x=188
y=198
width=88
height=60
graphic=tradebacking

// 312:39
[com_39]
type=graphic
x=188
y=254
width=88
height=60
graphic=tradebacking

// 312:40
[com_40]
type=graphic
x=-13
y=88
width=36
height=36
graphic="miscgraphics,2"

// 312:41
[com_41]
type=graphic
x=-13
y=124
width=36
height=36
graphic="miscgraphics,2"

// 312:42
[com_42]
type=graphic
x=-13
y=159
width=36
height=36
graphic="miscgraphics,2"

// 312:43
[com_43]
type=graphic
x=-13
y=195
width=36
height=36
graphic="miscgraphics,2"

// 312:44
[com_44]
type=graphic
x=-13
y=229
width=36
height=36
graphic="miscgraphics,2"

// 312:45
[com_45]
type=graphic
x=-13
y=264
width=36
height=36
graphic="miscgraphics,2"

// 312:46
[com_46]
type=graphic
x=348
y=20
width=36
height=36
graphic="steelborder2,0"

// 312:47
[com_47]
type=graphic
x=492
y=32
width=36
height=36
graphic="steelborder2,1"

// 312:48
[com_48]
type=graphic
x=492
y=66
width=36
height=36
graphic="steelborder2,1"

// 312:49
[com_49]
type=graphic
x=492
y=99
width=36
height=36
graphic="steelborder2,1"

// 312:50
[com_50]
type=graphic
x=492
y=135
width=36
height=36
graphic="steelborder2,1"

// 312:51
[com_51]
type=graphic
x=492
y=169
width=36
height=36
graphic="steelborder2,1"

// 312:52
[com_52]
type=graphic
x=492
y=205
width=36
height=36
graphic="steelborder2,1"

// 312:53
[com_53]
type=graphic
x=492
y=241
width=36
height=36
graphic="steelborder2,1"

// 312:54
[com_54]
type=graphic
x=62
y=299
width=36
height=36
graphic="miscgraphics,3"

// 312:55
[com_55]
type=graphic
x=98
y=299
width=36
height=36
graphic="miscgraphics,3"

// 312:56
[com_56]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 312:57
[com_57]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 312:58
[com_58]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 312:59
[com_59]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 312:60
[com_60]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 312:61
[com_61]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 312:62
[com_62]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 312:63
[com_63]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 312:64
[com_64]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 312:65
[com_65]
type=graphic
x=62
y=-10
width=36
height=36
graphic="steelborder2,0"

// 312:66
[com_66]
type=graphic
x=133
y=-10
width=36
height=36
graphic="steelborder2,0"

// 312:67
[com_67]
type=graphic
x=318
y=254
width=88
height=60
graphic=tradebacking

// 312:68
[com_68]
type=graphic
x=406
y=75
width=88
height=60
graphic=tradebacking

// 312:69
[com_69]
type=graphic
x=406
y=134
width=88
height=60
graphic=tradebacking

// 312:70
[com_70]
type=graphic
x=318
y=76
width=88
height=60
graphic=tradebacking

// 312:71
[com_71]
type=graphic
x=318
y=134
width=88
height=60
graphic=tradebacking

// 312:72
[com_72]
type=graphic
x=406
y=194
width=88
height=60
graphic=tradebacking

// 312:73
[com_73]
type=graphic
x=406
y=254
width=88
height=60
graphic=tradebacking

// 312:74
[com_74]
type=graphic
x=255
y=76
width=88
height=60
graphic=tradebacking

// 312:75
[com_75]
type=graphic
x=169
y=-10
width=36
height=36
graphic="steelborder2,0"

// 312:76
[com_76]
type=graphic
x=255
y=134
width=88
height=60
graphic=tradebacking

// 312:77
[com_77]
type=graphic
x=255
y=194
width=88
height=60
graphic=tradebacking

// 312:78
[com_78]
type=graphic
x=255
y=254
width=88
height=60
graphic=tradebacking

// 312:79
[com_79]
type=graphic
x=318
y=194
width=88
height=60
graphic=tradebacking

// 312:80
[com_80]
type=graphic
x=127
y=299
width=36
height=36
graphic="miscgraphics,3"

// 312:81
[com_81]
type=graphic
x=204
y=-10
width=36
height=36
graphic="steelborder2,0"

// 312:82
[com_82]
type=graphic
x=232
y=-10
width=36
height=36
graphic="steelborder2,0"

// 312:83
[com_83]
type=graphic
x=-14
y=22
width=36
height=36
graphic="miscgraphics,2"

// 312:84
[com_84]
type=graphic
x=256
y=-10
width=36
height=36
graphic="steelborder2,0"

// 312:85
[com_85]
type=graphic
x=288
y=-10
width=36
height=36
graphic="steelborder2,0"

// 312:86
[com_86]
type=graphic
x=323
y=-10
width=36
height=36
graphic="steelborder2,0"

// 312:87
[com_87]
type=graphic
x=358
y=-10
width=36
height=36
graphic="steelborder2,0"

// 312:88
[com_88]
type=graphic
x=393
y=-10
width=36
height=36
graphic="steelborder2,0"

// 312:89
[com_89]
type=graphic
x=429
y=-10
width=36
height=36
graphic="steelborder2,0"

// 312:90
[com_90]
type=graphic
x=242
y=20
width=36
height=36
graphic="steelborder2,0"

// 312:91
[com_91]
type=graphic
x=26
y=-10
width=36
height=36
graphic="steelborder2,0"

// 312:92
[com_92]
type=graphic
x=28
y=299
width=36
height=36
graphic="miscgraphics,3"

// 312:93
[com_93]
type=graphic
x=2
y=290
width=25
height=30
graphic="steelborder,2"

// 312:94
[com_94]
type=graphic
x=488
y=5
width=25
height=30
graphic="steelborder,1"

// 312:95
[com_95]
type=graphic
x=455
y=-10
width=36
height=36
graphic="steelborder2,0"

// 312:96
[com_96]
type=graphic
x=488
y=290
width=25
height=30
graphic="steelborder,3"

// 312:97
[com_97]
type=graphic
x=452
y=299
width=36
height=36
graphic="miscgraphics,3"

// 312:98
[com_98]
type=graphic
x=277
y=20
width=36
height=36
graphic="steelborder2,0"

// 312:99
[com_99]
type=graphic
x=313
y=20
width=36
height=36
graphic="steelborder2,0"

// 312:100
[com_100]
type=graphic
x=369
y=20
width=36
height=36
graphic="steelborder2,0"

// 312:101
[com_101]
type=graphic
x=404
y=20
width=36
height=36
graphic="steelborder2,0"

// 312:102
[com_102]
type=graphic
x=438
y=20
width=36
height=36
graphic="steelborder2,0"

// 312:103
[com_103]
type=graphic
x=471
y=20
width=36
height=36
graphic="steelborder2,0"

// 312:104
[com_104]
type=graphic
x=209
y=20
width=36
height=36
graphic="steelborder2,0"

// 312:105
[com_105]
type=graphic
x=174
y=20
width=36
height=36
graphic="steelborder2,0"

// 312:106
[com_106]
type=graphic
x=138
y=20
width=36
height=36
graphic="steelborder2,0"

// 312:107
[com_107]
type=graphic
x=102
y=20
width=36
height=36
graphic="steelborder2,0"

// 312:108
[com_108]
type=graphic
x=69
y=20
width=36
height=36
graphic="steelborder2,0"

// 312:109
[com_109]
type=graphic
x=34
y=20
width=36
height=36
graphic="steelborder2,0"

// 312:110
[com_110]
type=graphic
x=3
y=20
width=36
height=36
graphic="steelborder2,0"

// 312:111
[com_111]
type=text
x=90
y=185
width=51
height=13
textfont=p11_full
text=Warhammer
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 9

// 312:112
[com_112]
type=text
x=8
y=130
width=51
height=13
textfont=p11_full
text=Sword
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 4

// 312:113
[com_113]
type=text
x=8
y=239
width=51
height=13
textfont=p11_full
text=Long sword
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 6

// 312:114
[com_114]
type=text
x=8
y=185
width=51
height=13
textfont=p11_full
text=Scimitar
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 5

// 312:115
[com_115]
type=text
x=8
y=291
width=51
height=13
textfont=p11_full
text=2 hand sword
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 14

// 312:116
[com_116]
type=text
x=8
y=250
width=51
height=13
textfont=p11_full
text=2bars
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 1

// 312:117
[com_117]
type=text
x=8
y=302
width=51
height=13
textfont=p11_full
text=3bars
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 2

// 312:118
[com_118]
type=text
x=87
y=77
width=51
height=13
textfont=p11_full
text=Axe
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 1

// 312:119
[com_119]
type=text
x=90
y=239
width=51
height=13
textfont=p11_full
text=Battle axe
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 10

// 312:120
[com_120]
type=text
x=90
y=130
width=51
height=13
textfont=p11_full
text=Mace
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 2

// 312:121
[com_121]
type=text
x=7
y=76
width=51
height=13
textfont=p11_full
text=Dagger
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 0

// 312:122
[com_122]
type=text
x=90
y=250
width=51
height=13
textfont=p11_full
text=3bars
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 2

// 312:123
[com_123]
type=text
x=18
y=33
width=73
height=13
layer=com_124
textfont=p11_full
text=Other
colour=0x000000

// 312:124
[com_124]
type=layer
x=326
y=209
width=113
height=55

// 312:125
[com_125]
type=text
x=158
y=74
width=51
height=13
textfont=p11_full
text=Chain body
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 11

// 312:126
[com_126]
type=text
x=161
y=130
width=51
height=13
textfont=p11_full
text=Plate legs
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 16

// 312:127
[com_127]
type=text
x=161
y=239
width=51
height=13
textfont=p11_full
text=Plate body
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 18

// 312:128
[com_128]
type=text
x=161
y=185
width=51
height=13
textfont=p11_full
text=Plate skirt
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 16

// 312:129
[com_129]
type=text
x=261
y=76
width=51
height=13
textfont=p11_full
text=Medium helm
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 3

// 312:130
[com_130]
type=text
x=263
y=130
width=51
height=13
textfont=p11_full
text=Full helm
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 7

// 312:131
[com_131]
type=text
x=263
y=185
width=51
height=13
textfont=p11_full
text=Square shield
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 8

// 312:132
[com_132]
type=text
x=263
y=239
width=51
height=13
textfont=p11_full
text=Kite shield
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 12

// 312:133
[com_133]
type=text
x=342
y=185
width=51
height=13
textfont=p11_full
text=Throwing knives
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 7

// 312:134
[com_134]
type=text
x=342
y=76
width=51
height=13
textfont=p11_full
text=Dart tips
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 4
script=varplayer_261 = 1

// 312:135
[com_135]
type=text
x=343
y=130
width=51
height=13
textfont=p11_full
text=Arrowtips
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 5

// 312:136
[com_136]
type=text
x=158
y=86
width=51
height=13
textfont=p11_full
text=3bars
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 2

// 312:137
[com_137]
type=text
x=161
y=143
width=51
height=13
textfont=p11_full
text=3bars
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 2

// 312:138
[com_138]
type=text
x=161
y=196
width=51
height=13
textfont=p11_full
text=3bars
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 2

// 312:139
[com_139]
type=text
x=161
y=250
width=51
height=13
textfont=p11_full
text=5bars
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 4

// 312:140
[com_140]
type=text
x=263
y=143
width=51
height=13
textfont=p11_full
text=2bars
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 1

// 312:141
[com_141]
type=text
x=263
y=196
width=51
height=13
textfont=p11_full
text=2bars
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 1

// 312:142
[com_142]
type=text
x=263
y=250
width=51
height=13
textfont=p11_full
text=3bars
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 2

// 312:143
[com_143]
type=text
x=8
y=196
width=51
height=13
textfont=p11_full
text=2bars
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 1

// 312:144
[com_144]
type=text
x=12
y=15
width=488
height=14
textfont=b12_full
text=What would you like to make?
textalignh=centre
textshadow=yes
colour=0xff981f

// 312:145
[com_145]
type=text
x=90
y=196
width=51
height=13
textfont=p11_full
text=3bars
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 2

// 312:146
[com_146]
type=inv
x=14
y=45
width=1
height=60
paddingx=66
paddingy=22
op1=Make
op2=Make 5
op3=Make 10

// 312:147
[com_147]
type=inv
x=92
y=45
width=1
height=60
paddingx=62
paddingy=22
op1=Make
op2=Make 5
op3=Make 10

// 312:148
[com_148]
type=inv
x=164
y=45
width=1
height=60
paddingx=66
paddingy=22
op1=Make
op2=Make 5
op3=Make 10

// 312:149
[com_149]
type=inv
x=267
y=45
width=1
height=60
paddingx=66
paddingy=22
op1=Make
op2=Make 5
op3=Make 10

// 312:150
[com_150]
type=inv
x=346
y=45
width=1
height=60
paddingx=66
paddingy=22
op1=Make set
op2=Make 5 sets
op3=Make 10 sets

// 312:151
[com_151]
type=inv
x=8
width=1
height=2
layer=com_174
paddingx=66
paddingy=23
op1=Make
op2=Make 5
op3=Make 10

// 312:152
[com_152]
type=text
x=8
y=143
width=51
height=13
textfont=p11_full
text=1bar
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 0

// 312:153
[com_153]
type=text
x=7
y=88
width=51
height=13
textfont=p11_full
text=1bar
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 0

// 312:154
[com_154]
type=text
x=87
y=89
width=51
height=13
textfont=p11_full
text=1bar
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 0

// 312:155
[com_155]
type=text
x=261
y=87
width=51
height=13
textfont=p11_full
text=1bar
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 0

// 312:156
[com_156]
type=text
x=342
y=88
width=51
height=13
textfont=p11_full
text=1bar
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 0

// 312:157
[com_157]
type=text
x=90
y=143
width=51
height=13
textfont=p11_full
text=1bar
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 0

// 312:158
[com_158]
type=text
x=343
y=142
width=51
height=13
textfont=p11_full
text=1bar
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 0

// 312:159
[com_159]
type=text
x=342
y=196
width=42
height=12
textfont=p11_full
text=1bar
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 0

// 312:160
[com_160]
type=text
x=18
y=42
width=51
height=13
layer=com_124
textfont=p11_full
text=1bar
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 0

// 312:161
[com_161]
type=layer
x=333
y=260
width=74
height=54

// 312:162
[com_162]
type=text
x=9
y=33
width=51
height=13
layer=com_161
textfont=p11_full
text=Studs
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 6

// 312:163
[com_163]
type=text
x=10
y=42
width=58
height=13
layer=com_161
textfont=p11_full
text=1bar
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 0

// 312:164
[com_164]
type=text
x=6
y=42
width=51
height=13
layer=com_167
textfont=p11_full
text=2bars
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 1

// 312:165
[com_165]
type=text
x=6
y=32
width=51
height=13
layer=com_167
textfont=p11_full
text=Claws
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 13

// 312:166
[com_166]
type=inv
x=11
width=4
height=4
layer=com_167
op1=Make
op2=Make 5
op3=Make 10

// 312:167
[com_167]
type=layer
x=84
y=260
width=82
height=55

// 312:168
[com_168]
type=layer
x=150
y=260
width=109
height=60

// 312:169
[com_169]
type=text
x=10
y=41
width=51
height=13
layer=com_168
textfont=p11_full
text=1bar
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 0

// 312:170
[com_170]
type=inv
x=26
y=3
width=4
height=4
layer=com_168
op1=Make
op2=Make 5
op3=Make 10

// 312:171
[com_171]
type=text
x=10
y=32
width=51
height=13
layer=com_168
textfont=p11_full
text=Oil lantern frame
colour=0x000000
colouractive=0xffffff
script=varplayer_262 = 1

// 312:172
[com_172]
type=text
x=263
y=302
width=51
height=13
textfont=p11_full
text=1bar
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 0

// 312:173
[com_173]
type=text
x=263
y=292
width=51
height=13
textfont=p11_full
text=Nails
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 4

// 312:174
[com_174]
type=layer
x=427
y=44
width=80
height=153

// 312:175
[com_175]
type=text
x=4
y=86
width=51
height=13
layer=com_174
textfont=p11_full
text=Limbs
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 6

// 312:176
[com_176]
type=text
x=4
y=42
width=51
height=13
layer=com_174
textfont=p11_full
text=1bar
textalignv=bottom
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 0

// 312:177
[com_177]
type=text
x=5
y=97
width=51
height=13
layer=com_174
textfont=p11_full
text=1bar
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 0

// 312:178
[com_178]
type=text
x=3
y=31
width=55
height=12
layer=com_174
textfont=p11_full
text=Bolts
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 3

// 312:179
[com_179]
type=layer
x=412
y=156
width=79
height=62

// 312:180
[com_180]
type=inv
x=23
width=1
height=1
layer=com_179
op1=Make
op2=Make 5
op3=Make 10

// 312:181
[com_181]
type=text
x=18
y=30
width=84
height=13
layer=com_179
textfont=p11_full
text=Grapple Tips
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 9

// 312:182
[com_182]
type=text
x=19
y=41
width=39
height=11
layer=com_179
textfont=p11_full
text=1bar
textshadow=yes
colour=0xff981f
colouractive=0x00c000
script=varplayer_210 > 0

// 312:183
[com_183]
type=graphic
x=484
y=12
width=26
height=23
mouseoverlayer=com_185
graphic="close_buttons,0"

// 312:184
[com_184]
type=graphic
x=16
y=5
width=26
height=23
layer=com_185
buttontype=3
graphic="close_buttons,1"

// 312:185
[com_185]
type=layer
x=468
y=6
width=39
height=30
hide=yes

