// 330:0
[com_0]
type=layer
width=600
height=500

// 330:1
[com_1]
type=model
x=249
y=279
width=32
height=32
model=model_6039
modelangle=41,2036,0
modelzoom=207

// 330:2
[com_2]
type=layer
x=337
y=97
width=155
height=170

// 330:3
[com_3]
type=model
x=98
y=18
width=32
height=32
layer=com_2
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=397,276,0
modelzoom=1400
buttontext=Set to 1
script=varplayer_261 = 1

// 330:4
[com_4]
type=model
x=119
y=50
width=32
height=32
layer=com_2
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=450,460,0
modelzoom=1400
buttontext=Set to 2
script=varplayer_261 = 2

// 330:5
[com_5]
type=model
x=116
y=90
width=32
height=32
layer=com_2
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=404,619,0
modelzoom=1400
buttontext=Set to 3
script=varplayer_261 = 3

// 330:6
[com_6]
type=model
x=95
y=121
width=32
height=32
layer=com_2
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=429,819,0
modelzoom=1400
buttontext=Set to 4
script=varplayer_261 = 4

// 330:7
[com_7]
type=model
x=58
y=128
width=32
height=32
layer=com_2
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=435,1048,0
modelzoom=1400
buttontext=Set to 5
script=varplayer_261 = 5

// 330:8
[com_8]
type=model
x=22
y=114
width=30
height=35
layer=com_2
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=444,1216,0
modelzoom=1400
buttontext=Set to 6
script=varplayer_261 = 6

// 330:9
[com_9]
type=model
x=3
y=77
width=30
height=35
layer=com_2
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=499,1425,0
modelzoom=1400
buttontext=Set to 7
script=varplayer_261 = 7

// 330:10
[com_10]
type=model
x=8
y=38
width=30
height=30
layer=com_2
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=468,1642,0
modelzoom=1400
buttontext=Set to 8
script=varplayer_261 = 8

// 330:11
[com_11]
type=model
x=36
y=10
width=30
height=35
layer=com_2
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=421,1821,0
modelzoom=1400
buttontext=Set to 9
script=varplayer_261 = 9

// 330:12
[com_12]
type=model
x=78
y=62
width=30
height=32
layer=com_2
buttontype=1
model=model_6042
modelactive=model_6043
modelangle=467,2026,0
modelzoom=1297
buttontext=Reset Safe

// 330:13
[com_13]
type=graphic
x=483
y=4
width=26
height=23
mouseoverlayer=com_15
graphic="close_buttons,6"

// 330:14
[com_14]
type=graphic
x=4
y=3
width=26
height=23
layer=com_15
buttontype=3
graphic="close_buttons,7"

// 330:15
[com_15]
type=layer
x=479
y=1
width=32
height=32
hide=yes

