// 396:0
[com_0]
type=rectangle
x=17
y=26
width=479
height=299
colour=0x999999
fill=yes

// 396:1
[com_1]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 396:2
[com_2]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 396:3
[com_3]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 396:4
[com_4]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 396:5
[com_5]
type=graphic
x=411
y=20
width=88
height=60
graphic=tradebacking

// 396:6
[com_6]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 396:7
[com_7]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 396:8
[com_8]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 396:9
[com_9]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 396:10
[com_10]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 396:11
[com_11]
type=graphic
x=411
y=80
width=88
height=60
graphic=tradebacking

// 396:12
[com_12]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 396:13
[com_13]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 396:14
[com_14]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 396:15
[com_15]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 396:16
[com_16]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 396:17
[com_17]
type=graphic
x=411
y=140
width=88
height=60
graphic=tradebacking

// 396:18
[com_18]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 396:19
[com_19]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 396:20
[com_20]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 396:21
[com_21]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 396:22
[com_22]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 396:23
[com_23]
type=graphic
x=411
y=200
width=88
height=60
graphic=tradebacking

// 396:24
[com_24]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 396:25
[com_25]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 396:26
[com_26]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 396:27
[com_27]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 396:28
[com_28]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 396:29
[com_29]
type=graphic
x=411
y=260
width=88
height=60
graphic=tradebacking

// 396:30
[com_30]
type=graphic
x=12
y=265
width=88
height=60
graphic=tradebacking

// 396:31
[com_31]
type=graphic
x=100
y=265
width=88
height=60
graphic=tradebacking

// 396:32
[com_32]
type=graphic
x=188
y=265
width=88
height=60
graphic=tradebacking

// 396:33
[com_33]
type=graphic
x=276
y=265
width=88
height=60
graphic=tradebacking

// 396:34
[com_34]
type=graphic
x=364
y=265
width=88
height=60
graphic=tradebacking

// 396:35
[com_35]
type=graphic
x=411
y=265
width=88
height=60
graphic=tradebacking

// 396:36
[com_36]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 396:37
[com_37]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 396:38
[com_38]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 396:39
[com_39]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 396:40
[com_40]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 396:41
[com_41]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 396:42
[com_42]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 396:43
[com_43]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 396:44
[com_44]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 396:45
[com_45]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 396:46
[com_46]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 396:47
[com_47]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 396:48
[com_48]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 396:49
[com_49]
type=graphic
x=73
y=309
width=36
height=36
graphic="miscgraphics,3"

// 396:50
[com_50]
type=graphic
x=109
y=309
width=36
height=36
graphic="miscgraphics,3"

// 396:51
[com_51]
type=graphic
x=145
y=309
width=36
height=36
graphic="miscgraphics,3"

// 396:52
[com_52]
type=graphic
x=181
y=309
width=36
height=36
graphic="miscgraphics,3"

// 396:53
[com_53]
type=graphic
x=217
y=309
width=36
height=36
graphic="miscgraphics,3"

// 396:54
[com_54]
type=graphic
x=253
y=309
width=36
height=36
graphic="miscgraphics,3"

// 396:55
[com_55]
type=graphic
x=289
y=309
width=36
height=36
graphic="miscgraphics,3"

// 396:56
[com_56]
type=graphic
x=325
y=309
width=36
height=36
graphic="miscgraphics,3"

// 396:57
[com_57]
type=graphic
x=361
y=309
width=36
height=36
graphic="miscgraphics,3"

// 396:58
[com_58]
type=graphic
x=397
y=309
width=36
height=36
graphic="miscgraphics,3"

// 396:59
[com_59]
type=graphic
x=433
y=309
width=36
height=36
graphic="miscgraphics,3"

// 396:60
[com_60]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 396:61
[com_61]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 396:62
[com_62]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 396:63
[com_63]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 396:64
[com_64]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 396:65
[com_65]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 396:66
[com_66]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 396:67
[com_67]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 396:68
[com_68]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 396:69
[com_69]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 396:70
[com_70]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 396:71
[com_71]
type=graphic
x=37
y=309
width=36
height=36
graphic="miscgraphics,3"

// 396:72
[com_72]
type=graphic
x=12
y=300
width=25
height=30
graphic="steelborder,2"

// 396:73
[com_73]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 396:74
[com_74]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 396:75
[com_75]
type=graphic
x=475
y=300
width=25
height=30
graphic="steelborder,3"

// 396:76
[com_76]
type=graphic
x=439
y=309
width=36
height=36
graphic="miscgraphics,3"

// 396:77
[com_77]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 396:78
[com_78]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 396:79
[com_79]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 396:80
[com_80]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 396:81
[com_81]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 396:82
[com_82]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 396:83
[com_83]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 396:84
[com_84]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 396:85
[com_85]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 396:86
[com_86]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 396:87
[com_87]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 396:88
[com_88]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 396:89
[com_89]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 396:90
[com_90]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 396:91
[com_91]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 396:92
[com_92]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 396:93
[com_93]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 396:94
[com_94]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 396:95
[com_95]
type=text
x=17
y=30
width=478
height=19
textfont=b12_full
text=Select a piece of furniture to build. 
textalignh=centre
textshadow=yes
colour=0xff981f

// 396:96
[com_96]
type=text
x=21
y=55
width=202
height=14
textfont=p11_full
textactive=Select a piece of furniture to build.
textshadow=yes
colour=0xff981f

// 396:97
[com_97]
type=text
x=69
y=62
width=116
height=12
textfont=p11_full
text=Wooden Chair
textshadow=yes
colour=0xff981f

// 396:98
[com_98]
type=text
x=69
y=73
width=72
height=11
textfont=p11_full
text=5 Wood
textshadow=yes
colour=0xccccff

// 396:99
[com_99]
type=text
x=69
y=83
width=71
height=12
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:100
[com_100]
type=text
x=69
y=94
width=71
height=14
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:101
[com_101]
type=text
x=69
y=107
width=71
height=13
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:102
[com_102]
type=text
x=69
y=127
width=117
height=12
textfont=p11_full
text=Wooden Chair
textshadow=yes
colour=0xff981f

// 396:103
[com_103]
type=text
x=69
y=138
width=75
height=11
textfont=p11_full
text=5 Wood
textshadow=yes
colour=0xccccff

// 396:104
[com_104]
type=text
x=69
y=148
width=75
height=11
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:105
[com_105]
type=text
x=69
y=158
width=75
height=11
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:106
[com_106]
type=text
x=69
y=168
width=75
height=11
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:107
[com_107]
type=text
x=70
y=192
width=117
height=11
textfont=p11_full
text=Wooden Chair
textshadow=yes
colour=0xff981f

// 396:108
[com_108]
type=text
x=70
y=202
width=72
height=12
textfont=p11_full
text=5 Wood
textshadow=yes
colour=0xccccff

// 396:109
[com_109]
type=text
x=70
y=213
width=72
height=13
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:110
[com_110]
type=text
x=70
y=225
width=72
height=11
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:111
[com_111]
type=text
x=70
y=235
width=72
height=13
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:112
[com_112]
type=text
x=70
y=257
width=111
height=12
textfont=p11_full
text=Wooden Chair
textshadow=yes
colour=0xff981f

// 396:113
[com_113]
type=text
x=70
y=268
width=76
height=12
textfont=p11_full
text=5 Wood
textshadow=yes
colour=0xccccff

// 396:114
[com_114]
type=text
x=70
y=279
width=76
height=13
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:115
[com_115]
type=text
x=70
y=291
width=76
height=13
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:116
[com_116]
type=text
x=70
y=303
width=76
height=12
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:117
[com_117]
type=text
x=285
y=62
width=120
height=12
textfont=p11_full
text=Wooden Chair
textshadow=yes
colour=0xff981f

// 396:118
[com_118]
type=text
x=285
y=73
width=71
height=11
textfont=p11_full
text=5 Wood
textshadow=yes
colour=0xccccff

// 396:119
[com_119]
type=text
x=285
y=83
width=71
height=11
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:120
[com_120]
type=text
x=285
y=93
width=71
height=12
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:121
[com_121]
type=text
x=285
y=104
width=72
height=12
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:122
[com_122]
type=text
x=285
y=127
width=120
height=12
textfont=p11_full
text=Wooden Chair
textshadow=yes
colour=0xff981f

// 396:123
[com_123]
type=text
x=285
y=138
width=73
height=12
textfont=p11_full
text=5 Wood
textshadow=yes
colour=0xccccff

// 396:124
[com_124]
type=text
x=285
y=149
width=73
height=13
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:125
[com_125]
type=text
x=285
y=161
width=73
height=13
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:126
[com_126]
type=text
x=285
y=173
width=73
height=12
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:127
[com_127]
type=text
x=285
y=192
width=120
height=13
textfont=p11_full
text=Wooden Chair
textshadow=yes
colour=0xff981f

// 396:128
[com_128]
type=text
x=285
y=204
width=76
height=12
textfont=p11_full
text=5 Wood
textshadow=yes
colour=0xccccff

// 396:129
[com_129]
type=text
x=285
y=215
width=76
height=11
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:130
[com_130]
type=text
x=285
y=225
width=76
height=11
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:131
[com_131]
type=text
x=285
y=235
width=76
height=11
textfont=p11_full
text=2 Oak
textshadow=yes
colour=0xccccff

// 396:132
[com_132]
type=inv
x=33
y=62
width=2
height=4
paddingx=184
paddingy=33
op1=Build

// 396:133
[com_133]
type=graphic
x=33
y=62
width=16
height=16
graphic="cross_interface,5"
script=testbit(varplayer_261, 1) = 1

// 396:134
[com_134]
type=graphic
x=33
y=127
width=16
height=16
graphic="cross_interface,5"
script=testbit(varplayer_261, 2) = 1

// 396:135
[com_135]
type=graphic
x=33
y=192
width=16
height=16
graphic="cross_interface,5"
script=testbit(varplayer_261, 3) = 1

// 396:136
[com_136]
type=graphic
x=33
y=257
width=16
height=16
graphic="cross_interface,5"
script=testbit(varplayer_261, 4) = 1

// 396:137
[com_137]
type=graphic
x=249
y=62
width=16
height=16
graphic="cross_interface,5"
script=testbit(varplayer_261, 5) = 1

// 396:138
[com_138]
type=graphic
x=249
y=127
width=16
height=16
graphic="cross_interface,5"
script=testbit(varplayer_261, 6) = 1

// 396:139
[com_139]
type=graphic
x=249
y=192
width=16
height=16
graphic="cross_interface,5"
script=testbit(varplayer_261, 7) = 1

// 396:140
[com_140]
type=text
x=18
y=95
width=50
height=12
textfont=p11_full
text=Level
textalignh=centre
textshadow=yes
colour=0xff981f

// 396:141
[com_141]
type=text
x=18
y=160
width=50
height=12
textfont=p11_full
text=Level
textalignh=centre
textshadow=yes
colour=0xff981f

// 396:142
[com_142]
type=text
x=19
y=225
width=50
height=12
textfont=p11_full
text=Level
textalignh=centre
textshadow=yes
colour=0xff981f

// 396:143
[com_143]
type=text
x=19
y=290
width=50
height=11
textfont=p11_full
text=Level
textalignh=centre
textshadow=yes
colour=0xff981f

// 396:144
[com_144]
type=text
x=234
y=95
width=50
height=12
textfont=p11_full
text=Level
textalignh=centre
textshadow=yes
colour=0xff981f

// 396:145
[com_145]
type=text
x=234
y=160
width=50
height=13
textfont=p11_full
text=Level
textalignh=centre
textshadow=yes
colour=0xff981f

// 396:146
[com_146]
type=text
x=234
y=225
width=50
height=13
textfont=p11_full
text=Level
textalignh=centre
textshadow=yes
colour=0xff981f

// 396:147
[com_147]
type=graphic
x=469
y=26
width=26
height=23
mouseoverlayer=com_149
graphic="close_buttons,0"

// 396:148
[com_148]
type=graphic
x=4
y=5
width=26
height=23
layer=com_149
buttontype=3
graphic="close_buttons,1"

// 396:149
[com_149]
type=layer
x=465
y=21
width=32
height=32
hide=yes

