// 291:0
[com_0]
type=model
x=26
y=-62
width=32
height=32
model=null
modelactive=model_7641
modelangle=500,0,0
modelzoom=1096
script=inv_total(interface_149:com_0, obj_5562) > 0

// 291:1
[com_1]
type=model
x=114
y=-61
width=32
height=32
model=null
modelactive=model_7642
modelangle=500,0,0
modelzoom=1121
script=inv_total(interface_149:com_0, obj_5563) > 0

// 291:2
[com_2]
type=model
x=24
y=16
width=32
height=32
model=null
modelactive=model_7643
modelangle=500,0,0
modelzoom=1039
script=inv_total(interface_149:com_0, obj_5564) > 0

// 291:3
[com_3]
type=model
x=113
y=19
width=32
height=32
model=null
modelactive=model_7644
modelangle=500,0,0
modelzoom=1068
script=inv_total(interface_149:com_0, obj_5565) > 0

// 291:4
[com_4]
type=model
x=24
y=69
width=32
height=32
model=null
modelactive=model_7645
modelangle=500,0,0
modelzoom=788
script=inv_total(interface_149:com_0, obj_5566) > 0

// 291:5
[com_5]
type=model
x=115
y=103
width=32
height=32
model=null
modelactive=model_7646
modelangle=500,0,0
modelzoom=1084
script=inv_total(interface_149:com_0, obj_5567) > 0

// 291:6
[com_6]
type=rectangle
x=16
y=12
width=65
height=65
buttontype=1
colour=0xffff00
colouractive=0x00ff00
script=varplayerbit_636 = 1

// 291:7
[com_7]
type=rectangle
x=104
y=12
width=65
height=65
buttontype=1
colour=0xffff00
colouractive=0x00ff00
script=varplayerbit_636 = 2

// 291:8
[com_8]
type=rectangle
x=16
y=96
width=65
height=65
buttontype=1
colour=0xffff00
colouractive=0x00ff00
script=varplayerbit_636 = 3

// 291:9
[com_9]
type=rectangle
x=104
y=96
width=65
height=65
buttontype=1
colour=0xffff00
colouractive=0x00ff00
script=varplayerbit_636 = 4

// 291:10
[com_10]
type=rectangle
x=16
y=180
width=65
height=65
buttontype=1
colour=0xffff00
colouractive=0x00ff00
script=varplayerbit_636 = 5

// 291:11
[com_11]
type=rectangle
x=104
y=180
width=65
height=65
buttontype=1
colour=0xffff00
colouractive=0x00ff00
script=varplayerbit_636 = 6

