// 472:0
[com_0]
type=model
x=-24
y=29
width=463
height=300
model=model_11365
modelangle=501,0,0
modelzoom=642

// 472:1
[com_1]
type=model
x=75
y=18
width=300
height=300
model=model_19483
modelangle=492,0,0
modelzoom=741

// 472:2
[com_2]
type=graphic
x=469
y=16
width=26
height=23
mouseoverlayer=com_4
graphic="close_buttons,6"

// 472:3
[com_3]
type=graphic
x=4
y=4
width=26
height=23
layer=com_4
buttontype=3
graphic="close_buttons,7"

// 472:4
[com_4]
type=layer
x=465
y=12
width=32
height=32
hide=yes

