// 196:0
[com_0]
type=model
x=415
y=17
width=32
height=32
model=model_10567
modelangle=427,0,0
modelzoom=843

// 196:1
[com_1]
type=text
x=363
y=15
width=133
height=17
textfont=q8_full
text=Graveyard
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x999999

// 196:2
[com_2]
type=text
x=362
y=31
width=99
height=26
textfont=p11_full
text=Pizazz Points:
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x999999

// 196:3
[com_3]
type=text
x=461
y=38
width=28
height=12
textfont=p11_full
text=9999
textshadow=yes
colour=0xcccccc

// 196:4
[com_4]
type=model
x=473
y=297
width=32
height=32
model=model_10569
modelangle=165,0,0
modelzoom=1484

// 196:5
[com_5]
type=model
x=472
y=260
width=32
height=32
model=model_10570
modelangle=131,1790,0
modelzoom=993

// 196:6
[com_6]
type=model
x=476
y=221
width=32
height=32
model=model_10571
modelangle=79,1020,0
modelzoom=1073

// 196:7
[com_7]
type=model
x=472
y=180
width=32
height=32
model=model_10572
modelangle=199,1727,0
modelzoom=1152

// 196:8
[com_8]
type=text
x=456
y=180
width=7
height=14
textfont=p12_full
text=4
textshadow=yes
colour=0x8eab99

// 196:9
[com_9]
type=text
x=456
y=221
width=7
height=14
textfont=p12_full
text=3
textshadow=yes
colour=0x707070

// 196:10
[com_10]
type=text
x=456
y=260
width=8
height=14
textfont=p12_full
text=2
textshadow=yes
colour=0xcccccc

// 196:11
[com_11]
type=text
x=456
y=296
width=6
height=14
textfont=p12_full
text=1
textshadow=yes
colour=0xfafa99

