// 148:0
[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic="sworddecor,1"

// 148:1
[com_1]
type=model
x=56
y=13
width=64
height=64
model=null
modelangle=100,100,0

// 148:2
[com_2]
type=model
x=207
y=13
width=64
height=64
model=null
modelzoom=400

// 148:3
[com_3]
type=model
x=360
y=13
width=64
height=64
model=null
modelzoom=400

// 148:4
[com_4]
type=text
x=38
y=16
width=101
height=80
buttontype=6
textfont=q8_full
textalignh=centre
textalignv=bottom
colour=0x000000
mouseovercolour=0xffffff

// 148:5
[com_5]
type=text
x=189
y=16
width=98
height=79
buttontype=6
textfont=q8_full
textalignh=centre
textalignv=bottom
colour=0x000000
mouseovercolour=0xffffff

// 148:6
[com_6]
type=text
x=342
y=16
width=97
height=80
buttontype=6
textfont=q8_full
textalignh=centre
textalignv=bottom
colour=0x000000
mouseovercolour=0xffffff

// 148:7
[com_7]
type=text
x=8
y=3
width=464
height=17
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

// 148:8
[com_8]
type=graphic
x=447
y=10
width=26
height=23
mouseoverlayer=com_10
graphic="close_buttons,4"

// 148:9
[com_9]
type=graphic
x=3
y=6
width=26
height=23
layer=com_10
buttontype=3
graphic="close_buttons,5"

// 148:10
[com_10]
type=layer
x=444
y=4
width=32
height=32
hide=yes

