// 132:0
[com_0]
type=model
x=212
y=75
width=55
height=81
model=model_7120
modelangle=510,0,0
modelzoom=671

// 132:1
[com_1]
type=text
x=61
y=68
width=331
height=14
textfont=p12_full
text=lj1
textalignh=centre
colour=0x000000

// 132:2
[com_2]
type=text
x=61
y=84
width=331
height=14
textfont=p12_full
text=lj2
textalignh=centre
colour=0x000000

// 132:3
[com_3]
type=text
x=61
y=100
width=331
height=14
textfont=p12_full
text=lj3
textalignh=centre
colour=0x000000

// 132:4
[com_4]
type=text
x=61
y=116
width=331
height=14
textfont=p12_full
text=lj4
textalignh=centre
colour=0x000000

// 132:5
[com_5]
type=text
x=61
y=132
width=331
height=14
textfont=p12_full
text=lj5
textalignh=centre
colour=0x000000

// 132:6
[com_6]
type=text
x=61
y=148
width=331
height=14
textfont=p12_full
text=lj6
textalignh=centre
colour=0x000000

// 132:7
[com_7]
type=text
x=61
y=164
width=331
height=14
textfont=p12_full
text=lj7
textalignh=centre
colour=0x000000

// 132:8
[com_8]
type=text
x=61
y=180
width=331
height=14
textfont=p12_full
text=lj8
textalignh=centre
colour=0x000000

// 132:9
[com_9]
type=text
x=61
y=196
width=331
height=14
textfont=p12_full
text=lj9
textalignh=centre
colour=0x000000

// 132:10
[com_10]
type=text
x=61
y=212
width=331
height=14
textfont=p12_full
text=lj10
textalignh=centre
colour=0x000000

// 132:11
[com_11]
type=text
x=61
y=228
width=331
height=14
textfont=p12_full
text=lj11
textalignh=centre
colour=0x000000

// 132:12
[com_12]
type=layer
x=58
y=63
width=340
height=23

// 132:13
[com_13]
type=text
x=12
y=5
width=18
height=14
layer=com_12
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:14
[com_14]
type=text
x=306
y=5
width=18
height=14
layer=com_12
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:15
[com_15]
type=layer
x=58
y=79
width=340
height=23

// 132:16
[com_16]
type=text
x=12
y=5
width=18
height=14
layer=com_15
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:17
[com_17]
type=text
x=306
y=5
width=18
height=14
layer=com_15
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:18
[com_18]
type=layer
x=58
y=95
width=340
height=23

// 132:19
[com_19]
type=text
x=12
y=5
width=18
height=14
layer=com_18
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:20
[com_20]
type=text
x=306
y=5
width=18
height=14
layer=com_18
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:21
[com_21]
type=layer
x=58
y=111
width=340
height=23

// 132:22
[com_22]
type=text
x=12
y=5
width=18
height=14
layer=com_21
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:23
[com_23]
type=text
x=306
y=5
width=18
height=14
layer=com_21
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:24
[com_24]
type=layer
x=58
y=127
width=340
height=23

// 132:25
[com_25]
type=text
x=12
y=5
width=18
height=14
layer=com_24
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:26
[com_26]
type=text
x=306
y=5
width=18
height=14
layer=com_24
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:27
[com_27]
type=layer
x=58
y=143
width=340
height=23

// 132:28
[com_28]
type=text
x=12
y=5
width=18
height=14
layer=com_27
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:29
[com_29]
type=text
x=306
y=5
width=18
height=14
layer=com_27
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:30
[com_30]
type=layer
x=58
y=159
width=340
height=23

// 132:31
[com_31]
type=text
x=12
y=5
width=18
height=14
layer=com_30
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:32
[com_32]
type=text
x=306
y=5
width=18
height=14
layer=com_30
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:33
[com_33]
type=layer
x=58
y=175
width=340
height=23

// 132:34
[com_34]
type=text
x=12
y=5
width=18
height=14
layer=com_33
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:35
[com_35]
type=text
x=306
y=5
width=18
height=14
layer=com_33
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:36
[com_36]
type=layer
x=58
y=191
width=340
height=23

// 132:37
[com_37]
type=text
x=12
y=5
width=18
height=14
layer=com_36
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:38
[com_38]
type=text
x=306
y=5
width=18
height=14
layer=com_36
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:39
[com_39]
type=layer
x=58
y=207
width=340
height=23

// 132:40
[com_40]
type=text
x=12
y=5
width=18
height=14
layer=com_39
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:41
[com_41]
type=text
x=306
y=5
width=18
height=14
layer=com_39
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:42
[com_42]
type=layer
x=58
y=223
width=340
height=23

// 132:43
[com_43]
type=text
x=12
y=5
width=18
height=14
layer=com_42
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:44
[com_44]
type=text
x=306
y=5
width=18
height=14
layer=com_42
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

// 132:45
[com_45]
type=text
x=60
y=27
width=299
height=36
textfont=p12_full
text=Items I need to get for King Roald's garden:
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xd7a573

// 132:46
[com_46]
type=graphic
x=362
y=30
width=23
height=23
mouseoverlayer=com_48
graphic="close_buttons,2"

// 132:47
[com_47]
type=graphic
x=5
y=5
width=23
height=23
layer=com_48
buttontype=3
graphic="close_buttons,3"

// 132:48
[com_48]
type=layer
x=357
y=25
width=32
height=32
hide=yes

