// 20:0
[com_0]
type=model
x=369
y=424
width=32
height=32
model=model_9630
modelangle=512,0,0
modelzoom=692

// 20:1
[com_1]
type=text
x=190
y=431
width=400
height=40
textfont=q8_full
textalignh=centre
textalignv=centre
colour=0x000000

// 20:2
[com_2]
type=text
x=190
y=411
width=400
height=14
textfont=p12_full
text=Message of the week
textalignh=centre
colour=0x800000

// 20:3
[com_3]
type=model
x=65
y=479
width=32
height=32
model=model_10232
modelangle=120,228,0
modelzoom=687

// 20:4
[com_4]
type=model
x=675
y=469
width=32
height=32
model=model_10234
modelangle=39,201,0
modelzoom=656

// 20:5
[com_5]
type=model
x=67
y=431
width=32
height=32
model=model_10233
modelangle=458,0,0
modelzoom=1000

// 20:6
[com_6]
type=model
x=659
y=446
width=32
height=32
model=model_10233
modelangle=458,0,0
modelzoom=1300

// 20:7
[com_7]
type=model
x=712
y=420
width=32
height=32
model=model_10233
modelangle=458,0,0
modelzoom=1700

