// 150:0
[com_0]
type=rectangle
width=600
height=400
colour=0x000000
fill=yes

// 150:1
[com_1]
type=model
x=241
y=129
width=32
height=32
model=model_4652
modelangle=294,60,0
modelzoom=930

// 150:2
[com_2]
type=model
x=258
y=136
width=32
height=32
model=model_7016
modelangle=274,70,0
modelzoom=948

// 150:3
[com_3]
type=model
x=260
y=123
width=32
height=32
model=model_7023
modelangle=229,64,0
modelzoom=1056
modelanim=seq_2138
modelanimactive=seq_2138

