// 289:0
[com_0]
type=rectangle
width=512
height=334
colour=0x0f622c0c
fill=yes

// 289:1
[com_1]
type=rectangle
y=144
width=512
height=20
colour=0x00000f
fill=yes

// 289:2
[com_2]
type=rectangle
x=138
y=30
width=232
height=236
colour=0x0f303030
fill=yes

// 289:3
[com_3]
type=rectangle
x=144
y=37
width=220
height=222
colour=0x0f585858
fill=yes

// 289:4
[com_4]
type=rectangle
x=155
y=48
width=43
height=43
colour=0x0f303030
fill=yes

// 289:5
[com_5]
type=rectangle
x=259
y=48
width=43
height=43
colour=0x0f303030
fill=yes

// 289:6
[com_6]
type=rectangle
x=207
y=48
width=43
height=43
colour=0x0f303030
fill=yes

// 289:7
[com_7]
type=rectangle
x=154
y=99
width=43
height=43
colour=0x0f303030
fill=yes

// 289:8
[com_8]
type=rectangle
x=311
y=48
width=43
height=43
colour=0x0f303030
fill=yes

// 289:9
[com_9]
type=rectangle
x=206
y=100
width=43
height=43
colour=0x0f303030
fill=yes

// 289:10
[com_10]
type=rectangle
x=258
y=100
width=43
height=43
colour=0x0f303030
fill=yes

// 289:11
[com_11]
type=rectangle
x=310
y=100
width=43
height=43
colour=0x0f303030
fill=yes

// 289:12
[com_12]
type=rectangle
x=155
y=152
width=43
height=43
colour=0x0f303030
fill=yes

// 289:13
[com_13]
type=rectangle
x=206
y=151
width=43
height=43
colour=0x0f303030
fill=yes

// 289:14
[com_14]
type=rectangle
x=259
y=151
width=43
height=43
colour=0x0f303030
fill=yes

// 289:15
[com_15]
type=rectangle
x=310
y=152
width=43
height=43
colour=0x0f303030
fill=yes

// 289:16
[com_16]
type=rectangle
x=154
y=204
width=43
height=43
colour=0x0f303030
fill=yes

// 289:17
[com_17]
type=rectangle
x=206
y=204
width=43
height=43
colour=0x0f303030
fill=yes

// 289:18
[com_18]
type=rectangle
x=259
y=203
width=43
height=43
colour=0x0f303030
fill=yes

// 289:19
[com_19]
type=rectangle
x=311
y=203
width=43
height=43
colour=0x0f303030
fill=yes

// 289:20
[com_20]
type=rectangle
x=160
y=53
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

// 289:21
[com_21]
type=rectangle
x=212
y=53
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

// 289:22
[com_22]
type=rectangle
x=264
y=53
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

// 289:23
[com_23]
type=rectangle
x=316
y=53
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

// 289:24
[com_24]
type=rectangle
x=159
y=105
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

// 289:25
[com_25]
type=rectangle
x=211
y=105
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

// 289:26
[com_26]
type=rectangle
x=263
y=105
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

// 289:27
[com_27]
type=rectangle
x=315
y=105
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

// 289:28
[com_28]
type=rectangle
x=160
y=157
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

// 289:29
[com_29]
type=rectangle
x=211
y=157
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

// 289:30
[com_30]
type=rectangle
x=264
y=157
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

// 289:31
[com_31]
type=rectangle
x=315
y=157
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

// 289:32
[com_32]
type=rectangle
x=159
y=209
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

// 289:33
[com_33]
type=rectangle
x=211
y=209
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

// 289:34
[com_34]
type=rectangle
x=264
y=209
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

// 289:35
[com_35]
type=rectangle
x=316
y=209
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

// 289:36
[com_36]
type=rectangle
x=280
y=295
width=89
height=31
colour=0x202020
fill=yes

// 289:37
[com_37]
type=rectangle
x=391
y=67
width=113
height=174
colour=0x0f303030
fill=yes

// 289:38
[com_38]
type=rectangle
x=402
y=79
width=93
height=149
colour=0x0f585858
fill=yes

// 289:39
[com_39]
type=rectangle
x=9
y=63
width=113
height=174
colour=0x0f303030
fill=yes

// 289:40
[com_40]
type=rectangle
x=19
y=76
width=93
height=149
colour=0x0f585858
fill=yes

// 289:41
[com_41]
type=text
x=279
y=294
width=91
height=32
buttontype=1
textfont=p12_full
text=open casket
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f

// 289:42
[com_42]
type=layer
x=7
y=283
width=42
height=42

// 289:43
[com_43]
type=model
x=5
y=5
width=32
height=32
layer=com_42
model=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 5

// 289:44
[com_44]
type=model
x=5
y=5
width=32
height=32
layer=com_42
model=null
modelactive=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 1

// 289:45
[com_45]
type=layer
x=64
y=283
width=42
height=42

// 289:46
[com_46]
type=model
x=5
y=5
width=32
height=32
layer=com_45
model=null
modelactive=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 1

// 289:47
[com_47]
type=model
x=5
y=5
width=32
height=32
layer=com_45
model=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 5

// 289:48
[com_48]
type=layer
x=117
y=283
width=42
height=42

// 289:49
[com_49]
type=model
x=5
y=5
width=32
height=32
layer=com_48
model=null
modelactive=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 1

// 289:50
[com_50]
type=model
x=5
y=5
width=32
height=32
layer=com_48
model=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 5

// 289:51
[com_51]
type=layer
x=171
y=282
width=42
height=42

// 289:52
[com_52]
type=model
x=5
y=5
width=32
height=32
layer=com_51
model=null
modelactive=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 1

// 289:53
[com_53]
type=model
x=5
y=5
width=32
height=32
layer=com_51
model=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 5

// 289:54
[com_54]
type=layer
x=226
y=282
width=42
height=42

// 289:55
[com_55]
type=model
x=5
y=5
width=32
height=32
layer=com_54
model=null
modelactive=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 1

// 289:56
[com_56]
type=model
x=5
y=5
width=32
height=32
layer=com_54
model=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 5

// 289:57
[com_57]
type=model
x=11
y=289
width=32
height=32
buttontype=1
model=model_8979
modelangle=500,1050,0
modelzoom=600

// 289:58
[com_58]
type=model
x=68
y=288
width=32
height=32
buttontype=1
model=model_8987
modelangle=500,1050,0
modelzoom=600

// 289:59
[com_59]
type=model
x=121
y=289
width=32
height=32
buttontype=1
model=model_8975
modelangle=500,1050,0
modelzoom=600

// 289:60
[com_60]
type=model
x=176
y=288
width=32
height=32
buttontype=1
model=model_8980
modelangle=500,1050,0
modelzoom=600

// 289:61
[com_61]
type=model
x=230
y=287
width=32
height=32
buttontype=1
model=model_8985
modelangle=500,1050,0
modelzoom=652

// 289:62
[com_62]
type=inv
x=159
y=53
width=4
height=4
paddingx=20
paddingy=20

// 289:63
[com_63]
type=graphic
x=484
y=5
width=26
height=23
mouseoverlayer=com_65
graphic="close_buttons,4"

// 289:64
[com_64]
type=graphic
x=3
y=4
width=26
height=23
layer=com_65
buttontype=3
graphic="close_buttons,5"

// 289:65
[com_65]
type=layer
x=481
y=1
width=32
height=32
hide=yes

