// 275:0
[com_0]
type=layer
x=37
y=37
width=437
height=287

// 275:1
[com_1]
type=layer
x=48
y=84
width=404
height=215
scrollheight=2600

// 275:2
[com_2]
type=text
x=53
y=56
width=352
height=18
textfont=q8_full
text=ifquestname
colour=0x000000

// 275:3
[com_3]
type=model
x=202
y=123
width=55
height=81
layer=com_0
model=model_21821
modelangle=510,0,0
modelzoom=579

// 275:4
[com_4]
type=text
y=-1
width=404
height=14
layer=com_1
textfont=p12_full
text=qj1
textalignh=centre
colour=0x000000

// 275:5
[com_5]
type=text
y=19
width=404
height=14
layer=com_1
textfont=p12_full
text=qj2
textalignh=centre
colour=0x000000

// 275:6
[com_6]
type=text
y=39
width=404
height=14
layer=com_1
textfont=p12_full
text=qj3
textalignh=centre
colour=0x000000

// 275:7
[com_7]
type=text
y=59
width=404
height=14
layer=com_1
textfont=p12_full
text=qj4
textalignh=centre
colour=0x000000

// 275:8
[com_8]
type=text
y=79
width=404
height=14
layer=com_1
textfont=p12_full
text=qj5
textalignh=centre
colour=0x000000

// 275:9
[com_9]
type=text
y=99
width=404
height=14
layer=com_1
textfont=p12_full
text=qj6
textalignh=centre
colour=0x000000

// 275:10
[com_10]
type=text
y=119
width=404
height=14
layer=com_1
textfont=p12_full
text=qj7
textalignh=centre
colour=0x000000

// 275:11
[com_11]
type=text
y=139
width=404
height=14
layer=com_1
textfont=p12_full
text=qj8
textalignh=centre
colour=0x000000

// 275:12
[com_12]
type=text
y=159
width=404
height=14
layer=com_1
textfont=p12_full
text=qj9
textalignh=centre
colour=0x000000

// 275:13
[com_13]
type=text
y=179
width=404
height=14
layer=com_1
textfont=p12_full
text=qj10
textalignh=centre
colour=0x000000

// 275:14
[com_14]
type=text
y=199
width=404
height=14
layer=com_1
textfont=p12_full
text=qj11
textalignh=centre
colour=0x000000

// 275:15
[com_15]
type=text
y=219
width=404
height=14
layer=com_1
textfont=p12_full
text=qj12
textalignh=centre
colour=0x000000

// 275:16
[com_16]
type=text
y=239
width=404
height=14
layer=com_1
textfont=p12_full
text=qj13
textalignh=centre
colour=0x000000

// 275:17
[com_17]
type=text
y=259
width=404
height=14
layer=com_1
textfont=p12_full
text=qj14
textalignh=centre
colour=0x000000

// 275:18
[com_18]
type=text
y=279
width=404
height=14
layer=com_1
textfont=p12_full
text=qj15
textalignh=centre
colour=0x000000

// 275:19
[com_19]
type=text
y=299
width=404
height=14
layer=com_1
textfont=p12_full
text=qj16
textalignh=centre
colour=0x000000

// 275:20
[com_20]
type=text
y=319
width=404
height=15
layer=com_1
textfont=p12_full
text=qj17
textalignh=centre
colour=0x000000

// 275:21
[com_21]
type=text
y=339
width=404
height=15
layer=com_1
textfont=p12_full
text=qj18
textalignh=centre
colour=0x000000

// 275:22
[com_22]
type=text
y=359
width=404
height=15
layer=com_1
textfont=p12_full
text=qj19
textalignh=centre
colour=0x000000

// 275:23
[com_23]
type=text
y=379
width=404
height=15
layer=com_1
textfont=p12_full
text=qj20
textalignh=centre
colour=0x000000

// 275:24
[com_24]
type=text
y=399
width=404
height=15
layer=com_1
textfont=p12_full
text=qj21
textalignh=centre
colour=0x000000

// 275:25
[com_25]
type=text
y=419
width=404
height=15
layer=com_1
textfont=p12_full
text=qj22
textalignh=centre
colour=0x000000

// 275:26
[com_26]
type=text
y=439
width=404
height=15
layer=com_1
textfont=p12_full
text=qj23
textalignh=centre
colour=0x000000

// 275:27
[com_27]
type=text
y=459
width=404
height=15
layer=com_1
textfont=p12_full
text=qj24
textalignh=centre
colour=0x000000

// 275:28
[com_28]
type=text
y=479
width=404
height=15
layer=com_1
textfont=p12_full
text=qj25
textalignh=centre
colour=0x000000

// 275:29
[com_29]
type=text
y=499
width=404
height=15
layer=com_1
textfont=p12_full
text=qj26
textalignh=centre
colour=0x000000

// 275:30
[com_30]
type=text
y=519
width=404
height=14
layer=com_1
textfont=p12_full
text=qj27
textalignh=centre
colour=0x000000

// 275:31
[com_31]
type=text
y=539
width=404
height=14
layer=com_1
textfont=p12_full
text=qj28
textalignh=centre
colour=0x000000

// 275:32
[com_32]
type=text
y=559
width=404
height=14
layer=com_1
textfont=p12_full
text=qj29
textalignh=centre
colour=0x000000

// 275:33
[com_33]
type=text
y=579
width=404
height=14
layer=com_1
textfont=p12_full
text=qj30
textalignh=centre
colour=0x000000

// 275:34
[com_34]
type=text
y=599
width=404
height=14
layer=com_1
textfont=p12_full
text=qj31
textalignh=centre
colour=0x000000

// 275:35
[com_35]
type=text
y=619
width=404
height=14
layer=com_1
textfont=p12_full
text=qj32
textalignh=centre
colour=0x000000

// 275:36
[com_36]
type=text
y=639
width=404
height=14
layer=com_1
textfont=p12_full
text=qj33
textalignh=centre
colour=0x000000

// 275:37
[com_37]
type=text
y=659
width=404
height=14
layer=com_1
textfont=p12_full
text=qj34
textalignh=centre
colour=0x000000

// 275:38
[com_38]
type=text
y=679
width=404
height=14
layer=com_1
textfont=p12_full
text=qj35
textalignh=centre
colour=0x000000

// 275:39
[com_39]
type=text
y=699
width=404
height=14
layer=com_1
textfont=p12_full
text=qj36
textalignh=centre
colour=0x000000

// 275:40
[com_40]
type=text
y=719
width=404
height=14
layer=com_1
textfont=p12_full
text=qj37
textalignh=centre
colour=0x000000

// 275:41
[com_41]
type=text
x=-1
y=739
width=404
height=14
layer=com_1
textfont=p12_full
text=qj38
textalignh=centre
colour=0x000000

// 275:42
[com_42]
type=text
y=759
width=404
height=14
layer=com_1
textfont=p12_full
text=qj39
textalignh=centre
colour=0x000000

// 275:43
[com_43]
type=text
y=779
width=404
height=14
layer=com_1
textfont=p12_full
text=qj40
textalignh=centre
colour=0x000000

// 275:44
[com_44]
type=text
y=799
width=404
height=14
layer=com_1
textfont=p12_full
text=qj41
textalignh=centre
colour=0x000000

// 275:45
[com_45]
type=text
y=819
width=404
height=14
layer=com_1
textfont=p12_full
text=qj42
textalignh=centre
colour=0x000000

// 275:46
[com_46]
type=text
y=839
width=404
height=14
layer=com_1
textfont=p12_full
text=qj43
textalignh=centre
colour=0x000000

// 275:47
[com_47]
type=text
y=859
width=404
height=14
layer=com_1
textfont=p12_full
text=qj44
textalignh=centre
colour=0x000000

// 275:48
[com_48]
type=text
y=879
width=404
height=14
layer=com_1
textfont=p12_full
text=qj45
textalignh=centre
colour=0x000000

// 275:49
[com_49]
type=text
y=899
width=404
height=14
layer=com_1
textfont=p12_full
text=qj46
textalignh=centre
colour=0x000000

// 275:50
[com_50]
type=text
y=919
width=404
height=14
layer=com_1
textfont=p12_full
text=qj47
textalignh=centre
colour=0x000000

// 275:51
[com_51]
type=text
y=939
width=404
height=14
layer=com_1
textfont=p12_full
text=qj48
textalignh=centre
colour=0x000000

// 275:52
[com_52]
type=text
y=959
width=404
height=14
layer=com_1
textfont=p12_full
text=qj49
textalignh=centre
colour=0x000000

// 275:53
[com_53]
type=text
y=979
width=404
height=14
layer=com_1
textfont=p12_full
text=qj50
textalignh=centre
colour=0x000000

// 275:54
[com_54]
type=text
y=999
width=404
height=14
layer=com_1
textfont=p12_full
text=qj51
textalignh=centre
colour=0x000000

// 275:55
[com_55]
type=text
y=1019
width=404
height=14
layer=com_1
textfont=p12_full
text=qj52
textalignh=centre
colour=0x000000

// 275:56
[com_56]
type=text
y=1039
width=404
height=14
layer=com_1
textfont=p12_full
text=qj53
textalignh=centre
colour=0x000000

// 275:57
[com_57]
type=text
y=1059
width=404
height=14
layer=com_1
textfont=p12_full
text=qj54
textalignh=centre
colour=0x000000

// 275:58
[com_58]
type=text
y=1079
width=404
height=14
layer=com_1
textfont=p12_full
text=qj55
textalignh=centre
colour=0x000000

// 275:59
[com_59]
type=text
y=1099
width=404
height=14
layer=com_1
textfont=p12_full
text=qj56
textalignh=centre
colour=0x000000

// 275:60
[com_60]
type=text
y=1119
width=404
height=14
layer=com_1
textfont=p12_full
text=qj57
textalignh=centre
colour=0x000000

// 275:61
[com_61]
type=text
y=1139
width=404
height=14
layer=com_1
textfont=p12_full
text=qj58
textalignh=centre
colour=0x000000

// 275:62
[com_62]
type=text
y=1159
width=404
height=14
layer=com_1
textfont=p12_full
text=qj59
textalignh=centre
colour=0x000000

// 275:63
[com_63]
type=text
y=1179
width=404
height=14
layer=com_1
textfont=p12_full
text=qj60
textalignh=centre
colour=0x000000

// 275:64
[com_64]
type=text
y=1199
width=404
height=14
layer=com_1
textfont=p12_full
text=qj61
textalignh=centre
colour=0x000000

// 275:65
[com_65]
type=text
y=1219
width=404
height=14
layer=com_1
textfont=p12_full
text=qj62
textalignh=centre
colour=0x000000

// 275:66
[com_66]
type=text
y=1239
width=404
height=14
layer=com_1
textfont=p12_full
text=qj63
textalignh=centre
colour=0x000000

// 275:67
[com_67]
type=text
y=1259
width=404
height=14
layer=com_1
textfont=p12_full
text=qj64
textalignh=centre
colour=0x000000

// 275:68
[com_68]
type=text
y=1279
width=404
height=14
layer=com_1
textfont=p12_full
text=qj65
textalignh=centre
colour=0x000000

// 275:69
[com_69]
type=text
y=1299
width=404
height=14
layer=com_1
textfont=p12_full
text=qj66
textalignh=centre
colour=0x000000

// 275:70
[com_70]
type=text
y=1319
width=404
height=14
layer=com_1
textfont=p12_full
text=qj67
textalignh=centre
colour=0x000000

// 275:71
[com_71]
type=text
y=1339
width=404
height=14
layer=com_1
textfont=p12_full
text=qj68
textalignh=centre
colour=0x000000

// 275:72
[com_72]
type=text
y=1359
width=404
height=14
layer=com_1
textfont=p12_full
text=qj69
textalignh=centre
colour=0x000000

// 275:73
[com_73]
type=text
y=1379
width=404
height=14
layer=com_1
textfont=p12_full
text=qj70
textalignh=centre
colour=0x000000

// 275:74
[com_74]
type=text
y=1399
width=404
height=14
layer=com_1
textfont=p12_full
text=qj71
textalignh=centre
colour=0x000000

// 275:75
[com_75]
type=text
y=1419
width=404
height=14
layer=com_1
textfont=p12_full
text=qj72
textalignh=centre
colour=0x000000

// 275:76
[com_76]
type=text
y=1439
width=404
height=14
layer=com_1
textfont=p12_full
text=qj73
textalignh=centre
colour=0x000000

// 275:77
[com_77]
type=text
y=1459
width=404
height=14
layer=com_1
textfont=p12_full
text=qj74
textalignh=centre
colour=0x000000

// 275:78
[com_78]
type=text
y=1479
width=404
height=14
layer=com_1
textfont=p12_full
text=qj75
textalignh=centre
colour=0x000000

// 275:79
[com_79]
type=text
y=1499
width=404
height=14
layer=com_1
textfont=p12_full
text=qj76
textalignh=centre
colour=0x000000

// 275:80
[com_80]
type=text
y=1519
width=404
height=14
layer=com_1
textfont=p12_full
text=qj77
textalignh=centre
colour=0x000000

// 275:81
[com_81]
type=text
y=1539
width=404
height=14
layer=com_1
textfont=p12_full
text=qj78
textalignh=centre
colour=0x000000

// 275:82
[com_82]
type=text
y=1559
width=404
height=14
layer=com_1
textfont=p12_full
text=qj79
textalignh=centre
colour=0x000000

// 275:83
[com_83]
type=text
y=1579
width=404
height=14
layer=com_1
textfont=p12_full
text=qj80
textalignh=centre
colour=0x000000

// 275:84
[com_84]
type=text
y=1599
width=404
height=14
layer=com_1
textfont=p12_full
text=qj81
textalignh=centre
colour=0x000000

// 275:85
[com_85]
type=text
y=1619
width=404
height=14
layer=com_1
textfont=p12_full
text=qj82
textalignh=centre
colour=0x000000

// 275:86
[com_86]
type=text
y=1639
width=404
height=14
layer=com_1
textfont=p12_full
text=qj83
textalignh=centre
colour=0x000000

// 275:87
[com_87]
type=text
y=1659
width=404
height=14
layer=com_1
textfont=p12_full
text=qj84
textalignh=centre
colour=0x000000

// 275:88
[com_88]
type=text
y=1679
width=404
height=14
layer=com_1
textfont=p12_full
text=qj85
textalignh=centre
colour=0x000000

// 275:89
[com_89]
type=text
y=1699
width=404
height=14
layer=com_1
textfont=p12_full
text=qj86
textalignh=centre
colour=0x000000

// 275:90
[com_90]
type=text
y=1719
width=404
height=14
layer=com_1
textfont=p12_full
text=qj87
textalignh=centre
colour=0x000000

// 275:91
[com_91]
type=text
y=1739
width=404
height=14
layer=com_1
textfont=p12_full
text=qj88
textalignh=centre
colour=0x000000

// 275:92
[com_92]
type=text
y=1759
width=404
height=14
layer=com_1
textfont=p12_full
text=qj89
textalignh=centre
colour=0x000000

// 275:93
[com_93]
type=text
y=1779
width=404
height=14
layer=com_1
textfont=p12_full
text=qj90
textalignh=centre
colour=0x000000

// 275:94
[com_94]
type=text
y=1799
width=404
height=14
layer=com_1
textfont=p12_full
text=qj91
textalignh=centre
colour=0x000000

// 275:95
[com_95]
type=text
y=1819
width=404
height=14
layer=com_1
textfont=p12_full
text=qj92
textalignh=centre
colour=0x000000

// 275:96
[com_96]
type=text
y=1839
width=404
height=14
layer=com_1
textfont=p12_full
text=qj93
textalignh=centre
colour=0x000000

// 275:97
[com_97]
type=text
y=1859
width=404
height=14
layer=com_1
textfont=p12_full
text=qj94
textalignh=centre
colour=0x000000

// 275:98
[com_98]
type=text
y=1879
width=404
height=14
layer=com_1
textfont=p12_full
text=qj95
textalignh=centre
colour=0x000000

// 275:99
[com_99]
type=text
y=1899
width=404
height=14
layer=com_1
textfont=p12_full
text=qj96
textalignh=centre
colour=0x000000

// 275:100
[com_100]
type=text
y=1919
width=404
height=14
layer=com_1
textfont=p12_full
text=qj97
textalignh=centre
colour=0x000000

// 275:101
[com_101]
type=text
y=1939
width=404
height=14
layer=com_1
textfont=p12_full
text=qj98
textalignh=centre
colour=0x000000

// 275:102
[com_102]
type=text
y=1959
width=404
height=14
layer=com_1
textfont=p12_full
text=qj99
textalignh=centre
colour=0x000000

// 275:103
[com_103]
type=text
y=1979
width=404
height=14
layer=com_1
textfont=p12_full
text=qj100
textalignh=centre
colour=0x000000

// 275:104
[com_104]
type=text
y=1998
width=404
height=14
layer=com_1
textfont=p12_full
text=qj101
textalignh=centre
colour=0x000000

// 275:105
[com_105]
type=text
y=2019
width=404
height=14
layer=com_1
textfont=p12_full
text=qj102
textalignh=centre
colour=0x000000

// 275:106
[com_106]
type=text
y=2039
width=404
height=14
layer=com_1
textfont=p12_full
text=qj103
textalignh=centre
colour=0x000000

// 275:107
[com_107]
type=text
y=2058
width=404
height=14
layer=com_1
textfont=p12_full
text=qj104
textalignh=centre
colour=0x000000

// 275:108
[com_108]
type=text
y=2079
width=404
height=14
layer=com_1
textfont=p12_full
text=qj105
textalignh=centre
colour=0x000000

// 275:109
[com_109]
type=text
y=2099
width=404
height=14
layer=com_1
textfont=p12_full
text=qj106
textalignh=centre
colour=0x000000

// 275:110
[com_110]
type=text
y=2120
width=404
height=14
layer=com_1
textfont=p12_full
text=qj107
textalignh=centre
colour=0x000000

// 275:111
[com_111]
type=text
y=2140
width=404
height=14
layer=com_1
textfont=p12_full
text=qj108
textalignh=centre
colour=0x000000

// 275:112
[com_112]
type=text
y=2160
width=404
height=14
layer=com_1
textfont=p12_full
text=qj109
textalignh=centre
colour=0x000000

// 275:113
[com_113]
type=text
y=2179
width=404
height=14
layer=com_1
textfont=p12_full
text=qj110
textalignh=centre
colour=0x000000

// 275:114
[com_114]
type=text
y=2200
width=404
height=14
layer=com_1
textfont=p12_full
text=qj111
textalignh=centre
colour=0x000000

// 275:115
[com_115]
type=text
y=2220
width=404
height=14
layer=com_1
textfont=p12_full
text=qj112
textalignh=centre
colour=0x000000

// 275:116
[com_116]
type=text
y=2240
width=404
height=14
layer=com_1
textfont=p12_full
text=qj113
textalignh=centre
colour=0x000000

// 275:117
[com_117]
type=text
y=2260
width=404
height=14
layer=com_1
textfont=p12_full
text=qj114
textalignh=centre
colour=0x000000

// 275:118
[com_118]
type=text
y=2279
width=404
height=14
layer=com_1
textfont=p12_full
text=qj115
textalignh=centre
colour=0x000000

// 275:119
[com_119]
type=text
y=2299
width=404
height=14
layer=com_1
textfont=p12_full
text=qj116
textalignh=centre
colour=0x000000

// 275:120
[com_120]
type=text
y=2318
width=404
height=14
layer=com_1
textfont=p12_full
text=qj117
textalignh=centre
colour=0x000000

// 275:121
[com_121]
type=text
y=2338
width=404
height=14
layer=com_1
textfont=p12_full
text=qj118
textalignh=centre
colour=0x000000

// 275:122
[com_122]
type=text
y=2359
width=404
height=14
layer=com_1
textfont=p12_full
text=qj119
textalignh=centre
colour=0x000000

// 275:123
[com_123]
type=text
y=2379
width=404
height=14
layer=com_1
textfont=p12_full
text=qj120
textalignh=centre
colour=0x000000

// 275:124
[com_124]
type=text
y=2399
width=404
height=14
layer=com_1
textfont=p12_full
text=qj121
textalignh=centre
colour=0x000000

// 275:125
[com_125]
type=text
y=2419
width=404
height=14
layer=com_1
textfont=p12_full
text=qj122
textalignh=centre
colour=0x000000

// 275:126
[com_126]
type=text
y=2439
width=404
height=14
layer=com_1
textfont=p12_full
text=qj123
textalignh=centre
colour=0x000000

// 275:127
[com_127]
type=text
y=2459
width=404
height=14
layer=com_1
textfont=p12_full
text=qj124
textalignh=centre
colour=0x000000

// 275:128
[com_128]
type=text
y=2479
width=404
height=14
layer=com_1
textfont=p12_full
text=qj125
textalignh=centre
colour=0x000000

// 275:129
[com_129]
type=text
y=2499
width=404
height=14
layer=com_1
textfont=p12_full
text=qj126
textalignh=centre
colour=0x000000

// 275:130
[com_130]
type=text
y=2519
width=404
height=14
layer=com_1
textfont=p12_full
text=qj127
textalignh=centre
colour=0x000000

// 275:131
[com_131]
type=text
y=2539
width=404
height=14
layer=com_1
textfont=p12_full
text=qj128
textalignh=centre
colour=0x000000

// 275:132
[com_132]
type=text
y=2559
width=404
height=14
layer=com_1
textfont=p12_full
text=qj129
textalignh=centre
colour=0x000000

// 275:133
[com_133]
type=text
x=1
y=2579
width=404
height=14
layer=com_1
textfont=p12_full
text=qj130
textalignh=centre
colour=0x000000

// 275:134
[com_134]
type=graphic
x=441
y=54
width=26
height=23
mouseoverlayer=com_136
graphic="close_buttons,6"

// 275:135
[com_135]
type=graphic
x=3
y=3
width=26
height=23
layer=com_136
buttontype=3
graphic="close_buttons,7"

// 275:136
[com_136]
type=layer
x=438
y=51
width=32
height=32
hide=yes

