// 387:0
[com_0]
type=graphic
x=78
y=39
width=36
height=36
graphic="miscgraphics,2"

// 387:1
[com_1]
type=graphic
x=78
y=68
width=36
height=36
graphic="miscgraphics,2"

// 387:2
[com_2]
type=graphic
x=78
y=105
width=36
height=36
graphic="miscgraphics,2"

// 387:3
[com_3]
type=graphic
x=78
y=146
width=36
height=36
graphic="miscgraphics,2"

// 387:4
[com_4]
type=graphic
x=22
y=118
width=36
height=36
graphic="miscgraphics,2"

// 387:5
[com_5]
type=graphic
x=22
y=154
width=36
height=36
graphic="miscgraphics,2"

// 387:6
[com_6]
type=graphic
x=134
y=118
width=36
height=36
graphic="miscgraphics,2"

// 387:7
[com_7]
type=graphic
x=134
y=154
width=36
height=36
graphic="miscgraphics,2"

// 387:8
[com_8]
type=graphic
x=48
y=81
width=36
height=36
graphic="miscgraphics,3"

// 387:9
[com_9]
type=graphic
x=107
y=81
width=36
height=36
graphic="miscgraphics,3"

// 387:10
[com_10]
type=graphic
x=58
y=42
width=36
height=36
graphic="miscgraphics,3"

// 387:11
[com_11]
type=graphic
x=112
y=41
width=36
height=36
graphic="miscgraphics,3"

// 387:12
[com_12]
type=graphic
x=78
y=4
width=36
height=36
graphic="miscgraphics,0"

// 387:13
[com_13]
type=graphic
x=37
y=43
width=36
height=36
graphic="miscgraphics,0"

// 387:14
[com_14]
type=graphic
x=78
y=43
width=36
height=36
graphic="miscgraphics,0"

// 387:15
[com_15]
type=graphic
x=119
y=43
width=36
height=36
graphic="miscgraphics,0"

// 387:16
[com_16]
type=graphic
x=22
y=82
width=36
height=36
graphic="miscgraphics,0"

// 387:17
[com_17]
type=graphic
x=78
y=82
width=36
height=36
graphic="miscgraphics,0"

// 387:18
[com_18]
type=graphic
x=134
y=82
width=36
height=36
graphic="miscgraphics,0"

// 387:19
[com_19]
type=graphic
x=78
y=122
width=36
height=36
graphic="miscgraphics,0"

// 387:20
[com_20]
type=graphic
x=78
y=162
width=36
height=36
graphic="miscgraphics,0"

// 387:21
[com_21]
type=graphic
x=22
y=162
width=36
height=36
graphic="miscgraphics,0"

// 387:22
[com_22]
type=graphic
x=134
y=162
width=36
height=36
graphic="miscgraphics,0"

// 387:23
[com_23]
type=graphic
x=41
y=238
width=9
height=9
graphic="v2_stone_button,2"

// 387:24
[com_24]
type=graphic
x=41
y=208
width=9
height=9
graphic="v2_stone_button,0"

// 387:25
[com_25]
type=graphic
x=72
y=238
width=9
height=9
graphic="v2_stone_button,3"

// 387:26
[com_26]
type=graphic
x=72
y=208
width=9
height=9
graphic="v2_stone_button,1"

// 387:27
[com_27]
type=graphic
x=50
y=208
width=9
height=9
graphic="v2_stone_button,5"

// 387:28
[com_28]
type=inv
x=24
y=44
width=3
height=5
paddingx=24
paddingy=8
slot1=56,-38,"wornicons,0"
slot2=-41,1,"wornicons,1"
slot3=-56,1,"wornicons,2"
slot4=0,0,"wornicons,3"
slot5=0,0,"wornicons,5"
slot6=0,0,"wornicons,6"
slot8=0,0,"wornicons,7"
slot10=0,0,"wornicons,8"
slot11=0,0,"wornicons,9"
slot13=112,-40,"wornicons,4"
slot14=41,-159,"wornicons,10"
op1=Remove
op2=Operate

// 387:29
[com_29]
type=graphic
x=59
y=208
width=9
height=9
graphic="v2_stone_button,5"

// 387:30
[com_30]
type=graphic
x=63
y=208
width=9
height=9
graphic="v2_stone_button,5"

// 387:31
[com_31]
type=graphic
x=111
y=238
width=9
height=9
graphic="v2_stone_button,2"

// 387:32
[com_32]
type=graphic
x=111
y=208
width=9
height=9
graphic="v2_stone_button,0"

// 387:33
[com_33]
type=graphic
x=142
y=238
width=9
height=9
graphic="v2_stone_button,3"

// 387:34
[com_34]
type=graphic
x=142
y=208
width=9
height=9
graphic="v2_stone_button,1"

// 387:35
[com_35]
type=graphic
x=120
y=208
width=9
height=9
graphic="v2_stone_button,5"

// 387:36
[com_36]
type=graphic
x=50
y=238
width=9
height=9
graphic="v2_stone_button,7"

// 387:37
[com_37]
type=graphic
x=59
y=238
width=9
height=9
graphic="v2_stone_button,7"

// 387:38
[com_38]
type=graphic
x=64
y=238
width=9
height=9
graphic="v2_stone_button,7"

// 387:39
[com_39]
type=graphic
x=129
y=208
width=9
height=9
graphic="v2_stone_button,5"

// 387:40
[com_40]
type=graphic
x=133
y=208
width=9
height=9
graphic="v2_stone_button,5"

// 387:41
[com_41]
type=graphic
x=120
y=238
width=9
height=9
graphic="v2_stone_button,7"

// 387:42
[com_42]
type=graphic
x=129
y=238
width=9
height=9
graphic="v2_stone_button,7"

// 387:43
[com_43]
type=graphic
x=134
y=238
width=9
height=9
graphic="v2_stone_button,7"

// 387:44
[com_44]
type=graphic
x=41
y=217
width=9
height=9
graphic="v2_stone_button,4"

// 387:45
[com_45]
type=graphic
x=41
y=226
width=9
height=9
graphic="v2_stone_button,4"

// 387:46
[com_46]
type=graphic
x=41
y=229
width=9
height=9
graphic="v2_stone_button,4"

// 387:47
[com_47]
type=graphic
x=72
y=217
width=9
height=9
graphic="v2_stone_button,6"

// 387:48
[com_48]
type=graphic
x=72
y=226
width=9
height=9
graphic="v2_stone_button,6"

// 387:49
[com_49]
type=graphic
x=72
y=229
width=9
height=9
graphic="v2_stone_button,6"

// 387:50
[com_50]
type=graphic
x=113
y=211
width=34
height=34
buttontype=1
graphic="options_icons,18"
buttontext=Show Items Kept on Death

// 387:51
[com_51]
type=graphic
x=45
y=210
width=34
height=34
buttontype=1
graphic="options_icons,16"
buttontext=Show Equipment Stats

// 387:52
[com_52]
type=graphic
x=111
y=217
width=9
height=9
graphic="v2_stone_button,4"

// 387:53
[com_53]
type=graphic
x=111
y=226
width=9
height=9
graphic="v2_stone_button,4"

// 387:54
[com_54]
type=graphic
x=111
y=229
width=9
height=9
graphic="v2_stone_button,4"

// 387:55
[com_55]
type=graphic
x=142
y=217
width=9
height=9
graphic="v2_stone_button,6"

// 387:56
[com_56]
type=graphic
x=142
y=226
width=9
height=9
graphic="v2_stone_button,6"

// 387:57
[com_57]
type=graphic
x=142
y=229
width=9
height=9
graphic="v2_stone_button,6"

// 387:58
[com_58]
type=tooltip
x=38
y=205
width=34
height=34
text=Show Equipment Stats

// 387:59
[com_59]
type=tooltip
x=123
y=204
width=34
height=34
text=Show Items Kept on Death

