// 558:0
[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic="sworddecor,1"

// 558:1
[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic="sworddecor,0"

// 558:2
[com_2]
type=model
x=6
y=13
width=63
height=80
model=null
modelzoom=400

// 558:3
[com_3]
type=model
x=86
y=13
width=63
height=80
model=null
modelzoom=400

// 558:4
[com_4]
type=model
x=166
y=13
width=63
height=80
model=null
modelzoom=400

// 558:5
[com_5]
type=model
x=246
y=13
width=63
height=80
model=null
modelzoom=400

// 558:6
[com_6]
type=model
x=326
y=13
width=63
height=80
model=null
modelzoom=400

// 558:7
[com_7]
type=model
x=406
y=13
width=63
height=80
model=null
modelzoom=400

// 558:8
[com_8]
type=text
x=1
y=16
width=79
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 558:9
[com_9]
type=text
x=1
y=16
width=79
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 558:10
[com_10]
type=text
x=1
y=16
width=79
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 558:11
[com_11]
type=text
x=1
y=16
width=79
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 558:12
[com_12]
type=text
x=80
y=16
width=79
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 558:13
[com_13]
type=text
x=80
y=16
width=79
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 558:14
[com_14]
type=text
x=80
y=16
width=79
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 558:15
[com_15]
type=text
x=80
y=16
width=79
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 558:16
[com_16]
type=text
x=158
y=16
width=79
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 558:17
[com_17]
type=text
x=158
y=16
width=79
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 558:18
[com_18]
type=text
x=158
y=16
width=79
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 558:19
[com_19]
type=text
x=158
y=16
width=79
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 558:20
[com_20]
type=text
x=236
y=16
width=83
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 558:21
[com_21]
type=text
x=236
y=16
width=83
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 558:22
[com_22]
type=text
x=236
y=16
width=83
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 558:23
[com_23]
type=text
x=236
y=16
width=83
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 558:24
[com_24]
type=text
x=318
y=16
width=80
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 558:25
[com_25]
type=text
x=318
y=16
width=80
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 558:26
[com_26]
type=text
x=318
y=16
width=80
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 558:27
[com_27]
type=text
x=318
y=16
width=80
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 558:28
[com_28]
type=text
x=8
y=3
width=461
height=17
textfont=q8_full
text=What would you like to make?
textalignh=centre
colour=0x800000

// 558:29
[com_29]
type=text
x=397
y=15
width=83
height=81
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 558:30
[com_30]
type=text
x=397
y=15
width=83
height=81
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 558:31
[com_31]
type=text
x=397
y=15
width=82
height=81
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 558:32
[com_32]
type=text
x=397
y=15
width=82
height=80
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

