// 57:0
[com_0]
type=text
x=17
y=51
width=480
height=14
textfont=b12_full
text=Waiting for players to join the other team.
textactive=Time until next game starts: %1
textalignh=centre
colouractive=0xffffff
script=varplayer_380 > 0

