// 377:0
[com_0]
type=model
x=372
y=14
width=32
height=32
model=model_8854
modelangle=247,2030,0
modelzoom=400

// 377:1
[com_1]
type=model
x=456
y=19
width=32
height=32
model=model_8855
modelangle=236,2046,0
modelzoom=537

// 377:2
[com_2]
type=text
x=131
y=2
width=29
height=12
layer=com_3
textfont=p11_full
text=%1 %
textshadow=yes
colour=0xffff00
script0=varplayerbit_907

// 377:3
[com_3]
type=layer
x=328
y=17
width=165
height=20

// 377:4
[com_4]
type=text
x=6
y=2
width=116
height=12
layer=com_3
textfont=p11_full
text=<col=00ff00>* <col=ffff00>Tai Bwo Favour <col=00ff00>*
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

