// 147:0
[com_0]
type=rectangle
x=7
y=11
width=497
height=310
colour=0x806102
fill=yes

// 147:1
[com_1]
type=rectangle
x=13
y=17
width=484
height=298
colour=0x422502
fill=yes

// 147:2
[com_2]
type=rectangle
x=319
y=24
width=168
height=282
colour=0x543e04
fill=yes

// 147:3
[com_3]
type=model
x=78
y=167
width=91
height=94
model=model_6474
modelzoom=328

// 147:4
[com_4]
type=model
x=62
y=130
width=26
height=27
buttontype=5
model=model_6477
modelzoom=328
buttontext=turn tile

// 147:5
[com_5]
type=model
x=93
y=131
width=27
height=25
buttontype=5
model=model_6488
modelzoom=328
buttontext=turn tile

// 147:6
[com_6]
type=model
x=124
y=131
width=26
height=26
buttontype=5
model=model_6495
modelzoom=328
buttontext=turn tile

// 147:7
[com_7]
type=model
x=154
y=131
width=26
height=26
buttontype=5
model=model_6496
modelzoom=328
buttontext=turn tile

// 147:8
[com_8]
type=model
x=186
y=131
width=26
height=26
buttontype=5
model=model_6497
modelzoom=328
buttontext=turn tile

// 147:9
[com_9]
type=model
x=63
y=162
width=26
height=26
buttontype=5
model=model_6498
modelzoom=328
buttontext=turn tile

// 147:10
[com_10]
type=model
x=93
y=162
width=26
height=26
buttontype=5
model=model_6499
modelzoom=328
buttontext=turn tile

// 147:11
[com_11]
type=model
x=123
y=162
width=26
height=26
buttontype=5
model=model_6500
modelzoom=328
buttontext=turn tile

// 147:12
[com_12]
type=model
x=154
y=162
width=26
height=26
buttontype=5
model=model_6501
modelzoom=328
buttontext=turn tile

// 147:13
[com_13]
type=model
x=186
y=162
width=26
height=26
buttontype=5
model=model_6478
modelzoom=328
buttontext=turn tile

// 147:14
[com_14]
type=model
x=63
y=192
width=26
height=26
buttontype=5
model=model_6479
modelzoom=328
buttontext=turn tile

// 147:15
[com_15]
type=model
x=93
y=192
width=26
height=26
buttontype=5
model=model_6480
modelzoom=328
buttontext=turn tile

// 147:16
[com_16]
type=model
x=123
y=192
width=26
height=26
buttontype=5
model=model_6481
modelzoom=328
buttontext=turn tile

// 147:17
[com_17]
type=model
x=154
y=192
width=26
height=26
buttontype=5
model=model_6482
modelzoom=328
buttontext=turn tile

// 147:18
[com_18]
type=model
x=185
y=192
width=26
height=26
buttontype=5
model=model_6483
modelzoom=328
buttontext=turn tile

// 147:19
[com_19]
type=model
x=63
y=222
width=26
height=26
buttontype=5
model=model_6484
modelzoom=328
buttontext=turn tile

// 147:20
[com_20]
type=model
x=93
y=222
width=26
height=26
buttontype=5
model=model_6485
modelzoom=328
buttontext=turn tile

// 147:21
[com_21]
type=model
x=123
y=222
width=26
height=26
buttontype=5
model=model_6486
modelzoom=328
buttontext=turn tile

// 147:22
[com_22]
type=model
x=154
y=222
width=26
height=26
buttontype=5
model=model_6487
modelzoom=328
buttontext=turn tile

// 147:23
[com_23]
type=model
x=186
y=222
width=26
height=26
buttontype=5
model=model_6489
modelzoom=328
buttontext=turn tile

// 147:24
[com_24]
type=model
x=63
y=254
width=26
height=26
buttontype=5
model=model_6490
modelzoom=328
buttontext=turn tile

// 147:25
[com_25]
type=model
x=93
y=254
width=26
height=26
buttontype=5
model=model_6491
modelzoom=328
buttontext=turn tile

// 147:26
[com_26]
type=model
x=124
y=253
width=26
height=26
buttontype=5
model=model_6492
modelzoom=328
buttontext=turn tile

// 147:27
[com_27]
type=model
x=154
y=253
width=26
height=26
buttontype=5
model=model_6493
modelzoom=328
buttontext=turn tile

// 147:28
[com_28]
type=model
x=185
y=254
width=26
height=26
buttontype=5
model=model_6494
modelzoom=328
buttontext=turn tile

// 147:29
[com_29]
type=model
x=313
y=145
width=157
height=164
buttontype=1
model=model_6476
modelangle=2036,2,0
modelzoom=336
buttontext=Reset puzzle

// 147:30
[com_30]
type=model
x=343
y=89
width=121
height=58
model=model_6473
modelangle=2037,1519,0
modelzoom=1021

// 147:31
[com_31]
type=graphic
x=450
y=34
width=26
height=23
mouseoverlayer=com_33
graphic="close_buttons,4"

// 147:32
[com_32]
type=graphic
x=3
y=6
width=26
height=23
layer=com_33
buttontype=3
graphic="close_buttons,5"

// 147:33
[com_33]
type=layer
x=447
y=28
width=32
height=32
hide=yes

