// 304:0
[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic="sworddecor,1"

// 304:1
[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic="sworddecor,0"

// 304:2
[com_2]
type=model
x=56
y=13
width=67
height=82
model=null
modelzoom=400

// 304:3
[com_3]
type=model
x=207
y=13
width=67
height=82
model=null
modelzoom=400

// 304:4
[com_4]
type=model
x=360
y=13
width=67
height=82
model=null
modelzoom=400

// 304:5
[com_5]
type=text
x=1
y=15
width=160
height=79
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 304:6
[com_6]
type=text
x=1
y=15
width=160
height=79
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 304:7
[com_7]
type=text
x=1
y=15
width=160
height=79
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 304:8
[com_8]
type=text
x=1
y=15
width=160
height=79
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 304:9
[com_9]
type=text
x=171
y=10
width=138
height=85
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 304:10
[com_10]
type=text
x=171
y=10
width=138
height=85
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 304:11
[com_11]
type=text
x=171
y=10
width=138
height=85
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 304:12
[com_12]
type=text
x=171
y=10
width=138
height=85
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 304:13
[com_13]
type=text
x=315
y=13
width=160
height=82
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 304:14
[com_14]
type=text
x=315
y=13
width=160
height=82
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 304:15
[com_15]
type=text
x=315
y=13
width=160
height=82
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 304:16
[com_16]
type=text
x=315
y=13
width=160
height=82
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 304:17
[com_17]
type=text
x=8
y=3
width=464
height=17
textfont=q8_full
text=What would you like to make?
textalignh=centre
colour=0x800000

