// 23:0
[com_0]
type=model
x=369
y=424
width=32
height=32
model=model_9630
modelangle=512,0,0
modelzoom=692

// 23:1
[com_1]
type=text
x=190
y=431
width=400
height=40
textfont=q8_full
textalignh=centre
textalignv=centre
colour=0x000000

// 23:2
[com_2]
type=text
x=190
y=411
width=400
height=14
textfont=p12_full
text=Message of the week
textalignh=centre
colour=0x800000

// 23:3
[com_3]
type=model
x=694
y=442
width=32
height=32
model=model_10223
modelangle=31,208,0
modelzoom=1072
modelanim=seq_2920

// 23:4
[com_4]
type=model
x=174
y=428
width=32
height=32
model=model_10222
modelangle=0,1550,0
modelzoom=400

// 23:5
[com_5]
type=model
x=576
y=427
width=32
height=32
model=model_10222
modelangle=0,1550,0
modelzoom=400

// 23:6
[com_6]
type=model
x=49
y=457
width=32
height=32
model=model_10221
modelangle=144,4,0
modelzoom=1800

