// 31:0
[com_0]
type=graphic
x=90
y=61
width=88
height=60
graphic=tradebacking

// 31:1
[com_1]
type=graphic
x=91
y=80
width=88
height=60
graphic=tradebacking

// 31:2
[com_2]
type=graphic
x=89
y=140
width=88
height=60
graphic=tradebacking

// 31:3
[com_3]
type=graphic
x=87
y=200
width=88
height=60
graphic=tradebacking

// 31:4
[com_4]
type=graphic
x=90
y=213
width=88
height=60
graphic=tradebacking

// 31:5
[com_5]
type=graphic
x=100
y=63
width=88
height=60
graphic=tradebacking

// 31:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 31:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 31:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 31:9
[com_9]
type=graphic
x=188
y=64
width=88
height=60
graphic=tradebacking

// 31:10
[com_10]
type=graphic
x=102
y=216
width=88
height=60
graphic=tradebacking

// 31:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 31:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 31:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 31:14
[com_14]
type=graphic
x=276
y=60
width=88
height=60
graphic=tradebacking

// 31:15
[com_15]
type=graphic
x=188
y=213
width=88
height=60
graphic=tradebacking

// 31:16
[com_16]
type=graphic
x=326
y=82
width=88
height=60
graphic=tradebacking

// 31:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 31:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 31:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 31:20
[com_20]
type=graphic
x=276
y=213
width=88
height=60
graphic=tradebacking

// 31:21
[com_21]
type=graphic
x=326
y=142
width=88
height=60
graphic=tradebacking

// 31:22
[com_22]
type=graphic
x=325
y=62
width=88
height=60
graphic=tradebacking

// 31:23
[com_23]
type=graphic
x=325
y=200
width=88
height=60
graphic=tradebacking

// 31:24
[com_24]
type=graphic
x=325
y=214
width=88
height=60
graphic=tradebacking

// 31:25
[com_25]
type=graphic
x=85
y=58
width=25
height=30
graphic="steelborder,0"

// 31:26
[com_26]
type=graphic
x=70
y=88
width=36
height=36
graphic="miscgraphics,2"

// 31:27
[com_27]
type=graphic
x=70
y=124
width=36
height=36
graphic="miscgraphics,2"

// 31:28
[com_28]
type=graphic
x=70
y=160
width=36
height=36
graphic="miscgraphics,2"

// 31:29
[com_29]
type=graphic
x=70
y=196
width=36
height=36
graphic="miscgraphics,2"

// 31:30
[com_30]
type=graphic
x=70
y=224
width=36
height=36
graphic="miscgraphics,2"

// 31:31
[com_31]
type=graphic
x=394
y=84
width=36
height=36
graphic="steelborder2,1"

// 31:32
[com_32]
type=graphic
x=394
y=106
width=36
height=36
graphic="steelborder2,1"

// 31:33
[com_33]
type=graphic
x=394
y=140
width=36
height=36
graphic="steelborder2,1"

// 31:34
[com_34]
type=graphic
x=394
y=176
width=36
height=36
graphic="steelborder2,1"

// 31:35
[com_35]
type=graphic
x=394
y=212
width=36
height=36
graphic="steelborder2,1"

// 31:36
[com_36]
type=graphic
x=110
y=257
width=36
height=36
graphic="miscgraphics,3"

// 31:37
[com_37]
type=graphic
x=146
y=257
width=36
height=36
graphic="miscgraphics,3"

// 31:38
[com_38]
type=graphic
x=182
y=257
width=36
height=36
graphic="miscgraphics,3"

// 31:39
[com_39]
type=graphic
x=218
y=257
width=36
height=36
graphic="miscgraphics,3"

// 31:40
[com_40]
type=graphic
x=254
y=257
width=36
height=36
graphic="miscgraphics,3"

// 31:41
[com_41]
type=graphic
x=290
y=257
width=36
height=36
graphic="miscgraphics,3"

// 31:42
[com_42]
type=graphic
x=326
y=257
width=36
height=36
graphic="miscgraphics,3"

// 31:43
[com_43]
type=graphic
x=362
y=257
width=36
height=36
graphic="miscgraphics,3"

// 31:44
[com_44]
type=graphic
x=218
y=43
width=36
height=36
graphic="steelborder2,0"

// 31:45
[com_45]
type=graphic
x=254
y=43
width=36
height=36
graphic="steelborder2,0"

// 31:46
[com_46]
type=graphic
x=289
y=43
width=36
height=36
graphic="steelborder2,0"

// 31:47
[com_47]
type=graphic
x=325
y=43
width=36
height=36
graphic="steelborder2,0"

// 31:48
[com_48]
type=graphic
x=357
y=43
width=36
height=36
graphic="steelborder2,0"

// 31:49
[com_49]
type=graphic
x=264
y=69
width=36
height=36
graphic="steelborder2,0"

// 31:50
[com_50]
type=graphic
x=182
y=43
width=36
height=36
graphic="steelborder2,0"

// 31:51
[com_51]
type=graphic
x=85
y=248
width=25
height=30
graphic="steelborder,2"

// 31:52
[com_52]
type=graphic
x=390
y=58
width=25
height=30
graphic="steelborder,1"

// 31:53
[com_53]
type=graphic
x=390
y=248
width=25
height=30
graphic="steelborder,3"

// 31:54
[com_54]
type=graphic
x=300
y=69
width=36
height=36
graphic="steelborder2,0"

// 31:55
[com_55]
type=graphic
x=336
y=69
width=36
height=36
graphic="steelborder2,0"

// 31:56
[com_56]
type=graphic
x=372
y=69
width=36
height=36
graphic="steelborder2,0"

// 31:57
[com_57]
type=graphic
x=377
y=69
width=36
height=36
graphic="steelborder2,0"

// 31:58
[com_58]
type=graphic
x=228
y=69
width=36
height=36
graphic="steelborder2,0"

// 31:59
[com_59]
type=graphic
x=192
y=69
width=36
height=36
graphic="steelborder2,0"

// 31:60
[com_60]
type=graphic
x=156
y=69
width=36
height=36
graphic="steelborder2,0"

// 31:61
[com_61]
type=graphic
x=89
y=69
width=36
height=36
graphic="steelborder2,0"

// 31:62
[com_62]
type=graphic
x=123
y=69
width=36
height=36
graphic="steelborder2,0"

// 31:63
[com_63]
type=graphic
x=110
y=43
width=36
height=36
graphic="steelborder2,0"

// 31:64
[com_64]
type=graphic
x=146
y=43
width=36
height=36
graphic="steelborder2,0"

// 31:65
[com_65]
type=layer
x=320
y=220
width=78
height=42

// 31:66
[com_66]
type=text
x=97
y=65
width=309
height=16
textfont=b12_full
text=Challenge: Select Game
textshadow=yes
colour=0xffaa44

// 31:67
[com_67]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_65
buttontype=1
colour=0x000000
fill=yes
buttontext=Challenge player

// 31:68
[com_68]
type=text
x=7
y=7
width=65
height=30
layer=com_65
textfont=p12_full
text=Select
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x008000
mouseovercolour=0x00ff00

// 31:69
[com_69]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_65
graphic="steelborder2,0"

// 31:70
[com_70]
type=graphic
width=25
height=30
layer=com_65
graphic="steelborder,0"

// 31:71
[com_71]
type=graphic
x=53
width=25
height=30
layer=com_65
graphic="steelborder,1"

// 31:72
[com_72]
type=graphic
y=13
width=25
height=30
layer=com_65
graphic="steelborder,2"

// 31:73
[com_73]
type=graphic
x=53
y=13
width=25
height=30
layer=com_65
graphic="steelborder,3"

// 31:74
[com_74]
type=graphic
x=21
y=22
width=36
height=36
layer=com_65
graphic="miscgraphics,3"

// 31:75
[com_75]
type=layer
x=115
y=121
width=277
height=137

// 31:76
[com_76]
type=graphic
x=8
y=28
width=14
height=15
layer=com_75
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select game
script=varplayer_261 = 0

// 31:77
[com_77]
type=graphic
x=8
y=58
width=14
height=15
layer=com_75
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select game
script=varplayer_261 = 1

// 31:78
[com_78]
type=text
x=30
y=28
width=80
height=14
layer=com_75
buttontype=1
textfont=p12_full
text=Draughts
textshadow=yes
colour=0xffaa44
buttontext=Select game

// 31:79
[com_79]
type=text
x=30
y=58
width=80
height=14
layer=com_75
buttontype=1
textfont=p12_full
text=Runelink
textshadow=yes
colour=0xffaa44
buttontext=Select game

// 31:80
[com_80]
type=text
x=112
y=28
width=80
height=15
layer=com_75
textfont=p12_full
text=100 vs 100
textshadow=yes
colour=0xaaaaaa

// 31:81
[com_81]
type=text
x=112
y=58
width=80
height=14
layer=com_75
textfont=p12_full
text=100 vs 100
textshadow=yes
colour=0xaaaaaa

// 31:82
[com_82]
type=text
x=30
y=3
width=80
height=15
layer=com_75
textfont=p12_full
text=Game:
textshadow=yes
colour=0xffaa44

// 31:83
[com_83]
type=text
x=112
y=3
width=177
height=17
layer=com_75
textfont=p12_full
text=Ranks (mine vs opponents):
textshadow=yes
colour=0xffaa44

// 31:84
[com_84]
type=graphic
x=8
y=88
width=14
height=15
layer=com_75
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select game
script=varplayer_261 = 2

// 31:85
[com_85]
type=text
x=30
y=88
width=80
height=14
layer=com_75
buttontype=1
textfont=p12_full
text=Runesquares
textshadow=yes
colour=0xffaa44
buttontext=Select game

// 31:86
[com_86]
type=text
x=112
y=88
width=80
height=14
layer=com_75
textfont=p12_full
text=100 vs 100
textshadow=yes
colour=0xaaaaaa

// 31:87
[com_87]
type=graphic
x=8
y=118
width=14
height=15
layer=com_75
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select game
script=varplayer_261 = 3

// 31:88
[com_88]
type=text
x=30
y=118
width=80
height=14
layer=com_75
buttontype=1
textfont=p12_full
text=Runeversi
textshadow=yes
colour=0xffaa44
buttontext=Select game

// 31:89
[com_89]
type=text
x=112
y=118
width=80
height=14
layer=com_75
textfont=p12_full
text=100 vs 100
textshadow=yes
colour=0xaaaaaa

// 31:90
[com_90]
type=graphic
x=388
y=62
width=26
height=23
mouseoverlayer=com_92
graphic="close_buttons,0"

// 31:91
[com_91]
type=graphic
x=4
y=3
width=26
height=23
layer=com_92
buttontype=3
graphic="close_buttons,1"

// 31:92
[com_92]
type=layer
x=384
y=59
width=32
height=32
hide=yes

