// 459:0
[com_0]
type=graphic
x=99
y=20
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:1
[com_1]
type=graphic
x=393
y=239
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:2
[com_2]
type=graphic
x=306
y=239
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:3
[com_3]
type=graphic
x=219
y=239
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:4
[com_4]
type=graphic
x=131
y=239
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:5
[com_5]
type=graphic
x=33
y=26
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:6
[com_6]
type=graphic
x=33
y=86
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:7
[com_7]
type=graphic
x=33
y=146
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:8
[com_8]
type=graphic
x=33
y=206
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:9
[com_9]
type=graphic
x=33
y=239
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:10
[com_10]
type=graphic
x=121
y=80
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:11
[com_11]
type=graphic
x=187
y=20
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:12
[com_12]
type=graphic
x=121
y=140
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:13
[com_13]
type=graphic
x=121
y=200
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:14
[com_14]
type=graphic
x=187
y=80
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:15
[com_15]
type=graphic
x=117
y=239
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:16
[com_16]
type=graphic
x=187
y=140
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:17
[com_17]
type=graphic
x=187
y=200
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:18
[com_18]
type=graphic
x=275
y=20
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:19
[com_19]
type=graphic
x=363
y=80
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:20
[com_20]
type=graphic
x=275
y=80
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:21
[com_21]
type=graphic
x=275
y=140
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:22
[com_22]
type=graphic
x=275
y=200
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:23
[com_23]
type=graphic
x=363
y=140
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:24
[com_24]
type=graphic
x=363
y=20
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:25
[com_25]
type=graphic
x=363
y=200
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:26
[com_26]
type=graphic
x=393
y=26
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:27
[com_27]
type=graphic
x=393
y=81
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:28
[com_28]
type=graphic
x=393
y=141
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:29
[com_29]
type=graphic
x=393
y=200
width=88
height=60
layer=com_87
graphic=tradebacking

// 459:30
[com_30]
type=graphic
x=12
y=49
width=36
height=36
layer=com_87
graphic="miscgraphics,2"

// 459:31
[com_31]
type=graphic
x=12
y=85
width=36
height=36
layer=com_87
graphic="miscgraphics,2"

// 459:32
[com_32]
type=graphic
x=12
y=121
width=36
height=36
layer=com_87
graphic="miscgraphics,2"

// 459:33
[com_33]
type=graphic
x=12
y=157
width=36
height=36
layer=com_87
graphic="miscgraphics,2"

// 459:34
[com_34]
type=graphic
x=12
y=193
width=36
height=36
layer=com_87
graphic="miscgraphics,2"

// 459:35
[com_35]
type=graphic
x=12
y=228
width=36
height=36
layer=com_87
graphic="miscgraphics,2"

// 459:36
[com_36]
type=graphic
x=12
y=252
width=36
height=36
layer=com_87
graphic="miscgraphics,2"

// 459:37
[com_37]
type=graphic
x=466
y=51
width=36
height=36
layer=com_87
graphic="steelborder2,1"

// 459:38
[com_38]
type=graphic
x=466
y=86
width=36
height=36
layer=com_87
graphic="steelborder2,1"

// 459:39
[com_39]
type=graphic
x=466
y=122
width=36
height=36
layer=com_87
graphic="steelborder2,1"

// 459:40
[com_40]
type=graphic
x=466
y=158
width=36
height=36
layer=com_87
graphic="steelborder2,1"

// 459:41
[com_41]
type=graphic
x=49
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:42
[com_42]
type=graphic
x=466
y=194
width=36
height=36
layer=com_87
graphic="steelborder2,1"

// 459:43
[com_43]
type=graphic
x=466
y=230
width=36
height=36
layer=com_87
graphic="steelborder2,1"

// 459:44
[com_44]
type=graphic
x=466
y=264
width=36
height=36
layer=com_87
graphic="steelborder2,1"

// 459:45
[com_45]
type=graphic
x=80
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 459:46
[com_46]
type=graphic
x=111
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 459:47
[com_47]
type=graphic
x=144
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 459:48
[com_48]
type=graphic
x=178
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 459:49
[com_49]
type=graphic
x=212
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 459:50
[com_50]
type=graphic
x=248
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 459:51
[com_51]
type=graphic
x=283
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 459:52
[com_52]
type=graphic
x=319
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 459:53
[com_53]
type=graphic
x=354
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 459:54
[com_54]
type=graphic
x=390
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 459:55
[com_55]
type=graphic
x=426
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 459:56
[com_56]
type=graphic
x=71
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:57
[com_57]
type=graphic
x=107
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:58
[com_58]
type=graphic
x=143
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:59
[com_59]
type=graphic
x=179
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:60
[com_60]
type=graphic
x=215
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:61
[com_61]
type=graphic
x=251
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:62
[com_62]
type=graphic
x=287
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:63
[com_63]
type=graphic
x=323
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:64
[com_64]
type=graphic
x=359
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:65
[com_65]
type=graphic
x=395
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:66
[com_66]
type=graphic
x=431
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:67
[com_67]
type=graphic
x=251
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:68
[com_68]
type=graphic
x=36
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:69
[com_69]
type=graphic
x=48
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 459:70
[com_70]
type=graphic
x=27
y=275
width=25
height=30
layer=com_87
graphic="steelborder,2"

// 459:71
[com_71]
type=graphic
x=462
y=20
width=25
height=30
layer=com_87
graphic="steelborder,1"

// 459:72
[com_72]
type=graphic
x=438
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:73
[com_73]
type=graphic
x=462
y=275
width=25
height=30
layer=com_87
graphic="steelborder,3"

// 459:74
[com_74]
type=graphic
x=287
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:75
[com_75]
type=graphic
x=323
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:76
[com_76]
type=graphic
x=27
y=20
width=25
height=30
layer=com_87
graphic="steelborder,0"

// 459:77
[com_77]
type=graphic
x=359
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:78
[com_78]
type=graphic
x=395
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:79
[com_79]
type=graphic
x=431
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:80
[com_80]
type=graphic
x=451
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:81
[com_81]
type=graphic
x=215
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:82
[com_82]
type=graphic
x=179
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:83
[com_83]
type=graphic
x=143
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:84
[com_84]
type=graphic
x=107
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:85
[com_85]
type=graphic
x=71
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:86
[com_86]
type=graphic
x=33
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 459:87
[com_87]
type=layer
x=-1
y=-1
width=511
height=334

// 459:88
[com_88]
type=text
x=35
y=29
width=445
height=18
textfont=b12_full
text=What would you like to spin?
textalignh=centre
textshadow=yes
colour=0xff981f

// 459:89
[com_89]
type=model
x=248
y=93
width=32
height=32
model=model_18331
modelangle=172,1905,0
modelzoom=400

// 459:90
[com_90]
type=text
x=234
y=134
width=50
height=16
textfont=p12_full
text=Bow String<br>(Flax)
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f
colouractive=0x00fe00
script=stat(crafting) > 9

// 459:91
[com_91]
type=layer
x=227
y=84
width=64
height=80

// 459:92
[com_92]
type=text
width=64
height=80
layer=com_91
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

// 459:93
[com_93]
type=text
width=64
height=80
layer=com_91
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

// 459:94
[com_94]
type=text
width=64
height=80
layer=com_91
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

// 459:95
[com_95]
type=text
width=64
height=80
layer=com_91
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

// 459:96
[com_96]
type=layer
x=94
y=87
width=64
height=80

// 459:97
[com_97]
type=text
width=64
height=80
layer=com_96
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

// 459:98
[com_98]
type=text
width=64
height=80
layer=com_96
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

// 459:99
[com_99]
type=text
width=64
height=80
layer=com_96
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

// 459:100
[com_100]
type=text
width=64
height=80
layer=com_96
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

// 459:101
[com_101]
type=model
x=115
y=94
width=32
height=32
model=model_2795
modelangle=134,220,0
modelzoom=480

// 459:102
[com_102]
type=text
x=101
y=135
width=50
height=16
textfont=p12_full
text=Ball of Wool<br>(Wool)
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f
colouractive=0x00fe00
script=stat(crafting) > 0

// 459:103
[com_103]
type=layer
x=350
y=90
width=64
height=80

// 459:104
[com_104]
type=text
width=64
height=80
layer=com_103
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

// 459:105
[com_105]
type=text
width=64
height=80
layer=com_103
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

// 459:106
[com_106]
type=text
width=64
height=80
layer=com_103
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

// 459:107
[com_107]
type=text
width=64
height=80
layer=com_103
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

// 459:108
[com_108]
type=model
x=366
y=90
width=32
height=32
model=model_18331
modelangle=170,1900,0
modelzoom=400

// 459:109
[com_109]
type=text
x=358
y=128
width=50
height=16
textfont=p12_full
text=Magic Amulet<br>String<br>(Magic Roots)
textlineheight=15
textalignh=centre
textshadow=yes
colour=0xff981f
colouractive=0x00fe00
script=stat(crafting) > 18

// 459:110
[com_110]
type=layer
x=229
y=204
width=64
height=80

// 459:111
[com_111]
type=text
width=64
height=80
layer=com_110
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

// 459:112
[com_112]
type=text
width=64
height=80
layer=com_110
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

// 459:113
[com_113]
type=text
width=64
height=80
layer=com_110
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

// 459:114
[com_114]
type=text
width=64
height=80
layer=com_110
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

// 459:115
[com_115]
type=model
x=244
y=207
width=32
height=32
model=model_18332
modelangle=255,84,0
modelzoom=464

// 459:116
[com_116]
type=text
x=236
y=252
width=50
height=16
textfont=p12_full
text=C'Bow String<br>(Sinew)
textlineheight=15
textalignh=centre
textshadow=yes
colour=0xff981f
colouractive=0x00fe00
script=stat(crafting) > 9

// 459:117
[com_117]
type=layer
x=96
y=203
width=64
height=80

// 459:118
[com_118]
type=text
width=64
height=80
layer=com_117
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

// 459:119
[com_119]
type=text
width=64
height=80
layer=com_117
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

// 459:120
[com_120]
type=text
width=64
height=80
layer=com_117
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

// 459:121
[com_121]
type=text
width=64
height=80
layer=com_117
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

// 459:122
[com_122]
type=model
x=111
y=204
width=32
height=32
model=model_18332
modelangle=250,79,0
modelzoom=464

// 459:123
[com_123]
type=text
x=103
y=251
width=50
height=16
textfont=p12_full
text=C'Bow String<br>(Tree Roots)
textlineheight=15
textalignh=centre
textshadow=yes
colour=0xff981f
colouractive=0x00fe00
script=stat(crafting) > 9

// 459:124
[com_124]
type=layer
x=350
y=204
width=64
height=80

// 459:125
[com_125]
type=text
width=64
height=80
layer=com_124
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

// 459:126
[com_126]
type=text
width=64
height=80
layer=com_124
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

// 459:127
[com_127]
type=text
width=64
height=80
layer=com_124
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

// 459:128
[com_128]
type=text
width=64
height=80
layer=com_124
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

// 459:129
[com_129]
type=model
x=365
y=214
width=32
height=32
model=model_1842
modelangle=188,1976,0
modelzoom=616

// 459:130
[com_130]
type=text
x=357
y=252
width=50
height=16
textfont=p12_full
text=Rope<br>(Yak Hair)
textlineheight=15
textalignh=centre
textshadow=yes
colour=0xff981f
colouractive=0x00fe00
script=stat(crafting) > 29

// 459:131
[com_131]
type=graphic
x=458
y=25
width=26
height=23
mouseoverlayer=com_133
graphic="close_buttons,0"

// 459:132
[com_132]
type=graphic
x=6
y=2
width=26
height=23
layer=com_133
buttontype=3
graphic="close_buttons,1"

// 459:133
[com_133]
type=layer
x=452
y=23
width=32
height=32
hide=yes

