// 416:0
[com_0]
type=model
x=232
y=144
width=32
height=32
model=model_15711
modelangle=507,2047,0
modelzoom=272

// 416:1
[com_1]
type=layer
y=175
width=513
height=159

// 416:2
[com_2]
type=model
x=241
y=227
width=32
height=32
layer=com_1
model=model_15786
modelangle=204,0,0
modelzoom=272

// 416:3
[com_3]
type=model
x=79
y=35
width=32
height=32
layer=com_1
model=model_1089
modelangle=180,1858,0
modelzoom=528

// 416:4
[com_4]
type=model
x=371
y=145
width=32
height=32
layer=com_1
model=model_15785
modelangle=252,39,0
modelzoom=394

// 416:5
[com_5]
type=model
x=279
y=152
width=32
height=32
layer=com_1
model=model_15747
modelangle=237,1828,0
modelzoom=400

// 416:6
[com_6]
type=text
x=16
y=163
width=166
height=102
mouseoverlayer=com_9
textfont=p12_full
textshadow=yes
colour=0xffff00

// 416:7
[com_7]
type=text
x=201
y=152
width=108
height=111
mouseoverlayer=com_12
textfont=p12_full
textshadow=yes
colour=0xffff00

// 416:8
[com_8]
type=text
x=353
y=156
width=131
height=103
mouseoverlayer=com_15
textfont=p12_full
textshadow=yes
colour=0xffff00

// 416:9
[com_9]
type=layer
x=4
y=18
width=204
height=70
hide=yes

// 416:10
[com_10]
type=model
x=86
y=10
width=32
height=32
layer=com_9
model=model_10119
modelangle=363,9,0
modelzoom=784

// 416:11
[com_11]
type=text
x=37
y=11
width=129
height=35
layer=com_9
textfont=q8_full
text=Bridge Section
textalignh=centre
textalignv=centre
colour=0x000000

// 416:12
[com_12]
type=layer
x=148
y=91
width=204
height=70
hide=yes

// 416:13
[com_13]
type=model
x=86
y=10
width=32
height=32
layer=com_12
model=model_10119
modelangle=363,6,0
modelzoom=784

// 416:14
[com_14]
type=text
x=41
y=12
width=124
height=35
layer=com_12
textfont=q8_full
text=Pipe Section
textalignh=centre
textalignv=centre
colour=0x000000

// 416:15
[com_15]
type=layer
x=291
y=20
width=204
height=70
hide=yes

// 416:16
[com_16]
type=model
x=86
y=10
width=32
height=32
layer=com_15
model=model_10119
modelangle=354,2044,0
modelzoom=784

// 416:17
[com_17]
type=text
x=44
y=9
width=122
height=40
layer=com_15
textfont=q8_full
text=Wooden Planks
textalignh=centre
textalignv=centre
colour=0x000000

// 416:18
[com_18]
type=graphic
x=482
y=4
width=26
height=23
mouseoverlayer=com_20
graphic="close_buttons,4"

// 416:19
[com_19]
type=graphic
x=3
y=4
width=26
height=23
layer=com_20
buttontype=3
graphic="close_buttons,5"

// 416:20
[com_20]
type=layer
x=479
width=32
height=32
hide=yes

