// 128:0
[com_0]
type=model
x=248
y=130
width=32
height=32
model=model_8398
modelactive=model_8397
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_842 = 1

// 128:1
[com_1]
type=model
x=248
y=130
width=32
height=32
model=model_8400
modelactive=model_8399
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_842 = 2

// 128:2
[com_2]
type=model
x=248
y=130
width=32
height=32
model=model_8402
modelactive=model_8401
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_843 = 1

// 128:3
[com_3]
type=model
x=248
y=130
width=32
height=32
model=model_8404
modelactive=model_8403
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_843 = 2

// 128:4
[com_4]
type=model
x=248
y=130
width=32
height=32
model=model_8406
modelactive=model_8405
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_844 = 1

// 128:5
[com_5]
type=model
x=248
y=130
width=32
height=32
model=model_8408
modelactive=model_8407
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_844 = 2

// 128:6
[com_6]
type=model
x=248
y=130
width=32
height=32
model=model_8410
modelactive=model_8409
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_845 = 1

// 128:7
[com_7]
type=model
x=248
y=130
width=32
height=32
model=model_8412
modelactive=model_8411
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_845 = 2

// 128:8
[com_8]
type=model
x=248
y=130
width=32
height=32
model=model_8414
modelactive=model_8413
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_846 = 1

// 128:9
[com_9]
type=model
x=248
y=130
width=32
height=32
model=model_8416
modelactive=model_8415
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_846 = 2

// 128:10
[com_10]
type=model
x=248
y=130
width=32
height=32
model=model_8418
modelactive=model_8417
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_847 = 1

// 128:11
[com_11]
type=model
x=248
y=130
width=32
height=32
model=model_8420
modelactive=model_8419
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_847 = 2

// 128:12
[com_12]
type=model
x=248
y=130
width=32
height=32
model=model_8422
modelactive=model_8421
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_848 = 1

// 128:13
[com_13]
type=model
x=248
y=130
width=32
height=32
model=model_8424
modelactive=model_8423
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_848 = 2

// 128:14
[com_14]
type=model
x=248
y=130
width=32
height=32
model=model_8426
modelactive=model_8425
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_849 = 1

// 128:15
[com_15]
type=model
x=248
y=130
width=32
height=32
model=model_8428
modelactive=model_8427
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_849 = 2

// 128:16
[com_16]
type=model
x=248
y=130
width=32
height=32
model=model_8445
modelangle=350,0,0
modelzoom=1200

// 128:17
[com_17]
type=model
x=248
y=130
width=32
height=32
model=model_8446
modelangle=350,0,0
modelzoom=1200

// 128:18
[com_18]
type=layer
x=142
y=123
width=32
height=32
hide=yes

// 128:19
[com_19]
type=model
x=106
y=7
width=32
height=32
layer=com_18
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_842 = 2

// 128:20
[com_20]
type=layer
x=190
y=89
width=32
height=32
hide=yes

// 128:21
[com_21]
type=model
x=106
y=7
width=32
height=32
layer=com_20
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_843 = 2

// 128:22
[com_22]
type=layer
x=184
y=162
width=32
height=32
hide=yes

// 128:23
[com_23]
type=model
x=106
y=7
width=32
height=32
layer=com_22
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_844 = 2

// 128:24
[com_24]
type=layer
x=266
y=56
width=32
height=32
hide=yes

// 128:25
[com_25]
type=model
x=106
y=7
width=32
height=32
layer=com_24
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_845 = 2

// 128:26
[com_26]
type=layer
x=268
y=90
width=32
height=32
hide=yes

// 128:27
[com_27]
type=model
x=106
y=7
width=32
height=32
layer=com_26
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_846 = 2

// 128:28
[com_28]
type=layer
x=227
y=203
width=32
height=32
hide=yes

// 128:29
[com_29]
type=model
x=106
y=7
width=32
height=32
layer=com_28
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_847 = 2

// 128:30
[com_30]
type=layer
x=269
y=162
width=32
height=32
hide=yes

// 128:31
[com_31]
type=model
x=106
y=7
width=32
height=32
layer=com_30
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_848 = 2

// 128:32
[com_32]
type=layer
x=314
y=203
width=32
height=32
hide=yes

// 128:33
[com_33]
type=model
x=106
y=7
width=32
height=32
layer=com_32
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_849 = 2

// 128:34
[com_34]
type=model
x=142
y=123
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 128:35
[com_35]
type=model
x=190
y=89
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 128:36
[com_36]
type=model
x=184
y=162
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 128:37
[com_37]
type=model
x=266
y=56
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 128:38
[com_38]
type=model
x=268
y=90
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 128:39
[com_39]
type=model
x=227
y=203
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 128:40
[com_40]
type=model
x=269
y=162
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 128:41
[com_41]
type=model
x=314
y=203
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 128:42
[com_42]
type=model
x=119
y=24
width=32
height=32
model=model_8429
modelangle=350,0,0
modelzoom=1200

// 128:43
[com_43]
type=model
x=119
y=55
width=32
height=32
model=model_8430
modelangle=350,0,0
modelzoom=1200

// 128:44
[com_44]
type=text
x=45
y=26
width=24
height=14
textfont=p12_full
text=x%1
textshadow=yes
colour=0xffff00
script0=varplayerbit_861

// 128:45
[com_45]
type=text
x=45
y=56
width=24
height=14
textfont=p12_full
text=x%1
textshadow=yes
colour=0xffff00
script0=varplayerbit_862

// 128:46
[com_46]
type=graphic
x=437
y=41
width=23
height=23
mouseoverlayer=com_48
graphic="close_buttons,4"

// 128:47
[com_47]
type=graphic
x=4
y=4
width=23
height=23
layer=com_48
buttontype=1
graphic="close_buttons,5"

// 128:48
[com_48]
type=layer
x=433
y=37
width=32
height=32
hide=yes

