// 24:0
[com_0]
type=text
x=378
y=310
width=124
height=16
textfont=p12_full
text=Kill Count: %1
textactive=Kill Count: Too Many!
textalignh=right
textshadow=yes
colour=0x7d7d4b
colouractive=0x4d4d2f
script=varplayerbit_464 > 9999

// 24:1
[com_1]
type=model
x=86
y=109
width=32
height=32
model=null
modelzoom=400

// 24:2
[com_2]
type=model
x=166
y=189
width=32
height=32
model=null
modelzoom=400

// 24:3
[com_3]
type=model
x=440
y=138
width=32
height=32
model=null
modelzoom=400

// 24:4
[com_4]
type=model
x=365
y=201
width=32
height=32
model=null
modelzoom=400

// 24:5
[com_5]
type=model
x=403
y=141
width=32
height=32
model=null
modelzoom=400

// 24:6
[com_6]
type=model
x=125
y=165
width=32
height=32
model=null
modelzoom=400

