// 182:0
[com_0]
type=text
x=7
y=38
width=179
height=112
textfont=p12_full
text=When you have finished playing<br>RuneScape, always use the<br>button below to logout safely.
textlineheight=18
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f

// 182:1
[com_1]
type=graphic
x=74
y=153
width=36
height=36
graphic="miscgraphics,7"

// 182:2
[com_2]
type=graphic
x=48
y=153
width=36
height=36
graphic="miscgraphics,7"

// 182:3
[com_3]
type=graphic
x=22
y=153
width=36
height=36
graphic="miscgraphics,7"

// 182:4
[com_4]
type=graphic
x=104
y=153
width=36
height=36
graphic="miscgraphics,8"

// 182:5
[com_5]
type=graphic
x=130
y=153
width=36
height=36
graphic="miscgraphics,8"

// 182:6
[com_6]
type=text
clientcode=205
x=25
y=154
width=141
height=36
buttontype=1
textfont=b12_full
text=Click here to logout
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xf7f0df
mouseovercolour=0xff0000

