// 7:0
[com_0]
type=rectangle
width=512
height=334
colour=0x000000
fill=yes

// 7:1
[com_1]
type=text
x=3
y=58
width=505
height=82
textfont=b12_full
text=Text
textalignh=centre
textshadow=yes

