// 256:0
[com_0]
type=rectangle
x=311
y=6
width=196
height=18
colour=0x000000

// 256:1
[com_1]
type=rectangle
x=311
y=23
width=196
height=82
colour=0x000000

// 256:2
[com_2]
type=rectangle
x=311
y=6
width=196
height=18
trans=128
colour=0x000000
fill=yes

// 256:3
[com_3]
type=rectangle
x=311
y=23
width=196
height=82
trans=196
colour=0x000000
fill=yes

// 256:4
[com_4]
type=text
x=334
y=8
width=165
height=16
textfont=b12_full
text=Current team
textshadow=yes
colour=0xffa81f

// 256:5
[com_5]
type=text
x=388
y=27
width=111
height=16
textfont=p12_full
text=-----
textshadow=yes
colour=0xffa81f

// 256:6
[com_6]
type=text
x=388
y=42
width=111
height=16
textfont=p12_full
text=-----
textshadow=yes
colour=0xffa81f

// 256:7
[com_7]
type=text
x=388
y=57
width=111
height=16
textfont=p12_full
text=-----
textshadow=yes
colour=0xffa81f

// 256:8
[com_8]
type=text
x=388
y=72
width=111
height=16
textfont=p12_full
text=-----
textshadow=yes
colour=0xffa81f

// 256:9
[com_9]
type=text
x=388
y=87
width=111
height=16
textfont=p12_full
text=-----
textshadow=yes
colour=0xffa81f

// 256:10
[com_10]
type=text
x=334
y=27
width=46
height=16
textfont=p12_full
text=Leader:
textshadow=yes
colour=0xffa800

// 256:11
[com_11]
type=text
x=334
y=42
width=46
height=16
textfont=p12_full
text=Player 1:
textshadow=yes
colour=0xffa800

// 256:12
[com_12]
type=text
x=334
y=57
width=46
height=16
textfont=p12_full
text=Player 2:
textshadow=yes
colour=0xffa800

// 256:13
[com_13]
type=text
x=334
y=72
width=46
height=16
textfont=p12_full
text=Player 3:
textshadow=yes
colour=0xffa800

// 256:14
[com_14]
type=text
x=334
y=87
width=46
height=16
textfont=p12_full
text=Player 4:
textshadow=yes
colour=0xffa800

// 256:15
[com_15]
type=model
x=317
y=27
width=16
height=16
model=null
modelangle=510,2014,0
modelzoom=4112

// 256:16
[com_16]
type=model
x=317
y=42
width=16
height=16
model=null
modelangle=510,2014,0
modelzoom=4112

// 256:17
[com_17]
type=model
x=317
y=57
width=16
height=16
model=null
modelangle=510,2014,0
modelzoom=4112

// 256:18
[com_18]
type=model
x=317
y=72
width=16
height=16
model=null
modelangle=510,2014,0
modelzoom=4112

// 256:19
[com_19]
type=model
x=317
y=87
width=16
height=16
model=null
modelangle=510,2014,0
modelzoom=4112

