// 46:0
[com_0]
type=model
x=457
y=24
width=32
height=32
model=model_11102
modelangle=512,0,0
modelzoom=470

// 46:1
[com_1]
type=text
x=437
y=75
width=73
height=16
textfont=p12_full
text=Runeversi
textalignh=centre
textshadow=yes
colour=0xaaaaaa

// 46:2
[com_2]
type=text
x=437
y=90
width=74
height=11
textfont=p11_full
text=Rank: %1
textalignh=centre
textshadow=yes
colour=0xaaaaaa
script0=varplayer_649

