// 185:0
[com_0]
type=model
x=151
y=143
width=31
height=32
model=model_7748
modelzoom=256
modelanim=seq_2308

// 185:1
[com_1]
type=model
x=151
y=143
width=31
height=32
model=model_7754
modelzoom=255
modelanim=seq_2308

// 185:2
[com_2]
type=model
x=151
y=143
width=31
height=32
model=model_7749
modelzoom=256
modelanim=seq_2308

// 185:3
[com_3]
type=model
x=64
y=60
width=31
height=32
model=model_7753
modelangle=1900,0,0
modelzoom=420

// 185:4
[com_4]
type=model
x=151
y=60
width=31
height=32
model=model_7750
modelangle=1900,0,0
modelzoom=420

// 185:5
[com_5]
type=model
x=238
y=60
width=31
height=32
model=model_7753
modelangle=1900,0,0
modelzoom=420

// 185:6
[com_6]
type=model
x=60
y=143
width=31
height=32
model=model_7753
modelzoom=420

// 185:7
[com_7]
type=model
x=151
y=143
width=31
height=32
model=model_7753
modelzoom=420

// 185:8
[com_8]
type=model
x=242
y=143
width=31
height=32
model=model_7751
modelzoom=420

// 185:9
[com_9]
type=model
x=64
y=229
width=31
height=32
model=model_7752
modelangle=150,0,0
modelzoom=420

// 185:10
[com_10]
type=model
x=150
y=230
width=31
height=32
model=model_7753
modelangle=150,0,0
modelzoom=420

// 185:11
[com_11]
type=model
x=239
y=230
width=31
height=32
model=model_7753
modelangle=150,0,0
modelzoom=420

// 185:12
[com_12]
type=model
x=151
y=139
width=31
height=32
model=model_7747
modelzoom=256

// 185:13
[com_13]
type=model
x=60
y=139
width=31
height=32
model=model_7747
modelzoom=256

// 185:14
[com_14]
type=model
x=242
y=139
width=31
height=32
model=model_7747
modelzoom=256

// 185:15
[com_15]
type=text
x=23
y=317
width=97
height=17
textfont=b12_full
text=DIAMOND
textalignh=centre
colour=0xceaf7e

// 185:16
[com_16]
type=text
x=121
y=317
width=90
height=17
textfont=b12_full
text=COINS
textalignh=centre
colour=0xceaf7e

// 185:17
[com_17]
type=text
x=212
y=317
width=88
height=17
textfont=b12_full
text=RING
textalignh=centre
colour=0xceaf7e

// 185:18
[com_18]
type=text
x=361
y=141
width=112
height=37
buttontype=1
textfont=b12_full
text=U N L O C K
textalignh=centre
textalignv=centre
colour=0x4f3f26
mouseovercolour=0xd9ad66
buttontext=U N L O C K

// 185:19
[com_19]
type=model
x=49
y=4
width=54
height=33
buttontype=1
model=null
modelzoom=400
buttontext=Up (left)

// 185:20
[com_20]
type=model
x=141
y=4
width=54
height=33
buttontype=1
model=null
modelzoom=400
buttontext=Up (middle)

// 185:21
[com_21]
type=model
x=232
y=4
width=54
height=33
buttontype=1
model=null
modelzoom=400
buttontext=Up (right)

// 185:22
[com_22]
type=model
x=47
y=285
width=54
height=33
buttontype=1
model=null
modelzoom=400
buttontext=Down (left)

// 185:23
[com_23]
type=model
x=138
y=286
width=54
height=33
buttontype=1
model=null
modelzoom=400
buttontext=Down (middle)

// 185:24
[com_24]
type=model
x=229
y=287
width=54
height=33
buttontype=1
model=null
modelzoom=400
buttontext=Down (right)

