// 443:0
[com_0]
type=rectangle
x=-1
width=514
height=335
colour=0x2a1e06
fill=yes

// 443:1
[com_1]
type=model
x=236
y=519
width=32
height=32
model=model_17199
modelangle=72,0,0
modelzoom=160

// 443:2
[com_2]
type=model
x=280
y=172
width=32
height=32
model=model_17197
modelangle=594,9,0
modelzoom=784

// 443:3
[com_3]
type=model
x=280
y=172
width=32
height=32
model=model_17198
modelangle=594,9,0
modelzoom=784

// 443:4
[com_4]
type=graphic
x=479
y=8
width=26
height=23
mouseoverlayer=com_6
graphic="close_buttons,4"

// 443:5
[com_5]
type=graphic
x=3
y=5
width=26
height=23
layer=com_6
buttontype=3
graphic="close_buttons,5"

// 443:6
[com_6]
type=layer
x=476
y=3
width=32
height=32
hide=yes

// 443:7
[com_7]
type=model
x=305
y=198
width=32
height=32
model=model_17196
modelangle=594,9,0
modelzoom=656

