// 70:0
[com_0]
type=model
x=414
y=34
width=32
height=32
model=null
modelangle=40,166,0
modelzoom=796

// 70:1
[com_1]
type=text
x=20
width=350
height=17
textfont=q8_full
text=Name
textalignh=centre
colour=0x800000

// 70:2
[com_2]
type=text
x=20
y=19
width=350
height=17
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

// 70:3
[com_3]
type=text
x=20
y=40
width=350
height=17
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

// 70:4
[com_4]
type=text
x=20
y=64
width=350
height=17
textfont=q8_full
text=Line3
textalignh=centre
colour=0x000000

