// 145:0
[com_0]
type=model
x=232
y=114
width=32
height=32
model=model_3623
modelangle=505,2047,0
modelzoom=571

// 145:1
[com_1]
type=layer
x=77
y=82
width=322
height=197
scrollheight=450

// 145:2
[com_2]
type=text
x=84
y=32
width=62
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Dwarf
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

// 145:3
[com_3]
type=text
x=82
y=82
width=183
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Wartface & Bentnoze
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

// 145:4
[com_4]
type=text
x=83
y=135
width=123
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Pirate Pete
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

// 145:5
[com_5]
type=text
x=80
y=178
width=143
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Lumbridge Guide
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

// 145:6
[com_6]
type=text
x=83
y=224
width=100
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Evil Dave
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

// 145:7
[com_7]
type=text
x=80
y=328
width=140
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Sir Amik Varze
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

// 145:8
[com_8]
type=text
x=77
y=376
width=240
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Skrach 'Bone Cruncher' Uglogwee
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

// 145:9
[com_9]
type=text
x=79
y=274
width=187
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Monkey Ambassador
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

// 145:10
[com_10]
type=inv
x=24
y=24
width=1
height=8
layer=com_1

// 145:11
[com_11]
type=graphic
x=420
y=18
width=26
height=23
mouseoverlayer=com_15
graphic="close_buttons,2"

// 145:12
[com_12]
type=text
x=142
y=24
width=200
height=14
textfont=b12_full
text=Recipe for Disaster
textalignh=centre
textshadow=yes
colour=0xffcc66

// 145:13
[com_13]
type=text
x=64
y=40
width=349
height=40
textfont=p12_full
text=This quest is comprised of the 8 mini quests highlighted below
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff9933

// 145:14
[com_14]
type=graphic
x=4
y=5
width=26
height=23
layer=com_15
buttontype=3
graphic="close_buttons,3"

// 145:15
[com_15]
type=layer
x=416
y=13
width=32
height=32
hide=yes

