// 47:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 47:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 47:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 47:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 47:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 47:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 47:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 47:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 47:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 47:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 47:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 47:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 47:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 47:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 47:14
[com_14]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 47:15
[com_15]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 47:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 47:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 47:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 47:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 47:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 47:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 47:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 47:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 47:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 47:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 47:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 47:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 47:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 47:29
[com_29]
type=graphic
x=409
y=258
width=88
height=60
graphic=tradebacking

// 47:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 47:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 47:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 47:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 47:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 47:35
[com_35]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 47:36
[com_36]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 47:37
[com_37]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 47:38
[com_38]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 47:39
[com_39]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 47:40
[com_40]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 47:41
[com_41]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 47:42
[com_42]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 47:43
[com_43]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 47:44
[com_44]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 47:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 47:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 47:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 47:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 47:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 47:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 47:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 47:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 47:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 47:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 47:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 47:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 47:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 47:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 47:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 47:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 47:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 47:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 47:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 47:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 47:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 47:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 47:67
[com_67]
type=text
x=43
y=58
width=140
height=25
textfont=p12_full
text=Insert a very long name here!
textshadow=yes
colour=0xffaa44

// 47:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 47:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 47:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 47:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 47:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 47:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 47:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 47:75
[com_75]
type=text
x=100
y=75
width=14
height=14
textfont=p12_full
text=vs
textshadow=yes
colour=0xaaaaaa

// 47:76
[com_76]
type=text
x=43
y=89
width=140
height=25
textfont=p12_full
text=Insert a very long name here!
textshadow=yes
colour=0xffaa44

// 47:77
[com_77]
type=graphic
x=183
y=26
width=36
height=36
graphic="miscgraphics,2"

// 47:78
[com_78]
type=graphic
x=183
y=62
width=36
height=36
graphic="miscgraphics,2"

// 47:79
[com_79]
type=graphic
x=183
y=98
width=36
height=36
graphic="miscgraphics,2"

// 47:80
[com_80]
type=graphic
x=183
y=134
width=36
height=36
graphic="miscgraphics,2"

// 47:81
[com_81]
type=graphic
x=183
y=170
width=36
height=36
graphic="miscgraphics,2"

// 47:82
[com_82]
type=graphic
x=162
y=34
width=36
height=36
graphic="steelborder2,0"

// 47:83
[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 47:84
[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 47:85
[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 47:86
[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 47:87
[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 47:88
[com_88]
type=text
x=21
y=29
width=176
height=17
textfont=b12_full
text=Runeversi
textshadow=yes
colour=0xffaa44

// 47:89
[com_89]
type=text
x=23
y=185
width=169
height=11
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

// 47:90
[com_90]
type=graphic
x=183
y=206
width=36
height=36
graphic="miscgraphics,2"

// 47:91
[com_91]
type=graphic
x=183
y=242
width=36
height=36
graphic="miscgraphics,2"

// 47:92
[com_92]
type=graphic
x=183
y=278
width=36
height=36
graphic="miscgraphics,2"

// 47:93
[com_93]
type=text
x=24
y=213
width=169
height=11
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

// 47:94
[com_94]
type=text
x=27
y=157
width=160
height=14
textfont=b12_full
text=Blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

// 47:95
[com_95]
type=layer
x=26
y=265
width=78
height=42

// 47:96
[com_96]
type=model
x=221
y=40
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:97
[com_97]
type=model
x=284
y=40
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:98
[com_98]
type=model
x=349
y=40
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:99
[com_99]
type=model
x=412
y=40
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:100
[com_100]
type=model
x=253
y=72
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:101
[com_101]
type=model
x=317
y=72
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:102
[com_102]
type=model
x=381
y=72
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:103
[com_103]
type=model
x=444
y=72
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:104
[com_104]
type=model
x=222
y=104
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:105
[com_105]
type=model
x=284
y=104
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:106
[com_106]
type=model
x=348
y=104
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:107
[com_107]
type=model
x=413
y=104
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:108
[com_108]
type=model
x=252
y=136
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:109
[com_109]
type=model
x=316
y=136
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:110
[com_110]
type=model
x=380
y=136
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:111
[com_111]
type=model
x=444
y=137
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:112
[com_112]
type=model
x=221
y=168
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:113
[com_113]
type=model
x=284
y=168
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:114
[com_114]
type=model
x=348
y=168
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:115
[com_115]
type=model
x=413
y=168
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:116
[com_116]
type=model
x=253
y=200
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:117
[com_117]
type=model
x=316
y=200
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:118
[com_118]
type=model
x=381
y=200
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:119
[com_119]
type=model
x=444
y=200
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:120
[com_120]
type=model
x=221
y=232
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:121
[com_121]
type=model
x=285
y=232
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:122
[com_122]
type=model
x=348
y=232
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:123
[com_123]
type=model
x=413
y=232
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:124
[com_124]
type=model
x=253
y=264
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:125
[com_125]
type=model
x=317
y=264
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:126
[com_126]
type=model
x=382
y=264
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:127
[com_127]
type=model
x=445
y=264
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 47:128
[com_128]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_95
buttontype=3
colour=0x000000
fill=yes

// 47:129
[com_129]
type=text
x=6
y=6
width=67
height=30
layer=com_95
textfont=p12_full
text=Close
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

// 47:130
[com_130]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_95
graphic="steelborder2,0"

// 47:131
[com_131]
type=graphic
width=25
height=30
layer=com_95
graphic="steelborder,0"

// 47:132
[com_132]
type=graphic
x=53
width=25
height=30
layer=com_95
graphic="steelborder,1"

// 47:133
[com_133]
type=graphic
y=12
width=25
height=30
layer=com_95
graphic="steelborder,2"

// 47:134
[com_134]
type=graphic
x=53
y=12
width=25
height=30
layer=com_95
graphic="steelborder,3"

// 47:135
[com_135]
type=graphic
x=21
y=21
width=36
height=36
layer=com_95
graphic="miscgraphics,3"

// 47:136
[com_136]
type=model
x=20
y=57
width=20
height=20
model=model_2399
modelangle=512,1024,0
modelzoom=1024

// 47:137
[com_137]
type=model
x=20
y=87
width=20
height=20
model=model_2652
modelangle=512,1024,0
modelzoom=1024

// 47:138
[com_138]
type=inv
x=221
y=40
width=8
height=8

// 47:139
[com_139]
type=rectangle
x=221
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 47:140
[com_140]
type=rectangle
x=253
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 47:141
[com_141]
type=rectangle
x=285
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 47:142
[com_142]
type=rectangle
x=317
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 47:143
[com_143]
type=rectangle
x=349
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 47:144
[com_144]
type=rectangle
x=381
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 47:145
[com_145]
type=rectangle
x=413
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 47:146
[com_146]
type=rectangle
x=445
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 47:147
[com_147]
type=rectangle
x=221
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 47:148
[com_148]
type=rectangle
x=253
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 47:149
[com_149]
type=rectangle
x=285
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 47:150
[com_150]
type=rectangle
x=317
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 47:151
[com_151]
type=rectangle
x=349
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 47:152
[com_152]
type=rectangle
x=381
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 47:153
[com_153]
type=rectangle
x=413
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 47:154
[com_154]
type=rectangle
x=445
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 47:155
[com_155]
type=rectangle
x=221
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 47:156
[com_156]
type=rectangle
x=253
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 47:157
[com_157]
type=rectangle
x=285
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 47:158
[com_158]
type=rectangle
x=317
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 47:159
[com_159]
type=rectangle
x=349
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 47:160
[com_160]
type=rectangle
x=381
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 47:161
[com_161]
type=rectangle
x=413
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 47:162
[com_162]
type=rectangle
x=445
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 47:163
[com_163]
type=rectangle
x=221
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 47:164
[com_164]
type=rectangle
x=253
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 47:165
[com_165]
type=rectangle
x=285
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 47:166
[com_166]
type=rectangle
x=317
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 47:167
[com_167]
type=rectangle
x=349
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 47:168
[com_168]
type=rectangle
x=381
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 47:169
[com_169]
type=rectangle
x=413
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 47:170
[com_170]
type=rectangle
x=445
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 47:171
[com_171]
type=rectangle
x=221
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 47:172
[com_172]
type=rectangle
x=253
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 47:173
[com_173]
type=rectangle
x=285
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 47:174
[com_174]
type=rectangle
x=317
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 47:175
[com_175]
type=rectangle
x=349
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 47:176
[com_176]
type=rectangle
x=381
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 47:177
[com_177]
type=rectangle
x=413
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 47:178
[com_178]
type=rectangle
x=445
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 47:179
[com_179]
type=rectangle
x=221
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 47:180
[com_180]
type=rectangle
x=253
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 47:181
[com_181]
type=rectangle
x=285
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 47:182
[com_182]
type=rectangle
x=317
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 47:183
[com_183]
type=rectangle
x=349
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 47:184
[com_184]
type=rectangle
x=381
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 47:185
[com_185]
type=rectangle
x=413
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 47:186
[com_186]
type=rectangle
x=445
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 47:187
[com_187]
type=rectangle
x=221
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 47:188
[com_188]
type=rectangle
x=253
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 47:189
[com_189]
type=rectangle
x=285
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 47:190
[com_190]
type=rectangle
x=317
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 47:191
[com_191]
type=rectangle
x=349
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 47:192
[com_192]
type=rectangle
x=381
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 47:193
[com_193]
type=rectangle
x=413
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 47:194
[com_194]
type=rectangle
x=445
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 47:195
[com_195]
type=rectangle
x=221
y=264
width=32
height=32
buttontype=1
colour=0xffffff

// 47:196
[com_196]
type=rectangle
x=253
y=264
width=32
height=32
buttontype=1
colour=0xffffff

// 47:197
[com_197]
type=rectangle
x=285
y=264
width=32
height=32
buttontype=1
colour=0xffffff

// 47:198
[com_198]
type=rectangle
x=317
y=264
width=32
height=32
buttontype=1
colour=0xffffff

// 47:199
[com_199]
type=rectangle
x=349
y=264
width=32
height=32
buttontype=1
colour=0xffffff

// 47:200
[com_200]
type=rectangle
x=381
y=264
width=32
height=32
buttontype=1
colour=0xffffff

// 47:201
[com_201]
type=rectangle
x=413
y=264
width=32
height=32
buttontype=1
colour=0xffffff

// 47:202
[com_202]
type=rectangle
x=445
y=264
width=32
height=32
buttontype=1
colour=0xffffff

