// 306:0
[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic="sworddecor,1"

// 306:1
[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic="sworddecor,0"

// 306:2
[com_2]
type=model
x=14
y=13
width=63
height=82
model=null
modelzoom=400

// 306:3
[com_3]
type=model
x=111
y=13
width=63
height=82
model=null
modelzoom=400

// 306:4
[com_4]
type=model
x=208
y=13
width=63
height=82
model=null
modelzoom=400

// 306:5
[com_5]
type=model
x=305
y=13
width=63
height=82
model=null
modelzoom=400

// 306:6
[com_6]
type=model
x=402
y=13
width=63
height=82
model=null
modelzoom=400

// 306:7
[com_7]
type=text
x=1
y=16
width=93
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 306:8
[com_8]
type=text
x=1
y=16
width=93
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 306:9
[com_9]
type=text
x=1
y=16
width=93
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 306:10
[com_10]
type=text
x=1
y=16
width=93
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 306:11
[com_11]
type=text
x=93
y=17
width=99
height=79
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 306:12
[com_12]
type=text
x=93
y=17
width=99
height=79
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 306:13
[com_13]
type=text
x=93
y=17
width=99
height=79
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 306:14
[com_14]
type=text
x=93
y=17
width=99
height=79
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 306:15
[com_15]
type=text
x=189
y=17
width=99
height=79
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 306:16
[com_16]
type=text
x=189
y=17
width=99
height=79
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 306:17
[com_17]
type=text
x=189
y=17
width=99
height=79
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 306:18
[com_18]
type=text
x=189
y=17
width=99
height=79
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 306:19
[com_19]
type=text
x=287
y=16
width=97
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 306:20
[com_20]
type=text
x=287
y=16
width=97
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 306:21
[com_21]
type=text
x=287
y=16
width=97
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 306:22
[com_22]
type=text
x=287
y=16
width=97
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 306:23
[com_23]
type=text
x=383
y=16
width=96
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 306:24
[com_24]
type=text
x=383
y=16
width=96
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 306:25
[com_25]
type=text
x=383
y=16
width=96
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 306:26
[com_26]
type=text
x=383
y=16
width=96
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 306:27
[com_27]
type=text
x=8
y=3
width=464
height=17
buttontype=6
textfont=q8_full
text=What would you like to make?
textalignh=centre
colour=0x800000

