// 406:0
[com_0]
type=graphic
x=116
y=23
width=20
height=20
mouseoverlayer=com_50
buttontype=1
graphic="magicoff,45"
graphicactive="magicon,45"
script=inv_total(interface_149:com_0, obj_554) + inv_total(interface_149:com_0, obj_4694) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4699) + inv_contains(interface_387:com_28, obj_1387) + inv_contains(interface_387:com_28, obj_1393) + inv_contains(interface_387:com_28, obj_1401) + inv_contains(interface_387:com_28, obj_3053) + inv_contains(interface_387:com_28, obj_3054) > 0
script=inv_total(interface_149:com_0, obj_565) > 1
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 3
script=stat(magic) > 59
script=inv_total(interface_387:com_28, obj_2416) + inv_total(interface_387:com_28, obj_8841) > 0

// 406:1
[com_1]
type=graphic
x=52
y=75
width=20
height=20
mouseoverlayer=com_11
buttontype=1
graphic="magicoff,31"
graphicactive="magicon,31"
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4
script=inv_total(interface_149:com_0, obj_565) > 0
script=stat(magic) > 61

// 406:2
[com_2]
type=graphic
x=116
y=75
width=20
height=20
mouseoverlayer=com_19
buttontype=1
graphic="magicoff,33"
graphicactive="magicon,33"
script=inv_total(interface_149:com_0, obj_555) + inv_total(interface_149:com_0, obj_4694) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4698) + inv_contains(interface_387:com_28, obj_1383) + inv_contains(interface_387:com_28, obj_1395) + inv_contains(interface_387:com_28, obj_1403) + inv_contains(interface_387:com_28, obj_6562) + inv_contains(interface_387:com_28, obj_6563) > 6
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4
script=inv_total(interface_149:com_0, obj_565) > 0
script=stat(magic) > 64

// 406:3
[com_3]
type=graphic
x=52
y=126
width=20
height=20
mouseoverlayer=com_29
buttontype=1
graphic="magicoff,36"
graphicactive="magicon,36"
script=inv_total(interface_149:com_0, obj_557) + inv_total(interface_149:com_0, obj_4696) + inv_total(interface_149:com_0, obj_4699) + inv_total(interface_149:com_0, obj_4698) + inv_contains(interface_387:com_28, obj_1385) + inv_contains(interface_387:com_28, obj_1399) + inv_contains(interface_387:com_28, obj_1407) + inv_contains(interface_387:com_28, obj_3053) + inv_contains(interface_387:com_28, obj_3054) + inv_contains(interface_387:com_28, obj_6562) + inv_contains(interface_387:com_28, obj_6563) > 6
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4
script=inv_total(interface_149:com_0, obj_565) > 0
script=stat(magic) > 69

// 406:4
[com_4]
type=graphic
x=116
y=126
width=20
height=20
mouseoverlayer=com_39
buttontype=1
graphic="magicoff,37"
graphicactive="magicon,37"
script=inv_total(interface_149:com_0, obj_554) + inv_total(interface_149:com_0, obj_4694) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4699) + inv_contains(interface_387:com_28, obj_1387) + inv_contains(interface_387:com_28, obj_1393) + inv_contains(interface_387:com_28, obj_1401) + inv_contains(interface_387:com_28, obj_3053) + inv_contains(interface_387:com_28, obj_3054) > 6
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4
script=inv_total(interface_149:com_0, obj_565) > 0
script=stat(magic) > 74

// 406:5
[com_5]
type=layer
x=3
y=178
width=186
height=85

// 406:6
[com_6]
type=text
x=8
y=189
width=173
height=68
textfont=p12_full
text=Select a Combat Spell
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb0a392

// 406:7
[com_7]
type=rectangle
x=3
y=9
width=178
height=72
layer=com_5
colour=0x726451

// 406:8
[com_8]
type=rectangle
x=4
y=10
width=176
height=70
layer=com_5
colour=0x726451

// 406:9
[com_9]
type=rectangle
x=4
y=10
width=177
height=71
layer=com_5
colour=0x2e2b23

// 406:10
[com_10]
type=rectangle
x=5
y=11
width=174
height=68
layer=com_5
colour=0x000000
fill=yes

// 406:11
[com_11]
type=layer
x=5
y=184
width=182
height=76
hide=yes

// 406:12
[com_12]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_11
colour=0x000000
fill=yes

// 406:13
[com_13]
type=text
x=3
y=4
width=174
height=16
layer=com_11
textfont=p12_full
text=Level 62 : Wind Wave
textalignh=centre
textshadow=yes
colour=0xfff000

// 406:14
[com_14]
type=text
x=3
y=17
width=174
height=15
layer=com_11
textfont=p11_full
text=A high level Air missile
textalignh=centre
textshadow=yes
colour=0x6b6f33

// 406:15
[com_15]
type=model
x=38
y=35
width=28
height=28
layer=com_11
model=model_2405
modelangle=512,1024,0
modelzoom=900

// 406:16
[com_16]
type=model
x=114
y=35
width=28
height=28
layer=com_11
model=model_2665
modelangle=512,1024,0
modelzoom=900

// 406:17
[com_17]
type=text
x=26
y=62
width=50
height=12
layer=com_11
textfont=p11_full
text=%1/5
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4

// 406:18
[com_18]
type=text
x=101
y=62
width=52
height=13
layer=com_11
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_565) > 0

// 406:19
[com_19]
type=layer
x=5
y=184
width=182
height=76
hide=yes

// 406:20
[com_20]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_19
colour=0x000000
fill=yes

// 406:21
[com_21]
type=text
x=2
y=3
width=182
height=20
layer=com_19
textfont=p12_full
text=Level 65 : Water Wave
textalignh=centre
textshadow=yes
colour=0xfff000

// 406:22
[com_22]
type=text
x=3
y=17
width=181
height=21
layer=com_19
textfont=p11_full
text=A high level Water missile
textalignh=centre
textshadow=yes
colour=0x6b6f33

// 406:23
[com_23]
type=model
x=26
y=35
width=28
height=28
layer=com_19
model=model_2652
modelangle=512,1024,0
modelzoom=900

// 406:24
[com_24]
type=model
x=78
y=35
width=28
height=28
layer=com_19
model=model_2405
modelangle=512,1024,0
modelzoom=900

// 406:25
[com_25]
type=model
x=130
y=35
width=28
height=28
layer=com_19
model=model_2665
modelangle=512,1024,0
modelzoom=900

// 406:26
[com_26]
type=text
x=17
y=62
width=45
height=12
layer=com_19
textfont=p11_full
text=%1/7
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_555) + inv_total(interface_149:com_0, obj_4694) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4698) + inv_contains(interface_387:com_28, obj_1383) + inv_contains(interface_387:com_28, obj_1395) + inv_contains(interface_387:com_28, obj_1403) + inv_contains(interface_387:com_28, obj_6562) + inv_contains(interface_387:com_28, obj_6563) > 6

// 406:27
[com_27]
type=text
x=69
y=62
width=47
height=13
layer=com_19
textfont=p11_full
text=%1/5
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4

// 406:28
[com_28]
type=text
x=120
y=62
width=46
height=11
layer=com_19
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_565) > 0

// 406:29
[com_29]
type=layer
x=5
y=184
width=182
height=76
hide=yes

// 406:30
[com_30]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_29
colour=0x000000
fill=yes

// 406:31
[com_31]
type=text
x=2
y=4
width=174
height=14
layer=com_29
textfont=p12_full
text=Level 70 : Earth Wave
textalignh=centre
textshadow=yes
colour=0xfff000

// 406:32
[com_32]
type=text
x=3
y=17
width=174
height=252
layer=com_29
textfont=p11_full
text=A high level Earth missile
textalignh=centre
textshadow=yes
colour=0x6b6f33

// 406:33
[com_33]
type=model
x=26
y=35
width=28
height=28
layer=com_29
model=model_2737
modelangle=512,1024,0
modelzoom=900

// 406:34
[com_34]
type=model
x=78
y=35
width=28
height=28
layer=com_29
model=model_2405
modelangle=512,1024,0
modelzoom=900

// 406:35
[com_35]
type=model
x=130
y=35
width=28
height=28
layer=com_29
model=model_2665
modelangle=512,1024,0
modelzoom=900

// 406:36
[com_36]
type=text
x=14
y=62
width=46
height=12
layer=com_29
textfont=p11_full
text=%1/7
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_557) + inv_total(interface_149:com_0, obj_4696) + inv_total(interface_149:com_0, obj_4699) + inv_total(interface_149:com_0, obj_4698) + inv_contains(interface_387:com_28, obj_1385) + inv_contains(interface_387:com_28, obj_1399) + inv_contains(interface_387:com_28, obj_1407) + inv_contains(interface_387:com_28, obj_3053) + inv_contains(interface_387:com_28, obj_3054) + inv_contains(interface_387:com_28, obj_6562) + inv_contains(interface_387:com_28, obj_6563) > 6

// 406:37
[com_37]
type=text
x=67
y=62
width=50
height=13
layer=com_29
textfont=p11_full
text=%1/5
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4

// 406:38
[com_38]
type=text
x=121
y=62
width=46
height=13
layer=com_29
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_565) > 0

// 406:39
[com_39]
type=layer
x=5
y=184
width=182
height=76
hide=yes

// 406:40
[com_40]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_39
colour=0x000000
fill=yes

// 406:41
[com_41]
type=text
x=2
y=4
width=178
height=294
layer=com_39
textfont=p12_full
text=Level 75 : Fire Wave
textalignh=centre
textshadow=yes
colour=0xfff000

// 406:42
[com_42]
type=text
x=3
y=17
width=178
height=14
layer=com_39
textfont=p11_full
text=A high level Fire missile
textalignh=centre
textshadow=yes
colour=0x6b6f33

// 406:43
[com_43]
type=model
x=26
y=35
width=28
height=28
layer=com_39
model=model_2399
modelangle=512,1024,0
modelzoom=900

// 406:44
[com_44]
type=model
x=78
y=35
width=28
height=28
layer=com_39
model=model_2405
modelangle=512,1024,0
modelzoom=900

// 406:45
[com_45]
type=model
x=130
y=35
width=28
height=28
layer=com_39
model=model_2665
modelangle=512,1024,0
modelzoom=900

// 406:46
[com_46]
type=text
x=15
y=62
width=48
height=12
layer=com_39
textfont=p11_full
text=%1/7
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_554) + inv_total(interface_149:com_0, obj_4694) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4699) + inv_contains(interface_387:com_28, obj_1387) + inv_contains(interface_387:com_28, obj_1393) + inv_contains(interface_387:com_28, obj_1401) + inv_contains(interface_387:com_28, obj_3053) + inv_contains(interface_387:com_28, obj_3054) > 6

// 406:47
[com_47]
type=text
x=69
y=62
width=47
height=12
layer=com_39
textfont=p11_full
text=%1/5
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4

// 406:48
[com_48]
type=text
x=120
y=62
width=48
height=12
layer=com_39
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_565) > 0

// 406:49
[com_49]
type=text
x=123
y=168
width=60
height=16
buttontype=1
textfont=p12_full
text=cancel
textalignh=centre
textshadow=yes
colour=0x808080

// 406:50
[com_50]
type=layer
x=5
y=184
width=182
height=76
hide=yes

// 406:51
[com_51]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_50
colour=0x000000
fill=yes

// 406:52
[com_52]
type=text
x=1
y=5
width=177
height=14
layer=com_50
textfont=p12_full
text=Level 60 : Claws of Guthix
textalignh=centre
textshadow=yes
colour=0xfff000

// 406:53
[com_53]
type=text
y=18
width=178
height=12
layer=com_50
textfont=p11_full
text=Summons the power of Guthix
textalignh=centre
textshadow=yes
colour=0x6b6f33

// 406:54
[com_54]
type=model
x=9
y=35
width=28
height=28
layer=com_50
model=model_2399
modelangle=512,1024,0
modelzoom=900

// 406:55
[com_55]
type=model
x=54
y=35
width=28
height=28
layer=com_50
model=model_2665
modelangle=512,1024,0
modelzoom=900

// 406:56
[com_56]
type=model
x=100
y=35
width=28
height=28
layer=com_50
model=model_2405
modelangle=512,1024,0
modelzoom=900

// 406:57
[com_57]
type=model
x=142
y=35
width=28
height=28
layer=com_50
model=model_15283
modelangle=319,0,0
modelzoom=1909
script=inv_total(interface_387:com_28, obj_2416) > 0

// 406:58
[com_58]
type=text
x=3
y=62
width=40
height=13
layer=com_50
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_554) + inv_total(interface_149:com_0, obj_4694) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4699) + inv_contains(interface_387:com_28, obj_1387) + inv_contains(interface_387:com_28, obj_1393) + inv_contains(interface_387:com_28, obj_1401) + inv_contains(interface_387:com_28, obj_3053) + inv_contains(interface_387:com_28, obj_3054) > 0

// 406:59
[com_59]
type=text
x=47
y=62
width=41
height=12
layer=com_50
textfont=p11_full
text=%1/2
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_565) > 1

// 406:60
[com_60]
type=text
x=136
y=62
width=38
height=12
layer=com_50
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_387:com_28, obj_2416) + inv_total(interface_387:com_28, obj_8841) > 0

// 406:61
[com_61]
type=text
x=92
y=62
width=41
height=12
layer=com_50
textfont=p11_full
text=%1/4
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 3

// 406:62
[com_62]
type=layer
x=5
y=184
width=182
height=76
hide=yes

// 406:63
[com_63]
type=graphic
x=52
y=23
width=20
height=20
mouseoverlayer=com_62
buttontype=1
graphic="magicoff,19"
graphicactive="magicon,19"
script=inv_total(interface_149:com_0, obj_557) + inv_total(interface_149:com_0, obj_4696) + inv_total(interface_149:com_0, obj_4699) + inv_total(interface_149:com_0, obj_4698) + inv_contains(interface_387:com_28, obj_1385) + inv_contains(interface_387:com_28, obj_1399) + inv_contains(interface_387:com_28, obj_1407) + inv_contains(interface_387:com_28, obj_3053) + inv_contains(interface_387:com_28, obj_3054) + inv_contains(interface_387:com_28, obj_6562) + inv_contains(interface_387:com_28, obj_6563) > 1
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 1
script=inv_total(interface_149:com_0, obj_562) > 0
script=stat(magic) > 38

// 406:64
[com_64]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_62
colour=0x000000
fill=yes

// 406:65
[com_65]
type=text
x=2
y=4
width=175
height=14
layer=com_62
textfont=p12_full
text=Level 39 : Crumble Undead
textalignh=centre
textshadow=yes
colour=0xfff000

// 406:66
[com_66]
type=text
x=3
y=17
width=174
height=22
layer=com_62
textfont=p11_full
text=Hits skeletons, ghosts,<br>shades & zombies hard
textalignh=centre
textshadow=yes
colour=0x6b6f33

// 406:67
[com_67]
type=model
x=26
y=35
width=28
height=28
layer=com_62
model=model_2737
modelangle=512,1024,0
modelzoom=900

// 406:68
[com_68]
type=model
x=78
y=35
width=28
height=28
layer=com_62
model=model_2405
modelangle=512,1024,0
modelzoom=900

// 406:69
[com_69]
type=model
x=130
y=35
width=28
height=28
layer=com_62
model=model_2707
modelangle=512,1024,0
modelzoom=900

// 406:70
[com_70]
type=text
x=17
y=62
width=43
height=11
layer=com_62
textfont=p11_full
text=%1/2
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_557) + inv_total(interface_149:com_0, obj_4696) + inv_total(interface_149:com_0, obj_4699) + inv_total(interface_149:com_0, obj_4698) + inv_contains(interface_387:com_28, obj_1385) + inv_contains(interface_387:com_28, obj_1399) + inv_contains(interface_387:com_28, obj_1407) + inv_contains(interface_387:com_28, obj_3053) + inv_contains(interface_387:com_28, obj_3054) + inv_contains(interface_387:com_28, obj_6562) + inv_contains(interface_387:com_28, obj_6563) > 1

// 406:71
[com_71]
type=text
x=69
y=62
width=45
height=12
layer=com_62
textfont=p11_full
text=%1/2
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 1

// 406:72
[com_72]
type=text
x=122
y=62
width=46
height=11
layer=com_62
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_562) > 0

