// 17:0
[com_0]
type=model
x=369
y=424
width=32
height=32
model=model_9630
modelangle=512,0,0
modelzoom=692

// 17:1
[com_1]
type=text
x=190
y=431
width=400
height=40
textfont=q8_full
textalignh=centre
textalignv=centre
colour=0x000000

// 17:2
[com_2]
type=text
x=190
y=411
width=400
height=14
textfont=p12_full
text=Message of the week
textalignh=centre
colour=0x800000

// 17:3
[com_3]
type=model
x=52
y=428
width=32
height=32
model=model_10233
modelangle=380,48,0
modelzoom=1000

// 17:4
[com_4]
type=model
x=653
y=444
width=32
height=32
model=model_11212
modelangle=425,1906,0
modelzoom=1556

// 17:5
[com_5]
type=model
x=688
y=418
width=32
height=32
model=model_11211
modelangle=653,2047,0
modelzoom=1316

// 17:6
[com_6]
type=model
x=13
y=438
width=32
height=32
model=model_11210
modelangle=605,1897,0
modelzoom=1572

// 17:7
[com_7]
type=model
x=91
y=446
width=32
height=32
model=model_11211
modelangle=521,117,0
modelzoom=1700

// 17:8
[com_8]
type=model
x=723
y=444
width=32
height=32
model=model_10233
modelangle=407,108,0
modelzoom=1512

