// 454:0
[com_0]
type=rectangle
width=520
height=340
colour=0x000000
fill=yes

// 454:1
[com_1]
type=layer
width=512
height=334

// 454:2
[com_2]
type=model
x=234
y=144
width=32
height=32
layer=com_1
model=model_18141
modelangle=476,0,0
modelzoom=984

// 454:3
[com_3]
type=model
x=234
y=144
width=32
height=32
layer=com_1
model=model_18142
modelangle=476,0,0
modelzoom=984

