// 531:0
[com_0]
type=model
x=242
y=154
width=32
height=32
model=model_25726
modelangle=512,0,0
modelzoom=465

// 531:1
[com_1]
type=graphic
x=487
y=8
width=26
height=23
mouseoverlayer=com_3
graphic="close_buttons,0"

// 531:2
[com_2]
type=graphic
x=10
y=4
width=26
height=23
layer=com_3
mouseoverlayer=com_3
buttontype=3
graphic="close_buttons,1"

// 531:3
[com_3]
type=layer
x=477
y=4
width=38
height=41
mouseoverlayer=com_3
hide=yes

