// 402:0
[com_0]
type=rectangle
x=-2
width=562
height=362
colour=0x000000
fill=yes

// 402:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 402:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 402:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 402:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 402:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 402:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 402:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 402:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 402:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 402:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 402:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 402:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 402:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 402:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 402:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 402:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 402:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 402:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 402:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 402:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 402:21
[com_21]
type=graphic
x=326
y=139
width=88
height=60
graphic=tradebacking

// 402:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 402:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 402:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 402:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 402:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 402:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 402:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 402:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 402:30
[com_30]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 402:31
[com_31]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 402:32
[com_32]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 402:33
[com_33]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 402:34
[com_34]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 402:35
[com_35]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 402:36
[com_36]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 402:37
[com_37]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 402:38
[com_38]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 402:39
[com_39]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 402:40
[com_40]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 402:41
[com_41]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 402:42
[com_42]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 402:43
[com_43]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 402:44
[com_44]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 402:45
[com_45]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 402:46
[com_46]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 402:47
[com_47]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 402:48
[com_48]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 402:49
[com_49]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 402:50
[com_50]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 402:51
[com_51]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 402:52
[com_52]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 402:53
[com_53]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 402:54
[com_54]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 402:55
[com_55]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 402:56
[com_56]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 402:57
[com_57]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 402:58
[com_58]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 402:59
[com_59]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 402:60
[com_60]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 402:61
[com_61]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 402:62
[com_62]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 402:63
[com_63]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 402:64
[com_64]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 402:65
[com_65]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 402:66
[com_66]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 402:67
[com_67]
type=text
x=41
y=30
width=417
height=13
textfont=b12_full
text=Room  Creation Menu
textalignh=centre
textshadow=yes
colour=0xff981f

// 402:68
[com_68]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 402:69
[com_69]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 402:70
[com_70]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 402:71
[com_71]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 402:72
[com_72]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 402:73
[com_73]
type=graphic
x=325
y=140
width=88
height=60
graphic=tradebacking

// 402:74
[com_74]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 402:75
[com_75]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 402:76
[com_76]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 402:77
[com_77]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 402:78
[com_78]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 402:79
[com_79]
type=layer
x=32
y=80
width=332
height=222
scrollheight=1279

// 402:80
[com_80]
type=model
x=14
y=102
width=49
height=34
layer=com_79
buttontype=1
model=model_12937
modelangle=202,1800,0
modelzoom=2000

// 402:81
[com_81]
type=model
x=11
y=45
width=49
height=34
layer=com_79
buttontype=1
model=model_12444
modelangle=79,1841,0
modelzoom=1643

// 402:82
[com_82]
type=model
x=13
y=157
width=49
height=34
layer=com_79
buttontype=1
model=model_12632
modelangle=174,272,0
modelzoom=1962

// 402:83
[com_83]
type=model
x=18
y=216
width=33
height=32
layer=com_79
buttontype=1
model=model_12457
modelangle=48,403,0
modelzoom=2477

// 402:84
[com_84]
type=model
x=18
y=287
width=34
height=31
layer=com_79
buttontype=1
model=model_12561
modelangle=78,203,0
modelzoom=1834

// 402:85
[com_85]
type=model
x=15
y=347
width=32
height=32
layer=com_79
buttontype=1
model=model_12393
modelangle=43,1746,0
modelzoom=3000

// 402:86
[com_86]
type=model
x=19
y=405
width=32
height=32
layer=com_79
buttontype=1
model=model_12551
modelangle=100,1831,0
modelzoom=3000

// 402:87
[com_87]
type=model
x=13
y=504
width=32
height=32
layer=com_79
buttontype=1
model=model_12955
modelangle=34,97,0
modelzoom=1194

// 402:88
[com_88]
type=model
x=38
y=531
width=58
height=4
layer=com_79
buttontype=1
model=model_12179
modelangle=127,1831,0
modelzoom=669

// 402:89
[com_89]
type=model
x=16
y=585
width=38
height=41
layer=com_79
buttontype=1
model=model_12555
modelangle=86,1994,0
modelzoom=2500

// 402:90
[com_90]
type=model
x=19
y=647
width=32
height=32
layer=com_79
buttontype=1
model=model_12970
modelangle=96,28,0
modelzoom=3700

// 402:91
[com_91]
type=model
x=19
y=705
width=32
height=32
layer=com_79
buttontype=1
model=model_19004
modelangle=222,1901,0
modelzoom=2200

// 402:92
[com_92]
type=model
x=19
y=765
width=32
height=32
layer=com_79
buttontype=1
model=model_12373
modelangle=123,1904,0
modelzoom=2200

// 402:93
[com_93]
type=model
x=19
y=814
width=32
height=32
layer=com_79
buttontype=1
model=model_13192
modelangle=141,1948,0
modelzoom=2200

// 402:94
[com_94]
type=model
x=23
y=881
width=32
height=32
layer=com_79
buttontype=1
model=model_13142
modelangle=114,129,0
modelzoom=1066

// 402:95
[com_95]
type=model
x=17
y=950
width=32
height=32
layer=com_79
buttontype=1
model=model_12594
modelangle=108,1868,0
modelzoom=2200

// 402:96
[com_96]
type=model
x=-1
y=1192
width=32
height=32
layer=com_79
buttontype=1
model=model_12217
modelangle=34,496,0
modelzoom=2500

// 402:97
[com_97]
type=model
x=23
y=1190
width=32
height=32
layer=com_79
buttontype=1
model=model_12551
modelangle=28,1850,0
modelzoom=3000

// 402:98
[com_98]
type=model
x=17
y=1249
width=32
height=32
layer=com_79
buttontype=1
model=model_11123
modelangle=111,1836,0
modelzoom=1168

// 402:99
[com_99]
type=model
x=38
y=1070
width=32
height=32
layer=com_79
buttontype=1
model=model_12217
modelangle=86,525,0
modelzoom=2602

// 402:100
[com_100]
type=model
x=10
y=1011
width=32
height=32
layer=com_79
buttontype=1
model=model_12433
modelangle=35,1360,0
modelzoom=2500

// 402:101
[com_101]
type=model
y=1129
width=32
height=32
layer=com_79
buttontype=1
model=model_12217
modelangle=92,93,0
modelzoom=2602

// 402:102
[com_102]
type=model
x=-3
y=1132
width=32
height=32
layer=com_79
buttontype=1
model=model_12217
modelangle=86,525,0
modelzoom=2602

// 402:103
[com_103]
type=model
x=36
y=1130
width=32
height=32
layer=com_79
buttontype=1
model=model_12217
modelangle=92,933,0
modelzoom=2602

// 402:104
[com_104]
type=model
x=39
y=1132
width=32
height=32
layer=com_79
buttontype=1
model=model_12217
modelangle=86,525,0
modelzoom=2602

// 402:105
[com_105]
type=model
x=13
y=1070
width=32
height=32
layer=com_79
buttontype=1
model=model_12217
modelangle=86,525,0
modelzoom=2602

// 402:106
[com_106]
type=model
x=-3
y=1070
width=32
height=32
layer=com_79
buttontype=1
model=model_12217
modelangle=86,525,0
modelzoom=2602

// 402:107
[com_107]
type=rectangle
x=32
y=80
width=349
height=222
colour=0x333333

// 402:108
[com_108]
type=text
x=78
y=19
width=162
height=32
layer=com_79
textfont=p12_full
text=Parlour: Lvl 1
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:109
[com_109]
type=text
x=78
y=83
width=162
height=32
layer=com_79
textfont=p12_full
text=Garden: Lvl 1
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:110
[com_110]
type=text
x=78
y=142
width=161
height=32
layer=com_79
textfont=p12_full
text=Kitchen: Lvl 5
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:111
[com_111]
type=text
x=78
y=205
width=162
height=32
layer=com_79
textfont=p12_full
text=Dining room: Lvl 10
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:112
[com_112]
type=text
x=78
y=264
width=162
height=32
layer=com_79
textfont=p12_full
text=Workshop: Lvl 15
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:113
[com_113]
type=text
x=78
y=322
width=162
height=32
layer=com_79
textfont=p12_full
text=Bedroom: Lvl 20
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:114
[com_114]
type=text
x=78
y=383
width=162
height=32
layer=com_79
textfont=p12_full
text=Hall - Skill trophies: Lvl 25
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:115
[com_115]
type=text
x=78
y=445
width=162
height=32
layer=com_79
textfont=p12_full
text=Games room: Lvl 30
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:116
[com_116]
type=text
x=78
y=504
width=161
height=32
layer=com_79
textfont=p12_full
text=Combat room: Lvl 32
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:117
[com_117]
type=text
x=69
y=562
width=162
height=32
layer=com_79
textfont=p12_full
text=Hall - Quest trophies: Lvl 35
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:118
[com_118]
type=text
x=78
y=623
width=162
height=32
layer=com_79
textfont=p12_full
text=Study: Lvl 40
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:119
[com_119]
type=text
x=78
y=684
width=162
height=32
layer=com_79
textfont=p12_full
text=Costume room: Lvl 42
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:120
[com_120]
type=text
x=78
y=745
width=162
height=32
layer=com_79
textfont=p12_full
text=Chapel: Lvl 45
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:121
[com_121]
type=text
x=78
y=804
width=162
height=32
layer=com_79
textfont=p12_full
text=Portal chamber: Lvl 50
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:122
[com_122]
type=text
x=78
y=864
width=161
height=32
layer=com_79
textfont=p12_full
text=Formal garden: Lvl 55
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:123
[com_123]
type=text
x=80
y=923
width=159
height=32
layer=com_79
textfont=p12_full
text=Throne room: Lvl 60
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:124
[com_124]
type=text
x=78
y=986
width=161
height=32
layer=com_79
textfont=p12_full
text=Oubliette: Lvl 65
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:125
[com_125]
type=text
x=78
y=1044
width=162
height=32
layer=com_79
textfont=p12_full
text=Dungeon - Corridor: Lvl 70
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:126
[com_126]
type=text
x=79
y=1103
width=161
height=32
layer=com_79
textfont=p12_full
text=Dungeon - Junction: Lvl 70
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:127
[com_127]
type=text
x=79
y=1167
width=161
height=32
layer=com_79
textfont=p12_full
text=Dungeon - Stairs: Lvl 70
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:128
[com_128]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 402:129
[com_129]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 402:130
[com_130]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 402:131
[com_131]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 402:132
[com_132]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 402:133
[com_133]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 402:134
[com_134]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 402:135
[com_135]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 402:136
[com_136]
type=rectangle
x=11
y=-27
width=374
height=47
colour=0x000000
fill=yes

// 402:137
[com_137]
type=text
x=21
y=60
width=329
height=14
textfont=p12_full
text=Select a room to build
textshadow=yes
colour=0xff981f

// 402:138
[com_138]
type=text
x=245
y=34
width=84
height=28
layer=com_79
textfont=p12_full
text=1000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 999

// 402:139
[com_139]
type=text
x=245
y=94
width=86
height=28
layer=com_79
textfont=p12_full
text=1000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 499

// 402:140
[com_140]
type=text
x=245
y=154
width=86
height=28
layer=com_79
textfont=p12_full
text=5000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 1249

// 402:141
[com_141]
type=text
x=245
y=214
width=85
height=28
layer=com_79
textfont=p12_full
text=5000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 1499

// 402:142
[com_142]
type=text
x=245
y=274
width=86
height=28
layer=com_79
textfont=p12_full
text=10000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 1499

// 402:143
[com_143]
type=text
x=245
y=334
width=86
height=28
layer=com_79
textfont=p12_full
text=10000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 1499

// 402:144
[com_144]
type=text
x=245
y=394
width=85
height=28
layer=com_79
textfont=p12_full
text=15000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 1999

// 402:145
[com_145]
type=text
x=245
y=454
width=86
height=28
layer=com_79
textfont=p12_full
text=25000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 2499

// 402:146
[com_146]
type=text
x=245
y=513
width=87
height=28
layer=com_79
textfont=p12_full
text=25000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 2499

// 402:147
[com_147]
type=text
x=245
y=575
width=86
height=28
layer=com_79
textfont=p12_full
text=25000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 1999

// 402:148
[com_148]
type=text
x=245
y=635
width=87
height=28
layer=com_79
textfont=p12_full
text=50000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 2499

// 402:149
[com_149]
type=text
x=245
y=696
width=86
height=28
layer=com_79
textfont=p12_full
text=50000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 2999

// 402:150
[com_150]
type=text
x=245
y=756
width=86
height=28
layer=com_79
textfont=p12_full
text=50000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 2999

// 402:151
[com_151]
type=text
x=245
y=816
width=87
height=28
layer=com_79
textfont=p12_full
text=100000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 2999

// 402:152
[com_152]
type=text
x=245
y=876
width=86
height=28
layer=com_79
textfont=p12_full
text=75000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 2999

// 402:153
[com_153]
type=text
x=245
y=937
width=86
height=28
layer=com_79
textfont=p12_full
text=150000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 9999

// 402:154
[com_154]
type=text
x=245
y=997
width=87
height=28
layer=com_79
textfont=p12_full
text=150000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 9999

// 402:155
[com_155]
type=text
x=245
y=1057
width=86
height=28
layer=com_79
textfont=p12_full
text=7500 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 4999

// 402:156
[com_156]
type=text
x=245
y=1117
width=86
height=28
layer=com_79
textfont=p12_full
text=7500 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 4999

// 402:157
[com_157]
type=text
x=245
y=1178
width=87
height=28
layer=com_79
textfont=p12_full
text=7500 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 4999

// 402:158
[com_158]
type=text
x=78
y=1227
width=162
height=32
layer=com_79
textfont=p12_full
text=Treasure room: Lvl 75
textalignv=centre
textshadow=yes
colour=0xccccff

// 402:159
[com_159]
type=text
x=245
y=1238
width=85
height=28
layer=com_79
textfont=p12_full
text=250000 coins
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0xffff00
script=varplayer_261 > 4999

// 402:160
[com_160]
type=rectangle
x=2
y=8
width=238
height=61
layer=com_79
buttontype=1
colour=0x333300

// 402:161
[com_161]
type=rectangle
x=2
y=70
width=238
height=61
layer=com_79
buttontype=1
colour=0x333300

// 402:162
[com_162]
type=rectangle
x=2
y=132
width=238
height=61
layer=com_79
buttontype=1
colour=0x333300

// 402:163
[com_163]
type=rectangle
x=2
y=194
width=238
height=56
layer=com_79
buttontype=1
colour=0x333300

// 402:164
[com_164]
type=rectangle
x=2
y=251
width=238
height=61
layer=com_79
buttontype=1
colour=0x333300

// 402:165
[com_165]
type=rectangle
x=2
y=313
width=238
height=58
layer=com_79
buttontype=1
colour=0x333300

// 402:166
[com_166]
type=rectangle
x=2
y=372
width=238
height=61
layer=com_79
buttontype=1
colour=0x333300

// 402:167
[com_167]
type=rectangle
x=2
y=434
width=238
height=56
layer=com_79
buttontype=1
colour=0x333300

// 402:168
[com_168]
type=rectangle
x=2
y=491
width=238
height=59
layer=com_79
buttontype=1
colour=0x333300

// 402:169
[com_169]
type=rectangle
x=2
y=551
width=238
height=59
layer=com_79
buttontype=1
colour=0x333300

// 402:170
[com_170]
type=rectangle
x=2
y=611
width=238
height=61
layer=com_79
buttontype=1
colour=0x333300

// 402:171
[com_171]
type=rectangle
x=2
y=674
width=238
height=58
layer=com_79
buttontype=1
colour=0x333300

// 402:172
[com_172]
type=rectangle
x=2
y=734
width=238
height=58
layer=com_79
buttontype=1
colour=0x333300

// 402:173
[com_173]
type=rectangle
x=2
y=793
width=238
height=57
layer=com_79
buttontype=1
colour=0x333300

// 402:174
[com_174]
type=rectangle
x=2
y=851
width=238
height=60
layer=com_79
buttontype=1
colour=0x333300

// 402:175
[com_175]
type=rectangle
x=2
y=912
width=238
height=61
layer=com_79
buttontype=1
colour=0x333300

// 402:176
[com_176]
type=rectangle
x=2
y=974
width=238
height=58
layer=com_79
buttontype=1
colour=0x333300

// 402:177
[com_177]
type=rectangle
x=2
y=1033
width=238
height=60
layer=com_79
buttontype=1
colour=0x333300

// 402:178
[com_178]
type=rectangle
x=2
y=1094
width=238
height=60
layer=com_79
buttontype=1
colour=0x333300

// 402:179
[com_179]
type=rectangle
x=2
y=1155
width=238
height=60
layer=com_79
buttontype=1
colour=0x333300

// 402:180
[com_180]
type=rectangle
x=2
y=1216
width=238
height=59
layer=com_79
buttontype=1
colour=0x333300

// 402:181
[com_181]
type=graphic
x=28
y=302
width=150
height=10
graphic=tradebacking

// 402:182
[com_182]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 402:183
[com_183]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 402:184
[com_184]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 402:185
[com_185]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 402:186
[com_186]
type=rectangle
x=24
y=319
width=123
height=32
colour=0x000000
fill=yes

// 402:187
[com_187]
type=graphic
x=471
y=26
width=26
height=23
mouseoverlayer=com_189
graphic="close_buttons,0"

// 402:188
[com_188]
type=graphic
x=4
y=3
width=26
height=23
layer=com_189
buttontype=3
graphic="close_buttons,1"

// 402:189
[com_189]
type=layer
x=467
y=23
width=32
height=32
hide=yes

