// 465:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 465:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 465:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 465:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 465:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 465:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 465:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 465:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 465:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 465:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 465:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 465:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 465:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 465:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 465:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 465:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 465:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 465:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 465:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 465:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 465:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 465:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 465:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 465:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 465:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 465:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 465:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 465:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 465:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 465:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 465:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 465:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 465:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 465:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 465:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 465:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 465:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 465:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 465:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 465:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 465:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 465:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 465:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 465:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 465:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 465:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 465:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 465:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 465:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 465:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 465:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 465:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 465:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 465:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 465:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 465:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 465:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 465:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 465:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 465:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 465:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 465:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 465:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 465:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 465:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 465:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 465:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 465:67
[com_67]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 465:68
[com_68]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 465:69
[com_69]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 465:70
[com_70]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 465:71
[com_71]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 465:72
[com_72]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 465:73
[com_73]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 465:74
[com_74]
type=layer
x=36
y=20
width=440
height=299

// 465:75
[com_75]
type=text
x=23
y=29
width=458
height=14
textfont=b12_full
text=Equip Your Character...
textshadow=yes
colour=0xff981f
colouractive=0xff981f

// 465:76
[com_76]
type=model
clientcode=328
x=209
y=201
width=136
height=168
model=model_6675
modelzoom=550
modelanim=seq_808

// 465:77
[com_77]
type=graphic
x=471
y=26
width=26
height=23
mouseoverlayer=com_79
buttontype=3
graphic="close_buttons,0"

// 465:78
[com_78]
type=graphic
x=6
y=4
width=26
height=23
layer=com_79
graphic="close_buttons,1"

// 465:79
[com_79]
type=layer
x=465
y=22
width=32
height=32
hide=yes

// 465:80
[com_80]
type=graphic
x=62
y=38
width=36
height=36
layer=com_104
graphic="miscgraphics,2"

// 465:81
[com_81]
type=graphic
x=62
y=67
width=36
height=36
layer=com_104
graphic="miscgraphics,2"

// 465:82
[com_82]
type=graphic
x=62
y=104
width=36
height=36
layer=com_104
graphic="miscgraphics,2"

// 465:83
[com_83]
type=graphic
x=62
y=145
width=36
height=36
layer=com_104
graphic="miscgraphics,2"

// 465:84
[com_84]
type=graphic
x=6
y=117
width=36
height=36
layer=com_104
graphic="miscgraphics,2"

// 465:85
[com_85]
type=graphic
x=6
y=153
width=36
height=36
layer=com_104
graphic="miscgraphics,2"

// 465:86
[com_86]
type=graphic
x=118
y=117
width=36
height=36
layer=com_104
graphic="miscgraphics,2"

// 465:87
[com_87]
type=graphic
x=118
y=153
width=36
height=36
layer=com_104
graphic="miscgraphics,2"

// 465:88
[com_88]
type=graphic
x=32
y=80
width=36
height=36
layer=com_104
graphic="miscgraphics,3"

// 465:89
[com_89]
type=graphic
x=91
y=80
width=36
height=36
layer=com_104
graphic="miscgraphics,3"

// 465:90
[com_90]
type=graphic
x=42
y=41
width=36
height=36
layer=com_104
graphic="miscgraphics,3"

// 465:91
[com_91]
type=graphic
x=96
y=40
width=36
height=36
layer=com_104
graphic="miscgraphics,3"

// 465:92
[com_92]
type=graphic
x=62
y=3
width=36
height=36
layer=com_104
graphic="miscgraphics,0"

// 465:93
[com_93]
type=graphic
x=21
y=42
width=36
height=36
layer=com_104
graphic="miscgraphics,0"

// 465:94
[com_94]
type=graphic
x=62
y=42
width=36
height=36
layer=com_104
graphic="miscgraphics,0"

// 465:95
[com_95]
type=graphic
x=103
y=42
width=36
height=36
layer=com_104
graphic="miscgraphics,0"

// 465:96
[com_96]
type=graphic
x=6
y=81
width=36
height=36
layer=com_104
graphic="miscgraphics,0"

// 465:97
[com_97]
type=graphic
x=62
y=81
width=36
height=36
layer=com_104
graphic="miscgraphics,0"

// 465:98
[com_98]
type=graphic
x=118
y=81
width=36
height=36
layer=com_104
graphic="miscgraphics,0"

// 465:99
[com_99]
type=graphic
x=62
y=121
width=36
height=36
layer=com_104
graphic="miscgraphics,0"

// 465:100
[com_100]
type=graphic
x=62
y=161
width=36
height=36
layer=com_104
graphic="miscgraphics,0"

// 465:101
[com_101]
type=graphic
x=6
y=161
width=36
height=36
layer=com_104
graphic="miscgraphics,0"

// 465:102
[com_102]
type=graphic
x=118
y=161
width=36
height=36
layer=com_104
graphic="miscgraphics,0"

// 465:103
[com_103]
type=inv
x=8
y=43
width=3
height=5
layer=com_104
paddingx=24
paddingy=8
slot1=56,-38,"wornicons,0"
slot2=-41,1,"wornicons,1"
slot3=-56,1,"wornicons,2"
slot4=0,0,"wornicons,3"
slot5=0,0,"wornicons,5"
slot6=0,0,"wornicons,6"
slot8=0,0,"wornicons,7"
slot10=0,0,"wornicons,8"
slot11=0,0,"wornicons,9"
slot13=112,-40,"wornicons,4"
slot14=41,-159,"wornicons,10"
op1=Remove
op2=Operate

// 465:104
[com_104]
type=layer
x=21
y=68
width=163
height=199

// 465:105
[com_105]
type=layer
x=358
y=70
width=147
height=234
scrollheight=110

// 465:106
[com_106]
type=text
x=7
y=1
width=111
height=15
layer=com_105
textfont=b12_full
text=Attack bonus
textshadow=yes
colour=0xff981f

// 465:107
[com_107]
type=text
x=7
y=93
width=111
height=15
layer=com_105
textfont=b12_full
text=Defence bonus
textshadow=yes
colour=0xff981f

// 465:108
[com_108]
type=text
x=14
y=15
width=111
height=15
layer=com_105
textfont=p12_full
text=Stab: +120
textshadow=yes
colour=0xff981f

// 465:109
[com_109]
type=text
x=14
y=29
width=111
height=15
layer=com_105
textfont=p12_full
text=Slash:+120
textshadow=yes
colour=0xff981f

// 465:110
[com_110]
type=text
x=14
y=43
width=111
height=15
layer=com_105
textfont=p12_full
text=Crush:+120
textshadow=yes
colour=0xff981f

// 465:111
[com_111]
type=text
x=14
y=57
width=111
height=15
layer=com_105
textfont=p12_full
text=Magic: +120
textshadow=yes
colour=0xff981f

// 465:112
[com_112]
type=text
x=14
y=71
width=111
height=15
layer=com_105
textfont=p12_full
text=Range: +120
textshadow=yes
colour=0xff981f

// 465:113
[com_113]
type=text
x=14
y=107
width=111
height=15
layer=com_105
textfont=p12_full
text=Stab: +120
textshadow=yes
colour=0xff981f

// 465:114
[com_114]
type=text
x=14
y=121
width=111
height=15
layer=com_105
textfont=p12_full
text=Slash: +120
textshadow=yes
colour=0xff981f

// 465:115
[com_115]
type=text
x=14
y=135
width=111
height=15
layer=com_105
textfont=p12_full
text=Crush: +120
textshadow=yes
colour=0xff981f

// 465:116
[com_116]
type=text
x=14
y=149
width=111
height=15
layer=com_105
textfont=p12_full
text=Magic: +120
textshadow=yes
colour=0xff981f

// 465:117
[com_117]
type=text
x=14
y=163
width=111
height=15
layer=com_105
textfont=p12_full
text=Range: +120
textshadow=yes
colour=0xff981f

// 465:118
[com_118]
type=text
x=7
y=183
width=111
height=15
layer=com_105
textfont=b12_full
text=Other bonuses
textshadow=yes
colour=0xff981f

// 465:119
[com_119]
type=text
x=14
y=197
width=111
height=15
layer=com_105
textfont=p12_full
text=Strength: +120
textshadow=yes
colour=0xff981f

// 465:120
[com_120]
type=text
x=14
y=211
width=111
height=15
layer=com_105
textfont=p12_full
text=Prayer: +120
textshadow=yes
colour=0xff981f

// 465:121
[com_121]
type=text
x=94
y=286
width=62
height=17
textfont=p12_full
text=%1kg
textalignv=centre
textshadow=yes
colour=0xff9800
script0=runweight_visible

// 465:122
[com_122]
type=graphic
x=73
y=285
width=17
height=18
graphic="options_icons_small,0"

// 465:123
[com_123]
type=tooltip
x=73
y=285
width=60
height=18
text=Weight carried includes all backpack items

// 465:124
[com_124]
type=graphic
x=570
y=409
width=32
height=36
buttontype=3
graphic=sideicons

