// 436:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 436:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 436:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 436:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 436:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 436:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 436:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 436:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 436:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 436:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 436:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 436:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 436:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 436:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 436:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 436:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 436:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 436:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 436:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 436:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 436:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 436:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 436:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 436:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 436:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 436:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 436:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 436:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 436:28
[com_28]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 436:29
[com_29]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 436:30
[com_30]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 436:31
[com_31]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 436:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 436:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 436:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 436:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 436:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 436:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 436:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 436:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 436:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 436:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 436:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 436:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 436:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 436:45
[com_45]
type=graphic
x=73
y=304
width=36
height=36
graphic="miscgraphics,3"

// 436:46
[com_46]
type=graphic
x=109
y=304
width=36
height=36
graphic="miscgraphics,3"

// 436:47
[com_47]
type=graphic
x=145
y=304
width=36
height=36
graphic="miscgraphics,3"

// 436:48
[com_48]
type=graphic
x=181
y=304
width=36
height=36
graphic="miscgraphics,3"

// 436:49
[com_49]
type=graphic
x=217
y=304
width=36
height=36
graphic="miscgraphics,3"

// 436:50
[com_50]
type=graphic
x=253
y=304
width=36
height=36
graphic="miscgraphics,3"

// 436:51
[com_51]
type=graphic
x=289
y=304
width=36
height=36
graphic="miscgraphics,3"

// 436:52
[com_52]
type=graphic
x=325
y=304
width=36
height=36
graphic="miscgraphics,3"

// 436:53
[com_53]
type=graphic
x=361
y=304
width=36
height=36
graphic="miscgraphics,3"

// 436:54
[com_54]
type=graphic
x=397
y=304
width=36
height=36
graphic="miscgraphics,3"

// 436:55
[com_55]
type=graphic
x=433
y=304
width=36
height=36
graphic="miscgraphics,3"

// 436:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 436:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 436:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 436:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 436:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 436:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 436:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 436:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 436:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 436:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 436:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 436:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 436:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 436:69
[com_69]
type=graphic
x=37
y=304
width=36
height=36
graphic="miscgraphics,3"

// 436:70
[com_70]
type=graphic
x=12
y=295
width=25
height=30
graphic="steelborder,2"

// 436:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 436:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 436:73
[com_73]
type=graphic
x=475
y=295
width=25
height=30
graphic="steelborder,3"

// 436:74
[com_74]
type=graphic
x=439
y=304
width=36
height=36
graphic="miscgraphics,3"

// 436:75
[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 436:76
[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 436:77
[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 436:78
[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 436:79
[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 436:80
[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 436:81
[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 436:82
[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 436:83
[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 436:84
[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 436:85
[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 436:86
[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 436:87
[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 436:88
[com_88]
type=rectangle
x=104
y=231
width=318
height=82
colour=0x000000
fill=yes

// 436:89
[com_89]
type=rectangle
x=103
y=230
width=319
height=83
colour=0x726451

// 436:90
[com_90]
type=text
x=22
y=30
width=471
height=15
textfont=b12_full
text=Gnome Cocktails
textalignh=centre
textshadow=yes
colour=0xff9900

// 436:91
[com_91]
type=model
x=217
y=71
width=72
height=72
mouseoverlayer=com_110
buttontype=1
model=null
modelangle=165,1894,0
modelzoom=400

// 436:92
[com_92]
type=model
x=23
y=40
width=32
height=32
layer=com_103
model=null
modelzoom=912

// 436:93
[com_93]
type=model
x=73
y=40
width=32
height=32
layer=com_103
model=null
modelzoom=912

// 436:94
[com_94]
type=model
x=130
y=31
width=32
height=32
layer=com_103
model=null
modelangle=201,1813,0
modelzoom=656

// 436:95
[com_95]
type=model
x=195
y=24
width=32
height=32
layer=com_103
model=null
modelangle=324,2038,0
modelzoom=784

// 436:96
[com_96]
type=model
x=263
y=24
width=32
height=32
layer=com_103
model=null
modelangle=324,2038,0
modelzoom=784

// 436:97
[com_97]
type=text
x=27
y=64
width=31
height=14
layer=com_103
textfont=p12_full
text=%1/2
textactive=%1/2
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2015) > 1

// 436:98
[com_98]
type=text
x=78
y=64
width=29
height=14
layer=com_103
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2019) > 0

// 436:99
[com_99]
type=text
x=134
y=64
width=29
height=14
layer=com_103
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2108) > 0

// 436:100
[com_100]
type=text
x=200
y=64
width=29
height=14
layer=com_103
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2120) > 0

// 436:101
[com_101]
type=text
x=268
y=64
width=29
height=14
layer=com_103
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2102) > 0

// 436:102
[com_102]
type=text
x=6
y=4
width=310
height=15
layer=com_103
textfont=p12_full
text=Wizard Blizzard
textalignh=centre
textshadow=yes
colour=0xd6a046

// 436:103
[com_103]
type=layer
x=100
y=229
width=318
height=82
hide=yes

// 436:104
[com_104]
type=model
x=326
y=65
width=65
height=76
mouseoverlayer=com_119
buttontype=1
model=null
modelzoom=400

// 436:105
[com_105]
type=model
x=102
y=40
width=32
height=32
layer=com_110
model=null
modelzoom=912

// 436:106
[com_106]
type=model
x=168
y=24
width=32
height=32
layer=com_110
model=null
modelangle=324,2038,0
modelzoom=784

// 436:107
[com_107]
type=text
x=108
y=62
width=29
height=14
layer=com_110
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2015) > 0

// 436:108
[com_108]
type=text
x=173
y=62
width=30
height=14
layer=com_110
textfont=p12_full
text=%1/3
textactive=%1/3
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2120) > 2

// 436:109
[com_109]
type=text
x=6
y=4
width=310
height=15
layer=com_110
textfont=p12_full
text=Short Green Guy
textalignh=centre
textshadow=yes
colour=0xd6a046

// 436:110
[com_110]
type=layer
x=100
y=229
width=318
height=82
hide=yes

// 436:111
[com_111]
type=model
x=106
y=65
width=73
height=75
mouseoverlayer=com_103
buttontype=1
model=null
modelzoom=400

// 436:112
[com_112]
type=model
x=84
y=36
width=32
height=32
layer=com_119
model=null
modelzoom=1168

// 436:113
[com_113]
type=model
x=144
y=24
width=32
height=32
layer=com_119
model=null
modelangle=324,2038,0
modelzoom=784

// 436:114
[com_114]
type=model
x=203
y=31
width=32
height=32
layer=com_119
model=null
modelangle=201,1813,0
modelzoom=656

// 436:115
[com_115]
type=text
x=89
y=64
width=29
height=14
layer=com_119
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2114) > 0

// 436:116
[com_116]
type=text
x=148
y=64
width=29
height=14
layer=com_119
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2102) > 0

// 436:117
[com_117]
type=text
x=207
y=64
width=29
height=14
layer=com_119
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2108) > 0

// 436:118
[com_118]
type=text
x=6
y=4
width=310
height=15
layer=com_119
textfont=p12_full
text=Fruit Blast
textalignh=centre
textshadow=yes
colour=0xd6a046

// 436:119
[com_119]
type=layer
x=100
y=230
width=318
height=82
hide=yes

// 436:120
[com_120]
type=model
x=70
y=151
width=63
height=72
mouseoverlayer=com_128
buttontype=1
model=null
modelzoom=400

// 436:121
[com_121]
type=model
x=82
y=36
width=32
height=32
layer=com_128
model=null
modelzoom=1168

// 436:122
[com_122]
type=model
x=196
y=24
width=32
height=32
layer=com_128
model=null
modelangle=324,2038,0
modelzoom=784

// 436:123
[com_123]
type=model
x=141
y=31
width=32
height=32
layer=com_128
model=null
modelangle=201,1813,0
modelzoom=656

// 436:124
[com_124]
type=text
x=87
y=64
width=31
height=14
layer=com_128
textfont=p12_full
text=%1/2
textactive=%1/2
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2114) > 1

// 436:125
[com_125]
type=text
x=146
y=64
width=29
height=14
layer=com_128
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2108) > 0

// 436:126
[com_126]
type=text
x=201
y=64
width=29
height=14
layer=com_128
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2102) > 0

// 436:127
[com_127]
type=text
x=6
y=4
width=310
height=15
layer=com_128
textfont=p12_full
text=Pineapple Punch
textalignh=centre
textshadow=yes
colour=0xd6a046

// 436:128
[com_128]
type=layer
x=100
y=230
width=318
height=82
hide=yes

// 436:129
[com_129]
type=model
x=174
y=152
width=63
height=72
mouseoverlayer=com_137
buttontype=1
model=null
modelangle=165,1894,0
modelzoom=400

// 436:130
[com_130]
type=model
x=91
y=40
width=32
height=32
layer=com_137
model=null
modelzoom=912

// 436:131
[com_131]
type=model
x=144
y=40
width=32
height=32
layer=com_137
model=null
modelzoom=912

// 436:132
[com_132]
type=model
x=197
y=30
width=32
height=32
layer=com_137
model=null
modelzoom=1040

// 436:133
[com_133]
type=text
x=97
y=64
width=29
height=14
layer=com_137
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2015) > 0

// 436:134
[com_134]
type=text
x=151
y=64
width=29
height=14
layer=com_137
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2019) > 0

// 436:135
[com_135]
type=text
x=201
y=64
width=29
height=14
layer=com_137
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2126) > 0

// 436:136
[com_136]
type=text
x=6
y=4
width=310
height=15
layer=com_137
textfont=p12_full
text=Drunk Dragon
textalignh=centre
textshadow=yes
colour=0xd6a046

// 436:137
[com_137]
type=layer
x=100
y=230
width=318
height=82
hide=yes

// 436:138
[com_138]
type=model
x=272
y=149
width=77
height=74
mouseoverlayer=com_148
buttontype=1
model=null
modelangle=165,1894,0
modelzoom=400

// 436:139
[com_139]
type=model
x=56
y=40
width=32
height=32
layer=com_148
model=null
modelzoom=912

// 436:140
[com_140]
type=model
x=117
y=29
width=32
height=32
layer=com_148
model=null
modelangle=327,1909,0
modelzoom=528

// 436:141
[com_141]
type=model
x=171
y=36
width=32
height=32
layer=com_148
model=null
modelangle=162,1672,0
modelzoom=784

// 436:142
[com_142]
type=model
x=224
y=29
width=32
height=32
layer=com_148
model=null
modelzoom=400

// 436:143
[com_143]
type=text
x=61
y=64
width=29
height=14
layer=com_148
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2017) > 0

// 436:144
[com_144]
type=text
x=120
y=64
width=29
height=14
layer=com_148
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2128) > 0

// 436:145
[com_145]
type=text
x=175
y=64
width=29
height=14
layer=com_148
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1927) > 0

// 436:146
[com_146]
type=text
x=229
y=64
width=29
height=14
layer=com_148
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1973) > 0

// 436:147
[com_147]
type=text
x=6
y=4
width=310
height=15
layer=com_148
textfont=p12_full
text=Chocolate Saturday
textalignh=centre
textshadow=yes
colour=0xd6a046

// 436:148
[com_148]
type=layer
x=100
y=230
width=318
height=82
hide=yes

// 436:149
[com_149]
type=model
x=378
y=152
width=61
height=71
mouseoverlayer=com_161
buttontype=1
model=null
modelangle=165,1894,0
modelzoom=400

// 436:150
[com_150]
type=model
x=24
y=40
width=32
height=32
layer=com_161
model=null
modelzoom=912

// 436:151
[com_151]
type=model
x=77
y=40
width=32
height=32
layer=com_161
model=null
modelzoom=912

// 436:152
[com_152]
type=model
x=135
y=40
width=32
height=32
layer=com_161
model=null
modelzoom=912

// 436:153
[com_153]
type=model
x=195
y=31
width=32
height=32
layer=com_161
model=null
modelangle=201,1813,0
modelzoom=656

// 436:154
[com_154]
type=model
x=262
y=24
width=32
height=32
layer=com_161
model=null
modelangle=324,2038,0
modelzoom=784

// 436:155
[com_155]
type=text
x=29
y=64
width=29
height=14
layer=com_161
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2015) > 0

// 436:156
[com_156]
type=text
x=83
y=64
width=29
height=14
layer=com_161
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2021) > 0

// 436:157
[com_157]
type=text
x=141
y=64
width=29
height=14
layer=com_161
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2019) > 0

// 436:158
[com_158]
type=text
x=199
y=64
width=29
height=14
layer=com_161
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2108) > 0

// 436:159
[com_159]
type=text
x=6
y=4
width=310
height=15
layer=com_161
textfont=p12_full
text=Blurberry Special
textalignh=centre
textshadow=yes
colour=0xd6a046

// 436:160
[com_160]
type=text
x=266
y=64
width=31
height=14
layer=com_161
textfont=p12_full
text=%1/2
textactive=%1/2
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2102) > 1

// 436:161
[com_161]
type=layer
x=100
y=230
width=318
height=82
hide=yes

// 436:162
[com_162]
type=text
x=250
y=4
width=65
height=15
layer=com_119
textfont=p12_full
text=level 6
textactive=level 6
textalignh=right
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=stat(cooking) > 5

// 436:163
[com_163]
type=text
x=250
y=4
width=65
height=15
layer=com_128
textfont=p12_full
text=level 8
textactive=level 8
textalignh=right
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=stat(cooking) > 7

// 436:164
[com_164]
type=text
x=250
y=4
width=65
height=15
layer=com_103
textfont=p12_full
text=level 18
textactive=level 18
textalignh=right
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=stat(cooking) > 17

// 436:165
[com_165]
type=text
x=250
y=4
width=65
height=15
layer=com_110
textfont=p12_full
text=level 20
textactive=level 20
textalignh=right
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=stat(cooking) > 19

// 436:166
[com_166]
type=text
x=250
y=4
width=65
height=15
layer=com_148
textfont=p12_full
text=level 33
textactive=level 33
textalignh=right
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=stat(cooking) > 32

// 436:167
[com_167]
type=text
x=250
y=4
width=65
height=15
layer=com_161
textfont=p12_full
text=level 37
textactive=level 37
textalignh=right
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=stat(cooking) > 37

// 436:168
[com_168]
type=text
x=250
y=4
width=65
height=15
layer=com_137
textfont=p12_full
text=level 32
textactive=level 32
textalignh=right
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=stat(cooking) > 31

// 436:169
[com_169]
type=text
x=100
y=127
width=90
height=25
textfont=p12_full
text=Wizard Blizzard
textactive=Wizard Blizzard
textalignh=centre
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2015) > 1
script=inv_total(interface_149:com_0, obj_2019) > 0
script=inv_total(interface_149:com_0, obj_2108) > 0
script=inv_total(interface_149:com_0, obj_2120) > 0
script=inv_total(interface_149:com_0, obj_2102) > 0

// 436:170
[com_170]
type=text
x=207
y=127
width=90
height=25
textfont=p12_full
text=Short Green Guy
textactive=Short Green Guy
textalignh=centre
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2015) > 0
script=inv_total(interface_149:com_0, obj_2120) > 2

// 436:171
[com_171]
type=text
x=315
y=128
width=90
height=25
textfont=p12_full
text=Fruit Blast
textactive=Fruit Blast
textalignh=centre
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2114) > 0
script=inv_total(interface_149:com_0, obj_2102) > 0
script=inv_total(interface_149:com_0, obj_2108) > 0

// 436:172
[com_172]
type=text
x=54
y=199
width=90
height=25
textfont=p12_full
text=Pineapple Punch
textactive=Pineapple Punch
textalignh=centre
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2114) > 1
script=inv_total(interface_149:com_0, obj_2102) > 0
script=inv_total(interface_149:com_0, obj_2108) > 0

// 436:173
[com_173]
type=text
x=161
y=199
width=90
height=25
textfont=p12_full
text=Drunk Dragon
textactive=Drunk Dragon
textalignh=centre
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2015) > 0
script=inv_total(interface_149:com_0, obj_2019) > 0
script=inv_total(interface_149:com_0, obj_2126) > 0

// 436:174
[com_174]
type=text
x=266
y=199
width=90
height=25
textfont=p12_full
text=Chocolate Saturday
textactive=Chocolate Saturday
textalignh=centre
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2017) > 0
script=inv_total(interface_149:com_0, obj_2128) > 0
script=inv_total(interface_149:com_0, obj_1927) > 0
script=inv_total(interface_149:com_0, obj_1973) > 0

// 436:175
[com_175]
type=text
x=363
y=199
width=90
height=25
textfont=p12_full
text=Blurberry Special
textactive=Blurberry Special
textalignh=centre
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2015) > 0
script=inv_total(interface_149:com_0, obj_2019) > 0
script=inv_total(interface_149:com_0, obj_2021) > 0
script=inv_total(interface_149:com_0, obj_2102) > 1
script=inv_total(interface_149:com_0, obj_2108) > 0

// 436:176
[com_176]
type=graphic
x=471
y=26
width=26
height=23
mouseoverlayer=com_178
graphic="close_buttons,0"

// 436:177
[com_177]
type=graphic
x=3
y=4
width=26
height=23
layer=com_178
buttontype=3
graphic="close_buttons,1"

// 436:178
[com_178]
type=layer
x=468
y=22
width=32
height=32
hide=yes

