// 431:0
[com_0]
type=rectangle
width=512
height=400
colour=0x282822
fill=yes

// 431:1
[com_1]
type=model
x=227
y=140
width=32
height=32
model=model_4652
modelangle=366,6,0
modelzoom=899

// 431:2
[com_2]
type=text
x=290
y=184
width=81
height=50
textfont=q8_full
text=Pirates'<br> Cove
textalignh=centre
textalignv=centre
colour=0x2e2125

// 431:3
[com_3]
type=text
x=122
y=136
width=121
height=66
textfont=q8_full
text=Moonclan<br> Island
textalignh=centre
textalignv=centre
colour=0x2e2125

// 431:4
[com_4]
type=model
x=250
y=154
width=32
height=32
model=model_16740
modelangle=338,0,0
modelzoom=1406

// 431:5
[com_5]
type=model
x=124
y=263
width=32
height=32
model=model_3387
modelangle=304,1885,0
modelzoom=801

// 431:6
[com_6]
type=model
x=159
y=259
width=32
height=32
model=model_3387
modelangle=370,195,0
modelzoom=801

// 431:7
[com_7]
type=model
x=337
y=131
width=32
height=32
model=model_3387
modelangle=232,1891,0
modelzoom=815

// 431:8
[com_8]
type=model
x=376
y=126
width=32
height=32
model=model_3387
modelangle=364,111,0
modelzoom=815

// 431:9
[com_9]
type=model
x=179
y=261
width=32
height=32
model=model_3387
modelangle=304,1885,0
modelzoom=801

// 431:10
[com_10]
type=model
x=214
y=257
width=32
height=32
model=model_3387
modelangle=370,195,0
modelzoom=801

// 431:11
[com_11]
type=model
x=139
y=65
width=32
height=32
model=model_3387
modelangle=232,1891,0
modelzoom=1071

// 431:12
[com_12]
type=model
x=164
y=62
width=32
height=32
model=model_3387
modelangle=364,111,0
modelzoom=1327

// 431:13
[com_13]
type=model
x=297
y=183
width=32
height=32
model=model_16741
modelangle=376,0,0
modelzoom=2406
modelanim=seq_4403

