// 86:0
[com_0]
type=text
x=4
y=4
width=180
height=17
textfont=q8_full
text=%1
textalignh=centre
textshadow=yes
colour=0xff981f

// 86:1
[com_1]
type=layer
x=4
y=40
width=180
height=163

// 86:2
[com_2]
type=graphic
x=16
y=5
width=70
height=46
layer=com_1
buttontype=5
graphic="combatboxes_large,0"
graphicactive="combatboxes_large,1"
buttontext=Reap
script=varplayer_43 = 0

// 86:3
[com_3]
type=graphic
x=100
y=5
width=70
height=46
layer=com_1
buttontype=5
graphic="combatboxes_large,0"
graphicactive="combatboxes_large,1"
buttontext=Chop
script=varplayer_43 = 1

// 86:4
[com_4]
type=graphic
x=16
y=58
width=70
height=46
layer=com_1
buttontype=5
graphic="combatboxes_large,0"
graphicactive="combatboxes_large,1"
buttontext=Jab
script=varplayer_43 = 2

// 86:5
[com_5]
type=graphic
x=99
y=58
width=70
height=46
layer=com_1
buttontype=5
graphic="combatboxes_large,0"
graphicactive="combatboxes_large,1"
buttontext=Block
script=varplayer_43 = 3

// 86:6
[com_6]
type=graphic
x=36
y=10
width=34
height=24
layer=com_1
graphic="combaticons2,19"

// 86:7
[com_7]
type=graphic
x=118
y=10
width=34
height=24
layer=com_1
graphic="combaticons2,9"

// 86:8
[com_8]
type=graphic
x=36
y=63
width=34
height=24
layer=com_1
graphic="combaticons2,18"

// 86:9
[com_9]
type=graphic
x=118
y=63
width=34
height=24
layer=com_1
graphic="combaticons2,8"

// 86:10
[com_10]
type=text
x=4
y=25
width=180
height=12
textfont=p11_full
text=Combat Lvl: %1
textalignh=centre
textshadow=yes
colour=0xff981f
script0=stat_combat

// 86:11
[com_11]
type=graphic
x=21
y=152
width=150
height=46
buttontype=1
graphic="combatboxes_very_large,0"
graphicactive="combatboxes_very_large,1"
buttontext=Auto Retaliate
script=varplayer_172 = 0

// 86:12
[com_12]
type=text
x=20
y=75
width=70
height=13
textfont=p11_full
text=Reap
textalignh=centre
textshadow=yes
colour=0xff981f

// 86:13
[com_13]
type=text
x=104
y=75
width=70
height=13
textfont=p11_full
text=Chop
textalignh=centre
textshadow=yes
colour=0xff981f

// 86:14
[com_14]
type=text
x=20
y=128
width=70
height=13
textfont=p11_full
text=Jab
textalignh=centre
textshadow=yes
colour=0xff981f

// 86:15
[com_15]
type=text
x=103
y=128
width=70
height=13
textfont=p11_full
text=Block
textalignh=centre
textshadow=yes
colour=0xff981f

// 86:16
[com_16]
type=text
x=57
y=154
width=112
height=42
textfont=p12_full
text=Auto Retaliate <br>(Off)
textactive=Auto Retaliate <br>(On)
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f
colouractive=0xff981f
script=varplayer_172 = 0

// 86:17
[com_17]
type=tooltip
x=20
y=45
width=70
height=46
text=(Accurate)<br>(Slash)<br>(Attack XP)

// 86:18
[com_18]
type=tooltip
x=102
y=45
width=70
height=46
text=(Aggressive)<br>(Stab)<br>(Strength XP)

// 86:19
[com_19]
type=tooltip
x=20
y=98
width=70
height=47
text=(Aggressive)<br>(Crush)<br>(Strength XP)

// 86:20
[com_20]
type=tooltip
x=102
y=98
width=70
height=47
text=(Defensive)<br>(Slash)<br>(Defence XP)

// 86:21
[com_21]
type=tooltip
x=22
y=153
width=150
height=46
text=When active your player<br>will automatically fight<br>back if attacked

