// 295:0
[com_0]
type=model
x=230
y=142
width=32
height=32
model=model_16964
modelangle=560,2037,0
modelzoom=510

// 295:1
[com_1]
type=text
x=50
y=92
width=165
height=51
textfont=quill_caps_large
text=Rum
textalignh=right
textalignv=bottom
textshadow=yes
colour=0x676725

// 295:2
[com_2]
type=text
x=262
y=85
width=119
height=57
textfont=quill_caps_large
text=Deal
textalignv=bottom
textshadow=yes
colour=0x676725

