// 372:0
[com_0]
type=text
y=5
width=480
height=17
textfont=q8_full
text=Title
textalignh=centre
colour=0x0000ff

// 372:1
[com_1]
type=text
y=26
width=480
height=17
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

// 372:2
[com_2]
type=text
y=42
width=480
height=17
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

// 372:3
[com_3]
type=text
y=58
width=480
height=17
textfont=q8_full
text=Line3
textalignh=centre
colour=0x000000

// 372:4
[com_4]
type=text
y=74
width=480
height=17
textfont=q8_full
text=Line4
textalignh=centre
colour=0x000000

