// 481:0
[com_0]
type=model
x=315
y=142
width=32
height=32
model=model_20468
modelzoom=354
modelanim=seq_5062

// 481:1
[com_1]
type=rectangle
width=550
height=400
trans=150
colour=0xccccff
fill=yes

