// 136:0
[com_0]
type=model
x=420
y=34
width=32
height=32
model=model_63
modelangle=40,166,0
modelzoom=796

// 136:1
[com_1]
type=text
x=196
y=8
width=85
height=17
textfont=q8_full
text=Both
textalignh=centre
colour=0x800000

// 136:2
[com_2]
type=text
x=196
y=39
width=85
height=17
textfont=q8_full
text=Argh!
textalignh=centre
colour=0x000000

// 136:3
[com_3]
type=model
x=34
y=34
width=32
height=32
model=model_63
modelangle=40,1882,0
modelzoom=796

