// 268:0
[com_0]
type=inv
x=57
y=39
width=6
height=1
buttontype=1
paddingx=32
op1=Pick

// 268:1
[com_1]
type=text
x=171
y=3
width=132
height=18
textfont=q8_full
text=Pick a kitten
textalignh=centre
colour=0xaa0000

// 268:2
[com_2]
type=graphic
x=304
y=5
width=57
height=13
graphic="sworddecor,0"

// 268:3
[com_3]
type=graphic
x=111
y=5
width=57
height=13
graphic="sworddecor,1"

