// 130:0
[com_0]
type=model
x=248
y=130
width=32
height=32
model=model_8522
modelactive=model_8521
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_842 = 1

// 130:1
[com_1]
type=model
x=248
y=130
width=32
height=32
model=model_8524
modelactive=model_8523
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_842 = 2

// 130:2
[com_2]
type=model
x=248
y=130
width=32
height=32
model=model_8526
modelactive=model_8525
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_843 = 1

// 130:3
[com_3]
type=model
x=248
y=130
width=32
height=32
model=model_8528
modelactive=model_8527
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_843 = 2

// 130:4
[com_4]
type=model
x=248
y=130
width=32
height=32
model=model_8530
modelactive=model_8529
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_844 = 1

// 130:5
[com_5]
type=model
x=248
y=130
width=32
height=32
model=model_8532
modelactive=model_8531
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_844 = 2

// 130:6
[com_6]
type=model
x=248
y=130
width=32
height=32
model=model_8534
modelactive=model_8533
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_845 = 1

// 130:7
[com_7]
type=model
x=248
y=130
width=32
height=32
model=model_8536
modelactive=model_8535
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_845 = 2

// 130:8
[com_8]
type=model
x=248
y=130
width=32
height=32
model=model_8538
modelactive=model_8537
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_846 = 1

// 130:9
[com_9]
type=model
x=248
y=130
width=32
height=32
model=model_8540
modelactive=model_8539
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_846 = 2

// 130:10
[com_10]
type=model
x=248
y=130
width=32
height=32
model=model_8542
modelactive=model_8541
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_847 = 1

// 130:11
[com_11]
type=model
x=248
y=130
width=32
height=32
model=model_8544
modelactive=model_8543
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_847 = 2

// 130:12
[com_12]
type=model
x=248
y=130
width=32
height=32
model=model_8546
modelactive=model_8545
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_848 = 1

// 130:13
[com_13]
type=model
x=248
y=130
width=32
height=32
model=model_8548
modelactive=model_8547
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_848 = 2

// 130:14
[com_14]
type=model
x=248
y=130
width=32
height=32
model=model_8550
modelactive=model_8549
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_849 = 1

// 130:15
[com_15]
type=model
x=248
y=130
width=32
height=32
model=model_8552
modelactive=model_8551
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_849 = 2

// 130:16
[com_16]
type=model
x=248
y=130
width=32
height=32
model=model_8554
modelactive=model_8553
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_850 = 1

// 130:17
[com_17]
type=model
x=248
y=130
width=32
height=32
model=model_8556
modelactive=model_8555
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_850 = 2

// 130:18
[com_18]
type=model
x=248
y=130
width=32
height=32
model=model_8558
modelactive=model_8557
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_851 = 1

// 130:19
[com_19]
type=model
x=248
y=130
width=32
height=32
model=model_8560
modelactive=model_8559
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_851 = 2

// 130:20
[com_20]
type=model
x=248
y=130
width=32
height=32
model=model_8562
modelactive=model_8561
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_852 = 1

// 130:21
[com_21]
type=model
x=248
y=130
width=32
height=32
model=model_8564
modelactive=model_8563
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_852 = 2

// 130:22
[com_22]
type=model
x=248
y=130
width=32
height=32
model=model_8566
modelactive=model_8565
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_853 = 1

// 130:23
[com_23]
type=model
x=248
y=130
width=32
height=32
model=model_8568
modelactive=model_8567
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_853 = 2

// 130:24
[com_24]
type=model
x=248
y=130
width=32
height=32
model=model_8570
modelactive=model_8569
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_854 = 1

// 130:25
[com_25]
type=model
x=248
y=130
width=32
height=32
model=model_8572
modelactive=model_8571
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_854 = 2

// 130:26
[com_26]
type=model
x=248
y=130
width=32
height=32
model=model_8574
modelactive=model_8573
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_855 = 1

// 130:27
[com_27]
type=model
x=248
y=130
width=32
height=32
model=model_8576
modelactive=model_8575
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_855 = 2

// 130:28
[com_28]
type=model
x=248
y=130
width=32
height=32
model=model_8578
modelactive=model_8577
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_856 = 1

// 130:29
[com_29]
type=model
x=248
y=130
width=32
height=32
model=model_8580
modelactive=model_8579
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_856 = 2

// 130:30
[com_30]
type=model
x=248
y=130
width=32
height=32
model=model_8582
modelactive=model_8581
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_857 = 1

// 130:31
[com_31]
type=model
x=248
y=130
width=32
height=32
model=model_8584
modelactive=model_8583
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_857 = 2

// 130:32
[com_32]
type=model
x=248
y=130
width=32
height=32
model=model_8586
modelactive=model_8585
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_858 = 1

// 130:33
[com_33]
type=model
x=248
y=130
width=32
height=32
model=model_8588
modelactive=model_8587
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_858 = 2

// 130:34
[com_34]
type=model
x=248
y=130
width=32
height=32
model=model_8590
modelactive=model_8589
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_859 = 1

// 130:35
[com_35]
type=model
x=248
y=130
width=32
height=32
model=model_8592
modelactive=model_8591
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_859 = 2

// 130:36
[com_36]
type=model
x=248
y=130
width=32
height=32
model=model_8594
modelactive=model_8593
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_860 = 1

// 130:37
[com_37]
type=model
x=248
y=130
width=32
height=32
model=model_8596
modelactive=model_8595
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_860 = 2

// 130:38
[com_38]
type=model
x=248
y=130
width=32
height=32
model=model_8635
modelangle=350,0,0
modelzoom=1200

// 130:39
[com_39]
type=model
x=248
y=130
width=32
height=32
model=model_8636
modelangle=350,0,0
modelzoom=1200

// 130:40
[com_40]
type=layer
x=142
y=123
width=32
height=32
hide=yes

// 130:41
[com_41]
type=model
x=106
y=7
width=32
height=32
layer=com_40
model=model_8597
modelactive=model_8598
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_842 = 2

// 130:42
[com_42]
type=layer
x=190
y=89
width=32
height=32
hide=yes

// 130:43
[com_43]
type=model
x=58
y=41
width=32
height=32
layer=com_42
model=model_8599
modelactive=model_8600
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_843 = 2

// 130:44
[com_44]
type=layer
x=184
y=162
width=32
height=32
hide=yes

// 130:45
[com_45]
type=model
x=64
y=-32
width=32
height=32
layer=com_44
model=model_8601
modelactive=model_8602
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_844 = 2

// 130:46
[com_46]
type=layer
x=266
y=56
width=32
height=32
hide=yes

// 130:47
[com_47]
type=model
x=-18
y=74
width=32
height=32
layer=com_46
model=model_8603
modelactive=model_8604
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_845 = 2

// 130:48
[com_48]
type=layer
x=165
y=165
width=32
height=32
hide=yes

// 130:49
[com_49]
type=model
x=83
y=-35
width=32
height=32
layer=com_48
model=model_8605
modelactive=model_8606
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_846 = 2

// 130:50
[com_50]
type=layer
x=227
y=203
width=32
height=32
hide=yes

// 130:51
[com_51]
type=model
x=21
y=-73
width=32
height=32
layer=com_50
model=model_8607
modelactive=model_8608
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_847 = 2

// 130:52
[com_52]
type=layer
x=202
y=201
width=32
height=32
hide=yes

// 130:53
[com_53]
type=model
x=46
y=-71
width=32
height=32
layer=com_52
model=model_8609
modelactive=model_8610
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_848 = 2

// 130:54
[com_54]
type=layer
x=314
y=203
width=32
height=32
hide=yes

// 130:55
[com_55]
type=model
x=-66
y=-73
width=32
height=32
layer=com_54
model=model_8611
modelactive=model_8612
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_849 = 2

// 130:56
[com_56]
type=layer
x=314
y=218
width=40
height=40
hide=yes

// 130:57
[com_57]
type=model
x=-66
y=-88
width=32
height=32
layer=com_56
model=model_8613
modelactive=model_8614
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_850 = 2

// 130:58
[com_58]
type=layer
x=314
y=233
width=40
height=40
hide=yes

// 130:59
[com_59]
type=model
x=-66
y=-103
width=32
height=32
layer=com_58
model=model_8615
modelactive=model_8616
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_851 = 2

// 130:60
[com_60]
type=layer
x=314
y=248
width=40
height=40
hide=yes

// 130:61
[com_61]
type=model
x=-66
y=-118
width=32
height=32
layer=com_60
model=model_8617
modelactive=model_8618
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_852 = 2

// 130:62
[com_62]
type=layer
x=314
y=263
width=40
height=40
hide=yes

// 130:63
[com_63]
type=model
x=-66
y=-133
width=32
height=32
layer=com_62
model=model_8619
modelactive=model_8620
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_853 = 2

// 130:64
[com_64]
type=layer
x=314
y=278
width=40
height=40
hide=yes

// 130:65
[com_65]
type=model
x=-66
y=-148
width=32
height=32
layer=com_64
model=model_8621
modelactive=model_8622
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_854 = 2

// 130:66
[com_66]
type=layer
x=314
y=293
width=40
height=40
hide=yes

// 130:67
[com_67]
type=model
x=-66
y=-163
width=32
height=32
layer=com_66
model=model_8623
modelactive=model_8624
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_855 = 2

// 130:68
[com_68]
type=layer
x=314
y=308
width=40
height=40
hide=yes

// 130:69
[com_69]
type=model
x=-66
y=-178
width=32
height=32
layer=com_68
model=model_8625
modelactive=model_8626
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_856 = 2

// 130:70
[com_70]
type=layer
x=347
y=230
width=32
height=50
hide=yes

// 130:71
[com_71]
type=model
x=-99
y=-100
width=32
height=32
layer=com_70
model=model_8627
modelactive=model_8628
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_857 = 2

// 130:72
[com_72]
type=layer
x=280
y=132
width=120
height=32
hide=yes

// 130:73
[com_73]
type=model
x=-32
y=-2
width=32
height=32
layer=com_72
model=model_8629
modelactive=model_8630
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_858 = 2

// 130:74
[com_74]
type=layer
x=280
y=147
width=130
height=45
hide=yes

// 130:75
[com_75]
type=model
x=-32
y=-17
width=32
height=32
layer=com_74
model=model_8631
modelactive=model_8632
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_859 = 2

// 130:76
[com_76]
type=layer
x=280
y=162
width=180
height=80
hide=yes

// 130:77
[com_77]
type=model
x=-32
y=-32
width=32
height=32
layer=com_76
model=model_8633
modelactive=model_8634
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_860 = 2

// 130:78
[com_78]
type=model
x=83
y=124
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:79
[com_79]
type=model
x=130
y=89
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:80
[com_80]
type=model
x=121
y=162
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:81
[com_81]
type=model
x=172
y=57
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:82
[com_82]
type=model
x=165
y=165
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:83
[com_83]
type=model
x=210
y=59
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:84
[com_84]
type=model
x=204
y=204
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:85
[com_85]
type=model
x=249
y=32
width=27
height=24
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:86
[com_86]
type=model
x=249
y=162
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:87
[com_87]
type=model
x=248
y=203
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:88
[com_88]
type=model
x=290
y=61
width=28
height=28
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:89
[com_89]
type=model
x=289
y=124
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:90
[com_90]
type=model
x=294
y=203
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:91
[com_91]
type=model
x=324
y=32
width=26
height=26
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:92
[com_92]
type=model
x=330
y=94
width=26
height=26
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:93
[com_93]
type=model
x=344
y=251
width=28
height=28
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:94
[com_94]
type=model
x=365
y=62
width=27
height=27
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:95
[com_95]
type=model
x=377
y=165
width=29
height=29
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:96
[com_96]
type=model
x=383
y=203
width=32
height=32
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

// 130:97
[com_97]
type=model
x=119
y=24
width=32
height=32
model=model_8429
modelangle=350,0,0
modelzoom=1200

// 130:98
[com_98]
type=model
x=119
y=55
width=32
height=32
model=model_8430
modelangle=350,0,0
modelzoom=1200

// 130:99
[com_99]
type=text
x=45
y=56
width=24
height=14
textfont=p12_full
text=x%1
textshadow=yes
colour=0xffff00
script0=varplayerbit_862

// 130:100
[com_100]
type=text
x=45
y=26
width=24
height=14
textfont=p12_full
text=x%1
textshadow=yes
colour=0xffff00
script0=varplayerbit_861

// 130:101
[com_101]
type=graphic
x=460
y=20
width=23
height=23
mouseoverlayer=com_103
graphic="close_buttons,4"

// 130:102
[com_102]
type=graphic
x=4
y=5
width=23
height=23
layer=com_103
buttontype=1
graphic="close_buttons,5"

// 130:103
[com_103]
type=layer
x=456
y=15
width=32
height=32
hide=yes

