// 114:0
[com_0]
type=graphic
x=6
y=141
width=88
height=60
graphic=tradebacking

// 114:1
[com_1]
type=graphic
x=92
y=141
width=88
height=60
graphic=tradebacking

// 114:2
[com_2]
type=graphic
x=6
y=181
width=88
height=60
graphic=tradebacking

// 114:3
[com_3]
type=graphic
x=92
y=181
width=88
height=60
graphic=tradebacking

// 114:4
[com_4]
type=graphic
x=6
y=141
width=25
height=30
graphic="steelborder,0"

// 114:5
[com_5]
type=graphic
x=159
y=141
width=25
height=30
graphic="steelborder,1"

// 114:6
[com_6]
type=graphic
x=163
y=185
width=36
height=36
graphic="steelborder2,1"

// 114:7
[com_7]
type=graphic
x=159
y=211
width=25
height=30
graphic="steelborder,3"

// 114:8
[com_8]
type=graphic
x=163
y=161
width=36
height=36
graphic="steelborder2,1"

// 114:9
[com_9]
type=graphic
x=126
y=126
width=36
height=36
graphic="steelborder2,0"

// 114:10
[com_10]
type=graphic
x=31
y=126
width=36
height=36
graphic="steelborder2,0"

// 114:11
[com_11]
type=graphic
x=127
y=220
width=36
height=36
graphic="miscgraphics,3"

// 114:12
[com_12]
type=graphic
x=67
y=126
width=36
height=36
graphic="steelborder2,0"

// 114:13
[com_13]
type=graphic
x=99
y=126
width=36
height=36
graphic="steelborder2,0"

// 114:14
[com_14]
type=graphic
x=-9
y=166
width=36
height=36
graphic="miscgraphics,2"

// 114:15
[com_15]
type=graphic
x=-9
y=196
width=36
height=36
graphic="miscgraphics,2"

// 114:16
[com_16]
type=graphic
x=6
y=211
width=25
height=30
graphic="steelborder,2"

// 114:17
[com_17]
type=graphic
x=31
y=220
width=36
height=36
graphic="miscgraphics,3"

// 114:18
[com_18]
type=graphic
x=98
y=220
width=36
height=36
graphic="miscgraphics,3"

// 114:19
[com_19]
type=graphic
x=67
y=220
width=36
height=36
graphic="miscgraphics,3"

// 114:20
[com_20]
type=text
x=77
y=172
width=99
height=14
textfont=p12_full
text=Schematic 1
textalignh=right
textshadow=yes
colour=0xaa8822
colouractive=0xaa3322

// 114:21
[com_21]
type=text
x=77
y=192
width=99
height=14
textfont=p12_full
text=Schematic 2
textalignh=right
textshadow=yes
colour=0xaa8822
colouractive=0xaa3322

// 114:22
[com_22]
type=text
x=77
y=212
width=99
height=14
textfont=p12_full
text=Schematic 3
textalignh=right
textshadow=yes
colour=0xaa8822
colouractive=0xaa3322

// 114:23
[com_23]
type=text
x=14
y=152
width=130
height=14
textfont=p12_full
text=Show/Select
textshadow=yes
colour=0xaa8822

// 114:24
[com_24]
type=graphic
x=55
y=172
width=15
height=15
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select Schematic One
script=varplayer_261 = 1

// 114:25
[com_25]
type=graphic
x=55
y=192
width=15
height=15
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select Schematic Two
script=varplayer_262 = 1

// 114:26
[com_26]
type=graphic
x=55
y=212
width=36
height=36
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select Schematic Three
script=varplayer_263 = 1

// 114:27
[com_27]
type=graphic
x=23
y=172
width=15
height=15
buttontype=1
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Show Schematic One
script=varplayer_264 = 1

// 114:28
[com_28]
type=graphic
x=23
y=192
width=15
height=15
buttontype=1
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Show Schematic Two
script=varplayer_265 = 1

// 114:29
[com_29]
type=graphic
x=23
y=212
width=15
height=15
buttontype=1
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Show Schematic Three
script=varplayer_266 = 1

// 114:30
[com_30]
type=model
x=79
y=53
width=32
height=32
buttontype=1
model=model_5823
modelactive=model_5821
modelangle=500,0,0
modelzoom=1000
buttontext=Rotate the image

// 114:31
[com_31]
type=model
x=79
y=13
width=32
height=32
buttontype=1
model=model_5822
modelactive=model_5820
modelangle=500,0,0
modelzoom=1000
buttontext=Move Schematic Up

// 114:32
[com_32]
type=model
x=120
y=52
width=32
height=32
buttontype=1
model=model_5822
modelactive=model_5820
modelangle=500,500,0
modelzoom=1000
buttontext=Move Schematic Right

// 114:33
[com_33]
type=model
x=40
y=52
width=32
height=32
buttontype=1
model=model_5822
modelactive=model_5820
modelangle=500,1530,0
modelzoom=1000
buttontext=Move Schematic Left

// 114:34
[com_34]
type=model
x=79
y=92
width=32
height=32
buttontype=1
model=model_5822
modelactive=model_5820
modelangle=500,1015,0
modelzoom=1000
buttontext=Move Schematic Down

