// 288:0
[com_0]
type=rectangle
width=512
height=334
colour=0x0f622c0c
fill=yes

// 288:1
[com_1]
type=rectangle
y=150
width=511
height=19
colour=0x000000
fill=yes

// 288:2
[com_2]
type=rectangle
x=5
y=89
width=86
height=145
colour=0x0f303030
fill=yes

// 288:3
[com_3]
type=rectangle
x=470
y=90
width=86
height=145
colour=0x0f303030
fill=yes

// 288:4
[com_4]
type=rectangle
x=99
width=359
height=334
colour=0x0f303030
fill=yes

// 288:5
[com_5]
type=rectangle
x=107
width=343
height=334
colour=0x0f585858
fill=yes

// 288:6
[com_6]
type=rectangle
x=12
y=98
width=71
height=130
colour=0x0f585858
fill=yes

// 288:7
[com_7]
type=rectangle
x=479
y=99
width=71
height=130
colour=0x0f585858
fill=yes

// 288:8
[com_8]
type=rectangle
x=7
y=53
width=84
height=24
colour=0x0f312314
fill=yes

// 288:9
[com_9]
type=text
x=6
y=52
width=86
height=26
buttontype=1
textfont=p12_full
text=open casket
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f

// 288:10
[com_10]
type=rectangle
x=114
y=4
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:11
[com_11]
type=rectangle
x=151
y=4
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:12
[com_12]
type=rectangle
x=188
y=4
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:13
[com_13]
type=rectangle
x=225
y=4
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:14
[com_14]
type=rectangle
x=262
y=4
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:15
[com_15]
type=rectangle
x=299
y=4
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:16
[com_16]
type=rectangle
x=336
y=4
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:17
[com_17]
type=rectangle
x=373
y=4
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:18
[com_18]
type=rectangle
x=410
y=4
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:19
[com_19]
type=rectangle
x=114
y=41
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:20
[com_20]
type=rectangle
x=151
y=41
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:21
[com_21]
type=rectangle
x=188
y=41
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:22
[com_22]
type=rectangle
x=225
y=41
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:23
[com_23]
type=rectangle
x=262
y=41
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:24
[com_24]
type=rectangle
x=299
y=41
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:25
[com_25]
type=rectangle
x=336
y=41
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:26
[com_26]
type=rectangle
x=373
y=41
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:27
[com_27]
type=rectangle
x=410
y=41
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:28
[com_28]
type=rectangle
x=114
y=78
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:29
[com_29]
type=rectangle
x=151
y=78
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:30
[com_30]
type=rectangle
x=188
y=78
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:31
[com_31]
type=rectangle
x=225
y=78
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:32
[com_32]
type=rectangle
x=262
y=78
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:33
[com_33]
type=rectangle
x=299
y=78
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:34
[com_34]
type=rectangle
x=336
y=78
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:35
[com_35]
type=rectangle
x=373
y=78
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:36
[com_36]
type=rectangle
x=410
y=78
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:37
[com_37]
type=rectangle
x=114
y=115
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:38
[com_38]
type=rectangle
x=151
y=115
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:39
[com_39]
type=rectangle
x=188
y=115
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:40
[com_40]
type=rectangle
x=225
y=115
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:41
[com_41]
type=rectangle
x=262
y=115
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:42
[com_42]
type=rectangle
x=299
y=115
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:43
[com_43]
type=rectangle
x=336
y=115
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:44
[com_44]
type=rectangle
x=373
y=115
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:45
[com_45]
type=rectangle
x=410
y=115
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:46
[com_46]
type=rectangle
x=114
y=152
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:47
[com_47]
type=rectangle
x=151
y=152
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:48
[com_48]
type=rectangle
x=188
y=152
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:49
[com_49]
type=rectangle
x=225
y=152
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:50
[com_50]
type=rectangle
x=262
y=152
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:51
[com_51]
type=rectangle
x=299
y=152
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:52
[com_52]
type=rectangle
x=336
y=152
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:53
[com_53]
type=rectangle
x=373
y=152
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:54
[com_54]
type=rectangle
x=410
y=152
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:55
[com_55]
type=rectangle
x=114
y=189
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:56
[com_56]
type=rectangle
x=151
y=189
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:57
[com_57]
type=rectangle
x=188
y=189
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:58
[com_58]
type=rectangle
x=225
y=189
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:59
[com_59]
type=rectangle
x=262
y=189
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:60
[com_60]
type=rectangle
x=299
y=189
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:61
[com_61]
type=rectangle
x=336
y=189
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:62
[com_62]
type=rectangle
x=373
y=189
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:63
[com_63]
type=rectangle
x=410
y=189
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:64
[com_64]
type=rectangle
x=114
y=226
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:65
[com_65]
type=rectangle
x=151
y=226
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:66
[com_66]
type=rectangle
x=188
y=226
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:67
[com_67]
type=rectangle
x=225
y=226
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:68
[com_68]
type=rectangle
x=262
y=226
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:69
[com_69]
type=rectangle
x=299
y=226
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:70
[com_70]
type=rectangle
x=336
y=226
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:71
[com_71]
type=rectangle
x=373
y=226
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:72
[com_72]
type=rectangle
x=410
y=226
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:73
[com_73]
type=rectangle
x=114
y=263
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:74
[com_74]
type=rectangle
x=151
y=263
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:75
[com_75]
type=rectangle
x=188
y=263
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:76
[com_76]
type=rectangle
x=225
y=263
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:77
[com_77]
type=rectangle
x=262
y=263
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:78
[com_78]
type=rectangle
x=299
y=263
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:79
[com_79]
type=rectangle
x=336
y=263
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:80
[com_80]
type=rectangle
x=373
y=263
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:81
[com_81]
type=rectangle
x=410
y=263
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:82
[com_82]
type=rectangle
x=115
y=300
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:83
[com_83]
type=rectangle
x=151
y=300
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:84
[com_84]
type=rectangle
x=189
y=300
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:85
[com_85]
type=rectangle
x=225
y=300
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:86
[com_86]
type=rectangle
x=262
y=300
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:87
[com_87]
type=rectangle
x=299
y=300
width=32
height=32
buttontype=1
colour=0x0fe9c001
fill=yes

// 288:88
[com_88]
type=rectangle
x=336
y=300
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:89
[com_89]
type=rectangle
x=373
y=300
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:90
[com_90]
type=rectangle
x=410
y=300
width=32
height=32
buttontype=1
colour=0xfa9907
fill=yes

// 288:91
[com_91]
type=layer
x=4
y=284
width=47
height=48

// 288:92
[com_92]
type=layer
x=3
y=234
width=47
height=48

// 288:93
[com_93]
type=layer
x=3
y=184
width=47
height=48

// 288:94
[com_94]
type=layer
x=3
y=134
width=47
height=48

// 288:95
[com_95]
type=layer
x=3
y=84
width=47
height=48

// 288:96
[com_96]
type=layer
x=52
y=134
width=47
height=48

// 288:97
[com_97]
type=layer
x=52
y=184
width=47
height=48

// 288:98
[com_98]
type=layer
x=52
y=234
width=47
height=48

// 288:99
[com_99]
type=layer
x=53
y=284
width=47
height=48

// 288:100
[com_100]
type=layer
x=52
y=84
width=47
height=48

// 288:101
[com_101]
type=model
x=8
y=8
width=32
height=32
layer=com_91
model=model_8986
modelangle=500,0,0
modelzoom=600

// 288:102
[com_102]
type=model
x=8
y=8
width=32
height=32
layer=com_92
model=model_8986
modelangle=500,0,0
modelzoom=600

// 288:103
[com_103]
type=model
x=8
y=8
width=32
height=32
layer=com_93
model=model_8986
modelangle=500,0,0
modelzoom=600

// 288:104
[com_104]
type=model
x=8
y=8
width=32
height=32
layer=com_94
model=model_8986
modelangle=500,0,0
modelzoom=600

// 288:105
[com_105]
type=model
x=8
y=8
width=32
height=32
layer=com_95
model=model_8986
modelangle=500,0,0
modelzoom=600

// 288:106
[com_106]
type=model
x=8
y=8
width=32
height=32
layer=com_96
model=model_8986
modelangle=500,0,0
modelzoom=600

// 288:107
[com_107]
type=model
x=8
y=8
width=32
height=32
layer=com_97
model=model_8986
modelangle=500,0,0
modelzoom=600

// 288:108
[com_108]
type=model
x=8
y=8
width=32
height=32
layer=com_98
model=model_8986
modelangle=500,0,0
modelzoom=600

// 288:109
[com_109]
type=model
x=8
y=8
width=32
height=32
layer=com_99
model=model_8986
modelangle=500,0,0
modelzoom=600

// 288:110
[com_110]
type=model
x=8
y=8
width=32
height=32
layer=com_100
model=model_8986
modelangle=500,0,0
modelzoom=600

// 288:111
[com_111]
type=model
x=8
y=8
width=32
height=32
layer=com_91
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

// 288:112
[com_112]
type=model
x=8
y=8
width=32
height=32
layer=com_92
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

// 288:113
[com_113]
type=model
x=8
y=8
width=32
height=32
layer=com_93
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

// 288:114
[com_114]
type=model
x=8
y=8
width=32
height=32
layer=com_94
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

// 288:115
[com_115]
type=model
x=8
y=8
width=32
height=32
layer=com_95
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

// 288:116
[com_116]
type=model
x=8
y=8
width=32
height=32
layer=com_96
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

// 288:117
[com_117]
type=model
x=8
y=8
width=32
height=32
layer=com_97
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

// 288:118
[com_118]
type=model
x=8
y=8
width=32
height=32
layer=com_98
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

// 288:119
[com_119]
type=model
x=8
y=8
width=32
height=32
layer=com_99
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

// 288:120
[com_120]
type=model
x=8
y=8
width=32
height=32
layer=com_100
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

// 288:121
[com_121]
type=model
x=12
y=292
width=32
height=32
buttontype=1
model=model_8979
modelangle=500,1050,0
modelzoom=600

// 288:122
[com_122]
type=model
x=11
y=242
width=32
height=32
buttontype=1
model=model_8987
modelangle=500,1050,0
modelzoom=600

// 288:123
[com_123]
type=model
x=9
y=193
width=32
height=32
buttontype=1
model=model_8975
modelangle=500,1050,0
modelzoom=600

// 288:124
[com_124]
type=model
x=9
y=92
width=32
height=32
buttontype=1
model=model_8982
modelangle=500,1050,0
modelzoom=600

// 288:125
[com_125]
type=model
x=10
y=142
width=32
height=32
buttontype=1
model=model_8980
modelangle=500,1050,0
modelzoom=600

// 288:126
[com_126]
type=model
x=59
y=143
width=32
height=32
buttontype=1
model=model_8976
modelangle=500,1050,0
modelzoom=600

// 288:127
[com_127]
type=model
x=59
y=193
width=32
height=32
buttontype=1
model=model_8978
modelangle=500,1050,0
modelzoom=600

// 288:128
[com_128]
type=model
x=60
y=242
width=32
height=32
buttontype=1
model=model_8977
modelangle=500,1050,0
modelzoom=600

// 288:129
[com_129]
type=model
x=61
y=292
width=32
height=32
buttontype=1
model=model_8981
modelangle=500,1050,0
modelzoom=600

// 288:130
[com_130]
type=model
x=60
y=92
width=32
height=32
buttontype=1
model=model_8985
modelangle=500,0,0
modelzoom=600

// 288:131
[com_131]
type=inv
x=114
y=4
width=9
height=9
paddingx=5
paddingy=5

// 288:132
[com_132]
type=graphic
x=4
y=5
width=26
height=23
mouseoverlayer=com_134
graphic="close_buttons,4"

// 288:133
[com_133]
type=graphic
x=3
y=5
width=26
height=23
layer=com_134
buttontype=3
graphic="close_buttons,5"

// 288:134
[com_134]
type=layer
x=1
width=32
height=32
hide=yes

