// 72:0
[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic="sworddecor,1"

// 72:1
[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic="sworddecor,0"

// 72:2
[com_2]
type=model
x=207
y=13
width=64
height=96
model=model_2365
modelangle=221,1877,0
modelzoom=400

// 72:3
[com_3]
type=text
x=190
y=12
width=100
height=90
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
buttontext=Churn 10

// 72:4
[com_4]
type=text
x=190
y=12
width=100
height=90
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
buttontext=Churn 5
script=stat(cooking) > 47

// 72:5
[com_5]
type=text
x=190
y=12
width=100
height=90
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
buttontext=Churn 1
script=stat(cooking) > 47

// 72:6
[com_6]
type=text
x=56
y=1
width=366
height=31
textfont=q8_full
text=What would you like to make in the churn?
textalignh=centre
textalignv=centre
colour=0x800000

// 72:7
[com_7]
type=text
x=190
y=13
width=100
height=84
textfont=q8_full
text=Churn Cheese
textalignh=centre
textalignv=bottom
colour=0x000000
mouseovercolour=0xffffff

