// 154:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 154:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 154:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 154:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 154:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 154:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 154:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 154:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 154:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 154:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 154:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 154:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 154:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 154:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 154:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 154:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 154:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 154:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 154:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 154:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 154:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 154:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 154:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 154:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 154:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 154:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 154:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 154:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 154:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 154:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 154:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 154:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 154:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 154:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 154:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 154:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 154:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 154:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 154:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 154:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 154:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 154:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 154:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 154:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 154:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 154:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 154:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 154:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 154:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 154:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 154:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 154:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 154:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 154:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 154:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 154:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 154:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 154:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 154:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 154:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 154:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 154:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 154:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 154:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 154:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 154:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 154:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 154:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 154:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 154:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 154:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 154:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 154:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 154:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 154:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 154:75
[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 154:76
[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 154:77
[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 154:78
[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 154:79
[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 154:80
[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 154:81
[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 154:82
[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 154:83
[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 154:84
[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 154:85
[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 154:86
[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 154:87
[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 154:88
[com_88]
type=text
x=83
y=30
width=346
height=17
textfont=b12_full
text=What would you like to make?
textalignh=centre
colour=0xff9900

// 154:89
[com_89]
type=model
x=38
y=57
width=64
height=96
model=model_2540
modelactive=model_2540
modelangle=500,0,0
modelzoom=400
script=stat(crafting) < 13

// 154:90
[com_90]
type=text
x=16
y=75
width=100
height=100
textfont=q8_full
text=Armour
textalignh=centre
textalignv=bottom
textshadow=yes
colour=0x996600
colouractive=0xcc0000
mouseovercolour=0xffffff
script=stat(crafting) < 14

// 154:91
[com_91]
type=text
x=32
y=100
width=4
height=4
textfont=p12_full
textactive=Not Available
colour=0x000000
colouractive=0xcc0000
script=stat(crafting) < 14

// 154:92
[com_92]
type=model
x=154
y=48
width=64
height=96
model=model_2649
modelactive=model_2649
modelangle=500,0,0
modelzoom=500
script=stat(crafting) < 1

// 154:93
[com_93]
type=text
x=132
y=76
width=110
height=100
textfont=q8_full
text=Gloves
textalignh=centre
textalignv=bottom
textshadow=yes
colour=0x996600
colouractive=0xcc0000
mouseovercolour=0xffffff
script=stat(crafting) < 1

// 154:94
[com_94]
type=text
x=149
y=100
width=4
height=4
textfont=p12_full
textactive=Not Available
colour=0x000000
colouractive=0xcc0000
script=stat(crafting) < 1

// 154:95
[com_95]
type=model
x=282
y=72
width=64
height=96
model=model_2837
modelactive=model_2837
modelangle=100,100,0
modelzoom=400
script=stat(crafting) < 6

// 154:96
[com_96]
type=text
x=251
y=75
width=116
height=100
textfont=q8_full
text=Boots
textalignh=centre
textalignv=bottom
textshadow=yes
colour=0x996600
colouractive=0xcc0000
mouseovercolour=0xffffff
script=stat(crafting) < 7

// 154:97
[com_97]
type=text
x=277
y=100
width=4
height=4
textfont=p12_full
textactive=Not Available
colour=0x000000
colouractive=0xcc0000
script=stat(crafting) < 7

// 154:98
[com_98]
type=model
x=432
y=52
width=64
height=96
model=model_2656
modelactive=model_2656
modelangle=600,0,0
modelzoom=350
script=stat(crafting) < 10

// 154:99
[com_99]
type=text
x=376
y=76
width=116
height=100
textfont=q8_full
text=Vambraces
textalignh=centre
textalignv=bottom
textshadow=yes
colour=0x996600
colouractive=0xcc0000
mouseovercolour=0xffffff
script=stat(crafting) < 11

// 154:100
[com_100]
type=text
x=405
y=100
width=4
height=4
textfont=p12_full
textactive=Not Available
colour=0x000000
colouractive=0xcc0000
script=stat(crafting) < 11

// 154:101
[com_101]
type=model
x=92
y=190
width=64
height=96
model=model_2555
modelactive=model_2555
modelangle=500,0,0
modelzoom=700
script=stat(crafting) < 17

// 154:102
[com_102]
type=text
x=64
y=202
width=116
height=100
textfont=q8_full
text=Chaps
textalignh=centre
textalignv=bottom
textshadow=yes
colour=0x996600
colouractive=0xcc0000
mouseovercolour=0xffffff
script=stat(crafting) < 18

// 154:103
[com_103]
type=text
x=85
y=226
width=4
height=4
textfont=p12_full
textactive=Not Available
colour=0x000000
colouractive=0xcc0000
script=stat(crafting) < 18

// 154:104
[com_104]
type=model
x=221
y=204
width=64
height=96
model=model_2541
modelactive=model_2541
modelangle=150,100,0
modelzoom=350
script=stat(crafting) < 37

// 154:105
[com_105]
type=text
x=194
y=201
width=116
height=100
textfont=q8_full
text=Coif
textalignh=centre
textalignv=bottom
textshadow=yes
colour=0x996600
colouractive=0xcc0000
mouseovercolour=0xffffff
script=stat(crafting) < 38

// 154:106
[com_106]
type=text
x=213
y=226
width=4
height=4
textfont=p12_full
textactive=Not Available
colour=0x000000
colouractive=0xcc0000
script=stat(crafting) < 38

// 154:107
[com_107]
type=model
x=349
y=202
width=64
height=96
model=model_3481
modelactive=model_3481
modelangle=150,100,0
modelzoom=350
script=stat(crafting) < 9

// 154:108
[com_108]
type=text
x=150
y=76
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make All pairs of <col=ff9040>Leather gloves

// 154:109
[com_109]
type=text
x=278
y=76
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make All pairs of <col=ff9040>Leather boots

// 154:110
[com_110]
type=text
x=406
y=76
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make All pairs of <col=ff9040>Leather vambraces

// 154:111
[com_111]
type=text
x=86
y=202
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make All pairs of <col=ff9040>Leather chaps

// 154:112
[com_112]
type=text
x=214
y=202
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make All <col=ff9040>Coifs

// 154:113
[com_113]
type=text
x=342
y=202
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make All <col=ff9040>Cowls

// 154:114
[com_114]
type=text
x=22
y=76
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make All <col=ff9040>Leather bodies

// 154:115
[com_115]
type=text
x=22
y=75
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make X <col=ff9040>Leather bodies

// 154:116
[com_116]
type=text
x=150
y=76
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make X pairs of <col=ff9040>Leather gloves

// 154:117
[com_117]
type=text
x=279
y=75
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make X pairs of <col=ff9040>Leather boots

// 154:118
[com_118]
type=text
x=406
y=77
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make X pairs of <col=ff9040>Leather vambraces

// 154:119
[com_119]
type=text
x=86
y=201
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make X pairs of <col=ff9040>Leather chaps

// 154:120
[com_120]
type=text
x=213
y=200
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make X <col=ff9040>Coifs

// 154:121
[com_121]
type=text
x=342
y=202
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make X <col=ff9040>Cowls

// 154:122
[com_122]
type=text
x=318
y=201
width=116
height=100
textfont=q8_full
text=Cowl
textalignh=centre
textalignv=bottom
textshadow=yes
colour=0x996600
colouractive=0xcc0000
mouseovercolour=0xffffff
script=stat(crafting) < 9

// 154:123
[com_123]
type=text
x=341
y=226
width=4
height=4
textfont=p12_full
textactive=Not Available
colour=0x000000
colouractive=0xcc0000
script=stat(crafting) < 9

// 154:124
[com_124]
type=text
x=22
y=76
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make 5 <col=ff9040>Leather bodies

// 154:125
[com_125]
type=text
x=22
y=76
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make <col=ff9040>Leather body

// 154:126
[com_126]
type=text
x=150
y=76
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make 5 pairs of <col=ff9040>Leather gloves

// 154:127
[com_127]
type=text
x=150
y=76
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make 1 pair of <col=ff9040>Leather gloves

// 154:128
[com_128]
type=text
x=278
y=76
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make 5 pairs of <col=ff9040>Leather boots

// 154:129
[com_129]
type=text
x=278
y=76
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make 1 pair of <col=ff9040>Leather boots

// 154:130
[com_130]
type=text
x=406
y=76
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make 5 pairs of <col=ff9040>Leather vambraces

// 154:131
[com_131]
type=text
x=406
y=76
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make 1 pair of <col=ff9040>Leather vambraces

// 154:132
[com_132]
type=text
x=86
y=202
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make 5 pairs of <col=ff9040>Leather chaps

// 154:133
[com_133]
type=text
x=86
y=202
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make 1 pair of <col=ff9040>Leather chaps

// 154:134
[com_134]
type=text
x=214
y=202
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make 5 <col=ff9040>Coifs

// 154:135
[com_135]
type=text
x=214
y=202
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make <col=ff9040>Coif

// 154:136
[com_136]
type=text
x=342
y=202
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make 5 <col=ff9040>Cowls

// 154:137
[com_137]
type=text
x=342
y=202
width=72
height=100
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make <col=ff9040>Cowl

// 154:138
[com_138]
type=graphic
x=358
y=222
width=32
height=32

// 154:139
[com_139]
type=graphic
x=471
y=26
width=26
height=23
mouseoverlayer=com_141
graphic="close_buttons,0"

// 154:140
[com_140]
type=graphic
x=1
y=4
width=26
height=23
layer=com_141
buttontype=3
graphic="close_buttons,1"

// 154:141
[com_141]
type=layer
x=470
y=22
width=32
height=32
hide=yes

