// 303:0
[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic="sworddecor,1"

// 303:1
[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic="sworddecor,0"

// 303:2
[com_2]
type=model
x=92
y=13
width=67
height=82
model=null
modelzoom=400

// 303:3
[com_3]
type=model
x=323
y=13
width=67
height=82
model=null
modelzoom=400

// 303:4
[com_4]
type=text
x=8
y=17
width=233
height=79
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 303:5
[com_5]
type=text
x=8
y=16
width=233
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 303:6
[com_6]
type=text
x=8
y=16
width=233
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 303:7
[com_7]
type=text
x=8
y=16
width=233
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 303:8
[com_8]
type=text
x=241
y=17
width=232
height=79
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 303:9
[com_9]
type=text
x=241
y=16
width=232
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 303:10
[com_10]
type=text
x=241
y=16
width=232
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 303:11
[com_11]
type=text
x=241
y=16
width=232
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 303:12
[com_12]
type=text
x=8
y=3
width=464
height=17
textfont=q8_full
text=What would you like to make?
textalignh=centre
colour=0x800000

