// 439:0
[com_0]
type=rectangle
x=-1
width=514
height=335
colour=0x2a1e06
fill=yes

// 439:1
[com_1]
type=model
x=402
y=72
width=42
height=41
model=model_17182
modelangle=402,75,0
modelzoom=272

// 439:2
[com_2]
type=model
x=211
y=132
width=32
height=32
layer=com_5
model=model_17186
modelangle=130,1814,0
modelzoom=651

// 439:3
[com_3]
type=model
x=174
y=115
width=32
height=32
layer=com_7
model=model_17183
modelangle=130,1814,0
modelzoom=651
modelanim=seq_4574

// 439:4
[com_4]
type=model
x=150
y=91
width=32
height=32
layer=com_8
model=model_17184
modelangle=135,1816,0
modelzoom=651
modelanim=seq_4574

// 439:5
[com_5]
type=layer
x=-3
y=17
width=520
height=344

// 439:6
[com_6]
type=model
x=67
y=229
width=32
height=32
model=model_17185
modelangle=456,2032,0
modelzoom=369

// 439:7
[com_7]
type=layer
x=34
y=34
width=32
height=32

// 439:8
[com_8]
type=layer
x=58
y=58
width=32
height=32

