// 94:0
[com_0]
type=inv
x=25
y=23
width=1
height=1

// 94:1
[com_1]
type=model
x=268
y=24
width=32
height=32
model=model_8685
modelangle=291,2032,0
modelzoom=1463

// 94:2
[com_2]
type=model
x=372
y=25
width=32
height=32
model=model_8684
modelangle=400,2030,0
modelzoom=2278

// 94:3
[com_3]
type=text
x=69
y=-1
width=333
height=32
textfont=q8_full
text=Are you sure you want to destroy this object?
textalignh=centre
textalignv=centre
colour=0x800000

// 94:4
[com_4]
type=text
x=269
y=32
width=100
height=17
buttontype=6
textfont=q8_full
text=Yes.
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Destroy Object

// 94:5
[com_5]
type=text
x=376
y=32
width=100
height=17
buttontype=6
textfont=q8_full
text=No.
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Cancel

// 94:6
[com_6]
type=graphic
x=405
y=8
width=57
height=13
graphic="sworddecor,0"

// 94:7
[com_7]
type=graphic
x=12
y=9
width=57
height=13
graphic="sworddecor,1"

// 94:8
[com_8]
type=layer
y=50
width=482
height=66

// 94:9
[com_9]
type=layer
y=50
width=482
height=66

// 94:10
[com_10]
type=text
x=1
y=21
width=480
height=16
layer=com_8
textfont=q8_full
text=Single_Line_Text
textalignh=centre
colour=0x000088

// 94:11
[com_11]
type=text
x=1
y=9
width=480
height=17
layer=com_9
textfont=q8_full
text=Multi_line_text_1
textalignh=centre
colour=0x000088

// 94:12
[com_12]
type=text
x=1
y=23
width=480
height=17
layer=com_9
textfont=q8_full
text=Multi_line_text_2
textalignh=centre
colour=0x000088

// 94:13
[com_13]
type=text
x=62
y=32
width=145
height=16
textfont=p12_full
text=Name
colour=0x000000

