// 36:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 36:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 36:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 36:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 36:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 36:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 36:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 36:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 36:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 36:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 36:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 36:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 36:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 36:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 36:14
[com_14]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 36:15
[com_15]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 36:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 36:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 36:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 36:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 36:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 36:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 36:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 36:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 36:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 36:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 36:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 36:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 36:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 36:29
[com_29]
type=graphic
x=409
y=258
width=88
height=60
graphic=tradebacking

// 36:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 36:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 36:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 36:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 36:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 36:35
[com_35]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 36:36
[com_36]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 36:37
[com_37]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 36:38
[com_38]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 36:39
[com_39]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 36:40
[com_40]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 36:41
[com_41]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 36:42
[com_42]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 36:43
[com_43]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 36:44
[com_44]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 36:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 36:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 36:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 36:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 36:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 36:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 36:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 36:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 36:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 36:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 36:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 36:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 36:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 36:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 36:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 36:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 36:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 36:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 36:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 36:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 36:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 36:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 36:67
[com_67]
type=text
x=43
y=58
width=140
height=25
textfont=p12_full
text=Insert a very long name here!
textshadow=yes
colour=0xffaa44

// 36:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 36:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 36:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 36:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 36:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 36:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 36:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 36:75
[com_75]
type=text
x=100
y=75
width=14
height=14
textfont=p12_full
text=vs
textshadow=yes
colour=0xaaaaaa

// 36:76
[com_76]
type=text
x=43
y=89
width=140
height=25
textfont=p12_full
text=Insert a very long name here!
textshadow=yes
colour=0xffaa44

// 36:77
[com_77]
type=graphic
x=183
y=26
width=36
height=36
graphic="miscgraphics,2"

// 36:78
[com_78]
type=graphic
x=183
y=62
width=36
height=36
graphic="miscgraphics,2"

// 36:79
[com_79]
type=graphic
x=183
y=98
width=36
height=36
graphic="miscgraphics,2"

// 36:80
[com_80]
type=graphic
x=183
y=134
width=36
height=36
graphic="miscgraphics,2"

// 36:81
[com_81]
type=graphic
x=183
y=170
width=36
height=36
graphic="miscgraphics,2"

// 36:82
[com_82]
type=graphic
x=162
y=34
width=36
height=36
graphic="steelborder2,0"

// 36:83
[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 36:84
[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 36:85
[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 36:86
[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 36:87
[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 36:88
[com_88]
type=text
x=38
y=127
width=44
height=31
textfont=p12_full
text=Turn:
textalignh=right
textshadow=yes
colour=0xffaa44

// 36:89
[com_89]
type=model
x=135
y=289
width=32
height=32
model=model_4612
modelzoom=2048

// 36:90
[com_90]
type=layer
x=26
y=265
width=78
height=42

// 36:91
[com_91]
type=layer
x=26
y=215
width=78
height=43

// 36:92
[com_92]
type=text
x=21
y=29
width=176
height=17
textfont=b12_full
text=Runelink
textshadow=yes
colour=0xffaa44

// 36:93
[com_93]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_90
buttontype=3
colour=0x000000
fill=yes

// 36:94
[com_94]
type=text
x=6
y=6
width=66
height=31
layer=com_90
textfont=p12_full
text=Resign
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

// 36:95
[com_95]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_91
buttontype=1
colour=0x000000
fill=yes
buttontext=Offer your opponent a draw

// 36:96
[com_96]
type=text
x=5
y=6
width=67
height=31
layer=com_91
textfont=p12_full
text=Offer draw
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x888800
mouseovercolour=0xffff00

// 36:97
[com_97]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_90
graphic="steelborder2,0"

// 36:98
[com_98]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_91
graphic="steelborder2,0"

// 36:99
[com_99]
type=text
x=85
y=127
width=111
height=31
textfont=p12_full
text=A very long name
textshadow=yes
colour=0xaaaaaa

// 36:100
[com_100]
type=graphic
x=22
y=21
width=36
height=36
layer=com_91
graphic="miscgraphics,3"

// 36:101
[com_101]
type=graphic
width=25
height=30
layer=com_90
graphic="steelborder,0"

// 36:102
[com_102]
type=graphic
width=25
height=30
layer=com_91
graphic="steelborder,0"

// 36:103
[com_103]
type=graphic
x=53
width=25
height=30
layer=com_90
graphic="steelborder,1"

// 36:104
[com_104]
type=graphic
x=53
width=25
height=30
layer=com_91
graphic="steelborder,1"

// 36:105
[com_105]
type=graphic
y=12
width=25
height=30
layer=com_90
graphic="steelborder,2"

// 36:106
[com_106]
type=graphic
y=12
width=25
height=30
layer=com_91
graphic="steelborder,2"

// 36:107
[com_107]
type=graphic
x=53
y=12
width=25
height=30
layer=com_90
graphic="steelborder,3"

// 36:108
[com_108]
type=graphic
x=21
y=21
width=36
height=36
layer=com_90
graphic="miscgraphics,3"

// 36:109
[com_109]
type=graphic
x=53
y=12
width=25
height=30
layer=com_91
graphic="steelborder,3"

// 36:110
[com_110]
type=model
x=336
y=253
width=32
height=32
model=model_4608
modelzoom=134

// 36:111
[com_111]
type=model
x=229
y=57
width=32
height=32
model=model_4611
modelangle=512,0,0
modelzoom=768
modelanim=seq_1356

// 36:112
[com_112]
type=inv
x=229
y=57
width=7
height=6
paddingx=3
paddingy=3

// 36:113
[com_113]
type=text
x=23
y=185
width=169
height=11
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

// 36:114
[com_114]
type=graphic
x=183
y=206
width=36
height=36
graphic="miscgraphics,2"

// 36:115
[com_115]
type=graphic
x=183
y=242
width=36
height=36
graphic="miscgraphics,2"

// 36:116
[com_116]
type=graphic
x=183
y=278
width=36
height=36
graphic="miscgraphics,2"

// 36:117
[com_117]
type=text
x=23
y=160
width=169
height=11
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

// 36:118
[com_118]
type=graphic
x=229
y=57
width=32
height=207
buttontype=1
buttontext=Drop piece

// 36:119
[com_119]
type=graphic
x=264
y=57
width=32
height=207
buttontype=1
buttontext=Drop piece

// 36:120
[com_120]
type=graphic
x=299
y=57
width=32
height=207
buttontype=1
buttontext=Drop piece

// 36:121
[com_121]
type=graphic
x=334
y=57
width=32
height=207
buttontype=1
buttontext=Drop piece

// 36:122
[com_122]
type=graphic
x=369
y=57
width=32
height=207
buttontype=1
buttontext=Drop piece

// 36:123
[com_123]
type=graphic
x=404
y=57
width=32
height=207
buttontype=1
buttontext=Drop piece

// 36:124
[com_124]
type=graphic
x=439
y=57
width=32
height=207
buttontype=1
buttontext=Drop piece

// 36:125
[com_125]
type=text
x=27
y=157
width=160
height=14
textfont=b12_full
text=Blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

// 36:126
[com_126]
type=layer
x=26
y=265
width=78
height=42
hide=yes

// 36:127
[com_127]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_126
buttontype=3
colour=0x000000
fill=yes

// 36:128
[com_128]
type=text
x=23
y=14
width=31
height=14
layer=com_126
textfont=p12_full
text=Close
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

// 36:129
[com_129]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_126
graphic="steelborder2,0"

// 36:130
[com_130]
type=graphic
width=25
height=30
layer=com_126
graphic="steelborder,0"

// 36:131
[com_131]
type=graphic
x=53
width=25
height=30
layer=com_126
graphic="steelborder,1"

// 36:132
[com_132]
type=graphic
y=12
width=25
height=30
layer=com_126
graphic="steelborder,2"

// 36:133
[com_133]
type=graphic
x=53
y=12
width=25
height=30
layer=com_126
graphic="steelborder,3"

// 36:134
[com_134]
type=graphic
x=21
y=21
width=36
height=36
layer=com_126
graphic="miscgraphics,3"

// 36:135
[com_135]
type=model
x=20
y=57
width=20
height=20
model=model_2399
modelangle=512,1024,0
modelzoom=1024

// 36:136
[com_136]
type=model
x=20
y=87
width=20
height=20
model=model_2652
modelangle=512,1024,0
modelzoom=1024

