// 187:0
[com_0]
type=model
x=241
y=194
width=34
height=33
model=model_8956
modelangle=519,6,0
modelzoom=348

// 187:1
[com_1]
type=model
x=410
y=279
width=32
height=32
model=model_8963
modelangle=391,0,0
modelzoom=600

// 187:2
[com_2]
type=model
x=238
y=140
width=32
height=32
model=model_8955
modelangle=125,8,0
modelzoom=478

// 187:3
[com_3]
type=model
x=240
y=262
width=42
height=38
model=model_8964
modelangle=395,2047,0
modelzoom=494

// 187:4
[com_4]
type=model
x=80
y=279
width=32
height=32
buttontype=1
model=model_8957
modelangle=391,0,0
modelzoom=607

// 187:5
[com_5]
type=model
x=135
y=279
width=32
height=32
buttontype=1
model=model_8958
modelangle=391,0,0
modelzoom=607

// 187:6
[com_6]
type=model
x=190
y=279
width=32
height=32
buttontype=1
model=model_8959
modelangle=391,0,0
modelzoom=607

// 187:7
[com_7]
type=model
x=245
y=279
width=32
height=32
buttontype=1
model=model_8960
modelangle=391,0,0
modelzoom=600

// 187:8
[com_8]
type=model
x=300
y=279
width=32
height=32
buttontype=1
model=model_8961
modelangle=391,0,0
modelzoom=600

// 187:9
[com_9]
type=model
x=355
y=279
width=32
height=32
buttontype=1
model=model_8962
modelangle=391,0,0
modelzoom=600

// 187:10
[com_10]
type=model
x=410
y=279
width=32
height=32
buttontype=1
model=model_8963
modelangle=391,0,0
modelzoom=600

