// 272:0
[com_0]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 272:1
[com_1]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 272:2
[com_2]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 272:3
[com_3]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 272:4
[com_4]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 272:5
[com_5]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 272:6
[com_6]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 272:7
[com_7]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 272:8
[com_8]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 272:9
[com_9]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 272:10
[com_10]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 272:11
[com_11]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 272:12
[com_12]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 272:13
[com_13]
type=layer
x=38
y=167
width=433
height=161

// 272:14
[com_14]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 272:15
[com_15]
type=model
x=203
y=145
width=35
height=35
layer=com_13
model=model_3485
modelangle=250,0,0
modelzoom=300

// 272:16
[com_16]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 272:17
[com_17]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 272:18
[com_18]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 272:19
[com_19]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 272:20
[com_20]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 272:21
[com_21]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 272:22
[com_22]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 272:23
[com_23]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 272:24
[com_24]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 272:25
[com_25]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 272:26
[com_26]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 272:27
[com_27]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 272:28
[com_28]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 272:29
[com_29]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 272:30
[com_30]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 272:31
[com_31]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 272:32
[com_32]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 272:33
[com_33]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 272:34
[com_34]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 272:35
[com_35]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 272:36
[com_36]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 272:37
[com_37]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 272:38
[com_38]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 272:39
[com_39]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 272:40
[com_40]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 272:41
[com_41]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 272:42
[com_42]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 272:43
[com_43]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 272:44
[com_44]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 272:45
[com_45]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 272:46
[com_46]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 272:47
[com_47]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 272:48
[com_48]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 272:49
[com_49]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 272:50
[com_50]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 272:51
[com_51]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 272:52
[com_52]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 272:53
[com_53]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 272:54
[com_54]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 272:55
[com_55]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 272:56
[com_56]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 272:57
[com_57]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 272:58
[com_58]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 272:59
[com_59]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 272:60
[com_60]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 272:61
[com_61]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 272:62
[com_62]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 272:63
[com_63]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 272:64
[com_64]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 272:65
[com_65]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 272:66
[com_66]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 272:67
[com_67]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 272:68
[com_68]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 272:69
[com_69]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 272:70
[com_70]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 272:71
[com_71]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 272:72
[com_72]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 272:73
[com_73]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 272:74
[com_74]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 272:75
[com_75]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 272:76
[com_76]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 272:77
[com_77]
type=text
x=91
y=30
width=331
height=16
textfont=b12_full
text=Grave Monument
textalignh=centre
textshadow=yes
colour=0xff981f

// 272:78
[com_78]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 272:79
[com_79]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 272:80
[com_80]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 272:81
[com_81]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 272:82
[com_82]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 272:83
[com_83]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 272:84
[com_84]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 272:85
[com_85]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 272:86
[com_86]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 272:87
[com_87]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 272:88
[com_88]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 272:89
[com_89]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 272:90
[com_90]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 272:91
[com_91]
type=layer
x=38
y=41
width=433
height=160

// 272:92
[com_92]
type=model
x=200
y=355
width=35
height=35
layer=com_91
model=model_3485
modelangle=100,0,0
modelzoom=330

// 272:93
[com_93]
type=model
x=243
y=230
width=30
height=44
model=model_2348
modelangle=200,22,0
modelzoom=240

// 272:94
[com_94]
type=text
x=195
y=67
width=127
height=107
textfont=q8_full
text=Saradomin<br><br>lights my way<br><br>through<br><br>the darkness of life
textalignh=centre
colour=0x000000

// 272:95
[com_95]
type=rectangle
x=12
y=-12
width=488
height=32
colour=0x000000
fill=yes

// 272:96
[com_96]
type=rectangle
x=12
y=319
width=488
height=32
colour=0x000000
fill=yes

// 272:97
[com_97]
type=graphic
x=471
y=25
width=26
height=23
mouseoverlayer=com_99
graphic="close_buttons,0"

// 272:98
[com_98]
type=graphic
x=6
y=2
width=26
height=23
layer=com_99
buttontype=3
graphic="close_buttons,1"

// 272:99
[com_99]
type=layer
x=465
y=23
width=32
height=32
hide=yes

