// 311:0
[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic="sworddecor,1"

// 311:1
[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic="sworddecor,0"

// 311:2
[com_2]
type=text
x=8
y=3
width=464
height=17
textfont=q8_full
text=What would you like to smelt?
textalignh=centre
colour=0x800000

// 311:3
[com_3]
type=inv
x=20
y=116
width=8
height=1
paddingx=25

// 311:4
[com_4]
type=model
x=18
y=37
width=32
height=32
model=model_2408
modelangle=224,177,0
modelzoom=678

// 311:5
[com_5]
type=model
x=68
y=37
width=32
height=32
model=model_2408
modelangle=224,177,0
modelzoom=678

// 311:6
[com_6]
type=model
x=120
y=37
width=32
height=32
model=model_2408
modelangle=224,177,0
modelzoom=678

// 311:7
[com_7]
type=model
x=170
y=37
width=32
height=32
model=model_2408
modelangle=224,177,0
modelzoom=678

// 311:8
[com_8]
type=model
x=224
y=37
width=32
height=32
model=model_2408
modelangle=224,177,0
modelzoom=678

// 311:9
[com_9]
type=model
x=274
y=37
width=32
height=32
model=model_2408
modelangle=224,177,0
modelzoom=678

// 311:10
[com_10]
type=model
x=327
y=37
width=32
height=32
model=model_2408
modelangle=224,177,0
modelzoom=678

// 311:11
[com_11]
type=model
x=380
y=37
width=32
height=32
model=model_2408
modelangle=224,177,0
modelzoom=678

// 311:12
[com_12]
type=model
x=432
y=37
width=32
height=32
model=model_2408
modelangle=224,177,0
modelzoom=678

// 311:13
[com_13]
type=text
x=8
y=28
width=51
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt X <col=ff9040>Bronze

// 311:14
[com_14]
type=text
x=8
y=28
width=51
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 10 <col=ff9040>Bronze

// 311:15
[com_15]
type=text
x=8
y=28
width=51
height=88
buttontype=1
textfont=p12_full
textalignh=centre
colour=0x000000
buttontext=Smelt 5 <col=ff9040>Bronze

// 311:16
[com_16]
type=text
x=8
y=28
width=51
height=88
buttontype=1
textfont=p11_full
text=<br><br><br><br>Bronze
textalignh=centre
colour=0xa00000
buttontext=Smelt 1 <col=ff9040>Bronze
script=stat(smithing) > 0

// 311:17
[com_17]
type=text
x=59
y=28
width=48
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt X <col=ff9040>Blurite

// 311:18
[com_18]
type=text
x=59
y=28
width=48
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 10 <col=ff9040>Blurite

// 311:19
[com_19]
type=text
x=59
y=28
width=48
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 5 <col=ff9040>Blurite

// 311:20
[com_20]
type=text
x=59
y=28
width=48
height=88
buttontype=1
textfont=p11_full
text=<br><br><br><br>Blurite
textalignh=centre
colour=0xa00000
buttontext=Smelt 1 <col=ff9040>Blurite

// 311:21
[com_21]
type=text
x=110
y=28
width=49
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt X <col=ff9040>Iron

// 311:22
[com_22]
type=text
x=110
y=28
width=49
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 10 <col=ff9040>Iron

// 311:23
[com_23]
type=text
x=110
y=28
width=49
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 5 <col=ff9040>Iron

// 311:24
[com_24]
type=text
x=110
y=28
width=49
height=88
buttontype=1
textfont=p11_full
text=<br><br><br><br>Iron
textalignh=centre
colour=0xa00000
buttontext=Smelt 1 <col=ff9040>Iron
script=stat(smithing) > 14

// 311:25
[com_25]
type=text
x=162
y=28
width=48
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt X <col=ff9040>Silver

// 311:26
[com_26]
type=text
x=162
y=28
width=48
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 10 <col=ff9040>Silver

// 311:27
[com_27]
type=text
x=162
y=28
width=48
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 5 <col=ff9040>Silver

// 311:28
[com_28]
type=text
x=162
y=28
width=48
height=88
buttontype=1
textfont=p11_full
text=<br><br><br><br>Silver
textalignh=centre
colour=0xa00000
buttontext=Smelt 1 <col=ff9040>Silver
script=stat(smithing) > 19

// 311:29
[com_29]
type=text
x=214
y=28
width=46
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt X <col=ff9040>Steel

// 311:30
[com_30]
type=text
x=214
y=28
width=46
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 10 <col=ff9040>Steel

// 311:31
[com_31]
type=text
x=214
y=28
width=46
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 5 <col=ff9040>Steel

// 311:32
[com_32]
type=text
x=214
y=28
width=46
height=88
buttontype=1
textfont=p11_full
text=<br><br><br><br>Steel
textalignh=centre
colour=0xa00000
buttontext=Smelt 1 <col=ff9040>Steel
script=stat(smithing) > 29

// 311:33
[com_33]
type=text
x=266
y=28
width=48
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt X <col=ff9040>Gold

// 311:34
[com_34]
type=text
x=266
y=28
width=48
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 10 <col=ff9040>Gold

// 311:35
[com_35]
type=text
x=266
y=28
width=48
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 5 <col=ff9040>Gold

// 311:36
[com_36]
type=text
x=266
y=28
width=48
height=88
buttontype=1
textfont=p11_full
text=<br><br><br><br>Gold
textalignh=centre
colour=0xa00000
buttontext=Smelt 1 <col=ff9040>Gold
script=stat(smithing) > 39

// 311:37
[com_37]
type=text
x=318
y=28
width=50
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt X <col=ff9040>Mithril

// 311:38
[com_38]
type=text
x=318
y=28
width=50
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 10 <col=ff9040>Mithril

// 311:39
[com_39]
type=text
x=318
y=28
width=50
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 5 <col=ff9040>Mithril

// 311:40
[com_40]
type=text
x=318
y=28
width=50
height=88
buttontype=1
textfont=p11_full
text=<br><br><br><br>Mithril
textalignh=centre
colour=0xa00000
buttontext=Smelt 1 <col=ff9040>Mithril
script=stat(smithing) > 49

// 311:41
[com_41]
type=text
x=370
y=28
width=53
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt X <col=ff9040>Adamant

// 311:42
[com_42]
type=text
x=370
y=28
width=53
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 10 <col=ff9040>Adamant

// 311:43
[com_43]
type=text
x=370
y=28
width=53
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 5 <col=ff9040>Adamant

// 311:44
[com_44]
type=text
x=370
y=28
width=53
height=88
buttontype=1
textfont=p11_full
text=<br><br><br><br>Adamant
textalignh=centre
colour=0xa00000
buttontext=Smelt 1 <col=ff9040>Adamant
script=stat(smithing) > 69

// 311:45
[com_45]
type=text
x=422
y=28
width=55
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt X <col=ff9040>Rune

// 311:46
[com_46]
type=text
x=422
y=28
width=55
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 10 <col=ff9040>Rune

// 311:47
[com_47]
type=text
x=422
y=28
width=55
height=88
buttontype=1
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0x000000
buttontext=Smelt 5 <col=ff9040>Rune

// 311:48
[com_48]
type=text
x=422
y=28
width=55
height=88
buttontype=1
textfont=p11_full
text=<br><br><br><br>Rune
textalignh=centre
colour=0xa00000
buttontext=Smelt 1 <col=ff9040>Rune
script=stat(smithing) > 84

