// 376:0
[com_0]
type=model
x=241
y=160
width=32
height=32
model=model_4238
modelangle=509,1536,0
modelzoom=151

// 376:1
[com_1]
type=model
x=235
y=150
width=32
height=32
model=model_4237
modelangle=493,355,0
modelzoom=137

// 376:2
[com_2]
type=model
x=231
y=159
width=32
height=32
model=model_4239
modelangle=474,32,0
modelzoom=150

// 376:3
[com_3]
type=model
x=232
y=157
width=32
height=32
model=model_4239
modelangle=474,32,0
modelzoom=99

// 376:4
[com_4]
type=model
x=236
y=159
width=32
height=32
model=model_4239
modelangle=474,32,0
modelzoom=307

// 376:5
[com_5]
type=model
x=236
y=159
width=32
height=32
model=model_4240
modelangle=159,57,0
modelzoom=197

// 376:6
[com_6]
type=layer
x=110
y=38
width=335
height=259

// 376:7
[com_7]
type=model
x=233
y=148
width=32
height=32
model=model_4240
modelangle=159,57,0
modelzoom=127

// 376:8
[com_8]
type=model
x=74
y=-5
width=32
height=32
layer=com_6
model=model_2484
modelzoom=0

// 376:9
[com_9]
type=model
x=37
y=57
width=32
height=32
layer=com_6
model=model_2484
modelangle=353,1927,0
modelzoom=306

// 376:10
[com_10]
type=model
x=29
y=131
width=32
height=32
layer=com_6
model=model_2484
modelangle=328,1916,0
modelzoom=306

// 376:11
[com_11]
type=model
x=55
y=199
width=32
height=32
layer=com_6
model=model_2484
modelangle=311,1735,0
modelzoom=306

// 376:12
[com_12]
type=model
x=301
y=117
width=32
height=32
layer=com_6
model=model_2484
modelangle=361,1883,0
modelzoom=306

// 376:13
[com_13]
type=model
x=271
y=193
width=32
height=32
layer=com_6
model=model_2484
modelangle=360,1905,0
modelzoom=306

// 376:14
[com_14]
type=model
x=241
y=-11
width=32
height=32
layer=com_6
model=model_2484
modelangle=380,1870,0
modelzoom=306

// 376:15
[com_15]
type=model
x=292
y=39
width=25
height=45
layer=com_6
model=model_2484
modelangle=351,1844,0
modelzoom=306

// 376:16
[com_16]
type=graphic
x=473
y=13
width=26
height=23
mouseoverlayer=com_18
graphic="close_buttons,4"

// 376:17
[com_17]
type=graphic
x=3
y=4
width=26
height=23
layer=com_18
buttontype=3
graphic="close_buttons,5"

// 376:18
[com_18]
type=layer
x=470
y=9
width=32
height=32
hide=yes

