// 425:0
[com_0]
type=model
x=244
y=160
width=32
height=32
model=model_16067
modelangle=0,2047,0
modelzoom=266

// 425:1
[com_1]
type=text
x=114
y=70
width=285
height=206
textfont=lunar_alphabet_lrg
text=COSMIC<br>RUNEe<br>ALTAR
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xcccccc
colouractive=0x666666

// 425:2
[com_2]
type=graphic
x=461
y=21
width=26
height=23
mouseoverlayer=com_4
graphic="close_buttons,6"

// 425:3
[com_3]
type=graphic
x=4
y=4
width=26
height=23
layer=com_4
buttontype=3
graphic="close_buttons,7"

// 425:4
[com_4]
type=layer
x=457
y=17
width=32
height=32
mouseoverlayer=com_4
hide=yes

