// 188:0
[com_0]
type=model
x=-10
y=42
width=32
height=32
model=model_3548
modelangle=17,1783,0
modelzoom=613

// 188:1
[com_1]
type=model
x=457
y=41
width=32
height=32
model=model_3548
modelangle=26,240,0
modelzoom=622

// 188:2
[com_2]
type=text
x=68
y=56
width=73
height=15
buttontype=1
textfont=q8_full
text=Cry
textalignh=centre
textshadow=yes
colour=0x8686af

// 188:3
[com_3]
type=text
x=67
y=19
width=76
height=17
buttontype=1
textfont=q8_full
text=Think
textalignh=centre
textshadow=yes
colour=0x8686af

// 188:4
[com_4]
type=text
x=141
y=19
width=84
height=17
buttontype=1
textfont=q8_full
text=Laugh
textalignh=centre
textshadow=yes
colour=0x8686af

// 188:5
[com_5]
type=text
x=140
y=56
width=83
height=16
buttontype=1
textfont=q8_full
text=Dance
textalignh=centre
textshadow=yes
colour=0x8686af

// 188:6
[com_6]
type=text
x=224
y=9
width=99
height=38
buttontype=1
textfont=q8_full
text=Climb Rope
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x8686af

// 188:7
[com_7]
type=text
x=222
y=46
width=102
height=41
buttontype=1
textfont=q8_full
text=Lean on air
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x8686af

// 188:8
[com_8]
type=text
x=323
y=46
width=98
height=41
buttontype=1
textfont=q8_full
text=Glass Wall
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x8686af

// 188:9
[com_9]
type=text
x=322
y=10
width=99
height=38
buttontype=1
textfont=q8_full
text=Glass Box
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x8686af

