// 269:0
[com_0]
type=graphic
x=338
y=7
width=88
height=60
graphic=tradebacking

// 269:1
[com_1]
type=graphic
x=101
y=8
width=88
height=60
graphic=tradebacking

// 269:2
[com_2]
type=graphic
x=18
y=30
width=88
height=60
graphic=tradebacking

// 269:3
[com_3]
type=graphic
x=187
y=7
width=88
height=60
graphic=tradebacking

// 269:4
[com_4]
type=graphic
x=274
y=8
width=88
height=60
graphic=tradebacking

// 269:5
[com_5]
type=graphic
x=408
y=6
width=88
height=60
graphic=tradebacking

// 269:6
[com_6]
type=graphic
x=15
y=9
width=88
height=60
graphic=tradebacking

// 269:7
[com_7]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 269:8
[com_8]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 269:9
[com_9]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 269:10
[com_10]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 269:11
[com_11]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 269:12
[com_12]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 269:13
[com_13]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 269:14
[com_14]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 269:15
[com_15]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 269:16
[com_16]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 269:17
[com_17]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 269:18
[com_18]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 269:19
[com_19]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 269:20
[com_20]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 269:21
[com_21]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 269:22
[com_22]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 269:23
[com_23]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 269:24
[com_24]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 269:25
[com_25]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 269:26
[com_26]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 269:27
[com_27]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 269:28
[com_28]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 269:29
[com_29]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 269:30
[com_30]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 269:31
[com_31]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 269:32
[com_32]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 269:33
[com_33]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 269:34
[com_34]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 269:35
[com_35]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 269:36
[com_36]
type=graphic
x=12
y=4
width=25
height=30
graphic="steelborder,0"

// 269:37
[com_37]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 269:38
[com_38]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 269:39
[com_39]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 269:40
[com_40]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 269:41
[com_41]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 269:42
[com_42]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 269:43
[com_43]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 269:44
[com_44]
type=graphic
x=479
y=58
width=36
height=36
graphic="steelborder2,1"

// 269:45
[com_45]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 269:46
[com_46]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 269:47
[com_47]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 269:48
[com_48]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 269:49
[com_49]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 269:50
[com_50]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 269:51
[com_51]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 269:52
[com_52]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 269:53
[com_53]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 269:54
[com_54]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 269:55
[com_55]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 269:56
[com_56]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 269:57
[com_57]
type=graphic
x=479
y=29
width=36
height=36
graphic="steelborder2,1"

// 269:58
[com_58]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 269:59
[com_59]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 269:60
[com_60]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 269:61
[com_61]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 269:62
[com_62]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 269:63
[com_63]
type=graphic
x=-3
y=25
width=36
height=36
graphic="miscgraphics,2"

// 269:64
[com_64]
type=graphic
x=72
y=-11
width=36
height=36
graphic="steelborder2,0"

// 269:65
[com_65]
type=graphic
x=107
y=-11
width=36
height=36
graphic="steelborder2,0"

// 269:66
[com_66]
type=graphic
x=142
y=-11
width=36
height=36
graphic="steelborder2,0"

// 269:67
[com_67]
type=graphic
x=177
y=-11
width=36
height=36
graphic="steelborder2,0"

// 269:68
[com_68]
type=graphic
x=212
y=-11
width=36
height=36
graphic="steelborder2,0"

// 269:69
[com_69]
type=graphic
x=247
y=-11
width=36
height=36
graphic="steelborder2,0"

// 269:70
[com_70]
type=graphic
x=282
y=-11
width=36
height=36
graphic="steelborder2,0"

// 269:71
[com_71]
type=graphic
x=317
y=-11
width=36
height=36
graphic="steelborder2,0"

// 269:72
[com_72]
type=graphic
x=352
y=-11
width=36
height=36
graphic="steelborder2,0"

// 269:73
[com_73]
type=graphic
x=387
y=-11
width=36
height=36
graphic="steelborder2,0"

// 269:74
[com_74]
type=graphic
x=422
y=-11
width=36
height=36
graphic="steelborder2,0"

// 269:75
[com_75]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 269:76
[com_76]
type=graphic
x=37
y=-11
width=36
height=36
graphic="steelborder2,0"

// 269:77
[com_77]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 269:78
[com_78]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 269:79
[com_79]
type=graphic
x=475
y=3
width=25
height=30
graphic="steelborder,1"

// 269:80
[com_80]
type=graphic
x=457
y=-11
width=36
height=36
graphic="steelborder2,0"

// 269:81
[com_81]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 269:82
[com_82]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 269:83
[com_83]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 269:84
[com_84]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 269:85
[com_85]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 269:86
[com_86]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 269:87
[com_87]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 269:88
[com_88]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 269:89
[com_89]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 269:90
[com_90]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 269:91
[com_91]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 269:92
[com_92]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 269:93
[com_93]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 269:94
[com_94]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 269:95
[com_95]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 269:96
[com_96]
type=layer
x=36
y=20
width=440
height=299

// 269:97
[com_97]
type=text
x=17
y=9
width=478
height=40
textfont=b12_full
text=Welcome to RuneScape<br>Use the buttons below to design your player
textlineheight=16
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f

// 269:98
[com_98]
type=model
clientcode=327
x=190
y=155
width=136
height=168
model=null
modelangle=150,0,0
modelzoom=650

// 269:99
[com_99]
type=rectangle
clientcode=326
x=223
y=266
width=66
height=31
buttontype=1
colour=0x000000
fill=yes
buttontext=Accept

// 269:100
[com_100]
type=text
x=222
y=265
width=68
height=32
textfont=p12_full
text=Accept
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00c000

// 269:101
[com_101]
type=graphic
x=217
y=260
width=25
height=30
graphic="steelborder,0"

// 269:102
[com_102]
type=graphic
x=270
y=260
width=25
height=30
graphic="steelborder,1"

// 269:103
[com_103]
type=graphic
x=217
y=273
width=25
height=30
graphic="steelborder,2"

// 269:104
[com_104]
type=graphic
x=270
y=273
width=25
height=30
graphic="steelborder,3"

// 269:105
[com_105]
type=graphic
clientcode=314
x=326
y=74
width=45
height=36
buttontype=1
graphic=leftarrow
buttontext=Recolour hair

// 269:106
[com_106]
type=graphic
clientcode=300
x=27
y=68
width=45
height=36
buttontype=1
graphic=leftarrow
buttontext=Change head

// 269:107
[com_107]
type=graphic
clientcode=302
x=27
y=103
width=45
height=36
buttontype=1
graphic=leftarrow
buttontext=Change jaw

// 269:108
[com_108]
type=graphic
clientcode=304
x=27
y=138
width=45
height=36
buttontype=1
graphic=leftarrow
buttontext=Change torso

// 269:109
[com_109]
type=graphic
clientcode=306
x=27
y=173
width=45
height=36
buttontype=1
graphic=leftarrow
buttontext=Change arms

// 269:110
[com_110]
type=graphic
clientcode=308
x=27
y=208
width=45
height=36
buttontype=1
graphic=leftarrow
buttontext=Change hands

// 269:111
[com_111]
type=graphic
clientcode=310
x=27
y=243
width=45
height=36
buttontype=1
graphic=leftarrow
buttontext=Change legs

// 269:112
[com_112]
type=graphic
clientcode=312
x=27
y=278
width=45
height=36
buttontype=1
graphic=leftarrow
buttontext=Change feet

// 269:113
[com_113]
type=graphic
clientcode=301
x=140
y=68
width=45
height=36
buttontype=1
graphic=rightarrow
buttontext=Change head

// 269:114
[com_114]
type=graphic
clientcode=303
x=140
y=103
width=45
height=36
buttontype=1
graphic=rightarrow
buttontext=Change jaw

// 269:115
[com_115]
type=graphic
clientcode=305
x=140
y=138
width=45
height=36
buttontype=1
graphic=rightarrow
buttontext=Change torso

// 269:116
[com_116]
type=graphic
clientcode=307
x=140
y=173
width=45
height=36
buttontype=1
graphic=rightarrow
buttontext=Change arms

// 269:117
[com_117]
type=graphic
clientcode=309
x=140
y=208
width=45
height=36
buttontype=1
graphic=rightarrow
buttontext=Change hands

// 269:118
[com_118]
type=graphic
clientcode=311
x=140
y=243
width=45
height=36
buttontype=1
graphic=rightarrow
buttontext=Change legs

// 269:119
[com_119]
type=graphic
clientcode=313
x=140
y=278
width=45
height=36
buttontype=1
graphic=rightarrow
buttontext=Change feet

// 269:120
[com_120]
type=text
x=76
y=79
width=60
height=234
textfont=p12_full
text=Head<br>Jaw<br>Torso<br>Arms<br>Hands<br>Legs<br>Feet
textlineheight=35
textalignh=centre
textshadow=yes
colour=0xff981f

// 269:121
[com_121]
type=graphic
clientcode=315
x=440
y=74
width=45
height=36
buttontype=1
graphic=rightarrow
buttontext=Recolour hair

// 269:122
[com_122]
type=graphic
clientcode=318
x=326
y=144
width=45
height=36
buttontype=1
graphic=leftarrow
buttontext=Recolour legs

// 269:123
[com_123]
type=graphic
clientcode=316
x=326
y=109
width=45
height=36
buttontype=1
graphic=leftarrow
buttontext=Recolour torso

// 269:124
[com_124]
type=graphic
clientcode=320
x=326
y=179
width=45
height=36
buttontype=1
graphic=leftarrow
buttontext=Recolour feet

// 269:125
[com_125]
type=graphic
clientcode=322
x=326
y=214
width=45
height=36
buttontype=1
graphic=leftarrow
buttontext=Recolour skin

// 269:126
[com_126]
type=text
x=30
y=54
width=153
height=13
textfont=p11_full
text=Design
textalignh=centre
textshadow=yes

// 269:127
[com_127]
type=graphic
clientcode=317
x=440
y=109
width=45
height=36
buttontype=1
graphic=rightarrow
buttontext=Recolour torso

// 269:128
[com_128]
type=text
x=336
y=57
width=146
height=13
textfont=p11_full
text=Colour
textalignh=centre
textshadow=yes

// 269:129
[com_129]
type=graphic
clientcode=319
x=440
y=144
width=45
height=36
buttontype=1
graphic=rightarrow
buttontext=Recolour legs

// 269:130
[com_130]
type=graphic
clientcode=321
x=440
y=179
width=45
height=36
buttontype=1
graphic=rightarrow
buttontext=Recolour feet

// 269:131
[com_131]
type=graphic
clientcode=323
x=440
y=214
width=45
height=36
buttontype=1
graphic=rightarrow
buttontext=Recolour skin

// 269:132
[com_132]
type=text
x=373
y=84
width=65
height=166
textfont=p12_full
text=Hair<br>Torso<br>Legs<br>Feet<br>Skin
textlineheight=35
textalignh=centre
textshadow=yes
colour=0xff981f

// 269:133
[com_133]
type=graphic
x=235
y=245
width=36
height=36
graphic="steelborder2,0"

// 269:134
[com_134]
type=graphic
x=236
y=282
width=36
height=36
graphic="miscgraphics,3"

// 269:135
[com_135]
type=text
x=346
y=258
width=117
height=12
textfont=p11_full
text=Gender
textalignh=centre
textshadow=yes

// 269:136
[com_136]
type=graphic
clientcode=324
x=325
y=271
width=72
height=36
buttontype=1
graphic="combatboxes,0"
graphicactive="combatboxes,1"
buttontext=Male

// 269:137
[com_137]
type=graphic
clientcode=325
x=417
y=271
width=72
height=36
buttontype=1
graphic="combatboxes,0"
graphicactive="combatboxes,1"
buttontext=Female

// 269:138
[com_138]
type=text
x=326
y=271
width=71
height=36
textfont=p12_full
text=Male
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f

// 269:139
[com_139]
type=text
x=417
y=271
width=72
height=36
textfont=p12_full
text=Female
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f

