// 305:0
[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic="sworddecor,1"

// 305:1
[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic="sworddecor,0"

// 305:2
[com_2]
type=model
x=28
y=13
width=64
height=81
model=null
modelzoom=400

// 305:3
[com_3]
type=model
x=148
y=13
width=64
height=81
model=null
modelzoom=400

// 305:4
[com_4]
type=model
x=268
y=13
width=64
height=81
model=null
modelzoom=400

// 305:5
[com_5]
type=model
x=388
y=13
width=64
height=81
model=null
modelzoom=400

// 305:6
[com_6]
type=text
x=2
y=16
width=115
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 305:7
[com_7]
type=text
x=2
y=16
width=115
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 305:8
[com_8]
type=text
x=2
y=16
width=115
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 305:9
[com_9]
type=text
x=2
y=16
width=115
height=80
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 305:10
[com_10]
type=text
x=116
y=15
width=120
height=81
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 305:11
[com_11]
type=text
x=116
y=15
width=120
height=81
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 305:12
[com_12]
type=text
x=116
y=15
width=120
height=81
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 305:13
[com_13]
type=text
x=116
y=15
width=120
height=81
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 305:14
[com_14]
type=text
x=235
y=15
width=122
height=81
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 305:15
[com_15]
type=text
x=235
y=15
width=122
height=81
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 305:16
[com_16]
type=text
x=235
y=15
width=122
height=81
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 305:17
[com_17]
type=text
x=235
y=15
width=122
height=81
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 305:18
[com_18]
type=text
x=356
y=15
width=120
height=81
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make X

// 305:19
[com_19]
type=text
x=356
y=15
width=120
height=81
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 10

// 305:20
[com_20]
type=text
x=356
y=15
width=120
height=81
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 5

// 305:21
[com_21]
type=text
x=356
y=15
width=120
height=81
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff
buttontext=Make 1

// 305:22
[com_22]
type=text
x=8
y=3
width=464
height=17
textfont=q8_full
text=What would you like to make?
textalignh=centre
colour=0x800000

