// 276:0
[com_0]
type=model
x=243
y=138
width=35
height=35
model=model_3032
modelangle=400,0,0
modelzoom=650

// 276:1
[com_1]
type=text
x=116
y=109
width=292
height=19
textfont=q8_full
text=Congratulations!
textalignh=centre
textshadow=yes
colour=0xff981f

// 276:2
[com_2]
type=text
y=134
width=512
height=2
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xffff00

// 276:3
[com_3]
type=model
x=117
y=169
width=85
height=105
model=null
modelangle=11,1849,0
modelzoom=1500

// 276:4
[com_4]
type=text
x=202
y=237
width=89
height=26
textfont=p12_full
text=Total Points:
textalignh=centre
textshadow=yes
colour=0x0099ff

// 276:5
[com_5]
type=text
x=296
y=237
width=17
height=14
textfont=p12_full
text=%1
textalignh=centre
textshadow=yes
colour=0x0099ff
script0=varplayer_101

// 276:6
[com_6]
type=model
x=341
y=195
width=32
height=32
model=model_3037
modelangle=500,0,0
modelzoom=800

// 276:7
[com_7]
type=text
x=202
y=183
width=121
height=16
textfont=p12_full
text=You are awarded
textalignh=centre
textshadow=yes
colour=0x00c000

// 276:8
[com_8]
type=text
x=256
y=198
width=8
height=14
textfont=p12_full
text=0
textalignh=centre
textshadow=yes
colour=0xff0000

// 276:9
[com_9]
type=text
x=202
y=215
width=120
height=16
textfont=p12_full
text=Quest points.
textalignh=centre
textshadow=yes
colour=0x00c000

// 276:10
[com_10]
type=graphic
x=485
y=3
width=26
height=23
mouseoverlayer=com_12
graphic="close_buttons,4"

// 276:11
[com_11]
type=graphic
x=5
y=3
width=26
height=23
layer=com_12
buttontype=3
graphic="close_buttons,5"

// 276:12
[com_12]
type=layer
x=480
width=32
height=32
hide=yes

