// 391:0
[com_0]
type=model
x=238
y=154
width=32
height=32
model=model_15112
modelangle=512,0,0
modelzoom=403

// 391:1
[com_1]
type=text
x=124
y=7
width=263
height=20
textfont=q8_full
text=Kingdom of Miscellania
textalignh=centre
textshadow=yes
colour=0xccaa44

// 391:2
[com_2]
type=rectangle
x=58
width=15
height=47
layer=com_3
colour=0x442d22
fill=yes

// 391:3
[com_3]
type=layer
x=177
y=57
width=93
height=61

// 391:4
[com_4]
type=text
x=2
y=3
width=50
height=16
layer=com_3
textfont=p12_full
text=Mining
textalignh=right
textshadow=yes
colour=0xbfbc8f

// 391:5
[com_5]
type=model
x=-21
y=14
width=49
height=40
layer=com_3
model=model_4624
modelangle=578,4,0
modelzoom=1627

// 391:6
[com_6]
type=rectangle
x=93
y=157
width=17
height=54
colour=0x442d22
fill=yes

// 391:7
[com_7]
type=layer
x=44
y=159
width=110
height=64

// 391:8
[com_8]
type=model
x=-46
y=-55
width=46
height=36
layer=com_7
model=model_15114
modelangle=512,0,0
modelzoom=500

// 391:9
[com_9]
type=text
x=7
y=6
width=33
height=14
layer=com_7
textfont=p12_full
text=Herbs
textshadow=yes
colour=0xbfbc8f

// 391:10
[com_10]
type=model
x=-12
y=-19
width=40
height=31
layer=com_7
model=model_4622
modelangle=512,0,0
modelzoom=424

// 391:11
[com_11]
type=model
x=78
y=-2
width=10
height=28
layer=com_3
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1995
buttontext=Add

// 391:12
[com_12]
type=model
x=78
y=24
width=13
height=25
layer=com_3
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1995
buttontext=Remove

// 391:13
[com_13]
type=rectangle
x=61
y=40
width=9
height=4
layer=com_3
colour=0x000000
colouractive=0x918f6d
fill=yes
script=varplayerbit_84 > 0

// 391:14
[com_14]
type=rectangle
x=61
y=36
width=9
height=4
layer=com_3
colour=0x000000
colouractive=0x969471
fill=yes
script=varplayerbit_84 > 1

// 391:15
[com_15]
type=rectangle
x=61
y=32
width=9
height=4
layer=com_3
colour=0x000000
colouractive=0x9c9975
fill=yes
script=varplayerbit_84 > 2

// 391:16
[com_16]
type=rectangle
x=61
y=28
width=9
height=4
layer=com_3
colour=0x000000
colouractive=0xa19e78
fill=yes
script=varplayerbit_84 > 3

// 391:17
[com_17]
type=rectangle
x=61
y=24
width=9
height=4
layer=com_3
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=varplayerbit_84 > 4

// 391:18
[com_18]
type=rectangle
x=61
y=20
width=9
height=4
layer=com_3
colour=0x000000
colouractive=0xaba880
fill=yes
script=varplayerbit_84 > 5

// 391:19
[com_19]
type=rectangle
x=61
y=16
width=9
height=4
layer=com_3
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=varplayerbit_84 > 6

// 391:20
[com_20]
type=rectangle
x=61
y=12
width=9
height=4
layer=com_3
colour=0x000000
colouractive=0xb5b288
fill=yes
script=varplayerbit_84 > 7

// 391:21
[com_21]
type=rectangle
x=61
y=8
width=9
height=4
layer=com_3
colour=0x000000
colouractive=0xbab78c
fill=yes
script=varplayerbit_84 > 8

// 391:22
[com_22]
type=rectangle
x=61
y=4
width=9
height=4
layer=com_3
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayerbit_84 > 9

// 391:23
[com_23]
type=model
x=327
y=-2
width=57
height=71
model=model_3039
modelangle=537,8,0
modelzoom=1955

// 391:24
[com_24]
type=model
x=21
y=18
width=42
height=35
model=model_4620
modelangle=512,0,0
modelzoom=490

// 391:25
[com_25]
type=layer
x=11
y=31
width=153
height=56

// 391:26
[com_26]
type=text
x=10
width=72
height=14
layer=com_25
textfont=p12_full
text=Coffers:
textalignh=right
textshadow=yes
colour=0xbfbc8f

// 391:27
[com_27]
type=model
x=93
y=-1
width=16
height=26
layer=com_7
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1995
buttontext=Add

// 391:28
[com_28]
type=model
x=93
y=25
width=16
height=30
layer=com_7
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1995
buttontext=Remove

// 391:29
[com_29]
type=rectangle
x=52
y=44
width=10
height=5
layer=com_7
colour=0x000000
colouractive=0x918f6d
fill=yes
script=varplayerbit_82 > 0

// 391:30
[com_30]
type=rectangle
x=49
width=15
height=57
layer=com_42
colour=0x442d22
fill=yes

// 391:31
[com_31]
type=rectangle
x=52
y=50
width=9
height=5
layer=com_42
colour=0x000000
colouractive=0x918f6d
fill=yes
script=varplayerbit_81 > 0

// 391:32
[com_32]
type=rectangle
x=52
y=46
width=9
height=5
layer=com_42
colour=0x000000
colouractive=0x969471
fill=yes
script=varplayerbit_81 > 1

// 391:33
[com_33]
type=rectangle
x=52
y=40
width=9
height=6
layer=com_42
colour=0x000000
colouractive=0x9c9975
fill=yes
script=varplayerbit_81 > 2

// 391:34
[com_34]
type=rectangle
x=52
y=35
width=9
height=6
layer=com_42
colour=0x000000
colouractive=0xa19e78
fill=yes
script=varplayerbit_81 > 3

// 391:35
[com_35]
type=rectangle
x=52
y=30
width=9
height=5
layer=com_42
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=varplayerbit_81 > 4

// 391:36
[com_36]
type=rectangle
x=52
y=24
width=9
height=6
layer=com_42
colour=0x000000
colouractive=0xaba880
fill=yes
script=varplayerbit_81 > 5

// 391:37
[com_37]
type=rectangle
x=52
y=19
width=9
height=5
layer=com_42
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=varplayerbit_81 > 6

// 391:38
[com_38]
type=rectangle
x=52
y=13
width=9
height=6
layer=com_42
colour=0x000000
colouractive=0xb5b288
fill=yes
script=varplayerbit_81 > 7

// 391:39
[com_39]
type=model
x=143
y=113
width=16
height=32
model=model_15113
modelangle=512,0,0
modelzoom=1450

// 391:40
[com_40]
type=rectangle
x=52
y=7
width=9
height=6
layer=com_42
colour=0x000000
colouractive=0xbab78c
fill=yes
script=varplayerbit_81 > 8

// 391:41
[com_41]
type=model
x=170
y=113
width=19
height=30
mouseoverlayer=com_3
model=model_15113
modelangle=512,0,0
modelzoom=1800

// 391:42
[com_42]
type=layer
x=160
y=133
width=88
height=59

// 391:43
[com_43]
type=text
x=8
width=30
height=14
layer=com_42
textfont=p12_full
text=Wood
textshadow=yes
colour=0xbfbc8f

// 391:44
[com_44]
type=model
x=158
y=129
width=34
height=43
model=model_15113
modelangle=512,0,0
modelzoom=1500

// 391:45
[com_45]
type=model
x=69
y=3
width=17
height=25
layer=com_42
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1995
buttontext=Add

// 391:46
[com_46]
type=model
x=72
y=33
width=10
height=25
layer=com_42
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1995
buttontext=Remove

// 391:47
[com_47]
type=rectangle
x=52
y=2
width=9
height=5
layer=com_42
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayerbit_81 > 9

// 391:48
[com_48]
type=rectangle
x=52
y=39
width=10
height=5
layer=com_7
colour=0x000000
colouractive=0x969471
fill=yes
script=varplayerbit_82 > 1

// 391:49
[com_49]
type=rectangle
x=48
y=2
width=16
height=51
layer=com_58
colour=0x442d22
fill=yes

// 391:50
[com_50]
type=rectangle
x=52
y=34
width=10
height=5
layer=com_7
colour=0x000000
colouractive=0x9c9975
fill=yes
script=varplayerbit_82 > 2

// 391:51
[com_51]
type=rectangle
x=52
y=29
width=10
height=5
layer=com_7
colour=0x000000
colouractive=0xa19e78
fill=yes
script=varplayerbit_82 > 3

// 391:52
[com_52]
type=rectangle
x=52
y=24
width=10
height=5
layer=com_7
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=varplayerbit_82 > 4

// 391:53
[com_53]
type=rectangle
x=52
y=19
width=10
height=5
layer=com_7
colour=0x000000
colouractive=0xaba880
fill=yes
script=varplayerbit_82 > 5

// 391:54
[com_54]
type=rectangle
x=52
y=15
width=10
height=5
layer=com_7
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=varplayerbit_82 > 6

// 391:55
[com_55]
type=rectangle
x=52
y=11
width=10
height=5
layer=com_7
colour=0x000000
colouractive=0xb5b288
fill=yes
script=varplayerbit_82 > 7

// 391:56
[com_56]
type=rectangle
x=52
y=6
width=10
height=5
layer=com_7
colour=0x000000
colouractive=0xbab78c
fill=yes
script=varplayerbit_82 > 8

// 391:57
[com_57]
type=rectangle
x=52
y=2
width=10
height=4
layer=com_7
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayerbit_82 > 9

// 391:58
[com_58]
type=layer
x=189
y=212
width=104
height=76

// 391:59
[com_59]
type=text
x=1
y=2
width=40
height=14
layer=com_58
textfont=p12_full
text=Fishing
textshadow=yes
colour=0xbfbc8f

// 391:60
[com_60]
type=model
x=246
y=259
width=34
height=43
model=model_4621
modelangle=512,0,0
modelzoom=900

// 391:61
[com_61]
type=model
x=70
y=-5
width=16
height=33
layer=com_58
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1995
buttontext=Add

// 391:62
[com_62]
type=model
x=70
y=18
width=16
height=30
layer=com_58
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1995
buttontext=Remove

// 391:63
[com_63]
type=rectangle
x=51
y=43
width=10
height=5
layer=com_58
colour=0x000000
colouractive=0x918f6d
fill=yes
script=varplayerbit_83 > 0

// 391:64
[com_64]
type=rectangle
x=51
y=38
width=10
height=5
layer=com_58
colour=0x000000
colouractive=0x969471
fill=yes
script=varplayerbit_83 > 1

// 391:65
[com_65]
type=rectangle
x=51
y=33
width=10
height=5
layer=com_58
colour=0x000000
colouractive=0x9c9975
fill=yes
script=varplayerbit_83 > 2

// 391:66
[com_66]
type=rectangle
x=55
width=16
height=75
layer=com_78
colour=0x442d22
fill=yes

// 391:67
[com_67]
type=rectangle
x=51
y=29
width=10
height=4
layer=com_58
colour=0x000000
colouractive=0xa19e78
fill=yes
script=varplayerbit_83 > 3

// 391:68
[com_68]
type=rectangle
x=51
y=25
width=10
height=5
layer=com_58
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=varplayerbit_83 > 4

// 391:69
[com_69]
type=rectangle
x=51
y=22
width=10
height=4
layer=com_58
colour=0x000000
colouractive=0xaba880
fill=yes
script=varplayerbit_83 > 5

// 391:70
[com_70]
type=rectangle
x=51
y=19
width=10
height=4
layer=com_58
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=varplayerbit_83 > 6

// 391:71
[com_71]
type=rectangle
x=51
y=14
width=10
height=5
layer=com_58
colour=0x000000
colouractive=0xb5b288
fill=yes
script=varplayerbit_83 > 7

// 391:72
[com_72]
type=rectangle
x=51
y=10
width=10
height=4
layer=com_58
colour=0x000000
colouractive=0xbab78c
fill=yes
script=varplayerbit_83 > 8

// 391:73
[com_73]
type=rectangle
x=51
y=5
width=10
height=5
layer=com_58
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayerbit_83 > 9

// 391:74
[com_74]
type=rectangle
x=58
y=66
width=10
height=5
layer=com_78
colour=0x000000
colouractive=0x918f6d
fill=yes
script=varplayer_261 > 0

// 391:75
[com_75]
type=rectangle
x=58
y=62
width=10
height=5
layer=com_78
colour=0x000000
colouractive=0x969471
fill=yes
script=varplayer_261 > 1

// 391:76
[com_76]
type=rectangle
x=58
y=57
width=10
height=5
layer=com_78
colour=0x000000
colouractive=0x9c9975
fill=yes
script=varplayer_261 > 2

// 391:77
[com_77]
type=rectangle
x=58
y=53
width=10
height=5
layer=com_78
mouseoverlayer=com_3
colour=0x000000
colouractive=0xa49e78
fill=yes
script=varplayer_261 > 3

// 391:78
[com_78]
type=layer
x=19
y=249
width=88
height=80

// 391:79
[com_79]
type=text
x=1
y=6
width=53
height=17
layer=com_78
textfont=p12_full
text=Idle
textalignh=centre
textshadow=yes
colour=0xbfbc8f

// 391:80
[com_80]
type=model
y=30
width=53
height=31
layer=com_78
model=model_4626
modelangle=583,2012,0
modelzoom=1611

// 391:81
[com_81]
type=rectangle
x=58
y=48
width=10
height=5
layer=com_78
mouseoverlayer=com_3
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=varplayer_261 > 4

// 391:82
[com_82]
type=rectangle
x=58
y=43
width=10
height=5
layer=com_78
colour=0x000000
colouractive=0xaba880
fill=yes
script=varplayer_261 > 5

// 391:83
[com_83]
type=rectangle
x=58
y=38
width=10
height=5
layer=com_78
mouseoverlayer=com_3
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=varplayer_261 > 6

// 391:84
[com_84]
type=rectangle
x=58
y=34
width=10
height=5
layer=com_78
colour=0x000000
colouractive=0xb5b288
fill=yes
script=varplayer_261 > 7

// 391:85
[com_85]
type=rectangle
x=58
y=29
width=10
height=5
layer=com_78
mouseoverlayer=com_3
colour=0x000000
colouractive=0xbab78c
fill=yes
script=varplayer_261 > 8

// 391:86
[com_86]
type=rectangle
x=58
y=25
width=10
height=5
layer=com_78
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayer_261 > 9

// 391:87
[com_87]
type=rectangle
x=58
y=20
width=10
height=5
layer=com_78
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayer_261 > 10

// 391:88
[com_88]
type=rectangle
x=58
y=15
width=10
height=5
layer=com_78
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayer_261 > 11

// 391:89
[com_89]
type=rectangle
x=58
y=10
width=10
height=5
layer=com_78
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayer_261 > 12

// 391:90
[com_90]
type=rectangle
x=58
y=6
width=10
height=5
layer=com_78
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayer_261 > 13

// 391:91
[com_91]
type=rectangle
x=58
y=3
width=10
height=5
layer=com_78
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayer_261 > 14

// 391:92
[com_92]
type=text
x=89
width=72
height=14
layer=com_25
textfont=p12_full
text=500,000
textshadow=yes

// 391:93
[com_93]
type=text
x=89
y=19
width=73
height=14
layer=com_25
buttontype=1
textfont=p12_full
text=Deposit
textshadow=yes
mouseovercolour=0xffff00
buttontext=Deposit

// 391:94
[com_94]
type=text
x=89
y=34
width=72
height=14
layer=com_25
buttontype=1
textfont=p12_full
text=Withdraw
textshadow=yes
mouseovercolour=0xffff00
buttontext=Withdraw

// 391:95
[com_95]
type=model
x=289
y=211
width=34
height=43
model=model_4621
modelangle=512,0,0
modelzoom=1500

// 391:96
[com_96]
type=model
x=275
y=236
width=34
height=43
model=model_4621
modelangle=512,0,0
modelzoom=1350

// 391:97
[com_97]
type=model
x=-54
y=-8
width=46
height=36
layer=com_7
model=model_4622
modelangle=512,0,0
modelzoom=805

// 391:98
[com_98]
type=model
x=160
y=163
width=32
height=32
model=model_4619
modelangle=512,0,0
modelzoom=525

// 391:99
[com_99]
type=model
x=450
y=253
width=43
height=43
buttontype=1
model=model_4623
modelangle=515,18,0
modelzoom=1850

// 391:100
[com_100]
type=text
x=433
y=306
width=76
height=14
textfont=p12_full
text=Help
textalignh=centre
textshadow=yes
colour=0xbfbc8f

// 391:101
[com_101]
type=text
x=8
y=12
width=4
height=2
layer=com_159
textfont=p12_full
textactive=Deposit money in
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

// 391:102
[com_102]
type=text
x=8
y=27
width=4
height=4
layer=com_159
textfont=p12_full
textactive=the coffers to
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

// 391:103
[com_103]
type=text
x=8
y=42
width=4
height=2
layer=com_159
textfont=p12_full
textactive=pay your subjects
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

// 391:104
[com_104]
type=text
x=8
y=57
width=4
height=2
layer=com_159
textfont=p12_full
textactive=and make them
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

// 391:105
[com_105]
type=text
x=8
y=72
width=4
height=2
layer=com_159
textfont=p12_full
textactive=work harder.
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

// 391:106
[com_106]
type=text
x=8
y=13
width=4
height=2
layer=com_160
textfont=p12_full
textactive=Use the arrows to
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

// 391:107
[com_107]
type=text
x=8
y=28
width=4
height=2
layer=com_160
textfont=p12_full
textactive=adjust the amount
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

// 391:108
[com_108]
type=text
x=8
y=43
width=4
height=2
layer=com_160
textfont=p12_full
textactive=of effort your
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

// 391:109
[com_109]
type=text
x=8
y=58
width=4
height=2
layer=com_160
textfont=p12_full
textactive=subjects spend
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

// 391:110
[com_110]
type=text
x=8
y=73
width=4
height=2
layer=com_160
textfont=p12_full
textactive=on each resource.
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

// 391:111
[com_111]
type=text
x=6
y=39
width=36
height=12
layer=com_58
buttontype=1
textfont=p11_full
text=Cooked
textshadow=yes
colour=0xbfbc8f
buttontext=Cooked or raw fish?

// 391:112
[com_112]
type=graphic
x=18
y=20
width=15
height=15
layer=com_58
buttontype=4
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Cooked or raw fish?
script=varplayerbit_135 = 1

// 391:113
[com_113]
type=model
x=478
y=187
width=32
height=32
model=model_4619
modelangle=512,0,0
modelzoom=625

// 391:114
[com_114]
type=model
x=371
y=173
width=32
height=32
model=model_15116
modelangle=519,0,0
modelzoom=1655

// 391:115
[com_115]
type=rectangle
x=70
y=1
width=15
height=47
layer=com_139
colour=0x442d22
fill=yes

// 391:116
[com_116]
type=model
x=90
y=-1
width=10
height=28
layer=com_139
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1995
buttontext=Add

// 391:117
[com_117]
type=model
x=89
y=23
width=13
height=25
layer=com_139
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1995
buttontext=Remove

// 391:118
[com_118]
type=rectangle
x=73
y=41
width=9
height=4
layer=com_139
colour=0x000000
colouractive=0x918f6d
fill=yes
script=varplayerbit_2131 > 0

// 391:119
[com_119]
type=rectangle
x=73
y=37
width=9
height=4
layer=com_139
colour=0x000000
colouractive=0x969471
fill=yes
script=varplayerbit_2131 > 1

// 391:120
[com_120]
type=rectangle
x=73
y=33
width=9
height=4
layer=com_139
colour=0x000000
colouractive=0x9c9975
fill=yes
script=varplayerbit_2131 > 2

// 391:121
[com_121]
type=rectangle
x=73
y=29
width=9
height=4
layer=com_139
colour=0x000000
colouractive=0xa19e78
fill=yes
script=varplayerbit_2131 > 3

// 391:122
[com_122]
type=rectangle
x=73
y=25
width=9
height=4
layer=com_139
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=varplayerbit_2131 > 4

// 391:123
[com_123]
type=rectangle
x=73
y=21
width=9
height=4
layer=com_139
colour=0x000000
colouractive=0xaba880
fill=yes
script=varplayerbit_2131 > 5

// 391:124
[com_124]
type=rectangle
x=73
y=17
width=9
height=4
layer=com_139
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=varplayerbit_2131 > 6

// 391:125
[com_125]
type=rectangle
x=73
y=13
width=9
height=4
layer=com_139
colour=0x000000
colouractive=0xb5b288
fill=yes
script=varplayerbit_2131 > 7

// 391:126
[com_126]
type=rectangle
x=73
y=9
width=9
height=4
layer=com_139
colour=0x000000
colouractive=0xbab78c
fill=yes
script=varplayerbit_2131 > 8

// 391:127
[com_127]
type=rectangle
x=73
y=5
width=9
height=4
layer=com_139
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayerbit_2131 > 9

// 391:128
[com_128]
type=graphic
x=1
y=19
width=15
height=15
layer=com_139
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Mahogany, Teak or both?
script=varplayerbit_2133 = 0

// 391:129
[com_129]
type=graphic
x=1
y=34
width=15
height=15
layer=com_139
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Mahogany, Teak or both?
script=varplayerbit_2133 = 1

// 391:130
[com_130]
type=graphic
x=1
y=49
width=15
height=15
layer=com_139
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Mahogany, Teak or both?
script=varplayerbit_2133 = 2

// 391:131
[com_131]
type=text
x=17
y=20
width=50
height=12
layer=com_139
buttontype=1
textfont=p11_full
text=Mahogany
textshadow=yes
colour=0xbfbc8f
buttontext=Mahogany, Teak or both?

// 391:132
[com_132]
type=text
x=17
y=35
width=22
height=12
layer=com_139
buttontype=1
textfont=p11_full
text=Teak
textshadow=yes
colour=0xbfbc8f
buttontext=Mahogany, Teak or both?

// 391:133
[com_133]
type=text
x=17
y=50
width=23
height=12
layer=com_139
buttontype=1
textfont=p11_full
text=Both
textshadow=yes
colour=0xbfbc8f
buttontext=Mahogany, Teak or both?

// 391:134
[com_134]
type=text
x=2
y=3
width=59
height=14
layer=com_139
textfont=p12_full
text=Hardwood
textshadow=yes
colour=0xbfbc8f

// 391:135
[com_135]
type=model
x=401
y=86
width=34
height=43
model=model_15117
modelangle=512,0,0
modelzoom=1800

// 391:136
[com_136]
type=model
x=424
y=42
width=34
height=43
model=model_15115
modelangle=512,0,0
modelzoom=1500

// 391:137
[com_137]
type=model
x=420
y=68
width=34
height=43
model=model_15117
modelangle=512,0,0
modelzoom=1500

// 391:138
[com_138]
type=model
x=370
y=22
width=34
height=43
model=model_15115
modelangle=512,0,0
modelzoom=1500

// 391:139
[com_139]
type=layer
x=395
y=34
width=104
height=76
hide=yes

// 391:140
[com_140]
type=rectangle
x=46
y=3
width=15
height=47
layer=com_141
colour=0x442d22
fill=yes

// 391:141
[com_141]
type=layer
x=383
y=185
width=90
height=63
hide=yes

// 391:142
[com_142]
type=text
x=14
y=3
width=27
height=14
layer=com_141
textfont=p12_full
text=Farm
textshadow=yes
colour=0xbfbc8f

// 391:143
[com_143]
type=model
x=69
width=10
height=28
layer=com_141
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1995
buttontext=Add

// 391:144
[com_144]
type=model
x=68
y=27
width=13
height=25
layer=com_141
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1995
buttontext=Remove

// 391:145
[com_145]
type=rectangle
x=49
y=42
width=9
height=4
layer=com_141
colour=0x000000
colouractive=0x918f6d
fill=yes
script=varplayerbit_2132 > 0

// 391:146
[com_146]
type=rectangle
x=49
y=38
width=9
height=4
layer=com_141
colour=0x000000
colouractive=0x969471
fill=yes
script=varplayerbit_2132 > 1

// 391:147
[com_147]
type=rectangle
x=49
y=34
width=9
height=4
layer=com_141
colour=0x000000
colouractive=0x9c9975
fill=yes
script=varplayerbit_2132 > 2

// 391:148
[com_148]
type=rectangle
x=49
y=30
width=9
height=4
layer=com_141
colour=0x000000
colouractive=0xa19e78
fill=yes
script=varplayerbit_2132 > 3

// 391:149
[com_149]
type=rectangle
x=49
y=26
width=9
height=4
layer=com_141
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=varplayerbit_2132 > 4

// 391:150
[com_150]
type=rectangle
x=49
y=22
width=9
height=4
layer=com_141
colour=0x000000
colouractive=0xaba880
fill=yes
script=varplayerbit_2132 > 5

// 391:151
[com_151]
type=rectangle
x=49
y=18
width=9
height=4
layer=com_141
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=varplayerbit_2132 > 6

// 391:152
[com_152]
type=rectangle
x=49
y=14
width=9
height=4
layer=com_141
colour=0x000000
colouractive=0xb5b288
fill=yes
script=varplayerbit_2132 > 7

// 391:153
[com_153]
type=rectangle
x=49
y=10
width=9
height=4
layer=com_141
colour=0x000000
colouractive=0xbab78c
fill=yes
script=varplayerbit_2132 > 8

// 391:154
[com_154]
type=rectangle
x=49
y=6
width=9
height=4
layer=com_141
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayerbit_2132 > 9

// 391:155
[com_155]
type=graphic
y=23
width=15
height=15
layer=com_7
buttontype=1
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Herbs or Flax?
script=varplayerbit_2134 = 0

// 391:156
[com_156]
type=text
x=15
y=24
width=30
height=12
layer=com_7
buttontype=1
textfont=p11_full
text=Herbs
textshadow=yes
colour=0xbfbc8f
buttontext=Herbs or Flax?

// 391:157
[com_157]
type=graphic
y=40
width=15
height=15
layer=com_7
buttontype=1
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Herbs or Flax?
script=varplayerbit_2134 = 1

// 391:158
[com_158]
type=text
x=15
y=43
width=21
height=12
layer=com_7
buttontype=1
textfont=p11_full
text=Flax
textshadow=yes
colour=0xbfbc8f
buttontext=Herbs or Flax?

// 391:159
[com_159]
type=layer
x=267
y=90
width=151
height=104

// 391:160
[com_160]
type=layer
x=314
y=241
width=146
height=93

// 391:161
[com_161]
type=graphic
x=486
y=4
width=26
height=23
mouseoverlayer=com_163
graphic="close_buttons,4"

// 391:162
[com_162]
type=graphic
x=3
y=3
width=26
height=23
layer=com_163
mouseoverlayer=com_163
buttontype=3
graphic="close_buttons,5"

// 391:163
[com_163]
type=layer
x=483
y=1
width=32
height=32
hide=yes

