// 310:0
[com_0]
type=graphic
x=116
y=23
width=20
height=20
mouseoverlayer=com_50
buttontype=1
graphic="magicoff2,5"
graphicactive="magicon2,5"
script=inv_total(interface_387:com_28, obj_4170) > 0
script=inv_total(interface_149:com_0, obj_560) > 0
script=inv_total(interface_149:com_0, obj_558) > 3
script=stat(magic) > 49
script=stat(slayer) > 54

// 310:1
[com_1]
type=graphic
x=52
y=75
width=20
height=20
mouseoverlayer=com_11
buttontype=1
graphic="magicoff,31"
graphicactive="magicon,31"
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4
script=inv_total(interface_149:com_0, obj_565) > 0
script=stat(magic) > 61

// 310:2
[com_2]
type=graphic
x=116
y=75
width=20
height=20
mouseoverlayer=com_19
buttontype=1
graphic="magicoff,33"
graphicactive="magicon,33"
script=inv_total(interface_149:com_0, obj_555) + inv_total(interface_149:com_0, obj_4694) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4698) + inv_contains(interface_387:com_28, obj_1383) + inv_contains(interface_387:com_28, obj_1395) + inv_contains(interface_387:com_28, obj_1403) + inv_contains(interface_387:com_28, obj_6562) + inv_contains(interface_387:com_28, obj_6563) > 6
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4
script=inv_total(interface_149:com_0, obj_565) > 0
script=stat(magic) > 64

// 310:3
[com_3]
type=graphic
x=52
y=126
width=20
height=20
mouseoverlayer=com_29
buttontype=1
graphic="magicoff,36"
graphicactive="magicon,36"
script=inv_total(interface_149:com_0, obj_557) + inv_total(interface_149:com_0, obj_4696) + inv_total(interface_149:com_0, obj_4699) + inv_total(interface_149:com_0, obj_4698) + inv_contains(interface_387:com_28, obj_1385) + inv_contains(interface_387:com_28, obj_1399) + inv_contains(interface_387:com_28, obj_1407) + inv_contains(interface_387:com_28, obj_3053) + inv_contains(interface_387:com_28, obj_3054) + inv_contains(interface_387:com_28, obj_6562) + inv_contains(interface_387:com_28, obj_6563) > 6
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4
script=inv_total(interface_149:com_0, obj_565) > 0
script=stat(magic) > 69

// 310:4
[com_4]
type=graphic
x=116
y=126
width=20
height=20
mouseoverlayer=com_39
buttontype=1
graphic="magicoff,37"
graphicactive="magicon,37"
script=inv_total(interface_149:com_0, obj_554) + inv_total(interface_149:com_0, obj_4694) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4699) + inv_contains(interface_387:com_28, obj_1387) + inv_contains(interface_387:com_28, obj_1393) + inv_contains(interface_387:com_28, obj_1401) + inv_contains(interface_387:com_28, obj_3053) + inv_contains(interface_387:com_28, obj_3054) > 6
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4
script=inv_total(interface_149:com_0, obj_565) > 0
script=stat(magic) > 74

// 310:5
[com_5]
type=layer
x=3
y=178
width=186
height=85

// 310:6
[com_6]
type=text
x=8
y=213
width=172
height=16
textfont=p12_full
text=Select a Combat Spell
textalignh=centre
textshadow=yes
colour=0xb0a392

// 310:7
[com_7]
type=rectangle
x=3
y=9
width=178
height=72
layer=com_5
colour=0x726451

// 310:8
[com_8]
type=rectangle
x=4
y=10
width=176
height=70
layer=com_5
colour=0x726451

// 310:9
[com_9]
type=rectangle
x=4
y=10
width=177
height=71
layer=com_5
colour=0x2e2b23

// 310:10
[com_10]
type=rectangle
x=5
y=11
width=174
height=68
layer=com_5
colour=0x000000
fill=yes

// 310:11
[com_11]
type=layer
x=5
y=184
width=182
height=76
hide=yes

// 310:12
[com_12]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_11
colour=0x000000
fill=yes

// 310:13
[com_13]
type=text
x=3
y=4
width=174
height=16
layer=com_11
textfont=p12_full
text=Level 62 : Wind Wave
textalignh=centre
textshadow=yes
colour=0xfff000

// 310:14
[com_14]
type=text
x=3
y=17
width=174
height=15
layer=com_11
textfont=p11_full
text=A high level Air missile
textalignh=centre
textshadow=yes
colour=0x6b6f33

// 310:15
[com_15]
type=model
x=38
y=35
width=28
height=28
layer=com_11
model=model_2405
modelangle=512,1024,0
modelzoom=900

// 310:16
[com_16]
type=model
x=114
y=35
width=28
height=28
layer=com_11
model=model_2665
modelangle=512,1024,0
modelzoom=900

// 310:17
[com_17]
type=text
x=40
y=62
width=25
height=11
layer=com_11
textfont=p11_full
text=%1/5
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4

// 310:18
[com_18]
type=text
x=116
y=62
width=23
height=11
layer=com_11
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_565) > 0

// 310:19
[com_19]
type=layer
x=5
y=184
width=182
height=76
hide=yes

// 310:20
[com_20]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_19
colour=0x000000
fill=yes

// 310:21
[com_21]
type=text
x=2
y=3
width=182
height=20
layer=com_19
textfont=p12_full
text=Level 65 : Water Wave
textalignh=centre
textshadow=yes
colour=0xfff000

// 310:22
[com_22]
type=text
x=3
y=17
width=181
height=21
layer=com_19
textfont=p11_full
text=A high level Water missile
textalignh=centre
textshadow=yes
colour=0x6b6f33

// 310:23
[com_23]
type=model
x=26
y=35
width=28
height=28
layer=com_19
model=model_2652
modelangle=512,1024,0
modelzoom=900

// 310:24
[com_24]
type=model
x=78
y=35
width=28
height=28
layer=com_19
model=model_2405
modelangle=512,1024,0
modelzoom=900

// 310:25
[com_25]
type=model
x=130
y=35
width=28
height=28
layer=com_19
model=model_2665
modelangle=512,1024,0
modelzoom=900

// 310:26
[com_26]
type=text
x=28
y=62
width=24
height=11
layer=com_19
textfont=p11_full
text=%1/7
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_555) + inv_total(interface_149:com_0, obj_4694) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4698) + inv_contains(interface_387:com_28, obj_1383) + inv_contains(interface_387:com_28, obj_1395) + inv_contains(interface_387:com_28, obj_1403) + inv_contains(interface_387:com_28, obj_6562) + inv_contains(interface_387:com_28, obj_6563) > 6

// 310:27
[com_27]
type=text
x=80
y=62
width=25
height=11
layer=com_19
textfont=p11_full
text=%1/5
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4

// 310:28
[com_28]
type=text
x=132
y=62
width=23
height=11
layer=com_19
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_565) > 0

// 310:29
[com_29]
type=layer
x=5
y=184
width=182
height=76
hide=yes

// 310:30
[com_30]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_29
colour=0x000000
fill=yes

// 310:31
[com_31]
type=text
x=2
y=4
width=174
height=14
layer=com_29
textfont=p12_full
text=Level 70 : Earth Wave
textalignh=centre
textshadow=yes
colour=0xfff000

// 310:32
[com_32]
type=text
x=3
y=17
width=174
height=252
layer=com_29
textfont=p11_full
text=A high level Earth missile
textalignh=centre
textshadow=yes
colour=0x6b6f33

// 310:33
[com_33]
type=model
x=26
y=35
width=28
height=28
layer=com_29
model=model_2737
modelangle=512,1024,0
modelzoom=900

// 310:34
[com_34]
type=model
x=78
y=35
width=28
height=28
layer=com_29
model=model_2405
modelangle=512,1024,0
modelzoom=900

// 310:35
[com_35]
type=model
x=130
y=35
width=28
height=28
layer=com_29
model=model_2665
modelangle=512,1024,0
modelzoom=900

// 310:36
[com_36]
type=text
x=28
y=62
width=24
height=11
layer=com_29
textfont=p11_full
text=%1/7
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_557) + inv_total(interface_149:com_0, obj_4696) + inv_total(interface_149:com_0, obj_4699) + inv_total(interface_149:com_0, obj_4698) + inv_contains(interface_387:com_28, obj_1385) + inv_contains(interface_387:com_28, obj_1399) + inv_contains(interface_387:com_28, obj_1407) + inv_contains(interface_387:com_28, obj_3053) + inv_contains(interface_387:com_28, obj_3054) + inv_contains(interface_387:com_28, obj_6562) + inv_contains(interface_387:com_28, obj_6563) > 6

// 310:37
[com_37]
type=text
x=80
y=62
width=25
height=11
layer=com_29
textfont=p11_full
text=%1/5
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4

// 310:38
[com_38]
type=text
x=132
y=62
width=23
height=11
layer=com_29
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_565) > 0

// 310:39
[com_39]
type=layer
x=5
y=184
width=182
height=76
hide=yes

// 310:40
[com_40]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_39
colour=0x000000
fill=yes

// 310:41
[com_41]
type=text
x=2
y=4
width=178
height=294
layer=com_39
textfont=p12_full
text=Level 75 : Fire Wave
textalignh=centre
textshadow=yes
colour=0xfff000

// 310:42
[com_42]
type=text
x=3
y=17
width=178
height=14
layer=com_39
textfont=p11_full
text=A high level Fire missile
textalignh=centre
textshadow=yes
colour=0x6b6f33

// 310:43
[com_43]
type=model
x=26
y=35
width=28
height=28
layer=com_39
model=model_2399
modelangle=512,1024,0
modelzoom=900

// 310:44
[com_44]
type=model
x=78
y=35
width=28
height=28
layer=com_39
model=model_2405
modelangle=512,1024,0
modelzoom=900

// 310:45
[com_45]
type=model
x=130
y=35
width=28
height=28
layer=com_39
model=model_2665
modelangle=512,1024,0
modelzoom=900

// 310:46
[com_46]
type=text
x=28
y=62
width=24
height=11
layer=com_39
textfont=p11_full
text=%1/7
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_554) + inv_total(interface_149:com_0, obj_4694) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4699) + inv_contains(interface_387:com_28, obj_1387) + inv_contains(interface_387:com_28, obj_1393) + inv_contains(interface_387:com_28, obj_1401) + inv_contains(interface_387:com_28, obj_3053) + inv_contains(interface_387:com_28, obj_3054) > 6

// 310:47
[com_47]
type=text
x=80
y=62
width=25
height=11
layer=com_39
textfont=p11_full
text=%1/5
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 4

// 310:48
[com_48]
type=text
x=132
y=62
width=23
height=11
layer=com_39
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_565) > 0

// 310:49
[com_49]
type=text
x=108
y=170
width=66
height=14
buttontype=1
textfont=p12_full
text=cancel
textalignh=right
textshadow=yes
colour=0x808080

// 310:50
[com_50]
type=layer
x=5
y=184
width=182
height=76
hide=yes

// 310:51
[com_51]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_50
colour=0x000000
fill=yes

// 310:52
[com_52]
type=text
x=2
y=4
width=175
height=15
layer=com_50
textfont=p12_full
text=Level 50 : Magic Dart
textalignh=centre
textshadow=yes
colour=0xfff000

// 310:53
[com_53]
type=text
x=3
y=17
width=174
height=12
layer=com_50
textfont=p11_full
text=A magic dart of slaying
textalignh=centre
textshadow=yes
colour=0x6b6f33

// 310:54
[com_54]
type=model
x=26
y=35
width=28
height=28
layer=com_50
model=model_5060
modelangle=323,459,0
modelzoom=2369

// 310:55
[com_55]
type=model
x=78
y=35
width=28
height=28
layer=com_50
model=model_2645
modelangle=512,1024,0
modelzoom=900

// 310:56
[com_56]
type=model
x=130
y=35
width=28
height=28
layer=com_50
model=model_2481
modelangle=512,1024,0
modelzoom=900

// 310:57
[com_57]
type=text
x=28
y=62
width=23
height=12
layer=com_50
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_387:com_28, obj_4170) > 0

// 310:58
[com_58]
type=text
x=80
y=62
width=23
height=12
layer=com_50
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_560) > 0

// 310:59
[com_59]
type=text
x=132
y=62
width=24
height=12
layer=com_50
textfont=p11_full
text=%1/4
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_558) > 3

// 310:60
[com_60]
type=layer
x=5
y=184
width=182
height=76
hide=yes

// 310:61
[com_61]
type=graphic
x=52
y=23
width=20
height=20
mouseoverlayer=com_60
buttontype=1
graphic="magicoff,19"
graphicactive="magicon,19"
script=inv_total(interface_149:com_0, obj_557) + inv_total(interface_149:com_0, obj_4696) + inv_total(interface_149:com_0, obj_4699) + inv_total(interface_149:com_0, obj_4698) + inv_contains(interface_387:com_28, obj_1385) + inv_contains(interface_387:com_28, obj_1399) + inv_contains(interface_387:com_28, obj_1407) + inv_contains(interface_387:com_28, obj_3053) + inv_contains(interface_387:com_28, obj_3054) + inv_contains(interface_387:com_28, obj_6562) + inv_contains(interface_387:com_28, obj_6563) > 1
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 1
script=inv_total(interface_149:com_0, obj_562) > 0
script=stat(magic) > 38

// 310:62
[com_62]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_60
colour=0x000000
fill=yes

// 310:63
[com_63]
type=text
x=2
y=4
width=175
height=14
layer=com_60
textfont=p12_full
text=Level 39 : Crumble Undead
textalignh=centre
textshadow=yes
colour=0xfff000

// 310:64
[com_64]
type=text
x=3
y=17
width=174
height=22
layer=com_60
textfont=p11_full
text=Hits skeletons, ghosts,<br>shades & zombies hard
textalignh=centre
textshadow=yes
colour=0x6b6f33

// 310:65
[com_65]
type=model
x=26
y=35
width=28
height=28
layer=com_60
model=model_2737
modelangle=512,1024,0
modelzoom=900

// 310:66
[com_66]
type=model
x=78
y=35
width=28
height=28
layer=com_60
model=model_2405
modelangle=512,1024,0
modelzoom=900

// 310:67
[com_67]
type=model
x=130
y=35
width=28
height=28
layer=com_60
model=model_2707
modelangle=512,1024,0
modelzoom=900

// 310:68
[com_68]
type=text
x=28
y=62
width=26
height=12
layer=com_60
textfont=p11_full
text=%1/2
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_557) + inv_total(interface_149:com_0, obj_4696) + inv_total(interface_149:com_0, obj_4699) + inv_total(interface_149:com_0, obj_4698) + inv_contains(interface_387:com_28, obj_1385) + inv_contains(interface_387:com_28, obj_1399) + inv_contains(interface_387:com_28, obj_1407) + inv_contains(interface_387:com_28, obj_3053) + inv_contains(interface_387:com_28, obj_3054) + inv_contains(interface_387:com_28, obj_6562) + inv_contains(interface_387:com_28, obj_6563) > 1

// 310:69
[com_69]
type=text
x=80
y=62
width=26
height=12
layer=com_60
textfont=p11_full
text=%1/2
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_556) + inv_total(interface_149:com_0, obj_4697) + inv_total(interface_149:com_0, obj_4695) + inv_total(interface_149:com_0, obj_4696) + inv_contains(interface_387:com_28, obj_1381) + inv_contains(interface_387:com_28, obj_1397) + inv_contains(interface_387:com_28, obj_1405) > 1

// 310:70
[com_70]
type=text
x=132
y=62
width=23
height=11
layer=com_60
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_562) > 0

