// 54:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 54:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 54:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 54:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 54:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 54:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 54:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 54:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 54:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 54:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 54:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 54:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 54:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 54:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 54:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 54:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 54:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 54:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 54:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 54:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 54:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 54:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 54:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 54:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 54:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 54:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 54:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 54:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 54:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 54:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 54:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 54:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 54:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 54:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 54:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 54:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 54:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 54:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 54:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 54:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 54:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 54:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 54:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 54:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 54:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 54:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 54:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 54:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 54:48
[com_48]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 54:49
[com_49]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 54:50
[com_50]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 54:51
[com_51]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 54:52
[com_52]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 54:53
[com_53]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 54:54
[com_54]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 54:55
[com_55]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 54:56
[com_56]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 54:57
[com_57]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 54:58
[com_58]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 54:59
[com_59]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 54:60
[com_60]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 54:61
[com_61]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 54:62
[com_62]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 54:63
[com_63]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 54:64
[com_64]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 54:65
[com_65]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 54:66
[com_66]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 54:67
[com_67]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 54:68
[com_68]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 54:69
[com_69]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 54:70
[com_70]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 54:71
[com_71]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 54:72
[com_72]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 54:73
[com_73]
type=graphic
x=288
y=31
width=36
height=36
graphic="steelborder2,0"

// 54:74
[com_74]
type=graphic
x=324
y=31
width=36
height=36
graphic="steelborder2,0"

// 54:75
[com_75]
type=graphic
x=396
y=31
width=36
height=36
graphic="steelborder2,0"

// 54:76
[com_76]
type=graphic
x=252
y=31
width=36
height=36
graphic="steelborder2,0"

// 54:77
[com_77]
type=graphic
x=432
y=31
width=36
height=36
graphic="steelborder2,0"

// 54:78
[com_78]
type=graphic
x=458
y=31
width=36
height=36
graphic="steelborder2,0"

// 54:79
[com_79]
type=graphic
x=216
y=31
width=36
height=36
graphic="steelborder2,0"

// 54:80
[com_80]
type=graphic
x=180
y=31
width=36
height=36
graphic="steelborder2,0"

// 54:81
[com_81]
type=graphic
x=144
y=31
width=36
height=36
graphic="steelborder2,0"

// 54:82
[com_82]
type=graphic
x=108
y=31
width=36
height=36
graphic="steelborder2,0"

// 54:83
[com_83]
type=graphic
x=72
y=31
width=36
height=36
graphic="steelborder2,0"

// 54:84
[com_84]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 54:85
[com_85]
type=graphic
x=47
y=31
width=36
height=36
graphic="steelborder2,0"

// 54:86
[com_86]
type=graphic
x=360
y=31
width=36
height=36
graphic="steelborder2,0"

// 54:87
[com_87]
type=graphic
x=18
y=31
width=36
height=36
graphic="steelborder2,0"

// 54:88
[com_88]
type=text
x=30
y=28
width=450
height=14
textfont=p12_full
text=Catapult Controls
textalignh=centre
textshadow=yes
colour=0xffaa44

// 54:89
[com_89]
type=model
x=138
y=168
width=32
height=32
model=model_4854
modelangle=512,0,0
modelzoom=286

// 54:90
[com_90]
type=graphic
x=249
y=63
width=25
height=30
graphic="steelborder,1"

// 54:91
[com_91]
type=graphic
x=58
y=48
width=36
height=36
graphic="steelborder2,0"

// 54:92
[com_92]
type=graphic
x=94
y=48
width=36
height=36
graphic="steelborder2,0"

// 54:93
[com_93]
type=graphic
x=130
y=48
width=36
height=36
graphic="steelborder2,0"

// 54:94
[com_94]
type=graphic
x=33
y=63
width=25
height=30
graphic="steelborder,0"

// 54:95
[com_95]
type=graphic
x=249
y=273
width=25
height=30
graphic="steelborder,3"

// 54:96
[com_96]
type=graphic
x=33
y=273
width=25
height=30
graphic="steelborder,2"

// 54:97
[com_97]
type=graphic
x=166
y=48
width=36
height=36
graphic="steelborder2,0"

// 54:98
[com_98]
type=graphic
x=202
y=48
width=36
height=36
graphic="steelborder2,0"

// 54:99
[com_99]
type=graphic
x=213
y=48
width=36
height=36
graphic="steelborder2,0"

// 54:100
[com_100]
type=graphic
x=253
y=93
width=36
height=36
graphic="steelborder2,1"

// 54:101
[com_101]
type=graphic
x=253
y=129
width=36
height=36
graphic="steelborder2,1"

// 54:102
[com_102]
type=graphic
x=253
y=165
width=36
height=36
graphic="steelborder2,1"

// 54:103
[com_103]
type=graphic
x=253
y=201
width=36
height=36
graphic="steelborder2,1"

// 54:104
[com_104]
type=graphic
x=253
y=237
width=36
height=36
graphic="steelborder2,1"

// 54:105
[com_105]
type=graphic
x=213
y=282
width=36
height=36
graphic="miscgraphics,3"

// 54:106
[com_106]
type=graphic
x=177
y=282
width=36
height=36
graphic="miscgraphics,3"

// 54:107
[com_107]
type=graphic
x=141
y=282
width=36
height=36
graphic="miscgraphics,3"

// 54:108
[com_108]
type=graphic
x=105
y=282
width=36
height=36
graphic="miscgraphics,3"

// 54:109
[com_109]
type=graphic
x=69
y=282
width=36
height=36
graphic="miscgraphics,3"

// 54:110
[com_110]
type=graphic
x=56
y=282
width=36
height=36
graphic="miscgraphics,3"

// 54:111
[com_111]
type=graphic
x=18
y=237
width=36
height=36
graphic="miscgraphics,2"

// 54:112
[com_112]
type=graphic
x=18
y=201
width=36
height=36
graphic="miscgraphics,2"

// 54:113
[com_113]
type=graphic
x=18
y=165
width=36
height=36
graphic="miscgraphics,2"

// 54:114
[com_114]
type=graphic
x=18
y=129
width=36
height=36
graphic="miscgraphics,2"

// 54:115
[com_115]
type=graphic
x=18
y=93
width=36
height=36
graphic="miscgraphics,2"

// 54:116
[com_116]
type=model
x=26
y=29
width=32
height=32
layer=com_130
model=model_4857
modelangle=512,0,0
modelzoom=1077

// 54:117
[com_117]
type=model
x=76
y=29
width=32
height=32
layer=com_130
model=model_4857
modelangle=512,0,0
modelzoom=1077

// 54:118
[com_118]
type=graphic
x=14
y=9
width=25
height=30
layer=com_130
graphic="steelborder,0"

// 54:119
[com_119]
type=graphic
x=96
y=9
width=25
height=30
layer=com_130
graphic="steelborder,1"

// 54:120
[com_120]
type=graphic
x=14
y=51
width=25
height=30
layer=com_130
graphic="steelborder,2"

// 54:121
[com_121]
type=graphic
x=96
y=51
width=25
height=30
layer=com_130
graphic="steelborder,3"

// 54:122
[com_122]
type=graphic
x=39
y=-6
width=36
height=36
layer=com_130
graphic="steelborder2,0"

// 54:123
[com_123]
type=graphic
x=63
y=-6
width=36
height=36
layer=com_130
graphic="steelborder2,0"

// 54:124
[com_124]
type=graphic
x=100
y=26
width=36
height=36
layer=com_130
graphic="steelborder2,1"

// 54:125
[com_125]
type=graphic
x=-1
y=26
width=36
height=36
layer=com_130
graphic="miscgraphics,2"

// 54:126
[com_126]
type=graphic
x=38
y=60
width=36
height=36
layer=com_130
graphic="miscgraphics,3"

// 54:127
[com_127]
type=graphic
x=66
y=60
width=36
height=36
layer=com_130
graphic="miscgraphics,3"

// 54:128
[com_128]
type=graphic
x=49
y=14
width=36
height=36
layer=com_130
graphic="steelborder2,1"

// 54:129
[com_129]
type=graphic
x=49
y=40
width=36
height=36
layer=com_130
graphic="steelborder2,1"

// 54:130
[com_130]
type=layer
x=308
y=56
width=149
height=99

// 54:131
[com_131]
type=layer
x=308
y=145
width=146
height=111

// 54:132
[com_132]
type=model
x=26
y=29
width=32
height=32
layer=com_131
model=model_4857
modelangle=512,0,0
modelzoom=1077

// 54:133
[com_133]
type=model
x=76
y=29
width=32
height=32
layer=com_131
model=model_4857
modelangle=512,0,0
modelzoom=1077

// 54:134
[com_134]
type=graphic
x=14
y=9
width=25
height=30
layer=com_131
graphic="steelborder,0"

// 54:135
[com_135]
type=graphic
x=96
y=9
width=25
height=30
layer=com_131
graphic="steelborder,1"

// 54:136
[com_136]
type=graphic
x=14
y=51
width=25
height=30
layer=com_131
graphic="steelborder,2"

// 54:137
[com_137]
type=graphic
x=96
y=51
width=25
height=30
layer=com_131
graphic="steelborder,3"

// 54:138
[com_138]
type=graphic
x=39
y=-6
width=36
height=36
layer=com_131
graphic="steelborder2,0"

// 54:139
[com_139]
type=graphic
x=63
y=-6
width=36
height=36
layer=com_131
graphic="steelborder2,0"

// 54:140
[com_140]
type=graphic
x=100
y=26
width=36
height=36
layer=com_131
graphic="steelborder2,1"

// 54:141
[com_141]
type=graphic
x=-1
y=26
width=36
height=36
layer=com_131
graphic="miscgraphics,2"

// 54:142
[com_142]
type=graphic
x=38
y=60
width=36
height=36
layer=com_131
graphic="miscgraphics,3"

// 54:143
[com_143]
type=graphic
x=66
y=60
width=36
height=36
layer=com_131
graphic="miscgraphics,3"

// 54:144
[com_144]
type=graphic
x=49
y=14
width=36
height=36
layer=com_131
graphic="steelborder2,1"

// 54:145
[com_145]
type=graphic
x=49
y=40
width=36
height=36
layer=com_131
graphic="steelborder2,1"

// 54:146
[com_146]
type=model
x=27
y=31
width=32
height=32
layer=com_130
model=model_4864
modelangle=512,0,0
modelzoom=1209

// 54:147
[com_147]
type=model
x=76
y=31
width=32
height=32
layer=com_130
model=model_4865
modelangle=512,0,0
modelzoom=1209

// 54:148
[com_148]
type=model
x=26
y=29
width=32
height=32
layer=com_131
model=model_4866
modelangle=512,0,0
modelzoom=1209

// 54:149
[com_149]
type=model
x=76
y=29
width=32
height=32
layer=com_131
model=model_4867
modelangle=474,2020,0
modelzoom=1209

// 54:150
[com_150]
type=model
x=121
y=7
width=32
height=32
layer=com_130
buttontype=1
model=model_4852
modelangle=512,0,0
modelzoom=1379

// 54:151
[com_151]
type=model
x=125
y=43
width=25
height=38
layer=com_130
buttontype=1
model=model_4852
modelangle=512,1024,0
modelzoom=1379

// 54:152
[com_152]
type=model
x=82
y=86
width=37
height=25
layer=com_131
buttontype=1
model=model_4852
modelangle=512,512,0
modelzoom=1379

// 54:153
[com_153]
type=model
x=16
y=85
width=41
height=27
layer=com_131
buttontype=1
model=model_4852
modelangle=512,1536,0
modelzoom=1379

// 54:154
[com_154]
type=graphic
x=388
y=269
width=72
height=36
graphic="combatboxes,0"

// 54:155
[com_155]
type=graphic
x=450
y=269
width=36
height=36
graphic="miscgraphics,6"

// 54:156
[com_156]
type=graphic
x=362
y=269
width=36
height=36
graphic="miscgraphics,4"

// 54:157
[com_157]
type=text
x=367
y=271
width=115
height=31
textfont=b12_full
text=Fire Catapult
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffaa44

// 54:158
[com_158]
type=graphic
x=383
y=269
width=103
height=36
buttontype=1

// 54:159
[com_159]
type=model
x=201
y=223
width=32
height=32
model=model_4853
modelangle=512,0,0
modelzoom=1485

// 54:160
[com_160]
type=model
x=73
y=101
width=32
height=32
model=model_4853
modelangle=512,0,0
modelzoom=1485

// 54:161
[com_161]
type=model
x=93
y=122
width=32
height=32
model=model_4856
modelactive=model_4856
modelangle=512,0,0
modelzoom=2889

// 54:162
[com_162]
type=graphic
x=473
y=24
width=26
height=23
mouseoverlayer=com_164
graphic="close_buttons,0"

// 54:163
[com_163]
type=graphic
x=2
y=6
width=26
height=23
layer=com_164
mouseoverlayer=com_164
buttontype=3
graphic="close_buttons,1"

// 54:164
[com_164]
type=layer
x=471
y=18
width=32
height=32
hide=yes

