// 509:0
[com_0]
type=rectangle
width=535
height=343
colour=0x000000
fill=yes

// 509:1
[com_1]
type=model
x=360
y=264
width=32
height=32
model=model_22441
modelangle=195,78,0
modelzoom=748
modelanim=seq_5830

// 509:2
[com_2]
type=model
x=360
y=264
width=32
height=32
model=model_22435
modelangle=195,78,0
modelzoom=748
modelanim=seq_5830

// 509:3
[com_3]
type=layer
width=513
height=335
hide=yes

// 509:4
[com_4]
type=model
x=312
y=216
width=32
height=32
layer=com_3
model=model_22477
modelangle=195,78,0
modelzoom=784

// 509:5
[com_5]
type=layer
width=513
height=335
hide=yes

// 509:6
[com_6]
type=model
x=328
y=232
width=32
height=32
layer=com_5
model=model_22476
modelangle=195,78,0
modelzoom=748

// 509:7
[com_7]
type=model
x=328
y=232
width=32
height=32
layer=com_5
model=model_22467
modelangle=195,78,0
modelzoom=748

// 509:8
[com_8]
type=model
x=328
y=232
width=32
height=32
layer=com_5
model=model_22470
modelangle=195,78,0
modelzoom=748

// 509:9
[com_9]
type=model
x=328
y=232
width=32
height=32
layer=com_5
model=model_22473
modelangle=195,78,0
modelzoom=748

// 509:10
[com_10]
type=layer
width=513
height=335

// 509:11
[com_11]
type=model
x=328
y=232
width=32
height=32
layer=com_10
model=model_22487
modelangle=195,78,0
modelzoom=748

// 509:12
[com_12]
type=model
x=328
y=232
width=32
height=32
layer=com_10
model=model_22478
modelangle=195,78,0
modelzoom=748

// 509:13
[com_13]
type=model
x=328
y=232
width=32
height=32
layer=com_10
model=model_22481
modelangle=195,78,0
modelzoom=748

// 509:14
[com_14]
type=model
x=328
y=232
width=32
height=32
layer=com_10
model=model_22484
modelangle=195,78,0
modelzoom=748

// 509:15
[com_15]
type=layer
width=513
height=335
hide=yes

// 509:16
[com_16]
type=model
x=328
y=232
width=32
height=32
layer=com_15
model=model_22498
modelangle=195,78,0
modelzoom=748

// 509:17
[com_17]
type=model
x=328
y=232
width=32
height=32
layer=com_15
model=model_22489
modelangle=195,78,0
modelzoom=748

// 509:18
[com_18]
type=model
x=328
y=232
width=32
height=32
layer=com_15
model=model_22492
modelangle=195,78,0
modelzoom=748

// 509:19
[com_19]
type=model
x=328
y=232
width=32
height=32
layer=com_15
model=model_22495
modelangle=195,78,0
modelzoom=748

// 509:20
[com_20]
type=layer
width=517
height=338
hide=yes

// 509:21
[com_21]
type=model
x=328
y=232
width=32
height=32
layer=com_20
model=model_22509
modelangle=195,78,0
modelzoom=748

// 509:22
[com_22]
type=model
x=328
y=232
width=32
height=32
layer=com_20
model=model_22500
modelangle=195,78,0
modelzoom=748

// 509:23
[com_23]
type=model
x=328
y=232
width=32
height=32
layer=com_20
model=model_22503
modelangle=195,78,0
modelzoom=748

// 509:24
[com_24]
type=model
x=328
y=232
width=32
height=32
layer=com_20
model=model_22506
modelangle=195,78,0
modelzoom=748

// 509:25
[com_25]
type=model
x=360
y=264
width=32
height=32
model=model_22437
modelangle=195,78,0
modelzoom=748
modelanim=seq_5830

// 509:26
[com_26]
type=model
x=312
y=280
width=32
height=32
mouseoverlayer=com_27
buttontype=1
model=model_22434
modelangle=420,0,0
modelzoom=1040

// 509:27
[com_27]
type=layer
x=302
y=272
width=49
height=43
mouseoverlayer=com_27
hide=yes

// 509:28
[com_28]
type=model
x=8
y=8
width=32
height=32
layer=com_27
model=model_22433
modelangle=420,0,0
modelzoom=1040

// 509:29
[com_29]
type=model
x=392
y=280
width=32
height=32
mouseoverlayer=com_30
buttontype=1
model=model_22436
modelangle=420,0,0
modelzoom=1040

// 509:30
[com_30]
type=layer
x=385
y=272
width=51
height=40
mouseoverlayer=com_30
hide=yes

// 509:31
[com_31]
type=model
x=8
y=8
width=32
height=32
layer=com_30
model=model_22439
modelangle=420,0,0
modelzoom=1040

// 509:32
[com_32]
type=model
x=232
y=168
width=32
height=32
mouseoverlayer=com_33
buttontype=1
model=model_22442
modelangle=441,0,0
modelzoom=528

// 509:33
[com_33]
type=layer
x=227
y=160
width=43
height=47
hide=yes

// 509:34
[com_34]
type=model
x=8
y=8
width=32
height=32
layer=com_33
model=model_22440
modelangle=441,0,0
modelzoom=528

// 509:35
[com_35]
type=model
x=72
y=152
width=32
height=32
model=model_22456
modelangle=546,2047,0
modelzoom=988

// 509:36
[com_36]
type=text
x=216
y=216
width=73
height=16
textfont=p12_full
text=Place bar
textalignh=centre
colour=0xff981f

// 509:37
[com_37]
type=layer
x=40
y=56
width=150
height=31

// 509:38
[com_38]
type=model
x=40
y=8
width=32
height=32
layer=com_37
model=model_22446
modelangle=30,189,0
modelzoom=656

// 509:39
[com_39]
type=layer
x=40
y=88
width=33
height=167

// 509:40
[com_40]
type=model
x=8
y=104
width=32
height=32
layer=com_39
model=model_22459
modelangle=327,33,0
modelzoom=656

// 509:41
[com_41]
type=model
x=88
y=120
width=32
height=32
mouseoverlayer=com_42
buttontype=1
model=model_22442
modelangle=441,0,0
modelzoom=528

// 509:42
[com_42]
type=layer
x=80
y=112
width=46
height=47
hide=yes

// 509:43
[com_43]
type=model
x=8
y=8
width=32
height=32
layer=com_42
model=model_22440
modelangle=441,0,0
modelzoom=528

// 509:44
[com_44]
type=model
x=88
y=152
width=32
height=32
mouseoverlayer=com_45
buttontype=1
model=model_22442
modelangle=441,0,0
modelzoom=528

// 509:45
[com_45]
type=layer
x=80
y=144
width=46
height=46
hide=yes

// 509:46
[com_46]
type=model
x=8
y=8
width=32
height=32
layer=com_45
model=model_22440
modelangle=441,0,0
modelzoom=528

// 509:47
[com_47]
type=text
x=120
y=120
width=93
height=14
textfont=p12_full
text=Horizontal
textalignh=centre
colour=0x000000

// 509:48
[com_48]
type=text
x=120
y=152
width=90
height=14
textfont=p12_full
text=Vertical
textalignh=centre
colour=0x000000

// 509:49
[com_49]
type=model
x=88
y=216
width=32
height=32
mouseoverlayer=com_50
buttontype=1
model=model_22454
modelangle=441,0,0
modelzoom=1424

// 509:50
[com_50]
type=layer
x=80
y=208
width=39
height=36
hide=yes

// 509:51
[com_51]
type=model
x=8
y=8
width=32
height=32
layer=com_50
model=model_22443
modelangle=441,0,0
modelzoom=1424

// 509:52
[com_52]
type=model
x=88
y=184
width=32
height=32
mouseoverlayer=com_53
buttontype=1
model=model_22438
modelangle=441,0,0
modelzoom=1424

// 509:53
[com_53]
type=layer
x=80
y=176
width=39
height=36
hide=yes

// 509:54
[com_54]
type=model
x=8
y=8
width=32
height=32
layer=com_53
model=model_22455
modelangle=441,0,0
modelzoom=1424

// 509:55
[com_55]
type=rectangle
x=120
y=232
width=23
height=20
colour=0x3e0400

// 509:56
[com_56]
type=text
x=120
y=232
width=23
height=15
textfont=p12_full
text=1
textalignh=centre
colour=0x000000

// 509:57
[com_57]
type=graphic
x=472
y=8
width=26
height=23
mouseoverlayer=com_59
graphic="close_buttons,6"

// 509:58
[com_58]
type=graphic
x=8
y=8
width=26
height=23
layer=com_59
buttontype=3
graphic="close_buttons,7"

// 509:59
[com_59]
type=layer
x=464
width=32
height=32
hide=yes

