// 468:0
[com_0]
type=rectangle
width=514
height=340
trans=128
colour=0x000000
fill=yes

// 468:1
[com_1]
type=model
x=235
y=138
width=55
height=81
model=model_19339
modelangle=510,0,0
modelzoom=731

// 468:2
[com_2]
type=layer
width=358
height=225
layer=com_2
scrollheight=290

// 468:3
[com_3]
type=layer
x=46
y=80
width=430
height=192

// 468:4
[com_4]
type=graphic
x=432
y=39
width=26
height=23
mouseoverlayer=com_6
graphic="close_buttons,2"

// 468:5
[com_5]
type=graphic
x=4
y=5
width=26
height=23
layer=com_6
buttontype=3
graphic="close_buttons,3"

// 468:6
[com_6]
type=layer
x=428
y=34
width=32
height=32
hide=yes

// 468:7
[com_7]
type=text
x=56
y=42
width=299
height=17
textfont=q8_full
text=Diango Item Return
colour=0xff981f

// 468:8
[com_8]
type=inv
x=8
y=34
width=10
height=3
layer=com_3
paddingx=10
paddingy=10
op1=Take

