// 447:0
[com_0]
type=rectangle
width=515
height=335
trans=100
colour=0x000000
fill=yes

// 447:1
[com_1]
type=model
x=310
y=80
width=32
height=32
model=model_17212
modelzoom=1110

// 447:2
[com_2]
type=model
x=328
y=210
width=32
height=32
model=null
modelactive=model_17201
modelzoom=347
script=varplayerbit_2520 = 0

// 447:3
[com_3]
type=model
x=328
y=210
width=32
height=32
model=null
modelactive=model_17202
modelzoom=347
script=varplayerbit_2520 = 1

// 447:4
[com_4]
type=model
x=328
y=210
width=32
height=32
model=null
modelactive=model_17203
modelzoom=347
script=varplayerbit_2520 = 2

// 447:5
[com_5]
type=model
x=328
y=210
width=32
height=32
model=null
modelactive=model_17204
modelzoom=347
script=varplayerbit_2520 = 3

// 447:6
[com_6]
type=model
x=328
y=210
width=32
height=32
model=null
modelactive=model_17205
modelzoom=347
script=varplayerbit_2520 = 4

// 447:7
[com_7]
type=model
x=328
y=210
width=32
height=32
model=null
modelactive=model_17206
modelzoom=347
script=varplayerbit_2520 = 5

// 447:8
[com_8]
type=model
x=328
y=210
width=32
height=32
model=null
modelactive=model_17207
modelzoom=347
script=varplayerbit_2520 = 6

// 447:9
[com_9]
type=model
x=328
y=210
width=32
height=32
model=null
modelactive=model_17208
modelzoom=347
script=varplayerbit_2520 = 7

// 447:10
[com_10]
type=model
x=328
y=210
width=32
height=32
model=null
modelactive=model_17209
modelzoom=347
script=varplayerbit_2520 = 8

// 447:11
[com_11]
type=model
x=328
y=210
width=32
height=32
model=null
modelactive=model_17210
modelzoom=347
script=varplayerbit_2520 = 9

// 447:12
[com_12]
type=model
x=341
y=210
width=32
height=32
model=null
modelactive=model_17201
modelzoom=347
script=varplayerbit_2519 = 0

// 447:13
[com_13]
type=model
x=341
y=210
width=32
height=32
model=null
modelactive=model_17202
modelzoom=347
script=varplayerbit_2519 = 1

// 447:14
[com_14]
type=model
x=341
y=210
width=32
height=32
model=null
modelactive=model_17203
modelzoom=347
script=varplayerbit_2519 = 2

// 447:15
[com_15]
type=model
x=341
y=210
width=32
height=32
model=null
modelactive=model_17204
modelzoom=347
script=varplayerbit_2519 = 3

// 447:16
[com_16]
type=model
x=341
y=210
width=32
height=32
model=null
modelactive=model_17205
modelzoom=347
script=varplayerbit_2519 = 4

// 447:17
[com_17]
type=model
x=341
y=210
width=32
height=32
model=null
modelactive=model_17206
modelzoom=347
script=varplayerbit_2519 = 5

// 447:18
[com_18]
type=model
x=341
y=210
width=32
height=32
model=null
modelactive=model_17207
modelzoom=347
script=varplayerbit_2519 = 6

// 447:19
[com_19]
type=model
x=341
y=210
width=32
height=32
model=null
modelactive=model_17208
modelzoom=347
script=varplayerbit_2519 = 7

// 447:20
[com_20]
type=model
x=341
y=210
width=32
height=32
model=null
modelactive=model_17209
modelzoom=347
script=varplayerbit_2519 = 8

// 447:21
[com_21]
type=model
x=341
y=210
width=32
height=32
model=null
modelactive=model_17210
modelzoom=347
script=varplayerbit_2519 = 9

// 447:22
[com_22]
type=model
x=327
y=277
width=32
height=32
model=null
modelactive=model_17201
modelzoom=347
script=varplayerbit_2522 = 0

// 447:23
[com_23]
type=model
x=327
y=277
width=32
height=32
model=null
modelactive=model_17202
modelzoom=347
script=varplayerbit_2522 = 1

// 447:24
[com_24]
type=model
x=327
y=277
width=32
height=32
model=null
modelactive=model_17203
modelzoom=347
script=varplayerbit_2522 = 2

// 447:25
[com_25]
type=model
x=327
y=277
width=32
height=32
model=null
modelactive=model_17204
modelzoom=347
script=varplayerbit_2522 = 3

// 447:26
[com_26]
type=model
x=327
y=277
width=32
height=32
model=null
modelactive=model_17205
modelzoom=347
script=varplayerbit_2522 = 4

// 447:27
[com_27]
type=model
x=327
y=277
width=32
height=32
model=null
modelactive=model_17206
modelzoom=347
script=varplayerbit_2522 = 5

// 447:28
[com_28]
type=model
x=327
y=277
width=32
height=32
model=null
modelactive=model_17207
modelzoom=347
script=varplayerbit_2522 = 6

// 447:29
[com_29]
type=model
x=327
y=277
width=32
height=32
model=null
modelactive=model_17208
modelzoom=347
script=varplayerbit_2522 = 7

// 447:30
[com_30]
type=model
x=327
y=277
width=32
height=32
model=null
modelactive=model_17209
modelzoom=347
script=varplayerbit_2522 = 8

// 447:31
[com_31]
type=model
x=327
y=277
width=32
height=32
model=null
modelactive=model_17210
modelzoom=347
script=varplayerbit_2522 = 9

// 447:32
[com_32]
type=model
x=341
y=277
width=32
height=32
model=null
modelactive=model_17201
modelzoom=347
script=varplayerbit_2521 = 0

// 447:33
[com_33]
type=model
x=341
y=277
width=32
height=32
model=null
modelactive=model_17202
modelzoom=347
script=varplayerbit_2521 = 1

// 447:34
[com_34]
type=model
x=341
y=277
width=32
height=32
model=null
modelactive=model_17203
modelzoom=347
script=varplayerbit_2521 = 2

// 447:35
[com_35]
type=model
x=341
y=277
width=32
height=32
model=null
modelactive=model_17204
modelzoom=347
script=varplayerbit_2521 = 3

// 447:36
[com_36]
type=model
x=341
y=277
width=32
height=32
model=null
modelactive=model_17205
modelzoom=347
script=varplayerbit_2521 = 4

// 447:37
[com_37]
type=model
x=341
y=277
width=32
height=32
model=null
modelactive=model_17206
modelzoom=347
script=varplayerbit_2521 = 5

// 447:38
[com_38]
type=model
x=341
y=277
width=32
height=32
model=null
modelactive=model_17207
modelzoom=347
script=varplayerbit_2521 = 6

// 447:39
[com_39]
type=model
x=341
y=277
width=32
height=32
model=null
modelactive=model_17208
modelzoom=347
script=varplayerbit_2521 = 7

// 447:40
[com_40]
type=model
x=341
y=277
width=32
height=32
model=null
modelactive=model_17209
modelzoom=347
script=varplayerbit_2521 = 8

// 447:41
[com_41]
type=model
x=341
y=277
width=32
height=32
model=null
modelactive=model_17210
modelzoom=347
script=varplayerbit_2521 = 9

// 447:42
[com_42]
type=model
x=327
y=362
width=32
height=32
model=null
modelactive=model_17201
modelzoom=347
script=varplayerbit_2524 = 0

// 447:43
[com_43]
type=model
x=327
y=362
width=32
height=32
model=null
modelactive=model_17202
modelzoom=347
script=varplayerbit_2524 = 1

// 447:44
[com_44]
type=model
x=327
y=362
width=32
height=32
model=null
modelactive=model_17203
modelzoom=347
script=varplayerbit_2524 = 2

// 447:45
[com_45]
type=model
x=327
y=362
width=32
height=32
model=null
modelactive=model_17204
modelzoom=347
script=varplayerbit_2524 = 3

// 447:46
[com_46]
type=model
x=327
y=362
width=32
height=32
model=null
modelactive=model_17205
modelzoom=347
script=varplayerbit_2524 = 4

// 447:47
[com_47]
type=model
x=327
y=362
width=32
height=32
model=null
modelactive=model_17206
modelzoom=347
script=varplayerbit_2524 = 5

// 447:48
[com_48]
type=model
x=327
y=362
width=32
height=32
model=null
modelactive=model_17207
modelzoom=347
script=varplayerbit_2524 = 6

// 447:49
[com_49]
type=model
x=327
y=362
width=32
height=32
model=null
modelactive=model_17208
modelzoom=347
script=varplayerbit_2524 = 7

// 447:50
[com_50]
type=model
x=327
y=362
width=32
height=32
model=null
modelactive=model_17209
modelzoom=347
script=varplayerbit_2524 = 8

// 447:51
[com_51]
type=model
x=327
y=362
width=32
height=32
model=null
modelactive=model_17210
modelzoom=347
script=varplayerbit_2524 = 9

// 447:52
[com_52]
type=model
x=341
y=362
width=32
height=32
model=null
modelactive=model_17201
modelzoom=347
script=varplayerbit_2523 = 0

// 447:53
[com_53]
type=model
x=341
y=362
width=32
height=32
model=null
modelactive=model_17202
modelzoom=347
script=varplayerbit_2523 = 1

// 447:54
[com_54]
type=model
x=341
y=362
width=32
height=32
model=null
modelactive=model_17203
modelzoom=347
script=varplayerbit_2523 = 2

// 447:55
[com_55]
type=model
x=341
y=362
width=32
height=32
model=null
modelactive=model_17204
modelzoom=347
script=varplayerbit_2523 = 3

// 447:56
[com_56]
type=model
x=341
y=362
width=32
height=32
model=null
modelactive=model_17205
modelzoom=347
script=varplayerbit_2523 = 4

// 447:57
[com_57]
type=model
x=341
y=362
width=32
height=32
model=null
modelactive=model_17206
modelzoom=347
script=varplayerbit_2523 = 5

// 447:58
[com_58]
type=model
x=341
y=362
width=32
height=32
model=null
modelactive=model_17207
modelzoom=347
script=varplayerbit_2523 = 6

// 447:59
[com_59]
type=model
x=341
y=362
width=32
height=32
model=null
modelactive=model_17208
modelzoom=347
script=varplayerbit_2523 = 7

// 447:60
[com_60]
type=model
x=341
y=362
width=32
height=32
model=null
modelactive=model_17209
modelzoom=347
script=varplayerbit_2523 = 8

// 447:61
[com_61]
type=model
x=341
y=362
width=32
height=32
model=null
modelactive=model_17210
modelzoom=347
script=varplayerbit_2523 = 9

// 447:62
[com_62]
type=model
x=325
y=207
width=32
height=32
model=null
modelactive=model_17220
modelzoom=347
script=varplayerbit_2531 = 1

// 447:63
[com_63]
type=model
x=325
y=207
width=32
height=32
model=null
modelactive=model_17221
modelzoom=347
script=varplayerbit_2530 = 1

// 447:64
[com_64]
type=model
x=325
y=209
width=32
height=32
model=null
modelactive=model_17216
modelzoom=347
script=varplayerbit_2532 = 1

// 447:65
[com_65]
type=model
x=325
y=209
width=32
height=32
model=null
modelactive=model_17219
modelzoom=347
script=varplayerbit_2532 = 0

// 447:66
[com_66]
type=model
x=325
y=211
width=32
height=32
model=null
modelactive=model_17217
modelzoom=347
script=varplayerbit_2530 = 1

// 447:67
[com_67]
type=model
x=325
y=211
width=32
height=32
model=null
modelactive=model_17218
modelzoom=347
script=varplayerbit_2531 = 1

// 447:68
[com_68]
type=model
x=326
y=275
width=32
height=32
model=null
modelactive=model_17220
modelzoom=347
script=varplayerbit_2534 = 1

// 447:69
[com_69]
type=model
x=326
y=275
width=32
height=32
model=null
modelactive=model_17221
modelzoom=347
script=varplayerbit_2533 = 1

// 447:70
[com_70]
type=model
x=326
y=277
width=32
height=32
model=null
modelactive=model_17216
modelzoom=347
script=varplayerbit_2535 = 1

// 447:71
[com_71]
type=model
x=326
y=277
width=32
height=32
model=null
modelactive=model_17219
modelzoom=347
script=varplayerbit_2535 = 0

// 447:72
[com_72]
type=model
x=326
y=278
width=32
height=32
model=null
modelactive=model_17217
modelzoom=347
script=varplayerbit_2533 = 1

// 447:73
[com_73]
type=model
x=326
y=278
width=32
height=32
model=null
modelactive=model_17218
modelzoom=347
script=varplayerbit_2534 = 1

// 447:74
[com_74]
type=model
x=326
y=359
width=32
height=32
model=null
modelactive=model_17220
modelzoom=347
script=varplayerbit_2537 = 1

// 447:75
[com_75]
type=model
x=326
y=359
width=32
height=32
model=null
modelactive=model_17221
modelzoom=347
script=varplayerbit_2536 = 1

// 447:76
[com_76]
type=model
x=326
y=361
width=32
height=32
model=null
modelactive=model_17216
modelzoom=347
script=varplayerbit_2538 = 1

// 447:77
[com_77]
type=model
x=326
y=361
width=32
height=32
model=null
modelactive=model_17219
modelzoom=347
script=varplayerbit_2538 = 0

// 447:78
[com_78]
type=model
x=326
y=362
width=32
height=32
model=null
modelactive=model_17217
modelzoom=347
script=varplayerbit_2536 = 1

// 447:79
[com_79]
type=model
x=326
y=362
width=32
height=32
model=null
modelactive=model_17218
modelzoom=347
script=varplayerbit_2537 = 1

// 447:80
[com_80]
type=model
x=311
y=92
width=32
height=32
model=model_17213
modelzoom=1150

// 447:81
[com_81]
type=model
x=3
y=3
width=32
height=32
layer=com_82
model=model_17224
modelzoom=1110

// 447:82
[com_82]
type=layer
x=257
y=39
width=38
height=38

// 447:83
[com_83]
type=model
x=3
y=3
width=32
height=32
layer=com_84
model=model_17224
modelzoom=1110

// 447:84
[com_84]
type=layer
x=257
y=105
width=38
height=38

// 447:85
[com_85]
type=model
x=3
y=3
width=32
height=32
layer=com_86
model=model_17224
modelzoom=1110

// 447:86
[com_86]
type=layer
x=257
y=187
width=38
height=38

// 447:87
[com_87]
type=rectangle
x=264
y=41
width=25
height=36
buttontype=1
trans=255
colour=0xffff00
buttontext=Insert disc?

// 447:88
[com_88]
type=rectangle
x=263
y=108
width=25
height=34
buttontype=1
trans=255
colour=0xffff00
buttontext=Insert disc?

// 447:89
[com_89]
type=rectangle
x=266
y=189
width=20
height=34
buttontype=1
trans=255
colour=0xffff00
buttontext=Insert disc?

// 447:90
[com_90]
type=rectangle
x=370
y=111
width=32
height=32
buttontype=1
trans=255
colour=0xffffff

// 447:91
[com_91]
type=rectangle
x=370
y=41
width=32
height=32
buttontype=1
trans=255
colour=0xffffff

// 447:92
[com_92]
type=rectangle
x=372
y=194
width=32
height=32
buttontype=1
trans=255
colour=0xffffff

// 447:93
[com_93]
type=model
x=80
y=210
width=32
height=32
model=model_17187
modelangle=245,128,0
modelzoom=350

// 447:94
[com_94]
type=graphic
x=476
y=8
width=26
height=23
mouseoverlayer=com_96
graphic="close_buttons,4"

// 447:95
[com_95]
type=graphic
x=3
y=5
width=26
height=23
layer=com_96
mouseoverlayer=com_96
buttontype=3
graphic="close_buttons,5"

// 447:96
[com_96]
type=layer
x=473
y=3
width=32
height=32
hide=yes

// 447:97
[com_97]
type=model
x=310
y=80
width=32
height=32
model=model_17227
modelzoom=1110

// 447:98
[com_98]
type=model
x=296
y=42
width=32
height=32
model=null
modelzoom=400

// 447:99
[com_99]
type=model
x=296
y=89
width=32
height=32
model=null
modelzoom=400

// 447:100
[com_100]
type=model
x=296
y=130
width=32
height=32
model=null
modelzoom=400

// 447:101
[com_101]
type=model
x=295
y=174
width=32
height=32
model=null
modelzoom=400

// 447:102
[com_102]
type=model
x=295
y=215
width=32
height=32
model=null
modelzoom=400

// 447:103
[com_103]
type=model
x=296
y=259
width=32
height=32
model=null
modelzoom=400

// 447:104
[com_104]
type=model
x=335
y=264
width=32
height=32
buttontype=1
model=model_17222
modelangle=74,49,0
modelzoom=1110
buttontext=Cancel transaction

// 447:105
[com_105]
type=model
x=370
y=238
width=32
height=32
buttontype=1
model=model_17225
modelangle=49,0,0
modelzoom=1110
buttontext=Accept transaction

// 447:106
[com_106]
type=model
x=310
y=80
width=32
height=32
model=model_17223
modelzoom=1110

// 447:107
[com_107]
type=model
x=80
y=210
width=32
height=32
model=null
modelzoom=400

