// 18:0
[com_0]
type=model
x=369
y=424
width=32
height=32
model=model_9630
modelangle=512,0,0
modelzoom=692

// 18:1
[com_1]
type=text
x=190
y=431
width=400
height=40
textfont=q8_full
textalignh=centre
textalignv=centre
colour=0x000000

// 18:2
[com_2]
type=text
x=190
y=411
width=400
height=14
textfont=p12_full
text=Message of the week
textalignh=centre
colour=0x800000

// 18:3
[com_3]
type=model
x=71
y=484
width=32
height=32
model=model_10224
modelangle=0,1954,0
modelzoom=632

// 18:4
[com_4]
type=model
x=670
y=484
width=32
height=32
model=model_10224
modelangle=0,122,0
modelzoom=632

