// 466:0
[com_0]
type=model
x=153
width=231
height=329
model=model_3032
modelangle=512,512,0
modelzoom=860

// 466:1
[com_1]
type=model
x=206
y=27
width=96
height=257
model=model_18669
modelactive=model_18669
modelangle=512,0,0
modelzoom=650

// 466:2
[com_2]
type=graphic
x=297
y=43
width=26
height=23
mouseoverlayer=com_4
graphic="close_buttons,2"

// 466:3
[com_3]
type=graphic
x=3
y=4
width=26
height=23
layer=com_4
buttontype=3
graphic="close_buttons,3"

// 466:4
[com_4]
type=layer
x=294
y=39
width=32
height=32
hide=yes

