// 116:0
[com_0]
type=rectangle
width=512
height=334
colour=0x433621
fill=yes

// 116:1
[com_1]
type=graphic
x=478
y=6
width=26
height=23
mouseoverlayer=com_106
graphic="close_buttons,4"

// 116:2
[com_2]
type=graphic
x=3
y=4
width=26
height=23
layer=com_106
mouseoverlayer=com_106
buttontype=3
graphic="close_buttons,5"

// 116:3
[com_3]
type=model
x=253
y=137
width=24
height=23
model=model_16344
modelangle=490,513,0
modelzoom=1119

// 116:4
[com_4]
type=text
x=125
y=29
width=266
height=17
textfont=q8_full
text=Title
textalignh=centre
textshadow=yes
colour=0xd9a34d

// 116:5
[com_5]
type=layer
x=63
y=54
width=348
height=250
scrollheight=1710

// 116:6
[com_6]
type=text
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:7
[com_7]
type=text
y=17
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:8
[com_8]
type=text
y=34
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:9
[com_9]
type=text
y=51
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:10
[com_10]
type=text
y=68
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:11
[com_11]
type=text
y=85
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:12
[com_12]
type=text
y=102
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:13
[com_13]
type=text
y=119
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:14
[com_14]
type=text
y=136
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:15
[com_15]
type=text
y=153
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:16
[com_16]
type=text
y=170
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:17
[com_17]
type=text
y=187
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:18
[com_18]
type=text
y=204
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:19
[com_19]
type=text
y=221
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:20
[com_20]
type=text
y=238
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:21
[com_21]
type=text
y=255
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:22
[com_22]
type=text
y=272
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:23
[com_23]
type=text
y=289
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:24
[com_24]
type=text
y=306
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:25
[com_25]
type=text
y=323
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:26
[com_26]
type=text
y=340
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:27
[com_27]
type=text
y=357
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:28
[com_28]
type=text
y=374
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:29
[com_29]
type=text
y=391
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:30
[com_30]
type=text
y=408
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:31
[com_31]
type=text
y=425
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:32
[com_32]
type=text
y=442
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:33
[com_33]
type=text
y=459
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:34
[com_34]
type=text
y=476
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:35
[com_35]
type=text
y=493
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:36
[com_36]
type=text
y=510
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:37
[com_37]
type=text
y=527
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:38
[com_38]
type=text
y=544
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:39
[com_39]
type=text
y=561
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:40
[com_40]
type=text
y=578
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:41
[com_41]
type=text
y=595
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:42
[com_42]
type=text
y=612
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:43
[com_43]
type=text
y=629
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:44
[com_44]
type=text
y=646
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:45
[com_45]
type=text
y=663
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:46
[com_46]
type=text
y=680
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:47
[com_47]
type=text
y=697
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:48
[com_48]
type=text
y=714
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:49
[com_49]
type=text
y=731
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:50
[com_50]
type=text
y=748
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:51
[com_51]
type=text
y=765
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:52
[com_52]
type=text
y=782
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:53
[com_53]
type=text
y=799
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:54
[com_54]
type=text
y=816
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:55
[com_55]
type=text
y=833
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:56
[com_56]
type=text
y=850
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:57
[com_57]
type=text
y=867
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:58
[com_58]
type=text
y=884
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:59
[com_59]
type=text
y=901
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:60
[com_60]
type=text
y=918
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:61
[com_61]
type=text
y=935
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:62
[com_62]
type=text
y=952
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:63
[com_63]
type=text
y=969
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:64
[com_64]
type=text
y=986
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:65
[com_65]
type=text
y=1003
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:66
[com_66]
type=text
y=1020
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:67
[com_67]
type=text
y=1037
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:68
[com_68]
type=text
y=1054
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:69
[com_69]
type=text
y=1071
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:70
[com_70]
type=text
y=1088
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:71
[com_71]
type=text
y=1105
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:72
[com_72]
type=text
y=1122
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:73
[com_73]
type=text
y=1139
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:74
[com_74]
type=text
y=1156
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:75
[com_75]
type=text
y=1173
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:76
[com_76]
type=text
y=1190
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:77
[com_77]
type=text
y=1207
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:78
[com_78]
type=text
y=1224
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:79
[com_79]
type=text
y=1241
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:80
[com_80]
type=text
y=1258
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:81
[com_81]
type=text
y=1275
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:82
[com_82]
type=text
y=1292
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:83
[com_83]
type=text
y=1309
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:84
[com_84]
type=text
y=1326
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:85
[com_85]
type=text
y=1343
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:86
[com_86]
type=text
y=1360
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:87
[com_87]
type=text
y=1377
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:88
[com_88]
type=text
y=1394
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:89
[com_89]
type=text
y=1411
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:90
[com_90]
type=text
y=1428
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:91
[com_91]
type=text
y=1445
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:92
[com_92]
type=text
y=1462
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:93
[com_93]
type=text
y=1479
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:94
[com_94]
type=text
y=1496
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:95
[com_95]
type=text
y=1513
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:96
[com_96]
type=text
y=1530
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:97
[com_97]
type=text
y=1547
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:98
[com_98]
type=text
y=1564
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:99
[com_99]
type=text
y=1581
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:100
[com_100]
type=text
y=1598
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:101
[com_101]
type=text
y=1615
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:102
[com_102]
type=text
y=1632
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:103
[com_103]
type=text
y=1649
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:104
[com_104]
type=text
y=1666
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:105
[com_105]
type=text
y=1683
width=348
height=17
layer=com_5
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xd5a34d

// 116:106
[com_106]
type=layer
x=475
y=2
width=32
height=32
hide=yes

