// 58:0
[com_0]
type=text
x=146
y=24
width=105
height=11
textfont=p11_full
text=Zamorak = %1
textalignh=centre
textshadow=yes
script0=varplayerbit_155

// 58:1
[com_1]
type=text
x=251
y=24
width=108
height=11
textfont=p11_full
text=%1 = Saradomin
textalignh=centre
textshadow=yes
script0=varplayerbit_145

// 58:2
[com_2]
type=model
y=89
width=32
height=32
model=model_4858
modelzoom=2134

// 58:3
[com_3]
type=model
y=124
width=32
height=32
model=model_4862
modelzoom=2134

// 58:4
[com_4]
type=text
x=33
y=38
width=11
height=11
textfont=p11_full
textactive=Safe
colour=0x000000
colouractive=0x00ff00
script=varplayerbit_143 = 0

// 58:5
[com_5]
type=text
x=35
y=73
width=11
height=11
textfont=p11_full
textactive=Safe
colour=0x000000
colouractive=0x00ff00
script=varplayerbit_153 = 0

// 58:6
[com_6]
type=layer
y=180
width=106
height=148

// 58:7
[com_7]
type=text
x=33
y=15
width=72
height=21
layer=com_6
textfont=p11_full
text=Health %1%
textactive=Health 0%
colour=0x00ff00
colouractive=0xff0000
script=varplayerbit_136 = 0

// 58:8
[com_8]
type=text
x=441
y=318
width=69
height=11
textfont=p11_full
text=%1 Min
textalignh=centre
script0=varplayer_380

// 58:9
[com_9]
type=model
x=1
y=4
width=32
height=32
layer=com_6
model=model_4855
modelangle=512,0,0
modelzoom=1244

// 58:10
[com_10]
type=model
x=-5
y=35
width=32
height=32
layer=com_6
model=model_4859
modelangle=512,0,0
modelzoom=1165

// 58:11
[com_11]
type=text
x=33
y=47
width=72
height=20
layer=com_6
textfont=p11_full
text=Locked
textactive=Unlocked
colour=0x00ff00
colouractive=0xff0000
script=varplayerbit_137 = 1

// 58:12
[com_12]
type=model
x=1
y=59
width=32
height=32
layer=com_6
model=model_4861
modelangle=512,0,0
modelzoom=2063

// 58:13
[com_13]
type=text
x=33
y=78
width=73
height=21
layer=com_6
textfont=p11_full
text=Collapsed
textactive=Cleared
colour=0x00ff00
colouractive=0xff0000
script=varplayerbit_138 = 1

// 58:14
[com_14]
type=model
x=1
y=264
width=32
height=32
model=model_4861
modelangle=512,0,0
modelzoom=2063

// 58:15
[com_15]
type=text
x=33
y=103
width=72
height=24
layer=com_6
textfont=p11_full
text=Collapsed
textactive=Cleared
colour=0x00ff00
colouractive=0xff0000
script=varplayerbit_139 = 1

// 58:16
[com_16]
type=model
y=111
width=32
height=32
layer=com_6
model=model_4853
modelangle=512,0,0
modelzoom=1135

// 58:17
[com_17]
type=text
x=33
y=128
width=71
height=20
layer=com_6
textfont=p11_full
text=Operational
textactive=Destroyed
colour=0x00ff00
colouractive=0xff0000
script=varplayerbit_140 = 1

// 58:18
[com_18]
type=text
x=33
y=38
width=11
height=11
textfont=p11_full
textactive=Taken
textshadow=yes
colour=0x000000
colouractive=0xff0000
script=varplayerbit_143 = 1

// 58:19
[com_19]
type=text
x=33
y=38
width=11
height=11
textfont=p11_full
textactive=Dropped
textshadow=yes
colour=0x000000
colouractive=0xffff00
script=varplayerbit_143 = 2

// 58:20
[com_20]
type=text
x=35
y=73
width=11
height=11
textfont=p11_full
textactive=Taken
textshadow=yes
colour=0x000000
colouractive=0xff0000
script=varplayerbit_153 = 1

// 58:21
[com_21]
type=text
x=35
y=73
width=11
height=11
textfont=p11_full
textactive=Dropped
textshadow=yes
colour=0x000000
colouractive=0xffff00
script=varplayerbit_153 = 2

// 58:22
[com_22]
type=text
x=247
y=119
width=4
height=4
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0xffff00

