// 220:0
[com_0]
type=model
x=220
y=166
width=34
height=34
model=model_11365
modelangle=533,3,0
modelzoom=561

// 220:1
[com_1]
type=text
x=59
y=38
width=375
height=14
textfont=p12_full
textalignh=centre
colour=0xffff00

// 220:2
[com_2]
type=text
x=59
y=54
width=375
height=14
textfont=p12_full
textalignh=centre
colour=0xffff00

// 220:3
[com_3]
type=text
x=59
y=70
width=375
height=14
textfont=p12_full
textalignh=centre
colour=0xffff00

// 220:4
[com_4]
type=text
x=59
y=87
width=375
height=14
textfont=p12_full
textalignh=centre
colour=0xffff00

// 220:5
[com_5]
type=text
x=59
y=104
width=375
height=14
textfont=p12_full
textalignh=centre
colour=0xffff00

// 220:6
[com_6]
type=text
x=59
y=121
width=375
height=14
textfont=p12_full
textalignh=centre
colour=0xffff00

// 220:7
[com_7]
type=text
x=59
y=138
width=375
height=14
textfont=p12_full
textalignh=centre
colour=0xffff00

// 220:8
[com_8]
type=text
x=59
y=155
width=375
height=14
textfont=p12_full
textalignh=centre
colour=0xffff00

// 220:9
[com_9]
type=text
x=59
y=172
width=375
height=14
textfont=p12_full
textalignh=centre
colour=0xffff00

// 220:10
[com_10]
type=text
x=59
y=189
width=375
height=14
textfont=p12_full
textalignh=centre
colour=0xffff00

// 220:11
[com_11]
type=text
x=59
y=206
width=375
height=14
textfont=p12_full
textalignh=centre
colour=0xffff00

// 220:12
[com_12]
type=text
x=59
y=223
width=375
height=14
textfont=p12_full
textalignh=centre
colour=0xffff00

// 220:13
[com_13]
type=text
x=59
y=240
width=375
height=14
textfont=p12_full
textalignh=centre
colour=0xffff00

// 220:14
[com_14]
type=text
x=59
y=257
width=375
height=14
textfont=p12_full
textalignh=centre
colour=0xffff00

// 220:15
[com_15]
type=text
x=59
y=274
width=375
height=14
textfont=p12_full
textalignh=centre
colour=0xffff00

// 220:16
[com_16]
type=graphic
x=442
y=30
width=26
height=23
mouseoverlayer=com_18
graphic="close_buttons,2"

// 220:17
[com_17]
type=graphic
x=3
y=5
width=26
height=23
layer=com_18
mouseoverlayer=com_18
buttontype=3
graphic="close_buttons,3"

// 220:18
[com_18]
type=layer
x=439
y=25
width=32
height=32
hide=yes

