// 316:0
[com_0]
type=layer
x=34
y=275
width=450
height=24
hide=yes

// 316:1
[com_1]
type=text
width=450
height=24
layer=com_0
textfont=p12_full
text=Text
textalignh=centre
textshadow=yes
colour=0xffff00

