// 494:0
[com_0]
type=text
x=481
y=5
width=70
height=15
textfont=b12_full
text=XX
textshadow=yes
colour=0xff981f

// 494:1
[com_1]
type=text
x=354
y=5
width=125
height=15
textfont=p12_full
text=Time until next wave:
textalignh=right
textshadow=yes
colour=0xff981f

// 494:2
[com_2]
type=text
x=374
y=18
width=116
height=16
textfont=p12_full
text=(exit room to cancel)
textshadow=yes
colour=0xff981f

