// 14:0
[com_0]
type=rectangle
x=15
y=12
width=478
height=314
colour=0x453d2a
colouractive=0x67593b
fill=yes

// 14:1
[com_1]
type=graphic
x=363
y=66
width=88
height=60
graphic=tradebacking

// 14:2
[com_2]
type=graphic
x=363
y=126
width=88
height=60
graphic=tradebacking

// 14:3
[com_3]
type=graphic
x=363
y=186
width=88
height=60
graphic=tradebacking

// 14:4
[com_4]
type=graphic
x=-4
y=35
width=36
height=36
graphic="miscgraphics,2"

// 14:5
[com_5]
type=graphic
x=11
y=6
width=25
height=30
graphic="steelborder,0"

// 14:6
[com_6]
type=graphic
x=-4
y=71
width=36
height=36
graphic="miscgraphics,2"

// 14:7
[com_7]
type=graphic
x=-4
y=107
width=36
height=36
graphic="miscgraphics,2"

// 14:8
[com_8]
type=graphic
x=-4
y=143
width=36
height=36
graphic="miscgraphics,2"

// 14:9
[com_9]
type=graphic
x=-4
y=179
width=36
height=36
graphic="miscgraphics,2"

// 14:10
[com_10]
type=graphic
x=-4
y=215
width=36
height=36
graphic="miscgraphics,2"

// 14:11
[com_11]
type=rectangle
x=319
y=49
width=164
height=264
colour=0x000000
fill=yes

// 14:12
[com_12]
type=graphic
x=-4
y=251
width=36
height=36
graphic="miscgraphics,2"

// 14:13
[com_13]
type=graphic
x=-4
y=267
width=36
height=36
graphic="miscgraphics,2"

// 14:14
[com_14]
type=graphic
x=478
y=36
width=36
height=36
graphic="steelborder2,1"

// 14:15
[com_15]
type=graphic
x=478
y=72
width=36
height=36
graphic="steelborder2,1"

// 14:16
[com_16]
type=graphic
x=478
y=108
width=36
height=36
graphic="steelborder2,1"

// 14:17
[com_17]
type=graphic
x=478
y=144
width=36
height=36
graphic="steelborder2,1"

// 14:18
[com_18]
type=graphic
x=478
y=180
width=36
height=36
graphic="steelborder2,1"

// 14:19
[com_19]
type=graphic
x=478
y=216
width=36
height=36
graphic="steelborder2,1"

// 14:20
[com_20]
type=graphic
x=478
y=252
width=36
height=36
graphic="steelborder2,1"

// 14:21
[com_21]
type=graphic
x=478
y=271
width=36
height=36
graphic="steelborder2,1"

// 14:22
[com_22]
type=graphic
x=11
y=300
width=25
height=30
graphic="steelborder,2"

// 14:23
[com_23]
type=graphic
x=36
y=309
width=36
height=36
graphic="miscgraphics,3"

// 14:24
[com_24]
type=graphic
x=72
y=309
width=36
height=36
graphic="miscgraphics,3"

// 14:25
[com_25]
type=graphic
x=108
y=309
width=36
height=36
graphic="miscgraphics,3"

// 14:26
[com_26]
type=graphic
x=144
y=309
width=36
height=36
graphic="miscgraphics,3"

// 14:27
[com_27]
type=graphic
x=180
y=309
width=36
height=36
graphic="miscgraphics,3"

// 14:28
[com_28]
type=graphic
x=216
y=309
width=36
height=36
graphic="miscgraphics,3"

// 14:29
[com_29]
type=graphic
x=252
y=309
width=36
height=36
graphic="miscgraphics,3"

// 14:30
[com_30]
type=graphic
x=288
y=309
width=36
height=36
graphic="miscgraphics,3"

// 14:31
[com_31]
type=graphic
x=324
y=309
width=36
height=36
graphic="miscgraphics,3"

// 14:32
[com_32]
type=graphic
x=360
y=309
width=36
height=36
graphic="miscgraphics,3"

// 14:33
[com_33]
type=graphic
x=396
y=309
width=36
height=36
graphic="miscgraphics,3"

// 14:34
[com_34]
type=graphic
x=438
y=309
width=36
height=36
graphic="miscgraphics,3"

// 14:35
[com_35]
type=graphic
x=432
y=309
width=36
height=36
graphic="miscgraphics,3"

// 14:36
[com_36]
type=graphic
x=474
y=300
width=25
height=30
graphic="steelborder,3"

// 14:37
[com_37]
type=graphic
x=71
y=-9
width=36
height=36
graphic="steelborder2,0"

// 14:38
[com_38]
type=graphic
x=107
y=-9
width=36
height=36
graphic="steelborder2,0"

// 14:39
[com_39]
type=graphic
x=143
y=-9
width=36
height=36
graphic="steelborder2,0"

// 14:40
[com_40]
type=graphic
x=179
y=-9
width=36
height=36
graphic="steelborder2,0"

// 14:41
[com_41]
type=graphic
x=215
y=-9
width=36
height=36
graphic="steelborder2,0"

// 14:42
[com_42]
type=graphic
x=251
y=-9
width=36
height=36
graphic="steelborder2,0"

// 14:43
[com_43]
type=graphic
x=287
y=-9
width=36
height=36
graphic="steelborder2,0"

// 14:44
[com_44]
type=graphic
x=323
y=-9
width=36
height=36
graphic="steelborder2,0"

// 14:45
[com_45]
type=graphic
x=359
y=-9
width=36
height=36
graphic="steelborder2,0"

// 14:46
[com_46]
type=graphic
x=395
y=-9
width=36
height=36
graphic="steelborder2,0"

// 14:47
[com_47]
type=graphic
x=431
y=-9
width=36
height=36
graphic="steelborder2,0"

// 14:48
[com_48]
type=graphic
x=251
y=20
width=36
height=36
graphic="steelborder2,0"

// 14:49
[com_49]
type=graphic
x=36
y=-9
width=36
height=36
graphic="steelborder2,0"

// 14:50
[com_50]
type=graphic
x=474
y=6
width=25
height=30
graphic="steelborder,1"

// 14:51
[com_51]
type=graphic
x=438
y=-9
width=36
height=36
graphic="steelborder2,0"

// 14:52
[com_52]
type=graphic
x=287
y=20
width=36
height=36
graphic="steelborder2,0"

// 14:53
[com_53]
type=graphic
x=323
y=20
width=36
height=36
graphic="steelborder2,0"

// 14:54
[com_54]
type=graphic
x=359
y=20
width=36
height=36
graphic="steelborder2,0"

// 14:55
[com_55]
type=graphic
x=395
y=20
width=36
height=36
graphic="steelborder2,0"

// 14:56
[com_56]
type=graphic
x=431
y=20
width=36
height=36
graphic="steelborder2,0"

// 14:57
[com_57]
type=graphic
x=458
y=20
width=36
height=36
graphic="steelborder2,0"

// 14:58
[com_58]
type=graphic
x=215
y=20
width=36
height=36
graphic="steelborder2,0"

// 14:59
[com_59]
type=graphic
x=179
y=20
width=36
height=36
graphic="steelborder2,0"

// 14:60
[com_60]
type=graphic
x=143
y=20
width=36
height=36
graphic="steelborder2,0"

// 14:61
[com_61]
type=graphic
x=107
y=20
width=36
height=36
graphic="steelborder2,0"

// 14:62
[com_62]
type=graphic
x=71
y=20
width=36
height=36
graphic="steelborder2,0"

// 14:63
[com_63]
type=graphic
x=35
y=20
width=36
height=36
graphic="steelborder2,0"

// 14:64
[com_64]
type=graphic
x=16
y=20
width=36
height=36
graphic="steelborder2,0"

// 14:65
[com_65]
type=graphic
x=464
y=43
width=25
height=30
graphic="steelborder,1"

// 14:66
[com_66]
type=graphic
x=468
y=73
width=36
height=36
graphic="steelborder2,1"

// 14:67
[com_67]
type=graphic
x=468
y=109
width=36
height=36
graphic="steelborder2,1"

// 14:68
[com_68]
type=graphic
x=468
y=145
width=36
height=36
graphic="steelborder2,1"

// 14:69
[com_69]
type=graphic
x=468
y=181
width=36
height=36
graphic="steelborder2,1"

// 14:70
[com_70]
type=graphic
x=468
y=217
width=36
height=36
graphic="steelborder2,1"

// 14:71
[com_71]
type=graphic
x=468
y=253
width=36
height=36
graphic="steelborder2,1"

// 14:72
[com_72]
type=graphic
x=464
y=289
width=25
height=30
graphic="steelborder,3"

// 14:73
[com_73]
type=graphic
x=410
y=298
width=36
height=36
graphic="miscgraphics,3"

// 14:74
[com_74]
type=graphic
x=374
y=298
width=36
height=36
graphic="miscgraphics,3"

// 14:75
[com_75]
type=graphic
x=432
y=298
width=36
height=36
graphic="miscgraphics,3"

// 14:76
[com_76]
type=graphic
x=338
y=298
width=36
height=36
graphic="miscgraphics,3"

// 14:77
[com_77]
type=graphic
x=313
y=43
width=25
height=30
graphic="steelborder,0"

// 14:78
[com_78]
type=graphic
x=298
y=73
width=36
height=36
graphic="miscgraphics,2"

// 14:79
[com_79]
type=graphic
x=298
y=109
width=36
height=36
graphic="miscgraphics,2"

// 14:80
[com_80]
type=graphic
x=298
y=145
width=36
height=36
graphic="miscgraphics,2"

// 14:81
[com_81]
type=graphic
x=298
y=181
width=36
height=36
graphic="miscgraphics,2"

// 14:82
[com_82]
type=graphic
x=298
y=253
width=36
height=36
graphic="miscgraphics,2"

// 14:83
[com_83]
type=graphic
x=313
y=289
width=25
height=30
graphic="steelborder,2"

// 14:84
[com_84]
type=graphic
x=298
y=217
width=36
height=36
graphic="miscgraphics,2"

// 14:85
[com_85]
type=graphic
x=428
y=28
width=36
height=36
graphic="steelborder2,0"

// 14:86
[com_86]
type=graphic
x=392
y=28
width=36
height=36
graphic="steelborder2,0"

// 14:87
[com_87]
type=graphic
x=356
y=28
width=36
height=36
graphic="steelborder2,0"

// 14:88
[com_88]
type=graphic
x=334
y=28
width=36
height=36
graphic="steelborder2,0"

// 14:89
[com_89]
type=graphic
x=243
y=86
width=51
height=82
graphic=keys

// 14:90
[com_90]
type=text
x=7
y=15
width=496
height=17
textfont=b12_full
text=Bank PIN Settings
textalignh=centre
textshadow=yes
colour=0xff981f

// 14:91
[com_91]
type=text
x=321
y=50
width=162
height=15
textfont=q8_full
text=Messages
textalignh=centre
textshadow=yes
colour=0xff981f

// 14:92
[com_92]
type=graphic
x=31
y=216
width=25
height=30
graphic="steelborder,0"

// 14:93
[com_93]
type=graphic
x=31
y=261
width=25
height=30
graphic="steelborder,2"

// 14:94
[com_94]
type=graphic
x=270
y=261
width=25
height=30
graphic="steelborder,3"

// 14:95
[com_95]
type=graphic
x=270
y=216
width=25
height=30
graphic="steelborder,1"

// 14:96
[com_96]
type=graphic
x=56
y=201
width=36
height=36
graphic="steelborder2,0"

// 14:97
[com_97]
type=graphic
x=92
y=201
width=36
height=36
graphic="steelborder2,0"

// 14:98
[com_98]
type=graphic
x=128
y=201
width=36
height=36
graphic="steelborder2,0"

// 14:99
[com_99]
type=graphic
x=164
y=201
width=36
height=36
graphic="steelborder2,0"

// 14:100
[com_100]
type=graphic
x=200
y=201
width=36
height=36
graphic="steelborder2,0"

// 14:101
[com_101]
type=text
x=321
y=67
width=160
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

// 14:102
[com_102]
type=text
x=321
y=83
width=160
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

// 14:103
[com_103]
type=text
x=321
y=99
width=160
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

// 14:104
[com_104]
type=text
x=321
y=115
width=160
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

// 14:105
[com_105]
type=text
x=321
y=131
width=160
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

// 14:106
[com_106]
type=text
x=321
y=147
width=160
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

// 14:107
[com_107]
type=text
x=321
y=163
width=160
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

// 14:108
[com_108]
type=text
x=321
y=179
width=160
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

// 14:109
[com_109]
type=text
x=321
y=195
width=160
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

// 14:110
[com_110]
type=text
x=321
y=211
width=160
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

// 14:111
[com_111]
type=text
x=321
y=227
width=160
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

// 14:112
[com_112]
type=text
x=321
y=243
width=160
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

// 14:113
[com_113]
type=text
x=321
y=258
width=160
height=14
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0xffff7f

// 14:114
[com_114]
type=text
x=321
y=274
width=160
height=14
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0xffff7f

// 14:115
[com_115]
type=text
x=320
y=289
width=160
height=14
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0xffff7f

// 14:116
[com_116]
type=text
x=320
y=303
width=161
height=10
textfont=p12_full
textalignh=centre
textshadow=yes
colour=0xffff7f

// 14:117
[com_117]
type=graphic
x=236
y=201
width=36
height=36
graphic="steelborder2,0"

// 14:118
[com_118]
type=graphic
x=56
y=270
width=36
height=36
graphic="miscgraphics,3"

// 14:119
[com_119]
type=graphic
x=92
y=270
width=36
height=36
graphic="miscgraphics,3"

// 14:120
[com_120]
type=graphic
x=128
y=270
width=36
height=36
graphic="miscgraphics,3"

// 14:121
[com_121]
type=graphic
x=164
y=270
width=36
height=36
graphic="miscgraphics,3"

// 14:122
[com_122]
type=graphic
x=200
y=270
width=36
height=36
graphic="miscgraphics,3"

// 14:123
[com_123]
type=graphic
x=236
y=270
width=36
height=36
graphic="miscgraphics,3"

// 14:124
[com_124]
type=graphic
x=16
y=237
width=36
height=36
graphic="miscgraphics,2"

// 14:125
[com_125]
type=graphic
x=274
y=231
width=36
height=36
graphic="steelborder2,1"

// 14:126
[com_126]
type=layer
x=37
y=222
width=252
height=63

// 14:127
[com_127]
type=graphic
x=-1
y=-14
width=104
height=104
layer=com_126
graphic=tex_red

// 14:128
[com_128]
type=graphic
x=103
y=-14
width=104
height=104
layer=com_126
graphic=tex_red

// 14:129
[com_129]
type=graphic
x=207
y=-14
width=90
height=98
layer=com_126
graphic=tex_red

// 14:130
[com_130]
type=text
x=1
y=5
width=252
height=17
layer=com_126
buttontype=1
textfont=q8_full
text=Set a PIN
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

// 14:131
[com_131]
type=text
x=-1
y=28
width=252
height=16
layer=com_126
buttontype=1
textfont=q8_full
text=Change your recovery delay
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

// 14:132
[com_132]
type=text
width=252
height=16
layer=com_126
buttontype=1
textfont=q8_full
text=Change your PIN
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

// 14:133
[com_133]
type=text
x=-1
y=22
width=253
height=15
layer=com_126
buttontype=1
textfont=q8_full
text=Delete your PIN
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

// 14:134
[com_134]
type=text
x=-1
y=41
width=252
height=15
layer=com_126
buttontype=1
textfont=q8_full
text=Change your recovery delay
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

// 14:135
[com_135]
type=text
x=-1
y=20
width=252
height=15
layer=com_126
buttontype=1
textfont=q8_full
text=Cancel the PIN that's pending
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

// 14:136
[com_136]
type=graphic
x=31
y=55
width=25
height=30
graphic="steelborder,0"

// 14:137
[com_137]
type=graphic
x=191
y=55
width=25
height=30
graphic="steelborder,1"

// 14:138
[com_138]
type=graphic
x=155
y=40
width=36
height=36
graphic="steelborder2,0"

// 14:139
[com_139]
type=graphic
x=119
y=40
width=36
height=36
graphic="steelborder2,0"

// 14:140
[com_140]
type=graphic
x=83
y=40
width=36
height=36
graphic="steelborder2,0"

// 14:141
[com_141]
type=graphic
x=47
y=40
width=36
height=36
graphic="steelborder2,0"

// 14:142
[com_142]
type=graphic
x=31
y=150
width=25
height=30
graphic="steelborder,2"

// 14:143
[com_143]
type=graphic
x=191
y=150
width=25
height=30
graphic="steelborder,3"

// 14:144
[com_144]
type=graphic
x=16
y=85
width=36
height=36
graphic="miscgraphics,2"

// 14:145
[com_145]
type=graphic
x=16
y=121
width=36
height=36
graphic="miscgraphics,2"

// 14:146
[com_146]
type=graphic
x=195
y=85
width=36
height=36
graphic="steelborder2,1"

// 14:147
[com_147]
type=graphic
x=195
y=121
width=36
height=36
graphic="steelborder2,1"

// 14:148
[com_148]
type=graphic
x=56
y=159
width=36
height=36
graphic="miscgraphics,3"

// 14:149
[com_149]
type=graphic
x=92
y=159
width=36
height=36
graphic="miscgraphics,3"

// 14:150
[com_150]
type=graphic
x=128
y=159
width=36
height=36
graphic="miscgraphics,3"

// 14:151
[com_151]
type=graphic
x=164
y=159
width=36
height=36
graphic="miscgraphics,3"

// 14:152
[com_152]
type=graphic
x=-1
y=-14
width=104
height=104
layer=com_156
graphic=tex_brown

// 14:153
[com_153]
type=graphic
x=103
y=-14
width=104
height=104
layer=com_156
graphic=tex_brown

// 14:154
[com_154]
type=graphic
x=-1
y=90
width=104
height=104
layer=com_156
graphic=tex_brown

// 14:155
[com_155]
type=graphic
x=103
y=90
width=104
height=104
layer=com_156
graphic=tex_brown

// 14:156
[com_156]
type=layer
x=37
y=61
width=173
height=113

// 14:157
[com_157]
type=text
x=1
y=-1
width=173
height=17
layer=com_156
textfont=q8_full
text=Your Bank PIN status:
textalignh=centre
textshadow=yes

// 14:158
[com_158]
type=text
x=-2
y=11
width=173
height=30
layer=com_156
textfont=b12_full
text=Unknown
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff0000

// 14:159
[com_159]
type=text
x=-2
y=44
width=174
height=35
layer=com_156
textfont=q8_full
text=Recovery delay:
textalignh=centre
textalignv=centre
textshadow=yes

// 14:160
[com_160]
type=text
x=-2
y=81
width=173
height=14
layer=com_156
textfont=b12_full
text=X days
textalignh=centre
textshadow=yes
colour=0xff0000

// 14:161
[com_161]
type=rectangle
x=17
y=13
width=476
height=312
layer=com_220
colour=0x000000
fill=yes

// 14:162
[com_162]
type=text
y=62
width=496
height=17
layer=com_220
textfont=q8_full
text=Do you really wish to do that?
textalignh=centre
textshadow=yes
colour=0xff0000

// 14:163
[com_163]
type=graphic
x=109
y=111
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:164
[com_164]
type=graphic
x=73
y=111
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:165
[com_165]
type=graphic
x=37
y=111
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:166
[com_166]
type=graphic
x=16
y=111
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:167
[com_167]
type=graphic
x=145
y=111
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:168
[com_168]
type=graphic
x=145
y=141
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:169
[com_169]
type=graphic
x=361
y=111
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:170
[com_170]
type=graphic
x=397
y=111
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:171
[com_171]
type=graphic
x=433
y=111
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:172
[com_172]
type=graphic
x=457
y=111
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:173
[com_173]
type=graphic
x=109
y=141
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:174
[com_174]
type=graphic
x=73
y=141
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:175
[com_175]
type=graphic
x=37
y=141
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:176
[com_176]
type=graphic
x=16
y=141
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:177
[com_177]
type=graphic
x=361
y=141
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:178
[com_178]
type=graphic
x=397
y=141
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:179
[com_179]
type=graphic
x=433
y=141
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:180
[com_180]
type=graphic
x=458
y=141
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:181
[com_181]
type=graphic
x=181
y=111
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:182
[com_182]
type=graphic
x=217
y=111
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:183
[com_183]
type=graphic
x=253
y=111
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:184
[com_184]
type=graphic
x=289
y=111
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:185
[com_185]
type=graphic
x=325
y=111
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:186
[com_186]
type=graphic
x=181
y=141
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:187
[com_187]
type=graphic
x=217
y=141
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:188
[com_188]
type=graphic
x=253
y=141
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:189
[com_189]
type=graphic
x=289
y=141
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:190
[com_190]
type=graphic
x=325
y=141
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:191
[com_191]
type=graphic
x=144
y=213
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:192
[com_192]
type=graphic
x=180
y=213
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:193
[com_193]
type=graphic
x=216
y=213
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:194
[com_194]
type=graphic
x=252
y=213
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:195
[com_195]
type=graphic
x=288
y=213
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:196
[com_196]
type=graphic
x=324
y=213
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:197
[com_197]
type=graphic
x=144
y=182
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:198
[com_198]
type=graphic
x=180
y=182
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:199
[com_199]
type=graphic
x=216
y=182
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:200
[com_200]
type=graphic
x=252
y=182
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:201
[com_201]
type=graphic
x=288
y=182
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:202
[com_202]
type=graphic
x=324
y=182
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:203
[com_203]
type=graphic
x=360
y=182
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:204
[com_204]
type=graphic
x=432
y=182
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:205
[com_205]
type=graphic
x=396
y=182
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:206
[com_206]
type=graphic
x=72
y=182
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:207
[com_207]
type=graphic
x=108
y=182
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:208
[com_208]
type=graphic
x=457
y=182
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:209
[com_209]
type=graphic
x=360
y=213
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:210
[com_210]
type=graphic
x=396
y=213
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:211
[com_211]
type=graphic
x=432
y=213
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:212
[com_212]
type=graphic
x=457
y=213
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:213
[com_213]
type=graphic
x=15
y=182
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:214
[com_214]
type=graphic
x=36
y=182
width=36
height=36
layer=com_220
graphic="steelborder2,0"

// 14:215
[com_215]
type=graphic
x=108
y=213
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:216
[com_216]
type=graphic
x=36
y=213
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:217
[com_217]
type=graphic
x=72
y=213
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:218
[com_218]
type=graphic
x=15
y=213
width=36
height=36
layer=com_220
graphic="miscgraphics,3"

// 14:219
[com_219]
type=text
x=17
y=181
width=296
height=35
textfont=p12_full
text=Use the buttons below to change your PIN settings
textalignh=centre
textshadow=yes
colour=0xffff00

// 14:220
[com_220]
type=layer
y=-1
width=512
height=334
hide=yes

// 14:221
[com_221]
type=layer
x=17
y=132
width=477
height=26
layer=com_220

// 14:222
[com_222]
type=graphic
y=-13
width=104
height=104
layer=com_221
graphic=tex_red

// 14:223
[com_223]
type=graphic
x=104
y=-13
width=104
height=104
layer=com_221
graphic=tex_red

// 14:224
[com_224]
type=graphic
x=208
y=-13
width=104
height=104
layer=com_221
graphic=tex_red

// 14:225
[com_225]
type=text
x=8
y=132
width=478
height=17
buttontype=1
textfont=q8_full
text=Yes, I really want to do that.
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

// 14:226
[com_226]
type=layer
x=16
y=202
width=477
height=26
layer=com_220

// 14:227
[com_227]
type=graphic
y=-13
width=104
height=104
layer=com_226
graphic=tex_red

// 14:228
[com_228]
type=graphic
x=104
y=-13
width=104
height=104
layer=com_226
graphic=tex_red

// 14:229
[com_229]
type=graphic
x=208
y=-13
width=104
height=104
layer=com_226
graphic=tex_red

// 14:230
[com_230]
type=text
x=8
y=204
width=478
height=17
buttontype=1
textfont=q8_full
text=No, forget I asked.
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

// 14:231
[com_231]
type=graphic
x=312
y=-13
width=104
height=104
layer=com_221
graphic=tex_red

// 14:232
[com_232]
type=graphic
x=416
y=-13
width=104
height=104
layer=com_221
graphic=tex_red

// 14:233
[com_233]
type=graphic
x=312
y=-13
width=104
height=104
layer=com_226
graphic=tex_red

// 14:234
[com_234]
type=graphic
x=416
y=-13
width=104
height=104
layer=com_226
graphic=tex_red

// 14:235
[com_235]
type=graphic
x=470
y=11
width=26
height=23
mouseoverlayer=com_237
graphic="close_buttons,0"

// 14:236
[com_236]
type=graphic
x=4
y=6
width=26
height=23
layer=com_237
buttontype=3
graphic="close_buttons,1"

// 14:237
[com_237]
type=layer
x=466
y=5
width=32
height=32
hide=yes

