// 113:0
[com_0]
type=rectangle
width=512
height=334
colour=0x000000
fill=yes

// 113:1
[com_1]
type=layer
width=512
height=334

// 113:2
[com_2]
type=model
x=242
y=172
width=32
height=32
layer=com_1
model=model_5825
modelangle=520,6,0
modelzoom=345

// 113:3
[com_3]
type=layer
width=512
height=334

// 113:4
[com_4]
type=model
x=239
y=171
width=32
height=32
layer=com_3
model=model_5828
modelangle=520,6,0
modelzoom=345

// 113:5
[com_5]
type=layer
width=512
height=334

// 113:6
[com_6]
type=model
x=236
y=173
width=32
height=32
layer=com_5
model=model_5830
modelangle=521,2043,0
modelzoom=339

// 113:7
[com_7]
type=layer
width=512
height=334

// 113:8
[com_8]
type=model
x=239
y=174
width=32
height=32
layer=com_7
model=model_5832
modelangle=574,2039,0
modelzoom=332

// 113:9
[com_9]
type=layer
x=445
y=13
width=66
height=28

// 113:10
[com_10]
type=layer
width=512
height=334

// 113:11
[com_11]
type=model
x=239
y=171
width=32
height=32
layer=com_10
model=model_5829
modelangle=520,6,0
modelzoom=345

// 113:12
[com_12]
type=layer
width=512
height=334

// 113:13
[com_13]
type=model
x=236
y=173
width=32
height=32
layer=com_12
model=model_5831
modelangle=521,2043,0
modelzoom=339

// 113:14
[com_14]
type=layer
width=512
height=334

// 113:15
[com_15]
type=model
x=239
y=174
width=32
height=32
layer=com_14
model=model_5833
modelangle=574,2039,0
modelzoom=332

// 113:16
[com_16]
type=layer
y=46
width=512
height=27
hide=yes

// 113:17
[com_17]
type=text
width=512
height=27
layer=com_16
textfont=b12_full
text=That's it, it all makes sense now! If you were a dwarf, that is...
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xc9c980

// 113:18
[com_18]
type=graphic
x=482
y=4
width=26
height=23
mouseoverlayer=com_20
graphic="close_buttons,4"

// 113:19
[com_19]
type=graphic
x=3
y=3
width=26
height=23
layer=com_20
mouseoverlayer=com_20
buttontype=3
graphic="close_buttons,5"

// 113:20
[com_20]
type=layer
x=479
y=1
width=32
height=32
hide=yes

