// 265:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 265:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 265:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 265:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 265:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 265:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 265:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 265:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 265:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 265:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 265:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 265:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 265:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 265:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 265:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 265:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 265:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 265:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 265:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 265:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 265:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 265:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 265:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 265:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 265:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 265:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 265:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 265:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 265:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 265:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 265:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 265:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 265:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 265:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 265:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 265:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 265:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 265:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 265:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 265:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 265:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 265:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 265:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 265:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 265:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 265:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 265:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 265:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 265:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 265:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 265:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 265:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 265:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 265:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 265:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 265:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 265:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 265:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 265:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 265:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 265:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 265:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 265:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 265:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 265:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 265:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 265:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 265:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 265:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 265:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 265:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 265:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 265:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 265:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 265:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 265:75
[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 265:76
[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 265:77
[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 265:78
[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 265:79
[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 265:80
[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 265:81
[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 265:82
[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 265:83
[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 265:84
[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 265:85
[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 265:86
[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 265:87
[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 265:88
[com_88]
type=layer
x=36
y=20
width=440
height=299

// 265:89
[com_89]
type=rectangle
x=385
y=3
width=68
height=25
layer=com_93
buttontype=1
colour=0x000000
fill=yes

// 265:90
[com_90]
type=text
x=384
y=4
width=69
height=24
layer=com_93
textfont=p12_full
text=Accept
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff9c1f

// 265:91
[com_91]
type=text
x=86
y=30
width=327
height=15
textfont=b12_full
text=Party Drop Chest
textalignh=centre
textshadow=yes
colour=0xffc01f
colouractive=0xffc01f

// 265:92
[com_92]
type=layer
x=39
y=61
width=433
height=170
scrollheight=940

// 265:93
[com_93]
type=layer
x=30
y=263
width=453
height=41

// 265:94
[com_94]
type=graphic
x=16
y=225
width=36
height=36
graphic="steelborder2,0"

// 265:95
[com_95]
type=graphic
x=52
y=225
width=36
height=36
graphic="steelborder2,0"

// 265:96
[com_96]
type=graphic
x=124
y=225
width=36
height=36
graphic="steelborder2,0"

// 265:97
[com_97]
type=graphic
x=88
y=225
width=36
height=36
graphic="steelborder2,0"

// 265:98
[com_98]
type=graphic
x=412
y=225
width=36
height=36
graphic="steelborder2,0"

// 265:99
[com_99]
type=graphic
x=376
y=225
width=36
height=36
graphic="steelborder2,0"

// 265:100
[com_100]
type=graphic
x=340
y=225
width=36
height=36
graphic="steelborder2,0"

// 265:101
[com_101]
type=graphic
x=304
y=225
width=36
height=36
graphic="steelborder2,0"

// 265:102
[com_102]
type=graphic
x=160
y=225
width=36
height=36
graphic="steelborder2,0"

// 265:103
[com_103]
type=graphic
x=268
y=225
width=36
height=36
graphic="steelborder2,0"

// 265:104
[com_104]
type=graphic
x=232
y=225
width=36
height=36
graphic="steelborder2,0"

// 265:105
[com_105]
type=graphic
x=196
y=225
width=36
height=36
graphic="steelborder2,0"

// 265:106
[com_106]
type=graphic
x=448
y=225
width=36
height=36
graphic="steelborder2,0"

// 265:107
[com_107]
type=graphic
x=460
y=225
width=36
height=36
graphic="steelborder2,0"

// 265:108
[com_108]
type=text
x=103
y=-129
width=24
height=14
layer=com_93
textfont=p12_full
text=Text
textshadow=yes
colour=0xffff00

// 265:109
[com_109]
type=graphic
x=409
y=267
width=25
height=30
graphic="steelborder,2"

// 265:110
[com_110]
type=graphic
x=409
y=261
width=4
height=29
graphic="steelborder,0"

// 265:111
[com_111]
type=graphic
x=463
y=261
width=25
height=30
graphic="steelborder,1"

// 265:112
[com_112]
type=graphic
x=433
y=276
width=36
height=36
graphic="miscgraphics,3"

// 265:113
[com_113]
type=graphic
x=463
y=267
width=25
height=30
graphic="steelborder,3"

// 265:114
[com_114]
type=graphic
x=433
y=246
width=36
height=36
graphic="steelborder2,0"

// 265:115
[com_115]
type=inv
x=13
y=18
width=9
height=24
layer=com_92
draggable=yes
paddingx=15
paddingy=6

// 265:116
[com_116]
type=inv
x=6
y=1
width=8
height=1
layer=com_93
paddingx=15
paddingy=6
op1=Withdraw 1
op2=Withdraw 5
op3=Withdraw 10
op4=Withdraw All
op5=Withdraw X

// 265:117
[com_117]
type=text
x=4
y=301
width=491
height=12
textfont=p11_full
text=(Once you press Accept items can't be taken out of the chest!)
textalignh=centre
colour=0x808080

// 265:118
[com_118]
type=graphic
x=468
y=26
width=26
height=23
mouseoverlayer=com_120
buttontype=3
graphic="close_buttons,0"

// 265:119
[com_119]
type=graphic
x=5
y=3
width=26
height=23
layer=com_120
graphic="close_buttons,1"

// 265:120
[com_120]
type=layer
x=463
y=23
width=32
height=32
hide=yes

