// 435:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 435:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 435:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 435:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 435:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 435:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 435:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 435:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 435:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 435:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 435:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 435:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 435:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 435:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 435:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 435:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 435:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 435:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 435:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 435:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 435:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 435:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 435:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 435:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 435:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 435:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 435:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 435:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 435:28
[com_28]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 435:29
[com_29]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 435:30
[com_30]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 435:31
[com_31]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 435:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 435:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 435:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 435:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 435:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 435:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 435:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 435:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 435:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 435:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 435:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 435:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 435:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 435:45
[com_45]
type=graphic
x=73
y=304
width=36
height=36
graphic="miscgraphics,3"

// 435:46
[com_46]
type=graphic
x=109
y=304
width=36
height=36
graphic="miscgraphics,3"

// 435:47
[com_47]
type=graphic
x=145
y=304
width=36
height=36
graphic="miscgraphics,3"

// 435:48
[com_48]
type=graphic
x=181
y=304
width=36
height=36
graphic="miscgraphics,3"

// 435:49
[com_49]
type=graphic
x=217
y=304
width=36
height=36
graphic="miscgraphics,3"

// 435:50
[com_50]
type=graphic
x=253
y=304
width=36
height=36
graphic="miscgraphics,3"

// 435:51
[com_51]
type=graphic
x=289
y=304
width=36
height=36
graphic="miscgraphics,3"

// 435:52
[com_52]
type=graphic
x=325
y=304
width=36
height=36
graphic="miscgraphics,3"

// 435:53
[com_53]
type=graphic
x=361
y=304
width=36
height=36
graphic="miscgraphics,3"

// 435:54
[com_54]
type=graphic
x=397
y=304
width=36
height=36
graphic="miscgraphics,3"

// 435:55
[com_55]
type=graphic
x=433
y=304
width=36
height=36
graphic="miscgraphics,3"

// 435:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 435:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 435:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 435:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 435:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 435:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 435:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 435:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 435:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 435:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 435:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 435:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 435:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 435:69
[com_69]
type=graphic
x=37
y=304
width=36
height=36
graphic="miscgraphics,3"

// 435:70
[com_70]
type=graphic
x=12
y=295
width=25
height=30
graphic="steelborder,2"

// 435:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 435:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 435:73
[com_73]
type=graphic
x=475
y=295
width=25
height=30
graphic="steelborder,3"

// 435:74
[com_74]
type=graphic
x=439
y=304
width=36
height=36
graphic="miscgraphics,3"

// 435:75
[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 435:76
[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 435:77
[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 435:78
[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 435:79
[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 435:80
[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 435:81
[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 435:82
[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 435:83
[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 435:84
[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 435:85
[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 435:86
[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 435:87
[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 435:88
[com_88]
type=rectangle
x=104
y=231
width=315
height=82
colour=0x000000
fill=yes

// 435:89
[com_89]
type=rectangle
x=103
y=230
width=317
height=83
colour=0x726451

// 435:90
[com_90]
type=text
x=23
y=30
width=464
height=17
textfont=b12_full
text=Gnome Bowls
textalignh=centre
textshadow=yes
colour=0xff9900

// 435:91
[com_91]
type=model
x=171
y=88
width=50
height=50
mouseoverlayer=com_99
buttontype=1
model=null
modelangle=165,1894,0
modelzoom=656

// 435:92
[com_92]
type=model
x=77
y=23
width=32
height=32
layer=com_99
model=null
modelangle=336,1681,0
modelzoom=912

// 435:93
[com_93]
type=model
x=145
y=32
width=32
height=32
layer=com_99
model=model_2750
modelangle=447,2005,0
modelzoom=528

// 435:94
[com_94]
type=model
x=212
y=32
width=32
height=32
layer=com_99
model=model_2431
modelangle=285,1891,0
modelzoom=784

// 435:95
[com_95]
type=text
x=82
y=62
width=30
height=14
layer=com_99
textfont=p12_full
text=%1/4
textactive=%1/4
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2162) > 3

// 435:96
[com_96]
type=text
x=149
y=62
width=31
height=14
layer=com_99
textfont=p12_full
text=%1/2
textactive=%1/2
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1957) > 1

// 435:97
[com_97]
type=text
x=218
y=62
width=29
height=14
layer=com_99
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2169) > 0

// 435:98
[com_98]
type=text
x=6
y=4
width=310
height=15
layer=com_99
textfont=p12_full
text=Worm Hole
textalignh=centre
textshadow=yes
colour=0xd6a046

// 435:99
[com_99]
type=layer
x=99
y=229
width=318
height=82
hide=yes

// 435:100
[com_100]
type=model
x=293
y=88
width=50
height=50
mouseoverlayer=com_108
buttontype=1
model=null
modelangle=165,1894,0
modelzoom=656

// 435:101
[com_101]
type=model
x=81
y=32
width=32
height=32
layer=com_108
model=model_2750
modelangle=327,1909,0
modelzoom=528

// 435:102
[com_102]
type=model
x=150
y=29
width=32
height=32
layer=com_108
model=model_2766
modelangle=376,2047,0
modelzoom=722

// 435:103
[com_103]
type=model
x=223
y=31
width=32
height=32
layer=com_108
model=model_2431
modelangle=321,1885,0
modelzoom=656

// 435:104
[com_104]
type=text
x=85
y=62
width=31
height=14
layer=com_108
textfont=p12_full
text=%1/2
textactive=%1/2
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1957) > 1

// 435:105
[com_105]
type=text
x=155
y=62
width=31
height=14
layer=com_108
textfont=p12_full
text=%1/2
textactive=%1/2
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1942) > 1

// 435:106
[com_106]
type=text
x=227
y=62
width=29
height=14
layer=com_108
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2169) > 0

// 435:107
[com_107]
type=text
x=6
y=4
width=310
height=15
layer=com_108
textfont=p12_full
text=Vegetable Ball
textalignh=centre
textshadow=yes
colour=0xd6a046

// 435:108
[com_108]
type=layer
x=96
y=230
width=322
height=82
hide=yes

// 435:109
[com_109]
type=model
x=171
y=162
width=50
height=50
mouseoverlayer=com_121
buttontype=1
model=null
modelangle=165,1894,0
modelzoom=656

// 435:110
[com_110]
type=model
x=13
y=23
width=32
height=32
layer=com_121
model=model_2668
modelangle=321,1885,0
modelzoom=400

// 435:111
[com_111]
type=model
x=77
y=31
width=32
height=32
layer=com_121
model=null
modelangle=321,1885,0
modelzoom=784

// 435:112
[com_112]
type=model
x=142
y=25
width=32
height=32
layer=com_121
model=model_2743
modelangle=321,1885,0
modelzoom=656

// 435:113
[com_113]
type=model
x=207
y=31
width=32
height=32
layer=com_121
model=null
modelangle=321,1885,0
modelzoom=784

// 435:114
[com_114]
type=model
x=265
y=31
width=32
height=32
layer=com_121
model=model_2808
modelangle=273,1912,0
modelzoom=784

// 435:115
[com_115]
type=text
x=30
y=62
width=30
height=14
layer=com_121
textfont=p12_full
text=%1/4
textactive=%1/4
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2152) > 3

// 435:116
[com_116]
type=text
x=85
y=62
width=31
height=14
layer=com_121
textfont=p12_full
text=%1/2
textactive=%1/2
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1985) > 1

// 435:117
[com_117]
type=text
x=143
y=62
width=31
height=14
layer=com_121
textfont=p12_full
text=%1/2
textactive=%1/2
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2128) > 1

// 435:118
[com_118]
type=text
x=209
y=62
width=29
height=14
layer=com_121
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2169) > 0

// 435:119
[com_119]
type=text
x=268
y=62
width=29
height=14
layer=com_121
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2126) > 0

// 435:120
[com_120]
type=text
x=6
y=4
width=310
height=15
layer=com_121
textfont=p12_full
text=Tangled Toads Legs
textalignh=centre
textshadow=yes
colour=0xd6a046

// 435:121
[com_121]
type=layer
x=100
y=230
width=323
height=83
hide=yes

// 435:122
[com_122]
type=model
x=293
y=162
width=50
height=50
mouseoverlayer=com_128
buttontype=1
model=null
modelangle=165,1894,0
modelzoom=656

// 435:123
[com_123]
type=model
x=104
y=24
width=32
height=32
layer=com_128
model=null
modelangle=273,1759,0
modelzoom=528

// 435:124
[com_124]
type=model
x=174
y=25
width=32
height=32
layer=com_128
model=null
modelangle=210,1852,0
modelzoom=1552

// 435:125
[com_125]
type=text
x=108
y=62
width=30
height=14
layer=com_128
textfont=p12_full
text=%1/4
textactive=%1/4
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1973) > 3

// 435:126
[com_126]
type=text
x=181
y=62
width=29
height=14
layer=com_128
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2128) > 0

// 435:127
[com_127]
type=text
x=6
y=4
width=310
height=15
layer=com_128
textfont=p12_full
text=Chocolate Bomb
textalignh=centre
textshadow=yes
colour=0xd6a046

// 435:128
[com_128]
type=layer
x=101
y=229
width=318
height=83
hide=yes

// 435:129
[com_129]
type=text
x=246
y=4
width=70
height=15
layer=com_99
textfont=p12_full
text=level 30
textactive=level 30
textalignh=right
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=stat(cooking) > 29

// 435:130
[com_130]
type=text
x=246
y=4
width=70
height=15
layer=com_108
textfont=p12_full
text=level 35
textactive=level 35
textalignh=right
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=stat(cooking) > 34

// 435:131
[com_131]
type=text
x=246
y=4
width=70
height=15
layer=com_121
textfont=p12_full
text=level 40
textactive=level 40
textalignh=right
textshadow=yes
colour=0xbe0000
colouractive=0x00ff00
script=stat(cooking) > 39

// 435:132
[com_132]
type=text
x=246
y=4
width=70
height=15
layer=com_128
textfont=p12_full
text=level 42
textactive=level 42
textalignh=right
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=stat(cooking) > 41

// 435:133
[com_133]
type=text
x=155
y=128
width=80
height=25
textfont=p12_full
text=Worm hole
textactive=Worm hole
textalignh=centre
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2162) > 3
script=inv_total(interface_149:com_0, obj_1957) > 1
script=inv_total(interface_149:com_0, obj_2169) > 0

// 435:134
[com_134]
type=text
x=277
y=128
width=80
height=25
textfont=p12_full
text=Vegetable ball
textactive=Vegetable ball
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1957) > 1
script=inv_total(interface_149:com_0, obj_1942) > 1
script=inv_total(interface_149:com_0, obj_2169) > 0

// 435:135
[com_135]
type=text
x=156
y=199
width=80
height=25
textfont=p12_full
text=Tangled Toads Legs
textactive=Tangled Toads Legs
textalignh=centre
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2152) > 3
script=inv_total(interface_149:com_0, obj_1985) > 1
script=inv_total(interface_149:com_0, obj_2128) > 1
script=inv_total(interface_149:com_0, obj_2169) > 0
script=inv_total(interface_149:com_0, obj_2126) > 0

// 435:136
[com_136]
type=text
x=275
y=200
width=80
height=25
textfont=p12_full
text=Chocolate Bomb
textactive=Chocolate Bomb
textalignh=centre
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1973) > 3
script=inv_total(interface_149:com_0, obj_2128) > 0

// 435:137
[com_137]
type=graphic
x=471
y=26
width=26
height=23
mouseoverlayer=com_139
graphic="close_buttons,0"

// 435:138
[com_138]
type=graphic
x=5
y=4
width=26
height=23
layer=com_139
buttontype=3
graphic="close_buttons,1"

// 435:139
[com_139]
type=layer
x=466
y=22
width=32
height=32
hide=yes

