// 181:0
[com_0]
type=model
x=391
y=61
width=97
height=90
model=model_9745
modelangle=498,0,0
modelzoom=190

// 181:1
[com_1]
type=model
x=-4
y=-6
width=97
height=90
layer=com_7
model=model_9743
modelangle=510,762,0
modelzoom=190

// 181:2
[com_2]
type=model
x=-9
y=-5
width=97
height=90
layer=com_8
model=model_9743
modelangle=514,1241,0
modelzoom=190

// 181:3
[com_3]
type=model
x=-8
y=-2
width=98
height=84
layer=com_9
model=model_9744
modelangle=495,512,0
modelzoom=206

// 181:4
[com_4]
type=model
x=-3
y=-5
width=96
height=84
layer=com_10
model=model_9744
modelangle=521,1024,0
modelzoom=206

// 181:5
[com_5]
type=model
x=-7
width=96
height=85
layer=com_11
model=model_9744
modelangle=416,1536,0
modelzoom=206

// 181:6
[com_6]
type=model
x=-11
y=-4
width=98
height=83
layer=com_12
model=model_9744
modelangle=495,0,0
modelzoom=206

// 181:7
[com_7]
type=layer
x=396
y=66
width=82
height=83
hide=yes

// 181:8
[com_8]
type=layer
x=399
y=65
width=82
height=83
hide=yes

// 181:9
[com_9]
type=layer
x=398
y=63
width=82
height=83
hide=yes

// 181:10
[com_10]
type=layer
x=395
y=67
width=82
height=83
hide=yes

// 181:11
[com_11]
type=layer
x=397
y=65
width=82
height=83
hide=yes

// 181:12
[com_12]
type=layer
x=397
y=71
width=82
height=83
hide=yes

// 181:13
[com_13]
type=graphic
x=472
y=12
width=26
height=23
mouseoverlayer=com_17
graphic="close_buttons,4"

// 181:14
[com_14]
type=rectangle
x=381
y=171
width=119
height=45
buttontype=6
colour=0x858009
fill=yes

// 181:15
[com_15]
type=graphic
x=3
y=4
width=26
height=23
layer=com_17
buttontype=3
graphic="close_buttons,5"

// 181:16
[com_16]
type=text
x=385
y=172
width=112
height=42
textfont=q8_full
text=Rotate mirror.
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff

// 181:17
[com_17]
type=layer
x=469
y=8
width=32
height=32
hide=yes

