// 2:0
[com_0]
type=graphic
y=-4
width=104
height=104
graphic=tex_brown

// 2:1
[com_1]
type=graphic
x=103
y=-4
width=104
height=104
graphic=tex_brown

// 2:2
[com_2]
type=graphic
x=206
y=-4
width=104
height=104
graphic=tex_brown

// 2:3
[com_3]
type=graphic
x=309
y=-4
width=104
height=104
graphic=tex_brown

// 2:4
[com_4]
type=graphic
x=412
y=-4
width=104
height=104
graphic=tex_brown

// 2:5
[com_5]
type=graphic
y=99
width=104
height=104
graphic=tex_brown

// 2:6
[com_6]
type=graphic
x=103
y=99
width=104
height=104
graphic=tex_brown

// 2:7
[com_7]
type=graphic
x=206
y=99
width=104
height=104
graphic=tex_brown

// 2:8
[com_8]
type=graphic
x=309
y=99
width=104
height=104
graphic=tex_brown

// 2:9
[com_9]
type=graphic
x=412
y=99
width=104
height=104
graphic=tex_brown

// 2:10
[com_10]
type=graphic
y=202
width=104
height=104
graphic=tex_brown

// 2:11
[com_11]
type=graphic
x=103
y=202
width=104
height=104
graphic=tex_brown

// 2:12
[com_12]
type=graphic
x=206
y=202
width=104
height=104
graphic=tex_brown

// 2:13
[com_13]
type=graphic
x=309
y=202
width=104
height=104
graphic=tex_brown

// 2:14
[com_14]
type=graphic
x=412
y=202
width=104
height=104
graphic=tex_brown

// 2:15
[com_15]
type=graphic
y=305
width=104
height=104
graphic=tex_brown

// 2:16
[com_16]
type=graphic
x=103
y=305
width=104
height=104
graphic=tex_brown

// 2:17
[com_17]
type=graphic
x=206
y=305
width=104
height=104
graphic=tex_brown

// 2:18
[com_18]
type=graphic
x=309
y=305
width=104
height=104
graphic=tex_brown

// 2:19
[com_19]
type=graphic
x=412
y=305
width=104
height=104
graphic=tex_brown

// 2:20
[com_20]
type=model
x=27
y=256
width=32
height=32
model=model_13353
modelzoom=400
modelanim=seq_3457

// 2:21
[com_21]
type=model
x=149
y=256
width=32
height=32
model=model_13353
modelzoom=400
modelanim=seq_3457

// 2:22
[com_22]
type=model
x=271
y=256
width=32
height=32
model=model_13353
modelzoom=400
modelanim=seq_3457

// 2:23
[com_23]
type=model
x=394
y=256
width=32
height=32
model=model_13353
modelzoom=400
modelanim=seq_3457

// 2:24
[com_24]
type=model
x=333
y=152
width=32
height=32
model=model_13353
modelzoom=400
modelanim=seq_3458

// 2:25
[com_25]
type=model
x=456
y=152
width=32
height=32
model=model_13353
modelzoom=400
modelanim=seq_3458

// 2:26
[com_26]
type=model
x=89
y=152
width=32
height=32
model=model_13353
modelzoom=400
modelanim=seq_3458

// 2:27
[com_27]
type=model
x=211
y=152
width=32
height=32
model=model_13353
modelzoom=400
modelanim=seq_3458

// 2:28
[com_28]
type=rectangle
x=-50
y=-1
width=61
height=338
trans=160
colour=0x001040
fill=yes

// 2:29
[com_29]
type=rectangle
x=11
y=-1
width=61
height=338
trans=160
colour=0x203080
fill=yes

// 2:30
[com_30]
type=rectangle
x=72
y=-1
width=61
height=338
trans=160
colour=0x001040
fill=yes

// 2:31
[com_31]
type=rectangle
x=133
y=-1
width=61
height=338
trans=160
colour=0x203080
fill=yes

// 2:32
[com_32]
type=rectangle
x=194
y=-1
width=61
height=338
trans=160
colour=0x001040
fill=yes

// 2:33
[com_33]
type=rectangle
x=255
y=-1
width=61
height=338
trans=160
colour=0x203080
fill=yes

// 2:34
[com_34]
type=rectangle
x=316
y=-1
width=61
height=338
trans=160
colour=0x001040
fill=yes

// 2:35
[com_35]
type=rectangle
x=377
y=-1
width=61
height=338
trans=160
colour=0x203080
fill=yes

// 2:36
[com_36]
type=rectangle
x=438
y=-1
width=61
height=338
trans=160
colour=0x001040
fill=yes

// 2:37
[com_37]
type=rectangle
x=499
y=-1
width=61
height=338
trans=160
colour=0x203080
fill=yes

// 2:38
[com_38]
type=rectangle
x=130
y=107
width=267
height=137
trans=128
colour=0x000000
fill=yes

// 2:39
[com_39]
type=graphic
x=125
y=146
width=88
height=60
graphic=tradebacking

// 2:40
[com_40]
type=graphic
x=211
y=146
width=88
height=60
graphic=tradebacking

// 2:41
[com_41]
type=graphic
x=298
y=146
width=88
height=60
graphic=tradebacking

// 2:42
[com_42]
type=graphic
x=297
y=174
width=88
height=60
graphic=tradebacking

// 2:43
[com_43]
type=graphic
x=214
y=174
width=88
height=60
graphic=tradebacking

// 2:44
[com_44]
type=graphic
x=127
y=174
width=88
height=60
graphic=tradebacking

// 2:45
[com_45]
type=graphic
x=299
y=104
width=88
height=60
graphic=tradebacking

// 2:46
[com_46]
type=graphic
x=215
y=104
width=88
height=60
graphic=tradebacking

// 2:47
[com_47]
type=graphic
x=128
y=104
width=88
height=60
graphic=tradebacking

// 2:48
[com_48]
type=inv
x=144
y=120
width=5
height=2
paddingx=16
paddingy=33

// 2:49
[com_49]
type=graphic
x=123
y=100
width=25
height=30
graphic="steelborder,0"

// 2:50
[com_50]
type=graphic
x=147
y=85
width=36
height=36
graphic="steelborder2,0"

// 2:51
[com_51]
type=graphic
x=182
y=85
width=36
height=36
graphic="steelborder2,0"

// 2:52
[com_52]
type=graphic
x=217
y=85
width=36
height=36
graphic="steelborder2,0"

// 2:53
[com_53]
type=graphic
x=252
y=85
width=36
height=36
graphic="steelborder2,0"

// 2:54
[com_54]
type=graphic
x=287
y=85
width=36
height=36
graphic="steelborder2,0"

// 2:55
[com_55]
type=graphic
x=322
y=85
width=36
height=36
graphic="steelborder2,0"

// 2:56
[com_56]
type=graphic
x=341
y=85
width=36
height=36
graphic="steelborder2,0"

// 2:57
[com_57]
type=graphic
x=365
y=100
width=25
height=30
graphic="steelborder,1"

// 2:58
[com_58]
type=graphic
x=369
y=129
width=36
height=36
graphic="steelborder2,1"

// 2:59
[com_59]
type=graphic
x=369
y=164
width=36
height=36
graphic="steelborder2,1"

// 2:60
[com_60]
type=graphic
x=369
y=199
width=36
height=36
graphic="steelborder2,1"

// 2:61
[com_61]
type=graphic
x=365
y=208
width=25
height=30
graphic="steelborder,3"

// 2:62
[com_62]
type=graphic
x=330
y=217
width=36
height=36
graphic="miscgraphics,3"

// 2:63
[com_63]
type=graphic
x=295
y=217
width=36
height=36
graphic="miscgraphics,3"

// 2:64
[com_64]
type=graphic
x=260
y=217
width=36
height=36
graphic="miscgraphics,3"

// 2:65
[com_65]
type=graphic
x=225
y=217
width=36
height=36
graphic="miscgraphics,3"

// 2:66
[com_66]
type=graphic
x=190
y=217
width=36
height=36
graphic="miscgraphics,3"

// 2:67
[com_67]
type=graphic
x=155
y=217
width=36
height=36
graphic="miscgraphics,3"

// 2:68
[com_68]
type=graphic
x=108
y=129
width=36
height=36
graphic="miscgraphics,2"

// 2:69
[com_69]
type=graphic
x=108
y=164
width=36
height=36
graphic="miscgraphics,2"

// 2:70
[com_70]
type=graphic
x=108
y=199
width=36
height=36
graphic="miscgraphics,2"

// 2:71
[com_71]
type=graphic
x=123
y=208
width=25
height=30
graphic="steelborder,2"

// 2:72
[com_72]
type=graphic
x=138
y=217
width=36
height=36
graphic="miscgraphics,3"

// 2:73
[com_73]
type=graphic
x=480
y=6
width=26
height=23
mouseoverlayer=com_75
graphic="close_buttons,4"

// 2:74
[com_74]
type=graphic
x=3
y=3
width=26
height=23
layer=com_75
buttontype=1
graphic="close_buttons,5"

// 2:75
[com_75]
type=layer
x=477
y=3
width=32
height=32
hide=yes

