// 37:0
[com_0]
type=graphic
x=90
y=61
width=88
height=60
graphic=tradebacking

// 37:1
[com_1]
type=graphic
x=91
y=80
width=88
height=60
graphic=tradebacking

// 37:2
[com_2]
type=graphic
x=89
y=140
width=88
height=60
graphic=tradebacking

// 37:3
[com_3]
type=graphic
x=87
y=200
width=88
height=60
graphic=tradebacking

// 37:4
[com_4]
type=graphic
x=90
y=213
width=88
height=60
graphic=tradebacking

// 37:5
[com_5]
type=graphic
x=100
y=63
width=88
height=60
graphic=tradebacking

// 37:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 37:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 37:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 37:9
[com_9]
type=graphic
x=188
y=64
width=88
height=60
graphic=tradebacking

// 37:10
[com_10]
type=graphic
x=102
y=216
width=88
height=60
graphic=tradebacking

// 37:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 37:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 37:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 37:14
[com_14]
type=graphic
x=276
y=60
width=88
height=60
graphic=tradebacking

// 37:15
[com_15]
type=graphic
x=188
y=213
width=88
height=60
graphic=tradebacking

// 37:16
[com_16]
type=graphic
x=326
y=82
width=88
height=60
graphic=tradebacking

// 37:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 37:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 37:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 37:20
[com_20]
type=graphic
x=276
y=213
width=88
height=60
graphic=tradebacking

// 37:21
[com_21]
type=graphic
x=326
y=142
width=88
height=60
graphic=tradebacking

// 37:22
[com_22]
type=graphic
x=325
y=62
width=88
height=60
graphic=tradebacking

// 37:23
[com_23]
type=graphic
x=325
y=200
width=88
height=60
graphic=tradebacking

// 37:24
[com_24]
type=graphic
x=325
y=214
width=88
height=60
graphic=tradebacking

// 37:25
[com_25]
type=graphic
x=85
y=58
width=25
height=30
graphic="steelborder,0"

// 37:26
[com_26]
type=graphic
x=70
y=88
width=36
height=36
graphic="miscgraphics,2"

// 37:27
[com_27]
type=graphic
x=70
y=124
width=36
height=36
graphic="miscgraphics,2"

// 37:28
[com_28]
type=graphic
x=70
y=160
width=36
height=36
graphic="miscgraphics,2"

// 37:29
[com_29]
type=graphic
x=70
y=196
width=36
height=36
graphic="miscgraphics,2"

// 37:30
[com_30]
type=graphic
x=70
y=224
width=36
height=36
graphic="miscgraphics,2"

// 37:31
[com_31]
type=graphic
x=394
y=84
width=36
height=36
graphic="steelborder2,1"

// 37:32
[com_32]
type=graphic
x=394
y=106
width=36
height=36
graphic="steelborder2,1"

// 37:33
[com_33]
type=graphic
x=394
y=140
width=36
height=36
graphic="steelborder2,1"

// 37:34
[com_34]
type=graphic
x=394
y=176
width=36
height=36
graphic="steelborder2,1"

// 37:35
[com_35]
type=graphic
x=394
y=212
width=36
height=36
graphic="steelborder2,1"

// 37:36
[com_36]
type=graphic
x=110
y=257
width=36
height=36
graphic="miscgraphics,3"

// 37:37
[com_37]
type=graphic
x=146
y=257
width=36
height=36
graphic="miscgraphics,3"

// 37:38
[com_38]
type=graphic
x=182
y=257
width=36
height=36
graphic="miscgraphics,3"

// 37:39
[com_39]
type=graphic
x=218
y=257
width=36
height=36
graphic="miscgraphics,3"

// 37:40
[com_40]
type=graphic
x=254
y=257
width=36
height=36
graphic="miscgraphics,3"

// 37:41
[com_41]
type=graphic
x=290
y=257
width=36
height=36
graphic="miscgraphics,3"

// 37:42
[com_42]
type=graphic
x=326
y=257
width=36
height=36
graphic="miscgraphics,3"

// 37:43
[com_43]
type=graphic
x=362
y=257
width=36
height=36
graphic="miscgraphics,3"

// 37:44
[com_44]
type=graphic
x=218
y=43
width=36
height=36
graphic="steelborder2,0"

// 37:45
[com_45]
type=graphic
x=254
y=43
width=36
height=36
graphic="steelborder2,0"

// 37:46
[com_46]
type=graphic
x=289
y=43
width=36
height=36
graphic="steelborder2,0"

// 37:47
[com_47]
type=graphic
x=325
y=43
width=36
height=36
graphic="steelborder2,0"

// 37:48
[com_48]
type=graphic
x=357
y=43
width=36
height=36
graphic="steelborder2,0"

// 37:49
[com_49]
type=graphic
x=264
y=69
width=36
height=36
graphic="steelborder2,0"

// 37:50
[com_50]
type=graphic
x=182
y=43
width=36
height=36
graphic="steelborder2,0"

// 37:51
[com_51]
type=graphic
x=85
y=248
width=25
height=30
graphic="steelborder,2"

// 37:52
[com_52]
type=graphic
x=390
y=58
width=25
height=30
graphic="steelborder,1"

// 37:53
[com_53]
type=graphic
x=390
y=248
width=25
height=30
graphic="steelborder,3"

// 37:54
[com_54]
type=graphic
x=300
y=69
width=36
height=36
graphic="steelborder2,0"

// 37:55
[com_55]
type=graphic
x=336
y=69
width=36
height=36
graphic="steelborder2,0"

// 37:56
[com_56]
type=graphic
x=372
y=69
width=36
height=36
graphic="steelborder2,0"

// 37:57
[com_57]
type=graphic
x=377
y=69
width=36
height=36
graphic="steelborder2,0"

// 37:58
[com_58]
type=graphic
x=228
y=69
width=36
height=36
graphic="steelborder2,0"

// 37:59
[com_59]
type=graphic
x=192
y=69
width=36
height=36
graphic="steelborder2,0"

// 37:60
[com_60]
type=graphic
x=156
y=69
width=36
height=36
graphic="steelborder2,0"

// 37:61
[com_61]
type=graphic
x=89
y=69
width=36
height=36
graphic="steelborder2,0"

// 37:62
[com_62]
type=graphic
x=123
y=69
width=36
height=36
graphic="steelborder2,0"

// 37:63
[com_63]
type=graphic
x=110
y=43
width=36
height=36
graphic="steelborder2,0"

// 37:64
[com_64]
type=graphic
x=146
y=43
width=36
height=36
graphic="steelborder2,0"

// 37:65
[com_65]
type=layer
x=308
y=197
width=78
height=42

// 37:66
[com_66]
type=text
x=97
y=65
width=309
height=18
textfont=b12_full
text=Runelink: Options
textshadow=yes
colour=0xffaa44

// 37:67
[com_67]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_65
buttontype=1
colour=0x000000
fill=yes
buttontext=Challenge player

// 37:68
[com_68]
type=text
x=5
y=6
width=68
height=32
layer=com_65
textfont=p12_full
text=Challenge
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x008000
mouseovercolour=0x00ff00

// 37:69
[com_69]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_65
graphic="steelborder2,0"

// 37:70
[com_70]
type=graphic
width=25
height=30
layer=com_65
graphic="steelborder,0"

// 37:71
[com_71]
type=graphic
x=53
width=25
height=30
layer=com_65
graphic="steelborder,1"

// 37:72
[com_72]
type=graphic
y=13
width=25
height=30
layer=com_65
graphic="steelborder,2"

// 37:73
[com_73]
type=graphic
x=53
y=13
width=25
height=30
layer=com_65
graphic="steelborder,3"

// 37:74
[com_74]
type=graphic
x=21
y=22
width=36
height=36
layer=com_65
graphic="miscgraphics,3"

// 37:75
[com_75]
type=text
x=32
y=40
width=80
height=14
layer=com_77
buttontype=5
textfont=p12_full
text=30 seconds
textshadow=yes
colour=0xaa8822
buttontext=Select option

// 37:76
[com_76]
type=graphic
x=10
y=40
width=14
height=15
layer=com_77
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select option
script=varplayerbit_49 = 1

// 37:77
[com_77]
type=layer
x=296
y=94
width=114
height=97

// 37:78
[com_78]
type=graphic
x=10
y=60
width=14
height=15
layer=com_77
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select option
script=varplayerbit_49 = 2

// 37:79
[com_79]
type=graphic
x=10
y=80
width=14
height=15
layer=com_77
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select option
script=varplayerbit_49 = 3

// 37:80
[com_80]
type=graphic
x=10
y=20
width=14
height=15
layer=com_77
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select option
script=varplayerbit_49 = 0

// 37:81
[com_81]
type=text
x=32
y=60
width=80
height=14
layer=com_77
buttontype=5
textfont=p12_full
text=1 minute
textshadow=yes
colour=0xaa8822
buttontext=Select option

// 37:82
[com_82]
type=text
x=32
y=80
width=80
height=17
layer=com_77
buttontype=5
textfont=p12_full
text=2 minutes
textshadow=yes
colour=0xaa8822
buttontext=Select option

// 37:83
[com_83]
type=text
x=32
y=20
width=80
height=14
layer=com_77
buttontype=5
textfont=p12_full
text=15 seconds
textshadow=yes
colour=0xaa8822
buttontext=Select option

// 37:84
[com_84]
type=text
x=11
y=1
width=105
height=15
layer=com_77
textfont=p12_full
text=Time per move:
textshadow=yes
colour=0xaa8822

// 37:85
[com_85]
type=layer
x=97
y=89
width=191
height=179

// 37:86
[com_86]
type=graphic
x=10
y=34
width=14
height=15
layer=com_85
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select piece
script=varplayerbit_50 = 1

// 37:87
[com_87]
type=model
x=29
y=25
width=34
height=32
layer=com_85
buttontype=5
model=model_2399
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

// 37:88
[com_88]
type=text
x=10
y=3
width=179
height=15
layer=com_85
textfont=p12_full
text=Choose piece:
textshadow=yes
colour=0xaa8822

// 37:89
[com_89]
type=model
x=29
y=65
width=34
height=32
layer=com_85
buttontype=5
model=model_2652
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

// 37:90
[com_90]
type=model
x=29
y=105
width=34
height=32
layer=com_85
buttontype=5
model=model_2737
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

// 37:91
[com_91]
type=model
x=29
y=145
width=34
height=32
layer=com_85
buttontype=5
model=model_2405
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

// 37:92
[com_92]
type=model
x=92
y=25
width=34
height=32
layer=com_85
buttontype=5
model=model_2481
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

// 37:93
[com_93]
type=model
x=92
y=65
width=34
height=32
layer=com_85
buttontype=5
model=model_2340
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

// 37:94
[com_94]
type=model
x=92
y=105
width=34
height=32
layer=com_85
buttontype=5
model=model_2734
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

// 37:95
[com_95]
type=model
x=92
y=145
width=34
height=32
layer=com_85
buttontype=5
model=model_2707
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

// 37:96
[com_96]
type=model
x=155
y=24
width=34
height=32
layer=com_85
buttontype=5
model=model_2382
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

// 37:97
[com_97]
type=model
x=155
y=65
width=34
height=31
layer=com_85
buttontype=5
model=model_2735
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

// 37:98
[com_98]
type=model
x=155
y=105
width=34
height=32
layer=com_85
buttontype=5
model=model_2665
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

// 37:99
[com_99]
type=model
x=155
y=145
width=34
height=32
layer=com_85
buttontype=5
model=model_2434
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

// 37:100
[com_100]
type=graphic
x=10
y=74
width=14
height=15
layer=com_85
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select piece
script=varplayerbit_50 = 2

// 37:101
[com_101]
type=graphic
x=10
y=114
width=14
height=15
layer=com_85
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select piece
script=varplayerbit_50 = 3

// 37:102
[com_102]
type=graphic
x=10
y=154
width=14
height=15
layer=com_85
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select piece
script=varplayerbit_50 = 4

// 37:103
[com_103]
type=graphic
x=73
y=34
width=14
height=15
layer=com_85
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select piece
script=varplayerbit_50 = 5

// 37:104
[com_104]
type=graphic
x=73
y=74
width=14
height=15
layer=com_85
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select piece
script=varplayerbit_50 = 6

// 37:105
[com_105]
type=graphic
x=73
y=114
width=14
height=15
layer=com_85
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select piece
script=varplayerbit_50 = 7

// 37:106
[com_106]
type=graphic
x=73
y=154
width=14
height=15
layer=com_85
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select piece
script=varplayerbit_50 = 8

// 37:107
[com_107]
type=graphic
x=136
y=34
width=14
height=15
layer=com_85
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select piece
script=varplayerbit_50 = 9

// 37:108
[com_108]
type=graphic
x=136
y=74
width=14
height=15
layer=com_85
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select piece
script=varplayerbit_50 = 10

// 37:109
[com_109]
type=graphic
x=136
y=114
width=15
height=15
layer=com_85
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select piece
script=varplayerbit_50 = 11

// 37:110
[com_110]
type=graphic
x=136
y=154
width=14
height=15
layer=com_85
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select piece
script=varplayerbit_50 = 12

// 37:111
[com_111]
type=text
x=329
y=248
width=80
height=14
buttontype=1
textfont=p12_full
text=Ranked
textshadow=yes
colour=0xaa8822
buttontext=Select option

// 37:112
[com_112]
type=graphic
x=307
y=248
width=14
height=15
buttontype=4
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select option
script=varplayerbit_68 = 1

// 37:113
[com_113]
type=graphic
x=388
y=62
width=26
height=23
mouseoverlayer=com_115
graphic="close_buttons,0"

// 37:114
[com_114]
type=graphic
x=4
y=4
width=26
height=23
layer=com_115
buttontype=3
graphic="close_buttons,1"

// 37:115
[com_115]
type=layer
x=384
y=58
width=32
height=32
hide=yes

