// 501:0
[com_0]
type=model
x=232
y=144
width=32
height=32
model=model_15711
modelangle=507,2047,0
modelzoom=272

// 501:1
[com_1]
type=model
x=221
y=133
width=32
height=32
model=model_21518
modelangle=339,2044,0
modelzoom=400

// 501:2
[com_2]
type=model
x=36
y=54
width=32
height=32
layer=com_7
model=model_11135
modelangle=168,2014,0
modelzoom=528

// 501:3
[com_3]
type=model
x=116
y=40
width=32
height=32
layer=com_7
model=model_21516
modelangle=237,1777,0
modelzoom=576

// 501:4
[com_4]
type=model
x=186
y=41
width=32
height=32
layer=com_7
model=model_11133
modelangle=234,1582,0
modelzoom=400

// 501:5
[com_5]
type=model
x=272
y=52
width=32
height=32
layer=com_7
model=model_11132
modelangle=222,1546,0
modelzoom=400

// 501:6
[com_6]
type=model
x=365
y=62
width=32
height=32
layer=com_7
model=model_11131
modelangle=264,1933,0
modelzoom=400

// 501:7
[com_7]
type=layer
x=30
y=189
width=425
height=110

// 501:8
[com_8]
type=text
x=53
y=219
width=65
height=50
mouseoverlayer=com_13
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 501:9
[com_9]
type=text
x=136
y=215
width=53
height=56
mouseoverlayer=com_16
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 501:10
[com_10]
type=text
x=211
y=223
width=47
height=47
mouseoverlayer=com_19
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 501:11
[com_11]
type=text
x=288
y=214
width=61
height=59
mouseoverlayer=com_22
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 501:12
[com_12]
type=text
x=387
y=226
width=50
height=45
mouseoverlayer=com_25
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 501:13
[com_13]
type=layer
x=25
y=104
width=149
height=52
hide=yes

// 501:14
[com_14]
type=model
x=57
y=4
width=32
height=32
layer=com_13
model=model_10119
modelangle=492,0,0
modelzoom=1040

// 501:15
[com_15]
type=text
x=52
y=5
width=32
height=32
layer=com_13
textfont=q8_full
text=Cannon barrel
textalignh=centre
textalignv=centre
colour=0x000000

// 501:16
[com_16]
type=layer
x=89
y=43
width=148
height=48
hide=yes

// 501:17
[com_17]
type=model
x=57
y=2
width=32
height=32
layer=com_16
model=model_10119
modelangle=492,0,0
modelzoom=1040

// 501:18
[com_18]
type=text
x=56
y=1
width=32
height=32
layer=com_16
textfont=q8_full
text=Fuse
textalignh=centre
textalignv=centre
colour=0x000000

// 501:19
[com_19]
type=layer
x=158
y=133
width=150
height=47
hide=yes

// 501:20
[com_20]
type=model
x=59
y=3
width=32
height=32
layer=com_19
model=model_10119
modelangle=492,0,0
modelzoom=1040

// 501:21
[com_21]
type=text
x=57
y=5
width=32
height=32
layer=com_19
textfont=q8_full
text=Ramrod
textalignh=centre
textalignv=centre
colour=0x000000

// 501:22
[com_22]
type=layer
x=244
y=80
width=150
height=49
hide=yes

// 501:23
[com_23]
type=model
x=58
y=5
width=32
height=32
layer=com_22
model=model_10119
modelangle=492,0,0
modelzoom=1040

// 501:24
[com_24]
type=text
x=57
y=5
width=32
height=32
layer=com_22
textfont=q8_full
text=Cannonball
textalignh=centre
textalignv=centre
colour=0x000000

// 501:25
[com_25]
type=layer
x=347
y=124
width=150
height=51
hide=yes

// 501:26
[com_26]
type=model
x=57
y=7
width=32
height=32
layer=com_25
model=model_10119
modelangle=492,0,0
modelzoom=1040

// 501:27
[com_27]
type=text
x=56
y=5
width=32
height=32
layer=com_25
textfont=q8_full
text=Cannon cannister
textalignh=centre
textalignv=centre
colour=0x000000

// 501:28
[com_28]
type=graphic
x=462
y=18
width=26
height=23
mouseoverlayer=com_30
graphic="close_buttons,4"

// 501:29
[com_29]
type=graphic
x=3
y=5
width=26
height=23
layer=com_30
buttontype=3
graphic="close_buttons,5"

// 501:30
[com_30]
type=layer
x=459
y=13
width=32
height=32
mouseoverlayer=com_30
hide=yes

