// 16:0
[com_0]
type=model
x=369
y=424
width=32
height=32
model=model_9630
modelangle=512,0,0
modelzoom=692

// 16:1
[com_1]
type=model
x=37
y=413
width=32
height=32
model=model_9628
modelangle=352,139,0
modelzoom=645
modelanim=seq_2715

// 16:2
[com_2]
type=text
x=190
y=431
width=400
height=40
textfont=q8_full
textalignh=centre
textalignv=centre
colour=0x000000

// 16:3
[com_3]
type=model
x=106
y=423
width=32
height=32
model=model_9628
modelangle=154,1509,0
modelzoom=808
modelanim=seq_2715

// 16:4
[com_4]
type=model
x=72
y=455
width=32
height=32
model=model_9628
modelangle=152,1905,0
modelzoom=1143
modelanim=seq_2715

// 16:5
[com_5]
type=model
x=648
y=451
width=32
height=32
model=model_9628
modelangle=1931,90,0
modelzoom=752
modelanim=seq_2715

// 16:6
[com_6]
type=model
x=694
y=444
width=32
height=32
model=model_9629
modelangle=136,64,0
modelzoom=1118
modelanim=seq_2716

// 16:7
[com_7]
type=text
x=190
y=408
width=400
height=19
textfont=p12_full
text=Message of the week
textalignh=centre
colour=0x800000

