// 44:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 44:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 44:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 44:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 44:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 44:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 44:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 44:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 44:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 44:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 44:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 44:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 44:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 44:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 44:14
[com_14]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 44:15
[com_15]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 44:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 44:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 44:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 44:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 44:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 44:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 44:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 44:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 44:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 44:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 44:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 44:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 44:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 44:29
[com_29]
type=graphic
x=409
y=258
width=88
height=60
graphic=tradebacking

// 44:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 44:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 44:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 44:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 44:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 44:35
[com_35]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 44:36
[com_36]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 44:37
[com_37]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 44:38
[com_38]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 44:39
[com_39]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 44:40
[com_40]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 44:41
[com_41]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 44:42
[com_42]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 44:43
[com_43]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 44:44
[com_44]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 44:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 44:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 44:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 44:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 44:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 44:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 44:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 44:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 44:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 44:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 44:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 44:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 44:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 44:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 44:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 44:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 44:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 44:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 44:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 44:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 44:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 44:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 44:67
[com_67]
type=text
x=43
y=58
width=140
height=25
textfont=p12_full
text=Insert a very long name here!
textshadow=yes
colour=0xffaa44

// 44:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 44:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 44:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 44:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 44:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 44:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 44:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 44:75
[com_75]
type=text
x=100
y=75
width=14
height=14
textfont=p12_full
text=vs
textshadow=yes
colour=0xaaaaaa

// 44:76
[com_76]
type=text
x=43
y=89
width=140
height=25
textfont=p12_full
text=Insert a very long name here!
textshadow=yes
colour=0xffaa44

// 44:77
[com_77]
type=graphic
x=183
y=26
width=36
height=36
graphic="miscgraphics,2"

// 44:78
[com_78]
type=graphic
x=183
y=62
width=36
height=36
graphic="miscgraphics,2"

// 44:79
[com_79]
type=graphic
x=183
y=98
width=36
height=36
graphic="miscgraphics,2"

// 44:80
[com_80]
type=graphic
x=183
y=134
width=36
height=36
graphic="miscgraphics,2"

// 44:81
[com_81]
type=graphic
x=183
y=170
width=36
height=36
graphic="miscgraphics,2"

// 44:82
[com_82]
type=graphic
x=162
y=34
width=36
height=36
graphic="steelborder2,0"

// 44:83
[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 44:84
[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 44:85
[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 44:86
[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 44:87
[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 44:88
[com_88]
type=text
x=38
y=127
width=44
height=31
textfont=p12_full
text=Turn:
textalignh=right
textshadow=yes
colour=0xffaa44

// 44:89
[com_89]
type=model
x=157
y=287
width=32
height=32
model=model_4612
modelzoom=2048

// 44:90
[com_90]
type=layer
x=23
y=237
width=122
height=37

// 44:91
[com_91]
type=layer
x=22
y=197
width=123
height=38

// 44:92
[com_92]
type=text
x=21
y=29
width=176
height=17
textfont=b12_full
text=Runeversi
textshadow=yes
colour=0xffaa44

// 44:93
[com_93]
type=rectangle
x=6
y=6
width=112
height=24
layer=com_90
buttontype=3
colour=0x000000
fill=yes

// 44:94
[com_94]
type=text
x=25
y=2
width=66
height=30
layer=com_90
textfont=p12_full
text=Resign
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

// 44:95
[com_95]
type=rectangle
x=6
y=6
width=111
height=29
layer=com_91
buttontype=1
colour=0x000000
fill=yes
buttontext=Offer your opponent a draw

// 44:96
[com_96]
type=text
x=7
y=3
width=110
height=30
layer=com_91
textfont=p12_full
text=Offer draw
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x888800
mouseovercolour=0xffff00

// 44:97
[com_97]
type=graphic
x=60
y=-15
width=36
height=36
layer=com_90
graphic="steelborder2,0"

// 44:98
[com_98]
type=graphic
x=62
y=16
width=36
height=36
layer=com_91
graphic="miscgraphics,3"

// 44:99
[com_99]
type=graphic
x=25
y=-14
width=36
height=36
layer=com_91
graphic="steelborder2,0"

// 44:100
[com_100]
type=text
x=85
y=127
width=111
height=31
textfont=p12_full
text=A very long name
textshadow=yes
colour=0xaaaaaa

// 44:101
[com_101]
type=model
x=221
y=40
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:102
[com_102]
type=model
x=285
y=40
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:103
[com_103]
type=model
x=349
y=40
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:104
[com_104]
type=model
x=413
y=40
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:105
[com_105]
type=model
x=253
y=72
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:106
[com_106]
type=model
x=317
y=72
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:107
[com_107]
type=model
x=381
y=72
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:108
[com_108]
type=model
x=445
y=73
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:109
[com_109]
type=model
x=222
y=104
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:110
[com_110]
type=model
x=285
y=104
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:111
[com_111]
type=model
x=349
y=105
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:112
[com_112]
type=model
x=412
y=105
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:113
[com_113]
type=model
x=252
y=137
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:114
[com_114]
type=model
x=317
y=136
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:115
[com_115]
type=model
x=380
y=137
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:116
[com_116]
type=model
x=444
y=137
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:117
[com_117]
type=model
x=222
y=168
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:118
[com_118]
type=model
x=284
y=168
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:119
[com_119]
type=model
x=349
y=168
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:120
[com_120]
type=model
x=413
y=168
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:121
[com_121]
type=model
x=252
y=201
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:122
[com_122]
type=model
x=316
y=200
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:123
[com_123]
type=model
x=381
y=200
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:124
[com_124]
type=model
x=444
y=200
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:125
[com_125]
type=model
x=221
y=232
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:126
[com_126]
type=model
x=284
y=232
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:127
[com_127]
type=model
x=348
y=232
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:128
[com_128]
type=model
x=413
y=232
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:129
[com_129]
type=model
x=253
y=264
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:130
[com_130]
type=model
x=317
y=264
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:131
[com_131]
type=model
x=380
y=265
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:132
[com_132]
type=model
x=319
y=201
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:133
[com_133]
type=model
x=444
y=264
width=32
height=32
model=model_11103
modelangle=512,0,0
modelzoom=2000

// 44:134
[com_134]
type=graphic
width=25
height=30
layer=com_90
graphic="steelborder,0"

// 44:135
[com_135]
type=graphic
x=1
y=1
width=25
height=30
layer=com_91
graphic="steelborder,0"

// 44:136
[com_136]
type=graphic
x=96
width=25
height=30
layer=com_90
graphic="steelborder,1"

// 44:137
[com_137]
type=graphic
x=97
y=1
width=25
height=30
layer=com_91
graphic="steelborder,1"

// 44:138
[com_138]
type=graphic
x=1
y=7
width=25
height=30
layer=com_91
graphic="steelborder,2"

// 44:139
[com_139]
type=graphic
x=96
y=5
width=25
height=30
layer=com_90
graphic="steelborder,3"

// 44:140
[com_140]
type=graphic
x=25
y=14
width=36
height=36
layer=com_90
graphic="miscgraphics,3"

// 44:141
[com_141]
type=graphic
x=97
y=7
width=25
height=30
layer=com_91
graphic="steelborder,3"

// 44:142
[com_142]
type=text
x=23
y=185
width=169
height=11
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

// 44:143
[com_143]
type=graphic
x=183
y=206
width=36
height=36
graphic="miscgraphics,2"

// 44:144
[com_144]
type=graphic
x=26
y=16
width=36
height=36
layer=com_91
graphic="miscgraphics,3"

// 44:145
[com_145]
type=graphic
x=183
y=242
width=36
height=36
graphic="miscgraphics,2"

// 44:146
[com_146]
type=graphic
x=61
y=-14
width=36
height=36
layer=com_91
graphic="steelborder2,0"

// 44:147
[com_147]
type=graphic
x=183
y=278
width=36
height=36
graphic="miscgraphics,2"

// 44:148
[com_148]
type=text
x=23
y=160
width=169
height=11
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

// 44:149
[com_149]
type=text
x=27
y=157
width=160
height=14
textfont=b12_full
text=Blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

// 44:150
[com_150]
type=layer
x=26
y=265
width=78
height=42
hide=yes

// 44:151
[com_151]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_150
buttontype=3
colour=0x000000
fill=yes

// 44:152
[com_152]
type=text
x=23
y=15
width=31
height=14
layer=com_150
textfont=p12_full
text=Close
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

// 44:153
[com_153]
type=graphic
x=24
y=-15
width=36
height=36
layer=com_90
graphic="steelborder2,0"

// 44:154
[com_154]
type=graphic
width=25
height=30
layer=com_150
graphic="steelborder,0"

// 44:155
[com_155]
type=graphic
x=53
width=25
height=30
layer=com_150
graphic="steelborder,1"

// 44:156
[com_156]
type=graphic
y=5
width=25
height=30
layer=com_90
graphic="steelborder,2"

// 44:157
[com_157]
type=graphic
x=53
y=12
width=25
height=30
layer=com_150
graphic="steelborder,3"

// 44:158
[com_158]
type=graphic
x=61
y=14
width=36
height=36
layer=com_90
graphic="miscgraphics,3"

// 44:159
[com_159]
type=model
x=20
y=57
width=20
height=20
model=model_2399
modelangle=512,1024,0
modelzoom=1024

// 44:160
[com_160]
type=model
x=20
y=87
width=20
height=20
model=model_2652
modelangle=512,1024,0
modelzoom=1024

// 44:161
[com_161]
type=inv
x=221
y=40
width=8
height=8

// 44:162
[com_162]
type=rectangle
x=221
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 44:163
[com_163]
type=rectangle
x=253
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 44:164
[com_164]
type=rectangle
x=285
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 44:165
[com_165]
type=rectangle
x=317
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 44:166
[com_166]
type=rectangle
x=349
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 44:167
[com_167]
type=rectangle
x=381
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 44:168
[com_168]
type=rectangle
x=413
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 44:169
[com_169]
type=rectangle
x=445
y=40
width=32
height=32
buttontype=1
colour=0xffffff

// 44:170
[com_170]
type=rectangle
x=221
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 44:171
[com_171]
type=rectangle
x=253
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 44:172
[com_172]
type=rectangle
x=285
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 44:173
[com_173]
type=rectangle
x=317
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 44:174
[com_174]
type=rectangle
x=349
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 44:175
[com_175]
type=rectangle
x=381
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 44:176
[com_176]
type=rectangle
x=413
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 44:177
[com_177]
type=rectangle
x=445
y=72
width=32
height=32
buttontype=1
colour=0xffffff

// 44:178
[com_178]
type=rectangle
x=221
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 44:179
[com_179]
type=rectangle
x=253
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 44:180
[com_180]
type=rectangle
x=285
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 44:181
[com_181]
type=rectangle
x=317
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 44:182
[com_182]
type=rectangle
x=349
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 44:183
[com_183]
type=rectangle
x=381
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 44:184
[com_184]
type=rectangle
x=413
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 44:185
[com_185]
type=rectangle
x=445
y=104
width=32
height=32
buttontype=1
colour=0xffffff

// 44:186
[com_186]
type=rectangle
x=221
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 44:187
[com_187]
type=rectangle
x=253
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 44:188
[com_188]
type=rectangle
x=285
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 44:189
[com_189]
type=rectangle
x=317
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 44:190
[com_190]
type=rectangle
x=349
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 44:191
[com_191]
type=rectangle
x=381
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 44:192
[com_192]
type=rectangle
x=413
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 44:193
[com_193]
type=rectangle
x=445
y=136
width=32
height=32
buttontype=1
colour=0xffffff

// 44:194
[com_194]
type=rectangle
x=221
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 44:195
[com_195]
type=rectangle
x=253
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 44:196
[com_196]
type=rectangle
x=285
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 44:197
[com_197]
type=rectangle
x=317
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 44:198
[com_198]
type=rectangle
x=349
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 44:199
[com_199]
type=rectangle
x=381
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 44:200
[com_200]
type=rectangle
x=413
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 44:201
[com_201]
type=rectangle
x=445
y=168
width=32
height=32
buttontype=1
colour=0xffffff

// 44:202
[com_202]
type=rectangle
x=221
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 44:203
[com_203]
type=rectangle
x=253
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 44:204
[com_204]
type=rectangle
x=285
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 44:205
[com_205]
type=rectangle
x=317
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 44:206
[com_206]
type=rectangle
x=349
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 44:207
[com_207]
type=rectangle
x=381
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 44:208
[com_208]
type=rectangle
x=413
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 44:209
[com_209]
type=rectangle
x=445
y=200
width=32
height=32
buttontype=1
colour=0xffffff

// 44:210
[com_210]
type=rectangle
x=221
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 44:211
[com_211]
type=rectangle
x=253
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 44:212
[com_212]
type=rectangle
x=285
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 44:213
[com_213]
type=rectangle
x=317
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 44:214
[com_214]
type=rectangle
x=349
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 44:215
[com_215]
type=rectangle
x=381
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 44:216
[com_216]
type=rectangle
x=413
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 44:217
[com_217]
type=rectangle
x=445
y=232
width=32
height=32
buttontype=1
colour=0xffffff

// 44:218
[com_218]
type=rectangle
x=221
y=264
width=32
height=32
buttontype=1
colour=0xffffff

// 44:219
[com_219]
type=rectangle
x=253
y=264
width=32
height=32
buttontype=1
colour=0xffffff

// 44:220
[com_220]
type=rectangle
x=285
y=264
width=32
height=32
buttontype=1
colour=0xffffff

// 44:221
[com_221]
type=rectangle
x=317
y=264
width=32
height=32
buttontype=1
colour=0xffffff

// 44:222
[com_222]
type=rectangle
x=349
y=264
width=32
height=32
buttontype=1
colour=0xffffff

// 44:223
[com_223]
type=rectangle
x=381
y=264
width=32
height=32
buttontype=1
colour=0xffffff

// 44:224
[com_224]
type=rectangle
x=413
y=264
width=32
height=32
buttontype=1
colour=0xffffff

// 44:225
[com_225]
type=rectangle
x=445
y=264
width=32
height=32
buttontype=1
colour=0xffffff

