// 478:0
[com_0]
type=graphic
x=88
y=20
width=88
height=60
graphic=tradebacking

// 478:1
[com_1]
type=graphic
x=88
y=80
width=88
height=60
graphic=tradebacking

// 478:2
[com_2]
type=graphic
x=88
y=140
width=88
height=60
graphic=tradebacking

// 478:3
[com_3]
type=graphic
x=88
y=200
width=88
height=60
graphic=tradebacking

// 478:4
[com_4]
type=graphic
x=176
y=20
width=88
height=60
graphic=tradebacking

// 478:5
[com_5]
type=graphic
x=176
y=80
width=88
height=60
graphic=tradebacking

// 478:6
[com_6]
type=graphic
x=176
y=140
width=88
height=60
graphic=tradebacking

// 478:7
[com_7]
type=graphic
x=176
y=200
width=88
height=60
graphic=tradebacking

// 478:8
[com_8]
type=graphic
x=264
y=20
width=88
height=60
graphic=tradebacking

// 478:9
[com_9]
type=graphic
x=352
y=80
width=88
height=60
graphic=tradebacking

// 478:10
[com_10]
type=graphic
x=264
y=80
width=88
height=60
graphic=tradebacking

// 478:11
[com_11]
type=graphic
x=264
y=140
width=88
height=60
graphic=tradebacking

// 478:12
[com_12]
type=graphic
x=264
y=200
width=88
height=60
graphic=tradebacking

// 478:13
[com_13]
type=graphic
x=352
y=140
width=88
height=60
graphic=tradebacking

// 478:14
[com_14]
type=graphic
x=352
y=20
width=88
height=60
graphic=tradebacking

// 478:15
[com_15]
type=graphic
x=352
y=200
width=88
height=60
graphic=tradebacking

// 478:16
[com_16]
type=graphic
x=67
y=50
width=36
height=36
graphic="miscgraphics,2"

// 478:17
[com_17]
type=graphic
x=82
y=20
width=25
height=30
graphic="steelborder,0"

// 478:18
[com_18]
type=graphic
x=67
y=86
width=36
height=36
graphic="miscgraphics,2"

// 478:19
[com_19]
type=graphic
x=67
y=122
width=36
height=36
graphic="miscgraphics,2"

// 478:20
[com_20]
type=graphic
x=67
y=158
width=36
height=36
graphic="miscgraphics,2"

// 478:21
[com_21]
type=graphic
x=67
y=194
width=36
height=36
graphic="miscgraphics,2"

// 478:22
[com_22]
type=graphic
x=67
y=212
width=36
height=36
graphic="miscgraphics,2"

// 478:23
[com_23]
type=graphic
x=425
y=50
width=36
height=36
graphic="steelborder2,1"

// 478:24
[com_24]
type=graphic
x=425
y=86
width=36
height=36
graphic="steelborder2,1"

// 478:25
[com_25]
type=graphic
x=425
y=122
width=36
height=36
graphic="steelborder2,1"

// 478:26
[com_26]
type=graphic
x=425
y=158
width=36
height=36
graphic="steelborder2,1"

// 478:27
[com_27]
type=graphic
x=425
y=194
width=36
height=36
graphic="steelborder2,1"

// 478:28
[com_28]
type=graphic
x=425
y=218
width=36
height=36
graphic="steelborder2,1"

// 478:29
[com_29]
type=graphic
x=107
y=245
width=36
height=36
graphic="miscgraphics,3"

// 478:30
[com_30]
type=graphic
x=143
y=245
width=36
height=36
graphic="miscgraphics,3"

// 478:31
[com_31]
type=graphic
x=179
y=245
width=36
height=36
graphic="miscgraphics,3"

// 478:32
[com_32]
type=graphic
x=215
y=245
width=36
height=36
graphic="miscgraphics,3"

// 478:33
[com_33]
type=graphic
x=251
y=245
width=36
height=36
graphic="miscgraphics,3"

// 478:34
[com_34]
type=graphic
x=287
y=245
width=36
height=36
graphic="miscgraphics,3"

// 478:35
[com_35]
type=graphic
x=323
y=245
width=36
height=36
graphic="miscgraphics,3"

// 478:36
[com_36]
type=graphic
x=359
y=245
width=36
height=36
graphic="miscgraphics,3"

// 478:37
[com_37]
type=graphic
x=388
y=245
width=36
height=36
graphic="miscgraphics,3"

// 478:38
[com_38]
type=graphic
x=107
y=5
width=36
height=36
graphic="steelborder2,0"

// 478:39
[com_39]
type=graphic
x=143
y=5
width=36
height=36
graphic="steelborder2,0"

// 478:40
[com_40]
type=graphic
x=179
y=5
width=36
height=36
graphic="steelborder2,0"

// 478:41
[com_41]
type=graphic
x=215
y=5
width=36
height=36
graphic="steelborder2,0"

// 478:42
[com_42]
type=graphic
x=251
y=5
width=36
height=36
graphic="steelborder2,0"

// 478:43
[com_43]
type=graphic
x=287
y=5
width=36
height=36
graphic="steelborder2,0"

// 478:44
[com_44]
type=graphic
x=323
y=5
width=36
height=36
graphic="steelborder2,0"

// 478:45
[com_45]
type=graphic
x=359
y=5
width=36
height=36
graphic="steelborder2,0"

// 478:46
[com_46]
type=graphic
x=395
y=5
width=36
height=36
graphic="steelborder2,0"

// 478:47
[com_47]
type=graphic
x=262
y=34
width=36
height=36
graphic="steelborder2,0"

// 478:48
[com_48]
type=graphic
x=82
y=236
width=25
height=30
graphic="steelborder,2"

// 478:49
[com_49]
type=graphic
x=421
y=20
width=25
height=30
graphic="steelborder,1"

// 478:50
[com_50]
type=graphic
x=421
y=236
width=25
height=30
graphic="steelborder,3"

// 478:51
[com_51]
type=graphic
x=298
y=34
width=36
height=36
graphic="steelborder2,0"

// 478:52
[com_52]
type=graphic
x=334
y=34
width=36
height=36
graphic="steelborder2,0"

// 478:53
[com_53]
type=graphic
x=370
y=34
width=36
height=36
graphic="steelborder2,0"

// 478:54
[com_54]
type=graphic
x=405
y=34
width=36
height=36
graphic="steelborder2,0"

// 478:55
[com_55]
type=graphic
x=226
y=34
width=36
height=36
graphic="steelborder2,0"

// 478:56
[com_56]
type=graphic
x=190
y=34
width=36
height=36
graphic="steelborder2,0"

// 478:57
[com_57]
type=graphic
x=154
y=34
width=36
height=36
graphic="steelborder2,0"

// 478:58
[com_58]
type=graphic
x=118
y=34
width=36
height=36
graphic="steelborder2,0"

// 478:59
[com_59]
type=graphic
x=87
y=34
width=36
height=36
graphic="steelborder2,0"

// 478:60
[com_60]
type=text
x=93
y=30
width=344
height=16
textfont=b12_full
text=Imp Release Negotiation Form
textalignh=centre
textshadow=yes
colour=0xff981f

// 478:61
[com_61]
type=inv
x=127
y=71
width=7
height=4
draggable=yes
paddingx=8
paddingy=10
op1=Deposit

// 478:62
[com_62]
type=text
x=88
y=232
width=352
height=26
textfont=p12_full
text=Select an item or stack of items to deposit.<br><col=ff7000>You can deposit up to 2 items or stacks.
textalignh=centre
textshadow=yes

// 478:63
[com_63]
type=graphic
x=418
y=26
width=26
height=23
mouseoverlayer=com_65
graphic="close_buttons,0"

// 478:64
[com_64]
type=graphic
x=3
y=4
width=26
height=23
layer=com_65
buttontype=3
graphic="close_buttons,1"

// 478:65
[com_65]
type=layer
x=415
y=22
width=32
height=32
hide=yes

