// 321:0
[com_0]
type=rectangle
x=-1
width=512
height=334
colour=0x433621
fill=yes

// 321:1
[com_1]
type=model
x=236
y=128
width=32
height=32
model=model_4652
modelangle=271,63,0
modelzoom=926

// 321:2
[com_2]
type=model
x=236
y=128
width=32
height=32
model=model_4979
modelangle=271,63,0
modelzoom=926

