// 405:0
[com_0]
type=model
x=369
y=424
width=32
height=32
model=model_9630
modelangle=512,0,0
modelzoom=692

// 405:1
[com_1]
type=text
x=190
y=431
width=400
height=40
textfont=q8_full
textalignh=centre
textalignv=centre
colour=0x000000

// 405:2
[com_2]
type=text
x=190
y=411
width=400
height=14
textfont=p12_full
text=Message of the week
textalignh=centre
colour=0x800000

// 405:3
[com_3]
type=model
x=65
y=461
width=32
height=32
model=model_15274
modelangle=129,1261,0
modelzoom=1583

// 405:4
[com_4]
type=model
x=673
y=462
width=32
height=32
model=model_15275
modelangle=135,1786,0
modelzoom=1552

