// 122:0
[com_0]
type=model
x=242
y=152
width=32
height=32
model=model_13352
modelangle=512,0,0
modelzoom=130
modelanim=seq_1376

// 122:1
[com_1]
type=text
x=20
y=68
width=477
height=56
textfont=p12_full
text= 
textalignh=centre

