// 234:0
[com_0]
type=text
y=-1
width=480
height=17
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

// 234:1
[com_1]
type=text
y=15
width=480
height=16
buttontype=6
textfont=q8_full
text=option1
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff

// 234:2
[com_2]
type=text
y=31
width=480
height=16
buttontype=6
textfont=q8_full
text=option2
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff

// 234:3
[com_3]
type=text
y=47
width=480
height=16
buttontype=6
textfont=q8_full
text=option3
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff

// 234:4
[com_4]
type=text
y=63
width=480
height=16
buttontype=6
textfont=q8_full
text=option4
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff

// 234:5
[com_5]
type=text
y=79
width=480
height=16
buttontype=6
textfont=q8_full
text=option5
textalignh=centre
colour=0x000000
mouseovercolour=0xffffff

// 234:6
[com_6]
type=graphic
width=57
height=13
layer=com_8
graphic="sworddecor,1"

// 234:7
[com_7]
type=graphic
x=280
width=57
height=13
layer=com_8
graphic="sworddecor,0"

// 234:8
[com_8]
type=layer
x=72
y=1
width=337
height=13

// 234:9
[com_9]
type=layer
x=2
y=1
width=476
height=13
hide=yes

// 234:10
[com_10]
type=graphic
width=57
height=13
layer=com_9
graphic="sworddecor,1"

// 234:11
[com_11]
type=graphic
x=419
width=57
height=13
layer=com_9
graphic="sworddecor,0"

