// 202:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 202:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 202:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 202:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 202:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 202:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 202:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 202:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 202:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 202:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 202:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 202:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 202:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 202:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 202:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 202:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 202:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 202:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 202:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 202:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 202:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 202:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 202:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 202:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 202:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 202:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 202:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 202:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 202:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 202:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 202:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 202:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 202:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 202:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 202:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 202:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 202:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 202:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 202:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 202:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 202:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 202:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 202:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 202:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 202:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 202:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 202:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 202:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 202:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 202:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 202:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 202:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 202:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 202:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 202:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 202:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 202:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 202:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 202:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 202:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 202:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 202:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 202:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 202:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 202:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 202:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 202:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 202:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 202:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 202:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 202:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 202:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 202:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 202:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 202:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 202:75
[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 202:76
[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 202:77
[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 202:78
[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 202:79
[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 202:80
[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 202:81
[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 202:82
[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 202:83
[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 202:84
[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 202:85
[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 202:86
[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 202:87
[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 202:88
[com_88]
type=text
x=19
y=31
width=472
height=17
textfont=b12_full
text=Thessalia's Makeovers (Torso)
textalignh=centre
textshadow=yes
colour=0xc9800d

// 202:89
[com_89]
type=rectangle
x=59
y=249
width=403
height=28
colour=0x000000
fill=yes

// 202:90
[com_90]
type=rectangle
x=60
y=250
width=25
height=25
buttontype=5
colour=0x7b6e32
fill=yes
buttontext=Khaki
script=varplayer_263 = 1

// 202:91
[com_91]
type=rectangle
x=85
y=250
width=25
height=25
buttontype=5
colour=0x262323
fill=yes
buttontext=Black
script=varplayer_263 = 2

// 202:92
[com_92]
type=rectangle
x=110
y=250
width=25
height=25
buttontype=5
colour=0x752f3b
fill=yes
buttontext=Crimson
script=varplayer_263 = 3

// 202:93
[com_93]
type=rectangle
x=135
y=250
width=25
height=25
buttontype=5
colour=0x3b3b4e
fill=yes
buttontext=Navy
script=varplayer_263 = 4

// 202:94
[com_94]
type=rectangle
x=160
y=250
width=25
height=25
buttontype=5
colour=0xaa9045
fill=yes
buttontext=Straw
script=varplayer_263 = 5

// 202:95
[com_95]
type=rectangle
x=185
y=250
width=25
height=25
buttontype=5
colour=0xada481
fill=yes
buttontext=White
script=varplayer_263 = 6

// 202:96
[com_96]
type=rectangle
x=210
y=250
width=25
height=25
buttontype=5
colour=0x8b3b2a
fill=yes
buttontext=Red
script=varplayer_263 = 7

// 202:97
[com_97]
type=rectangle
x=235
y=250
width=25
height=25
buttontype=5
colour=0x2d5272
fill=yes
buttontext=Blue
script=varplayer_263 = 8

// 202:98
[com_98]
type=rectangle
x=260
y=250
width=25
height=25
buttontype=5
colour=0x2d723e
fill=yes
buttontext=Green
script=varplayer_263 = 9

// 202:99
[com_99]
type=rectangle
x=285
y=250
width=25
height=25
buttontype=5
colour=0xa3970d
fill=yes
buttontext=Yellow
script=varplayer_263 = 10

// 202:100
[com_100]
type=rectangle
x=310
y=250
width=25
height=25
buttontype=5
colour=0x83537b
fill=yes
buttontext=Purple
script=varplayer_263 = 11

// 202:101
[com_101]
type=rectangle
x=335
y=250
width=25
height=25
buttontype=5
colour=0x9d642f
fill=yes
buttontext=Orange
script=varplayer_263 = 12

// 202:102
[com_102]
type=rectangle
x=360
y=250
width=25
height=25
buttontype=5
colour=0xa17067
fill=yes
buttontext=Rose
script=varplayer_263 = 13

// 202:103
[com_103]
type=rectangle
x=385
y=250
width=25
height=25
buttontype=5
colour=0x829472
fill=yes
buttontext=Lime
script=varplayer_263 = 14

// 202:104
[com_104]
type=rectangle
x=410
y=250
width=25
height=25
buttontype=5
colour=0x728c94
fill=yes
buttontext=Cyan
script=varplayer_263 = 15

// 202:105
[com_105]
type=rectangle
x=435
y=250
width=25
height=25
buttontype=5
colour=0x1c6135
fill=yes
buttontext=Emerald
script=varplayer_263 = 16

// 202:106
[com_106]
type=text
x=159
y=288
width=190
height=17
buttontype=1
textfont=b12_full
text=CONFIRM (500 gold)
textalignh=centre
textshadow=yes
colour=0x00ff00
mouseovercolour=0xff0000

// 202:107
[com_107]
type=graphic
x=59
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 1

// 202:108
[com_108]
type=graphic
x=84
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 2

// 202:109
[com_109]
type=graphic
x=109
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 3

// 202:110
[com_110]
type=graphic
x=134
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 4

// 202:111
[com_111]
type=graphic
x=160
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 5

// 202:112
[com_112]
type=graphic
x=185
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 6

// 202:113
[com_113]
type=graphic
x=210
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 7

// 202:114
[com_114]
type=graphic
x=235
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 8

// 202:115
[com_115]
type=graphic
x=260
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 9

// 202:116
[com_116]
type=graphic
x=285
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 10

// 202:117
[com_117]
type=graphic
x=310
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 11

// 202:118
[com_118]
type=graphic
x=335
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 12

// 202:119
[com_119]
type=graphic
x=360
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 13

// 202:120
[com_120]
type=graphic
x=385
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 14

// 202:121
[com_121]
type=graphic
x=410
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 15

// 202:122
[com_122]
type=graphic
x=435
y=250
width=25
height=25
graphicactive=overlay_multiway
script=varplayer_263 = 16

// 202:123
[com_123]
type=text
x=22
y=63
width=468
height=18
textfont=p12_full
text=Select body style
textalignh=centre
textshadow=yes
colour=0xc9800d

// 202:124
[com_124]
type=text
x=21
y=149
width=470
height=16
textfont=p12_full
text=Select arms style
textalignh=centre
textshadow=yes
colour=0xc9800d

// 202:125
[com_125]
type=text
x=24
y=226
width=468
height=17
textfont=p12_full
text=Select colour
textalignh=centre
textshadow=yes
colour=0xc9800d

// 202:126
[com_126]
type=model
x=50
y=180
width=32
height=32
model=model_456
modelzoom=800

// 202:127
[com_127]
type=model
x=145
y=180
width=32
height=32
model=model_469
modelzoom=800

// 202:128
[com_128]
type=model
x=240
y=180
width=32
height=32
model=model_470
modelzoom=800

// 202:129
[com_129]
type=model
x=325
y=180
width=32
height=32
model=model_471
modelzoom=800

// 202:130
[com_130]
type=model
x=420
y=180
width=32
height=32
model=model_474
modelzoom=800

// 202:131
[com_131]
type=model
x=50
y=260
width=32
height=32
model=model_456
modelzoom=800

// 202:132
[com_132]
type=model
x=145
y=260
width=32
height=32
model=model_456
modelzoom=800

// 202:133
[com_133]
type=model
x=240
y=260
width=32
height=32
model=model_456
modelzoom=800

// 202:134
[com_134]
type=model
x=325
y=260
width=32
height=32
model=model_456
modelzoom=800

// 202:135
[com_135]
type=model
x=420
y=260
width=32
height=32
model=model_456
modelzoom=800

// 202:136
[com_136]
type=model
x=50
y=180
width=32
height=32
model=model_332
modelzoom=800

// 202:137
[com_137]
type=model
x=145
y=180
width=32
height=32
model=model_332
modelzoom=800

// 202:138
[com_138]
type=model
x=240
y=180
width=32
height=32
model=model_332
modelzoom=800

// 202:139
[com_139]
type=model
x=325
y=180
width=32
height=32
model=model_332
modelzoom=800

// 202:140
[com_140]
type=model
x=420
y=180
width=32
height=32
model=model_332
modelzoom=800

// 202:141
[com_141]
type=model
x=50
y=260
width=32
height=32
model=model_332
modelzoom=800

// 202:142
[com_142]
type=model
x=145
y=260
width=32
height=32
model=model_351
modelzoom=800

// 202:143
[com_143]
type=model
x=240
y=260
width=32
height=32
model=model_346
modelzoom=800

// 202:144
[com_144]
type=model
x=325
y=260
width=32
height=32
model=model_348
modelzoom=800

// 202:145
[com_145]
type=model
x=420
y=260
width=32
height=32
model=model_343
modelzoom=800

// 202:146
[com_146]
type=graphic
x=53
y=100
width=25
height=25
buttontype=5
graphicactive=overlay_multiway
buttontext=Plain
script=varplayer_261 = 1

// 202:147
[com_147]
type=graphic
x=148
y=100
width=25
height=25
buttontype=5
graphicactive=overlay_multiway
buttontext=Crop-top
script=varplayer_261 = 2

// 202:148
[com_148]
type=graphic
x=243
y=100
width=25
height=25
buttontype=5
graphicactive=overlay_multiway
buttontext=Polo-neck
script=varplayer_261 = 3

// 202:149
[com_149]
type=graphic
x=328
y=100
width=25
height=25
buttontype=5
graphicactive=overlay_multiway
buttontext=Simple
script=varplayer_261 = 4

// 202:150
[com_150]
type=graphic
x=423
y=100
width=25
height=25
buttontype=5
graphicactive=overlay_multiway
buttontext=Torn
script=varplayer_261 = 5

// 202:151
[com_151]
type=graphic
x=52
y=180
width=25
height=25
buttontype=5
graphicactive=overlay_multiway
buttontext=Short sleeves
script=varplayer_262 = 1

// 202:152
[com_152]
type=graphic
x=148
y=180
width=25
height=25
buttontype=5
graphicactive=overlay_multiway
buttontext=Bare arms
script=varplayer_262 = 2

// 202:153
[com_153]
type=graphic
x=243
y=180
width=25
height=25
buttontype=5
graphicactive=overlay_multiway
buttontext=Muscley
script=varplayer_262 = 3

// 202:154
[com_154]
type=graphic
x=328
y=180
width=25
height=25
buttontype=5
graphicactive=overlay_multiway
buttontext=Long sleeved
script=varplayer_262 = 4

// 202:155
[com_155]
type=graphic
x=423
y=180
width=25
height=25
buttontype=5
graphicactive=overlay_multiway
buttontext=Large cuffs
script=varplayer_262 = 5

// 202:156
[com_156]
type=graphic
x=472
y=25
width=26
height=23
mouseoverlayer=com_158
graphic="close_buttons,0"

// 202:157
[com_157]
type=graphic
x=3
y=4
width=26
height=23
layer=com_158
mouseoverlayer=com_158
buttontype=3
graphic="close_buttons,1"

// 202:158
[com_158]
type=layer
x=469
y=21
width=32
height=32
hide=yes

