// 420:0
[com_0]
type=model
x=240
y=148
width=32
height=32
model=model_16033
modelangle=517,0,0
modelzoom=421

// 420:1
[com_1]
type=model
x=129
y=258
width=32
height=32
buttontype=1
model=model_16030
modelangle=517,0,0
modelzoom=420

// 420:2
[com_2]
type=model
x=181
y=259
width=32
height=32
buttontype=1
model=model_16027
modelangle=517,0,0
modelzoom=420

// 420:3
[com_3]
type=model
x=238
y=259
width=32
height=32
buttontype=1
model=model_16026
modelangle=517,0,0
modelzoom=420
buttontext=Build

// 420:4
[com_4]
type=model
x=295
y=258
width=32
height=32
buttontype=1
model=model_16028
modelangle=517,0,0
modelzoom=420

// 420:5
[com_5]
type=model
x=350
y=258
width=32
height=32
buttontype=1
model=model_16029
modelangle=517,0,0
modelzoom=420

// 420:6
[com_6]
type=layer
x=173
y=250
width=48
height=48

// 420:7
[com_7]
type=layer
x=227
y=251
width=55
height=48

// 420:8
[com_8]
type=layer
x=287
y=249
width=48
height=50

// 420:9
[com_9]
type=layer
x=341
y=251
width=48
height=46

// 420:10
[com_10]
type=model
width=120
height=96
layer=com_14
buttontype=1
model=model_28806
modelzoom=800

// 420:11
[com_11]
type=model
width=126
height=112
layer=com_17
buttontype=1
model=model_28428
modelzoom=800

// 420:12
[com_12]
type=model
width=122
height=128
layer=com_15
buttontype=1
model=model_28803
modelzoom=800

// 420:13
[com_13]
type=model
width=114
height=112
layer=com_16
buttontype=1
model=model_28808
modelzoom=800

// 420:14
[com_14]
type=layer
width=522
height=351

// 420:15
[com_15]
type=layer
width=524
height=365

// 420:16
[com_16]
type=layer
width=530
height=351

// 420:17
[com_17]
type=layer
width=518
height=351

// 420:18
[com_18]
type=layer
x=420
y=182
width=70
height=127

// 420:19
[com_19]
type=model
x=20
y=7
width=32
height=32
layer=com_18
model=model_28806
modelzoom=900

// 420:20
[com_20]
type=model
x=19
y=49
width=32
height=32
layer=com_18
model=model_28428
modelzoom=900

// 420:21
[com_21]
type=model
x=19
y=60
width=32
height=32
layer=com_18
model=model_28803
modelzoom=900

// 420:22
[com_22]
type=model
x=18
y=87
width=32
height=32
layer=com_18
model=model_28808
modelzoom=900

// 420:23
[com_23]
type=text
x=-1
y=48
width=71
height=28
layer=com_18
textfont=p12_full
text=EXAMPLE
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xe9e9d3

// 420:24
[com_24]
type=graphic
x=482
y=5
width=26
height=23
mouseoverlayer=com_26
graphic="close_buttons,4"

// 420:25
[com_25]
type=graphic
x=3
y=4
width=26
height=23
layer=com_26
buttontype=3
graphic="close_buttons,5"

// 420:26
[com_26]
type=layer
x=479
y=1
width=32
height=32
hide=yes

