// 438:0
[com_0]
type=graphic
x=99
y=20
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:1
[com_1]
type=graphic
x=393
y=239
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:2
[com_2]
type=graphic
x=306
y=239
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:3
[com_3]
type=graphic
x=219
y=239
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:4
[com_4]
type=graphic
x=131
y=239
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:5
[com_5]
type=graphic
x=33
y=26
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:6
[com_6]
type=graphic
x=33
y=86
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:7
[com_7]
type=graphic
x=33
y=146
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:8
[com_8]
type=graphic
x=33
y=206
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:9
[com_9]
type=graphic
x=33
y=239
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:10
[com_10]
type=graphic
x=121
y=80
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:11
[com_11]
type=graphic
x=187
y=20
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:12
[com_12]
type=graphic
x=121
y=140
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:13
[com_13]
type=graphic
x=121
y=200
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:14
[com_14]
type=graphic
x=187
y=80
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:15
[com_15]
type=graphic
x=117
y=239
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:16
[com_16]
type=graphic
x=187
y=140
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:17
[com_17]
type=graphic
x=187
y=200
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:18
[com_18]
type=graphic
x=275
y=20
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:19
[com_19]
type=graphic
x=363
y=80
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:20
[com_20]
type=graphic
x=275
y=80
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:21
[com_21]
type=graphic
x=275
y=140
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:22
[com_22]
type=graphic
x=275
y=200
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:23
[com_23]
type=graphic
x=363
y=140
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:24
[com_24]
type=graphic
x=363
y=20
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:25
[com_25]
type=graphic
x=363
y=200
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:26
[com_26]
type=graphic
x=393
y=26
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:27
[com_27]
type=graphic
x=393
y=81
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:28
[com_28]
type=graphic
x=393
y=141
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:29
[com_29]
type=graphic
x=393
y=200
width=88
height=60
layer=com_87
graphic=tradebacking

// 438:30
[com_30]
type=graphic
x=12
y=49
width=36
height=36
layer=com_87
graphic="miscgraphics,2"

// 438:31
[com_31]
type=graphic
x=12
y=85
width=36
height=36
layer=com_87
graphic="miscgraphics,2"

// 438:32
[com_32]
type=graphic
x=12
y=121
width=36
height=36
layer=com_87
graphic="miscgraphics,2"

// 438:33
[com_33]
type=graphic
x=12
y=157
width=36
height=36
layer=com_87
graphic="miscgraphics,2"

// 438:34
[com_34]
type=graphic
x=12
y=193
width=36
height=36
layer=com_87
graphic="miscgraphics,2"

// 438:35
[com_35]
type=graphic
x=12
y=228
width=36
height=36
layer=com_87
graphic="miscgraphics,2"

// 438:36
[com_36]
type=graphic
x=12
y=252
width=36
height=36
layer=com_87
graphic="miscgraphics,2"

// 438:37
[com_37]
type=graphic
x=466
y=51
width=36
height=36
layer=com_87
graphic="steelborder2,1"

// 438:38
[com_38]
type=graphic
x=466
y=86
width=36
height=36
layer=com_87
graphic="steelborder2,1"

// 438:39
[com_39]
type=graphic
x=466
y=122
width=36
height=36
layer=com_87
graphic="steelborder2,1"

// 438:40
[com_40]
type=graphic
x=466
y=158
width=36
height=36
layer=com_87
graphic="steelborder2,1"

// 438:41
[com_41]
type=graphic
x=49
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:42
[com_42]
type=graphic
x=466
y=194
width=36
height=36
layer=com_87
graphic="steelborder2,1"

// 438:43
[com_43]
type=graphic
x=466
y=230
width=36
height=36
layer=com_87
graphic="steelborder2,1"

// 438:44
[com_44]
type=graphic
x=466
y=264
width=36
height=36
layer=com_87
graphic="steelborder2,1"

// 438:45
[com_45]
type=graphic
x=80
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 438:46
[com_46]
type=graphic
x=111
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 438:47
[com_47]
type=graphic
x=144
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 438:48
[com_48]
type=graphic
x=178
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 438:49
[com_49]
type=graphic
x=212
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 438:50
[com_50]
type=graphic
x=248
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 438:51
[com_51]
type=graphic
x=283
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 438:52
[com_52]
type=graphic
x=319
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 438:53
[com_53]
type=graphic
x=354
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 438:54
[com_54]
type=graphic
x=390
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 438:55
[com_55]
type=graphic
x=426
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 438:56
[com_56]
type=graphic
x=71
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:57
[com_57]
type=graphic
x=107
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:58
[com_58]
type=graphic
x=143
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:59
[com_59]
type=graphic
x=179
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:60
[com_60]
type=graphic
x=215
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:61
[com_61]
type=graphic
x=251
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:62
[com_62]
type=graphic
x=287
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:63
[com_63]
type=graphic
x=323
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:64
[com_64]
type=graphic
x=359
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:65
[com_65]
type=graphic
x=395
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:66
[com_66]
type=graphic
x=431
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:67
[com_67]
type=graphic
x=251
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:68
[com_68]
type=graphic
x=36
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:69
[com_69]
type=graphic
x=48
y=284
width=36
height=36
layer=com_87
graphic="miscgraphics,3"

// 438:70
[com_70]
type=graphic
x=27
y=275
width=25
height=30
layer=com_87
graphic="steelborder,2"

// 438:71
[com_71]
type=graphic
x=462
y=20
width=25
height=30
layer=com_87
graphic="steelborder,1"

// 438:72
[com_72]
type=graphic
x=438
y=5
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:73
[com_73]
type=graphic
x=462
y=275
width=25
height=30
layer=com_87
graphic="steelborder,3"

// 438:74
[com_74]
type=graphic
x=287
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:75
[com_75]
type=graphic
x=323
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:76
[com_76]
type=graphic
x=27
y=20
width=25
height=30
layer=com_87
graphic="steelborder,0"

// 438:77
[com_77]
type=graphic
x=359
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:78
[com_78]
type=graphic
x=395
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:79
[com_79]
type=graphic
x=431
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:80
[com_80]
type=graphic
x=451
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:81
[com_81]
type=graphic
x=215
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:82
[com_82]
type=graphic
x=179
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:83
[com_83]
type=graphic
x=143
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:84
[com_84]
type=graphic
x=107
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:85
[com_85]
type=graphic
x=71
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:86
[com_86]
type=graphic
x=33
y=34
width=36
height=36
layer=com_87
graphic="steelborder2,0"

// 438:87
[com_87]
type=layer
x=-1
y=-1
width=511
height=334

// 438:88
[com_88]
type=text
x=126
y=29
width=272
height=14
textfont=b12_full
text=Silver Casting
textalignh=centre
textshadow=yes
colour=0xff981f

// 438:89
[com_89]
type=layer
x=37
y=56
width=441
height=241

// 438:90
[com_90]
type=layer
x=3
y=5
width=98
height=108
layer=com_89

// 438:91
[com_91]
type=text
x=19
width=60
height=60
layer=com_90
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

// 438:92
[com_92]
type=text
x=19
width=60
height=60
layer=com_90
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

// 438:93
[com_93]
type=text
x=19
width=60
height=60
layer=com_90
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

// 438:94
[com_94]
type=text
x=19
width=60
height=60
layer=com_90
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

// 438:95
[com_95]
type=model
x=34
width=32
height=32
layer=com_90
model=null
modelzoom=300

// 438:96
[com_96]
type=text
y=55
width=98
height=53
layer=com_90
textfont=p12_full
text=Make<br> Saradomin <br>Symbol
textalignh=centre
textshadow=yes
colour=0xff981f

// 438:97
[com_97]
type=layer
x=3
y=5
width=98
height=108
layer=com_89
hide=yes

// 438:98
[com_98]
type=model
x=33
width=32
height=32
layer=com_97
model=null
modelzoom=400

// 438:99
[com_99]
type=text
y=50
width=98
height=58
layer=com_97
textfont=p12_full
text=You need a <br>Holy Symbol<br> mould to make<br> this item.
textalignh=centre
textshadow=yes
colour=0xffaa44

// 438:100
[com_100]
type=text
x=298
y=298
width=4
height=4
textfont=p12_full
textshadow=yes
colour=0xffff00

// 438:101
[com_101]
type=layer
x=8
y=120
width=92
height=105
layer=com_89

// 438:102
[com_102]
type=text
x=16
y=-1
width=60
height=60
layer=com_101
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

// 438:103
[com_103]
type=text
x=16
y=-1
width=60
height=60
layer=com_101
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

// 438:104
[com_104]
type=text
x=16
y=-1
width=60
height=60
layer=com_101
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

// 438:105
[com_105]
type=text
x=16
y=-1
width=60
height=60
layer=com_101
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

// 438:106
[com_106]
type=model
x=31
width=32
height=32
layer=com_101
model=null
modelzoom=300

// 438:107
[com_107]
type=text
y=55
width=92
height=53
layer=com_101
textfont=p12_full
text=Make<br> Zamorak<br>Symbol
textalignh=centre
textshadow=yes
colour=0xff981f

// 438:108
[com_108]
type=layer
x=8
y=120
width=92
height=105
layer=com_89
hide=yes

// 438:109
[com_109]
type=model
x=28
y=-1
width=32
height=32
layer=com_108
model=null
modelzoom=400

// 438:110
[com_110]
type=text
y=50
width=92
height=58
layer=com_108
textfont=p12_full
text=You need an <br>Unholy Symbol<br> mould to make<br> this item.
textalignh=centre
textshadow=yes
colour=0xffaa44

// 438:111
[com_111]
type=text
x=298
y=299
width=4
height=4
textfont=p12_full
textshadow=yes
colour=0xffff00

// 438:112
[com_112]
type=layer
x=116
y=5
width=97
height=108
layer=com_89

// 438:113
[com_113]
type=text
x=20
width=60
height=60
layer=com_112
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

// 438:114
[com_114]
type=text
x=20
width=60
height=60
layer=com_112
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

// 438:115
[com_115]
type=text
x=20
width=60
height=60
layer=com_112
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

// 438:116
[com_116]
type=text
x=20
width=60
height=60
layer=com_112
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

// 438:117
[com_117]
type=model
x=36
width=32
height=32
layer=com_112
model=null
modelzoom=300

// 438:118
[com_118]
type=text
y=55
width=97
height=53
layer=com_112
textfont=p12_full
text=Make<br>Silver<br>Sickle
textalignh=centre
textshadow=yes
colour=0xff981f

// 438:119
[com_119]
type=layer
x=116
y=5
width=97
height=108
layer=com_89
hide=yes

// 438:120
[com_120]
type=model
x=31
width=32
height=32
layer=com_119
model=null
modelzoom=400

// 438:121
[com_121]
type=text
y=50
width=97
height=58
layer=com_119
textfont=p12_full
text=You need a <br>sickle mould<br> to make<br> this item.
textalignh=centre
textshadow=yes
colour=0xffaa44

// 438:122
[com_122]
type=text
x=298
y=299
width=4
height=4
textfont=p12_full
textshadow=yes
colour=0xffff00

// 438:123
[com_123]
type=layer
x=115
y=120
width=97
height=105
layer=com_89

// 438:124
[com_124]
type=text
x=19
width=60
height=60
layer=com_123
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

// 438:125
[com_125]
type=text
x=19
width=60
height=60
layer=com_123
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

// 438:126
[com_126]
type=text
x=19
width=60
height=60
layer=com_123
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

// 438:127
[com_127]
type=text
x=19
width=60
height=60
layer=com_123
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

// 438:128
[com_128]
type=model
x=32
width=32
height=32
layer=com_123
model=null
modelzoom=300

// 438:129
[com_129]
type=text
y=55
width=97
height=53
layer=com_123
textfont=p12_full
text=Make<br>Lightning<br>Rod
textalignh=centre
textshadow=yes
colour=0xff981f

// 438:130
[com_130]
type=layer
x=115
y=120
width=97
height=105
layer=com_89
hide=yes

// 438:131
[com_131]
type=model
x=33
width=32
height=32
layer=com_130
model=null
modelzoom=400

// 438:132
[com_132]
type=text
y=50
width=97
height=58
layer=com_130
textfont=p12_full
text=You need a lightning rod mould to make this item.
textalignh=centre
textshadow=yes
colour=0xffaa44

// 438:133
[com_133]
type=text
x=297
y=299
width=4
height=4
textfont=p12_full
textshadow=yes
colour=0xffff00

// 438:134
[com_134]
type=layer
x=227
y=5
width=97
height=108
layer=com_89

// 438:135
[com_135]
type=text
x=19
width=60
height=60
layer=com_134
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

// 438:136
[com_136]
type=text
x=19
width=60
height=60
layer=com_134
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

// 438:137
[com_137]
type=text
x=19
width=60
height=60
layer=com_134
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

// 438:138
[com_138]
type=text
x=19
width=60
height=60
layer=com_134
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

// 438:139
[com_139]
type=model
x=35
width=32
height=32
layer=com_134
model=null
modelzoom=300

// 438:140
[com_140]
type=text
x=-1
y=55
width=98
height=53
layer=com_134
textfont=p12_full
text=Make<br>Tiara
textalignh=centre
textshadow=yes
colour=0xff981f

// 438:141
[com_141]
type=layer
x=227
y=5
width=97
height=108
layer=com_89
hide=yes

// 438:142
[com_142]
type=model
x=32
width=32
height=32
layer=com_141
model=null
modelzoom=400

// 438:143
[com_143]
type=text
y=50
width=97
height=58
layer=com_141
textfont=p12_full
text=You need a<br> Tiara Mould <br>to make<br> a tiara.
textalignh=centre
textshadow=yes
colour=0xffaa44

// 438:144
[com_144]
type=text
x=297
y=298
width=4
height=4
textfont=p12_full
textshadow=yes
colour=0xffff00

// 438:145
[com_145]
type=layer
x=227
y=120
width=97
height=105
layer=com_89

// 438:146
[com_146]
type=model
x=299
y=183
width=32
height=32
model=null
modelzoom=400

// 438:147
[com_147]
type=text
x=21
width=60
height=60
layer=com_145
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

// 438:148
[com_148]
type=text
x=21
width=60
height=60
layer=com_145
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

// 438:149
[com_149]
type=text
x=21
width=60
height=60
layer=com_145
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

// 438:150
[com_150]
type=text
x=21
width=60
height=60
layer=com_145
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

// 438:151
[com_151]
type=model
x=32
width=32
height=32
layer=com_145
model=null
modelzoom=300

// 438:152
[com_152]
type=text
y=55
width=97
height=53
layer=com_145
textfont=p12_full
text=Make <br>Silvthrill <br>Rod
textalignh=centre
textshadow=yes
colour=0xff981f

// 438:153
[com_153]
type=layer
x=227
y=120
width=97
height=105
layer=com_89
hide=yes

// 438:154
[com_154]
type=model
x=32
width=32
height=32
layer=com_153
model=null
modelzoom=400

// 438:155
[com_155]
type=text
y=50
width=97
height=58
layer=com_153
textfont=p12_full
text=You need a <br> Rod mould <br>to make this <br>item.
textalignh=centre
textshadow=yes
colour=0xffaa44

// 438:156
[com_156]
type=text
x=297
y=298
width=4
height=4
textfont=p12_full
textshadow=yes
colour=0xffff00

// 438:157
[com_157]
type=layer
x=339
y=5
width=97
height=108
layer=com_89

// 438:158
[com_158]
type=text
x=21
width=60
height=60
layer=com_157
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

// 438:159
[com_159]
type=text
x=21
width=60
height=60
layer=com_157
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

// 438:160
[com_160]
type=text
x=21
width=60
height=60
layer=com_157
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

// 438:161
[com_161]
type=text
x=21
width=60
height=60
layer=com_157
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

// 438:162
[com_162]
type=model
x=36
width=32
height=32
layer=com_157
model=null
modelzoom=300

// 438:163
[com_163]
type=text
y=55
width=97
height=53
layer=com_157
textfont=p12_full
text=Make<br> demonic<br>sigil
textalignh=centre
textshadow=yes
colour=0xff981f

// 438:164
[com_164]
type=layer
x=339
y=5
width=97
height=108
layer=com_89
hide=yes

// 438:165
[com_165]
type=model
x=31
width=32
height=32
layer=com_164
model=null
modelzoom=400

// 438:166
[com_166]
type=text
y=50
width=97
height=58
layer=com_164
textfont=p12_full
text=You need a<br> demonic sigil<br>mould to make<br>this item.
textalignh=centre
textshadow=yes
colour=0xffaa44

// 438:167
[com_167]
type=text
x=297
y=298
width=4
height=4
textfont=p12_full
textshadow=yes
colour=0xffff00

// 438:168
[com_168]
type=layer
x=339
y=120
width=97
height=105
layer=com_89

// 438:169
[com_169]
type=text
x=20
width=60
height=60
layer=com_168
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

// 438:170
[com_170]
type=text
x=20
width=60
height=60
layer=com_168
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

// 438:171
[com_171]
type=text
x=20
width=60
height=60
layer=com_168
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

// 438:172
[com_172]
type=text
x=20
width=60
height=60
layer=com_168
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

// 438:173
[com_173]
type=model
x=34
width=32
height=32
layer=com_168
model=null
modelzoom=300

// 438:174
[com_174]
type=text
y=55
width=97
height=53
layer=com_168
textfont=p12_full
text=Make<br> Silver  <br>Crossbow<br> Bolts
textactive= 
textalignh=centre
textshadow=yes
colour=0xff981f

// 438:175
[com_175]
type=layer
x=339
y=120
width=97
height=105
layer=com_89
hide=yes

// 438:176
[com_176]
type=model
x=32
width=32
height=32
layer=com_175
model=null
modelzoom=400

// 438:177
[com_177]
type=text
y=50
width=97
height=58
layer=com_175
textfont=p12_full
text=You need a<br> crossbow bolt<br>mould to make<br>this item.
textalignh=centre
textshadow=yes
colour=0xffaa44

// 438:178
[com_178]
type=text
x=297
y=298
width=4
height=4
textfont=p12_full
textshadow=yes
colour=0xffff00

// 438:179
[com_179]
type=graphic
x=460
y=26
width=26
height=23
mouseoverlayer=com_181
graphic="close_buttons,0"

// 438:180
[com_180]
type=graphic
x=6
y=2
width=26
height=23
layer=com_181
buttontype=3
graphic="close_buttons,1"

// 438:181
[com_181]
type=layer
x=454
y=24
width=32
height=32
hide=yes

