// 127:0
[com_0]
type=rectangle
x=-1
width=512
height=334
trans=120
colour=0x202020
fill=yes

// 127:1
[com_1]
type=graphic
x=440
y=26
width=23
height=23
mouseoverlayer=com_27
graphic="close_buttons,4"

// 127:2
[com_2]
type=model
x=39
y=162
width=32
height=32
layer=com_19
model=model_5622
modelangle=328,20,0
modelzoom=238

// 127:3
[com_3]
type=model
x=191
y=37
width=32
height=32
layer=com_19
model=model_5624
modelangle=207,309,0
modelzoom=234

// 127:4
[com_4]
type=model
x=39
y=162
width=32
height=32
layer=com_19
model=model_5622
modelangle=328,20,0
modelzoom=238

// 127:5
[com_5]
type=model
x=95
y=185
width=32
height=32
layer=com_19
model=model_5622
modelangle=328,20,0
modelzoom=308

// 127:6
[com_6]
type=model
x=152
y=187
width=32
height=32
layer=com_19
model=model_5622
modelangle=328,20,0
modelzoom=441

// 127:7
[com_7]
type=model
x=205
y=181
width=32
height=32
layer=com_19
model=model_5622
modelangle=328,20,0
modelzoom=616

// 127:8
[com_8]
type=model
x=253
y=171
width=32
height=32
layer=com_19
model=model_5622
modelangle=328,20,0
modelzoom=700

// 127:9
[com_9]
type=model
x=295
y=149
width=32
height=32
layer=com_19
model=model_5622
modelangle=328,20,0
modelzoom=700

// 127:10
[com_10]
type=model
x=343
y=82
width=43
height=47
layer=com_19
mouseoverlayer=com_25
buttontype=1
model=model_5626
modelangle=513,1887,0
modelzoom=1451

// 127:11
[com_11]
type=text
x=157
y=11
width=100
height=14
layer=com_19
textfont=b12_full
text=**********
textalignh=centre
textshadow=yes
colour=0xa6a692

// 127:12
[com_12]
type=text
x=119
y=30
width=168
height=12
layer=com_19
textfont=p11_full
text=************************
textalignh=centre
textshadow=yes
colour=0xa6a692

// 127:13
[com_13]
type=graphic
x=250
y=122
width=36
height=36
mouseoverlayer=com_23
graphic="miscgraphics,4"

// 127:14
[com_14]
type=graphic
x=227
y=122
width=36
height=36
mouseoverlayer=com_23
graphic="miscgraphics,4"

// 127:15
[com_15]
type=graphic
x=205
y=122
width=36
height=36
mouseoverlayer=com_23
graphic="miscgraphics,4"

// 127:16
[com_16]
type=graphic
x=271
y=122
width=36
height=36
mouseoverlayer=com_23
graphic="miscgraphics,6"

// 127:17
[com_17]
type=text
x=159
y=55
width=98
height=31
layer=com_19
buttontype=1
textfont=p11_full
text=Remove this key
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xa6a692
mouseovercolour=0x0f8bf888

// 127:18
[com_18]
type=text
x=156
y=94
width=105
height=12
layer=com_19
textfont=p11_full
text=***************
textalignh=centre
textshadow=yes
colour=0xa6a692

// 127:19
[com_19]
type=layer
x=48
y=69
width=395
height=235

// 127:20
[com_20]
type=text
x=2
y=1
width=91
height=24
layer=com_23
buttontype=1
textfont=p11_full
text=Remove this key
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x0f8bf888

// 127:21
[com_21]
type=layer
x=36
y=136
width=54
height=71
hide=yes

// 127:22
[com_22]
type=model
x=12
y=20
width=32
height=32
layer=com_21
model=model_5630
modelangle=593,153,0
modelzoom=1035

// 127:23
[com_23]
type=layer
x=209
y=126
width=94
height=27
hide=yes

// 127:24
[com_24]
type=model
x=-11
y=68
width=54
height=71
layer=com_19
mouseoverlayer=com_21
buttontype=1
model=model_5625
modelangle=593,153,0
modelzoom=1035

// 127:25
[com_25]
type=layer
x=382
y=135
width=54
height=71
hide=yes

// 127:26
[com_26]
type=model
x=14
y=23
width=32
height=32
layer=com_25
model=model_5628
modelangle=513,1887,0
modelzoom=1451

// 127:27
[com_27]
type=layer
x=435
y=23
width=32
height=32
hide=yes

// 127:28
[com_28]
type=graphic
x=5
y=3
width=23
height=23
layer=com_27
buttontype=3
graphic="close_buttons,5"

