// 388:0
[com_0]
type=model
y=200
width=511
height=334
model=null
modelzoom=200

// 388:1
[com_1]
type=model
y=200
width=511
height=334
model=null
modelzoom=200

