// 427:0
[com_0]
type=model
x=238
y=168
width=46
height=32
model=model_9853
modelangle=490,0,0
modelzoom=800

// 427:1
[com_1]
type=text
x=81
y=89
width=344
height=17
textfont=q8_full
text=I (insert full name here) do hereby swear fealty   
textalignh=centre
colour=0x362407

// 427:2
[com_2]
type=text
x=82
y=113
width=344
height=17
textfont=q8_full
text=and indebtedness to the Fairy Godfather until
textalignh=centre
colour=0x362407

// 427:3
[com_3]
type=text
x=82
y=137
width=295
height=17
textfont=q8_full
text=such time as he releases me from my bond.
textalignh=centre
colour=0x362407

// 427:4
[com_4]
type=text
x=82
y=160
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 427:5
[com_5]
type=text
x=82
y=182
width=44
height=17
textfont=q8_full
text=Signed
textalignh=centre
colour=0x362407

// 427:6
[com_6]
type=text
x=82
y=204
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 427:7
[com_7]
type=text
x=82
y=226
width=214
height=17
textfont=q8_full
text=(insert full name and date here)
textalignh=centre
colour=0x362407

// 427:8
[com_8]
type=text
x=82
y=249
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 427:9
[com_9]
type=graphic
x=421
y=52
width=26
height=23
mouseoverlayer=com_11
graphic="close_buttons,2"

// 427:10
[com_10]
type=graphic
x=4
y=4
width=26
height=23
layer=com_11
buttontype=3
graphic="close_buttons,3"

// 427:11
[com_11]
type=layer
x=417
y=48
width=32
height=32
hide=yes

