// 467:0
[com_0]
type=rectangle
x=-2
width=562
height=362
colour=0x000000
fill=yes

// 467:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 467:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 467:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 467:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 467:5
[com_5]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 467:6
[com_6]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 467:7
[com_7]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 467:8
[com_8]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 467:9
[com_9]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 467:10
[com_10]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 467:11
[com_11]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 467:12
[com_12]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 467:13
[com_13]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 467:14
[com_14]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 467:15
[com_15]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 467:16
[com_16]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 467:17
[com_17]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 467:18
[com_18]
type=graphic
x=326
y=139
width=88
height=60
graphic=tradebacking

// 467:19
[com_19]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 467:20
[com_20]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 467:21
[com_21]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 467:22
[com_22]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 467:23
[com_23]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 467:24
[com_24]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 467:25
[com_25]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 467:26
[com_26]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 467:27
[com_27]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 467:28
[com_28]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 467:29
[com_29]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 467:30
[com_30]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 467:31
[com_31]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 467:32
[com_32]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 467:33
[com_33]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 467:34
[com_34]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 467:35
[com_35]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 467:36
[com_36]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 467:37
[com_37]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 467:38
[com_38]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:39
[com_39]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:40
[com_40]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:41
[com_41]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:42
[com_42]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:43
[com_43]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:44
[com_44]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:45
[com_45]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:46
[com_46]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:47
[com_47]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:48
[com_48]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 467:49
[com_49]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:50
[com_50]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 467:51
[com_51]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 467:52
[com_52]
type=graphic
x=325
y=140
width=88
height=60
graphic=tradebacking

// 467:53
[com_53]
type=layer
x=32
y=80
width=431
height=222
scrollheight=1863

// 467:54
[com_54]
type=rectangle
x=32
y=80
width=448
height=222
colour=0x333333

// 467:55
[com_55]
type=text
x=79
y=22
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:56
[com_56]
type=rectangle
x=2
y=2
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:57
[com_57]
type=text
x=79
y=84
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:58
[com_58]
type=rectangle
x=2
y=64
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:59
[com_59]
type=text
x=79
y=146
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:60
[com_60]
type=rectangle
x=2
y=126
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:61
[com_61]
type=text
x=79
y=208
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:62
[com_62]
type=rectangle
x=2
y=188
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:63
[com_63]
type=text
x=79
y=269
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:64
[com_64]
type=rectangle
x=2
y=250
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:65
[com_65]
type=text
x=79
y=332
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:66
[com_66]
type=rectangle
x=2
y=312
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:67
[com_67]
type=text
x=79
y=394
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:68
[com_68]
type=rectangle
x=2
y=374
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:69
[com_69]
type=text
x=79
y=456
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:70
[com_70]
type=rectangle
x=2
y=436
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:71
[com_71]
type=text
x=79
y=518
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:72
[com_72]
type=rectangle
x=2
y=498
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:73
[com_73]
type=text
x=79
y=580
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:74
[com_74]
type=rectangle
x=2
y=560
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:75
[com_75]
type=text
x=79
y=642
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:76
[com_76]
type=rectangle
x=2
y=622
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:77
[com_77]
type=text
x=80
y=704
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:78
[com_78]
type=rectangle
x=2
y=684
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:79
[com_79]
type=text
x=80
y=766
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:80
[com_80]
type=rectangle
x=2
y=746
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:81
[com_81]
type=text
x=80
y=828
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:82
[com_82]
type=rectangle
x=2
y=808
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:83
[com_83]
type=text
x=79
y=890
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:84
[com_84]
type=rectangle
x=2
y=870
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:85
[com_85]
type=text
x=79
y=952
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:86
[com_86]
type=rectangle
x=2
y=932
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:87
[com_87]
type=text
x=80
y=1014
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:88
[com_88]
type=rectangle
x=2
y=994
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:89
[com_89]
type=text
x=79
y=1076
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:90
[com_90]
type=rectangle
x=2
y=1056
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:91
[com_91]
type=text
x=79
y=1138
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:92
[com_92]
type=rectangle
x=2
y=1118
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:93
[com_93]
type=text
x=80
y=1200
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:94
[com_94]
type=rectangle
x=2
y=1180
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:95
[com_95]
type=text
x=79
y=1262
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:96
[com_96]
type=rectangle
x=2
y=1242
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:97
[com_97]
type=text
x=79
y=1324
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:98
[com_98]
type=rectangle
x=2
y=1304
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:99
[com_99]
type=text
x=79
y=1386
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:100
[com_100]
type=rectangle
x=2
y=1366
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:101
[com_101]
type=text
x=79
y=1448
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:102
[com_102]
type=rectangle
x=2
y=1428
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:103
[com_103]
type=text
x=79
y=1510
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:104
[com_104]
type=rectangle
x=2
y=1490
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:105
[com_105]
type=text
x=79
y=1572
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:106
[com_106]
type=rectangle
x=2
y=1552
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:107
[com_107]
type=text
x=79
y=1634
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:108
[com_108]
type=rectangle
x=2
y=1614
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:109
[com_109]
type=text
x=79
y=1696
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:110
[com_110]
type=rectangle
x=2
y=1676
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:111
[com_111]
type=text
x=79
y=1758
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:112
[com_112]
type=rectangle
x=2
y=1738
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:113
[com_113]
type=text
x=80
y=1820
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

// 467:114
[com_114]
type=rectangle
x=2
y=1800
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

// 467:115
[com_115]
type=graphic
x=374
y=302
width=88
height=60
graphic=tradebacking

// 467:116
[com_116]
type=graphic
x=292
y=302
width=88
height=60
graphic=tradebacking

// 467:117
[com_117]
type=graphic
x=204
y=302
width=88
height=60
graphic=tradebacking

// 467:118
[com_118]
type=graphic
x=116
y=302
width=88
height=60
graphic=tradebacking

// 467:119
[com_119]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 467:120
[com_120]
type=graphic
x=408
y=20
width=88
height=60
graphic=tradebacking

// 467:121
[com_121]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 467:122
[com_122]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 467:123
[com_123]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 467:124
[com_124]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 467:125
[com_125]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 467:126
[com_126]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:127
[com_127]
type=graphic
x=98
y=34
width=36
height=36
graphic="steelborder2,0"

// 467:128
[com_128]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 467:129
[com_129]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:130
[com_130]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 467:131
[com_131]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 467:132
[com_132]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 467:133
[com_133]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 467:134
[com_134]
type=graphic
x=422
y=34
width=36
height=36
graphic="steelborder2,0"

// 467:135
[com_135]
type=graphic
x=278
y=34
width=36
height=36
graphic="steelborder2,0"

// 467:136
[com_136]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 467:137
[com_137]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 467:138
[com_138]
type=graphic
x=386
y=34
width=36
height=36
graphic="steelborder2,0"

// 467:139
[com_139]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 467:140
[com_140]
type=graphic
x=458
y=34
width=36
height=36
graphic="steelborder2,0"

// 467:141
[com_141]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 467:142
[com_142]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 467:143
[com_143]
type=graphic
x=242
y=34
width=36
height=36
graphic="steelborder2,0"

// 467:144
[com_144]
type=rectangle
x=11
y=-27
width=374
height=47
colour=0x000000
fill=yes

// 467:145
[com_145]
type=graphic
x=206
y=34
width=36
height=36
graphic="steelborder2,0"

// 467:146
[com_146]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 467:147
[com_147]
type=graphic
x=28
y=302
width=150
height=10
graphic=tradebacking

// 467:148
[com_148]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 467:149
[com_149]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 467:150
[com_150]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 467:151
[com_151]
type=graphic
x=134
y=34
width=36
height=36
graphic="steelborder2,0"

// 467:152
[com_152]
type=graphic
x=350
y=34
width=36
height=36
graphic="steelborder2,0"

// 467:153
[com_153]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 467:154
[com_154]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 467:155
[com_155]
type=graphic
x=314
y=34
width=36
height=36
graphic="steelborder2,0"

// 467:156
[com_156]
type=rectangle
x=24
y=319
width=123
height=32
colour=0x000000
fill=yes

// 467:157
[com_157]
type=graphic
x=471
y=26
width=26
height=23
buttontype=3
graphic="close_buttons,0"

// 467:158
[com_158]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:159
[com_159]
type=graphic
x=4
y=3
width=26
height=23
layer=com_163
buttontype=3
graphic="close_buttons,1"

// 467:160
[com_160]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:161
[com_161]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 467:162
[com_162]
type=graphic
x=170
y=34
width=36
height=36
graphic="steelborder2,0"

// 467:163
[com_163]
type=layer
x=467
y=23
width=32
height=32
hide=yes

// 467:164
[com_164]
type=inv
x=16
y=14
width=1
height=30
layer=com_53
paddingy=30

// 467:165
[com_165]
type=rectangle
x=3
y=3
width=425
height=59
layer=com_166
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:166
[com_166]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:167
[com_167]
type=rectangle
x=3
y=65
width=425
height=59
layer=com_168
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:168
[com_168]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:169
[com_169]
type=rectangle
x=3
y=127
width=425
height=59
layer=com_170
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:170
[com_170]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:171
[com_171]
type=rectangle
x=3
y=189
width=425
height=59
layer=com_172
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:172
[com_172]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:173
[com_173]
type=rectangle
x=3
y=251
width=425
height=59
layer=com_174
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:174
[com_174]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:175
[com_175]
type=rectangle
x=3
y=313
width=425
height=59
layer=com_176
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:176
[com_176]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:177
[com_177]
type=rectangle
x=3
y=375
width=425
height=59
layer=com_178
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:178
[com_178]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:179
[com_179]
type=rectangle
x=3
y=437
width=425
height=59
layer=com_180
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:180
[com_180]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:181
[com_181]
type=rectangle
x=3
y=499
width=425
height=59
layer=com_182
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:182
[com_182]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:183
[com_183]
type=rectangle
x=3
y=561
width=425
height=59
layer=com_184
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:184
[com_184]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:185
[com_185]
type=rectangle
x=3
y=623
width=425
height=59
layer=com_186
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:186
[com_186]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:187
[com_187]
type=rectangle
x=3
y=685
width=425
height=59
layer=com_188
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:188
[com_188]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:189
[com_189]
type=rectangle
x=3
y=747
width=425
height=59
layer=com_190
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:190
[com_190]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:191
[com_191]
type=rectangle
x=3
y=809
width=425
height=59
layer=com_192
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:192
[com_192]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:193
[com_193]
type=rectangle
x=3
y=871
width=425
height=59
layer=com_194
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:194
[com_194]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:195
[com_195]
type=rectangle
x=3
y=933
width=425
height=59
layer=com_196
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:196
[com_196]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:197
[com_197]
type=rectangle
x=3
y=995
width=425
height=59
layer=com_198
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:198
[com_198]
type=layer
width=432
height=3200
layer=com_53
hide=yes

// 467:199
[com_199]
type=rectangle
x=3
y=58
width=425
height=59
layer=com_200
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:200
[com_200]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

// 467:201
[com_201]
type=rectangle
x=3
y=120
width=425
height=59
layer=com_202
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:202
[com_202]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

// 467:203
[com_203]
type=rectangle
x=3
y=182
width=425
height=59
layer=com_204
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:204
[com_204]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

// 467:205
[com_205]
type=rectangle
x=3
y=244
width=425
height=59
layer=com_206
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:206
[com_206]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

// 467:207
[com_207]
type=rectangle
x=3
y=306
width=425
height=59
layer=com_208
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:208
[com_208]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

// 467:209
[com_209]
type=rectangle
x=3
y=368
width=425
height=59
layer=com_210
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:210
[com_210]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

// 467:211
[com_211]
type=rectangle
x=3
y=430
width=425
height=59
layer=com_212
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:212
[com_212]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

// 467:213
[com_213]
type=rectangle
x=3
y=492
width=425
height=59
layer=com_214
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:214
[com_214]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

// 467:215
[com_215]
type=rectangle
x=3
y=554
width=425
height=59
layer=com_216
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:216
[com_216]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

// 467:217
[com_217]
type=rectangle
x=3
y=616
width=425
height=59
layer=com_218
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:218
[com_218]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

// 467:219
[com_219]
type=rectangle
x=3
y=678
width=425
height=59
layer=com_220
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:220
[com_220]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

// 467:221
[com_221]
type=rectangle
x=3
y=740
width=425
height=59
layer=com_222
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:222
[com_222]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

// 467:223
[com_223]
type=rectangle
x=3
y=802
width=425
height=59
layer=com_224
buttontype=1
trans=164
colour=0x000000
fill=yes

// 467:224
[com_224]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

// 467:225
[com_225]
type=text
x=41
y=30
width=417
height=13
textfont=b12_full
textalignh=centre
textshadow=yes
colour=0xff981f

// 467:226
[com_226]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:227
[com_227]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:228
[com_228]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:229
[com_229]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:230
[com_230]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:231
[com_231]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:232
[com_232]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:233
[com_233]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:234
[com_234]
type=graphic
x=460
y=5
width=36
height=36
graphic="steelborder2,0"

// 467:235
[com_235]
type=rectangle
x=10
y=319
width=500
height=32
colour=0x000000
fill=yes

