// 422:0
[com_0]
type=rectangle
width=512
height=334
trans=100
colour=0x000000
fill=yes
script=varplayerbit_278 = 1

// 422:1
[com_1]
type=model
x=241
y=167
width=32
height=32
model=model_11230
modelangle=512,0,0
modelzoom=16
modelanim=seq_3166

