// 300:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 300:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 300:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 300:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 300:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 300:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 300:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 300:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 300:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 300:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 300:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 300:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 300:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 300:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 300:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 300:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 300:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 300:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 300:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 300:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 300:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 300:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 300:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 300:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 300:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 300:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 300:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 300:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 300:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 300:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 300:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 300:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 300:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 300:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 300:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 300:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 300:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 300:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 300:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 300:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 300:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 300:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 300:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 300:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 300:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 300:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 300:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 300:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 300:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 300:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 300:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 300:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 300:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 300:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 300:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 300:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 300:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 300:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 300:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 300:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 300:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 300:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 300:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 300:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 300:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 300:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 300:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 300:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 300:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 300:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 300:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 300:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 300:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 300:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 300:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 300:75
[com_75]
type=inv
x=76
y=65
width=8
height=5
paddingx=15
paddingy=15
op1=Value
op2=Buy 1
op3=Buy 5
op4=Buy 10

// 300:76
[com_76]
type=text
x=103
y=28
width=315
height=18
textfont=b12_full
text=Axe Shop
textalignh=centre
textshadow=yes
colour=0xff981f
colouractive=0xff981f

// 300:77
[com_77]
type=text
x=18
y=292
width=476
height=15
textfont=p12_full
text=Right-click on shop to buy item - Right-click on inventory to sell item
textalignh=centre
textshadow=yes
colour=0xff981f

// 300:78
[com_78]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 300:79
[com_79]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 300:80
[com_80]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 300:81
[com_81]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 300:82
[com_82]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 300:83
[com_83]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 300:84
[com_84]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 300:85
[com_85]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 300:86
[com_86]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 300:87
[com_87]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 300:88
[com_88]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 300:89
[com_89]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 300:90
[com_90]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 300:91
[com_91]
type=graphic
x=472
y=26
width=26
height=23
mouseoverlayer=com_93
buttontype=3
graphic="close_buttons,0"

// 300:92
[com_92]
type=graphic
x=5
y=4
width=26
height=23
layer=com_93
graphic="close_buttons,1"

// 300:93
[com_93]
type=layer
x=467
y=22
width=32
height=32
hide=yes

