// 477:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 477:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 477:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 477:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 477:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 477:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 477:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 477:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 477:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 477:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 477:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 477:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 477:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 477:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 477:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 477:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 477:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 477:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 477:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 477:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 477:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 477:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 477:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 477:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 477:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 477:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 477:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 477:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 477:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 477:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 477:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 477:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 477:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 477:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 477:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 477:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 477:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 477:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 477:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 477:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 477:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 477:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 477:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 477:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 477:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 477:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 477:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 477:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 477:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 477:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 477:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 477:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 477:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 477:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 477:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 477:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 477:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 477:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 477:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 477:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 477:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 477:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 477:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 477:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 477:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 477:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 477:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 477:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 477:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 477:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 477:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 477:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 477:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 477:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 477:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 477:75
[com_75]
type=inv
x=75
y=92
width=10
height=2
paddingx=15
paddingy=45
op1=Value
op2=Buy 1
op3=Buy 5
op4=Buy 10

// 477:76
[com_76]
type=text
x=85
y=29
width=363
height=14
textfont=b12_full
text=Custom Fur Clothing
textalignh=centre
textshadow=yes
colour=0xff981f

// 477:77
[com_77]
type=text
x=13
y=273
width=484
height=40
textfont=p12_full
text=Right-click an item in the shop to have it made for you.
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f

// 477:78
[com_78]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 477:79
[com_79]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 477:80
[com_80]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 477:81
[com_81]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 477:82
[com_82]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 477:83
[com_83]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 477:84
[com_84]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 477:85
[com_85]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 477:86
[com_86]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 477:87
[com_87]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 477:88
[com_88]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 477:89
[com_89]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 477:90
[com_90]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 477:91
[com_91]
type=text
x=32
y=144
width=126
height=14
textfont=p12_full
text=Larupia
textalignh=centre
textshadow=yes
colour=0x990000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_10095) + inv_total(interface_149:com_0, obj_10093) > 0

// 477:92
[com_92]
type=text
x=193
y=144
width=126
height=14
textfont=p12_full
text=Graahk
textalignh=centre
textshadow=yes
colour=0x990000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_10099) + inv_total(interface_149:com_0, obj_10097) > 0

// 477:93
[com_93]
type=text
x=354
y=144
width=126
height=14
textfont=p12_full
text=Kyatt 
textalignh=centre
textshadow=yes
colour=0x990000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_10103) + inv_total(interface_149:com_0, obj_10101) > 0

// 477:94
[com_94]
type=text
x=26
y=67
width=107
height=14
textfont=p12_full
text=Polar kebbit
textalignh=centre
textshadow=yes
colour=0x990000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_10117) > 1

// 477:95
[com_95]
type=text
x=143
y=67
width=110
height=14
textfont=p12_full
text=Common kebbit
textalignh=centre
textshadow=yes
colour=0x990000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_10121) > 1

// 477:96
[com_96]
type=text
x=256
y=67
width=111
height=14
textfont=p12_full
text=Feldip weasel
textalignh=centre
textshadow=yes
colour=0x990000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_10119) > 1

// 477:97
[com_97]
type=text
x=373
y=67
width=111
height=14
textfont=p12_full
text=Desert devil
textalignh=centre
textshadow=yes
colour=0x990000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_10123) > 1

// 477:98
[com_98]
type=text
x=31
y=221
width=121
height=14
textfont=p12_full
text=Dark kebbit
textalignh=centre
textshadow=yes
colour=0x990000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_10115) > 1

// 477:99
[com_99]
type=text
x=187
y=221
width=141
height=14
textfont=p12_full
text=Spotted kebbit
textalignh=centre
textshadow=yes
colour=0x990000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_10125) > 1

// 477:100
[com_100]
type=text
x=345
y=221
width=151
height=14
textfont=p12_full
text=Dashing kebbit
textalignh=centre
textshadow=yes
colour=0x990000
colouractive=0x00c000
script=inv_total(interface_149:com_0, obj_10127) > 1

// 477:101
[com_101]
type=graphic
x=469
y=26
width=26
height=23
mouseoverlayer=com_103
graphic="close_buttons,0"

// 477:102
[com_102]
type=graphic
x=8
y=6
width=26
height=23
layer=com_103
buttontype=3
graphic="close_buttons,1"

// 477:103
[com_103]
type=layer
x=461
y=19
width=32
height=32
hide=yes

