// 559:0
[com_0]
type=rectangle
width=512
height=334
trans=64
colour=0x3b2a1a
fill=yes

// 559:1
[com_1]
type=rectangle
x=16
y=327
width=486
height=4
trans=64
colour=0x140b02
fill=yes

// 559:2
[com_2]
type=rectangle
x=498
y=312
width=4
height=15
trans=64
colour=0x140b02
fill=yes

// 559:3
[com_3]
type=rectangle
x=489
y=6
width=4
height=305
trans=64
colour=0x140b02
fill=yes

// 559:4
[com_4]
type=model
x=226
y=175
width=32
height=32
model=model_27109
modelzoom=356

// 559:5
[com_5]
type=model
width=32
height=32
layer=com_7
model=model_27108
modelzoom=400

// 559:6
[com_6]
type=model
x=437
y=31
width=32
height=32
mouseoverlayer=com_7
model=model_27105
modelzoom=400

// 559:7
[com_7]
type=layer
x=437
y=31
width=32
height=32
hide=yes
buttontype=3

// 559:8
[com_8]
type=model
x=55
y=56
width=32
height=32
layer=com_23
model=model_27106
modelzoom=720

// 559:9
[com_9]
type=model
x=122
y=56
width=32
height=32
layer=com_23
model=model_27106
modelzoom=720

// 559:10
[com_10]
type=model
x=189
y=56
width=32
height=32
layer=com_23
model=model_27106
modelzoom=720

// 559:11
[com_11]
type=model
x=256
y=56
width=32
height=32
layer=com_23
model=model_27106
modelzoom=720

// 559:12
[com_12]
type=model
x=323
y=56
width=32
height=32
layer=com_23
model=model_27106
modelzoom=720

// 559:13
[com_13]
type=model
x=55
y=147
width=32
height=32
layer=com_23
model=model_27106
modelzoom=720

// 559:14
[com_14]
type=model
x=122
y=147
width=32
height=32
layer=com_23
model=model_27106
modelzoom=720

// 559:15
[com_15]
type=model
x=189
y=147
width=32
height=32
layer=com_23
model=model_27106
modelzoom=720

// 559:16
[com_16]
type=model
x=256
y=147
width=32
height=32
layer=com_23
model=model_27106
modelzoom=720

// 559:17
[com_17]
type=model
x=323
y=147
width=32
height=32
layer=com_23
model=model_27106
modelzoom=720

// 559:18
[com_18]
type=model
x=55
y=238
width=32
height=32
layer=com_23
model=model_27106
modelzoom=720

// 559:19
[com_19]
type=model
x=122
y=238
width=32
height=32
layer=com_23
model=model_27106
modelzoom=720

// 559:20
[com_20]
type=model
x=189
y=238
width=32
height=32
layer=com_23
model=model_27106
modelzoom=720

// 559:21
[com_21]
type=model
x=256
y=238
width=32
height=32
layer=com_23
model=model_27106
modelzoom=720

// 559:22
[com_22]
type=model
x=323
y=238
width=32
height=32
layer=com_23
model=model_27106
modelzoom=720

// 559:23
[com_23]
type=layer
width=412
height=332

// 559:24
[com_24]
type=model
x=55
y=56
width=32
height=32
model=null
modelzoom=400

// 559:25
[com_25]
type=model
x=122
y=56
width=32
height=32
model=null
modelzoom=400

// 559:26
[com_26]
type=model
x=189
y=56
width=32
height=32
model=null
modelzoom=400

// 559:27
[com_27]
type=model
x=256
y=56
width=32
height=32
model=null
modelzoom=400

// 559:28
[com_28]
type=model
x=323
y=56
width=32
height=32
model=null
modelzoom=400

// 559:29
[com_29]
type=model
x=55
y=147
width=32
height=32
model=null
modelzoom=400

// 559:30
[com_30]
type=model
x=122
y=147
width=32
height=32
model=null
modelzoom=400

// 559:31
[com_31]
type=model
x=189
y=147
width=32
height=32
model=null
modelzoom=400

// 559:32
[com_32]
type=model
x=256
y=147
width=32
height=32
model=null
modelzoom=400

// 559:33
[com_33]
type=model
x=323
y=147
width=32
height=32
model=null
modelzoom=400

// 559:34
[com_34]
type=model
x=55
y=238
width=32
height=32
model=null
modelzoom=400

// 559:35
[com_35]
type=model
x=122
y=238
width=32
height=32
model=null
modelzoom=400

// 559:36
[com_36]
type=model
x=189
y=238
width=32
height=32
model=null
modelzoom=400

// 559:37
[com_37]
type=model
x=256
y=238
width=32
height=32
model=null
modelzoom=400

// 559:38
[com_38]
type=model
x=323
y=238
width=32
height=32
model=null
modelzoom=400

// 559:39
[com_39]
type=layer
width=412
height=332

// 559:40
[com_40]
type=model
x=55
y=56
width=32
height=32
layer=com_39
model=model_27107
modelzoom=709

// 559:41
[com_41]
type=model
x=122
y=56
width=32
height=32
layer=com_39
model=model_27107
modelzoom=709

// 559:42
[com_42]
type=model
x=189
y=56
width=32
height=32
layer=com_39
model=model_27107
modelzoom=709

// 559:43
[com_43]
type=model
x=256
y=56
width=32
height=32
layer=com_39
model=model_27107
modelzoom=709

// 559:44
[com_44]
type=model
x=323
y=56
width=32
height=32
layer=com_39
model=model_27107
modelzoom=709

// 559:45
[com_45]
type=model
x=55
y=147
width=32
height=32
layer=com_39
model=model_27107
modelzoom=709

// 559:46
[com_46]
type=model
x=122
y=147
width=32
height=32
layer=com_39
model=model_27107
modelzoom=709

// 559:47
[com_47]
type=model
x=189
y=147
width=32
height=32
layer=com_39
model=model_27107
modelzoom=709

// 559:48
[com_48]
type=model
x=256
y=147
width=32
height=32
layer=com_39
model=model_27107
modelzoom=709

// 559:49
[com_49]
type=model
x=323
y=147
width=32
height=32
layer=com_39
model=model_27107
modelzoom=709

// 559:50
[com_50]
type=model
x=55
y=238
width=32
height=32
layer=com_39
model=model_27107
modelzoom=709

// 559:51
[com_51]
type=model
x=122
y=238
width=32
height=32
layer=com_39
model=model_27107
modelzoom=709

// 559:52
[com_52]
type=model
x=189
y=238
width=32
height=32
layer=com_39
model=model_27107
modelzoom=709

// 559:53
[com_53]
type=model
x=256
y=238
width=32
height=32
layer=com_39
model=model_27107
modelzoom=709

// 559:54
[com_54]
type=model
x=323
y=238
width=32
height=32
layer=com_39
model=model_27107
modelzoom=709

// 559:55
[com_55]
type=graphic
x=106
y=28
width=64
height=89
buttontype=4
graphicactive=overlay_multiway
script=varplayerbit_3802 = 1

// 559:56
[com_56]
type=graphic
x=173
y=28
width=64
height=89
buttontype=4
graphicactive=overlay_multiway
script=varplayerbit_3803 = 1

// 559:57
[com_57]
type=graphic
x=240
y=28
width=64
height=89
buttontype=4
graphicactive=overlay_multiway
script=varplayerbit_3804 = 1

// 559:58
[com_58]
type=graphic
x=307
y=28
width=64
height=89
buttontype=4
graphicactive=overlay_multiway
script=varplayerbit_3805 = 1

// 559:59
[com_59]
type=graphic
x=39
y=119
width=64
height=89
buttontype=4
graphicactive=overlay_multiway
script=varplayerbit_3806 = 1

// 559:60
[com_60]
type=graphic
x=106
y=119
width=64
height=89
buttontype=4
graphicactive=overlay_multiway
script=varplayerbit_3807 = 1

// 559:61
[com_61]
type=graphic
x=173
y=119
width=64
height=89
buttontype=4
graphicactive=overlay_multiway
script=varplayerbit_3808 = 1

// 559:62
[com_62]
type=graphic
x=240
y=119
width=64
height=89
buttontype=4
graphicactive=overlay_multiway
script=varplayerbit_3809 = 1

// 559:63
[com_63]
type=graphic
x=307
y=119
width=64
height=89
buttontype=4
graphicactive=overlay_multiway
script=varplayerbit_3810 = 1

// 559:64
[com_64]
type=graphic
x=39
y=209
width=64
height=89
buttontype=4
graphicactive=overlay_multiway
script=varplayerbit_3811 = 1

// 559:65
[com_65]
type=graphic
x=106
y=209
width=64
height=89
buttontype=4
graphicactive=overlay_multiway
script=varplayerbit_3812 = 1

// 559:66
[com_66]
type=graphic
x=173
y=209
width=64
height=89
buttontype=4
graphicactive=overlay_multiway
script=varplayerbit_3813 = 1

// 559:67
[com_67]
type=graphic
x=240
y=209
width=64
height=89
buttontype=4
graphicactive=overlay_multiway
script=varplayerbit_3814 = 1

// 559:68
[com_68]
type=graphic
x=307
y=209
width=64
height=89
buttontype=4
graphicactive=overlay_multiway
script=varplayerbit_3815 = 1

// 559:69
[com_69]
type=graphic
x=39
y=28
width=64
height=89
buttontype=4
graphicactive=overlay_multiway
script=varplayerbit_3801 = 1

// 559:70
[com_70]
type=graphic
x=414
y=255
width=29
height=29
mouseoverlayer=com_71
graphic="ame_confirm_button,0"

// 559:71
[com_71]
type=layer
x=409
y=250
width=40
height=40
hide=yes
buttontype=1

// 559:72
[com_72]
type=text
x=375
y=69
width=98
height=157
textfont=p12_full
text=Text for testing, remove at will. Text for testing, remove at will. Text for testing, remove at will. Text for testing, remove at will. Text for testing, remove at will. Text for testing, remove at will. 
textalignh=centre
textshadow=yes
colour=0xd1cdca

// 559:73
[com_73]
type=graphic
x=5
y=5
width=29
height=29
layer=com_71
graphic="ame_confirm_button,1"

// 559:74
[com_74]
type=graphic
y=1
width=40
height=40
layer=com_71

