// 261:0
[com_0]
type=graphic
x=75
y=206
width=40
height=40
buttontype=4
graphic="options_boxes,0"
graphicactive="options_boxes,1"
buttontext=Toggle Run
script=varplayer_173 = 1

// 261:1
[com_1]
type=graphic
x=75
y=152
width=40
height=40
buttontype=4
graphic="options_boxes,0"
graphicactive="options_boxes,1"
buttontext=Toggle Chat Effects
script=varplayer_171 = 0

// 261:2
[com_2]
type=graphic
x=131
y=152
width=40
height=40
buttontype=4
graphic="options_boxes,0"
graphicactive="options_boxes,1"
buttontext=Toggle Split Private Chat
script=varplayer_287 = 1

// 261:3
[com_3]
type=graphic
x=19
y=152
width=40
height=40
buttontype=4
graphic="options_boxes,0"
graphicactive="options_boxes,1"
buttontext=Toggle number of Mouse Buttons
script=varplayer_170 = 0

// 261:4
[com_4]
type=graphic
x=19
y=206
width=40
height=40
buttontype=4
graphic="options_boxes,0"
graphicactive="options_boxes,1"
buttontext=Toggle Accept Aid
script=varplayer_427 = 1

// 261:5
[com_5]
type=graphic
x=131
y=206
width=40
height=40
buttontype=1
graphic="options_boxes,0"
graphicactive="options_boxes,1"
buttontext=Open House Options

// 261:6
[com_6]
type=graphic
x=9
y=8
width=32
height=32
graphic="options_icons,0"

// 261:7
[com_7]
type=graphic
x=49
y=16
width=32
height=16
buttontype=5
graphic="options_slider,0"
graphicactive="options_slider,4"
buttontext=Adjust Screen Brightness
script=varplayer_166 = 1

// 261:8
[com_8]
type=graphic
x=81
y=16
width=32
height=16
buttontype=5
graphic="options_slider,1"
graphicactive="options_slider,5"
buttontext=Adjust Screen Brightness
script=varplayer_166 = 2

// 261:9
[com_9]
type=graphic
x=113
y=16
width=32
height=16
buttontype=5
graphic="options_slider,2"
graphicactive="options_slider,6"
buttontext=Adjust Screen Brightness
script=varplayer_166 = 3

// 261:10
[com_10]
type=graphic
x=145
y=16
width=32
height=16
buttontype=5
graphic="options_slider,3"
graphicactive="options_slider,7"
buttontext=Adjust Screen Brightness
script=varplayer_166 = 4

// 261:11
[com_11]
type=graphic
x=49
y=53
width=26
height=16
buttontype=5
graphic="options_slider_five,5"
graphicactive="options_slider_five,0"
buttontext=Adjust Music Volume
script=varplayer_168 = 4

// 261:12
[com_12]
type=graphic
x=75
y=53
width=26
height=16
buttontype=5
graphic="options_slider_five,6"
graphicactive="options_slider_five,1"
buttontext=Adjust Music Volume
script=varplayer_168 = 3

// 261:13
[com_13]
type=graphic
x=101
y=53
width=26
height=16
buttontype=5
graphic="options_slider_five,7"
graphicactive="options_slider_five,2"
buttontext=Adjust Music Volume
script=varplayer_168 = 2

// 261:14
[com_14]
type=graphic
x=127
y=53
width=26
height=16
buttontype=5
graphic="options_slider_five,8"
graphicactive="options_slider_five,3"
buttontext=Adjust Music Volume
script=varplayer_168 = 1

// 261:15
[com_15]
type=graphic
x=153
y=53
width=26
height=16
buttontype=5
graphic="options_slider_five,9"
graphicactive="options_slider_five,4"
buttontext=Adjust Music Volume
script=varplayer_168 = 0

// 261:16
[com_16]
type=graphic
x=49
y=89
width=26
height=16
buttontype=5
graphic="options_slider_five,5"
graphicactive="options_slider_five,0"
buttontext=Adjust Sound Effect Volume
script=varplayer_169 = 4

// 261:17
[com_17]
type=graphic
x=75
y=89
width=26
height=16
buttontype=5
graphic="options_slider_five,6"
graphicactive="options_slider_five,1"
buttontext=Adjust Sound Effect Volume
script=varplayer_169 = 3

// 261:18
[com_18]
type=graphic
x=101
y=89
width=26
height=16
buttontype=5
graphic="options_slider_five,7"
graphicactive="options_slider_five,2"
buttontext=Adjust Sound Effect Volume
script=varplayer_169 = 2

// 261:19
[com_19]
type=graphic
x=127
y=89
width=26
height=16
buttontype=5
graphic="options_slider_five,8"
graphicactive="options_slider_five,3"
buttontext=Adjust Sound Effect Volume
script=varplayer_169 = 1

// 261:20
[com_20]
type=graphic
x=153
y=89
width=26
height=16
buttontype=5
graphic="options_slider_five,9"
graphicactive="options_slider_five,4"
buttontext=Adjust Sound Effect Volume
script=varplayer_169 = 0

// 261:21
[com_21]
type=graphic
x=136
y=155
width=32
height=33
graphic="options_icons,5"

// 261:22
[com_22]
type=graphic
x=78
y=156
width=32
height=33
graphic="options_icons,3"

// 261:23
[com_23]
type=graphic
x=23
y=158
width=32
height=33
graphic="options_icons,4"

// 261:24
[com_24]
type=graphic
x=23
y=211
width=32
height=33
graphic="options_icons,6"

// 261:25
[com_25]
type=graphic
x=9
y=45
width=32
height=32
graphic="options_icons,1"
graphicactive="options_icons,7"
script=varplayer_168 = 4

// 261:26
[com_26]
type=graphic
x=9
y=81
width=32
height=32
graphic="options_icons,2"
graphicactive="options_icons,8"
script=varplayer_169 = 4

// 261:27
[com_27]
type=text
x=74
y=227
width=42
height=18
textfont=p12_full
text=%1%
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff9800
script0=runenergy_visible

// 261:28
[com_28]
type=graphic
x=86
y=210
width=27
height=34
graphic="options_icons_small,3"

// 261:29
[com_29]
type=graphic
x=49
y=126
width=26
height=16
buttontype=5
graphic="options_slider_five,5"
graphicactive="options_slider_five,0"
buttontext=Adjust Area Sound Effect Volume
script=varplayer_872 = 4

// 261:30
[com_30]
type=graphic
x=75
y=126
width=26
height=16
buttontype=5
graphic="options_slider_five,6"
graphicactive="options_slider_five,1"
buttontext=Adjust Area Sound Effect Volume
script=varplayer_872 = 3

// 261:31
[com_31]
type=graphic
x=101
y=126
width=26
height=16
buttontype=5
graphic="options_slider_five,7"
graphicactive="options_slider_five,2"
buttontext=Adjust Area Sound Effect Volume
script=varplayer_872 = 2

// 261:32
[com_32]
type=graphic
x=127
y=126
width=26
height=16
buttontype=5
graphic="options_slider_five,8"
graphicactive="options_slider_five,3"
buttontext=Adjust Area Sound Effect Volume
script=varplayer_872 = 1

// 261:33
[com_33]
type=graphic
x=153
y=126
width=26
height=16
buttontype=5
graphic="options_slider_five,9"
graphicactive="options_slider_five,4"
buttontext=Adjust Area Sound Effect Volume
script=varplayer_872 = 0

// 261:34
[com_34]
type=graphic
x=9
y=118
width=32
height=32
graphic="options_icons,14"
graphicactive="options_icons,15"
script=varplayer_872 = 4

// 261:35
[com_35]
type=graphic
x=136
y=211
width=32
height=32
graphic="options_icons,17"

// 261:36
[com_36]
type=tooltip
x=9
y=8
width=32
height=32
text=Adjust Screen Brightness

// 261:37
[com_37]
type=tooltip
x=9
y=45
width=32
height=32
text=Adjust Music Volume

// 261:38
[com_38]
type=tooltip
x=9
y=81
width=32
height=32
text=Adjust Sound Effect Volume

// 261:39
[com_39]
type=tooltip
x=9
y=117
width=32
height=32
text=Adjust Area Sound Volume

// 261:40
[com_40]
type=tooltip
x=59
y=58
width=41
height=40
layer=com_51
text=Run (on) Energy %1%
script0=runenergy_visible

// 261:41
[com_41]
type=tooltip
x=59
y=3
width=40
height=40
layer=com_53
text=Chat Effects<br>(currently on)

// 261:42
[com_42]
type=tooltip
x=115
y=3
width=40
height=40
layer=com_55
text=Split Private Chat<br>(currently on)

// 261:43
[com_43]
type=tooltip
x=2
y=2
width=41
height=41
layer=com_57
text=Mouse buttons<br>(currently 2)

// 261:44
[com_44]
type=tooltip
x=2
y=57
width=39
height=40
layer=com_59
text=Accept Aid (currently on)

// 261:45
[com_45]
type=tooltip
x=131
y=206
width=40
height=40
text=House Options

// 261:46
[com_46]
type=tooltip
x=58
y=56
width=41
height=40
layer=com_52
text=Run (off) Energy %1%
script0=runenergy_visible

// 261:47
[com_47]
type=tooltip
x=59
y=3
width=40
height=40
layer=com_54
text=Chat Effects<br>(currently off)

// 261:48
[com_48]
type=tooltip
x=115
y=3
width=40
height=40
layer=com_56
text=Split Private Chat<br>(currently off)

// 261:49
[com_49]
type=tooltip
x=1
y=3
width=41
height=41
layer=com_58
text=Mouse buttons<br>(currently 1)

// 261:50
[com_50]
type=tooltip
x=3
y=57
width=39
height=40
layer=com_60
text=Accept Aid (currently off)

// 261:51
[com_51]
type=layer
x=16
y=149
width=155
height=100

// 261:52
[com_52]
type=layer
x=16
y=149
width=155
height=100
hide=yes

// 261:53
[com_53]
type=layer
x=16
y=149
width=155
height=100

// 261:54
[com_54]
type=layer
x=16
y=149
width=155
height=100
hide=yes

// 261:55
[com_55]
type=layer
x=16
y=149
width=155
height=100

// 261:56
[com_56]
type=layer
x=16
y=149
width=155
height=100
hide=yes

// 261:57
[com_57]
type=layer
x=16
y=149
width=155
height=100

// 261:58
[com_58]
type=layer
x=16
y=149
width=150
height=100
hide=yes

// 261:59
[com_59]
type=layer
x=16
y=149
width=155
height=100

// 261:60
[com_60]
type=layer
x=16
y=149
width=155
height=100
hide=yes

