// 28:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 28:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 28:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 28:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 28:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 28:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 28:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 28:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 28:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 28:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 28:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 28:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 28:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 28:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 28:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 28:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 28:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 28:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 28:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 28:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 28:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 28:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 28:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 28:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 28:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 28:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 28:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 28:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 28:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 28:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 28:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 28:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 28:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 28:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 28:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 28:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 28:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 28:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 28:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 28:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 28:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 28:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 28:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 28:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 28:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 28:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 28:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 28:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 28:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 28:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 28:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 28:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 28:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 28:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 28:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 28:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 28:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 28:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 28:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 28:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 28:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 28:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 28:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 28:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 28:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 28:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 28:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 28:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 28:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 28:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 28:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 28:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 28:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 28:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 28:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 28:75
[com_75]
type=text
x=109
y=60
width=70
height=25
buttontype=1
textfont=p12_full
text=Iron: %1
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
script=varplayerbit_942 > 0

// 28:76
[com_76]
type=text
x=21
y=29
width=470
height=20
textfont=b12_full
text=Blast Furnace Bar Stock
textalignh=centre
textshadow=yes
colour=0xff981f

// 28:77
[com_77]
type=text
x=23
y=60
width=71
height=25
buttontype=1
textfont=p12_full
text=Bronze: %1
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
buttontext=Take
script=varplayerbit_941 > 0

// 28:78
[com_78]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 28:79
[com_79]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 28:80
[com_80]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 28:81
[com_81]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 28:82
[com_82]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 28:83
[com_83]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 28:84
[com_84]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 28:85
[com_85]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 28:86
[com_86]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 28:87
[com_87]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 28:88
[com_88]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 28:89
[com_89]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 28:90
[com_90]
type=model
x=44
y=92
width=32
height=32
buttontype=1
model=model_9087
modelangle=219,1341,0
modelzoom=400

// 28:91
[com_91]
type=model
x=404
y=92
width=32
height=32
buttontype=1
model=model_9086
modelangle=219,1341,0
modelzoom=400

// 28:92
[com_92]
type=model
x=216
y=92
width=32
height=32
buttontype=1
model=model_9094
modelangle=219,1341,0
modelzoom=400

// 28:93
[com_93]
type=model
x=304
y=92
width=32
height=32
buttontype=1
model=model_9090
modelangle=219,1341,0
modelzoom=400

// 28:94
[com_94]
type=model
x=44
y=212
width=32
height=32
buttontype=1
model=model_9092
modelangle=219,1341,0
modelzoom=400

// 28:95
[com_95]
type=model
x=128
y=212
width=32
height=32
buttontype=1
model=model_9093
modelangle=219,1341,0
modelzoom=400

// 28:96
[com_96]
type=model
x=216
y=212
width=32
height=32
buttontype=1
model=model_9088
modelangle=219,1341,0
modelzoom=400

// 28:97
[com_97]
type=model
x=32
y=37
width=32
height=32
layer=com_117
buttontype=1
model=model_9091
modelangle=219,1341,0
modelzoom=400

// 28:98
[com_98]
type=model
x=128
y=92
width=32
height=32
buttontype=1
model=model_9089
modelangle=219,1341,0
modelzoom=400

// 28:99
[com_99]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 28:100
[com_100]
type=text
x=197
y=60
width=70
height=25
buttontype=1
textfont=p12_full
text=Steel: %1
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
script=varplayerbit_943 > 0

// 28:101
[com_101]
type=text
x=287
y=60
width=70
height=25
buttontype=1
textfont=p12_full
text=Mithril: %1
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
script=varplayerbit_944 > 0

// 28:102
[com_102]
type=text
x=385
y=60
width=70
height=25
buttontype=1
textfont=p12_full
text=Adamantite: %1
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
script=varplayerbit_945 > 0

// 28:103
[com_103]
type=text
x=25
y=180
width=70
height=25
buttontype=1
textfont=p12_full
text=Runite: %1
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
script=varplayerbit_946 > 0

// 28:104
[com_104]
type=text
x=111
y=180
width=70
height=25
buttontype=1
textfont=p12_full
text=Silver: %1
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
script=varplayerbit_948 > 0

// 28:105
[com_105]
type=text
x=199
y=180
width=70
height=25
buttontype=1
textfont=p12_full
text=Gold: %1
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
script=varplayerbit_947 > 0

// 28:106
[com_106]
type=text
x=4
y=5
width=93
height=14
layer=com_117
buttontype=1
textfont=p12_full
text=Perfect gold: %1
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
script=varplayerbit_958 > 0

// 28:107
[com_107]
type=text
x=368
y=297
width=123
height=17
textfont=p12_full
text=Coal to add: %2
textactive=Coal in furnace: %1
textalignh=right
textshadow=yes
colour=0xff981f
colouractive=0xff981f
script=varplayerbit_949 > 0
script1=varplayerbit_940

// 28:108
[com_108]
type=text
x=48
y=132
width=22
height=14
buttontype=1
textfont=p12_full
text=(All)
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
buttontext=Take
script=varplayerbit_941 > 0

// 28:109
[com_109]
type=text
x=132
y=132
width=22
height=14
buttontype=1
textfont=p12_full
text=(All)
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
buttontext=Take
script=varplayerbit_942 > 0

// 28:110
[com_110]
type=text
x=220
y=132
width=22
height=14
buttontype=1
textfont=p12_full
text=(All)
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
buttontext=Take
script=varplayerbit_943 > 0

// 28:111
[com_111]
type=text
x=308
y=132
width=22
height=14
buttontype=1
textfont=p12_full
text=(All)
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
buttontext=Take
script=varplayerbit_944 > 0

// 28:112
[com_112]
type=text
x=408
y=132
width=22
height=14
buttontype=1
textfont=p12_full
text=(All)
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
buttontext=Take
script=varplayerbit_945 > 0

// 28:113
[com_113]
type=text
x=52
y=252
width=22
height=14
buttontype=1
textfont=p12_full
text=(All)
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
buttontext=Take
script=varplayerbit_946 > 0

// 28:114
[com_114]
type=text
x=132
y=252
width=22
height=14
buttontype=1
textfont=p12_full
text=(All)
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
buttontext=Take
script=varplayerbit_948 > 0

// 28:115
[com_115]
type=text
x=220
y=252
width=22
height=14
buttontype=1
textfont=p12_full
text=(All)
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
buttontext=Take
script=varplayerbit_947 > 0

// 28:116
[com_116]
type=text
x=36
y=77
width=22
height=14
layer=com_117
buttontype=1
textfont=p12_full
text=(All)
textalignh=centre
textshadow=yes
colour=0x999999
colouractive=0xff981f
buttontext=Take
script=varplayerbit_958 > 0

// 28:117
[com_117]
type=layer
x=272
y=175
width=105
height=101
hide=yes

// 28:118
[com_118]
type=graphic
x=472
y=26
width=26
height=23
mouseoverlayer=com_120
graphic="close_buttons,0"

// 28:119
[com_119]
type=graphic
x=5
y=4
width=26
height=23
layer=com_120
buttontype=3
graphic="close_buttons,1"

// 28:120
[com_120]
type=layer
x=467
y=22
width=32
height=32
hide=yes

