// 184:0
[com_0]
type=model
x=241
y=124
width=40
height=12
model=model_3623
modelangle=496,1,0
modelzoom=578

// 184:1
[com_1]
type=text
x=118
y=35
width=340
height=35
textfont=q8_full
text=A....a lemming
textalignv=centre
colour=0x0f342e10

// 184:2
[com_2]
type=text
x=118
y=69
width=340
height=35
textfont=q8_full
text=B....a fryingpan
textalignv=centre
colour=0x0f342e10

// 184:3
[com_3]
type=text
x=118
y=103
width=340
height=35
textfont=q8_full
text=C....the disenfrachaised youth of 1940's Columbia
textalignv=centre
colour=0x0f342e10

// 184:4
[com_4]
type=text
x=117
y=20
width=80
height=17
textfont=q8_full
text=Is this:
colour=0x0f1b1805

// 184:5
[com_5]
type=rectangle
x=142
y=143
width=236
height=153
colour=0x0f342e10
fill=yes

// 184:6
[com_6]
type=rectangle
x=147
y=147
width=226
height=144
colour=0x0f5f551d
fill=yes

// 184:7
[com_7]
type=model
x=197
y=149
width=133
height=133
model=model_8829
modelangle=346,1883,0
modelzoom=400

// 184:8
[com_8]
type=model
x=85
y=36
width=32
height=32
buttontype=1
model=model_8965
modelangle=540,2043,0
modelzoom=4904
buttontext=select option A

// 184:9
[com_9]
type=model
x=84
y=69
width=32
height=32
buttontype=1
model=model_8966
modelangle=490,10,0
modelzoom=4859
buttontext=select option B

// 184:10
[com_10]
type=model
x=83
y=102
width=32
height=32
buttontype=1
model=model_8967
modelangle=385,24,0
modelzoom=4579
buttontext=select option C

// 184:11
[com_11]
type=graphic
x=370
y=9
width=26
height=23
mouseoverlayer=com_13
graphic="close_buttons,2"

// 184:12
[com_12]
type=graphic
x=4
y=5
width=26
height=23
layer=com_13
buttontype=3
graphic="close_buttons,3"

// 184:13
[com_13]
type=layer
x=366
y=4
width=32
height=32
hide=yes

