// 428:0
[com_0]
type=model
x=386
y=261
width=32
height=32
model=model_16350
modelzoom=784

// 428:1
[com_1]
type=text
x=311
y=245
width=182
height=32
textfont=p12_full
text=Room %1 of 8 <br>Thieving  level required: %2
textshadow=yes
colour=0xc8aa64
script0=varplayerbit_2377
script1=varplayerbit_2376

// 428:2
[com_2]
type=rectangle
x=310
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 0

// 428:3
[com_3]
type=rectangle
x=317
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 20

// 428:4
[com_4]
type=rectangle
x=324
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 40

// 428:5
[com_5]
type=rectangle
x=331
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 60

// 428:6
[com_6]
type=rectangle
x=338
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 80

// 428:7
[com_7]
type=rectangle
x=345
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 100

// 428:8
[com_8]
type=rectangle
x=352
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 120

// 428:9
[com_9]
type=rectangle
x=359
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 140

// 428:10
[com_10]
type=rectangle
x=366
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 160

// 428:11
[com_11]
type=rectangle
x=373
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 180

// 428:12
[com_12]
type=rectangle
x=380
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 200

// 428:13
[com_13]
type=rectangle
x=387
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 220

// 428:14
[com_14]
type=rectangle
x=394
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 240

// 428:15
[com_15]
type=rectangle
x=401
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 260

// 428:16
[com_16]
type=rectangle
x=408
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 280

// 428:17
[com_17]
type=rectangle
x=415
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 300

// 428:18
[com_18]
type=rectangle
x=422
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 320

// 428:19
[com_19]
type=rectangle
x=429
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 340

// 428:20
[com_20]
type=rectangle
x=436
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 360

// 428:21
[com_21]
type=rectangle
x=443
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 380

// 428:22
[com_22]
type=rectangle
x=450
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 400

// 428:23
[com_23]
type=rectangle
x=457
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 420

// 428:24
[com_24]
type=rectangle
x=464
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 440

// 428:25
[com_25]
type=rectangle
x=471
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 460

// 428:26
[com_26]
type=rectangle
x=478
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 480

// 428:27
[com_27]
type=rectangle
x=485
y=280
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=varplayerbit_2375 > 499

// 428:28
[com_28]
type=model
x=448
y=200
width=32
height=32
model=model_16351
modelangle=124,0,0
modelzoom=656

// 428:29
[com_29]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16353
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 0
script=varplayerbit_2375 < 21

// 428:30
[com_30]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16354
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 20
script=varplayerbit_2375 < 41

// 428:31
[com_31]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16355
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 40
script=varplayerbit_2375 < 61

// 428:32
[com_32]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16356
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 60
script=varplayerbit_2375 < 81

// 428:33
[com_33]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16357
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 80
script=varplayerbit_2375 < 101

// 428:34
[com_34]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16358
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 100
script=varplayerbit_2375 < 121

// 428:35
[com_35]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16359
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 120
script=varplayerbit_2375 < 141

// 428:36
[com_36]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16360
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 140
script=varplayerbit_2375 < 161

// 428:37
[com_37]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16361
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 160
script=varplayerbit_2375 < 181

// 428:38
[com_38]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16362
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 180
script=varplayerbit_2375 < 201

// 428:39
[com_39]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16363
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 200
script=varplayerbit_2375 < 221

// 428:40
[com_40]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16364
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 220
script=varplayerbit_2375 < 241

// 428:41
[com_41]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16365
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 240
script=varplayerbit_2375 < 261

// 428:42
[com_42]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16366
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 260
script=varplayerbit_2375 < 281

// 428:43
[com_43]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16367
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 280
script=varplayerbit_2375 < 301

// 428:44
[com_44]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16368
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 300
script=varplayerbit_2375 < 321

// 428:45
[com_45]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16369
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 320
script=varplayerbit_2375 < 341

// 428:46
[com_46]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16370
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 340
script=varplayerbit_2375 < 361

// 428:47
[com_47]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16371
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 360
script=varplayerbit_2375 < 381

// 428:48
[com_48]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16372
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 380
script=varplayerbit_2375 < 401

// 428:49
[com_49]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16373
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 400
script=varplayerbit_2375 < 421

// 428:50
[com_50]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16374
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 420
script=varplayerbit_2375 < 441

// 428:51
[com_51]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16375
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 440
script=varplayerbit_2375 < 461

// 428:52
[com_52]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16376
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 460
script=varplayerbit_2375 < 481

// 428:53
[com_53]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16377
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 480
script=varplayerbit_2375 < 500

// 428:54
[com_54]
type=model
x=448
y=200
width=32
height=32
model=null
modelactive=model_16378
modelangle=133,0,0
modelzoom=656
script=varplayerbit_2375 > 499
script1=varplayerbit_2375

// 428:55
[com_55]
type=model
x=448
y=200
width=32
height=32
model=model_16352
modelangle=133,0,0
modelzoom=656

