// 125:0
[com_0]
type=rectangle
x=103
y=38
width=332
height=253
trans=192
colour=0x000000
fill=yes

// 125:1
[com_1]
type=graphic
x=103
y=37
width=88
height=60
graphic=tradebacking

// 125:2
[com_2]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 125:3
[com_3]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 125:4
[com_4]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 125:5
[com_5]
type=graphic
x=189
y=38
width=88
height=60
graphic=tradebacking

// 125:6
[com_6]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 125:7
[com_7]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 125:8
[com_8]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 125:9
[com_9]
type=graphic
x=277
y=40
width=88
height=60
graphic=tradebacking

// 125:10
[com_10]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 125:11
[com_11]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 125:12
[com_12]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 125:13
[com_13]
type=graphic
x=99
y=34
width=25
height=30
graphic="steelborder,0"

// 125:14
[com_14]
type=graphic
x=84
y=38
width=36
height=36
graphic="miscgraphics,2"

// 125:15
[com_15]
type=graphic
x=337
y=40
width=88
height=60
graphic=tradebacking

// 125:16
[com_16]
type=graphic
x=84
y=57
width=36
height=36
graphic="miscgraphics,2"

// 125:17
[com_17]
type=graphic
x=84
y=79
width=36
height=36
graphic="miscgraphics,2"

// 125:18
[com_18]
type=graphic
x=84
y=115
width=36
height=36
graphic="miscgraphics,2"

// 125:19
[com_19]
type=graphic
x=84
y=150
width=36
height=36
graphic="miscgraphics,2"

// 125:20
[com_20]
type=graphic
x=84
y=186
width=36
height=36
graphic="miscgraphics,2"

// 125:21
[com_21]
type=graphic
x=84
y=222
width=36
height=36
graphic="miscgraphics,2"

// 125:22
[com_22]
type=graphic
x=410
y=59
width=36
height=36
graphic="steelborder2,1"

// 125:23
[com_23]
type=graphic
x=410
y=95
width=36
height=36
graphic="steelborder2,1"

// 125:24
[com_24]
type=graphic
x=410
y=114
width=36
height=36
graphic="steelborder2,1"

// 125:25
[com_25]
type=graphic
x=410
y=150
width=36
height=36
graphic="steelborder2,1"

// 125:26
[com_26]
type=graphic
x=410
y=186
width=36
height=36
graphic="steelborder2,1"

// 125:27
[com_27]
type=graphic
x=410
y=222
width=36
height=36
graphic="steelborder2,1"

// 125:28
[com_28]
type=graphic
x=158
y=266
width=36
height=36
graphic="miscgraphics,3"

// 125:29
[com_29]
type=graphic
x=193
y=266
width=36
height=36
graphic="miscgraphics,3"

// 125:30
[com_30]
type=graphic
x=228
y=266
width=36
height=36
graphic="miscgraphics,3"

// 125:31
[com_31]
type=graphic
x=263
y=266
width=36
height=36
graphic="miscgraphics,3"

// 125:32
[com_32]
type=graphic
x=298
y=266
width=36
height=36
graphic="miscgraphics,3"

// 125:33
[com_33]
type=graphic
x=301
y=266
width=36
height=36
graphic="miscgraphics,3"

// 125:34
[com_34]
type=graphic
x=336
y=266
width=36
height=36
graphic="miscgraphics,3"

// 125:35
[com_35]
type=graphic
x=371
y=266
width=36
height=36
graphic="miscgraphics,3"

// 125:36
[com_36]
type=graphic
x=104
y=19
width=36
height=36
graphic="steelborder2,0"

// 125:37
[com_37]
type=graphic
x=120
y=19
width=36
height=36
graphic="steelborder2,0"

// 125:38
[com_38]
type=graphic
x=154
y=19
width=36
height=36
graphic="steelborder2,0"

// 125:39
[com_39]
type=graphic
x=190
y=19
width=36
height=36
graphic="steelborder2,0"

// 125:40
[com_40]
type=graphic
x=226
y=19
width=36
height=36
graphic="steelborder2,0"

// 125:41
[com_41]
type=graphic
x=262
y=19
width=36
height=36
graphic="steelborder2,0"

// 125:42
[com_42]
type=graphic
x=298
y=19
width=36
height=36
graphic="steelborder2,0"

// 125:43
[com_43]
type=graphic
x=334
y=19
width=36
height=36
graphic="steelborder2,0"

// 125:44
[com_44]
type=graphic
x=370
y=19
width=36
height=36
graphic="steelborder2,0"

// 125:45
[com_45]
type=graphic
x=337
y=98
width=88
height=60
graphic=tradebacking

// 125:46
[com_46]
type=graphic
x=213
y=50
width=36
height=36
graphic="steelborder2,0"

// 125:47
[com_47]
type=graphic
x=123
y=266
width=36
height=36
graphic="miscgraphics,3"

// 125:48
[com_48]
type=graphic
x=99
y=257
width=25
height=30
graphic="steelborder,2"

// 125:49
[com_49]
type=graphic
x=406
y=34
width=25
height=30
graphic="steelborder,1"

// 125:50
[com_50]
type=graphic
x=337
y=154
width=88
height=60
graphic=tradebacking

// 125:51
[com_51]
type=graphic
x=406
y=257
width=25
height=30
graphic="steelborder,3"

// 125:52
[com_52]
type=graphic
x=247
y=50
width=36
height=36
graphic="steelborder2,0"

// 125:53
[com_53]
type=graphic
x=350
y=50
width=36
height=36
graphic="steelborder2,0"

// 125:54
[com_54]
type=graphic
x=317
y=50
width=36
height=36
graphic="steelborder2,0"

// 125:55
[com_55]
type=graphic
x=282
y=50
width=36
height=36
graphic="steelborder2,0"

// 125:56
[com_56]
type=graphic
x=337
y=207
width=88
height=60
graphic=tradebacking

// 125:57
[com_57]
type=graphic
x=381
y=50
width=36
height=36
graphic="steelborder2,0"

// 125:58
[com_58]
type=graphic
x=180
y=50
width=36
height=36
graphic="steelborder2,0"

// 125:59
[com_59]
type=graphic
x=145
y=50
width=36
height=36
graphic="steelborder2,0"

// 125:60
[com_60]
type=graphic
x=123
y=50
width=36
height=36
graphic="steelborder2,0"

// 125:61
[com_61]
type=graphic
x=104
y=50
width=36
height=36
graphic="steelborder2,0"

// 125:62
[com_62]
type=graphic
x=338
y=221
width=88
height=60
graphic=tradebacking

// 125:63
[com_63]
type=graphic
x=176
y=221
width=88
height=60
graphic=tradebacking

// 125:64
[com_64]
type=graphic
x=105
y=221
width=88
height=60
graphic=tradebacking

// 125:65
[com_65]
type=graphic
x=250
y=221
width=88
height=60
graphic=tradebacking

// 125:66
[com_66]
type=graphic
x=389
y=50
width=36
height=36
graphic="steelborder2,0"

// 125:67
[com_67]
type=text
x=105
y=38
width=320
height=27
textfont=b12_full
text=Amazing Farming Equipment Store
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff9900

// 125:68
[com_68]
type=inv
x=168
y=104
width=3
height=2
paddingx=64
paddingy=32
op1=Remove

// 125:69
[com_69]
type=inv
x=168
y=232
width=3
height=1
paddingx=64
op1=Remove 1
op2=Remove 5
op3=Remove All
op4=Remove X

// 125:70
[com_70]
type=text
x=119
y=77
width=97
height=28
textfont=p12_full
text=Farming rake
textalignv=bottom
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1435 > 0

// 125:71
[com_71]
type=text
x=120
y=104
width=80
height=32
textfont=p12_full
text=%1/1
textshadow=yes
colour=0x872300
colouractive=0x7dd750
script=varplayerbit_1435 > 0

// 125:72
[com_72]
type=text
x=215
y=77
width=97
height=28
textfont=p12_full
text=Seed dibber
textalignv=bottom
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1436 > 0

// 125:73
[com_73]
type=text
x=216
y=104
width=48
height=14
textfont=p12_full
text=%1/1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1436 > 0

// 125:74
[com_74]
type=text
x=312
y=71
width=105
height=34
textfont=p12_full
text=All-purpose spade
textalignv=bottom
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1437 > 0

// 125:75
[com_75]
type=text
x=312
y=104
width=48
height=14
textfont=p12_full
text=%1/1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1437 > 0

// 125:76
[com_76]
type=text
x=119
y=135
width=98
height=34
textfont=p12_full
text=Secateurs
textalignv=bottom
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1438 > 0

// 125:77
[com_77]
type=text
x=120
y=168
width=80
height=32
textfont=p12_full
text=%1/1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1438 > 0

// 125:78
[com_78]
type=text
x=216
y=135
width=97
height=34
textfont=p12_full
text=Watering Can
textactive=Watering Can (%2)
textalignv=bottom
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1439 > 0
script1=varplayerbit_1439 -  + 1

// 125:79
[com_79]
type=text
x=216
y=168
width=80
height=32
textfont=p12_full
text=0/1
textactive=1/1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1439 > 0

// 125:80
[com_80]
type=text
x=312
y=135
width=112
height=34
textfont=p12_full
text=Gardening trowel
textalignv=bottom
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1440 > 0

// 125:81
[com_81]
type=text
x=312
y=168
width=80
height=31
textfont=p12_full
text=%1/1
textshadow=yes
colour=0x870000
colouractive=0x7dd764
script=varplayerbit_1440 > 0

// 125:82
[com_82]
type=text
x=120
y=199
width=97
height=34
textfont=p12_full
text=Empty buckets
textalignv=bottom
textshadow=yes
colour=0x870000
colouractive=0x7dd764
script=varplayerbit_1441 > 0

// 125:83
[com_83]
type=text
x=120
y=232
width=80
height=32
textfont=p12_full
text=%1/31
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1441 > 0

// 125:84
[com_84]
type=text
x=216
y=199
width=97
height=34
textfont=p12_full
text=Normal Compost
textalignv=bottom
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1442 > 0

// 125:85
[com_85]
type=text
x=216
y=232
width=80
height=32
textfont=p12_full
text=%1/255
textshadow=yes
colour=0x870000
colouractive=0x7dd764
script=varplayerbit_1442 > 0

// 125:86
[com_86]
type=text
x=312
y=199
width=114
height=34
textfont=p12_full
text=Super Compost
textalignv=bottom
textshadow=yes
colour=0x870000
colouractive=0x7dd764
script=varplayerbit_1443 > 0

// 125:87
[com_87]
type=text
x=312
y=232
width=80
height=32
textfont=p12_full
text=%1/255
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1443 > 0

// 125:88
[com_88]
type=graphic
x=401
y=41
width=26
height=23
mouseoverlayer=com_90
graphic="close_buttons,0"

// 125:89
[com_89]
type=graphic
x=4
y=6
width=26
height=23
layer=com_90
buttontype=3
graphic="close_buttons,1"

// 125:90
[com_90]
type=layer
x=397
y=35
width=32
height=32
hide=yes

