// 13:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 13:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 13:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 13:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 13:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 13:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 13:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 13:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 13:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 13:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 13:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 13:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 13:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 13:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 13:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 13:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 13:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 13:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 13:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 13:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 13:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 13:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 13:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 13:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 13:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 13:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 13:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 13:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 13:28
[com_28]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 13:29
[com_29]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 13:30
[com_30]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 13:31
[com_31]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 13:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 13:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 13:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 13:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 13:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 13:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 13:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 13:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 13:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 13:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 13:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 13:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 13:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 13:45
[com_45]
type=graphic
x=73
y=304
width=36
height=36
graphic="miscgraphics,3"

// 13:46
[com_46]
type=graphic
x=109
y=304
width=36
height=36
graphic="miscgraphics,3"

// 13:47
[com_47]
type=graphic
x=145
y=304
width=36
height=36
graphic="miscgraphics,3"

// 13:48
[com_48]
type=graphic
x=181
y=304
width=36
height=36
graphic="miscgraphics,3"

// 13:49
[com_49]
type=graphic
x=217
y=304
width=36
height=36
graphic="miscgraphics,3"

// 13:50
[com_50]
type=graphic
x=253
y=304
width=36
height=36
graphic="miscgraphics,3"

// 13:51
[com_51]
type=graphic
x=289
y=304
width=36
height=36
graphic="miscgraphics,3"

// 13:52
[com_52]
type=graphic
x=325
y=304
width=36
height=36
graphic="miscgraphics,3"

// 13:53
[com_53]
type=graphic
x=361
y=304
width=36
height=36
graphic="miscgraphics,3"

// 13:54
[com_54]
type=graphic
x=397
y=304
width=36
height=36
graphic="miscgraphics,3"

// 13:55
[com_55]
type=graphic
x=433
y=304
width=36
height=36
graphic="miscgraphics,3"

// 13:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 13:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 13:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 13:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 13:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 13:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 13:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 13:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 13:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 13:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 13:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 13:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 13:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 13:69
[com_69]
type=graphic
x=37
y=304
width=36
height=36
graphic="miscgraphics,3"

// 13:70
[com_70]
type=graphic
x=12
y=295
width=25
height=30
graphic="steelborder,2"

// 13:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 13:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 13:73
[com_73]
type=graphic
x=475
y=295
width=25
height=30
graphic="steelborder,3"

// 13:74
[com_74]
type=graphic
x=439
y=304
width=36
height=36
graphic="miscgraphics,3"

// 13:75
[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 13:76
[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 13:77
[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 13:78
[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 13:79
[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 13:80
[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 13:81
[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 13:82
[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 13:83
[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 13:84
[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 13:85
[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 13:86
[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 13:87
[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 13:88
[com_88]
type=graphic
x=455
y=272
width=25
height=30
graphic="steelborder,3"

// 13:89
[com_89]
type=graphic
x=347
y=281
width=36
height=36
graphic="miscgraphics,3"

// 13:90
[com_90]
type=graphic
x=322
y=242
width=25
height=30
graphic="steelborder,0"

// 13:91
[com_91]
type=graphic
x=347
y=227
width=36
height=36
graphic="steelborder2,0"

// 13:92
[com_92]
type=graphic
x=383
y=227
width=36
height=36
graphic="steelborder2,0"

// 13:93
[com_93]
type=graphic
x=419
y=227
width=36
height=36
graphic="steelborder2,0"

// 13:94
[com_94]
type=graphic
x=455
y=242
width=25
height=30
graphic="steelborder,1"

// 13:95
[com_95]
type=graphic
x=322
y=272
width=25
height=30
graphic="steelborder,2"

// 13:96
[com_96]
type=graphic
x=383
y=281
width=36
height=36
graphic="miscgraphics,3"

// 13:97
[com_97]
type=graphic
x=419
y=281
width=36
height=36
graphic="miscgraphics,3"

// 13:98
[com_98]
type=graphic
x=375
y=95
width=66
height=82
graphic=chest

// 13:99
[com_99]
type=graphic
x=411
y=157
width=77
height=82
graphic=coins

// 13:100
[com_100]
type=graphic
x=33
y=103
width=64
height=64
mouseoverlayer=com_120
buttontype=1
graphic=number_button
buttontext=Enter digit

// 13:101
[com_101]
type=graphic
x=127
y=103
width=64
height=64
mouseoverlayer=com_122
buttontype=1
graphic=number_button
buttontext=Enter digit

// 13:102
[com_102]
type=graphic
x=221
y=103
width=64
height=64
mouseoverlayer=com_124
buttontype=1
graphic=number_button
buttontext=Enter digit

// 13:103
[com_103]
type=graphic
x=305
y=103
width=64
height=64
mouseoverlayer=com_126
buttontype=1
graphic=number_button
buttontext=Enter digit

// 13:104
[com_104]
type=graphic
x=33
y=175
width=64
height=64
mouseoverlayer=com_128
buttontype=1
graphic=number_button
buttontext=Enter digit

// 13:105
[com_105]
type=graphic
x=127
y=175
width=64
height=64
mouseoverlayer=com_130
buttontype=1
graphic=number_button
buttontext=Enter digit

// 13:106
[com_106]
type=graphic
x=221
y=175
width=64
height=64
mouseoverlayer=com_132
buttontype=1
graphic=number_button
buttontext=Enter digit

// 13:107
[com_107]
type=graphic
x=33
y=247
width=64
height=64
mouseoverlayer=com_134
buttontype=1
graphic=number_button
buttontext=Enter digit

// 13:108
[com_108]
type=graphic
x=127
y=247
width=64
height=64
mouseoverlayer=com_136
buttontype=1
graphic=number_button
buttontext=Enter digit

// 13:109
[com_109]
type=graphic
x=221
y=247
width=64
height=64
mouseoverlayer=com_138
buttontype=1
graphic=number_button
buttontext=Enter digit

// 13:110
[com_110]
type=text
x=37
y=149
width=9
height=14
textfont=b12_full
text=0
colour=0xff7f00

// 13:111
[com_111]
type=text
x=131
y=149
width=9
height=14
textfont=b12_full
text=0
colour=0xff7f00

// 13:112
[com_112]
type=text
x=225
y=149
width=9
height=14
textfont=b12_full
text=0
colour=0xff7f00

// 13:113
[com_113]
type=text
x=309
y=149
width=9
height=14
textfont=b12_full
text=0
colour=0xff7f00

// 13:114
[com_114]
type=text
x=37
y=221
width=9
height=14
textfont=b12_full
text=0
colour=0xff7f00

// 13:115
[com_115]
type=text
x=131
y=221
width=9
height=14
textfont=b12_full
text=0
colour=0xff7f00

// 13:116
[com_116]
type=text
x=225
y=221
width=9
height=14
textfont=b12_full
text=0
colour=0xff7f00

// 13:117
[com_117]
type=text
x=37
y=293
width=9
height=14
textfont=b12_full
text=0
colour=0xff7f00

// 13:118
[com_118]
type=text
x=131
y=293
width=9
height=14
textfont=b12_full
text=0
colour=0xff7f00

// 13:119
[com_119]
type=text
x=225
y=293
width=9
height=14
textfont=b12_full
text=0
colour=0xff7f00

// 13:120
[com_120]
type=layer
x=33
y=103
width=64
height=64
hide=yes

// 13:121
[com_121]
type=graphic
width=64
height=64
layer=com_120
graphic=number_button

// 13:122
[com_122]
type=layer
x=127
y=103
width=64
height=64
hide=yes

// 13:123
[com_123]
type=graphic
width=64
height=64
layer=com_122
graphic=number_button

// 13:124
[com_124]
type=layer
x=221
y=103
width=64
height=64
hide=yes

// 13:125
[com_125]
type=graphic
width=64
height=64
layer=com_124
graphic=number_button

// 13:126
[com_126]
type=layer
x=305
y=103
width=64
height=64
hide=yes

// 13:127
[com_127]
type=graphic
width=64
height=64
layer=com_126
graphic=number_button

// 13:128
[com_128]
type=layer
x=33
y=175
width=64
height=64
hide=yes

// 13:129
[com_129]
type=graphic
width=64
height=64
layer=com_128
graphic=number_button

// 13:130
[com_130]
type=layer
x=127
y=175
width=64
height=64
hide=yes

// 13:131
[com_131]
type=graphic
width=64
height=64
layer=com_130
graphic=number_button

// 13:132
[com_132]
type=layer
x=221
y=175
width=64
height=64
hide=yes

// 13:133
[com_133]
type=graphic
width=64
height=64
layer=com_132
graphic=number_button

// 13:134
[com_134]
type=layer
x=33
y=247
width=64
height=64
hide=yes

// 13:135
[com_135]
type=graphic
width=64
height=64
layer=com_134
graphic=number_button

// 13:136
[com_136]
type=layer
x=127
y=247
width=64
height=64
hide=yes

// 13:137
[com_137]
type=graphic
width=64
height=64
layer=com_136
graphic=number_button

// 13:138
[com_138]
type=layer
x=221
y=247
width=64
height=64
hide=yes

// 13:139
[com_139]
type=graphic
width=64
height=64
layer=com_138
graphic=number_button

// 13:140
[com_140]
type=text
x=424
y=28
width=16
height=16
textfont=q8_full
text=?
textalignh=centre
textshadow=yes
colour=0xffff00

// 13:141
[com_141]
type=text
x=440
y=28
width=16
height=16
textfont=q8_full
text=?
textalignh=centre
textshadow=yes
colour=0xffff00

// 13:142
[com_142]
type=text
x=456
y=28
width=16
height=16
textfont=q8_full
text=?
textalignh=centre
textshadow=yes
colour=0xffff00

// 13:143
[com_143]
type=text
x=472
y=28
width=16
height=16
textfont=q8_full
text=?
textalignh=centre
textshadow=yes
colour=0xffff00

// 13:144
[com_144]
type=layer
x=328
y=248
width=146
height=48

// 13:145
[com_145]
type=graphic
width=104
height=104
layer=com_144
graphic=tex_brown

// 13:146
[com_146]
type=graphic
x=104
y=-1
width=104
height=104
layer=com_144
graphic=tex_brown

// 13:147
[com_147]
type=text
x=18
y=57
width=476
height=14
textfont=b12_full
text=Please enter your FOUR DIGIT PIN using the buttons below.
textalignh=centre
textshadow=yes
colour=0xff981f

// 13:148
[com_148]
type=text
x=327
y=274
width=148
height=17
buttontype=1
textfont=q8_full
text=I don't know it.
textalignh=centre
textshadow=yes
colour=0xff0000
mouseovercolour=0xff7f00

// 13:149
[com_149]
type=text
x=327
y=252
width=148
height=17
buttontype=1
textfont=q8_full
text=Exit
textalignh=centre
textshadow=yes
colour=0xff0000
mouseovercolour=0xff7f00

// 13:150
[com_150]
type=text
x=20
y=29
width=402
height=17
textfont=b12_full
text=YOUR PIN WILL BE DELETED IN X DAYS
textshadow=yes
colour=0xff0000

// 13:151
[com_151]
type=text
x=18
y=80
width=476
height=14
textfont=b12_full
text=Click the Nth digit...
textalignh=centre
textshadow=yes

