// 247:0
[com_0]
type=model
x=34
y=34
width=32
height=32
model=null
modelangle=40,1882,0
modelzoom=796

// 247:1
[com_1]
type=text
x=111
width=350
height=17
textfont=q8_full
text=Name
textalignh=centre
colour=0x800000

// 247:2
[com_2]
type=text
x=111
y=19
width=350
height=17
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

// 247:3
[com_3]
type=text
x=110
y=40
width=350
height=17
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

// 247:4
[com_4]
type=text
x=110
y=64
width=350
height=17
textfont=q8_full
text=Line3
textalignh=centre
colour=0x000000

