// 368:0
[com_0]
type=model
x=240
y=141
width=32
height=32
model=model_3033
modelangle=484,3,0
modelzoom=491

// 368:1
[com_1]
type=model
x=96
y=97
width=32
height=32
model=model_1842
modelangle=155,2037,0
modelzoom=591

// 368:2
[com_2]
type=model
x=98
y=154
width=32
height=32
model=model_2386
modelangle=218,115,0
modelzoom=385

// 368:3
[com_3]
type=model
x=93
y=254
width=32
height=32
model=model_2504
modelangle=148,1752,0
modelzoom=478

// 368:4
[com_4]
type=text
x=150
y=92
width=299
height=49
textfont=q8_full
text=Use rope to repair the Trawler's nets.
colour=0x4a4028

// 368:5
[com_5]
type=text
x=150
y=152
width=301
height=48
textfont=q8_full
text=Use Swamp Paste to repair leaks in the Ship's hull.
textlineheight=20
colour=0x4a4028

// 368:6
[com_6]
type=text
x=148
y=225
width=235
height=47
textfont=q8_full
text=If all else fails you can always try and bail the water out as well!
textlineheight=20
colour=0x4a4028

// 368:7
[com_7]
type=text
x=203
y=60
width=141
height=17
textfont=q8_full
text=How to play:
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xe5bd5d

// 368:8
[com_8]
type=graphic
x=449
y=42
width=26
height=23
mouseoverlayer=com_10
graphic="close_buttons,4"

// 368:9
[com_9]
type=graphic
x=2
y=3
width=26
height=23
layer=com_10
buttontype=3
graphic="close_buttons,5"

// 368:10
[com_10]
type=layer
x=447
y=39
width=32
height=32
hide=yes

