// 469:0
[com_0]
type=rectangle
x=1
width=511
height=335
colour=0x2d2406
fill=yes

// 469:1
[com_1]
type=model
x=272
y=98
width=32
height=32
model=model_19486
modelangle=309,1996,0
modelzoom=505

// 469:2
[com_2]
type=model
x=272
y=91
width=32
height=32
model=model_19487
modelangle=309,1996,0
modelzoom=505

// 469:3
[com_3]
type=text
x=65
y=232
width=32
height=32
buttontype=1
textfont=quill_oblique_large
text=Castle
colour=0xd4b082
colouractive=0xff3333
mouseovercolour=0xff3333

// 469:4
[com_4]
type=text
x=74
y=251
width=32
height=32
textfont=quill_oblique_large
text=Wars
colour=0xd4b082

// 469:5
[com_5]
type=text
x=53
y=126
width=32
height=32
textfont=quill_oblique_large
text=Grand
textlineheight=21
colour=0xd4b082

// 469:6
[com_6]
type=text
x=66
y=146
width=32
height=32
textfont=quill_oblique_large
text=Tree
colour=0xd4b082

// 469:7
[com_7]
type=text
x=358
y=27
width=32
height=32
textfont=quill_oblique_large
text=Varrock
colour=0xd4b082

// 469:8
[com_8]
type=text
x=199
y=119
width=32
height=32
textfont=quill_oblique_large
text=Entrana
colour=0xd4b082

// 469:9
[com_9]
type=text
x=266
y=54
width=32
height=32
textfont=quill_oblique_large
text=Taverley
colour=0xd4b082

// 469:10
[com_10]
type=text
x=290
y=132
width=32
height=32
textfont=quill_oblique_large
text=Crafting
colour=0xd4b082

// 469:11
[com_11]
type=text
x=305
y=151
width=32
height=32
textfont=quill_oblique_large
text=Guild
colour=0xd4b082

// 469:12
[com_12]
type=model
x=272
y=91
width=32
height=32
model=null
modelangle=307,1991,0
modelzoom=505

// 469:13
[com_13]
type=graphic
x=483
y=4
width=26
height=23
mouseoverlayer=com_15
graphic="close_buttons,6"

// 469:14
[com_14]
type=graphic
x=3
y=3
width=26
height=23
layer=com_15
buttontype=3
graphic="close_buttons,7"

// 469:15
[com_15]
type=layer
x=480
y=1
width=32
height=32
hide=yes

// 469:16
[com_16]
type=graphic
x=58
y=229
width=99
height=53
mouseoverlayer=com_34
buttontype=1

// 469:17
[com_17]
type=graphic
x=51
y=125
width=99
height=53
mouseoverlayer=com_31
buttontype=1

// 469:18
[com_18]
type=graphic
x=289
y=133
width=135
height=52
mouseoverlayer=com_24
buttontype=1

// 469:19
[com_19]
type=graphic
x=199
y=121
width=77
height=34
mouseoverlayer=com_29
buttontype=1

// 469:20
[com_20]
type=graphic
x=266
y=54
width=81
height=35
mouseoverlayer=com_27
buttontype=1

// 469:21
[com_21]
type=graphic
x=356
y=25
width=83
height=35
mouseoverlayer=com_26
buttontype=1

// 469:22
[com_22]
type=text
x=1
y=-1
width=32
height=32
layer=com_24
textfont=quill_oblique_large
text=Crafting
colour=0xdbdbb7

// 469:23
[com_23]
type=text
x=16
y=18
width=32
height=32
layer=com_24
textfont=quill_oblique_large
text=Guild
colour=0xdbdbb7

// 469:24
[com_24]
type=layer
x=289
y=133
width=135
height=52
hide=yes

// 469:25
[com_25]
type=text
x=2
y=2
width=32
height=32
layer=com_26
textfont=quill_oblique_large
text=Varrock
colour=0xdbdbb7

// 469:26
[com_26]
type=layer
x=356
y=25
width=84
height=37
hide=yes

// 469:27
[com_27]
type=layer
x=265
y=54
width=82
height=36
hide=yes

// 469:28
[com_28]
type=text
x=1
width=32
height=32
layer=com_27
textfont=quill_oblique_large
text=Taverley
colour=0xdbdbb7

// 469:29
[com_29]
type=layer
x=199
y=121
width=77
height=33
hide=yes

// 469:30
[com_30]
type=text
y=-2
width=32
height=32
layer=com_29
textfont=quill_oblique_large
text=Entrana
colour=0xdbdbb7

// 469:31
[com_31]
type=layer
x=51
y=125
width=99
height=53
hide=yes

// 469:32
[com_32]
type=text
x=2
y=1
width=32
height=32
layer=com_31
textfont=quill_oblique_large
text=Grand
colour=0xdbdbb7

// 469:33
[com_33]
type=text
x=15
y=21
width=32
height=32
layer=com_31
textfont=quill_oblique_large
text=Tree
colour=0xdbdbb7

// 469:34
[com_34]
type=layer
x=58
y=229
width=99
height=53
hide=yes

// 469:35
[com_35]
type=text
x=7
y=3
width=32
height=32
layer=com_34
textfont=quill_oblique_large
text=Castle
colour=0xdbdbb7

// 469:36
[com_36]
type=text
x=16
y=22
width=32
height=32
layer=com_34
textfont=quill_oblique_large
text=Wars
colour=0xdbdbb7

// 469:37
[com_37]
type=model
x=366
y=144
width=32
height=32
model=null
modelactive=model_19485
modelangle=301,1985,0
modelzoom=505

// 469:38
[com_38]
type=model
x=435
y=40
width=32
height=32
model=null
modelactive=model_19485
modelangle=301,1985,0
modelzoom=505

// 469:39
[com_39]
type=model
x=344
y=53
width=32
height=32
model=null
modelactive=model_19485
modelangle=301,1985,0
modelzoom=505

// 469:40
[com_40]
type=model
x=118
y=137
width=32
height=32
model=null
modelactive=model_19485
modelangle=301,1985,0
modelzoom=505

// 469:41
[com_41]
type=model
x=129
y=235
width=32
height=32
model=null
modelactive=model_19485
modelangle=301,1985,0
modelzoom=505

// 469:42
[com_42]
type=model
x=270
y=140
width=32
height=32
model=null
modelzoom=400

