// 287:0
[com_0]
type=layer
x=163
y=48
width=194
height=192
hide=yes
script=varplayer_261 = 2

// 287:1
[com_1]
type=model
x=247
y=145
width=32
height=32
model=model_3437
modelangle=512,0,0
modelzoom=430

// 287:2
[com_2]
type=inv
x=171
y=54
width=5
height=5
interactable=yes
paddingx=5
paddingy=5

// 287:3
[com_3]
type=model
x=247
y=145
width=32
height=32
model=model_4695
modelangle=512,0,0
modelzoom=444

// 287:4
[com_4]
type=graphic
x=484
y=4
width=26
height=23
mouseoverlayer=com_6
graphic="close_buttons,4"

// 287:5
[com_5]
type=graphic
x=4
y=3
width=26
height=23
layer=com_6
buttontype=3
graphic="close_buttons,5"

// 287:6
[com_6]
type=layer
x=480
y=1
width=32
height=32
hide=yes

