// 68:0
[com_0]
type=model
x=414
y=34
width=32
height=32
model=null
modelangle=40,166,0
modelzoom=796

// 68:1
[com_1]
type=text
x=20
width=350
height=17
textfont=q8_full
text=Name
textalignh=centre
colour=0x800000

// 68:2
[com_2]
type=text
x=21
y=39
width=350
height=17
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

