// 74:0
[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic="sworddecor,1"

// 74:1
[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic="sworddecor,0"

// 74:2
[com_2]
type=model
x=57
y=16
width=64
height=96
model=model_2636
modelangle=159,36,0
modelzoom=183

// 74:3
[com_3]
type=model
x=207
y=17
width=64
height=96
model=model_9836
modelangle=159,36,0
modelzoom=183

// 74:4
[com_4]
type=model
x=360
y=13
width=64
height=96
model=model_2365
modelangle=221,1877,0
modelzoom=400

// 74:5
[com_5]
type=text
x=34
y=12
width=105
height=85
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
buttontext=Churn 10
script=stat(cooking) > 20

// 74:6
[com_6]
type=text
x=34
y=12
width=105
height=85
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
buttontext=Churn 5
script=stat(cooking) > 20

// 74:7
[com_7]
type=text
x=34
y=12
width=105
height=85
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
buttontext=Churn 1
script=stat(cooking) > 20

// 74:8
[com_8]
type=text
x=182
y=9
width=105
height=88
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
buttontext=Churn 10
script=stat(cooking) > 37

// 74:9
[com_9]
type=text
x=182
y=9
width=105
height=88
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
buttontext=Churn 5
script=stat(cooking) > 37

// 74:10
[com_10]
type=text
x=182
y=9
width=105
height=88
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
buttontext=Churn 1
script=stat(cooking) > 37

// 74:11
[com_11]
type=text
x=337
y=12
width=105
height=88
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
buttontext=Churn 10
script=stat(cooking) > 47

// 74:12
[com_12]
type=text
x=337
y=12
width=105
height=88
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
buttontext=Churn 5
script=stat(cooking) > 47

// 74:13
[com_13]
type=text
x=337
y=12
width=105
height=88
buttontype=6
textfont=q8_full
textalignh=centre
colour=0x000000
buttontext=Churn 1
script=stat(cooking) > 47

// 74:14
[com_14]
type=text
x=64
y=-2
width=357
height=38
textfont=q8_full
text=What would you like to make?
textalignh=centre
textalignv=centre
colour=0x800000

// 74:15
[com_15]
type=text
x=35
y=12
width=104
height=85
textfont=q8_full
text=Churn Cream
textalignh=centre
textalignv=bottom
colour=0x000000
mouseovercolour=0xffffff

// 74:16
[com_16]
type=text
x=184
y=13
width=104
height=85
textfont=q8_full
text=Churn Butter
textalignh=centre
textalignv=bottom
colour=0x000000
mouseovercolour=0xffffff

// 74:17
[com_17]
type=text
x=339
y=13
width=104
height=85
textfont=q8_full
text=Churn Cheese
textalignh=centre
textalignv=bottom
colour=0x000000
mouseovercolour=0xffffff

