// 444:0
[com_0]
type=rectangle
width=520
height=400
trans=64
colour=0x000000
fill=yes

// 444:1
[com_1]
type=model
x=231
y=147
width=32
height=32
model=model_17345
modelangle=456,2041,0
modelzoom=594

// 444:2
[com_2]
type=model
x=231
y=147
width=32
height=32
model=model_17339
modelangle=456,2041,0
modelzoom=594

// 444:3
[com_3]
type=text
x=152
y=67
width=200
height=17
textfont=b12_full
text=Certificate of Qualification
textalignh=centre
colour=0x000000

// 444:4
[com_4]
type=text
x=171
y=89
width=162
height=58
textfont=q8_full
text=Earth Sciences Level 3<br>This is to certify that
textalignh=centre
colour=0x000000

// 444:5
[com_5]
type=text
x=231
y=152
width=47
height=17
textfont=q8_full
text=<name>
textalignh=centre
colour=0x000000

// 444:6
[com_6]
type=text
x=180
y=184
width=150
height=32
textfont=q8_full
text=has passed the Level 3<br>Earth Sciences exam.
textalignh=centre
colour=0x000000

// 444:7
[com_7]
type=graphic
x=483
y=5
width=26
height=23
mouseoverlayer=com_9
graphic="close_buttons,4"

// 444:8
[com_8]
type=graphic
x=4
y=3
width=26
height=23
layer=com_9
buttontype=3
graphic="close_buttons,5"

// 444:9
[com_9]
type=layer
x=479
y=2
width=32
height=32
hide=yes

