// 34:0
[com_0]
type=model
x=457
y=24
width=32
height=32
model=model_4607
modelangle=512,0,0
modelzoom=1600

// 34:1
[com_1]
type=text
x=437
y=76
width=75
height=15
textfont=p12_full
text=Draughts
textalignh=centre
textshadow=yes
colour=0xaaaaaa

// 34:2
[com_2]
type=text
x=437
y=95
width=75
height=15
textfont=p11_full
text=Rank: %1
textalignh=centre
textshadow=yes
colour=0xaaaaaa
script0=varplayer_354

