// 471:0
[com_0]
type=model
x=31
y=54
width=32
height=32
model=model_19723
modelzoom=600

// 471:1
[com_1]
type=model
x=24
y=20
width=32
height=32
layer=com_4
model=model_19721
modelzoom=800

// 471:2
[com_2]
type=model
x=13
y=20
width=32
height=32
layer=com_4
model=model_19721
modelzoom=800

// 471:3
[com_3]
type=model
x=18
y=6
width=32
height=32
layer=com_4
model=model_19721
modelzoom=800

// 471:4
[com_4]
type=layer
x=11
y=97
width=74
height=53

// 471:5
[com_5]
type=text
x=5
y=4
width=19
height=33
layer=com_23
textfont=quill_oblique_large
text=X
textshadow=yes
colour=0x996600

// 471:6
[com_6]
type=text
x=5
y=55
width=19
height=33
layer=com_23
textfont=quill_oblique_large
text=X
textshadow=yes
colour=0x996600

// 471:7
[com_7]
type=text
x=35
y=4
width=32
height=32
layer=com_23
textfont=quill_oblique_large
text=%1
textshadow=yes
colour=0xcccccc
script0=varplayerbit_2880

// 471:8
[com_8]
type=text
x=35
y=54
width=32
height=32
layer=com_23
textfont=quill_oblique_large
text=%1
textshadow=yes
colour=0xcccccc
script0=varplayerbit_2881

// 471:9
[com_9]
type=text
x=22
y=31
width=63
height=62
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 471:10
[com_10]
type=text
x=6
y=138
width=67
height=33
buttontype=1
textfont=quill_oblique_large
text=Relax
textalignh=centre
textshadow=yes
colour=0x999999
mouseovercolour=0x9999ff

// 471:11
[com_11]
type=text
x=34
y=175
width=50
height=73
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 471:12
[com_12]
type=text
x=106
y=176
width=53
height=74
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 471:13
[com_13]
type=model
x=51
y=31
width=32
height=32
model=model_19720
modelzoom=2000

// 471:14
[com_14]
type=model
x=51
y=58
width=32
height=32
model=model_19720
modelzoom=2000

// 471:15
[com_15]
type=model
x=72
y=102
width=32
height=32
model=model_19720
modelzoom=2000

// 471:16
[com_16]
type=model
x=57
y=188
width=32
height=32
model=model_19720
modelangle=1024,0,0
modelzoom=2000

// 471:17
[com_17]
type=model
x=130
y=176
width=32
height=32
model=model_19720
modelangle=1024,0,0
modelzoom=2000

// 471:18
[com_18]
type=model
x=130
y=206
width=32
height=32
model=model_19720
modelangle=1024,0,0
modelzoom=2000

// 471:19
[com_19]
type=model
x=67
y=140
width=32
height=32
model=model_19719
modelzoom=2000

// 471:20
[com_20]
type=model
x=112
y=192
width=32
height=32
model=model_19718
modelzoom=800

// 471:21
[com_21]
type=model
x=152
y=138
width=32
height=32
model=model_19484
modelangle=477,2041,0
modelzoom=1680

// 471:22
[com_22]
type=model
x=41
y=191
width=32
height=32
model=model_19722
modelzoom=800

// 471:23
[com_23]
type=layer
x=108
y=46
width=70
height=91

// 471:24
[com_24]
type=text
x=18
y=-2
width=162
height=32
textfont=quill_oblique_large
text=Balloon Controls
textshadow=yes
colour=0x996600

// 471:25
[com_25]
type=text
x=103
y=138
width=49
height=31
buttontype=1
textfont=quill_oblique_large
text=Bail 
textalignh=centre
textshadow=yes
colour=0x999999
mouseovercolour=0x9999ff

// 471:26
[com_26]
type=text
x=9
y=96
width=91
height=39
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 471:27
[com_27]
type=tooltip
x=34
y=175
width=51
height=73
text=Move down.

// 471:28
[com_28]
type=tooltip
x=105
y=175
width=53
height=73
text=Move down more.

// 471:29
[com_29]
type=tooltip
x=106
y=46
width=71
height=38
text=Sandbags left.

// 471:30
[com_30]
type=tooltip
x=108
y=96
width=71
height=40
text=Logs left.

// 471:31
[com_31]
type=tooltip
x=10
y=98
width=91
height=40
text=Move up.

// 471:32
[com_32]
type=tooltip
x=22
y=33
width=59
height=59
text=Move up more.

// 471:33
[com_33]
type=tooltip
x=103
y=137
width=78
height=32
text=We're doomed.

// 471:34
[com_34]
type=tooltip
x=6
y=139
width=80
height=27
text=Move forward.

