// 90:0
[com_0]
type=text
x=4
y=4
width=180
height=17
textfont=q8_full
text=%1
textalignh=centre
textshadow=yes
colour=0xff981f

// 90:1
[com_1]
type=graphic
x=16
y=5
width=72
height=36
layer=com_12
buttontype=5
graphic="combatboxes,0"
graphicactive="combatboxes,1"
buttontext=Bash
script=varplayer_43 = 0

// 90:2
[com_2]
type=graphic
x=16
y=40
width=72
height=36
layer=com_12
buttontype=5
graphic="combatboxes,0"
graphicactive="combatboxes,1"
buttontext=Pound
script=varplayer_43 = 1

// 90:3
[com_3]
type=graphic
x=16
y=75
width=72
height=36
layer=com_12
buttontype=5
graphic="combatboxes,0"
graphicactive="combatboxes,1"
buttontext=Focus
script=varplayer_43 = 2

// 90:4
[com_4]
type=graphic
x=100
y=5
width=70
height=46
layer=com_12
buttontype=1
graphic="combatboxes_large,0"
graphicactive="combatboxes_large,1"
buttontext=Spell
script=varplayerbit_2668 = 1

// 90:5
[com_5]
type=graphic
x=99
y=65
width=70
height=46
layer=com_12
buttontype=1
graphic="combatboxes_large,0"
graphicactive="combatboxes_large,1"
buttontext=Spell
script=varplayer_43 + varplayerbit_2668 = 3

// 90:6
[com_6]
type=graphic
x=36
y=10
width=34
height=24
layer=com_12
graphic="combaticons2,13"

// 90:7
[com_7]
type=graphic
x=36
y=45
width=34
height=24
layer=com_12
graphic="combaticons2,14"

// 90:8
[com_8]
type=graphic
x=36
y=80
width=34
height=24
layer=com_12
graphic="combaticons,19"

// 90:9
[com_9]
type=graphic
x=21
y=152
width=150
height=46
buttontype=1
graphic="combatboxes_very_large,0"
graphicactive="combatboxes_very_large,1"
buttontext=Auto Retaliate
script=varplayer_172 = 0

// 90:10
[com_10]
type=text
x=57
y=154
width=112
height=42
textfont=p12_full
text=Auto Retaliate <br>(Off)
textactive=Auto Retaliate <br>(On)
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f
colouractive=0xff981f
script=varplayer_172 = 0

// 90:11
[com_11]
type=text
x=99
y=94
width=70
height=13
layer=com_12
textfont=p11_full
text=Spell
textalignh=centre
textshadow=yes
colour=0xff981f

// 90:12
[com_12]
type=layer
x=4
y=40
width=183
height=162

// 90:13
[com_13]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:14
[com_14]
type=graphic
x=37
y=25
width=20
height=20
layer=com_13
graphic="magicon2,10"

// 90:15
[com_15]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:16
[com_16]
type=graphic
x=38
y=25
width=20
height=20
layer=com_15
graphic="magicon2,18"

// 90:17
[com_17]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:18
[com_18]
type=graphic
x=38
y=25
width=20
height=20
layer=com_17
graphic="magicon2,14"

// 90:19
[com_19]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:20
[com_20]
type=graphic
x=38
y=25
width=20
height=20
layer=com_19
graphic="magicon2,6"

// 90:21
[com_21]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:22
[com_22]
type=graphic
x=38
y=25
width=20
height=20
layer=com_21
graphic="magicon2,11"

// 90:23
[com_23]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:24
[com_24]
type=graphic
x=38
y=25
width=20
height=20
layer=com_23
graphic="magicon2,19"

// 90:25
[com_25]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:26
[com_26]
type=graphic
x=38
y=25
width=20
height=20
layer=com_25
graphic="magicon2,15"

// 90:27
[com_27]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:28
[com_28]
type=graphic
x=38
y=25
width=20
height=20
layer=com_27
graphic="magicon2,7"

// 90:29
[com_29]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:30
[com_30]
type=graphic
x=38
y=25
width=20
height=20
layer=com_29
graphic="magicon2,12"

// 90:31
[com_31]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:32
[com_32]
type=graphic
x=38
y=25
width=20
height=20
layer=com_31
graphic="magicon2,20"

// 90:33
[com_33]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:34
[com_34]
type=graphic
x=38
y=25
width=20
height=20
layer=com_33
graphic="magicon2,16"

// 90:35
[com_35]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:36
[com_36]
type=graphic
x=38
y=25
width=20
height=20
layer=com_35
graphic="magicon2,8"

// 90:37
[com_37]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:38
[com_38]
type=graphic
x=38
y=25
width=20
height=20
layer=com_37
graphic="magicon2,13"

// 90:39
[com_39]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:40
[com_40]
type=graphic
x=38
y=25
width=20
height=20
layer=com_39
graphic="magicon2,21"

// 90:41
[com_41]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:42
[com_42]
type=graphic
x=38
y=25
width=20
height=20
layer=com_41
graphic="magicon2,17"

// 90:43
[com_43]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:44
[com_44]
type=graphic
x=38
y=25
width=20
height=20
layer=com_43
graphic="magicon2,9"

// 90:45
[com_45]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:46
[com_46]
type=graphic
x=38
y=25
width=20
height=20
layer=com_45
graphic="magicon,0"

// 90:47
[com_47]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:48
[com_48]
type=graphic
x=38
y=25
width=20
height=20
layer=com_47
graphic="magicon,2"

// 90:49
[com_49]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:50
[com_50]
type=graphic
x=37
y=25
width=20
height=20
layer=com_49
graphic="magicon,4"

// 90:51
[com_51]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:52
[com_52]
type=graphic
x=38
y=25
width=20
height=20
layer=com_51
graphic="magicon,6"

// 90:53
[com_53]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:54
[com_54]
type=graphic
x=38
y=25
width=20
height=20
layer=com_53
graphic="magicon,8"

// 90:55
[com_55]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:56
[com_56]
type=graphic
x=38
y=25
width=20
height=20
layer=com_55
graphic="magicon,11"

// 90:57
[com_57]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:58
[com_58]
type=graphic
x=38
y=25
width=20
height=20
layer=com_57
graphic="magicon,14"

// 90:59
[com_59]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:60
[com_60]
type=graphic
x=38
y=25
width=20
height=20
layer=com_59
graphic="magicon,17"

// 90:61
[com_61]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:62
[com_62]
type=graphic
x=38
y=25
width=20
height=20
layer=com_61
graphic="magicon,20"

// 90:63
[com_63]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:64
[com_64]
type=graphic
x=38
y=25
width=20
height=20
layer=com_63
graphic="magicon,23"

// 90:65
[com_65]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:66
[com_66]
type=graphic
x=38
y=25
width=20
height=20
layer=com_65
graphic="magicon,25"

// 90:67
[com_67]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:68
[com_68]
type=graphic
x=38
y=25
width=20
height=20
layer=com_67
graphic="magicon,29"

// 90:69
[com_69]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:70
[com_70]
type=graphic
x=38
y=25
width=20
height=20
layer=com_69
graphic="magicon,31"

// 90:71
[com_71]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:72
[com_72]
type=graphic
x=38
y=25
width=20
height=20
layer=com_71
graphic="magicon,33"

// 90:73
[com_73]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:74
[com_74]
type=graphic
x=38
y=25
width=20
height=20
layer=com_73
graphic="magicon,36"

// 90:75
[com_75]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:76
[com_76]
type=graphic
x=38
y=25
width=20
height=20
layer=com_75
graphic="magicon,37"

// 90:77
[com_77]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:78
[com_78]
type=graphic
x=38
y=25
width=20
height=20
layer=com_77
graphic="magicon,19"

// 90:79
[com_79]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:80
[com_80]
type=graphic
x=38
y=25
width=20
height=20
layer=com_79
graphic="magicon2,5"

// 90:81
[com_81]
type=layer
x=87
y=49
width=93
height=114
layer=com_12
hide=yes

// 90:82
[com_82]
type=graphic
x=38
y=25
width=20
height=20
layer=com_81
graphic="magicon,45"

// 90:83
[com_83]
type=layer
x=87
y=49
width=93
height=114
layer=com_12

// 90:84
[com_84]
type=graphic
x=33
y=16
width=32
height=36
layer=com_83
graphic="sideicons_interface,6"

// 90:85
[com_85]
type=rectangle
y=1
width=155
height=22
layer=com_87
buttontype=1
trans=255
colour=0xffff00
buttontext=Use <col=00ff00>Special Attack

// 90:86
[com_86]
type=graphic
x=2
width=150
height=26
layer=com_87
graphic=combatboxes_special_attack

// 90:87
[com_87]
type=layer
x=19
y=205
width=158
height=64
hide=yes

// 90:88
[com_88]
type=model
x=4
y=9
width=146
height=9
layer=com_87
model=model_18552
modelangle=500,0,0
modelzoom=1153

// 90:89
[com_89]
type=model
x=4
y=9
width=146
height=9
layer=com_87
model=model_18553
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 99

// 90:90
[com_90]
type=model
x=4
y=9
width=146
height=9
layer=com_87
model=model_18555
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 199

// 90:91
[com_91]
type=model
x=4
y=9
width=146
height=9
layer=com_87
model=model_18556
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 299

// 90:92
[com_92]
type=model
x=4
y=9
width=146
height=9
layer=com_87
model=model_18557
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 399

// 90:93
[com_93]
type=model
x=4
y=9
width=146
height=9
layer=com_87
model=model_18558
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 499

// 90:94
[com_94]
type=model
x=4
y=9
width=146
height=9
layer=com_87
model=model_18559
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 599

// 90:95
[com_95]
type=model
x=4
y=9
width=146
height=9
layer=com_87
model=model_18560
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 699

// 90:96
[com_96]
type=model
x=4
y=9
width=146
height=9
layer=com_87
model=model_18561
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 799

// 90:97
[com_97]
type=model
x=4
y=9
width=146
height=9
layer=com_87
model=model_18562
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 899

// 90:98
[com_98]
type=model
x=4
y=9
width=146
height=9
layer=com_87
model=model_18554
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 999

// 90:99
[com_99]
type=text
x=18
y=8
width=117
height=11
layer=com_87
textfont=p11_full
text=S P E C I A L  A T T A C K
textactive=<col=ffff00>S P E C I A L  A T T A C K
colour=0x000010
script=varplayer_301 > 0

// 90:100
[com_100]
type=text
x=4
y=25
width=180
height=12
textfont=p11_full
text=Combat Lvl: %1
textalignh=centre
textshadow=yes
colour=0xff981f
script0=stat_combat

// 90:101
[com_101]
type=text
x=20
y=66
width=70
height=13
textfont=p11_full
text=Bash
textalignh=centre
textshadow=yes
colour=0xff981f

// 90:102
[com_102]
type=text
x=20
y=101
width=70
height=13
textfont=p11_full
text=Pound
textalignh=centre
textshadow=yes
colour=0xff981f

// 90:103
[com_103]
type=text
x=20
y=136
width=70
height=13
textfont=p11_full
text=Focus
textalignh=centre
textshadow=yes
colour=0xff981f

// 90:104
[com_104]
type=graphic
x=105
y=50
width=36
height=36
graphic=combat_shield

// 90:105
[com_105]
type=text
x=103
y=74
width=70
height=13
textfont=p11_full
text=Spell
textalignh=centre
textshadow=yes
colour=0xff981f

// 90:106
[com_106]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:107
[com_107]
type=graphic
x=53
y=10
width=20
height=20
layer=com_106
graphic="magicon2,10"

// 90:108
[com_108]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:109
[com_109]
type=graphic
x=53
y=10
width=20
height=20
layer=com_108
graphic="magicon2,18"

// 90:110
[com_110]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:111
[com_111]
type=graphic
x=53
y=10
width=20
height=20
layer=com_110
graphic="magicon2,14"

// 90:112
[com_112]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:113
[com_113]
type=graphic
x=53
y=10
width=20
height=20
layer=com_112
graphic="magicon2,6"

// 90:114
[com_114]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:115
[com_115]
type=graphic
x=53
y=10
width=20
height=20
layer=com_114
graphic="magicon2,11"

// 90:116
[com_116]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:117
[com_117]
type=graphic
x=53
y=10
width=20
height=20
layer=com_116
graphic="magicon2,19"

// 90:118
[com_118]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:119
[com_119]
type=graphic
x=53
y=10
width=20
height=20
layer=com_118
graphic="magicon2,15"

// 90:120
[com_120]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:121
[com_121]
type=graphic
x=53
y=10
width=20
height=20
layer=com_120
graphic="magicon2,7"

// 90:122
[com_122]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:123
[com_123]
type=graphic
x=53
y=10
width=20
height=20
layer=com_122
graphic="magicon2,12"

// 90:124
[com_124]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:125
[com_125]
type=graphic
x=53
y=10
width=20
height=20
layer=com_124
graphic="magicon2,20"

// 90:126
[com_126]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:127
[com_127]
type=graphic
x=53
y=10
width=20
height=20
layer=com_126
graphic="magicon2,16"

// 90:128
[com_128]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:129
[com_129]
type=graphic
x=53
y=10
width=20
height=20
layer=com_128
graphic="magicon2,8"

// 90:130
[com_130]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:131
[com_131]
type=graphic
x=53
y=10
width=20
height=20
layer=com_130
graphic="magicon2,13"

// 90:132
[com_132]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:133
[com_133]
type=graphic
x=53
y=10
width=20
height=20
layer=com_132
graphic="magicon2,21"

// 90:134
[com_134]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:135
[com_135]
type=graphic
x=53
y=10
width=20
height=20
layer=com_134
graphic="magicon2,17"

// 90:136
[com_136]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:137
[com_137]
type=graphic
x=53
y=10
width=20
height=20
layer=com_136
graphic="magicon2,9"

// 90:138
[com_138]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:139
[com_139]
type=graphic
x=53
y=10
width=20
height=20
layer=com_138
graphic="magicon,0"

// 90:140
[com_140]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:141
[com_141]
type=graphic
x=53
y=10
width=20
height=20
layer=com_140
graphic="magicon,2"

// 90:142
[com_142]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:143
[com_143]
type=graphic
x=53
y=10
width=20
height=20
layer=com_142
graphic="magicon,4"

// 90:144
[com_144]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:145
[com_145]
type=graphic
x=53
y=10
width=20
height=20
layer=com_144
graphic="magicon,6"

// 90:146
[com_146]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:147
[com_147]
type=graphic
x=53
y=10
width=20
height=20
layer=com_146
graphic="magicon,8"

// 90:148
[com_148]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:149
[com_149]
type=graphic
x=53
y=10
width=20
height=20
layer=com_148
graphic="magicon,11"

// 90:150
[com_150]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:151
[com_151]
type=graphic
x=53
y=10
width=20
height=20
layer=com_150
graphic="magicon,14"

// 90:152
[com_152]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:153
[com_153]
type=graphic
x=53
y=10
width=20
height=20
layer=com_152
graphic="magicon,17"

// 90:154
[com_154]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:155
[com_155]
type=graphic
x=53
y=10
width=20
height=20
layer=com_154
graphic="magicon,20"

// 90:156
[com_156]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:157
[com_157]
type=graphic
x=53
y=10
width=20
height=20
layer=com_156
graphic="magicon,23"

// 90:158
[com_158]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:159
[com_159]
type=graphic
x=53
y=10
width=20
height=20
layer=com_158
graphic="magicon,25"

// 90:160
[com_160]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:161
[com_161]
type=graphic
x=53
y=10
width=20
height=20
layer=com_160
graphic="magicon,29"

// 90:162
[com_162]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:163
[com_163]
type=graphic
x=53
y=10
width=20
height=20
layer=com_162
graphic="magicon,31"

// 90:164
[com_164]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:165
[com_165]
type=graphic
x=53
y=10
width=20
height=20
layer=com_164
graphic="magicon,33"

// 90:166
[com_166]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:167
[com_167]
type=graphic
x=53
y=10
width=20
height=20
layer=com_166
graphic="magicon,36"

// 90:168
[com_168]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:169
[com_169]
type=graphic
x=53
y=10
width=20
height=20
layer=com_168
graphic="magicon,37"

// 90:170
[com_170]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:171
[com_171]
type=graphic
x=53
y=10
width=20
height=20
layer=com_170
graphic="magicon,19"

// 90:172
[com_172]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:173
[com_173]
type=graphic
x=53
y=10
width=20
height=20
layer=com_172
graphic="magicon2,5"

// 90:174
[com_174]
type=layer
x=86
width=100
height=100
layer=com_12
hide=yes

// 90:175
[com_175]
type=graphic
x=53
y=10
width=20
height=20
layer=com_174
graphic="magicon,45"

// 90:176
[com_176]
type=layer
x=73
y=39
width=115
height=139

// 90:177
[com_177]
type=graphic
x=64
y=5
width=32
height=36
layer=com_176
graphic="sideicons_interface,6"

// 90:178
[com_178]
type=tooltip
x=22
y=153
width=150
height=46
text=When active your player<br>will automatically fight<br>back if attacked

// 90:179
[com_179]
type=tooltip
x=31
y=4
width=70
height=47
layer=com_176
text=(Attack with<br>a spell)<br>(Magic XP)<br>(Defence XP)

// 90:180
[com_180]
type=tooltip
x=20
y=79
width=70
height=34
text=(Aggressive)<br>(Crush)<br>(Strength XP)

// 90:181
[com_181]
type=tooltip
x=20
y=117
width=70
height=31
text=(Defensive)<br>(Crush)<br>(Defence XP)

// 90:182
[com_182]
type=tooltip
width=70
height=47
layer=com_83
text=(Attack with<br>a spell)<br>(Magic XP)

// 90:183
[com_183]
type=tooltip
width=159
height=19
layer=com_87
text=Select to perform<br>a special attack

// 90:184
[com_184]
type=tooltip
width=72
height=44
layer=com_13
text=Smoke rush<br>(Magic XP)

// 90:185
[com_185]
type=tooltip
width=72
height=44
layer=com_15
text=Shadow rush<br>(Magic XP)

// 90:186
[com_186]
type=tooltip
width=72
height=44
layer=com_17
text=Blood rush<br>(Magic XP)

// 90:187
[com_187]
type=tooltip
width=72
height=44
layer=com_19
text=Ice rush<br>(Magic XP)

// 90:188
[com_188]
type=tooltip
width=72
height=44
layer=com_21
text=Smoke burst<br>(Magic XP)

// 90:189
[com_189]
type=tooltip
width=72
height=44
layer=com_23
text=Shadow burst<br>(Magic XP)

// 90:190
[com_190]
type=tooltip
width=72
height=44
layer=com_25
text=Blood Burst<br>(Magic XP)

// 90:191
[com_191]
type=tooltip
width=72
height=44
layer=com_27
text=Ice burst<br>(Magic XP)

// 90:192
[com_192]
type=tooltip
width=72
height=44
layer=com_31
text=Smoke blitz<br>(Magic XP)

// 90:193
[com_193]
type=tooltip
width=72
height=44
layer=com_33
text=Blood blitz<br>(Magic XP)

// 90:194
[com_194]
type=tooltip
width=72
height=44
layer=com_35
text=Ice blitz<br>(Magic XP)

// 90:195
[com_195]
type=tooltip
width=72
height=44
layer=com_37
text=Smoke barrage<br>(Magic XP)

// 90:196
[com_196]
type=tooltip
width=72
height=44
layer=com_39
text=Shadow<br>barrage<br>(Magic XP)

// 90:197
[com_197]
type=tooltip
width=72
height=44
layer=com_41
text=Blood barrage<br>(Magic XP)

// 90:198
[com_198]
type=tooltip
width=72
height=44
layer=com_43
text=Ice barrage<br>(Magic XP)

// 90:199
[com_199]
type=tooltip
width=72
height=44
layer=com_45
text=Wind strike<br>(Magic XP)

// 90:200
[com_200]
type=tooltip
width=72
height=44
layer=com_47
text=Water strike<br>(Magic XP)

// 90:201
[com_201]
type=tooltip
width=72
height=44
layer=com_49
text=Earth strike<br>(Magic XP)

// 90:202
[com_202]
type=tooltip
width=72
height=44
layer=com_51
text=Fire strike<br>(Magic XP)

// 90:203
[com_203]
type=tooltip
width=72
height=44
layer=com_53
text=Wind bolt<br>(Magic XP)

// 90:204
[com_204]
type=tooltip
width=72
height=44
layer=com_55
text=Water bolt<br>(Magic XP)

// 90:205
[com_205]
type=tooltip
width=72
height=44
layer=com_57
text=Earth bolt<br>(Magic XP)

// 90:206
[com_206]
type=tooltip
width=72
height=44
layer=com_59
text=Fire bolt<br>(Magic XP)

// 90:207
[com_207]
type=tooltip
width=72
height=44
layer=com_61
text=Wind blast<br>(Magic XP)

// 90:208
[com_208]
type=tooltip
width=72
height=44
layer=com_63
text=Water blast<br>(Magic XP)

// 90:209
[com_209]
type=tooltip
width=72
height=44
layer=com_65
text=Earth blast<br>(Magic XP)

// 90:210
[com_210]
type=tooltip
width=72
height=44
layer=com_67
text=Fire blast<br>(Magic XP)

// 90:211
[com_211]
type=tooltip
width=72
height=44
layer=com_69
text=Wind wave<br>(Magic XP)

// 90:212
[com_212]
type=tooltip
width=72
height=44
layer=com_71
text=Water wave<br>(Magic XP)

// 90:213
[com_213]
type=tooltip
width=72
height=44
layer=com_73
text=Earth wave<br>(Magic XP)

// 90:214
[com_214]
type=tooltip
width=72
height=44
layer=com_75
text=Fire wave<br>(Magic XP)

// 90:215
[com_215]
type=tooltip
width=72
height=44
layer=com_77
text=Crumble undead<br>(Magic XP)

// 90:216
[com_216]
type=tooltip
width=72
height=44
layer=com_79
text=Magic dart<br>(Magic XP)

// 90:217
[com_217]
type=tooltip
width=72
height=44
layer=com_81
text=Claws of Guthix<br>(Magic XP)

// 90:218
[com_218]
type=tooltip
x=20
y=45
width=70
height=34
text=(Accurate)<br>(Crush)<br>(Attack XP)

// 90:219
[com_219]
type=tooltip
width=72
height=44
layer=com_166
text=Earth wave<br>(Magic XP)<br>(Defence XP)

// 90:220
[com_220]
type=tooltip
width=72
height=44
layer=com_130
text=Smoke barrage<br>(Magic XP)<br>(Defence XP)

// 90:221
[com_221]
type=tooltip
width=72
height=44
layer=com_108
text=Shadow rush<br>(Magic XP)<br>(Defence XP)

// 90:222
[com_222]
type=tooltip
width=72
height=44
layer=com_162
text=Wind wave<br>(Magic XP)<br>(Defence XP)

// 90:223
[com_223]
type=tooltip
width=72
height=44
layer=com_146
text=Wind bolt<br>(Magic XP)<br>(Defence XP)

// 90:224
[com_224]
type=tooltip
width=72
height=44
layer=com_110
text=Blood rush<br>(Magic XP)<br>(Defence XP)

// 90:225
[com_225]
type=tooltip
width=72
height=44
layer=com_132
text=Shadow<br>barrage<br>(Magic XP)<br>(Defence XP)

// 90:226
[com_226]
type=tooltip
width=72
height=44
layer=com_156
text=Water blast<br>(Magic XP)<br>(Defence XP)

// 90:227
[com_227]
type=tooltip
width=72
height=44
layer=com_112
text=Ice rush<br>(Magic XP)<br>(Defence XP)

// 90:228
[com_228]
type=tooltip
width=72
height=44
layer=com_174
text=Claws of Guthix<br>(Magic XP)<br>(Defence XP)

// 90:229
[com_229]
type=tooltip
width=72
height=44
layer=com_134
text=Blood barrage<br>(Magic XP)<br>(Defence XP)

// 90:230
[com_230]
type=tooltip
width=72
height=44
layer=com_114
text=Smoke burst<br>(Magic XP)<br>(Defence XP)

// 90:231
[com_231]
type=tooltip
width=72
height=44
layer=com_148
text=Water bolt<br>(Magic XP)<br>(Defence XP)

// 90:232
[com_232]
type=tooltip
width=72
height=44
layer=com_170
text=Crumble undead<br>(Magic XP)<br>(Defence XP)

// 90:233
[com_233]
type=tooltip
width=72
height=44
layer=com_116
text=Shadow burst<br>(Magic XP)<br>(Defence XP)

// 90:234
[com_234]
type=tooltip
width=72
height=44
layer=com_136
text=Ice barrage<br>(Magic XP)<br>(Defence XP)

// 90:235
[com_235]
type=tooltip
width=72
height=44
layer=com_158
text=Earth blast<br>(Magic XP)<br>(Defence XP)

// 90:236
[com_236]
type=tooltip
width=72
height=44
layer=com_118
text=Blood Burst<br>(Magic XP)<br>(Defence XP)

// 90:237
[com_237]
type=tooltip
width=72
height=44
layer=com_150
text=Earth bolt<br>(Magic XP)<br>(Defence XP)

// 90:238
[com_238]
type=tooltip
width=72
height=44
layer=com_138
text=Wind strike<br>(Magic XP)<br>(Defence XP)

// 90:239
[com_239]
type=tooltip
width=72
height=44
layer=com_120
text=Ice burst<br>(Magic XP)<br>(Defence XP)

// 90:240
[com_240]
type=tooltip
width=72
height=44
layer=com_164
text=Water wave<br>(Magic XP)<br>(Defence XP)

// 90:241
[com_241]
type=tooltip
width=72
height=44
layer=com_168
text=Fire wave<br>(Magic XP)<br>(Defence XP)

// 90:242
[com_242]
type=tooltip
width=72
height=44
layer=com_140
text=Water strike<br>(Magic XP)<br>(Defence XP)

// 90:243
[com_243]
type=tooltip
width=72
height=44
layer=com_152
text=Fire bolt<br>(Magic XP)<br>(Defence XP)

// 90:244
[com_244]
type=tooltip
width=72
height=44
layer=com_124
text=Smoke blitz<br>(Magic XP)<br>(Defence XP)

// 90:245
[com_245]
type=tooltip
width=72
height=44
layer=com_160
text=Fire blast<br>(Magic XP)<br>(Defence XP)

// 90:246
[com_246]
type=tooltip
width=72
height=44
layer=com_142
text=Earth strike<br>(Magic XP)<br>(Defence XP)

// 90:247
[com_247]
type=tooltip
width=72
height=44
layer=com_126
text=Blood blitz<br>(Magic XP)<br>(Defence XP)

// 90:248
[com_248]
type=tooltip
width=72
height=44
layer=com_172
text=Magic dart<br>(Magic XP)<br>(Defence XP)

// 90:249
[com_249]
type=tooltip
width=72
height=44
layer=com_154
text=Wind blast<br>(Magic XP)<br>(Defence XP)

// 90:250
[com_250]
type=tooltip
width=72
height=44
layer=com_128
text=Ice blitz<br>(Magic XP)<br>(Defence XP)

// 90:251
[com_251]
type=tooltip
width=72
height=44
layer=com_144
text=Fire strike<br>(Magic XP)<br>(Defence XP)

// 90:252
[com_252]
type=tooltip
width=72
height=44
layer=com_106
text=Smoke rush<br>(Magic XP)<br>(Defence XP)

