// 190:0
[com_0]
type=model
x=245
y=122
width=32
height=32
model=model_3679
modelzoom=390

// 190:1
[com_1]
type=model
x=245
y=122
width=32
height=32
model=model_3680
modelzoom=390

// 190:2
[com_2]
type=model
x=245
y=122
width=32
height=32
model=model_3678
modelzoom=390

// 190:3
[com_3]
type=model
x=245
y=122
width=32
height=31
model=null
modelzoom=390

// 190:4
[com_4]
type=model
x=245
y=122
width=32
height=32
model=null
modelzoom=390

// 190:5
[com_5]
type=model
x=245
y=122
width=32
height=32
model=null
modelzoom=390

// 190:6
[com_6]
type=text
x=110
y=254
width=308
height=17
textfont=b12_full
text=Which shape is blue?
textalignh=centre
textshadow=yes
colour=0xbbb949

// 190:7
[com_7]
type=graphic
x=110
y=276
width=72
height=36
buttontype=1
graphic="combatboxes,0"

// 190:8
[com_8]
type=graphic
x=229
y=277
width=72
height=36
buttontype=1
graphic="combatboxes,0"

// 190:9
[com_9]
type=graphic
x=344
y=277
width=72
height=36
buttontype=1
graphic="combatboxes,0"

// 190:10
[com_10]
type=text
x=113
y=279
width=65
height=29
textfont=b12_full
text=Shape1
textalignh=centre
textalignv=centre
colour=0xbbb949

// 190:11
[com_11]
type=text
x=232
y=281
width=65
height=29
textfont=b12_full
text=Shape2
textalignh=centre
textalignv=centre
colour=0xbbb949

// 190:12
[com_12]
type=text
x=348
y=281
width=65
height=29
textfont=b12_full
text=Shape3
textalignh=centre
textalignv=centre
colour=0xbbb949

// 190:13
[com_13]
type=graphic
x=462
y=15
width=26
height=23
mouseoverlayer=com_15
graphic="close_buttons,4"

// 190:14
[com_14]
type=graphic
x=3
y=4
width=26
height=23
layer=com_15
buttontype=3
graphic="close_buttons,5"

// 190:15
[com_15]
type=layer
x=459
y=11
width=32
height=32
hide=yes

