// 270:0
[com_0]
type=rectangle
x=-15
y=-3
width=527
height=340
trans=66
colour=0x3300cc

// 270:1
[com_1]
type=model
x=123
y=290
width=32
height=34
model=model_18531
modelangle=624,6,0
modelzoom=753

// 270:2
[com_2]
type=model
x=240
y=155
width=32
height=32
model=model_3024
modelangle=345,84,0
modelzoom=613

// 270:3
[com_3]
type=text
x=67
y=297
width=139
height=17
textfont=q8_full
text=Misthalin & Asgarnia
textalignh=centre
colour=0x0f172f

// 270:4
[com_4]
type=model
x=41
y=43
width=32
height=32
model=model_18536
modelangle=302,175,0
modelzoom=999

// 270:5
[com_5]
type=model
x=95
y=197
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 0

// 270:6
[com_6]
type=model
x=128
y=200
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 1

// 270:7
[com_7]
type=model
x=156
y=218
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 2

// 270:8
[com_8]
type=model
x=232
y=222
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 3

// 270:9
[com_9]
type=model
x=253
y=239
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 4

// 270:10
[com_10]
type=model
x=290
y=246
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 5

// 270:11
[com_11]
type=model
x=336
y=264
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 6

// 270:12
[com_12]
type=model
x=94
y=164
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 7

// 270:13
[com_13]
type=model
x=121
y=169
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 8

// 270:14
[com_14]
type=model
x=159
y=177
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 9

// 270:15
[com_15]
type=model
x=223
y=190
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 10

// 270:16
[com_16]
type=model
x=261
y=204
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 11

// 270:17
[com_17]
type=model
x=304
y=214
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 12

// 270:18
[com_18]
type=model
x=343
y=225
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 13

// 270:19
[com_19]
type=model
x=121
y=129
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 14

// 270:20
[com_20]
type=model
x=154
y=138
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 15

// 270:21
[com_21]
type=model
x=193
y=149
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 16

// 270:22
[com_22]
type=model
x=233
y=159
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 17

// 270:23
[com_23]
type=model
x=272
y=168
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 18

// 270:24
[com_24]
type=model
x=311
y=175
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 19

// 270:25
[com_25]
type=model
x=346
y=185
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 20

// 270:26
[com_26]
type=model
x=139
y=98
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 21

// 270:27
[com_27]
type=model
x=172
y=112
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 22

// 270:28
[com_28]
type=model
x=205
y=118
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 23

// 270:29
[com_29]
type=model
x=242
y=126
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 24

// 270:30
[com_30]
type=model
x=278
y=134
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 25

// 270:31
[com_31]
type=model
x=316
y=145
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 26

// 270:32
[com_32]
type=model
x=354
y=151
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 27

// 270:33
[com_33]
type=model
x=147
y=75
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 28

// 270:34
[com_34]
type=model
x=183
y=83
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 29

// 270:35
[com_35]
type=model
x=215
y=88
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 30

// 270:36
[com_36]
type=model
x=252
y=96
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 31

// 270:37
[com_37]
type=model
x=285
y=104
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 32

// 270:38
[com_38]
type=model
x=326
y=112
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 33

// 270:39
[com_39]
type=model
x=361
y=120
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 34

// 270:40
[com_40]
type=model
x=151
y=44
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 35

// 270:41
[com_41]
type=model
x=184
y=51
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 36

// 270:42
[com_42]
type=model
x=214
y=58
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 37

// 270:43
[com_43]
type=model
x=241
y=62
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 38

// 270:44
[com_44]
type=model
x=288
y=75
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 39

// 270:45
[com_45]
type=model
x=329
y=81
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 40

// 270:46
[com_46]
type=model
x=367
y=89
width=32
height=32
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 41

// 270:47
[com_47]
type=text
x=275
y=213
width=139
height=17
textfont=q8_full
text=Lumbridge
textalignh=centre
colour=0xc9a341

// 270:48
[com_48]
type=text
x=192
y=177
width=101
height=17
textfont=q8_full
text=Draynor
textalignh=centre
colour=0xc9a341

// 270:49
[com_49]
type=text
x=294
y=97
width=120
height=20
textfont=q8_full
text=Varrock
textalignh=centre
colour=0xc9a341

// 270:50
[com_50]
type=text
x=146
y=105
width=93
height=17
textfont=q8_full
text=Falador
textalignh=centre
colour=0xc9a341

// 270:51
[com_51]
type=text
x=133
y=188
width=77
height=17
textfont=q8_full
text=Port
textalignh=centre
colour=0xc9a341

// 270:52
[com_52]
type=text
x=122
y=203
width=113
height=17
textfont=q8_full
text=Sarim
textalignh=centre
colour=0xc9a341

// 270:53
[com_53]
type=text
x=86
y=162
width=127
height=18
textfont=q8_full
text=Rimmington
textalignh=centre
colour=0xc9a341

// 270:54
[com_54]
type=text
x=170
y=63
width=123
height=21
textfont=q8_full
text=Edgeville
textalignh=centre
colour=0xc9a041

// 270:55
[com_55]
type=text
x=281
y=260
width=124
height=16
textfont=q8_full
text=Al Kharid
textalignh=centre
colour=0xc9a341

// 270:56
[com_56]
type=model
x=316
y=105
width=32
height=32
layer=com_60
model=model_18511
modelangle=489,162,0
modelzoom=3088

// 270:57
[com_57]
type=model
x=287
y=205
width=32
height=32
layer=com_60
model=model_18511
modelangle=381,186,0
modelzoom=3088

// 270:58
[com_58]
type=model
x=264
y=226
width=32
height=32
layer=com_60
model=model_18511
modelangle=489,162,0
modelzoom=3088

// 270:59
[com_59]
type=model
x=444
y=241
width=32
height=32
model=model_18511
modelangle=474,18,0
modelzoom=2064

// 270:60
[com_60]
type=layer
x=8
y=10
width=494
height=319
hide=yes

// 270:61
[com_61]
type=layer
x=425
y=220
width=72
height=64
mouseoverlayer=com_60
buttontype=1

// 270:62
[com_62]
type=text
x=424
y=213
width=73
height=29
textfont=p12_full
text=Show Tutors
textalignh=centre
colour=0xaba346

// 270:63
[com_63]
type=graphic
x=480
y=5
width=26
height=23
mouseoverlayer=com_65
graphic="close_buttons,4"

// 270:64
[com_64]
type=graphic
x=3
y=4
width=26
height=23
layer=com_65
buttontype=3
graphic="close_buttons,5"

// 270:65
[com_65]
type=layer
x=477
y=1
width=32
height=32
hide=yes

