// 407:0
[com_0]
type=rectangle
x=499
y=315
width=10
height=14
layer=com_10
trans=35
colour=0x503800
fill=yes

// 407:1
[com_1]
type=rectangle
x=489
y=315
width=10
height=14
layer=com_10
trans=50
colour=0x503800
fill=yes

// 407:2
[com_2]
type=rectangle
x=479
y=315
width=10
height=14
layer=com_10
trans=75
colour=0x503800
fill=yes

// 407:3
[com_3]
type=rectangle
x=469
y=315
width=10
height=14
layer=com_10
trans=90
colour=0x503800
fill=yes

// 407:4
[com_4]
type=rectangle
x=459
y=315
width=10
height=14
layer=com_10
trans=105
colour=0x503800
fill=yes

// 407:5
[com_5]
type=rectangle
x=449
y=315
width=10
height=14
layer=com_10
trans=120
colour=0x503800
fill=yes

// 407:6
[com_6]
type=rectangle
x=439
y=315
width=10
height=14
layer=com_10
trans=135
colour=0x503800
fill=yes

// 407:7
[com_7]
type=rectangle
x=429
y=315
width=10
height=14
layer=com_10
trans=150
colour=0x503800
fill=yes

// 407:8
[com_8]
type=rectangle
x=419
y=315
width=10
height=14
layer=com_10
trans=165
colour=0x503800
fill=yes

// 407:9
[com_9]
type=rectangle
x=409
y=315
width=10
height=14
layer=com_10
trans=180
colour=0x503800
fill=yes

// 407:10
[com_10]
type=layer
x=1
width=510
height=334

// 407:11
[com_11]
type=text
x=14
y=23
width=251
height=17
textfont=p12_full
text=Next Departure: 5 min
textshadow=yes
colour=0xcccccc

// 407:12
[com_12]
type=text
x=14
y=40
width=251
height=16
textfont=p12_full
text=Players Ready: 5
textshadow=yes
colour=0x59d231
colouractive=0xc31a0b

// 407:13
[com_13]
type=text
x=14
y=57
width=249
height=15
textfont=p12_full
text=(Need 5 to 25 players)
textshadow=yes
colour=0xded36a

// 407:14
[com_14]
type=text
x=14
y=73
width=249
height=15
textfont=p12_full
text=Points:pest_points
textshadow=yes
colour=0x99ffff

// 407:15
[com_15]
type=model
x=466
y=311
width=32
height=32
model=model_27182
modelangle=1972,132,0
modelzoom=1296

// 407:16
[com_16]
type=text
x=400
y=313
width=109
height=16
textfont=p12_full
text=eeeeeeeeeeeeee
textalignh=right
textshadow=yes
colour=0xff9966

