// 353:0
[com_0]
type=model
x=228
y=163
width=32
height=32
model=model_3395
modelangle=520,1,0
modelzoom=599

// 353:1
[com_1]
type=model
x=332
y=183
width=32
height=32
model=model_4154
modelangle=453,384,0
modelzoom=1351

// 353:2
[com_2]
type=model
x=341
y=180
width=32
height=32
model=model_4154
modelangle=457,455,0
modelzoom=1351

// 353:3
[com_3]
type=model
x=293
y=185
width=32
height=32
model=model_4154
modelangle=460,440,0
modelzoom=1351

// 353:4
[com_4]
type=model
x=285
y=189
width=32
height=32
model=model_4154
modelangle=495,310,0
modelzoom=1351

// 353:5
[com_5]
type=model
x=261
y=222
width=32
height=32
model=model_4154
modelangle=495,310,0
modelzoom=1351

// 353:6
[com_6]
type=model
x=269
y=216
width=32
height=32
model=model_4154
modelangle=481,231,0
modelzoom=1351

// 353:7
[com_7]
type=model
x=275
y=207
width=32
height=32
model=model_4154
modelangle=459,146,0
modelzoom=1351

// 353:8
[com_8]
type=model
x=150
y=229
width=32
height=32
model=model_3388
modelangle=493,18,0
modelzoom=531

// 353:9
[com_9]
type=model
x=165
y=49
width=32
height=32
model=model_3388
modelangle=527,515,0
modelzoom=531

// 353:10
[com_10]
type=model
x=279
y=195
width=32
height=32
model=model_4154
modelangle=459,146,0
modelzoom=1351

// 353:11
[com_11]
type=model
x=340
y=62
width=32
height=32
model=model_3388
modelangle=578,1030,0
modelzoom=531

// 353:12
[com_12]
type=model
x=276
y=202
width=32
height=32
model=model_4154
modelangle=455,110,0
modelzoom=1351

// 353:13
[com_13]
type=model
x=314
y=184
width=32
height=32
model=model_3396
modelangle=660,519,0
modelzoom=1332

// 353:14
[com_14]
type=model
x=321
y=245
width=32
height=32
model=model_3388
modelangle=576,1544,0
modelzoom=531

// 353:15
[com_15]
type=model
x=214
y=248
width=32
height=32
model=model_4154
modelangle=513,319,0
modelzoom=1351

// 353:16
[com_16]
type=model
x=207
y=254
width=32
height=32
model=model_4154
modelangle=392,189,0
modelzoom=1351

// 353:17
[com_17]
type=model
x=223
y=244
width=32
height=32
model=model_4154
modelangle=542,402,0
modelzoom=1351

// 353:18
[com_18]
type=model
x=233
y=243
width=32
height=32
model=model_4154
modelangle=579,479,0
modelzoom=1351

// 353:19
[com_19]
type=model
x=242
y=240
width=32
height=32
model=model_4154
modelangle=530,357,0
modelzoom=1351

// 353:20
[com_20]
type=model
x=284
y=233
width=32
height=32
model=model_3387
modelangle=463,2005,0
modelzoom=1587

// 353:21
[com_21]
type=model
x=328
y=208
width=32
height=32
model=model_3387
modelangle=554,105,0
modelzoom=1615

// 353:22
[com_22]
type=model
x=304
y=232
width=32
height=32
model=model_3387
modelangle=500,0,0
modelzoom=1431

// 353:23
[com_23]
type=model
x=311
y=208
width=32
height=32
model=model_3387
modelangle=407,1966,0
modelzoom=1611

// 353:24
[com_24]
type=model
x=249
y=234
width=32
height=32
model=model_4154
modelangle=479,195,0
modelzoom=1351

// 353:25
[com_25]
type=model
x=253
y=228
width=32
height=32
model=model_4154
modelangle=550,230,0
modelzoom=1351

// 353:26
[com_26]
type=model
x=283
y=124
width=32
height=32
model=model_3398
modelangle=512,0,0
modelzoom=553

// 353:27
[com_27]
type=model
x=274
y=174
width=32
height=32
model=model_3399
modelangle=535,233,0
modelzoom=553

// 353:28
[com_28]
type=model
x=223
y=186
width=32
height=32
model=model_3398
modelangle=512,513,0
modelzoom=553

// 353:29
[com_29]
type=model
x=180
y=186
width=32
height=32
model=model_3398
modelangle=512,513,0
modelzoom=553

// 353:30
[com_30]
type=model
x=283
y=79
width=32
height=32
model=model_3398
modelangle=512,0,0
modelzoom=553

// 353:31
[com_31]
type=model
x=260
y=164
width=32
height=32
model=model_3399
modelangle=535,233,0
modelzoom=772

// 353:32
[com_32]
type=model
x=251
y=143
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=1730

// 353:33
[com_33]
type=model
x=266
y=118
width=32
height=32
model=model_3398
modelangle=512,0,0
modelzoom=553

// 353:34
[com_34]
type=model
x=266
y=80
width=32
height=32
model=model_3398
modelangle=512,0,0
modelzoom=553

// 353:35
[com_35]
type=model
x=214
y=172
width=32
height=32
model=model_3398
modelangle=512,513,0
modelzoom=553

// 353:36
[com_36]
type=model
x=180
y=172
width=32
height=32
model=model_3398
modelangle=512,513,0
modelzoom=553

// 353:37
[com_37]
type=model
x=234
y=137
width=32
height=32
model=model_3399
modelangle=512,230,0
modelzoom=809

// 353:38
[com_38]
type=model
x=221
y=151
width=32
height=32
model=model_3399
modelangle=512,234,0
modelzoom=809

// 353:39
[com_39]
type=model
x=247
y=124
width=32
height=32
model=model_3399
modelangle=512,230,0
modelzoom=809

// 353:40
[com_40]
type=model
x=216
y=137
width=9
height=61
model=model_3399
modelangle=519,745,0
modelzoom=809

// 353:41
[com_41]
type=model
x=255
y=97
width=9
height=61
model=model_3399
modelangle=519,745,0
modelzoom=809

// 353:42
[com_42]
type=model
x=240
y=85
width=9
height=61
model=model_3399
modelangle=519,745,0
modelzoom=809

// 353:43
[com_43]
type=model
x=226
y=74
width=9
height=61
model=model_3399
modelangle=519,745,0
modelzoom=809

// 353:44
[com_44]
type=model
x=201
y=125
width=9
height=61
model=model_3399
modelangle=519,745,0
modelzoom=809

// 353:45
[com_45]
type=model
x=188
y=115
width=9
height=61
model=model_3399
modelangle=519,745,0
modelzoom=809

// 353:46
[com_46]
type=model
x=177
y=117
width=32
height=32
model=model_3399
modelangle=512,234,0
modelzoom=809

// 353:47
[com_47]
type=model
x=202
y=90
width=32
height=32
model=model_3399
modelangle=512,234,0
modelzoom=809

// 353:48
[com_48]
type=model
x=223
y=60
width=32
height=32
model=model_3398
modelangle=512,513,0
modelzoom=1005

// 353:49
[com_49]
type=model
x=155
y=139
width=32
height=32
model=model_3398
modelangle=512,1025,0
modelzoom=1005

// 353:50
[com_50]
type=model
x=149
y=160
width=32
height=32
model=model_3399
modelangle=512,493,0
modelzoom=1013

// 353:51
[com_51]
type=model
x=148
y=119
width=32
height=32
model=model_3399
modelangle=512,493,0
modelzoom=1013

// 353:52
[com_52]
type=model
x=202
y=48
width=32
height=32
model=model_3399
modelangle=512,1023,0
modelzoom=804

// 353:53
[com_53]
type=model
x=242
y=50
width=32
height=32
model=model_3399
modelangle=512,1023,0
modelzoom=804

// 353:54
[com_54]
type=model
x=310
y=76
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=1730

// 353:55
[com_55]
type=model
x=341
y=125
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=1796

// 353:56
[com_56]
type=model
x=232
y=213
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=1796

// 353:57
[com_57]
type=model
x=200
y=234
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=1796

// 353:58
[com_58]
type=model
x=178
y=214
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=2301

// 353:59
[com_59]
type=model
x=161
y=215
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=2259

// 353:60
[com_60]
type=model
x=169
y=203
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=2301

// 353:61
[com_61]
type=model
x=150
y=202
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=2301

// 353:62
[com_62]
type=model
x=238
y=151
width=32
height=32
model=model_3389
modelangle=474,1775,0
modelzoom=1349

// 353:63
[com_63]
type=graphic
x=473
y=13
width=26
height=23
mouseoverlayer=com_65
graphic="close_buttons,4"

// 353:64
[com_64]
type=graphic
x=3
y=7
width=26
height=23
layer=com_65
buttontype=3
graphic="close_buttons,5"

// 353:65
[com_65]
type=layer
x=470
y=6
width=32
height=32
hide=yes

