// 318:0
[com_0]
type=rectangle
x=-1
width=543
height=357
colour=0x000000
fill=yes

// 318:1
[com_1]
type=model
x=240
y=454
width=32
height=32
model=model_14282
modelangle=132,6,0
modelzoom=467
modelanim=seq_3814

