// 218:0
[com_0]
type=text
x=21
y=9
width=441
height=17
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

// 218:1
[com_1]
type=text
x=21
y=25
width=441
height=17
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

// 218:2
[com_2]
type=text
x=21
y=41
width=441
height=17
textfont=q8_full
text=Line3
textalignh=centre
colour=0x000000

// 218:3
[com_3]
type=text
x=21
y=57
width=441
height=17
textfont=q8_full
text=Line4
textalignh=centre
colour=0x000000

