// 52:0
[com_0]
type=layer
x=-13
y=-1
width=527
height=340

// 52:1
[com_1]
type=model
x=101
y=298
width=10
height=14
layer=com_0
model=model_12114
modelangle=465,1647,0
modelzoom=466
modelanim=seq_3308

// 52:2
[com_2]
type=model
x=-42
y=-4
width=32
height=32
layer=com_3
model=model_2333
modelangle=135,762,0
modelzoom=1040
modelanim=seq_527

// 52:3
[com_3]
type=layer
x=142
y=102
width=190
height=79
hide=yes
buttontype=1
buttontext=Build Stable Dugout

// 52:4
[com_4]
type=model
x=83
y=21
width=32
height=32
layer=com_3
model=model_12101
modelangle=162,1186,0
modelzoom=912
modelanim=seq_3306

// 52:5
[com_5]
type=model
x=-48
y=-19
width=32
height=32
layer=com_6
model=model_2333
modelangle=195,786,0
modelzoom=1424
modelanim=seq_527

// 52:6
[com_6]
type=layer
x=96
y=158
width=122
height=121
hide=yes
buttontype=1
buttontext=Build Dugout Canoe

// 52:7
[com_7]
type=model
x=40
y=42
width=27
height=26
layer=com_6
model=model_12103
modelangle=171,348,0
modelzoom=856
modelanim=seq_3306

// 52:8
[com_8]
type=layer
x=28
y=177
width=91
height=151
buttontype=1
buttontext=Make Log Canoe

// 52:9
[com_9]
type=model
x=-10
y=-15
width=32
height=32
layer=com_8
model=model_2333
modelangle=177,918,0
modelzoom=1552
modelanim=seq_527

// 52:10
[com_10]
type=model
x=86
y=61
width=32
height=32
layer=com_0
model=model_12114
modelangle=189,1654,0
modelzoom=400
modelanim=seq_3308

// 52:11
[com_11]
type=model
x=27
y=46
width=29
height=27
layer=com_8
model=model_12108
modelangle=180,459,0
modelzoom=1040
modelanim=seq_3306

// 52:12
[com_12]
type=model
x=-81
y=12
width=32
height=32
layer=com_13
model=model_2333
modelangle=159,726,0
modelzoom=784
modelanim=seq_527

// 52:13
[com_13]
type=layer
x=150
y=22
width=295
height=88
hide=yes
buttontype=1
buttontext=Make Waka Canoe

// 52:14
[com_14]
type=model
x=121
y=43
width=32
height=32
layer=com_13
model=model_12112
modelangle=81,150,0
modelzoom=656
modelanim=seq_3306

// 52:15
[com_15]
type=layer
x=420
y=6
width=80
height=16

// 52:16
[com_16]
type=text
x=83
y=42
width=105
height=12
layer=com_3
textfont=p11_full
text=A Stable Dugout.
textshadow=yes
colour=0x999999

// 52:17
[com_17]
type=text
x=208
y=59
width=84
height=13
layer=com_13
textfont=p11_full
text=A Waka.
textshadow=yes
colour=0x999999

// 52:18
[com_18]
type=text
x=36
y=88
width=79
height=12
layer=com_6
textfont=p11_full
text=A Dugout.
textshadow=yes
colour=0x999999

// 52:19
[com_19]
type=text
x=13
y=114
width=59
height=15
layer=com_8
textfont=p11_full
text=A Log.
textshadow=yes
colour=0x999999

// 52:20
[com_20]
type=text
x=130
y=287
width=380
height=15
textfont=b12_full
text=WHAT SORT OF CANOE WOULD YOU LIKE TO MAKE   ?
textactive=  
textalignh=centre
textshadow=yes

// 52:21
[com_21]
type=model
x=78
y=175
width=36
height=24
layer=com_0
model=model_12114
modelangle=306,1642,0
modelzoom=400
modelanim=seq_3308

// 52:22
[com_22]
type=model
x=183
y=-9
width=32
height=32
layer=com_0
model=model_12114
modelangle=198,1609,0
modelzoom=400
modelanim=seq_3308

// 52:23
[com_23]
type=model
x=166
y=18
width=32
height=32
layer=com_0
model=model_12105
modelangle=468,2035,0
modelzoom=400

// 52:24
[com_24]
type=text
y=2
width=74
height=150
layer=com_8
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make log canoe

// 52:25
[com_25]
type=text
x=7
y=14
width=113
height=110
layer=com_6
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make dugout canoe

// 52:26
[com_26]
type=text
x=9
y=1
width=180
height=68
layer=com_3
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make stable dugout canoe

// 52:27
[com_27]
type=text
x=11
y=2
width=282
height=85
layer=com_13
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Make waka canoe

// 52:28
[com_28]
type=model
x=-57
y=12
width=32
height=32
layer=com_29
model=model_2333
modelangle=159,726,0
modelzoom=784
modelanim=seq_527

// 52:29
[com_29]
type=layer
x=150
y=22
width=295
height=88

// 52:30
[com_30]
type=model
x=121
y=50
width=32
height=32
layer=com_29
model=model_12113
modelangle=81,152,0
modelzoom=588
modelanim=seq_3306

// 52:31
[com_31]
type=model
x=-46
y=-17
width=32
height=32
layer=com_32
model=model_2333
modelangle=195,786,0
modelzoom=1424
modelanim=seq_527

// 52:32
[com_32]
type=layer
x=96
y=158
width=122
height=121

// 52:33
[com_33]
type=model
x=38
y=38
width=32
height=32
layer=com_32
model=model_12104
modelangle=166,346,0
modelzoom=850
modelanim=seq_3306

// 52:34
[com_34]
type=model
x=-44
y=-3
width=32
height=32
layer=com_35
model=model_2333
modelangle=135,762,0
modelzoom=1040
modelanim=seq_527

// 52:35
[com_35]
type=layer
x=142
y=102
width=190
height=79

// 52:36
[com_36]
type=model
x=66
y=32
width=32
height=32
layer=com_35
model=model_12102
modelangle=164,1179,0
modelzoom=867
modelanim=seq_3306

// 52:37
[com_37]
type=text
x=13
y=9
width=108
height=114
layer=com_32
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 52:38
[com_38]
type=text
x=5
y=7
width=197
height=57
layer=com_35
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 52:39
[com_39]
type=text
x=8
y=1
width=285
height=86
layer=com_29
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 52:40
[com_40]
type=graphic
x=473
y=13
width=26
height=23
mouseoverlayer=com_42
graphic="close_buttons,4"

// 52:41
[com_41]
type=graphic
x=3
y=3
width=26
height=23
layer=com_42
buttontype=3
graphic="close_buttons,5"

// 52:42
[com_42]
type=layer
x=470
y=10
width=32
height=32
hide=yes

