// 242:0
[com_0]
type=model
x=34
y=34
width=32
height=32
model=null
modelangle=40,1882,0
modelzoom=796

// 242:1
[com_1]
type=text
x=111
width=350
height=17
textfont=q8_full
text=Name
textalignh=centre
colour=0x800000

// 242:2
[com_2]
type=text
x=111
y=28
width=350
height=17
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

// 242:3
[com_3]
type=text
x=111
y=56
width=350
height=17
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

// 242:4
[com_4]
type=text
x=111
y=80
width=350
height=17
buttontype=6
textfont=q8_full
text=Click here to continue
textalignh=centre
colour=0x0000ff
mouseovercolour=0xffffff

