// 515:0
[com_0]
type=rectangle
width=512
height=512
trans=196
colour=0x006633
fill=yes

// 515:1
[com_1]
type=model
x=250
y=122
width=32
height=32
trans=160
model=model_23154
modelzoom=61
modelanim=seq_1921

