// 464:0
[com_0]
type=layer
width=174
height=260
scrollheight=501

// 464:1
[com_1]
type=graphic
x=-2
y=6
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,0"
buttontext=Yes

// 464:2
[com_2]
type=graphic
x=42
y=6
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,1"
buttontext=No

// 464:3
[com_3]
type=graphic
x=86
y=6
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,3"
buttontext=Bow

// 464:4
[com_4]
type=graphic
x=130
y=6
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,4"
buttontext=Angry

// 464:5
[com_5]
type=graphic
x=-2
y=55
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,2"
buttontext=Think

// 464:6
[com_6]
type=graphic
x=42
y=55
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,8"
buttontext=Wave

// 464:7
[com_7]
type=graphic
x=86
y=55
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,20"
buttontext=Shrug

// 464:8
[com_8]
type=graphic
x=130
y=55
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,7"
buttontext=Cheer

// 464:9
[com_9]
type=graphic
x=-3
y=104
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,9"
buttontext=Beckon

// 464:10
[com_10]
type=graphic
x=39
y=104
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,6"
buttontext=Laugh

// 464:11
[com_11]
type=graphic
x=86
y=104
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,16"
buttontext=Jump for Joy

// 464:12
[com_12]
type=graphic
x=130
y=104
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,18"
buttontext=Yawn

// 464:13
[com_13]
type=graphic
x=-1
y=153
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,10"
buttontext=Dance

// 464:14
[com_14]
type=graphic
x=42
y=153
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,13"
buttontext=Jig

// 464:15
[com_15]
type=graphic
x=86
y=153
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,14"
buttontext=Spin

// 464:16
[com_16]
type=graphic
x=130
y=153
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,15"
buttontext=Headbang

// 464:17
[com_17]
type=graphic
x=-1
y=202
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,5"
buttontext=Cry

// 464:18
[com_18]
type=graphic
x=42
y=202
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,21"
buttontext=Blow Kiss

// 464:19
[com_19]
type=graphic
x=86
y=202
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,12"
buttontext=Panic

// 464:20
[com_20]
type=graphic
x=130
y=202
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,17"
buttontext=Raspberry

// 464:21
[com_21]
type=graphic
x=-1
y=252
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,11"
buttontext=Clap

// 464:22
[com_22]
type=graphic
x=42
y=252
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,19"
buttontext=Salute

// 464:23
[com_23]
type=graphic
x=86
y=252
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,6"
graphicactive="emotes,26"
buttontext=Goblin Bow
script=varplayerbit_532 > 6

// 464:24
[com_24]
type=graphic
x=130
y=252
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,7"
graphicactive="emotes,27"
buttontext=Goblin Salute
script=varplayerbit_532 > 6

// 464:25
[com_25]
type=graphic
x=-2
y=302
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,2"
graphicactive="emotes,22"
buttontext=Glass Box
script=testbit(varplayer_313, 1) = 1

// 464:26
[com_26]
type=graphic
x=42
y=302
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,3"
graphicactive="emotes,23"
buttontext=Climb Rope
script=testbit(varplayer_313, 2) = 1

// 464:27
[com_27]
type=graphic
x=86
y=302
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,4"
graphicactive="emotes,24"
buttontext=Lean
script=testbit(varplayer_313, 3) = 1

// 464:28
[com_28]
type=graphic
x=130
y=302
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,5"
graphicactive="emotes,25"
buttontext=Glass Wall
script=testbit(varplayer_313, 0) = 1

// 464:29
[com_29]
type=graphic
x=130
y=352
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,9"
graphicactive="emotes,29"
buttontext=Slap Head
script=testbit(varplayer_802, 1) = 1

// 464:30
[com_30]
type=graphic
x=42
y=352
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,10"
graphicactive="emotes,30"
buttontext=Stamp
script=testbit(varplayer_802, 3) = 1

// 464:31
[com_31]
type=graphic
x=86
y=352
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,11"
graphicactive="emotes,31"
buttontext=Flap
script=testbit(varplayer_802, 0) = 1

// 464:32
[com_32]
type=graphic
x=-6
y=352
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,12"
graphicactive="emotes,32"
buttontext=Idea
script=testbit(varplayer_802, 2) = 1

// 464:33
[com_33]
type=graphic
x=-3
y=403
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,13"
graphicactive="emotes,33"
buttontext=Zombie Walk
script=testbit(varplayer_313, 6) = 1

// 464:34
[com_34]
type=graphic
x=42
y=403
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,14"
graphicactive="emotes,34"
buttontext=Zombie Dance
script=testbit(varplayer_313, 5) = 1

// 464:35
[com_35]
type=graphic
x=86
y=403
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,8"
graphicactive="emotes,28"
buttontext=Scared
script=testbit(varplayer_313, 4) = 1

// 464:36
[com_36]
type=graphic
x=130
y=403
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,15"
graphicactive="emotes,35"
buttontext=Rabbit Hop
script=testbit(varplayer_313, 7) = 1

// 464:37
[com_37]
type=graphic
x=-1
y=453
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,16"
graphicactive="emotes,36"
buttontext=Skill Cape
script=testbit(varplayer_313, 8) = 1

// 464:38
[com_38]
type=tooltip
x=4
y=6
width=34
height=48
layer=com_0
text=Yes

// 464:39
[com_39]
type=tooltip
x=49
y=6
width=34
height=48
layer=com_0
text=No

// 464:40
[com_40]
type=tooltip
x=93
y=6
width=34
height=48
layer=com_0
text=Bow

// 464:41
[com_41]
type=tooltip
x=137
y=6
width=34
height=48
layer=com_0
text=Angry

// 464:42
[com_42]
type=tooltip
x=5
y=55
width=34
height=48
layer=com_0
text=Think

// 464:43
[com_43]
type=tooltip
x=47
y=55
width=34
height=48
layer=com_0
text=Wave

// 464:44
[com_44]
type=tooltip
x=93
y=55
width=34
height=48
layer=com_0
text=Shrug

// 464:45
[com_45]
type=tooltip
x=137
y=55
width=34
height=48
layer=com_0
text=Cheer

// 464:46
[com_46]
type=tooltip
x=4
y=104
width=34
height=48
layer=com_0
text=Beckon

// 464:47
[com_47]
type=tooltip
x=45
y=104
width=34
height=48
layer=com_0
text=Laugh

// 464:48
[com_48]
type=tooltip
x=94
y=104
width=34
height=48
layer=com_0
text=Jump for Joy

// 464:49
[com_49]
type=tooltip
x=138
y=104
width=34
height=48
layer=com_0
text=Yawn

// 464:50
[com_50]
type=tooltip
x=5
y=153
width=34
height=48
layer=com_0
text=Dance

// 464:51
[com_51]
type=tooltip
x=48
y=153
width=34
height=48
layer=com_0
text=Jig

// 464:52
[com_52]
type=tooltip
x=92
y=153
width=34
height=48
layer=com_0
text=Spin

// 464:53
[com_53]
type=tooltip
x=138
y=153
width=34
height=48
layer=com_0
text=Headbang

// 464:54
[com_54]
type=tooltip
x=6
y=202
width=34
height=48
layer=com_0
text=Cry

// 464:55
[com_55]
type=tooltip
x=46
y=202
width=34
height=48
layer=com_0
text=Blow Kiss

// 464:56
[com_56]
type=tooltip
x=94
y=202
width=34
height=48
layer=com_0
text=Panic

// 464:57
[com_57]
type=tooltip
x=136
y=202
width=34
height=48
layer=com_0
text=Raspberry

// 464:58
[com_58]
type=tooltip
x=4
y=252
width=34
height=48
layer=com_0
text=Clap

// 464:59
[com_59]
type=tooltip
x=49
y=252
width=34
height=48
layer=com_0
text=Salute

// 464:60
[com_60]
type=tooltip
x=92
y=252
width=34
height=48
layer=com_0
text=Goblin Bow

// 464:61
[com_61]
type=tooltip
x=137
y=252
width=34
height=48
layer=com_0
text=Goblin Salute

// 464:62
[com_62]
type=tooltip
x=-1
y=302
width=34
height=48
layer=com_0
text=Glass Box

// 464:63
[com_63]
type=tooltip
x=49
y=302
width=34
height=48
layer=com_0
text=Climb Rope

// 464:64
[com_64]
type=tooltip
x=94
y=302
width=34
height=48
layer=com_0
text=Lean

// 464:65
[com_65]
type=tooltip
x=136
y=302
width=34
height=48
layer=com_0
text=Glass Wall

// 464:66
[com_66]
type=tooltip
x=136
y=352
width=34
height=48
layer=com_0
text=Slap Head

// 464:67
[com_67]
type=tooltip
x=49
y=352
width=34
height=48
layer=com_0
text=Stamp

// 464:68
[com_68]
type=tooltip
x=91
y=352
width=34
height=48
layer=com_0
text=Flap

// 464:69
[com_69]
type=tooltip
x=5
y=352
width=34
height=48
layer=com_0
text=Idea

// 464:70
[com_70]
type=tooltip
x=5
y=403
width=34
height=48
layer=com_0
text=Zombie Walk

// 464:71
[com_71]
type=tooltip
x=48
y=403
width=34
height=48
layer=com_0
text=Zombie Dance

// 464:72
[com_72]
type=tooltip
x=93
y=403
width=34
height=48
layer=com_0
text=Scared

// 464:73
[com_73]
type=tooltip
x=135
y=403
width=34
height=48
layer=com_0
text=Rabbit Hop

// 464:74
[com_74]
type=tooltip
x=5
y=453
width=34
height=48
layer=com_0
text=Skill Cape

