// 126:0
[com_0]
type=inv
x=20
y=24
width=2
height=3
paddingx=60
paddingy=16
op1=Store

// 126:1
[com_1]
type=inv
x=20
y=168
width=2
height=2
paddingx=60
paddingy=16
op1=Store 1
op2=Store 5
op3=Store All
op4=Store X

// 126:2
[com_2]
type=text
x=4
y=8
width=90
height=14
textfont=p12_full
text=Rake
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_5341) > 0

// 126:3
[com_3]
type=text
x=4
y=24
width=17
height=14
textfont=p12_full
text=%1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_5341) > 0

// 126:4
[com_4]
type=text
x=96
y=8
width=90
height=14
textfont=p12_full
text=Dibber
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_5343) > 0

// 126:5
[com_5]
type=text
x=96
y=24
width=17
height=14
textfont=p12_full
text=%1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_5343) > 0

// 126:6
[com_6]
type=text
x=4
y=56
width=90
height=14
textfont=p12_full
text=Spade
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_952) > 0

// 126:7
[com_7]
type=text
x=4
y=72
width=17
height=14
textfont=p12_full
text=%1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_952) > 0

// 126:8
[com_8]
type=text
x=96
y=56
width=90
height=14
textfont=p12_full
text=Secateurs
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_5329) + inv_total(interface_149:com_0, obj_7409) > 0

// 126:9
[com_9]
type=text
x=96
y=72
width=17
height=14
textfont=p12_full
text=%1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_5329) + inv_total(interface_149:com_0, obj_7409) > 0

// 126:10
[com_10]
type=text
x=4
y=104
width=90
height=14
textfont=p12_full
text=Watering Can
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_5331) + inv_total(interface_149:com_0, obj_5333) + inv_total(interface_149:com_0, obj_5334) + inv_total(interface_149:com_0, obj_5335) + inv_total(interface_149:com_0, obj_5336) + inv_total(interface_149:com_0, obj_5337) + inv_total(interface_149:com_0, obj_5338) + inv_total(interface_149:com_0, obj_5339) + inv_total(interface_149:com_0, obj_5340) > 0

// 126:11
[com_11]
type=text
x=4
y=120
width=17
height=14
textfont=p12_full
text=%1
textshadow=yes
colour=0x872300
colouractive=0x7dd750
script=inv_total(interface_149:com_0, obj_5331) + inv_total(interface_149:com_0, obj_5333) + inv_total(interface_149:com_0, obj_5334) + inv_total(interface_149:com_0, obj_5335) + inv_total(interface_149:com_0, obj_5336) + inv_total(interface_149:com_0, obj_5337) + inv_total(interface_149:com_0, obj_5338) + inv_total(interface_149:com_0, obj_5339) + inv_total(interface_149:com_0, obj_5340) > 0

// 126:12
[com_12]
type=text
x=96
y=104
width=90
height=14
textfont=p12_full
text=Trowel
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_5325) > 0

// 126:13
[com_13]
type=text
x=96
y=120
width=17
height=14
textfont=p12_full
text=%1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_5325) > 0

// 126:14
[com_14]
type=text
x=4
y=152
width=90
height=14
textfont=p12_full
text=Buckets
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_1925) > 0

// 126:15
[com_15]
type=text
x=4
y=168
width=17
height=14
textfont=p12_full
text=%1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_1925) > 0

// 126:16
[com_16]
type=text
x=96
y=152
width=90
height=14
textfont=p12_full
text=Compost
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_6032) > 0

// 126:17
[com_17]
type=text
x=96
y=168
width=17
height=14
textfont=p12_full
text=%1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_6032) > 0

// 126:18
[com_18]
type=text
x=4
y=200
width=90
height=14
textfont=p12_full
text=Super Compost
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_6034) > 0

// 126:19
[com_19]
type=text
x=4
y=216
width=17
height=14
textfont=p12_full
text=%1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=inv_total(interface_149:com_0, obj_6034) > 0

