// 378:0
[com_0]
type=rectangle
width=765
height=503
colour=0x000000

// 378:1
[com_1]
type=graphic
x=132
y=13
width=503
height=47
graphic=titlescroll

// 378:2
[com_2]
type=graphic
x=29
y=74
width=343
height=90
graphic=button_brown_big

// 378:3
[com_3]
type=graphic
x=394
y=74
width=343
height=90
graphic=button_brown_big

// 378:4
[com_4]
type=graphic
x=394
y=183
width=343
height=90
graphic=button_brown_big

// 378:5
[com_5]
type=graphic
x=29
y=183
width=343
height=90
graphic=button_brown_big

// 378:6
[com_6]
type=graphic
x=271
y=292
width=229
height=90
buttontype=1
graphic=button_red
buttontext=Play RuneScape

// 378:7
[com_7]
type=graphic
x=398
y=78
width=79
height=82
graphic=letter

// 378:8
[com_8]
type=graphic
x=29
y=79
width=69
height=82
graphic=key

// 378:9
[com_9]
type=graphic
x=398
y=188
width=77
height=82
graphic=coins

// 378:10
[com_10]
type=graphic
x=32
y=188
width=66
height=82
graphic=chest

// 378:11
[com_11]
type=graphic
x=276
y=295
width=66
height=83
graphic=startgame

// 378:12
[com_12]
type=text
x=150
y=17
width=467
height=16
textfont=q8_full
text=Welcome to RuneScape
textalignh=centre
colour=0xff0000

// 378:13
[com_13]
type=text
x=150
y=39
width=467
height=14
textfont=p12_full
textalignh=centre
colour=0x000000

// 378:14
[com_14]
type=text
x=97
y=74
width=275
height=90
textfont=p12_full
textalignh=centre
textalignv=centre
colour=0xffff00

// 378:15
[com_15]
type=text
x=478
y=98
width=257
height=42
textfont=p12_full
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

// 378:16
[com_16]
type=text
x=99
y=183
width=273
height=90
textfont=p12_full
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

// 378:17
[com_17]
type=text
x=344
y=292
width=156
height=90
textfont=b12_full
text=CLICK HERE TO PLAY
textalignh=centre
textalignv=centre
textshadow=yes

// 378:18
[com_18]
type=text
x=476
y=183
width=261
height=90
textfont=p12_full
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

// 378:19
[com_19]
type=tooltip
x=394
y=74
width=343
height=90
text=To view your messages:<br>1) Logout and return to the front page of this website.<br>2) Choose 'Profile & Settings' from the footer.<br>3) Log in and then select 'Messages'.

// 378:20
[com_20]
type=tooltip
x=393
y=183
width=344
height=90

// 378:21
[com_21]
type=tooltip
x=29
y=74
width=343
height=90

