// 383:0
[com_0]
type=rectangle
width=541
height=373
trans=24
colour=0x53340c
fill=yes

// 383:1
[com_1]
type=model
x=236
y=319
width=32
height=32
model=model_10557
modelangle=249,0,0
modelzoom=340

// 383:2
[com_2]
type=model
x=236
y=319
width=32
height=32
model=model_10425
modelangle=249,0,0
modelzoom=340

// 383:3
[com_3]
type=model
x=7
y=205
width=32
height=32
layer=com_6
model=model_10426
modelangle=249,0,0
modelzoom=340

// 383:4
[com_4]
type=model
x=236
y=319
width=32
height=32
model=model_10422
modelangle=249,0,0
modelzoom=340

// 383:5
[com_5]
type=model
x=297
y=217
width=32
height=32
model=model_10416
modelangle=228,2047,0
modelzoom=400

// 383:6
[com_6]
type=layer
x=229
y=114
width=123
height=279
hide=yes

// 383:7
[com_7]
type=model
x=236
y=319
width=32
height=32
model=model_10427
modelangle=249,0,0
modelzoom=340

// 383:8
[com_8]
type=model
x=90
y=212
width=32
height=32
layer=com_9
model=model_10428
modelangle=249,0,0
modelzoom=340

// 383:9
[com_9]
type=layer
x=146
y=107
width=206
height=341
hide=yes

// 383:10
[com_10]
type=model
x=236
y=319
width=32
height=32
model=model_10414
modelangle=249,0,0
modelzoom=340

// 383:11
[com_11]
type=model
x=178
y=201
width=32
height=32
layer=com_12
model=model_10415
modelangle=249,0,0
modelzoom=340

// 383:12
[com_12]
type=layer
x=58
y=118
width=294
height=288
hide=yes

// 383:13
[com_13]
type=model
x=236
y=319
width=32
height=32
model=model_10423
modelangle=249,0,0
modelzoom=340

// 383:14
[com_14]
type=model
x=194
y=145
width=32
height=32
layer=com_15
model=model_10424
modelangle=249,0,0
modelzoom=340

// 383:15
[com_15]
type=layer
x=42
y=174
width=310
height=267
hide=yes

// 383:16
[com_16]
type=model
x=236
y=319
width=32
height=32
model=model_10412
modelangle=249,0,0
modelzoom=340

// 383:17
[com_17]
type=model
x=119
y=164
width=32
height=32
layer=com_18
model=model_10413
modelangle=249,0,0
modelzoom=340

// 383:18
[com_18]
type=layer
x=117
y=155
width=235
height=266
hide=yes

// 383:19
[com_19]
type=rectangle
x=154
y=115
width=65
height=56
buttontype=1
trans=255
colour=0xffff00
buttontext=Paint yellow

// 383:20
[com_20]
type=rectangle
x=188
y=171
width=31
height=31
buttontype=1
trans=255
colour=0xffff00
buttontext=Paint yellow

// 383:21
[com_21]
type=rectangle
x=236
y=118
width=45
height=68
buttontype=1
trans=255
colour=0xff0000
buttontext=Paint red

// 383:22
[com_22]
type=rectangle
x=65
y=125
width=62
height=54
buttontype=1
trans=255
colour=0x00ff00
buttontext=Paint green

// 383:23
[com_23]
type=rectangle
x=71
y=181
width=46
height=52
buttontype=1
trans=255
colour=0xff00ff
buttontext=Paint pink

// 383:24
[com_24]
type=rectangle
x=127
y=175
width=61
height=49
buttontype=1
trans=255
colour=0x0000ff
buttontext=Paint blue

// 383:25
[com_25]
type=model
x=234
y=47
width=32
height=32
model=model_10094
modelangle=524,0,0
modelzoom=656

// 383:26
[com_26]
type=text
x=189
y=54
width=122
height=19
textfont=q8_full
text=Pick a colour
textalignh=centre
colour=0xffff00

// 383:27
[com_27]
type=model
x=68
y=103
width=32
height=32
layer=com_6
model=model_10420
modelangle=228,2047,0
modelzoom=400

// 383:28
[com_28]
type=model
x=151
y=110
width=32
height=32
layer=com_9
model=model_10421
modelangle=228,2047,0
modelzoom=400

// 383:29
[com_29]
type=model
x=239
y=99
width=32
height=32
layer=com_12
model=model_10418
modelangle=228,2047,0
modelzoom=400

// 383:30
[com_30]
type=model
x=255
y=43
width=32
height=32
layer=com_15
model=model_10419
modelangle=228,2047,0
modelzoom=400

// 383:31
[com_31]
type=model
x=180
y=62
width=32
height=32
layer=com_18
model=model_10417
modelangle=228,2047,0
modelzoom=400

// 383:32
[com_32]
type=graphic
x=473
y=13
width=26
height=23
mouseoverlayer=com_34
graphic="close_buttons,4"

// 383:33
[com_33]
type=graphic
x=2
y=3
width=26
height=23
layer=com_34
buttontype=3
graphic="close_buttons,5"

// 383:34
[com_34]
type=layer
x=471
y=10
width=32
height=32
hide=yes

