// 445:0
[com_0]
type=rectangle
width=515
height=335
trans=100
colour=0x000000
fill=yes

// 445:1
[com_1]
type=model
x=310
y=80
width=32
height=32
model=model_17211
modelzoom=1110

// 445:2
[com_2]
type=model
x=310
y=80
width=32
height=32
model=model_17214
modelzoom=1110

// 445:3
[com_3]
type=model
x=343
y=323
width=32
height=32
model=null
modelactive=model_17201
modelzoom=347
script=varplayerbit_2517 = 0

// 445:4
[com_4]
type=model
x=343
y=323
width=32
height=32
model=null
modelactive=model_17202
modelzoom=347
script=varplayerbit_2517 = 1

// 445:5
[com_5]
type=model
x=343
y=323
width=32
height=32
model=null
modelactive=model_17203
modelzoom=347
script=varplayerbit_2517 = 2

// 445:6
[com_6]
type=model
x=343
y=323
width=32
height=32
model=null
modelactive=model_17204
modelzoom=347
script=varplayerbit_2517 = 3

// 445:7
[com_7]
type=model
x=343
y=323
width=32
height=32
model=null
modelactive=model_17205
modelzoom=347
script=varplayerbit_2517 = 4

// 445:8
[com_8]
type=model
x=343
y=323
width=32
height=32
model=null
modelactive=model_17206
modelzoom=347
script=varplayerbit_2517 = 5

// 445:9
[com_9]
type=model
x=343
y=323
width=32
height=32
model=null
modelactive=model_17207
modelzoom=347
script=varplayerbit_2517 = 6

// 445:10
[com_10]
type=model
x=343
y=323
width=32
height=32
model=null
modelactive=model_17208
modelzoom=347
script=varplayerbit_2517 = 7

// 445:11
[com_11]
type=model
x=343
y=323
width=32
height=32
model=null
modelactive=model_17209
modelzoom=347
script=varplayerbit_2517 = 8

// 445:12
[com_12]
type=model
x=343
y=323
width=32
height=32
model=null
modelactive=model_17210
modelzoom=347
script=varplayerbit_2517 = 9

// 445:13
[com_13]
type=model
x=357
y=323
width=32
height=32
model=null
modelactive=model_17201
modelzoom=347
script=varplayerbit_2518 = 0

// 445:14
[com_14]
type=model
x=357
y=323
width=32
height=32
model=null
modelactive=model_17202
modelzoom=347
script=varplayerbit_2518 = 1

// 445:15
[com_15]
type=model
x=357
y=323
width=32
height=32
model=null
modelactive=model_17203
modelzoom=347
script=varplayerbit_2518 = 2

// 445:16
[com_16]
type=model
x=357
y=323
width=32
height=32
model=null
modelactive=model_17204
modelzoom=347
script=varplayerbit_2518 = 3

// 445:17
[com_17]
type=model
x=357
y=323
width=32
height=32
model=null
modelactive=model_17205
modelzoom=347
script=varplayerbit_2518 = 4

// 445:18
[com_18]
type=model
x=357
y=323
width=32
height=32
model=null
modelactive=model_17206
modelzoom=347
script=varplayerbit_2518 = 5

// 445:19
[com_19]
type=model
x=357
y=323
width=32
height=32
model=null
modelactive=model_17207
modelzoom=347
script=varplayerbit_2518 = 6

// 445:20
[com_20]
type=model
x=357
y=323
width=32
height=32
model=null
modelactive=model_17208
modelzoom=347
script=varplayerbit_2518 = 7

// 445:21
[com_21]
type=model
x=357
y=323
width=32
height=32
model=null
modelactive=model_17209
modelzoom=347
script=varplayerbit_2518 = 8

// 445:22
[com_22]
type=model
x=357
y=323
width=32
height=32
model=null
modelactive=model_17210
modelzoom=347
script=varplayerbit_2518 = 9

// 445:23
[com_23]
type=model
x=333
y=275
width=32
height=32
model=null
modelactive=model_17220
modelzoom=347
script=varplayerbit_2528 = 1

// 445:24
[com_24]
type=model
x=333
y=275
width=32
height=32
model=null
modelactive=model_17221
modelzoom=347
script=varplayerbit_2527 = 1

// 445:25
[com_25]
type=model
x=333
y=276
width=32
height=32
model=null
modelactive=model_17216
modelzoom=347
script=varplayerbit_2529 = 1

// 445:26
[com_26]
type=model
x=333
y=276
width=32
height=32
model=null
modelactive=model_17219
modelzoom=347
script=varplayerbit_2529 = 0

// 445:27
[com_27]
type=model
x=333
y=276
width=32
height=32
model=null
modelactive=model_17217
modelzoom=347
script=varplayerbit_2527 = 1

// 445:28
[com_28]
type=model
x=333
y=276
width=32
height=32
model=null
modelactive=model_17218
modelzoom=347
script=varplayerbit_2528 = 1

// 445:29
[com_29]
type=rectangle
x=275
y=134
width=28
height=42
buttontype=1
trans=255
colour=0xffffff
buttontext=Insert disc?

// 445:30
[com_30]
type=model
x=141
y=230
width=32
height=32
model=model_17187
modelangle=191,165,0
modelzoom=400

// 445:31
[com_31]
type=model
x=273
y=140
width=32
height=32
model=model_17224
modelzoom=1110

// 445:32
[com_32]
type=model
x=141
y=230
width=32
height=32
model=null
modelzoom=400

// 445:33
[com_33]
type=graphic
x=476
y=8
width=26
height=23
mouseoverlayer=com_35
graphic="close_buttons,4"

// 445:34
[com_34]
type=graphic
x=3
y=5
width=26
height=23
layer=com_35
mouseoverlayer=com_35
buttontype=3
graphic="close_buttons,5"

// 445:35
[com_35]
type=layer
x=473
y=3
width=32
height=32
hide=yes

// 445:36
[com_36]
type=rectangle
x=388
y=110
width=18
height=32
buttontype=1
trans=255
colour=0x000000

// 445:37
[com_37]
type=model
x=355
y=110
width=32
height=32
model=model_17215
modelzoom=1000

// 445:38
[com_38]
type=model
x=355
y=109
width=32
height=32
model=null
modelzoom=400

