// 134:0
[com_0]
type=rectangle
width=520
height=480
trans=196
colour=0x000000
fill=yes

// 134:1
[com_1]
type=model
x=241
y=146
width=35
height=35
model=model_15271
modelangle=523,1033,0
modelzoom=511

// 134:2
[com_2]
type=text
x=76
y=70
width=349
height=36
textfont=b12_full
text=Choose the stat you wish to be advanced!
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x999999

// 134:3
[com_3]
type=graphic
x=182
y=126
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Attack
script=varplayer_261 = 1

// 134:4
[com_4]
type=graphic
x=214
y=126
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Strength
script=varplayer_261 = 2

// 134:5
[com_5]
type=graphic
x=246
y=126
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Ranged
script=varplayer_261 = 3

// 134:6
[com_6]
type=graphic
x=278
y=126
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Magic
script=varplayer_261 = 4

// 134:7
[com_7]
type=graphic
x=310
y=126
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Defence
script=varplayer_261 = 5

// 134:8
[com_8]
type=graphic
x=167
y=156
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Hitpoints
script=varplayer_261 = 6

// 134:9
[com_9]
type=graphic
x=199
y=156
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Prayer
script=varplayer_261 = 7

// 134:10
[com_10]
type=graphic
x=231
y=156
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Agility
script=varplayer_261 = 8

// 134:11
[com_11]
type=graphic
x=263
y=156
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Herblore
script=varplayer_261 = 9

// 134:12
[com_12]
type=graphic
x=295
y=156
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Thieving
script=varplayer_261 = 10

// 134:13
[com_13]
type=graphic
x=327
y=156
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Crafting
script=varplayer_261 = 11

// 134:14
[com_14]
type=graphic
x=166
y=184
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Runecraft
script=varplayer_261 = 12

// 134:15
[com_15]
type=graphic
x=262
y=184
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Mining
script=varplayer_261 = 13

// 134:16
[com_16]
type=graphic
x=294
y=184
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Smithing
script=varplayer_261 = 14

// 134:17
[com_17]
type=graphic
x=326
y=184
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Fishing
script=varplayer_261 = 15

// 134:18
[com_18]
type=graphic
x=166
y=212
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Cooking
script=varplayer_261 = 16

// 134:19
[com_19]
type=graphic
x=198
y=212
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Firemaking
script=varplayer_261 = 17

// 134:20
[com_20]
type=graphic
x=230
y=212
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Woodcutting
script=varplayer_261 = 18

// 134:21
[com_21]
type=graphic
x=262
y=212
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Fletching
script=varplayer_261 = 19

// 134:22
[com_22]
type=graphic
x=198
y=184
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Slayer
script=varplayer_261 = 20

// 134:23
[com_23]
type=graphic
x=230
y=184
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Farming
script=varplayer_261 = 21

// 134:24
[com_24]
type=graphic
x=294
y=212
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Construction
script=varplayer_261 = 22

// 134:25
[com_25]
type=graphic
x=326
y=212
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Hunter
script=varplayer_261 = 23

// 134:26
[com_26]
type=text
x=210
y=266
width=93
height=14
buttontype=1
textfont=p12_full
text=Confirm
textalignh=centre
textshadow=yes
colour=0x666666
mouseovercolour=0xcccccc

// 134:27
[com_27]
type=graphic
x=182
y=126
width=25
height=25
graphic="staticons,0"

// 134:28
[com_28]
type=graphic
x=214
y=126
width=25
height=25
graphic="staticons,1"

// 134:29
[com_29]
type=graphic
x=246
y=126
width=25
height=25
graphic="staticons,3"

// 134:30
[com_30]
type=graphic
x=278
y=126
width=25
height=25
graphic="staticons,5"

// 134:31
[com_31]
type=graphic
x=310
y=126
width=25
height=25
graphic="staticons,2"

// 134:32
[com_32]
type=graphic
x=167
y=156
width=25
height=25
graphic="staticons,6"

// 134:33
[com_33]
type=graphic
x=199
y=156
width=25
height=25
graphic="staticons,4"

// 134:34
[com_34]
type=graphic
x=231
y=156
width=25
height=25
graphic="staticons,7"

// 134:35
[com_35]
type=graphic
x=263
y=156
width=25
height=25
graphic="staticons,8"

// 134:36
[com_36]
type=graphic
x=295
y=156
width=25
height=25
graphic="staticons,9"

// 134:37
[com_37]
type=graphic
x=327
y=156
width=25
height=25
graphic="staticons,10"

// 134:38
[com_38]
type=graphic
x=166
y=184
width=25
height=25
graphic="staticons2,0"

// 134:39
[com_39]
type=graphic
x=262
y=184
width=25
height=25
graphic="staticons,12"

// 134:40
[com_40]
type=graphic
x=294
y=184
width=25
height=25
graphic="staticons,13"

// 134:41
[com_41]
type=graphic
x=326
y=184
width=25
height=25
graphic="staticons,14"

// 134:42
[com_42]
type=graphic
x=166
y=212
width=25
height=25
graphic="staticons,15"

// 134:43
[com_43]
type=graphic
x=198
y=212
width=25
height=25
graphic="staticons,16"

// 134:44
[com_44]
type=graphic
x=230
y=212
width=25
height=25
graphic="staticons,17"

// 134:45
[com_45]
type=graphic
x=262
y=212
width=25
height=25
graphic="staticons,11"

// 134:46
[com_46]
type=graphic
x=198
y=184
width=25
height=25
graphic="staticons2,1"

// 134:47
[com_47]
type=graphic
x=230
y=184
width=25
height=25
graphic="staticons2,2"

// 134:48
[com_48]
type=graphic
x=294
y=212
width=25
height=25
graphic="staticons2,6"

// 134:49
[com_49]
type=graphic
x=326
y=212
width=25
height=25
graphic="staticons2,5"

// 134:50
[com_50]
type=graphic
x=478
y=20
width=26
height=23
mouseoverlayer=com_52
graphic="close_buttons,4"

// 134:51
[com_51]
type=graphic
x=3
y=5
width=26
height=23
layer=com_52
buttontype=3
graphic="close_buttons,5"

// 134:52
[com_52]
type=layer
x=475
y=15
width=32
height=32
hide=yes

