// 200:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 200:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 200:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 200:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 200:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 200:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 200:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 200:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 200:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 200:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 200:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 200:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 200:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 200:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 200:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 200:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 200:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 200:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 200:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 200:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 200:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 200:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 200:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 200:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 200:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 200:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 200:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 200:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 200:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 200:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 200:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 200:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 200:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 200:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 200:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 200:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 200:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 200:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 200:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 200:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 200:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 200:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 200:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 200:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 200:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 200:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 200:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 200:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 200:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 200:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 200:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 200:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 200:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 200:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 200:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 200:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 200:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 200:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 200:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 200:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 200:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 200:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 200:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 200:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 200:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 200:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 200:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 200:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 200:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 200:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 200:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 200:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 200:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 200:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 200:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 200:75
[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 200:76
[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 200:77
[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 200:78
[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 200:79
[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 200:80
[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 200:81
[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 200:82
[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 200:83
[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 200:84
[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 200:85
[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 200:86
[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 200:87
[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 200:88
[com_88]
type=text
x=19
y=31
width=474
height=15
textfont=b12_full
text=Yrsa's Shoe Store
textalignh=centre
textshadow=yes
colour=0xc9800d

// 200:89
[com_89]
type=text
x=164
y=275
width=196
height=17
buttontype=1
textfont=b12_full
text=CONFIRM (500 GOLD)
textalignh=centre
textshadow=yes
colour=0x00ff00
mouseovercolour=0xff0000

// 200:90
[com_90]
type=model
x=120
y=120
width=32
height=32
model=null
modelangle=0,450,0
modelzoom=300

// 200:91
[com_91]
type=model
x=250
y=120
width=32
height=32
model=null
modelangle=0,450,0
modelzoom=300

// 200:92
[com_92]
type=model
x=380
y=120
width=32
height=32
model=null
modelangle=0,450,0
modelzoom=300

// 200:93
[com_93]
type=model
x=120
y=215
width=32
height=32
model=null
modelangle=0,450,0
modelzoom=300

// 200:94
[com_94]
type=model
x=250
y=215
width=32
height=32
model=null
modelangle=0,450,0
modelzoom=300

// 200:95
[com_95]
type=model
x=380
y=215
width=32
height=32
model=null
modelangle=0,450,0
modelzoom=300

// 200:96
[com_96]
type=graphic
x=98
y=95
width=62
height=60
mouseoverlayer=com_104
buttontype=5
graphicactive=overlay_multiway
buttontext=Brown
script=varplayer_261 = 1

// 200:97
[com_97]
type=graphic
x=227
y=95
width=62
height=60
buttontype=5
graphicactive=overlay_multiway
buttontext=Khaki
script=varplayer_261 = 2

// 200:98
[com_98]
type=graphic
x=358
y=95
width=62
height=60
buttontype=5
graphicactive=overlay_multiway
buttontext=Ashen
script=varplayer_261 = 3

// 200:99
[com_99]
type=graphic
x=100
y=190
width=62
height=60
buttontype=5
graphicactive=overlay_multiway
buttontext=Dark
script=varplayer_261 = 4

// 200:100
[com_100]
type=graphic
x=227
y=190
width=62
height=60
buttontype=5
graphicactive=overlay_multiway
buttontext=Terracotta
script=varplayer_261 = 5

// 200:101
[com_101]
type=graphic
x=358
y=190
width=62
height=60
buttontype=5
graphicactive=overlay_multiway
buttontext=Grey
script=varplayer_261 = 6

// 200:102
[com_102]
type=graphic
x=472
y=25
width=26
height=23
mouseoverlayer=com_104
graphic="close_buttons,0"

// 200:103
[com_103]
type=graphic
x=3
y=3
width=26
height=23
layer=com_104
mouseoverlayer=com_104
buttontype=3
graphic="close_buttons,1"

// 200:104
[com_104]
type=layer
x=469
y=22
width=32
height=32
hide=yes

