// 535:0
[com_0]
type=rectangle
x=-3
y=-1
width=520
height=336
colour=0x2b2b14
fill=yes

// 535:1
[com_1]
type=model
x=224
y=211
width=32
height=32
model=model_25890
modelangle=143,0,0
modelzoom=867

// 535:2
[com_2]
type=layer
width=515
height=336
hide=yes

// 535:3
[com_3]
type=model
x=224
y=211
width=32
height=32
layer=com_2
model=model_25889
modelangle=143,0,0
modelzoom=867

// 535:4
[com_4]
type=layer
x=61
y=172
width=400
height=120

// 535:5
[com_5]
type=layer
x=44
y=49
width=20
height=20
layer=com_4
mouseoverlayer=com_7

// 535:6
[com_6]
type=model
x=164
y=38
width=32
height=32
layer=com_4
mouseoverlayer=com_5
model=model_25892
modelangle=143,0,0
modelzoom=867

// 535:7
[com_7]
type=layer
width=400
height=120
layer=com_4
hide=yes

// 535:8
[com_8]
type=model
x=164
y=38
width=32
height=32
layer=com_7
model=model_25902
modelangle=143,0,0
modelzoom=867

// 535:9
[com_9]
type=layer
x=69
y=49
width=20
height=20
layer=com_4
mouseoverlayer=com_11

// 535:10
[com_10]
type=model
x=164
y=38
width=32
height=32
layer=com_4
mouseoverlayer=com_5
model=model_25903
modelangle=143,0,0
modelzoom=867

// 535:11
[com_11]
type=layer
width=400
height=120
layer=com_4
hide=yes

// 535:12
[com_12]
type=model
x=163
y=38
width=32
height=32
layer=com_11
model=model_25904
modelangle=143,0,0
modelzoom=867

// 535:13
[com_13]
type=layer
x=90
y=48
width=20
height=20
layer=com_4
mouseoverlayer=com_15

// 535:14
[com_14]
type=model
x=164
y=38
width=32
height=32
layer=com_4
mouseoverlayer=com_5
model=model_25905
modelangle=143,0,0
modelzoom=867

// 535:15
[com_15]
type=layer
width=400
height=120
layer=com_4
hide=yes

// 535:16
[com_16]
type=model
x=163
y=38
width=32
height=32
layer=com_15
model=model_25906
modelangle=143,0,0
modelzoom=867

// 535:17
[com_17]
type=layer
x=112
y=50
width=20
height=20
layer=com_4
mouseoverlayer=com_23

// 535:18
[com_18]
type=model
x=164
y=38
width=32
height=32
layer=com_4
mouseoverlayer=com_5
model=model_25907
modelangle=143,0,0
modelzoom=867

// 535:19
[com_19]
type=layer
x=133
y=49
width=20
height=20
layer=com_4
mouseoverlayer=com_21

// 535:20
[com_20]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25909
modelangle=143,0,0
modelzoom=867

// 535:21
[com_21]
type=layer
width=400
height=120
layer=com_4
hide=yes

// 535:22
[com_22]
type=model
x=163
y=38
width=32
height=32
layer=com_21
model=model_25910
modelangle=143,0,0
modelzoom=867

// 535:23
[com_23]
type=layer
width=400
height=120
layer=com_4
hide=yes

// 535:24
[com_24]
type=model
x=164
y=38
width=32
height=32
layer=com_23
model=model_25908
modelangle=143,0,0
modelzoom=867

// 535:25
[com_25]
type=layer
x=154
y=49
width=20
height=20
layer=com_4
mouseoverlayer=com_27

// 535:26
[com_26]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25911
modelangle=143,0,0
modelzoom=867

// 535:27
[com_27]
type=layer
width=400
height=120
layer=com_4
hide=yes

// 535:28
[com_28]
type=model
x=164
y=38
width=32
height=32
layer=com_27
model=model_25912
modelangle=143,0,0
modelzoom=867

// 535:29
[com_29]
type=layer
x=174
y=49
width=20
height=20
layer=com_4
mouseoverlayer=com_31

// 535:30
[com_30]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25913
modelangle=143,0,0
modelzoom=867

// 535:31
[com_31]
type=layer
width=400
height=120
layer=com_4
hide=yes

// 535:32
[com_32]
type=model
x=164
y=38
width=32
height=32
layer=com_31
model=model_25914
modelangle=143,0,0
modelzoom=867

// 535:33
[com_33]
type=layer
x=216
y=51
width=20
height=20
layer=com_4
mouseoverlayer=com_35

// 535:34
[com_34]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25917
modelangle=143,0,0
modelzoom=867

// 535:35
[com_35]
type=layer
width=400
height=120
layer=com_4
hide=yes

// 535:36
[com_36]
type=model
x=163
y=38
width=32
height=32
layer=com_35
model=model_25918
modelangle=143,0,0
modelzoom=867

// 535:37
[com_37]
type=layer
x=194
y=50
width=20
height=20
layer=com_4
mouseoverlayer=com_39

// 535:38
[com_38]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25915
modelangle=143,0,0
modelzoom=867

// 535:39
[com_39]
type=layer
width=400
height=120
layer=com_4
hide=yes

// 535:40
[com_40]
type=model
x=164
y=38
width=32
height=32
layer=com_39
model=model_25916
modelangle=143,0,0
modelzoom=867

// 535:41
[com_41]
type=layer
x=237
y=50
width=20
height=20
layer=com_4
mouseoverlayer=com_43

// 535:42
[com_42]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25893
modelangle=143,0,0
modelzoom=867

// 535:43
[com_43]
type=layer
width=400
height=120
layer=com_4
hide=yes

// 535:44
[com_44]
type=model
x=164
y=38
width=32
height=32
layer=com_43
model=model_25891
modelangle=143,0,0
modelzoom=867

// 535:45
[com_45]
type=layer
x=323
y=51
width=20
height=20
layer=com_4
mouseoverlayer=com_47

// 535:46
[com_46]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25901
modelangle=143,0,0
modelzoom=867

// 535:47
[com_47]
type=layer
width=400
height=120
layer=com_4
hide=yes

// 535:48
[com_48]
type=model
x=164
y=38
width=32
height=32
layer=com_47
model=model_25900
modelangle=143,0,0
modelzoom=867

// 535:49
[com_49]
type=layer
x=302
y=51
width=20
height=20
layer=com_4
mouseoverlayer=com_51

// 535:50
[com_50]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25899
modelangle=143,0,0
modelzoom=867

// 535:51
[com_51]
type=layer
width=400
height=120
layer=com_4
hide=yes

// 535:52
[com_52]
type=model
x=164
y=38
width=32
height=32
layer=com_51
model=model_25898
modelangle=143,0,0
modelzoom=867

// 535:53
[com_53]
type=layer
x=279
y=50
width=20
height=20
layer=com_4
mouseoverlayer=com_55

// 535:54
[com_54]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25897
modelangle=143,0,0
modelzoom=867

// 535:55
[com_55]
type=layer
width=400
height=120
layer=com_4
hide=yes

// 535:56
[com_56]
type=model
x=163
y=38
width=32
height=32
layer=com_55
model=model_25896
modelangle=143,0,0
modelzoom=867

// 535:57
[com_57]
type=layer
x=259
y=50
width=20
height=20
layer=com_4
mouseoverlayer=com_59

// 535:58
[com_58]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25895
modelangle=143,0,0
modelzoom=867

// 535:59
[com_59]
type=layer
width=400
height=120
layer=com_4
hide=yes

// 535:60
[com_60]
type=model
x=164
y=38
width=32
height=32
layer=com_59
model=model_25894
modelangle=143,0,0
modelzoom=867

// 535:61
[com_61]
type=layer
x=344
y=31
width=20
height=20
layer=com_4
mouseoverlayer=com_63

// 535:62
[com_62]
type=model
x=-181
y=8
width=32
height=32
layer=com_61
model=model_25886
modelangle=143,0,0
modelzoom=867

// 535:63
[com_63]
type=layer
x=344
y=30
width=20
height=20
layer=com_4
hide=yes

// 535:64
[com_64]
type=model
x=-181
y=9
width=32
height=32
layer=com_63
model=model_25885
modelangle=143,0,0
modelzoom=867

// 535:65
[com_65]
type=graphic
x=467
y=26
width=26
height=23
mouseoverlayer=com_67
graphic="close_buttons,4"

// 535:66
[com_66]
type=graphic
x=3
y=5
width=26
height=23
layer=com_67
buttontype=1
graphic="close_buttons,5"

// 535:67
[com_67]
type=layer
x=464
y=21
width=32
height=32
hide=yes

// 535:68
[com_68]
type=rectangle
x=108
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower C

// 535:69
[com_69]
type=rectangle
x=129
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower D

// 535:70
[com_70]
type=rectangle
x=150
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower E

// 535:71
[com_71]
type=rectangle
x=171
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower F

// 535:72
[com_72]
type=rectangle
x=192
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower G

// 535:73
[com_73]
type=rectangle
x=213
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower A

// 535:74
[com_74]
type=rectangle
x=234
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower B

// 535:75
[com_75]
type=rectangle
x=255
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper C

// 535:76
[com_76]
type=rectangle
x=276
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper D

// 535:77
[com_77]
type=rectangle
x=297
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper E

// 535:78
[com_78]
type=rectangle
x=318
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper F

// 535:79
[com_79]
type=rectangle
x=339
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper G

// 535:80
[com_80]
type=rectangle
x=360
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper A

// 535:81
[com_81]
type=rectangle
x=381
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper B

// 535:82
[com_82]
type=rectangle
x=405
y=201
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Demo

// 535:83
[com_83]
type=layer
x=192
y=42
width=130
height=80
hide=yes

// 535:84
[com_84]
type=rectangle
x=14
y=8
width=91
height=41
layer=com_83
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Open compartment

// 535:85
[com_85]
type=layer
x=192
y=42
width=130
height=80
hide=yes

// 535:86
[com_86]
type=rectangle
x=14
y=8
width=91
height=41
layer=com_85
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Search compartment

