// 426:0
[com_0]
type=rectangle
x=-2
width=514
height=334
colour=0x404640
fill=yes

// 426:1
[com_1]
type=model
x=72
y=150
width=32
height=32
model=model_16240
modelzoom=1000

// 426:2
[com_2]
type=model
x=242
y=150
width=32
height=32
model=model_16240
modelzoom=1000

// 426:3
[com_3]
type=model
x=409
y=150
width=32
height=32
model=model_16240
modelzoom=1000

// 426:4
[com_4]
type=model
x=70
y=61
width=32
height=32
layer=com_16
model=model_16242
modelzoom=1000

// 426:5
[com_5]
type=model
x=70
y=61
width=32
height=32
layer=com_16
model=model_16246
modelzoom=1000

// 426:6
[com_6]
type=model
x=70
y=61
width=32
height=32
layer=com_16
model=model_16250
modelzoom=1000

// 426:7
[com_7]
type=model
x=70
y=61
width=32
height=32
layer=com_16
model=model_16254
modelzoom=1000

// 426:8
[com_8]
type=model
x=71
y=61
width=32
height=32
layer=com_20
model=model_16258
modelzoom=1000

// 426:9
[com_9]
type=model
x=71
y=61
width=32
height=32
layer=com_20
model=model_16262
modelzoom=1000

// 426:10
[com_10]
type=model
x=71
y=61
width=32
height=32
layer=com_20
model=model_16266
modelzoom=1000

// 426:11
[com_11]
type=model
x=71
y=61
width=32
height=32
layer=com_20
model=model_16270
modelzoom=1000

// 426:12
[com_12]
type=model
x=69
y=61
width=32
height=32
layer=com_24
model=model_16274
modelzoom=1000

// 426:13
[com_13]
type=model
x=69
y=61
width=32
height=32
layer=com_24
model=model_16278
modelzoom=1000

// 426:14
[com_14]
type=model
x=69
y=61
width=32
height=32
layer=com_24
model=model_16235
modelzoom=1000

// 426:15
[com_15]
type=model
x=69
y=61
width=32
height=32
layer=com_24
model=model_16282
modelzoom=1000

// 426:16
[com_16]
type=layer
x=2
y=89
width=169
height=160

// 426:17
[com_17]
type=layer
x=2
y=89
width=169
height=160

// 426:18
[com_18]
type=layer
x=2
y=89
width=169
height=160

// 426:19
[com_19]
type=layer
x=2
y=89
width=169
height=160

// 426:20
[com_20]
type=layer
x=171
y=89
width=169
height=160
hide=yes

// 426:21
[com_21]
type=layer
x=171
y=89
width=169
height=160
hide=yes

// 426:22
[com_22]
type=layer
x=171
y=89
width=169
height=160
hide=yes

// 426:23
[com_23]
type=layer
x=171
y=89
width=169
height=160

// 426:24
[com_24]
type=layer
x=340
y=89
width=169
height=160
hide=yes

// 426:25
[com_25]
type=layer
x=340
y=89
width=169
height=160
hide=yes

// 426:26
[com_26]
type=layer
x=340
y=89
width=169
height=160
hide=yes

// 426:27
[com_27]
type=layer
x=340
y=89
width=169
height=160

// 426:28
[com_28]
type=model
x=242
y=157
width=32
height=32
model=model_16236
modelangle=1952,0,0
modelzoom=1000

// 426:29
[com_29]
type=graphic
x=455
y=21
width=23
height=23
mouseoverlayer=com_73
graphic="close_buttons,4"

// 426:30
[com_30]
type=model
x=242
y=34
width=32
height=32
model=model_10119
modelangle=514,0,0
modelzoom=680

// 426:31
[com_31]
type=text
x=186
y=27
width=142
height=45
textfont=q8_full
text=Choose a combination
textalignh=centre
textalignv=centre
colour=0x402000

// 426:32
[com_32]
type=model
x=242
y=265
width=32
height=32
model=model_10119
modelangle=514,0,0
modelzoom=600

// 426:33
[com_33]
type=text
x=172
y=254
width=169
height=53
buttontype=1
textfont=q8_full
text=Teleport to this location
textalignh=centre
textalignv=centre
colour=0x402000
mouseovercolour=0xffffff

// 426:34
[com_34]
type=rectangle
x=3
y=90
width=167
height=158
buttontype=1
trans=255
colour=0xff0000
buttontext=Rotate-clockwise

// 426:35
[com_35]
type=rectangle
x=172
y=90
width=167
height=158
buttontype=1
trans=255
colour=0x00ff00
buttontext=Rotate-clockwise

// 426:36
[com_36]
type=rectangle
x=341
y=90
width=167
height=158
buttontype=1
trans=255
colour=0x0000ff
buttontext=Rotate-clockwise

// 426:37
[com_37]
type=model
x=70
y=61
width=32
height=32
layer=com_17
model=model_16245
modelzoom=1000

// 426:38
[com_38]
type=model
x=70
y=61
width=32
height=32
layer=com_17
model=model_16249
modelzoom=1000

// 426:39
[com_39]
type=model
x=70
y=61
width=32
height=32
layer=com_17
model=model_16253
modelzoom=1000

// 426:40
[com_40]
type=model
x=70
y=61
width=32
height=32
layer=com_17
model=model_16257
modelzoom=1000

// 426:41
[com_41]
type=model
x=70
y=61
width=32
height=32
layer=com_18
model=model_16243
modelzoom=1000

// 426:42
[com_42]
type=model
x=70
y=61
width=32
height=32
layer=com_18
model=model_16247
modelzoom=1000

// 426:43
[com_43]
type=model
x=70
y=61
width=32
height=32
layer=com_18
model=model_16251
modelzoom=1000

// 426:44
[com_44]
type=model
x=70
y=61
width=32
height=32
layer=com_18
model=model_16255
modelzoom=1000

// 426:45
[com_45]
type=model
x=70
y=61
width=32
height=32
layer=com_19
model=model_16244
modelzoom=1000

// 426:46
[com_46]
type=model
x=70
y=61
width=32
height=32
layer=com_19
model=model_16248
modelzoom=1000

// 426:47
[com_47]
type=model
x=70
y=61
width=32
height=32
layer=com_19
model=model_16252
modelzoom=1000

// 426:48
[com_48]
type=model
x=70
y=61
width=32
height=32
layer=com_19
model=model_16256
modelzoom=1000

// 426:49
[com_49]
type=model
x=71
y=61
width=32
height=32
layer=com_21
model=model_16261
modelzoom=1000

// 426:50
[com_50]
type=model
x=71
y=61
width=32
height=32
layer=com_21
model=model_16265
modelzoom=1000

// 426:51
[com_51]
type=model
x=71
y=61
width=32
height=32
layer=com_21
model=model_16269
modelzoom=1000

// 426:52
[com_52]
type=model
x=71
y=61
width=32
height=32
layer=com_21
model=model_16273
modelzoom=1000

// 426:53
[com_53]
type=model
x=71
y=61
width=32
height=32
layer=com_22
model=model_16259
modelzoom=1000

// 426:54
[com_54]
type=model
x=71
y=61
width=32
height=32
layer=com_22
model=model_16263
modelzoom=1000

// 426:55
[com_55]
type=model
x=71
y=61
width=32
height=32
layer=com_22
model=model_16267
modelzoom=1000

// 426:56
[com_56]
type=model
x=71
y=61
width=32
height=32
layer=com_22
model=model_16271
modelzoom=1000

// 426:57
[com_57]
type=model
x=71
y=61
width=32
height=32
layer=com_23
model=model_16260
modelzoom=1000

// 426:58
[com_58]
type=model
x=71
y=61
width=32
height=32
layer=com_23
model=model_16264
modelzoom=1000

// 426:59
[com_59]
type=model
x=71
y=61
width=32
height=32
layer=com_23
model=model_16268
modelzoom=1000

// 426:60
[com_60]
type=model
x=71
y=61
width=32
height=32
layer=com_23
model=model_16272
modelzoom=1000

// 426:61
[com_61]
type=model
x=69
y=61
width=32
height=32
layer=com_25
model=model_16277
modelzoom=1000

// 426:62
[com_62]
type=model
x=69
y=61
width=32
height=32
layer=com_25
model=model_16281
modelzoom=1000

// 426:63
[com_63]
type=model
x=69
y=61
width=32
height=32
layer=com_25
model=model_16239
modelzoom=1000

// 426:64
[com_64]
type=model
x=69
y=61
width=32
height=32
layer=com_25
model=model_16285
modelzoom=1000

// 426:65
[com_65]
type=model
x=69
y=61
width=32
height=32
layer=com_26
model=model_16275
modelzoom=1000

// 426:66
[com_66]
type=model
x=69
y=61
width=32
height=32
layer=com_26
model=model_16279
modelzoom=1000

// 426:67
[com_67]
type=model
x=69
y=61
width=32
height=32
layer=com_26
model=model_16237
modelzoom=1000

// 426:68
[com_68]
type=model
x=69
y=61
width=32
height=32
layer=com_26
model=model_16283
modelzoom=1000

// 426:69
[com_69]
type=model
x=69
y=61
width=32
height=32
layer=com_27
model=model_16276
modelzoom=1000

// 426:70
[com_70]
type=model
x=69
y=61
width=32
height=32
layer=com_27
model=model_16280
modelzoom=1000

// 426:71
[com_71]
type=model
x=69
y=61
width=32
height=32
layer=com_27
model=model_16238
modelzoom=1000

// 426:72
[com_72]
type=model
x=69
y=61
width=32
height=32
layer=com_27
model=model_16284
modelzoom=1000

// 426:73
[com_73]
type=layer
x=450
y=17
width=32
height=32
hide=yes

// 426:74
[com_74]
type=graphic
x=5
y=4
width=23
height=23
layer=com_73
buttontype=3
graphic="close_buttons,5"

