// 400:0
[com_0]
type=model
x=16
y=22
width=473
height=298
model=model_15194
modelangle=514,0,0
modelzoom=300

// 400:1
[com_1]
type=model
x=241
y=151
width=32
height=32
model=model_15195
modelangle=514,0,0
modelzoom=430

// 400:2
[com_2]
type=model
x=297
y=135
width=69
height=67
buttontype=1
model=model_15178
modelactive=model_15177
modelangle=514,0,0
modelzoom=200
buttontext=Ardougne Teleport
script=varplayer_261 < 2

// 400:3
[com_3]
type=model
x=381
y=136
width=71
height=66
buttontype=1
model=model_15180
modelactive=model_15179
modelangle=514,0,0
modelzoom=200
buttontext=Bones to Bananas
script=varplayer_262 = 0

// 400:4
[com_4]
type=model
x=381
y=217
width=70
height=69
buttontype=1
model=model_15182
modelactive=model_15181
modelangle=514,0,0
modelzoom=200
buttontext=Bones to Peaches
script=varplayer_262 < 3

// 400:5
[com_5]
type=model
x=298
y=217
width=67
height=67
buttontype=1
model=model_15184
modelactive=model_15183
modelangle=514,0,0
modelzoom=200
buttontext=Camelot Teleport
script=varplayer_261 < 2

// 400:6
[com_6]
type=model
x=214
y=53
width=66
height=68
buttontype=1
model=model_15186
modelactive=model_15185
modelangle=514,0,0
modelzoom=200
buttontext=Enchant Diamond
script=varplayer_262 < 2

// 400:7
[com_7]
type=model
x=48
y=214
width=66
height=68
buttontype=1
model=model_15188
modelactive=model_15185
modelangle=514,0,0
modelzoom=200
buttontext=Enchant Dragonstone
script=varplayer_262 < 3

// 400:8
[com_8]
type=model
x=49
y=132
width=66
height=66
buttontype=1
model=model_15189
modelactive=model_15185
modelangle=514,0,0
modelzoom=200
buttontext=Enchant Emerald
script=varplayer_262 = 0

// 400:9
[com_9]
type=model
x=50
y=51
width=66
height=67
buttontype=1
model=model_15190
modelactive=model_15185
modelangle=514,0,0
modelzoom=200
buttontext=Enchant Onyx
script=varplayer_262 < 3

// 400:10
[com_10]
type=model
x=130
y=214
width=67
height=68
buttontype=1
model=model_15191
modelactive=model_15185
modelangle=514,0,0
modelzoom=200
buttontext=Enchant Ruby
script=varplayer_262 < 2

// 400:11
[com_11]
type=model
x=131
y=134
width=67
height=67
buttontype=1
model=model_15192
modelactive=model_15185
modelangle=514,0,0
modelzoom=200
buttontext=Enchant Sapphire

// 400:12
[com_12]
type=model
x=214
y=133
width=67
height=67
buttontype=1
model=model_15193
modelactive=model_15187
modelangle=514,0,0
modelzoom=200
buttontext=Falador Teleport
script=varplayer_261 = 0

// 400:13
[com_13]
type=model
x=132
y=52
width=66
height=67
buttontype=1
model=model_15197
modelactive=model_15196
modelangle=514,0,0
modelzoom=200
buttontext=Lumbridge Teleport
script=varplayer_261 < 1

// 400:14
[com_14]
type=model
x=383
y=54
width=69
height=69
buttontype=1
model=model_15201
modelactive=model_15200
modelangle=514,0,0
modelzoom=200
buttontext=Teleport to house
script=varplayer_261 < 3

// 400:15
[com_15]
type=model
x=215
y=215
width=65
height=68
buttontype=1
model=model_15203
modelactive=model_15202
modelangle=514,0,0
modelzoom=200
buttontext=Varrock Teleport

// 400:16
[com_16]
type=model
x=298
y=54
width=69
height=66
buttontype=1
model=model_15205
modelactive=model_15204
modelangle=514,0,0
modelzoom=200
buttontext=Watchtower teleport
script=varplayer_261 < 3

// 400:17
[com_17]
type=graphic
x=487
y=4
width=26
height=23
mouseoverlayer=com_19
graphic="close_buttons,0"

// 400:18
[com_18]
type=graphic
x=5
y=5
width=26
height=23
layer=com_19
buttontype=3
graphic="close_buttons,1"

// 400:19
[com_19]
type=layer
x=482
y=-1
width=32
height=32
hide=yes

