// 517:0
[com_0]
type=inv
x=16
y=8
width=4
height=7
draggable=yes
paddingx=10
paddingy=4
op1=Give 1
op2=Give 5
op3=Give 10
op4=Give All
op5=Give X

