// 332:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 332:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 332:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 332:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 332:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 332:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 332:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 332:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 332:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 332:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 332:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 332:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 332:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 332:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 332:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 332:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 332:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 332:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 332:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 332:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 332:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 332:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 332:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 332:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 332:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 332:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 332:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 332:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 332:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 332:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 332:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 332:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 332:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 332:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 332:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 332:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 332:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 332:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 332:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 332:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 332:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 332:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 332:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 332:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 332:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 332:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 332:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 332:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 332:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 332:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 332:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 332:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 332:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 332:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 332:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 332:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 332:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 332:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 332:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 332:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 332:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 332:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 332:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 332:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 332:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 332:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 332:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 332:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 332:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 332:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 332:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 332:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 332:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 332:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 332:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 332:75
[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 332:76
[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 332:77
[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 332:78
[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 332:79
[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 332:80
[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 332:81
[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 332:82
[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 332:83
[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 332:84
[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 332:85
[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 332:86
[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 332:87
[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 332:88
[com_88]
type=graphic
x=471
y=26
width=23
height=23
mouseoverlayer=com_90
graphic="close_buttons,0"

// 332:89
[com_89]
type=graphic
x=5
y=4
width=23
height=23
layer=com_90
buttontype=3
graphic="close_buttons,1"

// 332:90
[com_90]
type=layer
x=466
y=22
width=32
height=32
hide=yes

// 332:91
[com_91]
type=text
x=139
y=120
width=117
height=14
textfont=p12_full
text=Water Battlestaff
textalignh=centre
textalignv=centre
colour=0x0aaaaaaa
colouractive=0xffffff
script=inv_total(interface_149:com_0, obj_1395) > 0

// 332:92
[com_92]
type=text
x=20
y=120
width=117
height=14
textfont=p12_full
text=Air Battlestaff
textalignh=centre
textalignv=centre
colour=0xaaaaaa
colouractive=0xffffff
script=inv_total(interface_149:com_0, obj_1397) > 0

// 332:93
[com_93]
type=text
x=257
y=120
width=114
height=14
textfont=p12_full
text=Earth Battlestaff
textalignh=centre
textalignv=centre
colour=0xaaaaaa
colouractive=0xffffff
script=inv_total(interface_149:com_0, obj_1399) > 0

// 332:94
[com_94]
type=text
x=373
y=120
width=106
height=14
textfont=p12_full
text=Fire Battlestaff
textalignh=centre
textalignv=centre
colour=0xaaaaaa
colouractive=0xffffff
script=inv_total(interface_149:com_0, obj_1393) > 0

// 332:95
[com_95]
type=text
x=71
y=27
width=363
height=20
textfont=p12_full
text=What would you like to enchant?
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffaa44

// 332:96
[com_96]
type=text
x=28
y=200
width=110
height=14
textfont=p12_full
text=Lava Battlestaff
textalignh=centre
textalignv=centre
colour=0xaaaaaa
colouractive=0xffffff
script=inv_total(interface_149:com_0, obj_3053) > 0

// 332:97
[com_97]
type=text
x=146
y=200
width=100
height=14
textfont=p12_full
text=Mud Battlestaff
textalignh=centre
textalignv=centre
colour=0xaaaaaa
colouractive=0xffffff
script=inv_total(interface_149:com_0, obj_6562) > 0

// 332:98
[com_98]
type=model
x=70
y=80
width=32
height=32
buttontype=1
model=model_2810
modelangle=148,1400,0
modelzoom=992
buttontext=Enchant Air Battlestaff

// 332:99
[com_99]
type=model
x=180
y=80
width=32
height=32
buttontype=1
model=model_2810
modelangle=148,1400,0
modelzoom=992
buttontext=Enchant Water Battlestaff

// 332:100
[com_100]
type=model
x=290
y=80
width=32
height=32
buttontype=1
model=model_2810
modelangle=148,1400,0
modelzoom=992
buttontext=Enchant Earth Battlestaff

// 332:101
[com_101]
type=model
x=400
y=80
width=32
height=32
buttontype=1
model=model_2810
modelangle=148,1400,0
modelzoom=992
buttontext=Enchant Fire Battlestaff

// 332:102
[com_102]
type=model
x=70
y=160
width=32
height=32
buttontype=1
model=model_2810
modelangle=148,1400,0
modelzoom=992
buttontext=Enchant Lava Battlestaff

// 332:103
[com_103]
type=model
x=180
y=160
width=32
height=32
buttontype=1
model=model_2810
modelangle=148,1400,0
modelzoom=992
buttontext=Enchant Mud Battlestaff

