// 225:0
[com_0]
type=model
x=239
y=155
width=32
height=32
model=model_3044
modelzoom=525

// 225:1
[com_1]
type=text
x=82
y=82
width=354
height=14
textfont=q8_full
textalignh=centre
textshadow=yes

// 225:2
[com_2]
type=text
x=82
y=98
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:3
[com_3]
type=text
x=82
y=114
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:4
[com_4]
type=text
x=82
y=131
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:5
[com_5]
type=text
x=82
y=148
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:6
[com_6]
type=text
x=82
y=165
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:7
[com_7]
type=text
x=82
y=182
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:8
[com_8]
type=text
x=82
y=199
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:9
[com_9]
type=text
x=82
y=216
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:10
[com_10]
type=text
x=82
y=233
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:11
[com_11]
type=text
x=82
y=250
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:12
[com_12]
type=text
x=82
y=267
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:13
[com_13]
type=graphic
x=444
y=54
width=26
height=23
mouseoverlayer=com_15
graphic="close_buttons,2"

// 225:14
[com_14]
type=graphic
x=3
y=5
width=26
height=23
layer=com_15
mouseoverlayer=com_15
buttontype=3
graphic="close_buttons,3"

// 225:15
[com_15]
type=layer
x=441
y=49
width=32
height=32
hide=yes

