// 248:0
[com_0]
type=model
x=34
y=34
width=32
height=32
model=null
modelangle=40,1882,0
modelzoom=796

// 248:1
[com_1]
type=text
x=111
width=350
height=17
textfont=q8_full
text=Name
textalignh=centre
colour=0x800000

// 248:2
[com_2]
type=text
x=111
y=16
width=350
height=17
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

// 248:3
[com_3]
type=text
x=111
y=32
width=350
height=17
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

// 248:4
[com_4]
type=text
x=111
y=48
width=350
height=17
textfont=q8_full
text=Line3
textalignh=centre
colour=0x000000

// 248:5
[com_5]
type=text
x=111
y=64
width=350
height=17
textfont=q8_full
text=Line4
textalignh=centre
colour=0x000000

