// 32:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 32:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 32:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 32:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 32:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 32:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 32:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 32:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 32:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 32:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 32:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 32:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 32:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 32:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 32:14
[com_14]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 32:15
[com_15]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 32:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 32:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 32:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 32:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 32:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 32:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 32:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 32:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 32:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 32:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 32:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 32:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 32:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 32:29
[com_29]
type=graphic
x=409
y=258
width=88
height=60
graphic=tradebacking

// 32:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 32:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 32:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 32:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 32:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 32:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 32:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 32:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 32:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 32:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 32:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 32:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 32:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 32:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 32:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 32:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 32:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 32:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 32:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 32:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 32:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 32:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 32:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 32:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 32:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 32:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 32:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 32:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 32:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 32:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 32:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 32:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 32:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 32:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 32:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 32:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 32:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 32:67
[com_67]
type=text
x=43
y=58
width=140
height=25
textfont=p12_full
text=Insert a very long name here!
textshadow=yes
colour=0xffaa44

// 32:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 32:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 32:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 32:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 32:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 32:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 32:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 32:75
[com_75]
type=text
x=100
y=75
width=14
height=14
textfont=p12_full
text=vs
textshadow=yes
colour=0xaaaaaa

// 32:76
[com_76]
type=text
x=43
y=89
width=140
height=25
textfont=p12_full
text=Insert a very long name here!
textshadow=yes
colour=0xffaa44

// 32:77
[com_77]
type=graphic
x=183
y=26
width=36
height=36
graphic="miscgraphics,2"

// 32:78
[com_78]
type=graphic
x=183
y=62
width=36
height=36
graphic="miscgraphics,2"

// 32:79
[com_79]
type=graphic
x=183
y=98
width=36
height=36
graphic="miscgraphics,2"

// 32:80
[com_80]
type=graphic
x=183
y=134
width=36
height=36
graphic="miscgraphics,2"

// 32:81
[com_81]
type=graphic
x=183
y=170
width=36
height=36
graphic="miscgraphics,2"

// 32:82
[com_82]
type=graphic
x=162
y=34
width=36
height=36
graphic="steelborder2,0"

// 32:83
[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 32:84
[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 32:85
[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 32:86
[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 32:87
[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 32:88
[com_88]
type=text
x=38
y=127
width=44
height=31
textfont=p12_full
text=Turn:
textalignh=right
textshadow=yes
colour=0xffaa44

// 32:89
[com_89]
type=layer
x=21
y=239
width=122
height=35

// 32:90
[com_90]
type=layer
x=21
y=200
width=122
height=36

// 32:91
[com_91]
type=text
x=21
y=29
width=176
height=17
textfont=b12_full
text=Draughts
textshadow=yes
colour=0xffaa44

// 32:92
[com_92]
type=rectangle
x=6
y=6
width=111
height=25
layer=com_89
buttontype=3
colour=0x000000
fill=yes

// 32:93
[com_93]
type=text
x=6
y=6
width=111
height=23
layer=com_89
textfont=p12_full
text=Resign
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

// 32:94
[com_94]
type=rectangle
x=6
y=6
width=112
height=26
layer=com_90
buttontype=1
colour=0x000000
fill=yes
buttontext=Offer your opponent a draw

// 32:95
[com_95]
type=text
x=6
y=6
width=110
height=25
layer=com_90
textfont=p12_full
text=Offer draw
textlineheight=11
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x888800
mouseovercolour=0xffff00

// 32:96
[com_96]
type=graphic
x=25
y=-15
width=36
height=36
layer=com_89
graphic="steelborder2,0"

// 32:97
[com_97]
type=graphic
x=25
y=-15
width=36
height=36
layer=com_90
graphic="steelborder2,0"

// 32:98
[com_98]
type=text
x=85
y=127
width=111
height=31
textfont=p12_full
text=A very long name
textshadow=yes
colour=0xaaaaaa

// 32:99
[com_99]
type=graphic
x=25
y=14
width=36
height=36
layer=com_90
graphic="miscgraphics,3"

// 32:100
[com_100]
type=graphic
width=25
height=30
layer=com_89
graphic="steelborder,0"

// 32:101
[com_101]
type=graphic
width=25
height=30
layer=com_90
graphic="steelborder,0"

// 32:102
[com_102]
type=graphic
x=97
width=25
height=30
layer=com_89
graphic="steelborder,1"

// 32:103
[com_103]
type=graphic
x=97
width=25
height=30
layer=com_90
graphic="steelborder,1"

// 32:104
[com_104]
type=graphic
y=6
width=25
height=30
layer=com_89
graphic="steelborder,2"

// 32:105
[com_105]
type=graphic
y=5
width=25
height=30
layer=com_90
graphic="steelborder,2"

// 32:106
[com_106]
type=graphic
x=97
y=6
width=25
height=30
layer=com_89
graphic="steelborder,3"

// 32:107
[com_107]
type=graphic
x=25
y=15
width=36
height=36
layer=com_89
graphic="miscgraphics,3"

// 32:108
[com_108]
type=graphic
x=97
y=5
width=25
height=30
layer=com_90
graphic="steelborder,3"

// 32:109
[com_109]
type=model
x=332
y=154
width=32
height=32
model=model_4607
modelangle=512,0,0
modelzoom=400

// 32:110
[com_110]
type=rectangle
x=219
y=41
width=258
height=258
colour=0x000000

// 32:111
[com_111]
type=text
x=23
y=185
width=169
height=11
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

// 32:112
[com_112]
type=model
x=220
y=42
width=32
height=32
model=model_4611
modelangle=512,0,0
modelzoom=768
modelanim=seq_1356

// 32:113
[com_113]
type=inv
x=220
y=42
width=8
height=8
swappable=yes

// 32:114
[com_114]
type=graphic
x=183
y=206
width=36
height=36
graphic="miscgraphics,2"

// 32:115
[com_115]
type=graphic
x=183
y=242
width=36
height=36
graphic="miscgraphics,2"

// 32:116
[com_116]
type=graphic
x=61
y=14
width=36
height=36
layer=com_90
graphic="miscgraphics,3"

// 32:117
[com_117]
type=graphic
x=183
y=278
width=36
height=36
graphic="miscgraphics,2"

// 32:118
[com_118]
type=text
x=17
y=156
width=180
height=21
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xaaaaaa

// 32:119
[com_119]
type=text
x=27
y=157
width=160
height=14
textfont=b12_full
text=Blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

// 32:120
[com_120]
type=model
x=20
y=57
width=20
height=20
model=model_2399
modelangle=512,1024,0
modelzoom=1024

// 32:121
[com_121]
type=model
x=20
y=87
width=20
height=20
model=model_2652
modelangle=512,1024,0
modelzoom=1024

// 32:122
[com_122]
type=model
x=158
y=283
width=32
height=32
model=model_4612
modelzoom=2048

// 32:123
[com_123]
type=graphic
x=61
y=-15
width=36
height=36
layer=com_90
graphic="steelborder2,0"

// 32:124
[com_124]
type=graphic
x=61
y=15
width=36
height=36
layer=com_89
graphic="miscgraphics,3"

// 32:125
[com_125]
type=graphic
x=61
y=-15
width=36
height=36
layer=com_89
graphic="steelborder2,0"

