// 49:0
[com_0]
type=model
x=239
y=145
width=35
height=35
model=model_3035
modelangle=395,0,0
modelzoom=525

// 49:1
[com_1]
type=layer
x=12
y=20
width=488
height=36

// 49:2
[com_2]
type=graphic
x=94
y=-3
width=88
height=60
layer=com_1
graphic=tradebacking

// 49:3
[com_3]
type=graphic
x=182
y=6
width=88
height=60
layer=com_1
graphic=tradebacking

// 49:4
[com_4]
type=graphic
x=270
y=6
width=88
height=60
layer=com_1
graphic=tradebacking

// 49:5
[com_5]
type=graphic
x=358
y=6
width=88
height=60
layer=com_1
graphic=tradebacking

// 49:6
[com_6]
type=graphic
x=394
y=6
width=88
height=60
layer=com_1
graphic=tradebacking

// 49:7
[com_7]
type=graphic
x=6
y=-1
width=88
height=60
layer=com_1
graphic=tradebacking

// 49:8
[com_8]
type=graphic
x=60
y=16
width=36
height=36
layer=com_1
graphic="miscgraphics,3"

// 49:9
[com_9]
type=graphic
x=96
y=16
width=36
height=36
layer=com_1
graphic="miscgraphics,3"

// 49:10
[com_10]
type=graphic
x=132
y=16
width=36
height=36
layer=com_1
graphic="miscgraphics,3"

// 49:11
[com_11]
type=graphic
x=168
y=16
width=36
height=36
layer=com_1
graphic="miscgraphics,3"

// 49:12
[com_12]
type=graphic
x=204
y=16
width=36
height=36
layer=com_1
graphic="miscgraphics,3"

// 49:13
[com_13]
type=graphic
x=240
y=16
width=36
height=36
layer=com_1
graphic="miscgraphics,3"

// 49:14
[com_14]
type=graphic
x=276
y=16
width=36
height=36
layer=com_1
graphic="miscgraphics,3"

// 49:15
[com_15]
type=graphic
x=312
y=16
width=36
height=36
layer=com_1
graphic="miscgraphics,3"

// 49:16
[com_16]
type=graphic
x=348
y=16
width=36
height=36
layer=com_1
graphic="miscgraphics,3"

// 49:17
[com_17]
type=graphic
x=384
y=16
width=36
height=36
layer=com_1
graphic="miscgraphics,3"

// 49:18
[com_18]
type=graphic
x=420
y=16
width=36
height=36
layer=com_1
graphic="miscgraphics,3"

// 49:19
[com_19]
type=graphic
x=428
y=16
width=36
height=36
layer=com_1
graphic="miscgraphics,3"

// 49:20
[com_20]
type=graphic
width=25
height=30
layer=com_1
graphic="steelborder,0"

// 49:21
[com_21]
type=graphic
x=60
y=-15
width=36
height=36
layer=com_1
graphic="steelborder2,0"

// 49:22
[com_22]
type=graphic
x=96
y=-15
width=36
height=36
layer=com_1
graphic="steelborder2,0"

// 49:23
[com_23]
type=graphic
x=132
y=-15
width=36
height=36
layer=com_1
graphic="steelborder2,0"

// 49:24
[com_24]
type=graphic
x=168
y=-15
width=36
height=36
layer=com_1
graphic="steelborder2,0"

// 49:25
[com_25]
type=graphic
x=204
y=-15
width=36
height=36
layer=com_1
graphic="steelborder2,0"

// 49:26
[com_26]
type=graphic
x=240
y=-15
width=36
height=36
layer=com_1
graphic="steelborder2,0"

// 49:27
[com_27]
type=graphic
x=276
y=-15
width=36
height=36
layer=com_1
graphic="steelborder2,0"

// 49:28
[com_28]
type=graphic
x=312
y=-15
width=36
height=36
layer=com_1
graphic="steelborder2,0"

// 49:29
[com_29]
type=graphic
x=348
y=-15
width=36
height=36
layer=com_1
graphic="steelborder2,0"

// 49:30
[com_30]
type=graphic
x=384
y=-15
width=36
height=36
layer=com_1
graphic="steelborder2,0"

// 49:31
[com_31]
type=graphic
x=420
y=-15
width=36
height=36
layer=com_1
graphic="steelborder2,0"

// 49:32
[com_32]
type=graphic
x=25
y=-15
width=36
height=36
layer=com_1
graphic="steelborder2,0"

// 49:33
[com_33]
type=graphic
x=463
width=25
height=30
layer=com_1
graphic="steelborder,1"

// 49:34
[com_34]
type=graphic
x=427
y=-15
width=36
height=36
layer=com_1
graphic="steelborder2,0"

// 49:35
[com_35]
type=graphic
x=463
y=7
width=25
height=30
layer=com_1
graphic="steelborder,3"

// 49:36
[com_36]
type=graphic
x=25
y=16
width=36
height=36
layer=com_1
graphic="miscgraphics,3"

// 49:37
[com_37]
type=graphic
y=7
width=25
height=30
layer=com_1
graphic="steelborder,2"

// 49:38
[com_38]
type=text
x=19
y=25
width=478
height=26
textfont=b12_full
text=book title
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f

// 49:39
[com_39]
type=layer
x=60
y=80
width=175
height=210
hide=yes

// 49:40
[com_40]
type=model
x=67
width=32
height=32
layer=com_39
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:41
[com_41]
type=layer
x=60
y=80
width=175
height=210
hide=yes

// 49:42
[com_42]
type=model
x=65
y=16
width=32
height=32
layer=com_41
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:43
[com_43]
type=layer
x=60
y=80
width=175
height=210
hide=yes

// 49:44
[com_44]
type=model
x=63
y=32
width=32
height=32
layer=com_43
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:45
[com_45]
type=layer
x=60
y=80
width=175
height=210
hide=yes

// 49:46
[com_46]
type=model
x=61
y=48
width=32
height=32
layer=com_45
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:47
[com_47]
type=layer
x=60
y=80
width=175
height=210
hide=yes

// 49:48
[com_48]
type=model
x=59
y=64
width=32
height=32
layer=com_47
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:49
[com_49]
type=layer
x=60
y=80
width=175
height=210
hide=yes

// 49:50
[com_50]
type=model
x=57
y=80
width=32
height=32
layer=com_49
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:51
[com_51]
type=layer
x=60
y=80
width=175
height=210
hide=yes

// 49:52
[com_52]
type=model
x=55
y=96
width=32
height=32
layer=com_51
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:53
[com_53]
type=layer
x=60
y=80
width=175
height=210
hide=yes

// 49:54
[com_54]
type=model
x=53
y=112
width=32
height=32
layer=com_53
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:55
[com_55]
type=layer
x=60
y=80
width=175
height=210
hide=yes

// 49:56
[com_56]
type=model
x=51
y=128
width=32
height=32
layer=com_55
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:57
[com_57]
type=layer
x=60
y=80
width=175
height=210
hide=yes

// 49:58
[com_58]
type=model
x=49
y=144
width=32
height=32
layer=com_57
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:59
[com_59]
type=layer
x=60
y=80
width=175
height=210
hide=yes

// 49:60
[com_60]
type=model
x=47
y=160
width=32
height=32
layer=com_59
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:61
[com_61]
type=layer
x=283
y=80
width=175
height=210
hide=yes

// 49:62
[com_62]
type=model
x=67
width=32
height=32
layer=com_61
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:63
[com_63]
type=layer
x=283
y=80
width=175
height=210
hide=yes

// 49:64
[com_64]
type=model
x=68
y=16
width=32
height=32
layer=com_63
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:65
[com_65]
type=layer
x=283
y=80
width=175
height=210
hide=yes

// 49:66
[com_66]
type=model
x=69
y=32
width=32
height=32
layer=com_65
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:67
[com_67]
type=layer
x=283
y=80
width=175
height=210
hide=yes

// 49:68
[com_68]
type=model
x=71
y=48
width=32
height=32
layer=com_67
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:69
[com_69]
type=layer
x=283
y=80
width=175
height=210
hide=yes

// 49:70
[com_70]
type=model
x=72
y=64
width=32
height=32
layer=com_69
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:71
[com_71]
type=layer
x=283
y=80
width=175
height=210
hide=yes

// 49:72
[com_72]
type=model
x=73
y=80
width=32
height=32
layer=com_71
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:73
[com_73]
type=layer
x=283
y=80
width=175
height=210
hide=yes

// 49:74
[com_74]
type=model
x=75
y=96
width=32
height=32
layer=com_73
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:75
[com_75]
type=layer
x=283
y=80
width=175
height=210
hide=yes

// 49:76
[com_76]
type=model
x=76
y=112
width=32
height=32
layer=com_75
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:77
[com_77]
type=layer
x=283
y=80
width=175
height=210
hide=yes

// 49:78
[com_78]
type=model
x=77
y=128
width=32
height=32
layer=com_77
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:79
[com_79]
type=layer
x=283
y=80
width=175
height=210
hide=yes

// 49:80
[com_80]
type=model
x=79
y=144
width=32
height=32
layer=com_79
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:81
[com_81]
type=layer
x=283
y=80
width=175
height=210
hide=yes

// 49:82
[com_82]
type=model
x=80
y=160
width=32
height=32
layer=com_81
model=model_3389
modelangle=200,0,0
modelzoom=500

// 49:83
[com_83]
type=graphic
width=45
height=36
layer=com_84
buttontype=6
graphic=leftarrow
buttontext=Previous Page

// 49:84
[com_84]
type=layer
x=55
y=295
width=45
height=36

// 49:85
[com_85]
type=graphic
width=45
height=36
layer=com_86
buttontype=6
graphic=rightarrow
buttontext=Next Page

// 49:86
[com_86]
type=layer
x=389
y=292
width=45
height=36

// 49:87
[com_87]
type=text
x=60
y=80
width=175
height=17
textfont=q8_full
text=line1
colour=0x000000

// 49:88
[com_88]
type=text
x=58
y=96
width=177
height=17
textfont=q8_full
text=line2
colour=0x000000

// 49:89
[com_89]
type=text
x=56
y=112
width=179
height=17
textfont=q8_full
text=line3
colour=0x000000

// 49:90
[com_90]
type=text
x=54
y=128
width=181
height=17
textfont=q8_full
text=line4
colour=0x000000

// 49:91
[com_91]
type=text
x=51
y=144
width=184
height=17
textfont=q8_full
text=line5
colour=0x000000

// 49:92
[com_92]
type=text
x=49
y=160
width=186
height=17
textfont=q8_full
text=line6
colour=0x000000

// 49:93
[com_93]
type=text
x=47
y=176
width=188
height=17
textfont=q8_full
text=line7
colour=0x000000

// 49:94
[com_94]
type=text
x=45
y=192
width=190
height=17
textfont=q8_full
text=line8
colour=0x000000

// 49:95
[com_95]
type=text
x=42
y=208
width=193
height=17
textfont=q8_full
text=line9
colour=0x000000

// 49:96
[com_96]
type=text
x=40
y=224
width=195
height=17
textfont=q8_full
text=line10
colour=0x000000

// 49:97
[com_97]
type=text
x=38
y=240
width=197
height=17
textfont=q8_full
text=line11
colour=0x000000

// 49:98
[com_98]
type=text
x=283
y=80
width=175
height=17
textfont=q8_full
text=line12
colour=0x000000

// 49:99
[com_99]
type=text
x=283
y=96
width=177
height=17
textfont=q8_full
text=line13
colour=0x000000

// 49:100
[com_100]
type=text
x=283
y=112
width=179
height=17
textfont=q8_full
text=line14
colour=0x000000

// 49:101
[com_101]
type=text
x=283
y=128
width=181
height=17
textfont=q8_full
text=line15
colour=0x000000

// 49:102
[com_102]
type=text
x=283
y=144
width=183
height=17
textfont=q8_full
text=line16
colour=0x000000

// 49:103
[com_103]
type=text
x=283
y=160
width=185
height=17
textfont=q8_full
text=line17
colour=0x000000

// 49:104
[com_104]
type=text
x=283
y=176
width=187
height=17
textfont=q8_full
text=line18
colour=0x000000

// 49:105
[com_105]
type=text
x=283
y=192
width=189
height=17
textfont=q8_full
text=line19
colour=0x000000

// 49:106
[com_106]
type=text
x=283
y=208
width=191
height=17
textfont=q8_full
text=line20
colour=0x000000

// 49:107
[com_107]
type=text
x=283
y=224
width=193
height=17
textfont=q8_full
text=line21
colour=0x000000

// 49:108
[com_108]
type=text
x=283
y=240
width=195
height=17
textfont=q8_full
text=line22
colour=0x000000

// 49:109
[com_109]
type=text
x=29
y=270
width=90
height=17
textfont=q8_full
text=Page%1
colour=0x000000

// 49:110
[com_110]
type=text
x=392
y=270
width=90
height=17
textfont=q8_full
text=Page%2
textalignh=right
colour=0x000000

// 49:111
[com_111]
type=graphic
x=470
y=27
width=26
height=23
mouseoverlayer=com_113
graphic="close_buttons,0"

// 49:112
[com_112]
type=graphic
x=5
y=4
width=26
height=23
layer=com_113
buttontype=1
graphic="close_buttons,1"

// 49:113
[com_113]
type=layer
x=465
y=23
width=32
height=32
hide=yes

