// 345:0
[com_0]
type=model
x=227
y=162
width=32
height=32
model=model_3395
modelangle=520,1,0
modelzoom=599

// 345:1
[com_1]
type=text
x=131
y=62
width=256
height=21
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

// 345:2
[com_2]
type=text
x=131
y=87
width=256
height=21
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

// 345:3
[com_3]
type=text
x=131
y=112
width=256
height=21
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

// 345:4
[com_4]
type=text
x=131
y=137
width=256
height=21
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

// 345:5
[com_5]
type=text
x=131
y=162
width=256
height=21
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

// 345:6
[com_6]
type=text
x=131
y=187
width=256
height=21
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

// 345:7
[com_7]
type=text
x=131
y=212
width=256
height=21
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

// 345:8
[com_8]
type=text
x=131
y=237
width=256
height=21
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

// 345:9
[com_9]
type=graphic
x=473
y=13
width=25
height=25
mouseoverlayer=com_11
graphic="close_buttons,4"

// 345:10
[com_10]
type=graphic
x=3
y=3
width=26
height=23
layer=com_11
buttontype=3
graphic="close_buttons,5"

// 345:11
[com_11]
type=layer
x=470
y=10
width=32
height=32
hide=yes

