// 540:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 540:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 540:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 540:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 540:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 540:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 540:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 540:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 540:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 540:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 540:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 540:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 540:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 540:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 540:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 540:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 540:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 540:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 540:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 540:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 540:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 540:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 540:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 540:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 540:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 540:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 540:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 540:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 540:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 540:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 540:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 540:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 540:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 540:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 540:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 540:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 540:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 540:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 540:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 540:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 540:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 540:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 540:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 540:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 540:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 540:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 540:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 540:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 540:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 540:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 540:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 540:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 540:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 540:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 540:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 540:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 540:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 540:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 540:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 540:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 540:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 540:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 540:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 540:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 540:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 540:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 540:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 540:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 540:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 540:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 540:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 540:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 540:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 540:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 540:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 540:75
[com_75]
type=text
x=101
y=30
width=315
height=18
textfont=b12_full
text=Elnock's Exchange
textalignh=centre
textshadow=yes
colour=0xff981f

// 540:76
[com_76]
type=text
x=17
y=296
width=476
height=19
textfont=p12_full
text=Make your selection and press confirm
textalignh=centre
textshadow=yes
colour=0xff981f

// 540:77
[com_77]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 540:78
[com_78]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 540:79
[com_79]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 540:80
[com_80]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 540:81
[com_81]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 540:82
[com_82]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 540:83
[com_83]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 540:84
[com_84]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 540:85
[com_85]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 540:86
[com_86]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 540:87
[com_87]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 540:88
[com_88]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 540:89
[com_89]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 540:90
[com_90]
type=graphic
x=472
y=26
width=26
height=23
mouseoverlayer=com_92
graphic="close_buttons,0"

// 540:91
[com_91]
type=graphic
x=5
y=4
width=26
height=23
layer=com_92
buttontype=3
graphic="close_buttons,1"

// 540:92
[com_92]
type=layer
x=467
y=22
width=32
height=32
hide=yes

// 540:93
[com_93]
type=graphic
x=73
y=68
width=50
height=50
graphic="ii_impling_icons,1"

// 540:94
[com_94]
type=text
x=114
y=104
width=20
height=16
textfont=p12_full
text=x3
textshadow=yes
colour=0xff981f

// 540:95
[com_95]
type=graphic
x=135
y=66
width=50
height=50
graphic="ii_impling_icons,6"

// 540:96
[com_96]
type=text
x=174
y=103
width=20
height=16
textfont=p12_full
text=x2
textshadow=yes
colour=0xff981f

// 540:97
[com_97]
type=graphic
x=197
y=66
width=50
height=50
graphic="ii_impling_icons,0"

// 540:98
[com_98]
type=text
x=238
y=104
width=20
height=16
textfont=p12_full
text=x1
textshadow=yes
colour=0xff981f

// 540:99
[com_99]
type=graphic
x=72
y=119
width=50
height=50
graphic="ii_impling_icons,0"

// 540:100
[com_100]
type=text
x=113
y=156
width=20
height=16
textfont=p12_full
text=x3
textshadow=yes
colour=0xff981f

// 540:101
[com_101]
type=graphic
x=134
y=118
width=50
height=50
graphic="ii_impling_icons,9"

// 540:102
[com_102]
type=text
x=173
y=155
width=20
height=16
textfont=p12_full
text=x2
textshadow=yes
colour=0xff981f

// 540:103
[com_103]
type=graphic
x=196
y=118
width=50
height=50
graphic="ii_impling_icons,8"

// 540:104
[com_104]
type=text
x=237
y=156
width=20
height=16
textfont=p12_full
text=x1
textshadow=yes
colour=0xff981f

// 540:105
[com_105]
type=graphic
x=72
y=171
width=50
height=50
graphic="ii_impling_icons,8"

// 540:106
[com_106]
type=text
x=113
y=208
width=20
height=16
textfont=p12_full
text=x3
textshadow=yes
colour=0xff981f

// 540:107
[com_107]
type=graphic
x=134
y=170
width=50
height=50
graphic="ii_impling_icons,4"

// 540:108
[com_108]
type=text
x=173
y=207
width=20
height=16
textfont=p12_full
text=x2
textshadow=yes
colour=0xff981f

// 540:109
[com_109]
type=graphic
x=196
y=170
width=50
height=50
graphic="ii_impling_icons,3"

// 540:110
[com_110]
type=text
x=237
y=208
width=20
height=16
textfont=p12_full
text=x1
textshadow=yes
colour=0xff981f

// 540:111
[com_111]
type=graphic
x=72
y=223
width=50
height=50
graphic="ii_impling_icons,5"

// 540:112
[com_112]
type=text
x=114
y=255
width=224
height=18
textfont=p12_full
text=x1 of any impling type
textshadow=yes
colour=0xff981f

// 540:113
[com_113]
type=model
x=366
y=87
width=32
height=32
model=null
modelzoom=400

// 540:114
[com_114]
type=graphic
x=408
y=97
width=17
height=18
buttontype=1
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Toggle option
script=varplayerbit_3729 = 1

// 540:115
[com_115]
type=text
x=391
y=112
width=20
height=16
textfont=p12_full
text=x1
textshadow=yes
colour=0xff981f

// 540:116
[com_116]
type=model
x=362
y=138
width=32
height=32
model=null
modelzoom=400

// 540:117
[com_117]
type=graphic
x=407
y=147
width=17
height=18
buttontype=1
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Toggle option
script=varplayerbit_3729 = 2

// 540:118
[com_118]
type=text
x=390
y=162
width=20
height=16
textfont=p12_full
text=x1
textshadow=yes
colour=0xff981f

// 540:119
[com_119]
type=model
x=362
y=187
width=32
height=32
model=null
modelzoom=400

// 540:120
[com_120]
type=graphic
x=407
y=197
width=18
height=18
buttontype=1
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Toggle option
script=varplayerbit_3729 = 3

// 540:121
[com_121]
type=text
x=390
y=212
width=20
height=16
textfont=p12_full
text=x1
textshadow=yes
colour=0xff981f

// 540:122
[com_122]
type=model
x=372
y=238
width=32
height=32
model=null
modelzoom=400

// 540:123
[com_123]
type=graphic
x=407
y=250
width=18
height=18
buttontype=1
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Toggle option
script=varplayerbit_3729 = 4

// 540:124
[com_124]
type=text
x=391
y=265
width=20
height=16
textfont=p12_full
text=x3
textshadow=yes
colour=0xff981f

// 540:125
[com_125]
type=graphic
x=461
y=281
width=29
height=29
mouseoverlayer=com_127
graphic="ame_confirm_button,0"

// 540:126
[com_126]
type=graphic
x=5
y=5
width=29
height=29
layer=com_127
buttontype=1
graphic="ame_confirm_button,1"

// 540:127
[com_127]
type=layer
x=456
y=276
width=40
height=40
hide=yes

// 540:128
[com_128]
type=tooltip
x=34
y=34
width=32
height=32
text=Text

// 540:129
[com_129]
type=tooltip
x=73
y=68
width=50
height=50
text=Baby impling

// 540:130
[com_130]
type=tooltip
x=135
y=66
width=50
height=50
text=Young impling

// 540:131
[com_131]
type=tooltip
x=196
y=66
width=50
height=50
text=Gourmet impling

// 540:132
[com_132]
type=tooltip
x=72
y=120
width=50
height=50
text=Gourmet impling

// 540:133
[com_133]
type=tooltip
x=196
y=118
width=50
height=50
text=Essence impling

// 540:134
[com_134]
type=tooltip
x=71
y=171
width=50
height=50
text=Essence impling

// 540:135
[com_135]
type=tooltip
x=134
y=120
width=50
height=50
text=Earth impling

// 540:136
[com_136]
type=tooltip
x=134
y=171
width=50
height=50
text=Eclectic impling

// 540:137
[com_137]
type=tooltip
x=196
y=170
width=50
height=50
text=Nature impling

// 540:138
[com_138]
type=tooltip
x=362
y=87
width=32
height=32
text=Imp repellant

// 540:139
[com_139]
type=tooltip
x=362
y=138
width=32
height=32
text=Magic butterfly net

// 540:140
[com_140]
type=tooltip
x=362
y=187
width=32
height=32
text=Jar generator

// 540:141
[com_141]
type=tooltip
x=362
y=240
width=32
height=32
text=Three impling jars

