// 453:0
[com_0]
type=layer
width=555
height=400

// 453:1
[com_1]
type=model
x=239
y=153
width=32
height=32
layer=com_0
model=model_18140
modelangle=516,0,0
modelzoom=580

// 453:2
[com_2]
type=rectangle
width=550
height=400
layer=com_0
trans=255
colour=0x666666
fill=yes

