// 397:0
[com_0]
type=rectangle
x=-2
y=-3
width=568
height=369
colour=0x000000
fill=yes

// 397:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 397:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 397:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 397:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 397:5
[com_5]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 397:6
[com_6]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 397:7
[com_7]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 397:8
[com_8]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 397:9
[com_9]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 397:10
[com_10]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 397:11
[com_11]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 397:12
[com_12]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 397:13
[com_13]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 397:14
[com_14]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 397:15
[com_15]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 397:16
[com_16]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 397:17
[com_17]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 397:18
[com_18]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 397:19
[com_19]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 397:20
[com_20]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 397:21
[com_21]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 397:22
[com_22]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 397:23
[com_23]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 397:24
[com_24]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 397:25
[com_25]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 397:26
[com_26]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 397:27
[com_27]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 397:28
[com_28]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 397:29
[com_29]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 397:30
[com_30]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 397:31
[com_31]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 397:32
[com_32]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 397:33
[com_33]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 397:34
[com_34]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 397:35
[com_35]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 397:36
[com_36]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 397:37
[com_37]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 397:38
[com_38]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 397:39
[com_39]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 397:40
[com_40]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 397:41
[com_41]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 397:42
[com_42]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 397:43
[com_43]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 397:44
[com_44]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 397:45
[com_45]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 397:46
[com_46]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 397:47
[com_47]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 397:48
[com_48]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 397:49
[com_49]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 397:50
[com_50]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 397:51
[com_51]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 397:52
[com_52]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 397:53
[com_53]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 397:54
[com_54]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 397:55
[com_55]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 397:56
[com_56]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 397:57
[com_57]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 397:58
[com_58]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 397:59
[com_59]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 397:60
[com_60]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 397:61
[com_61]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 397:62
[com_62]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 397:63
[com_63]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 397:64
[com_64]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 397:65
[com_65]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 397:66
[com_66]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 397:67
[com_67]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 397:68
[com_68]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 397:69
[com_69]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 397:70
[com_70]
type=layer
x=32
y=80
width=250
height=222
scrollheight=981

// 397:71
[com_71]
type=model
x=10
y=109
width=49
height=34
layer=com_70
buttontype=1
model=model_12409
modelangle=202,385,0
modelzoom=2075

// 397:72
[com_72]
type=model
x=11
y=45
width=49
height=34
layer=com_70
buttontype=1
model=model_12444
modelangle=79,1841,0
modelzoom=1643

// 397:73
[com_73]
type=model
x=6
y=165
width=49
height=34
layer=com_70
buttontype=1
model=model_12384
modelangle=174,1852,0
modelzoom=2282

// 397:74
[com_74]
type=model
x=22
y=213
width=33
height=39
layer=com_70
buttontype=1
model=model_12492
modelangle=117,1123,0
modelzoom=2626

// 397:75
[com_75]
type=model
x=23
y=277
width=35
height=29
layer=com_70
buttontype=1
model=model_12457
modelangle=106,714,0
modelzoom=2985

// 397:76
[com_76]
type=model
x=17
y=344
width=32
height=32
layer=com_70
buttontype=1
model=model_12405
modelangle=152,1827,0
modelzoom=1842

// 397:77
[com_77]
type=model
x=19
y=405
width=32
height=32
layer=com_70
buttontype=1
model=model_12393
modelangle=100,1831,0
modelzoom=3000

// 397:78
[com_78]
type=model
x=20
y=462
width=32
height=32
layer=com_70
buttontype=1
model=model_12466
modelangle=151,1869,0
modelzoom=2168

// 397:79
[com_79]
type=model
x=20
y=530
width=31
height=28
layer=com_70
buttontype=1
model=model_11125
modelangle=127,1831,0
modelzoom=2401

// 397:80
[com_80]
type=model
x=13
y=583
width=38
height=41
layer=com_70
buttontype=1
model=model_12972
modelangle=152,1937,0
modelzoom=2211

// 397:81
[com_81]
type=model
x=13
y=650
width=38
height=29
layer=com_70
buttontype=1
model=model_19002
modelangle=24,1808,0
modelzoom=2211

// 397:82
[com_82]
type=model
x=13
y=763
width=38
height=41
layer=com_70
buttontype=1
model=model_18994
modelangle=86,292,0
modelzoom=2677

// 397:83
[com_83]
type=model
x=13
y=814
width=38
height=41
layer=com_70
buttontype=1
model=model_19041
modelangle=106,1898,0
modelzoom=2677

// 397:84
[com_84]
type=model
x=7
y=872
width=38
height=41
layer=com_70
buttontype=1
model=model_19011
modelangle=111,1933,0
modelzoom=2277

// 397:85
[com_85]
type=model
x=12
y=937
width=38
height=41
layer=com_70
buttontype=1
model=model_19032
modelangle=111,1933,0
modelzoom=2277

// 397:86
[com_86]
type=model
x=18
y=711
width=38
height=23
layer=com_70
buttontype=1
model=model_19023
modelangle=62,238,0
modelzoom=2977

// 397:87
[com_87]
type=rectangle
x=32
y=80
width=267
height=222
colour=0x333333

// 397:88
[com_88]
type=text
x=78
y=33
width=159
height=15
layer=com_70
textfont=p12_full
text=Armchairs
textshadow=yes
colour=0xccccff

// 397:89
[com_89]
type=text
x=78
y=93
width=159
height=17
layer=com_70
textfont=p12_full
text=Bookcases
textshadow=yes
colour=0xccccff

// 397:90
[com_90]
type=text
x=78
y=154
width=159
height=15
layer=com_70
textfont=p12_full
text=Beer Barrels
textshadow=yes
colour=0xccccff

// 397:91
[com_91]
type=text
x=78
y=214
width=159
height=16
layer=com_70
textfont=p12_full
text=Kitchen Tables
textshadow=yes
colour=0xccccff

// 397:92
[com_92]
type=text
x=78
y=274
width=159
height=19
layer=com_70
textfont=p12_full
text=Dining Tables
textshadow=yes
colour=0xccccff

// 397:93
[com_93]
type=text
x=78
y=334
width=160
height=17
layer=com_70
textfont=p12_full
text=Dining Benches
textshadow=yes
colour=0xccccff

// 397:94
[com_94]
type=text
x=78
y=394
width=159
height=17
layer=com_70
textfont=p12_full
text=Beds
textshadow=yes
colour=0xccccff

// 397:95
[com_95]
type=text
x=78
y=454
width=160
height=18
layer=com_70
textfont=p12_full
text=Dressers
textshadow=yes
colour=0xccccff

// 397:96
[com_96]
type=text
x=78
y=513
width=160
height=16
layer=com_70
textfont=p12_full
text=Wardrobes
textshadow=yes
colour=0xccccff

// 397:97
[com_97]
type=text
x=78
y=575
width=160
height=14
layer=com_70
textfont=p12_full
text=Clocks
textshadow=yes
colour=0xccccff

// 397:98
[com_98]
type=text
x=78
y=634
width=160
height=14
layer=com_70
textfont=p12_full
text=Cape Racks
textshadow=yes
colour=0xccccff

// 397:99
[com_99]
type=text
x=78
y=695
width=160
height=14
layer=com_70
textfont=p12_full
text=Magic Wardrobes
textshadow=yes
colour=0xccccff

// 397:100
[com_100]
type=text
x=78
y=755
width=160
height=14
layer=com_70
textfont=p12_full
text=Armour cases 
textshadow=yes
colour=0xccccff

// 397:101
[com_101]
type=text
x=78
y=816
width=160
height=14
layer=com_70
textfont=p12_full
text=Treasure trail chests
textshadow=yes
colour=0xccccff

// 397:102
[com_102]
type=text
x=78
y=878
width=160
height=14
layer=com_70
textfont=p12_full
text=Fancy dress boxes 
textshadow=yes
colour=0xccccff

// 397:103
[com_103]
type=text
x=78
y=937
width=160
height=14
layer=com_70
textfont=p12_full
text=Toy boxes 
textshadow=yes
colour=0xccccff

// 397:104
[com_104]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 397:105
[com_105]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 397:106
[com_106]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 397:107
[com_107]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 397:108
[com_108]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 397:109
[com_109]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 397:110
[com_110]
type=rectangle
x=20
y=-3
width=374
height=23
colour=0x000000
fill=yes

// 397:111
[com_111]
type=rectangle
x=2
y=8
width=238
height=61
layer=com_70
buttontype=1
colour=0x333300

// 397:112
[com_112]
type=rectangle
x=2
y=70
width=238
height=61
layer=com_70
buttontype=1
colour=0x333300

// 397:113
[com_113]
type=rectangle
x=2
y=132
width=238
height=61
layer=com_70
buttontype=1
colour=0x333300

// 397:114
[com_114]
type=rectangle
x=2
y=194
width=238
height=56
layer=com_70
buttontype=1
colour=0x333300

// 397:115
[com_115]
type=rectangle
x=2
y=251
width=238
height=61
layer=com_70
buttontype=1
colour=0x333300

// 397:116
[com_116]
type=rectangle
x=2
y=313
width=238
height=58
layer=com_70
buttontype=1
colour=0x333300

// 397:117
[com_117]
type=rectangle
x=2
y=372
width=238
height=61
layer=com_70
buttontype=1
colour=0x333300

// 397:118
[com_118]
type=rectangle
x=2
y=434
width=238
height=56
layer=com_70
buttontype=1
colour=0x333300

// 397:119
[com_119]
type=rectangle
x=2
y=491
width=238
height=59
layer=com_70
buttontype=1
colour=0x333300

// 397:120
[com_120]
type=rectangle
x=2
y=551
width=238
height=59
layer=com_70
buttontype=1
colour=0x333300

// 397:121
[com_121]
type=rectangle
x=2
y=611
width=238
height=59
layer=com_70
buttontype=1
colour=0x333300

// 397:122
[com_122]
type=rectangle
x=2
y=671
width=238
height=59
layer=com_70
buttontype=1
colour=0x333300

// 397:123
[com_123]
type=rectangle
x=2
y=731
width=238
height=59
layer=com_70
buttontype=1
colour=0x333300

// 397:124
[com_124]
type=rectangle
x=2
y=791
width=238
height=59
layer=com_70
buttontype=1
colour=0x333300

// 397:125
[com_125]
type=rectangle
x=2
y=851
width=238
height=59
layer=com_70
buttontype=1
colour=0x333300

// 397:126
[com_126]
type=rectangle
x=2
y=911
width=238
height=59
layer=com_70
buttontype=1
colour=0x333300

// 397:127
[com_127]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 397:128
[com_128]
type=text
x=21
y=60
width=380
height=16
textfont=p12_full
text=Select a piece of furniture to build
textshadow=yes
colour=0xff981f

// 397:129
[com_129]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 397:130
[com_130]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 397:131
[com_131]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 397:132
[com_132]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 397:133
[com_133]
type=text
x=51
y=30
width=408
height=13
textfont=b12_full
text=Furniture  Creation Menu
textalignh=centre
textshadow=yes
colour=0xff981f

// 397:134
[com_134]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 397:135
[com_135]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 397:136
[com_136]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 397:137
[com_137]
type=graphic
x=31
y=302
width=88
height=60
graphic=tradebacking

// 397:138
[com_138]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 397:139
[com_139]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 397:140
[com_140]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 397:141
[com_141]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 397:142
[com_142]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 397:143
[com_143]
type=rectangle
x=29
y=319
width=96
height=60
colour=0x000000
fill=yes

// 397:144
[com_144]
type=graphic
x=470
y=26
width=26
height=23
mouseoverlayer=com_146
graphic="close_buttons,0"

// 397:145
[com_145]
type=graphic
x=6
y=5
width=26
height=23
layer=com_146
buttontype=3
graphic="close_buttons,1"

// 397:146
[com_146]
type=layer
x=464
y=21
width=32
height=32
hide=yes

