// 326:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 326:1
[com_1]
type=graphic
x=15
y=80
width=88
height=60
graphic=tradebacking

// 326:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 326:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 326:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 326:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 326:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 326:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 326:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 326:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 326:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 326:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 326:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 326:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 326:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 326:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 326:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 326:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 326:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 326:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 326:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 326:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 326:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 326:23
[com_23]
type=graphic
x=359
y=200
width=88
height=60
graphic=tradebacking

// 326:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 326:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 326:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 326:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 326:28
[com_28]
type=graphic
x=406
y=200
width=88
height=60
graphic=tradebacking

// 326:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 326:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 326:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 326:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 326:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 326:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 326:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 326:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 326:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 326:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 326:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 326:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 326:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 326:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 326:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 326:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 326:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 326:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 326:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 326:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 326:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 326:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 326:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 326:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 326:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 326:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 326:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 326:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 326:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 326:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 326:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 326:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 326:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 326:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 326:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 326:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 326:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 326:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 326:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 326:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 326:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 326:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 326:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 326:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 326:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 326:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 326:75
[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 326:76
[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 326:77
[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 326:78
[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 326:79
[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 326:80
[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 326:81
[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 326:82
[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 326:83
[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 326:84
[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 326:85
[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 326:86
[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 326:87
[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 326:88
[com_88]
type=text
x=152
y=26
width=226
height=23
textfont=b12_full
text=Teleport Option
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xf99b15

// 326:89
[com_89]
type=text
x=164
y=108
width=185
height=14
textfont=b12_full
text=%1
textalignh=centre
textshadow=yes
colour=0xf99b15

// 326:90
[com_90]
type=text
x=163
y=124
width=186
height=42
textfont=b12_full
text=...wants to teleport you to...
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

// 326:91
[com_91]
type=text
x=163
y=168
width=187
height=15
textfont=b12_full
text=%2
textalignh=centre
textshadow=yes
colour=0xf99b15

// 326:92
[com_92]
type=text
x=162
y=224
width=187
height=27
textfont=b12_full
text=Do you accept?
textalignh=centre
textshadow=yes
colour=0xffff00

// 326:93
[com_93]
type=graphic
x=432
y=32
width=57
height=13
graphic="sworddecor,0"

// 326:94
[com_94]
type=graphic
x=24
y=32
width=57
height=13
graphic="sworddecor,1"

// 326:95
[com_95]
type=layer
x=160
y=255
width=87
height=52

// 326:96
[com_96]
type=layer
x=267
y=255
width=88
height=52

// 326:97
[com_97]
type=rectangle
x=10
y=10
width=66
height=31
layer=com_95
buttontype=6
colour=0x000000
fill=yes
buttontext=Accept

// 326:98
[com_98]
type=text
x=13
y=13
width=62
height=26
layer=com_95
textfont=p12_full
text=Accept
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00c000

// 326:99
[com_99]
type=rectangle
x=10
y=10
width=66
height=31
layer=com_96
buttontype=6
colour=0x000000
fill=yes
buttontext=Decline

// 326:100
[com_100]
type=text
x=11
y=10
width=65
height=30
layer=com_96
textfont=p12_full
text=Decline
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xc00000

// 326:101
[com_101]
type=graphic
x=25
y=-11
width=36
height=36
layer=com_95
graphic="steelborder2,0"

// 326:102
[com_102]
type=graphic
x=25
y=-11
width=36
height=36
layer=com_96
graphic="steelborder2,0"

// 326:103
[com_103]
type=graphic
x=27
y=26
width=36
height=36
layer=com_96
graphic="miscgraphics,3"

// 326:104
[com_104]
type=graphic
x=4
y=4
width=25
height=30
layer=com_95
graphic="steelborder,0"

// 326:105
[com_105]
type=graphic
x=4
y=4
width=25
height=30
layer=com_96
graphic="steelborder,0"

// 326:106
[com_106]
type=graphic
x=57
y=4
width=25
height=30
layer=com_95
graphic="steelborder,1"

// 326:107
[com_107]
type=graphic
x=57
y=4
width=25
height=30
layer=com_96
graphic="steelborder,1"

// 326:108
[com_108]
type=graphic
x=4
y=17
width=25
height=30
layer=com_95
graphic="steelborder,2"

// 326:109
[com_109]
type=graphic
x=4
y=17
width=25
height=30
layer=com_96
graphic="steelborder,2"

// 326:110
[com_110]
type=graphic
x=57
y=17
width=25
height=30
layer=com_95
graphic="steelborder,3"

// 326:111
[com_111]
type=graphic
x=26
y=26
width=36
height=36
layer=com_95
graphic="miscgraphics,3"

// 326:112
[com_112]
type=graphic
x=57
y=17
width=25
height=30
layer=com_96
graphic="steelborder,3"

// 326:113
[com_113]
type=model
x=400
y=66
width=31
height=27
model=model_5802
modelangle=1024,0,0
modelzoom=768
modelanim=seq_1815

// 326:114
[com_114]
type=model
x=84
y=266
width=32
height=32
model=model_5802
modelzoom=768
modelanim=seq_1814

