// 217:0
[com_0]
type=text
x=21
y=5
width=441
height=17
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

// 217:1
[com_1]
type=text
x=21
y=29
width=441
height=17
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

// 217:2
[com_2]
type=text
x=21
y=53
width=441
height=17
textfont=q8_full
text=Line3
textalignh=centre
colour=0x000000

