// 240:0
[com_0]
type=model
x=79
y=107
width=32
height=32
model=model_14944
modelangle=505,0,0
modelzoom=856

// 240:1
[com_1]
type=model
x=80
y=111
width=32
height=32
model=model_14937
modelangle=400,2047,0
modelzoom=2192

// 240:2
[com_2]
type=model
x=79
y=112
width=32
height=32
model=model_14940
modelangle=402,0,0
modelzoom=2320

// 240:3
[com_3]
type=model
x=39
y=32
width=32
height=32
layer=com_7
model=model_14944
modelangle=505,0,0
modelzoom=856

// 240:4
[com_4]
type=model
x=40
y=36
width=32
height=32
layer=com_7
model=model_14937
modelangle=400,2047,0
modelzoom=2192

// 240:5
[com_5]
type=model
x=39
y=37
width=32
height=32
layer=com_7
model=model_14943
modelangle=402,0,0
modelzoom=2320

// 240:6
[com_6]
type=layer
x=79
y=52
width=32
height=39
mouseoverlayer=com_7
buttontype=1

// 240:7
[com_7]
type=layer
x=40
y=75
width=107
height=101
hide=yes

// 240:8
[com_8]
type=model
x=39
y=32
width=32
height=32
layer=com_12
model=model_14944
modelangle=505,0,0
modelzoom=856

// 240:9
[com_9]
type=model
x=40
y=36
width=32
height=32
layer=com_12
model=model_14937
modelangle=400,2047,0
modelzoom=2192

// 240:10
[com_10]
type=model
x=39
y=37
width=32
height=32
layer=com_12
model=model_14939
modelangle=402,0,0
modelzoom=2320

// 240:11
[com_11]
type=layer
x=75
y=162
width=40
height=51
mouseoverlayer=com_12
buttontype=1

// 240:12
[com_12]
type=layer
x=40
y=75
width=107
height=101
hide=yes

// 240:13
[com_13]
type=model
x=39
y=32
width=32
height=32
layer=com_17
model=model_14944
modelangle=505,0,0
modelzoom=856

// 240:14
[com_14]
type=model
x=40
y=36
width=32
height=32
layer=com_17
model=model_14937
modelangle=400,2047,0
modelzoom=2192

// 240:15
[com_15]
type=model
x=39
y=37
width=32
height=32
layer=com_17
model=model_14941
modelangle=402,0,0
modelzoom=2320

// 240:16
[com_16]
type=layer
x=11
y=110
width=47
height=36
mouseoverlayer=com_17
buttontype=1

// 240:17
[com_17]
type=layer
x=40
y=75
width=107
height=101
hide=yes

// 240:18
[com_18]
type=model
x=39
y=32
width=32
height=32
layer=com_22
model=model_14944
modelangle=505,0,0
modelzoom=856

// 240:19
[com_19]
type=model
x=40
y=36
width=32
height=32
layer=com_22
model=model_14937
modelangle=400,2047,0
modelzoom=2192

// 240:20
[com_20]
type=model
x=39
y=37
width=32
height=32
layer=com_22
model=model_14942
modelangle=402,0,0
modelzoom=2320

// 240:21
[com_21]
type=layer
x=133
y=110
width=47
height=36
mouseoverlayer=com_22
buttontype=1

// 240:22
[com_22]
type=layer
x=40
y=75
width=107
height=101
hide=yes

// 240:23
[com_23]
type=model
x=137
y=204
width=32
height=32
model=model_14938
modelangle=400,2029,0
modelzoom=2320

// 240:24
[com_24]
type=model
x=8
y=5
width=32
height=32
layer=com_26
model=model_14936
modelangle=400,2029,0
modelzoom=2320

// 240:25
[com_25]
type=layer
x=129
y=199
width=43
height=45
mouseoverlayer=com_26
buttontype=1

// 240:26
[com_26]
type=layer
x=129
y=199
width=43
height=45
hide=yes

// 240:27
[com_27]
type=text
x=15
y=15
width=76
height=15
textfont=p12_full
text=Tries = 3
textalignh=centre
textshadow=yes
colour=0x909069

// 240:28
[com_28]
type=text
x=129
y=199
width=43
height=45
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 240:29
[com_29]
type=text
x=79
y=52
width=32
height=39
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 240:30
[com_30]
type=text
x=75
y=162
width=40
height=51
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 240:31
[com_31]
type=text
x=11
y=110
width=47
height=36
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 240:32
[com_32]
type=text
x=133
y=110
width=47
height=36
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 240:33
[com_33]
type=graphic
x=139
y=17
width=26
height=23
mouseoverlayer=com_35
buttontype=3
graphic="close_buttons,4"

// 240:34
[com_34]
type=graphic
x=4
y=3
width=26
height=23
layer=com_35
buttontype=1
graphic="close_buttons,5"

// 240:35
[com_35]
type=layer
x=135
y=14
width=32
height=32
hide=yes

