// 365:0
[com_0]
type=model
x=273
y=70
width=32
height=32
model=model_3408
modelangle=500,0,0
modelzoom=162

// 365:1
[com_1]
type=model
x=419
y=141
width=32
height=32
model=model_3407
modelangle=500,0,0
modelzoom=353

// 365:2
[com_2]
type=model
x=419
y=141
width=32
height=32
model=model_3403
modelangle=500,0,0
modelzoom=898

// 365:3
[com_3]
type=model
x=419
y=141
width=32
height=32
model=model_3402
modelangle=500,0,0
modelzoom=201

// 365:4
[com_4]
type=model
x=313
y=275
width=30
height=51
buttontype=1
model=model_3405
modelangle=275,2029,0
modelzoom=1389

// 365:5
[com_5]
type=model
x=315
y=13
width=27
height=43
buttontype=1
model=model_3404
modelangle=478,14,0
modelzoom=1418

// 365:6
[com_6]
type=model
x=258
y=258
width=44
height=52
buttontype=1
model=model_3409
modelangle=300,285,0
modelzoom=1228

// 365:7
[com_7]
type=model
x=21
y=264
width=47
height=49
buttontype=1
model=model_3406
modelangle=308,695,0
modelzoom=1219

// 365:8
[com_8]
type=model
x=152
y=180
width=32
height=32
model=model_3411
modelangle=500,0,0
modelzoom=566

// 365:9
[com_9]
type=model
x=152
y=180
width=32
height=32
model=model_3410
modelangle=500,0,0
modelzoom=566

// 365:10
[com_10]
type=model
x=152
y=180
width=32
height=32
model=model_3412
modelangle=500,0,0
modelzoom=566

// 365:11
[com_11]
type=text
x=131
y=313
width=71
height=14
buttontype=1
textfont=p12_full
text=Get Location
textshadow=yes
colour=0x7c6035
mouseovercolour=0xc8b08a

// 365:12
[com_12]
type=graphic
x=473
y=13
width=26
height=23
mouseoverlayer=com_14
graphic="close_buttons,4"

// 365:13
[com_13]
type=graphic
x=5
y=5
width=26
height=23
layer=com_14
buttontype=3
graphic="close_buttons,5"

// 365:14
[com_14]
type=layer
x=468
y=8
width=32
height=32
hide=yes

