// 195:0
[com_0]
type=model
x=415
y=17
width=32
height=32
model=model_10567
modelangle=421,0,0
modelzoom=843

// 195:1
[com_1]
type=text
x=359
y=13
width=139
height=19
textfont=q8_full
text=Enchantment
textalignh=centre
textshadow=yes
colour=0x9e7144

// 195:2
[com_2]
type=text
x=360
y=33
width=99
height=23
textfont=p11_full
text=Pizazz Points:
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x996600

// 195:3
[com_3]
type=text
x=460
y=38
width=28
height=12
textfont=p11_full
text=9999
textshadow=yes
colour=0xcc6600

// 195:4
[com_4]
type=layer
x=408
y=230
width=107
height=107
hide=yes

// 195:5
[com_5]
type=layer
x=408
y=229
width=106
height=110
hide=yes

// 195:6
[com_6]
type=layer
x=408
y=228
width=116
height=111
hide=yes

// 195:7
[com_7]
type=layer
x=408
y=228
width=112
height=110
hide=yes

// 195:8
[com_8]
type=model
x=50
y=50
width=32
height=32
layer=com_4
model=model_10596
modelangle=96,1282,0
modelzoom=1395

// 195:9
[com_9]
type=model
x=50
y=50
width=32
height=32
layer=com_5
model=model_10597
modelangle=91,1716,0
modelzoom=1397

// 195:10
[com_10]
type=model
x=50
y=50
width=32
height=32
layer=com_6
model=model_10605
modelangle=96,975,0
modelzoom=1071

// 195:11
[com_11]
type=model
x=50
y=50
width=32
height=32
layer=com_7
model=model_10602
modelangle=105,1907,0
modelzoom=1180

// 195:12
[com_12]
type=text
x=443
y=233
width=62
height=36
textfont=p11_full
text=Bonus:
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x996600

