// 119:0
[com_0]
type=rectangle
width=512
height=400
trans=140
colour=0x5a7b86
fill=yes

// 119:1
[com_1]
type=model
x=242
y=152
width=32
height=32
model=model_4835
modelangle=512,0,0
modelzoom=130
modelanim=seq_3541

// 119:2
[com_2]
type=text
x=20
y=68
width=477
height=80
textfont=p12_full
text= 
textalignh=centre

