// 266:0
[com_0]
type=inv
x=16
y=8
width=4
height=7
draggable=yes
paddingx=10
paddingy=4
op1=Deposit 1
op2=Deposit 5
op3=Deposit 10
op4=Deposit All
op5=Deposit X

