// 398:0
[com_0]
type=graphic
x=40
y=136
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 398:1
[com_1]
type=graphic
x=104
y=90
width=36
height=36
buttontype=1
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_261 = 0

// 398:2
[com_2]
type=text
x=104
y=90
width=36
height=36
textfont=p12_full
text=Off
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f
colouractive=0xffb359

// 398:3
[com_3]
type=graphic
x=66
y=136
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 398:4
[com_4]
type=graphic
x=92
y=136
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 398:5
[com_5]
type=graphic
x=118
y=136
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 398:6
[com_6]
type=graphic
x=144
y=136
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 398:7
[com_7]
type=text
x=16
y=4
width=162
height=14
textfont=b12_full
text=House Options
textalignh=centre
textshadow=yes
colour=0xff981f

// 398:8
[com_8]
type=graphic
x=40
y=173
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 398:9
[com_9]
type=graphic
x=66
y=173
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 398:10
[com_10]
type=graphic
x=92
y=173
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 398:11
[com_11]
type=graphic
x=118
y=173
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 398:12
[com_12]
type=graphic
x=144
y=173
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

// 398:13
[com_13]
type=graphic
x=10
y=173
width=170
height=36
buttontype=1
graphic="miscgraphics,4"
graphicactive="miscgraphics,7"

// 398:14
[com_14]
type=graphic
x=50
y=90
width=36
height=36
buttontype=1
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_261 = 1

// 398:15
[com_15]
type=graphic
x=10
y=136
width=170
height=36
buttontype=1
graphic="miscgraphics,4"
graphicactive="miscgraphics,7"

// 398:16
[com_16]
type=text
x=10
y=183
width=170
height=14
textfont=p12_full
text=Leave House
textalignh=centre
textshadow=yes
colour=0xff981f
colouractive=0xffb359

// 398:17
[com_17]
type=text
x=10
y=70
width=170
height=15
textfont=p12_full
text=Building Mode
textalignh=centre
textshadow=yes
colour=0xff981f
colouractive=0xffb359

// 398:18
[com_18]
type=text
x=10
y=148
width=170
height=14
textfont=p12_full
text=Expel Guests
textalignh=centre
textshadow=yes
colour=0xff981f
colouractive=0xffb359

// 398:19
[com_19]
type=text
x=50
y=90
width=36
height=36
textfont=p12_full
text=On
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f
colouractive=0xffb359

// 398:20
[com_20]
type=text
x=10
y=216
width=170
height=14
textfont=p12_full
text=Number Of Rooms: %1
textalignh=centre
textshadow=yes
colour=0xff981f
colouractive=0xffb359
script0=varplayer_262

// 398:21
[com_21]
type=graphic
x=163
y=17
width=26
height=23
mouseoverlayer=com_23
graphic="close_buttons,0"

// 398:22
[com_22]
type=graphic
x=3
y=4
width=26
height=23
layer=com_23
buttontype=3
graphic="close_buttons,1"

// 398:23
[com_23]
type=layer
x=160
y=13
width=32
height=32
hide=yes

