// 417:0
[com_0]
type=model
x=244
y=153
width=32
height=32
model=model_15707
modelangle=512,0,0
modelzoom=400

// 417:1
[com_1]
type=model
x=238
y=152
width=32
height=32
model=model_15716
modelangle=512,0,0
modelzoom=400

// 417:2
[com_2]
type=model
x=62
y=95
width=44
height=70
buttontype=1
model=model_15708
modelangle=514,0,0
modelzoom=650

// 417:3
[com_3]
type=model
x=140
y=98
width=71
height=67
buttontype=1
model=model_15709
modelangle=514,0,0
modelzoom=950

// 417:4
[com_4]
type=model
x=233
y=106
width=53
height=50
buttontype=1
model=model_15712
modelangle=514,0,0
modelzoom=400

// 417:5
[com_5]
type=model
x=47
y=225
width=88
height=59
buttontype=1
model=model_15713
modelangle=514,512,0
modelzoom=650

// 417:6
[com_6]
type=model
x=406
y=97
width=51
height=72
buttontype=1
model=model_15718
modelangle=512,0,0
modelzoom=550

// 417:7
[com_7]
type=model
x=150
y=206
width=48
height=52
buttontype=1
model=model_15685
modelangle=514,0,0
modelzoom=600

// 417:8
[com_8]
type=model
x=233
y=208
width=50
height=47
buttontype=1
model=model_15717
modelangle=512,0,0
modelzoom=400

// 417:9
[com_9]
type=model
x=326
y=206
width=37
height=53
buttontype=1
model=model_15715
modelangle=512,0,0
modelzoom=400

// 417:10
[com_10]
type=model
x=405
y=196
width=32
height=54
buttontype=1
model=model_15714
modelangle=512,0,0
modelzoom=400

// 417:11
[com_11]
type=model
x=325
y=114
width=46
height=65
buttontype=1
model=model_15663
modelangle=512,786,0
modelzoom=500

// 417:12
[com_12]
type=text
x=50
y=67
width=75
height=29
textfont=p12_full
text=Bamboo pipe
textalignv=centre
textshadow=yes
colour=0xb99116

// 417:13
[com_13]
type=text
x=136
y=67
width=75
height=29
textfont=p12_full
text=Bridge section
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb99116

// 417:14
[com_14]
type=text
x=223
y=67
width=75
height=29
textfont=p12_full
text=Bucket
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb99116

// 417:15
[com_15]
type=text
x=48
y=184
width=75
height=30
textfont=p12_full
text=Torch
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb99116

// 417:16
[com_16]
type=text
x=394
y=67
width=75
height=29
textfont=p12_full
text=Lumber patch
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb99116

// 417:17
[com_17]
type=text
x=137
y=184
width=75
height=30
textfont=p12_full
text=Bowl
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb99116

// 417:18
[com_18]
type=text
x=220
y=184
width=75
height=30
textfont=p12_full
text=Tinderbox
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb99116

// 417:19
[com_19]
type=text
x=308
y=184
width=75
height=30
textfont=p12_full
text=Meat
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb99116

// 417:20
[com_20]
type=text
x=385
y=185
width=75
height=30
textfont=p12_full
text=Knife
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb99116

// 417:21
[com_21]
type=text
x=312
y=67
width=75
height=29
textfont=p12_full
text=Axe
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb99116

// 417:22
[com_22]
type=text
x=97
y=145
width=8
height=14
textfont=p12_full
text=0
textshadow=yes
colour=0xb99116

// 417:23
[com_23]
type=text
x=190
y=144
width=8
height=14
textfont=p12_full
text=0
textshadow=yes
colour=0xb99116

// 417:24
[com_24]
type=text
x=445
y=145
width=8
height=14
textfont=p12_full
text=0
textshadow=yes
colour=0xb99116

// 417:25
[com_25]
type=graphic
x=483
y=6
width=26
height=23
mouseoverlayer=com_27
graphic="close_buttons,4"

// 417:26
[com_26]
type=graphic
x=3
y=3
width=26
height=23
layer=com_27
buttontype=3
graphic="close_buttons,5"

// 417:27
[com_27]
type=layer
x=480
y=3
width=32
height=32
hide=yes

