// 455:0
[com_0]
type=rectangle
width=520
height=340
colour=0x000000
fill=yes

// 455:1
[com_1]
type=model
x=227
y=111
width=32
height=32
model=model_18157
modelangle=495,0,0
modelzoom=570

// 455:2
[com_2]
type=model
x=227
y=111
width=32
height=32
model=model_18153
modelangle=495,0,0
modelzoom=570

// 455:3
[com_3]
type=model
x=227
y=111
width=32
height=32
model=model_18152
modelangle=495,0,0
modelzoom=570

// 455:4
[com_4]
type=model
x=227
y=111
width=32
height=32
model=model_18154
modelangle=495,0,0
modelzoom=570

// 455:5
[com_5]
type=model
x=227
y=111
width=32
height=32
model=model_18155
modelangle=495,0,0
modelzoom=570

// 455:6
[com_6]
type=model
x=227
y=111
width=32
height=32
model=model_18156
modelangle=495,0,0
modelzoom=570

// 455:7
[com_7]
type=graphic
x=428
y=25
width=26
height=23
mouseoverlayer=com_9
graphic="close_buttons,2"

// 455:8
[com_8]
type=graphic
x=3
y=5
width=26
height=23
layer=com_9
mouseoverlayer=com_9
buttontype=3
graphic="close_buttons,3"

// 455:9
[com_9]
type=layer
x=425
y=20
width=32
height=32
hide=yes

