// 53:0
[com_0]
type=layer
x=-13
y=-1
width=527
height=340

// 53:1
[com_1]
type=model
x=101
y=298
width=10
height=14
layer=com_0
model=model_12114
modelangle=465,1647,0
modelzoom=466
modelanim=seq_3308

// 53:2
[com_2]
type=layer
x=65
y=31
width=32
height=32

// 53:3
[com_3]
type=model
x=314
y=185
width=32
height=32
model=model_12109
modelangle=387,2008,0
modelzoom=906

// 53:4
[com_4]
type=model
x=78
y=175
width=36
height=24
layer=com_0
model=model_12114
modelangle=306,1642,0
modelzoom=400
modelanim=seq_3308

// 53:5
[com_5]
type=model
x=86
y=61
width=32
height=32
layer=com_0
model=model_12114
modelangle=189,1654,0
modelzoom=400
modelanim=seq_3308

// 53:6
[com_6]
type=model
x=183
y=-9
width=32
height=32
layer=com_0
model=model_12114
modelangle=198,1609,0
modelzoom=400
modelanim=seq_3308

// 53:7
[com_7]
type=model
x=28
y=-6
width=32
height=32
layer=com_24
model=model_12104
modelangle=252,1960,0
modelzoom=3160

// 53:8
[com_8]
type=model
x=21
width=32
height=32
layer=com_23
model=model_12104
modelangle=228,1990,0
modelzoom=2776

// 53:9
[com_9]
type=model
x=13
y=9
width=32
height=32
layer=com_22
model=model_12104
modelangle=272,62,0
modelzoom=2954

// 53:10
[com_10]
type=model
x=22
y=4
width=32
height=32
layer=com_40
model=model_12104
modelangle=279,1852,0
modelzoom=3160

// 53:11
[com_11]
type=layer
x=165
y=237
width=248
height=36
buttontype=1

// 53:12
[com_12]
type=model
x=189
y=9
width=32
height=32
layer=com_11
model=model_12103
modelactive=model_12104
modelangle=272,62,0
modelzoom=2954

// 53:13
[com_13]
type=layer
x=164
y=208
width=249
height=42
buttontype=1

// 53:14
[com_14]
type=model
x=158
y=-2
width=32
height=32
layer=com_13
model=model_12103
modelactive=model_12104
modelangle=228,1990,0
modelzoom=2776

// 53:15
[com_15]
type=layer
x=165
y=174
width=222
height=36
buttontype=1

// 53:16
[com_16]
type=model
x=110
y=-3
width=32
height=32
layer=com_15
model=model_12103
modelactive=model_12104
modelangle=252,1960,0
modelzoom=3160

// 53:17
[com_17]
type=model
x=108
y=-7
width=32
height=32
layer=com_38
model=model_12103
modelactive=model_12104
modelangle=279,1852,0
modelzoom=3160

// 53:18
[com_18]
type=layer
x=305
y=271
width=32
height=32

// 53:19
[com_19]
type=layer
x=228
y=101
width=55
height=46

// 53:20
[com_20]
type=model
x=433
y=31
width=32
height=32
layer=com_0
model=model_12105
modelangle=414,2008,0
modelzoom=344

// 53:21
[com_21]
type=model
x=20
y=3
width=32
height=32
layer=com_19
model=model_12107
modelangle=468,2032,0
modelzoom=428

// 53:22
[com_22]
type=layer
x=341
y=237
width=65
height=44
hide=yes

// 53:23
[com_23]
type=layer
x=301
y=206
width=75
height=29
hide=yes

// 53:24
[com_24]
type=layer
x=247
y=177
width=80
height=30
hide=yes

// 53:25
[com_25]
type=text
x=70
y=14
width=92
height=16
layer=com_11
textfont=q8_full
text=Lumbridge
textalignh=right
textshadow=yes
colour=0x999999

// 53:26
[com_26]
type=text
x=14
y=4
width=77
height=39
layer=com_13
textfont=q8_full
text=Champions <br>Guild
textactive= Station
textshadow=yes
colour=0x999999

// 53:27
[com_27]
type=text
x=7
y=-2
width=73
height=36
layer=com_15
mouseoverlayer=com_2
textfont=q8_full
text=Barbarian <br> Village
textshadow=yes
colour=0x999999

// 53:28
[com_28]
type=text
x=3
y=6
width=90
height=18
layer=com_38
textfont=q8_full
text=Edgeville
textalignh=centre
textshadow=yes
colour=0x999999

// 53:29
[com_29]
type=text
x=5
y=1
width=237
height=52
layer=com_31
textfont=q8_full
text=Wilderness Pond - <br>No canoe trees here.
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x999999
mouseovercolour=0x990000

// 53:30
[com_30]
type=model
x=1
y=20
width=36
height=31
layer=com_31
model=model_12110
modelangle=525,2026,0
modelzoom=2704

// 53:31
[com_31]
type=layer
x=201
y=63
width=254
height=53

// 53:32
[com_32]
type=text
x=24
y=12
width=219
height=23
layer=com_11
mouseoverlayer=com_22
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to Lumbridge.

// 53:33
[com_33]
type=text
x=3
y=2
width=242
height=28
layer=com_13
mouseoverlayer=com_23
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to the Champions Guild.

// 53:34
[com_34]
type=text
x=2
width=220
height=31
layer=com_15
mouseoverlayer=com_24
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to Barbarian Village.

// 53:35
[com_35]
type=text
x=-11
y=10
width=250
height=36
layer=com_31
mouseoverlayer=com_41
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
mouseovercolour=0x990000
buttontext=DANGER: Travel to the Wilderness. There are no canoe trees up there!

// 53:36
[com_36]
type=layer
x=259
y=105
width=124
height=34
mouseoverlayer=com_2
hide=yes

// 53:37
[com_37]
type=text
x=33
y=9
width=94
height=14
layer=com_36
textfont=b12_full
text=You are here
textshadow=yes
colour=0xb86e0d

// 53:38
[com_38]
type=layer
x=165
y=136
width=212
height=33
buttontype=1

// 53:39
[com_39]
type=text
x=19
y=-9
width=139
height=38
layer=com_38
mouseoverlayer=com_40
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to Edgeville.

// 53:40
[com_40]
type=layer
x=251
y=125
width=79
height=38
hide=yes

// 53:41
[com_41]
type=layer
x=201
y=63
width=254
height=53
hide=yes

// 53:42
[com_42]
type=text
x=5
y=1
width=237
height=52
layer=com_41
textfont=q8_full
text=Wilderness Pond - <br>No canoe trees here.
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x990000
mouseovercolour=0x990000

// 53:43
[com_43]
type=model
x=2
y=1
width=36
height=31
layer=com_36
model=model_12100
modelangle=567,201,0
modelzoom=528

// 53:44
[com_44]
type=layer
x=248
y=154
width=145
height=32
hide=yes

// 53:45
[com_45]
type=model
x=6
y=2
width=36
height=31
layer=com_44
model=model_12100
modelangle=567,201,0
modelzoom=528

// 53:46
[com_46]
type=text
x=31
y=11
width=112
height=14
layer=com_44
textfont=b12_full
text=You are here
textalignh=centre
textshadow=yes
colour=0xb86e0d

// 53:47
[com_47]
type=layer
x=280
y=189
width=145
height=32
hide=yes

// 53:48
[com_48]
type=model
x=6
y=2
width=36
height=31
layer=com_47
model=model_12100
modelangle=567,201,0
modelzoom=528

// 53:49
[com_49]
type=text
x=27
y=8
width=109
height=15
layer=com_47
textfont=b12_full
text=You are here
textalignh=centre
textshadow=yes
colour=0xb86e0d

// 53:50
[com_50]
type=layer
x=281
y=221
width=145
height=32
hide=yes

// 53:51
[com_51]
type=model
x=14
y=8
width=36
height=31
layer=com_50
model=model_12100
modelangle=567,201,0
modelzoom=528

// 53:52
[com_52]
type=text
x=29
y=14
width=102
height=14
layer=com_50
textfont=b12_full
text=You are here
textalignh=centre
textshadow=yes
colour=0xb86e0d

// 53:53
[com_53]
type=layer
x=34
y=34
width=203
height=36

// 53:54
[com_54]
type=model
x=45
y=148
width=238
height=44
model=model_12111
modelangle=446,2041,0
modelzoom=1083

// 53:55
[com_55]
type=text
x=34
y=31
width=192
height=33
mouseoverlayer=com_2
textfont=q8_full
text=Please Select <br>Your Destination
textalignh=centre
textshadow=yes
colour=0xc8d1db

// 53:56
[com_56]
type=text
x=-1
width=145
height=32
layer=com_50
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are in Lumbridge.

// 53:57
[com_57]
type=text
width=145
height=32
layer=com_47
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are near the Champions Guild.

// 53:58
[com_58]
type=text
width=145
height=32
layer=com_44
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are at the Barbarian Village.

// 53:59
[com_59]
type=text
width=145
height=32
layer=com_36
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are in Edgeville.

// 53:60
[com_60]
type=graphic
x=451
y=10
width=26
height=23
mouseoverlayer=com_62
graphic="close_buttons,4"

// 53:61
[com_61]
type=graphic
x=4
y=4
width=26
height=23
layer=com_62
buttontype=3
graphic="close_buttons,5"

// 53:62
[com_62]
type=layer
x=447
y=6
width=32
height=32
hide=yes

