// 320:0
[com_0]
type=layer
width=190
height=36

// 320:1
[com_1]
type=graphic
x=-1
width=30
height=36
graphic="miscgraphics,4"

// 320:2
[com_2]
type=graphic
x=29
width=33
height=36
graphic="miscgraphics,5"

// 320:3
[com_3]
type=graphic
x=62
width=30
height=36
graphic="miscgraphics,4"

// 320:4
[com_4]
type=graphic
x=92
width=33
height=36
graphic="miscgraphics,5"

// 320:5
[com_5]
type=graphic
x=125
width=30
height=36
graphic="miscgraphics,4"

// 320:6
[com_6]
type=graphic
x=155
width=33
height=36
graphic="miscgraphics,5"

// 320:7
[com_7]
type=layer
y=31
width=190
height=36

// 320:8
[com_8]
type=graphic
x=-1
y=31
width=30
height=36
graphic="miscgraphics,4"

// 320:9
[com_9]
type=graphic
x=29
y=31
width=33
height=36
graphic="miscgraphics,5"

// 320:10
[com_10]
type=graphic
x=62
y=31
width=30
height=36
graphic="miscgraphics,4"

// 320:11
[com_11]
type=graphic
x=92
y=31
width=33
height=36
graphic="miscgraphics,5"

// 320:12
[com_12]
type=graphic
x=125
y=31
width=30
height=36
graphic="miscgraphics,4"

// 320:13
[com_13]
type=graphic
x=155
y=31
width=33
height=36
graphic="miscgraphics,5"

// 320:14
[com_14]
type=layer
y=62
width=190
height=36

// 320:15
[com_15]
type=graphic
x=-1
y=62
width=30
height=36
graphic="miscgraphics,4"

// 320:16
[com_16]
type=graphic
x=29
y=62
width=33
height=36
graphic="miscgraphics,5"

// 320:17
[com_17]
type=graphic
x=62
y=62
width=30
height=36
graphic="miscgraphics,4"

// 320:18
[com_18]
type=graphic
x=92
y=62
width=33
height=36
graphic="miscgraphics,5"

// 320:19
[com_19]
type=graphic
x=125
y=62
width=30
height=36
graphic="miscgraphics,4"

// 320:20
[com_20]
type=graphic
x=155
y=62
width=33
height=36
graphic="miscgraphics,5"

// 320:21
[com_21]
type=layer
y=93
width=190
height=36

// 320:22
[com_22]
type=graphic
x=-1
y=93
width=30
height=36
graphic="miscgraphics,4"

// 320:23
[com_23]
type=graphic
x=29
y=93
width=33
height=36
graphic="miscgraphics,5"

// 320:24
[com_24]
type=graphic
x=62
y=93
width=30
height=36
graphic="miscgraphics,4"

// 320:25
[com_25]
type=graphic
x=92
y=93
width=33
height=36
graphic="miscgraphics,5"

// 320:26
[com_26]
type=graphic
x=125
y=93
width=30
height=36
graphic="miscgraphics,4"

// 320:27
[com_27]
type=graphic
x=155
y=93
width=33
height=36
graphic="miscgraphics,5"

// 320:28
[com_28]
type=layer
y=124
width=190
height=36

// 320:29
[com_29]
type=graphic
x=-1
y=124
width=30
height=36
graphic="miscgraphics,4"

// 320:30
[com_30]
type=graphic
x=29
y=124
width=33
height=36
graphic="miscgraphics,5"

// 320:31
[com_31]
type=graphic
x=62
y=124
width=30
height=36
graphic="miscgraphics,4"

// 320:32
[com_32]
type=graphic
x=92
y=124
width=33
height=36
graphic="miscgraphics,5"

// 320:33
[com_33]
type=graphic
x=155
y=124
width=30
height=36
graphic="miscgraphics,5"

// 320:34
[com_34]
type=graphic
x=125
y=124
width=33
height=36
graphic="miscgraphics,4"

// 320:35
[com_35]
type=layer
y=155
width=190
height=36

// 320:36
[com_36]
type=graphic
x=-1
y=155
width=30
height=36
graphic="miscgraphics,4"

// 320:37
[com_37]
type=graphic
x=29
y=155
width=33
height=36
graphic="miscgraphics,5"

// 320:38
[com_38]
type=graphic
x=62
y=155
width=30
height=36
graphic="miscgraphics,4"

// 320:39
[com_39]
type=graphic
x=92
y=155
width=33
height=36
graphic="miscgraphics,5"

// 320:40
[com_40]
type=graphic
x=125
y=155
width=30
height=36
graphic="miscgraphics,4"

// 320:41
[com_41]
type=graphic
x=155
y=155
width=33
height=36
graphic="miscgraphics,5"

// 320:42
[com_42]
type=layer
y=219
width=190
height=36

// 320:43
[com_43]
type=graphic
x=-1
y=217
width=36
height=36
graphic="miscgraphics,4"

// 320:44
[com_44]
type=graphic
x=29
y=217
width=36
height=36
graphic="miscgraphics,5"

// 320:45
[com_45]
type=graphic
x=4
y=223
width=25
height=25
graphic="staticons2,6"

// 320:46
[com_46]
type=text
x=44
y=236
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(construction)

// 320:47
[com_47]
type=text
x=33
y=225
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(construction)

// 320:48
[com_48]
type=graphic
x=4
y=5
width=25
height=25
graphic="staticons,0"

// 320:49
[com_49]
type=graphic
x=68
y=5
width=25
height=25
graphic="staticons,6"

// 320:50
[com_50]
type=graphic
x=132
y=5
width=25
height=25
graphic="staticons,12"

// 320:51
[com_51]
type=graphic
x=4
y=36
width=25
height=25
graphic="staticons,1"

// 320:52
[com_52]
type=graphic
x=68
y=36
width=25
height=25
graphic="staticons,7"

// 320:53
[com_53]
type=graphic
x=132
y=36
width=25
height=25
graphic="staticons,13"

// 320:54
[com_54]
type=graphic
x=4
y=67
width=25
height=25
graphic="staticons,2"

// 320:55
[com_55]
type=graphic
x=68
y=68
width=25
height=25
graphic="staticons,8"

// 320:56
[com_56]
type=graphic
x=131
y=67
width=25
height=25
graphic="staticons,14"

// 320:57
[com_57]
type=graphic
x=5
y=98
width=25
height=25
graphic="staticons,3"

// 320:58
[com_58]
type=graphic
x=69
y=98
width=25
height=25
graphic="staticons,9"

// 320:59
[com_59]
type=graphic
x=133
y=98
width=25
height=25
graphic="staticons,15"

// 320:60
[com_60]
type=graphic
x=5
y=129
width=25
height=25
graphic="staticons,4"

// 320:61
[com_61]
type=graphic
x=69
y=129
width=25
height=25
graphic="staticons,10"

// 320:62
[com_62]
type=graphic
x=132
y=129
width=25
height=25
graphic="staticons,16"

// 320:63
[com_63]
type=graphic
x=5
y=160
width=25
height=25
graphic="staticons,5"

// 320:64
[com_64]
type=graphic
x=69
y=160
width=25
height=25
graphic="staticons,11"

// 320:65
[com_65]
type=graphic
x=132
y=160
width=25
height=25
graphic="staticons,17"

// 320:66
[com_66]
type=text
x=33
y=5
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(attack)

// 320:67
[com_67]
type=text
x=45
y=17
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(attack)
script1=

// 320:68
[com_68]
type=text
x=33
y=36
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(strength)

// 320:69
[com_69]
type=text
x=45
y=48
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(strength)
script1=

// 320:70
[com_70]
type=text
x=33
y=67
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(defence)

// 320:71
[com_71]
type=text
x=45
y=79
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(defence)
script1=

// 320:72
[com_72]
type=text
x=33
y=98
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(ranged)

// 320:73
[com_73]
type=text
x=45
y=110
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(ranged)

// 320:74
[com_74]
type=text
x=33
y=129
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(prayer)

// 320:75
[com_75]
type=text
x=45
y=141
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(prayer)

// 320:76
[com_76]
type=text
x=33
y=160
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(magic)

// 320:77
[com_77]
type=text
x=45
y=172
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(magic)

// 320:78
[com_78]
type=text
x=96
y=5
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(hitpoints)

// 320:79
[com_79]
type=text
x=108
y=17
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(hitpoints)

// 320:80
[com_80]
type=text
x=96
y=36
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(agility)

// 320:81
[com_81]
type=text
x=108
y=48
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(agility)

// 320:82
[com_82]
type=text
x=96
y=67
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(herblore)

// 320:83
[com_83]
type=text
x=108
y=79
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(herblore)

// 320:84
[com_84]
type=text
x=97
y=98
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(thieving)

// 320:85
[com_85]
type=text
x=109
y=110
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(thieving)

// 320:86
[com_86]
type=text
x=96
y=130
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(crafting)

// 320:87
[com_87]
type=text
x=109
y=141
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(crafting)

// 320:88
[com_88]
type=text
x=97
y=160
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(fletching)

// 320:89
[com_89]
type=text
x=109
y=172
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(fletching)

// 320:90
[com_90]
type=text
x=160
y=5
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(mining)

// 320:91
[com_91]
type=text
x=172
y=17
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(mining)

// 320:92
[com_92]
type=text
x=160
y=36
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(smithing)

// 320:93
[com_93]
type=text
x=172
y=48
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(smithing)

// 320:94
[com_94]
type=text
x=160
y=67
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(fishing)

// 320:95
[com_95]
type=text
x=172
y=79
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(fishing)

// 320:96
[com_96]
type=text
x=160
y=98
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(cooking)

// 320:97
[com_97]
type=text
x=172
y=110
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(cooking)

// 320:98
[com_98]
type=text
x=161
y=129
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(firemaking)

// 320:99
[com_99]
type=text
x=172
y=141
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(firemaking)

// 320:100
[com_100]
type=text
x=161
y=160
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(woodcutting)

// 320:101
[com_101]
type=text
x=172
y=172
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(woodcutting)

// 320:102
[com_102]
type=layer
y=186
width=193
height=36

// 320:103
[com_103]
type=graphic
x=-1
y=186
width=30
height=36
graphic="miscgraphics,4"

// 320:104
[com_104]
type=graphic
x=29
y=186
width=33
height=36
graphic="miscgraphics,5"

// 320:105
[com_105]
type=graphic
x=5
y=191
width=25
height=25
graphic="staticons2,0"

// 320:106
[com_106]
type=text
x=33
y=191
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(runecraft)

// 320:107
[com_107]
type=text
x=45
y=203
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(runecraft)

// 320:108
[com_108]
type=graphic
x=62
y=186
width=30
height=36
graphic="miscgraphics,4"

// 320:109
[com_109]
type=graphic
x=92
y=186
width=33
height=36
graphic="miscgraphics,5"

// 320:110
[com_110]
type=graphic
x=66
y=191
width=25
height=25
graphic="staticons2,1"

// 320:111
[com_111]
type=text
x=97
y=191
width=15
height=11
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(slayer)

// 320:112
[com_112]
type=text
x=109
y=202
width=15
height=11
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(slayer)

// 320:113
[com_113]
type=graphic
x=125
y=186
width=30
height=36
graphic="miscgraphics,4"

// 320:114
[com_114]
type=graphic
x=155
y=186
width=33
height=36
graphic="miscgraphics,5"

// 320:115
[com_115]
type=graphic
x=131
y=191
width=25
height=25
graphic="staticons2,2"

// 320:116
[com_116]
type=text
x=161
y=192
width=15
height=11
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(farming)

// 320:117
[com_117]
type=text
x=172
y=204
width=15
height=11
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(farming)

// 320:118
[com_118]
type=graphic
x=62
y=217
width=36
height=36
graphic="miscgraphics,4"

// 320:119
[com_119]
type=graphic
x=92
y=217
width=36
height=36
graphic="miscgraphics,5"

// 320:120
[com_120]
type=graphic
x=67
y=223
width=25
height=25
graphic="staticons2,5"

// 320:121
[com_121]
type=text
x=107
y=236
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat_base(hunter)

// 320:122
[com_122]
type=text
x=96
y=225
width=15
height=12
textfont=p11_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00
script0=stat(hunter)

// 320:123
[com_123]
type=tooltip
y=2
width=64
height=31
buttontype=1
text=Attack XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Attack<col=ffffff> guide
script0=stat_xp(attack)
script1=stat_levelxp(0)

// 320:124
[com_124]
type=tooltip
x=64
y=2
width=64
height=31
buttontype=1
text=Hitpoints XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Hitpoints<col=ffffff> guide
script0=stat_xp(hitpoints)
script1=stat_levelxp(3)

// 320:125
[com_125]
type=tooltip
x=126
y=2
width=64
height=31
buttontype=1
text=Mining XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Mining<col=ffffff> guide
script0=stat_xp(mining)
script1=stat_levelxp(14)

// 320:126
[com_126]
type=tooltip
y=33
width=64
height=31
buttontype=1
text=Strength XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Strength<col=ffffff> guide
script0=stat_xp(strength)
script1=stat_levelxp(2)

// 320:127
[com_127]
type=tooltip
x=64
y=33
width=64
height=31
buttontype=1
text=Agility XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Agility<col=ffffff> guide
script0=stat_xp(agility)
script1=stat_levelxp(16)

// 320:128
[com_128]
type=tooltip
x=125
y=33
width=64
height=31
buttontype=1
text=Smithing XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Smithing<col=ffffff> guide
script0=stat_xp(smithing)
script1=stat_levelxp(13)

// 320:129
[com_129]
type=tooltip
y=64
width=64
height=31
buttontype=1
text=Defence XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Defence<col=ffffff> guide
script0=stat_xp(defence)
script1=stat_levelxp(1)

// 320:130
[com_130]
type=tooltip
x=64
y=64
width=64
height=31
buttontype=1
text=Herblore XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Herblore<col=ffffff> guide
script0=stat_xp(herblore)
script1=stat_levelxp(15)

// 320:131
[com_131]
type=tooltip
x=129
y=66
width=64
height=31
buttontype=1
text=Fishing XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Fishing<col=ffffff> guide
script0=stat_xp(fishing)
script1=stat_levelxp(10)

// 320:132
[com_132]
type=tooltip
y=95
width=64
height=31
buttontype=1
text=Ranged XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Ranged<col=ffffff> guide
script0=stat_xp(ranged)
script1=stat_levelxp(4)

// 320:133
[com_133]
type=tooltip
x=64
y=95
width=64
height=31
buttontype=1
text=Thieving XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Thieving<col=ffffff> guide
script0=stat_xp(thieving)
script1=stat_levelxp(17)

// 320:134
[com_134]
type=tooltip
x=125
y=95
width=64
height=31
buttontype=1
text=Cooking XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Cooking<col=ffffff> guide
script0=stat_xp(cooking)
script1=stat_levelxp(7)

// 320:135
[com_135]
type=tooltip
y=126
width=64
height=31
buttontype=1
text=Prayer XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Prayer<col=ffffff> guide
script0=stat_xp(prayer)
script1=stat_levelxp(5)

// 320:136
[com_136]
type=tooltip
x=66
y=125
width=64
height=31
buttontype=1
text=Crafting XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Crafting<col=ffffff> guide
script0=stat_xp(crafting)
script1=stat_levelxp(12)

// 320:137
[com_137]
type=tooltip
x=125
y=125
width=64
height=31
buttontype=1
text=Firemaking XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Firemaking<col=ffffff> guide
script0=stat_xp(firemaking)
script1=stat_levelxp(11)

// 320:138
[com_138]
type=rectangle
x=127
y=222
width=62
height=31
colour=0x726451

// 320:139
[com_139]
type=rectangle
x=128
y=223
width=60
height=29
colour=0x2e2b23

// 320:140
[com_140]
type=rectangle
x=129
y=224
width=59
height=27
colour=0x000000
fill=yes

// 320:141
[com_141]
type=text
x=129
y=223
width=60
height=30
textfont=p11_full
text=Total<br>Level: %1
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
script0=stat_total

// 320:142
[com_142]
type=tooltip
x=1
y=153
width=64
height=31
buttontype=1
text=Magic XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Magic<col=ffffff> guide
script0=stat_xp(magic)
script1=stat_levelxp(6)

// 320:143
[com_143]
type=tooltip
x=63
y=157
width=64
height=31
buttontype=1
text=Fletching XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Fletching<col=ffffff> guide
script0=stat_xp(fletching)
script1=stat_levelxp(9)

// 320:144
[com_144]
type=tooltip
x=126
y=157
width=64
height=31
buttontype=1
text=Woodcutting XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Woodcutting<col=ffffff> guide
script0=stat_xp(woodcutting)
script1=stat_levelxp(8)

// 320:145
[com_145]
type=tooltip
x=-1
y=187
width=64
height=31
buttontype=1
text=Runecrafting XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Runecrafting<col=ffffff> guide
script0=stat_xp(runecraft)
script1=stat_levelxp(20)

// 320:146
[com_146]
type=tooltip
x=64
y=187
width=64
height=31
buttontype=1
text=Slayer XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Slayer<col=ffffff> guide
script0=stat_xp(slayer)
script1=stat_levelxp(18)

// 320:147
[com_147]
type=tooltip
x=125
y=189
width=64
height=31
buttontype=1
text=Farming XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Farming<col=ffffff> guide
script0=stat_xp(farming)
script1=stat_levelxp(19)

// 320:148
[com_148]
type=tooltip
x=1
y=219
width=64
height=31
buttontype=1
text=Construction XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Construction<col=ffffff> guide
script0=stat_xp(construction)
script1=stat_levelxp(22)

// 320:149
[com_149]
type=tooltip
x=64
y=219
width=64
height=31
buttontype=1
text=Hunter XP: %1<br>Next level at: %2
buttontext=View <col=ffb000>Hunter<col=ffffff> guide
script0=stat_xp(hunter)
script1=stat_levelxp(21)

