// 222:0
[com_0]
type=model
x=213
y=167
width=32
height=32
model=model_11365
modelangle=490,0,0
modelzoom=569

// 222:1
[com_1]
type=text
x=69
y=54
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:2
[com_2]
type=text
x=70
y=78
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:3
[com_3]
type=text
x=70
y=102
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:4
[com_4]
type=text
x=70
y=125
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:5
[com_5]
type=text
x=70
y=147
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:6
[com_6]
type=text
x=70
y=169
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:7
[com_7]
type=text
x=70
y=191
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:8
[com_8]
type=text
x=70
y=214
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:9
[com_9]
type=text
x=70
y=235
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:10
[com_10]
type=text
x=70
y=256
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:11
[com_11]
type=text
x=70
y=278
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:12
[com_12]
type=graphic
x=414
y=44
width=26
height=23
mouseoverlayer=com_14
graphic="close_buttons,2"

// 222:13
[com_13]
type=graphic
x=3
y=4
width=26
height=23
layer=com_14
mouseoverlayer=com_14
buttontype=3
graphic="close_buttons,3"

// 222:14
[com_14]
type=layer
x=411
y=40
width=32
height=32
hide=yes

