// 216:0
[com_0]
type=text
x=21
y=13
width=441
height=17
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

// 216:1
[com_1]
type=text
x=21
y=45
width=442
height=18
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

