// 518:0
[com_0]
type=rectangle
x=-2
width=562
height=362
colour=0x000000
fill=yes

// 518:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 518:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 518:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 518:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 518:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 518:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 518:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 518:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 518:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 518:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 518:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 518:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 518:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 518:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 518:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 518:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 518:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 518:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 518:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 518:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 518:21
[com_21]
type=graphic
x=326
y=139
width=88
height=60
graphic=tradebacking

// 518:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 518:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 518:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 518:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 518:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 518:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 518:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 518:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 518:30
[com_30]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 518:31
[com_31]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 518:32
[com_32]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 518:33
[com_33]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 518:34
[com_34]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 518:35
[com_35]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 518:36
[com_36]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 518:37
[com_37]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 518:38
[com_38]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 518:39
[com_39]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 518:40
[com_40]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 518:41
[com_41]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 518:42
[com_42]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 518:43
[com_43]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 518:44
[com_44]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 518:45
[com_45]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 518:46
[com_46]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 518:47
[com_47]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 518:48
[com_48]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 518:49
[com_49]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 518:50
[com_50]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 518:51
[com_51]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 518:52
[com_52]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 518:53
[com_53]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 518:54
[com_54]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 518:55
[com_55]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 518:56
[com_56]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 518:57
[com_57]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 518:58
[com_58]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 518:59
[com_59]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 518:60
[com_60]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 518:61
[com_61]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 518:62
[com_62]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 518:63
[com_63]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 518:64
[com_64]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 518:65
[com_65]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 518:66
[com_66]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 518:67
[com_67]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 518:68
[com_68]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 518:69
[com_69]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 518:70
[com_70]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 518:71
[com_71]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 518:72
[com_72]
type=graphic
x=325
y=140
width=88
height=60
graphic=tradebacking

// 518:73
[com_73]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 518:74
[com_74]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 518:75
[com_75]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 518:76
[com_76]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 518:77
[com_77]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 518:78
[com_78]
type=inv
x=121
y=98
width=5
height=4
paddingx=15
paddingy=15
op1=Take-back 1
op2=Take-back 5
op3=Take-back 10
op4=Take-back All
op5=Take-back X

// 518:79
[com_79]
type=text
x=77
y=70
width=315
height=18
textfont=b12_full
text=Follower Inv
textalignh=centre
textshadow=yes
colour=0xff981f
colouractive=0xff981f

// 518:80
[com_80]
type=text
x=401
y=132
width=30
height=30
textfont=quill_oblique_large
text=%1
textshadow=yes
colour=0xff981f
script0=15 -  + varplayerbit_3433

// 518:81
[com_81]
type=text
x=363
y=115
width=100
height=16
textfont=p12_full
text=Npc spaces left.
textalignh=centre
textshadow=yes
colour=0xff981f

// 518:82
[com_82]
type=text
x=121
y=98
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x33cc00
script0=varplayerbit_3414

// 518:83
[com_83]
type=text
x=169
y=98
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3415

// 518:84
[com_84]
type=text
x=216
y=99
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3416

// 518:85
[com_85]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 518:86
[com_86]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 518:87
[com_87]
type=text
x=262
y=99
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3417

// 518:88
[com_88]
type=text
x=309
y=98
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3418

// 518:89
[com_89]
type=text
x=121
y=145
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3419

// 518:90
[com_90]
type=text
x=169
y=146
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3420

// 518:91
[com_91]
type=text
x=215
y=145
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3421

// 518:92
[com_92]
type=text
x=262
y=145
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3422

// 518:93
[com_93]
type=text
x=309
y=145
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3423

// 518:94
[com_94]
type=text
x=121
y=192
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3424

// 518:95
[com_95]
type=text
x=168
y=192
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3425

// 518:96
[com_96]
type=text
x=215
y=192
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3426

// 518:97
[com_97]
type=text
x=262
y=192
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3427

// 518:98
[com_98]
type=text
x=309
y=192
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3428

// 518:99
[com_99]
type=text
x=121
y=239
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3429

// 518:100
[com_100]
type=text
x=168
y=239
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3430

// 518:101
[com_101]
type=text
x=215
y=239
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3431

// 518:102
[com_102]
type=text
x=262
y=239
width=20
height=20
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff00
script0=varplayerbit_3432

// 518:103
[com_103]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 518:104
[com_104]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 518:105
[com_105]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 518:106
[com_106]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 518:107
[com_107]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 518:108
[com_108]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 518:109
[com_109]
type=rectangle
x=11
y=-27
width=374
height=47
colour=0x000000
fill=yes

// 518:110
[com_110]
type=graphic
x=33
y=275
width=150
height=35
graphic=tradebacking

// 518:111
[com_111]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 518:112
[com_112]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 518:113
[com_113]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 518:114
[com_114]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 518:115
[com_115]
type=rectangle
x=24
y=319
width=123
height=32
colour=0x000000
fill=yes

// 518:116
[com_116]
type=graphic
x=471
y=26
width=26
height=23
mouseoverlayer=com_119
buttontype=3
graphic="close_buttons,0"

// 518:117
[com_117]
type=graphic
x=4
y=3
width=26
height=23
layer=com_119
graphic="close_buttons,1"

// 518:118
[com_118]
type=text
x=17
y=287
width=457
height=15
textfont=p12_full
text=Right click on items in your inventory to add them here, then click close.
textalignh=centre
textshadow=yes
colour=0xff981f

// 518:119
[com_119]
type=layer
x=467
y=23
width=32
height=32
hide=yes

