// 542:0
[com_0]
type=layer
x=-1
y=-1
width=511
height=334

// 542:1
[com_1]
type=graphic
x=99
y=20
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:2
[com_2]
type=graphic
x=393
y=239
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:3
[com_3]
type=graphic
x=306
y=239
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:4
[com_4]
type=graphic
x=219
y=239
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:5
[com_5]
type=graphic
x=131
y=239
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:6
[com_6]
type=graphic
x=33
y=26
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:7
[com_7]
type=graphic
x=33
y=86
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:8
[com_8]
type=graphic
x=33
y=146
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:9
[com_9]
type=graphic
x=33
y=206
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:10
[com_10]
type=graphic
x=33
y=239
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:11
[com_11]
type=graphic
x=121
y=80
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:12
[com_12]
type=graphic
x=187
y=20
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:13
[com_13]
type=graphic
x=121
y=140
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:14
[com_14]
type=graphic
x=121
y=200
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:15
[com_15]
type=graphic
x=187
y=80
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:16
[com_16]
type=graphic
x=117
y=239
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:17
[com_17]
type=graphic
x=187
y=140
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:18
[com_18]
type=graphic
x=187
y=200
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:19
[com_19]
type=graphic
x=275
y=20
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:20
[com_20]
type=graphic
x=363
y=80
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:21
[com_21]
type=graphic
x=275
y=80
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:22
[com_22]
type=graphic
x=275
y=140
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:23
[com_23]
type=graphic
x=275
y=200
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:24
[com_24]
type=graphic
x=363
y=140
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:25
[com_25]
type=graphic
x=363
y=20
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:26
[com_26]
type=graphic
x=363
y=200
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:27
[com_27]
type=graphic
x=393
y=26
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:28
[com_28]
type=graphic
x=393
y=81
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:29
[com_29]
type=graphic
x=393
y=141
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:30
[com_30]
type=graphic
x=393
y=200
width=88
height=60
layer=com_0
graphic=tradebacking

// 542:31
[com_31]
type=graphic
x=12
y=49
width=36
height=36
layer=com_0
graphic="miscgraphics,2"

// 542:32
[com_32]
type=graphic
x=12
y=85
width=36
height=36
layer=com_0
graphic="miscgraphics,2"

// 542:33
[com_33]
type=graphic
x=12
y=121
width=36
height=36
layer=com_0
graphic="miscgraphics,2"

// 542:34
[com_34]
type=graphic
x=12
y=157
width=36
height=36
layer=com_0
graphic="miscgraphics,2"

// 542:35
[com_35]
type=graphic
x=12
y=193
width=36
height=36
layer=com_0
graphic="miscgraphics,2"

// 542:36
[com_36]
type=graphic
x=12
y=228
width=36
height=36
layer=com_0
graphic="miscgraphics,2"

// 542:37
[com_37]
type=graphic
x=12
y=252
width=36
height=36
layer=com_0
graphic="miscgraphics,2"

// 542:38
[com_38]
type=graphic
x=466
y=51
width=36
height=36
layer=com_0
graphic="steelborder2,1"

// 542:39
[com_39]
type=graphic
x=466
y=86
width=36
height=36
layer=com_0
graphic="steelborder2,1"

// 542:40
[com_40]
type=graphic
x=466
y=122
width=36
height=36
layer=com_0
graphic="steelborder2,1"

// 542:41
[com_41]
type=graphic
x=466
y=158
width=36
height=36
layer=com_0
graphic="steelborder2,1"

// 542:42
[com_42]
type=graphic
x=49
y=34
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:43
[com_43]
type=graphic
x=466
y=194
width=36
height=36
layer=com_0
graphic="steelborder2,1"

// 542:44
[com_44]
type=graphic
x=466
y=230
width=36
height=36
layer=com_0
graphic="steelborder2,1"

// 542:45
[com_45]
type=graphic
x=466
y=264
width=36
height=36
layer=com_0
graphic="steelborder2,1"

// 542:46
[com_46]
type=graphic
x=80
y=284
width=36
height=36
layer=com_0
graphic="miscgraphics,3"

// 542:47
[com_47]
type=graphic
x=111
y=284
width=36
height=36
layer=com_0
graphic="miscgraphics,3"

// 542:48
[com_48]
type=graphic
x=144
y=284
width=36
height=36
layer=com_0
graphic="miscgraphics,3"

// 542:49
[com_49]
type=graphic
x=178
y=284
width=36
height=36
layer=com_0
graphic="miscgraphics,3"

// 542:50
[com_50]
type=graphic
x=212
y=284
width=36
height=36
layer=com_0
graphic="miscgraphics,3"

// 542:51
[com_51]
type=graphic
x=248
y=284
width=36
height=36
layer=com_0
graphic="miscgraphics,3"

// 542:52
[com_52]
type=graphic
x=283
y=284
width=36
height=36
layer=com_0
graphic="miscgraphics,3"

// 542:53
[com_53]
type=graphic
x=319
y=284
width=36
height=36
layer=com_0
graphic="miscgraphics,3"

// 542:54
[com_54]
type=graphic
x=354
y=284
width=36
height=36
layer=com_0
graphic="miscgraphics,3"

// 542:55
[com_55]
type=graphic
x=390
y=284
width=36
height=36
layer=com_0
graphic="miscgraphics,3"

// 542:56
[com_56]
type=graphic
x=426
y=284
width=36
height=36
layer=com_0
graphic="miscgraphics,3"

// 542:57
[com_57]
type=graphic
x=71
y=5
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:58
[com_58]
type=graphic
x=107
y=5
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:59
[com_59]
type=graphic
x=143
y=5
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:60
[com_60]
type=graphic
x=179
y=5
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:61
[com_61]
type=graphic
x=215
y=5
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:62
[com_62]
type=graphic
x=251
y=5
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:63
[com_63]
type=graphic
x=287
y=5
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:64
[com_64]
type=graphic
x=323
y=5
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:65
[com_65]
type=graphic
x=359
y=5
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:66
[com_66]
type=graphic
x=395
y=5
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:67
[com_67]
type=graphic
x=431
y=5
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:68
[com_68]
type=graphic
x=251
y=34
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:69
[com_69]
type=graphic
x=36
y=5
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:70
[com_70]
type=graphic
x=48
y=284
width=36
height=36
layer=com_0
graphic="miscgraphics,3"

// 542:71
[com_71]
type=graphic
x=27
y=275
width=25
height=30
layer=com_0
graphic="steelborder,2"

// 542:72
[com_72]
type=graphic
x=462
y=20
width=25
height=30
layer=com_0
graphic="steelborder,1"

// 542:73
[com_73]
type=graphic
x=438
y=5
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:74
[com_74]
type=graphic
x=462
y=275
width=25
height=30
layer=com_0
graphic="steelborder,3"

// 542:75
[com_75]
type=graphic
x=287
y=34
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:76
[com_76]
type=graphic
x=323
y=34
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:77
[com_77]
type=graphic
x=27
y=20
width=25
height=30
layer=com_0
graphic="steelborder,0"

// 542:78
[com_78]
type=graphic
x=359
y=34
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:79
[com_79]
type=graphic
x=395
y=34
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:80
[com_80]
type=graphic
x=431
y=34
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:81
[com_81]
type=graphic
x=215
y=34
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:82
[com_82]
type=graphic
x=179
y=34
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:83
[com_83]
type=graphic
x=143
y=34
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:84
[com_84]
type=graphic
x=107
y=34
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:85
[com_85]
type=graphic
x=71
y=34
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:86
[com_86]
type=graphic
x=33
y=34
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:87
[com_87]
type=graphic
x=446
y=34
width=36
height=36
layer=com_0
graphic="steelborder2,0"

// 542:88
[com_88]
type=layer
x=348
y=61
width=75
height=94

// 542:89
[com_89]
type=layer
x=170
y=178
width=75
height=96

// 542:90
[com_90]
type=layer
x=79
y=58
width=75
height=96

// 542:91
[com_91]
type=layer
x=168
y=57
width=77
height=90

// 542:92
[com_92]
type=layer
x=255
y=62
width=75
height=92

// 542:93
[com_93]
type=layer
x=255
y=175
width=72
height=92

// 542:94
[com_94]
type=layer
x=78
y=173
width=76
height=101

// 542:95
[com_95]
type=text
x=348
y=118
width=75
height=36
textfont=p12_full
text=Vial
textlineheight=16
textalignh=centre
textshadow=yes
colour=0xff9900
mouseovercolour=0xf4f499

// 542:96
[com_96]
type=text
x=170
y=238
width=75
height=36
textfont=p12_full
text=Orb
textlineheight=16
textalignh=centre
textshadow=yes
colour=0xff9900
mouseovercolour=0xf4f499

// 542:97
[com_97]
type=text
x=79
y=118
width=75
height=36
textfont=p12_full
text=Beer Glass
textlineheight=16
textalignh=centre
textshadow=yes
colour=0xff9900
mouseovercolour=0xf4f499

// 542:98
[com_98]
type=text
x=169
y=110
width=75
height=36
textfont=p12_full
text=Candle Lantern
textlineheight=16
textalignh=centre
textshadow=yes
colour=0xff9900
mouseovercolour=0xf4f499

// 542:99
[com_99]
type=text
x=255
y=118
width=75
height=36
textfont=p12_full
text=Oil lamp
textlineheight=16
textalignh=centre
textshadow=yes
colour=0xff9900
mouseovercolour=0xf4f499

// 542:100
[com_100]
type=text
x=256
y=230
width=71
height=37
textfont=p12_full
text=Lantern Lens
textlineheight=16
textalignh=centre
textshadow=yes
colour=0xff9900
mouseovercolour=0xf4f499

// 542:101
[com_101]
type=text
x=78
y=238
width=75
height=36
textfont=p12_full
text=Fish Bowl
textlineheight=16
textalignh=centre
textshadow=yes
colour=0xff9900
mouseovercolour=0xf4f499

// 542:102
[com_102]
type=model
x=2
width=70
height=92
layer=com_88
model=model_2747
modelangle=116,1942,0
modelzoom=400

// 542:103
[com_103]
type=model
x=4
y=-19
width=64
height=96
layer=com_89
model=model_2428
modelangle=590,868,0
modelzoom=400

// 542:104
[com_104]
type=model
x=-1
y=-8
width=64
height=96
layer=com_90
model=model_2548
modelangle=147,40,0
modelzoom=450

// 542:105
[com_105]
type=model
x=8
y=-3
width=64
height=96
layer=com_91
model=model_5745
modelangle=53,1965,0
modelzoom=741

// 542:106
[com_106]
type=model
x=8
y=-7
width=64
height=96
layer=com_92
model=model_5754
modelangle=197,1921,0
modelzoom=687

// 542:107
[com_107]
type=model
x=8
y=-21
width=64
height=96
layer=com_93
model=model_5740
modelangle=427,2031,0
modelzoom=400

// 542:108
[com_108]
type=model
x=8
y=7
width=59
height=79
layer=com_94
model=model_14186
modelangle=125,2042,0
modelzoom=800

// 542:109
[com_109]
type=text
width=75
height=93
layer=com_88
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make X

// 542:110
[com_110]
type=text
width=75
height=93
layer=com_88
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 10

// 542:111
[com_111]
type=text
width=75
height=93
layer=com_88
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make 5

// 542:112
[com_112]
type=text
width=75
height=93
layer=com_88
buttontype=1
textfont=q8_full
textalignh=centre
colour=0xff9900
mouseovercolour=0xffff00
buttontext=Make 1

// 542:113
[com_113]
type=text
width=74
height=95
layer=com_89
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make X

// 542:114
[com_114]
type=text
width=74
height=95
layer=com_89
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make 10

// 542:115
[com_115]
type=text
width=74
height=95
layer=com_89
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make 5

// 542:116
[com_116]
type=text
width=74
height=95
layer=com_89
buttontype=1
textfont=q8_full
textalignh=centre
colour=0xff9900
mouseovercolour=0xffff00
buttontext=Make 1

// 542:117
[com_117]
type=text
width=75
height=96
layer=com_90
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make X

// 542:118
[com_118]
type=text
width=75
height=96
layer=com_90
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 10

// 542:119
[com_119]
type=text
width=75
height=96
layer=com_90
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 5

// 542:120
[com_120]
type=text
width=75
height=96
layer=com_90
buttontype=1
textfont=q8_full
textalignh=centre
colour=0xff9900
mouseovercolour=0xffff00
buttontext=Make 1

// 542:121
[com_121]
type=text
width=77
height=90
layer=com_91
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make X

// 542:122
[com_122]
type=text
width=77
height=90
layer=com_91
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make 10

// 542:123
[com_123]
type=text
width=77
height=90
layer=com_91
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 5

// 542:124
[com_124]
type=text
width=77
height=90
layer=com_91
buttontype=1
textfont=q8_full
textalignh=centre
colour=0xff9900
mouseovercolour=0xffff00
buttontext=Make 1

// 542:125
[com_125]
type=text
width=75
height=92
layer=com_92
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make X

// 542:126
[com_126]
type=text
width=75
height=92
layer=com_92
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 10

// 542:127
[com_127]
type=text
width=75
height=92
layer=com_92
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 5

// 542:128
[com_128]
type=text
width=75
height=92
layer=com_92
buttontype=1
textfont=q8_full
textalignh=centre
colour=0xff9900
mouseovercolour=0xffff00
buttontext=Make 1

// 542:129
[com_129]
type=text
width=72
height=92
layer=com_93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make X

// 542:130
[com_130]
type=text
width=72
height=92
layer=com_93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 10

// 542:131
[com_131]
type=text
width=72
height=92
layer=com_93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 5

// 542:132
[com_132]
type=text
width=72
height=92
layer=com_93
buttontype=1
textfont=q8_full
textalignh=centre
colour=0xff9900
mouseovercolour=0xffff00
buttontext=Make 1

// 542:133
[com_133]
type=text
width=76
height=101
layer=com_94
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make X

// 542:134
[com_134]
type=text
width=76
height=101
layer=com_94
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 10

// 542:135
[com_135]
type=text
width=76
height=101
layer=com_94
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 5

// 542:136
[com_136]
type=text
width=76
height=101
layer=com_94
buttontype=1
textfont=q8_full
textalignh=centre
colour=0xff9900
mouseovercolour=0xffff00
buttontext=Make 1

// 542:137
[com_137]
type=text
x=136
y=18
width=259
height=38
textfont=b12_full
text=What would you like to make?
textalignh=centre
textalignv=centre
colour=0xff9900

// 542:138
[com_138]
type=layer
x=351
y=170
width=76
height=96

// 542:139
[com_139]
type=text
x=351
y=230
width=75
height=36
textfont=p12_full
text=Dorgeshuun Light Orb  
textlineheight=16
textalignh=centre
textshadow=yes
colour=0xff9900
mouseovercolour=0xf4f499

// 542:140
[com_140]
type=model
x=2
y=-4
width=70
height=92
layer=com_138
model=model_23615
modelangle=116,1942,0
modelzoom=550

// 542:141
[com_141]
type=text
width=75
height=95
layer=com_138
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make X

// 542:142
[com_142]
type=text
width=75
height=95
layer=com_138
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 10

// 542:143
[com_143]
type=text
width=75
height=95
layer=com_138
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make 5

// 542:144
[com_144]
type=text
width=75
height=95
layer=com_138
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff9900
mouseovercolour=0xffff00
buttontext=Make 1

// 542:145
[com_145]
type=graphic
x=457
y=25
width=26
height=23
mouseoverlayer=com_147
graphic="close_buttons,0"

// 542:146
[com_146]
type=graphic
x=5
width=26
height=23
layer=com_147
buttontype=3
graphic="close_buttons,1"

// 542:147
[com_147]
type=layer
x=452
y=25
width=29
height=23
hide=yes

