[keldagrim_story1_line1_l]

[keldagrim_story1_line2_l]

[keldagrim_story1_line3_l]

[keldagrim_story1_line4_l]

[keldagrim_story1_line5_l]

[keldagrim_story1_line6_l]

[keldagrim_story1_line7_l]

[keldagrim_story1_line8_l]

[keldagrim_story1_line9_l]

[keldagrim_story1_line1]

[keldagrim_story1_line2]

[keldagrim_story1_line3]

[keldagrim_story1_line4]

[keldagrim_story1_line5]

[keldagrim_story1_line6]

[keldagrim_story1_line7]

[keldagrim_story1_line8]

[keldagrim_story1_line9]

