// 463:0
[king_letter]

// 463:1
[kings_letter_text]

// 463:2
[kings_letter_signature]

// 463:3
[com_3]

// 463:4
[com_4]

// 463:5
[kings_letter_close]

// 463:6
[kings_seal]

