// 463:0
[king_letter]
type=model
x=243
y=138
width=35
height=35
model=model_3032
modelangle=400,0,0
modelzoom=650

// 463:1
[kings_letter_text]
type=text
x=115
y=108
width=287
height=94
textfont=q8_full
textalignv=unknown_3
colour=0x000000

// 463:2
[kings_letter_signature]
type=text
x=168
y=216
width=157
height=46
textfont=q8_full
textalignh=centre
colour=0x000000

// 463:3
[com_3]
type=graphic
x=367
y=87
width=26
height=23
mouseoverlayer=kings_letter_close
graphic="close_buttons,2"

// 463:4
[com_4]
type=graphic
x=2
y=7
width=26
height=23
layer=kings_letter_close
buttontype=3
graphic="close_buttons,3"

// 463:5
[kings_letter_close]
type=layer
x=365
y=80
width=32
height=32
hide=yes

// 463:6
[kings_seal]
type=model
x=369
y=207
width=32
height=32
model=model_3037
modelangle=473,1991,0
modelzoom=800

