// 409:0
[com_0]

// 409:1
[mcannon_tool1]

// 409:2
[mcannon_tool2]

// 409:3
[mcannon_tool3]

// 409:4
[mcannon_casing_for_mechanism]

// 409:5
[mcannon_firing_mechanism]

// 409:6
[com_6]

// 409:7
[mcannon_safety]

// 409:8
[mcannon_spring]

// 409:9
[mcannon_gear]

// 409:10
[com_10]

// 409:11
[com_11]

// 409:12
[mcannon_interface_close_button]

