[com_0]

[mcannon_tool1]

[mcannon_tool2]

[mcannon_tool3]

[mcannon_casing_for_mechanism]

[mcannon_firing_mechanism]

[com_6]

[mcannon_safety]

[mcannon_spring]

[mcannon_gear]

[com_10]

[com_11]

[mcannon_interface_close_button]

