// 222:0
[com_0]

// 222:1
[messagescroll1_hw]

// 222:2
[messagescroll2_hw]

// 222:3
[messagescroll3_hw]

// 222:4
[messagescroll4_hw]

// 222:5
[messagescroll5_hw]

// 222:6
[messagescroll6_hw]

// 222:7
[messagescroll7_hw]

// 222:8
[messagescroll8_hw]

// 222:9
[messagescroll9_hw]

// 222:10
[messagescroll10_hw]

// 222:11
[messagescroll11_hw]

// 222:12
[com_12]

// 222:13
[com_13]

// 222:14
[messagescroll_handwriting_close_button]

