// 222:0
[com_0]
type=model
x=213
y=167
width=32
height=32
model=model_11365
modelangle=490,0,0
modelzoom=569

// 222:1
[messagescroll1_hw]
type=text
x=69
y=54
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:2
[messagescroll2_hw]
type=text
x=70
y=78
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:3
[messagescroll3_hw]
type=text
x=70
y=102
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:4
[messagescroll4_hw]
type=text
x=70
y=125
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:5
[messagescroll5_hw]
type=text
x=70
y=147
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:6
[messagescroll6_hw]
type=text
x=70
y=169
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:7
[messagescroll7_hw]
type=text
x=70
y=191
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:8
[messagescroll8_hw]
type=text
x=70
y=214
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:9
[messagescroll9_hw]
type=text
x=70
y=235
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:10
[messagescroll10_hw]
type=text
x=70
y=256
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:11
[messagescroll11_hw]
type=text
x=70
y=278
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 222:12
[com_12]
type=graphic
x=414
y=44
width=26
height=23
mouseoverlayer=messagescroll_handwriting_close_button
graphic="close_buttons,2"

// 222:13
[com_13]
type=graphic
x=3
y=4
width=26
height=23
layer=messagescroll_handwriting_close_button
mouseoverlayer=messagescroll_handwriting_close_button
buttontype=3
graphic="close_buttons,3"

// 222:14
[messagescroll_handwriting_close_button]
type=layer
x=411
y=40
width=32
height=32
hide=yes

