// 391:0
[miscb_if_bg]

// 391:1
[com_1]

// 391:2
[com_2]

// 391:3
[miscb_if_mining]

// 391:4
[miscb_if_mining_text]

// 391:5
[miscb_if_mining_icon]

// 391:6
[com_6]

// 391:7
[miscb_if_herbs]

// 391:8
[miscb_flax_model]

// 391:9
[miscb_if_herbs_text]

// 391:10
[miscb_herbs_icon]

// 391:11
[miscb_if_mining_up]

// 391:12
[miscb_if_mining_down]

// 391:13
[miscb_if_mining_bar1]

// 391:14
[miscb_if_mining_bar2]

// 391:15
[miscb_if_mining_bar3]

// 391:16
[miscb_if_mining_bar4]

// 391:17
[miscb_if_mining_bar5]

// 391:18
[miscb_if_mining_bar6]

// 391:19
[miscb_if_mining_bar7]

// 391:20
[miscb_if_mining_bar8]

// 391:21
[miscb_if_mining_bar9]

// 391:22
[miscb_if_mining_bar10]

// 391:23
[miscb_if_north]

// 391:24
[miscb_herbs_iconcopy]

// 391:25
[miscb_if_coffers]

// 391:26
[miscb_if_coffers_text]

// 391:27
[miscb_if_herbs_up]

// 391:28
[miscb_if_herbs_down]

// 391:29
[miscb_if_herbs_bar1]

// 391:30
[com_30]

// 391:31
[miscb_if_wood_bar1]

// 391:32
[miscb_if_wood_bar2]

// 391:33
[miscb_if_wood_bar3]

// 391:34
[miscb_if_wood_bar4]

// 391:35
[miscb_if_wood_bar5]

// 391:36
[miscb_if_wood_bar6]

// 391:37
[miscb_if_wood_bar7]

// 391:38
[miscb_if_wood_bar8]

// 391:39
[miscb_if_wood_icon1]

// 391:40
[miscb_if_wood_bar9]

// 391:41
[miscb_if_wood_icon2]

// 391:42
[miscb_if_wood]

// 391:43
[miscb_if_wood_text]

// 391:44
[miscb_if_wood_icon]

// 391:45
[miscb_if_wood_up]

// 391:46
[miscb_if_wood_down]

// 391:47
[miscb_if_wood_bar10]

// 391:48
[miscb_if_herbs_bar2]

// 391:49
[com_49]

// 391:50
[miscb_if_herbs_bar3]

// 391:51
[miscb_if_herbs_bar4]

// 391:52
[miscb_if_herbs_bar5]

// 391:53
[miscb_if_herbs_bar6]

// 391:54
[miscb_if_herbs_bar7]

// 391:55
[miscb_if_herbs_bar8]

// 391:56
[miscb_if_herbs_bar9]

// 391:57
[miscb_if_herbs_bar10]

// 391:58
[miscb_if_fishing]

// 391:59
[miscb_if_fishing_text]

// 391:60
[miscb_if_fishing_icon]

// 391:61
[miscb_if_fishing_up]

// 391:62
[miscb_if_fishing_down]

// 391:63
[miscb_if_fishing_bar1]

// 391:64
[miscb_if_fishing_bar2]

// 391:65
[miscb_if_fishing_bar3]

// 391:66
[com_66]

// 391:67
[miscb_if_fishing_bar4]

// 391:68
[miscb_if_fishing_bar5]

// 391:69
[miscb_if_fishing_bar6]

// 391:70
[miscb_if_fishing_bar7]

// 391:71
[miscb_if_fishing_bar8]

// 391:72
[miscb_if_fishing_bar9]

// 391:73
[miscb_if_fishing_bar10]

// 391:74
[miscb_if_idle_bar1]

// 391:75
[miscb_if_idle_bar2]

// 391:76
[miscb_if_idle_bar3]

// 391:77
[miscb_if_idle_bar4]

// 391:78
[miscb_if_idle]

// 391:79
[miscb_if_idle_text]

// 391:80
[miscb_if_idle_icon1]

// 391:81
[miscb_if_idle_bar5]

// 391:82
[miscb_if_idle_bar6]

// 391:83
[miscb_if_idle_bar7]

// 391:84
[miscb_if_idle_bar8]

// 391:85
[miscb_if_idle_bar9]

// 391:86
[miscb_if_idle_bar10]

// 391:87
[miscb_if_idle_bar11]

// 391:88
[miscb_if_idle_bar12]

// 391:89
[miscb_if_idle_bar13]

// 391:90
[miscb_if_idle_bar14]

// 391:91
[miscb_if_idle_bar15]

// 391:92
[miscb_if_coffers_money]

// 391:93
[miscb_if_coffers_deposit]

// 391:94
[miscb_if_coffers_withdraw]

// 391:95
[com_95]

// 391:96
[com_96]

// 391:97
[com_97]

// 391:98
[miscb_if_bgcopy]

// 391:99
[miscb_if_questionmark]

// 391:100
[miscb_if_text_help]

// 391:101
[com_101]

// 391:102
[com_102]

// 391:103
[com_103]

// 391:104
[com_104]

// 391:105
[com_105]

// 391:106
[com_106]

// 391:107
[com_107]

// 391:108
[com_108]

// 391:109
[com_109]

// 391:110
[com_110]

// 391:111
[miscb_if_fishing_cookedtext]

// 391:112
[miscb_if_fishing_cooked]

// 391:113
[miscc_if_bgcopy_1]

// 391:114
[miscc_spade]

// 391:115
[com_115]

// 391:116
[miscb_if_rarewood_up]

// 391:117
[miscb_if_rarewood_down]

// 391:118
[miscb_if_rarewood_bar1]

// 391:119
[miscb_if_rarewood_bar2]

// 391:120
[miscb_if_rarewood_bar3]

// 391:121
[miscb_if_rarewood_bar4]

// 391:122
[miscb_if_rarewood_bar5]

// 391:123
[miscb_if_rarewood_bar6]

// 391:124
[miscb_if_rarewood_bar7]

// 391:125
[miscb_if_rarewood_bar8]

// 391:126
[miscb_if_rarewood_bar9]

// 391:127
[miscb_if_rarewood_bar10]

// 391:128
[miscb_if_rarewood_choosemahogany]

// 391:129
[miscb_if_rarewood_chooseteak]

// 391:130
[miscb_if_rarewood_chooseboth]

// 391:131
[miscb_if_rarewood_choosemahoganytext]

// 391:132
[miscb_if_rarewood_chooseteaktext]

// 391:133
[miscb_if_rarewood_choosebothtext]

// 391:134
[miscb_if_rarewood_text]

// 391:135
[miscc_if_wood_icon_1_1]

// 391:136
[miscc_if_wood_icon2_1]

// 391:137
[miscc_if_wood_icon_1]

// 391:138
[miscc_if_wood_icon2]

// 391:139
[miscb_if_rarewood]

// 391:140
[com_140]

// 391:141
[miscb_if_farm]

// 391:142
[miscb_if_farm_text]

// 391:143
[miscb_if_farm_up]

// 391:144
[miscb_if_farm_down]

// 391:145
[miscb_if_farm_bar1]

// 391:146
[miscb_if_farm_bar2]

// 391:147
[miscb_if_farm_bar3]

// 391:148
[miscb_if_farm_bar4]

// 391:149
[miscb_if_farm_bar5]

// 391:150
[miscb_if_farm_bar6]

// 391:151
[miscb_if_farm_bar7]

// 391:152
[miscb_if_farm_bar8]

// 391:153
[miscb_if_farm_bar9]

// 391:154
[miscb_if_farm_bar10]

// 391:155
[miscb_if_herbs_chooseherb]

// 391:156
[miscb_if_herbs_chooseherbtext]

// 391:157
[miscb_if_herbs_chooseflax]

// 391:158
[miscb_if_herbs_chooseflaxtext]

// 391:159
[miscb_help_1]

// 391:160
[miscb_help_2]

// 391:161
[com_161]

// 391:162
[com_162]

// 391:163
[misc_both_manage_close_button]

