// 391:0
[miscb_if_bg]
type=model
x=238
y=154
width=32
height=32
model=model_15112
modelangle=512,0,0
modelzoom=403

// 391:1
[com_1]
type=text
x=124
y=7
width=263
height=20
textfont=q8_full
text=Kingdom of Miscellania
textalignh=centre
textshadow=yes
colour=0xccaa44

// 391:2
[com_2]
type=rectangle
x=58
width=15
height=47
layer=miscb_if_mining
colour=0x442d22
fill=yes

// 391:3
[miscb_if_mining]
type=layer
x=177
y=57
width=93
height=61

// 391:4
[miscb_if_mining_text]
type=text
x=2
y=3
width=50
height=16
layer=miscb_if_mining
textfont=p12_full
text=Mining
textalignh=right
textshadow=yes
colour=0xbfbc8f

// 391:5
[miscb_if_mining_icon]
type=model
x=-21
y=14
width=49
height=40
layer=miscb_if_mining
model=model_4624
modelangle=578,4,0
modelzoom=1627

// 391:6
[com_6]
type=rectangle
x=93
y=157
width=17
height=54
colour=0x442d22
fill=yes

// 391:7
[miscb_if_herbs]
type=layer
x=44
y=159
width=110
height=64

// 391:8
[miscb_flax_model]
type=model
x=-46
y=-55
width=46
height=36
layer=miscb_if_herbs
model=model_15114
modelangle=512,0,0
modelzoom=500

// 391:9
[miscb_if_herbs_text]
type=text
x=7
y=6
width=33
height=14
layer=miscb_if_herbs
textfont=p12_full
text=Herbs
textshadow=yes
colour=0xbfbc8f

// 391:10
[miscb_herbs_icon]
type=model
x=-12
y=-19
width=40
height=31
layer=miscb_if_herbs
model=model_4622
modelangle=512,0,0
modelzoom=424

// 391:11
[miscb_if_mining_up]
type=model
x=78
y=-2
width=10
height=28
layer=miscb_if_mining
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1995
buttontext=Add

// 391:12
[miscb_if_mining_down]
type=model
x=78
y=24
width=13
height=25
layer=miscb_if_mining
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1995
buttontext=Remove

// 391:13
[miscb_if_mining_bar1]
type=rectangle
x=61
y=40
width=9
height=4
layer=miscb_if_mining
colour=0x000000
colouractive=0x918f6d
fill=yes
script=misc_points_mine > 0

// 391:14
[miscb_if_mining_bar2]
type=rectangle
x=61
y=36
width=9
height=4
layer=miscb_if_mining
colour=0x000000
colouractive=0x969471
fill=yes
script=misc_points_mine > 1

// 391:15
[miscb_if_mining_bar3]
type=rectangle
x=61
y=32
width=9
height=4
layer=miscb_if_mining
colour=0x000000
colouractive=0x9c9975
fill=yes
script=misc_points_mine > 2

// 391:16
[miscb_if_mining_bar4]
type=rectangle
x=61
y=28
width=9
height=4
layer=miscb_if_mining
colour=0x000000
colouractive=0xa19e78
fill=yes
script=misc_points_mine > 3

// 391:17
[miscb_if_mining_bar5]
type=rectangle
x=61
y=24
width=9
height=4
layer=miscb_if_mining
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=misc_points_mine > 4

// 391:18
[miscb_if_mining_bar6]
type=rectangle
x=61
y=20
width=9
height=4
layer=miscb_if_mining
colour=0x000000
colouractive=0xaba880
fill=yes
script=misc_points_mine > 5

// 391:19
[miscb_if_mining_bar7]
type=rectangle
x=61
y=16
width=9
height=4
layer=miscb_if_mining
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=misc_points_mine > 6

// 391:20
[miscb_if_mining_bar8]
type=rectangle
x=61
y=12
width=9
height=4
layer=miscb_if_mining
colour=0x000000
colouractive=0xb5b288
fill=yes
script=misc_points_mine > 7

// 391:21
[miscb_if_mining_bar9]
type=rectangle
x=61
y=8
width=9
height=4
layer=miscb_if_mining
colour=0x000000
colouractive=0xbab78c
fill=yes
script=misc_points_mine > 8

// 391:22
[miscb_if_mining_bar10]
type=rectangle
x=61
y=4
width=9
height=4
layer=miscb_if_mining
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=misc_points_mine > 9

// 391:23
[miscb_if_north]
type=model
x=327
y=-2
width=57
height=71
model=model_3039
modelangle=537,8,0
modelzoom=1955

// 391:24
[miscb_herbs_iconcopy]
type=model
x=21
y=18
width=42
height=35
model=model_4620
modelangle=512,0,0
modelzoom=490

// 391:25
[miscb_if_coffers]
type=layer
x=11
y=31
width=153
height=56

// 391:26
[miscb_if_coffers_text]
type=text
x=10
width=72
height=14
layer=miscb_if_coffers
textfont=p12_full
text=Coffers:
textalignh=right
textshadow=yes
colour=0xbfbc8f

// 391:27
[miscb_if_herbs_up]
type=model
x=93
y=-1
width=16
height=26
layer=miscb_if_herbs
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1995
buttontext=Add

// 391:28
[miscb_if_herbs_down]
type=model
x=93
y=25
width=16
height=30
layer=miscb_if_herbs
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1995
buttontext=Remove

// 391:29
[miscb_if_herbs_bar1]
type=rectangle
x=52
y=44
width=10
height=5
layer=miscb_if_herbs
colour=0x000000
colouractive=0x918f6d
fill=yes
script=misc_points_herb > 0

// 391:30
[com_30]
type=rectangle
x=49
width=15
height=57
layer=miscb_if_wood
colour=0x442d22
fill=yes

// 391:31
[miscb_if_wood_bar1]
type=rectangle
x=52
y=50
width=9
height=5
layer=miscb_if_wood
colour=0x000000
colouractive=0x918f6d
fill=yes
script=misc_points_wood > 0

// 391:32
[miscb_if_wood_bar2]
type=rectangle
x=52
y=46
width=9
height=5
layer=miscb_if_wood
colour=0x000000
colouractive=0x969471
fill=yes
script=misc_points_wood > 1

// 391:33
[miscb_if_wood_bar3]
type=rectangle
x=52
y=40
width=9
height=6
layer=miscb_if_wood
colour=0x000000
colouractive=0x9c9975
fill=yes
script=misc_points_wood > 2

// 391:34
[miscb_if_wood_bar4]
type=rectangle
x=52
y=35
width=9
height=6
layer=miscb_if_wood
colour=0x000000
colouractive=0xa19e78
fill=yes
script=misc_points_wood > 3

// 391:35
[miscb_if_wood_bar5]
type=rectangle
x=52
y=30
width=9
height=5
layer=miscb_if_wood
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=misc_points_wood > 4

// 391:36
[miscb_if_wood_bar6]
type=rectangle
x=52
y=24
width=9
height=6
layer=miscb_if_wood
colour=0x000000
colouractive=0xaba880
fill=yes
script=misc_points_wood > 5

// 391:37
[miscb_if_wood_bar7]
type=rectangle
x=52
y=19
width=9
height=5
layer=miscb_if_wood
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=misc_points_wood > 6

// 391:38
[miscb_if_wood_bar8]
type=rectangle
x=52
y=13
width=9
height=6
layer=miscb_if_wood
colour=0x000000
colouractive=0xb5b288
fill=yes
script=misc_points_wood > 7

// 391:39
[miscb_if_wood_icon1]
type=model
x=143
y=113
width=16
height=32
model=model_15113
modelangle=512,0,0
modelzoom=1450

// 391:40
[miscb_if_wood_bar9]
type=rectangle
x=52
y=7
width=9
height=6
layer=miscb_if_wood
colour=0x000000
colouractive=0xbab78c
fill=yes
script=misc_points_wood > 8

// 391:41
[miscb_if_wood_icon2]
type=model
x=170
y=113
width=19
height=30
mouseoverlayer=miscb_if_mining
model=model_15113
modelangle=512,0,0
modelzoom=1800

// 391:42
[miscb_if_wood]
type=layer
x=160
y=133
width=88
height=59

// 391:43
[miscb_if_wood_text]
type=text
x=8
width=30
height=14
layer=miscb_if_wood
textfont=p12_full
text=Wood
textshadow=yes
colour=0xbfbc8f

// 391:44
[miscb_if_wood_icon]
type=model
x=158
y=129
width=34
height=43
model=model_15113
modelangle=512,0,0
modelzoom=1500

// 391:45
[miscb_if_wood_up]
type=model
x=69
y=3
width=17
height=25
layer=miscb_if_wood
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1995
buttontext=Add

// 391:46
[miscb_if_wood_down]
type=model
x=72
y=33
width=10
height=25
layer=miscb_if_wood
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1995
buttontext=Remove

// 391:47
[miscb_if_wood_bar10]
type=rectangle
x=52
y=2
width=9
height=5
layer=miscb_if_wood
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=misc_points_wood > 9

// 391:48
[miscb_if_herbs_bar2]
type=rectangle
x=52
y=39
width=10
height=5
layer=miscb_if_herbs
colour=0x000000
colouractive=0x969471
fill=yes
script=misc_points_herb > 1

// 391:49
[com_49]
type=rectangle
x=48
y=2
width=16
height=51
layer=miscb_if_fishing
colour=0x442d22
fill=yes

// 391:50
[miscb_if_herbs_bar3]
type=rectangle
x=52
y=34
width=10
height=5
layer=miscb_if_herbs
colour=0x000000
colouractive=0x9c9975
fill=yes
script=misc_points_herb > 2

// 391:51
[miscb_if_herbs_bar4]
type=rectangle
x=52
y=29
width=10
height=5
layer=miscb_if_herbs
colour=0x000000
colouractive=0xa19e78
fill=yes
script=misc_points_herb > 3

// 391:52
[miscb_if_herbs_bar5]
type=rectangle
x=52
y=24
width=10
height=5
layer=miscb_if_herbs
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=misc_points_herb > 4

// 391:53
[miscb_if_herbs_bar6]
type=rectangle
x=52
y=19
width=10
height=5
layer=miscb_if_herbs
colour=0x000000
colouractive=0xaba880
fill=yes
script=misc_points_herb > 5

// 391:54
[miscb_if_herbs_bar7]
type=rectangle
x=52
y=15
width=10
height=5
layer=miscb_if_herbs
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=misc_points_herb > 6

// 391:55
[miscb_if_herbs_bar8]
type=rectangle
x=52
y=11
width=10
height=5
layer=miscb_if_herbs
colour=0x000000
colouractive=0xb5b288
fill=yes
script=misc_points_herb > 7

// 391:56
[miscb_if_herbs_bar9]
type=rectangle
x=52
y=6
width=10
height=5
layer=miscb_if_herbs
colour=0x000000
colouractive=0xbab78c
fill=yes
script=misc_points_herb > 8

// 391:57
[miscb_if_herbs_bar10]
type=rectangle
x=52
y=2
width=10
height=4
layer=miscb_if_herbs
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=misc_points_herb > 9

// 391:58
[miscb_if_fishing]
type=layer
x=189
y=212
width=104
height=76

// 391:59
[miscb_if_fishing_text]
type=text
x=1
y=2
width=40
height=14
layer=miscb_if_fishing
textfont=p12_full
text=Fishing
textshadow=yes
colour=0xbfbc8f

// 391:60
[miscb_if_fishing_icon]
type=model
x=246
y=259
width=34
height=43
model=model_4621
modelangle=512,0,0
modelzoom=900

// 391:61
[miscb_if_fishing_up]
type=model
x=70
y=-5
width=16
height=33
layer=miscb_if_fishing
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1995
buttontext=Add

// 391:62
[miscb_if_fishing_down]
type=model
x=70
y=18
width=16
height=30
layer=miscb_if_fishing
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1995
buttontext=Remove

// 391:63
[miscb_if_fishing_bar1]
type=rectangle
x=51
y=43
width=10
height=5
layer=miscb_if_fishing
colour=0x000000
colouractive=0x918f6d
fill=yes
script=misc_points_fish > 0

// 391:64
[miscb_if_fishing_bar2]
type=rectangle
x=51
y=38
width=10
height=5
layer=miscb_if_fishing
colour=0x000000
colouractive=0x969471
fill=yes
script=misc_points_fish > 1

// 391:65
[miscb_if_fishing_bar3]
type=rectangle
x=51
y=33
width=10
height=5
layer=miscb_if_fishing
colour=0x000000
colouractive=0x9c9975
fill=yes
script=misc_points_fish > 2

// 391:66
[com_66]
type=rectangle
x=55
width=16
height=75
layer=miscb_if_idle
colour=0x442d22
fill=yes

// 391:67
[miscb_if_fishing_bar4]
type=rectangle
x=51
y=29
width=10
height=4
layer=miscb_if_fishing
colour=0x000000
colouractive=0xa19e78
fill=yes
script=misc_points_fish > 3

// 391:68
[miscb_if_fishing_bar5]
type=rectangle
x=51
y=25
width=10
height=5
layer=miscb_if_fishing
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=misc_points_fish > 4

// 391:69
[miscb_if_fishing_bar6]
type=rectangle
x=51
y=22
width=10
height=4
layer=miscb_if_fishing
colour=0x000000
colouractive=0xaba880
fill=yes
script=misc_points_fish > 5

// 391:70
[miscb_if_fishing_bar7]
type=rectangle
x=51
y=19
width=10
height=4
layer=miscb_if_fishing
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=misc_points_fish > 6

// 391:71
[miscb_if_fishing_bar8]
type=rectangle
x=51
y=14
width=10
height=5
layer=miscb_if_fishing
colour=0x000000
colouractive=0xb5b288
fill=yes
script=misc_points_fish > 7

// 391:72
[miscb_if_fishing_bar9]
type=rectangle
x=51
y=10
width=10
height=4
layer=miscb_if_fishing
colour=0x000000
colouractive=0xbab78c
fill=yes
script=misc_points_fish > 8

// 391:73
[miscb_if_fishing_bar10]
type=rectangle
x=51
y=5
width=10
height=5
layer=miscb_if_fishing
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=misc_points_fish > 9

// 391:74
[miscb_if_idle_bar1]
type=rectangle
x=58
y=66
width=10
height=5
layer=miscb_if_idle
colour=0x000000
colouractive=0x918f6d
fill=yes
script=if1 > 0

// 391:75
[miscb_if_idle_bar2]
type=rectangle
x=58
y=62
width=10
height=5
layer=miscb_if_idle
colour=0x000000
colouractive=0x969471
fill=yes
script=if1 > 1

// 391:76
[miscb_if_idle_bar3]
type=rectangle
x=58
y=57
width=10
height=5
layer=miscb_if_idle
colour=0x000000
colouractive=0x9c9975
fill=yes
script=if1 > 2

// 391:77
[miscb_if_idle_bar4]
type=rectangle
x=58
y=53
width=10
height=5
layer=miscb_if_idle
mouseoverlayer=miscb_if_mining
colour=0x000000
colouractive=0xa49e78
fill=yes
script=if1 > 3

// 391:78
[miscb_if_idle]
type=layer
x=19
y=249
width=88
height=80

// 391:79
[miscb_if_idle_text]
type=text
x=1
y=6
width=53
height=17
layer=miscb_if_idle
textfont=p12_full
text=Idle
textalignh=centre
textshadow=yes
colour=0xbfbc8f

// 391:80
[miscb_if_idle_icon1]
type=model
y=30
width=53
height=31
layer=miscb_if_idle
model=model_4626
modelangle=583,2012,0
modelzoom=1611

// 391:81
[miscb_if_idle_bar5]
type=rectangle
x=58
y=48
width=10
height=5
layer=miscb_if_idle
mouseoverlayer=miscb_if_mining
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=if1 > 4

// 391:82
[miscb_if_idle_bar6]
type=rectangle
x=58
y=43
width=10
height=5
layer=miscb_if_idle
colour=0x000000
colouractive=0xaba880
fill=yes
script=if1 > 5

// 391:83
[miscb_if_idle_bar7]
type=rectangle
x=58
y=38
width=10
height=5
layer=miscb_if_idle
mouseoverlayer=miscb_if_mining
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=if1 > 6

// 391:84
[miscb_if_idle_bar8]
type=rectangle
x=58
y=34
width=10
height=5
layer=miscb_if_idle
colour=0x000000
colouractive=0xb5b288
fill=yes
script=if1 > 7

// 391:85
[miscb_if_idle_bar9]
type=rectangle
x=58
y=29
width=10
height=5
layer=miscb_if_idle
mouseoverlayer=miscb_if_mining
colour=0x000000
colouractive=0xbab78c
fill=yes
script=if1 > 8

// 391:86
[miscb_if_idle_bar10]
type=rectangle
x=58
y=25
width=10
height=5
layer=miscb_if_idle
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=if1 > 9

// 391:87
[miscb_if_idle_bar11]
type=rectangle
x=58
y=20
width=10
height=5
layer=miscb_if_idle
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=if1 > 10

// 391:88
[miscb_if_idle_bar12]
type=rectangle
x=58
y=15
width=10
height=5
layer=miscb_if_idle
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=if1 > 11

// 391:89
[miscb_if_idle_bar13]
type=rectangle
x=58
y=10
width=10
height=5
layer=miscb_if_idle
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=if1 > 12

// 391:90
[miscb_if_idle_bar14]
type=rectangle
x=58
y=6
width=10
height=5
layer=miscb_if_idle
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=if1 > 13

// 391:91
[miscb_if_idle_bar15]
type=rectangle
x=58
y=3
width=10
height=5
layer=miscb_if_idle
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=if1 > 14

// 391:92
[miscb_if_coffers_money]
type=text
x=89
width=72
height=14
layer=miscb_if_coffers
textfont=p12_full
text=500,000
textshadow=yes

// 391:93
[miscb_if_coffers_deposit]
type=text
x=89
y=19
width=73
height=14
layer=miscb_if_coffers
buttontype=1
textfont=p12_full
text=Deposit
textshadow=yes
mouseovercolour=0xffff00
buttontext=Deposit

// 391:94
[miscb_if_coffers_withdraw]
type=text
x=89
y=34
width=72
height=14
layer=miscb_if_coffers
buttontype=1
textfont=p12_full
text=Withdraw
textshadow=yes
mouseovercolour=0xffff00
buttontext=Withdraw

// 391:95
[com_95]
type=model
x=289
y=211
width=34
height=43
model=model_4621
modelangle=512,0,0
modelzoom=1500

// 391:96
[com_96]
type=model
x=275
y=236
width=34
height=43
model=model_4621
modelangle=512,0,0
modelzoom=1350

// 391:97
[com_97]
type=model
x=-54
y=-8
width=46
height=36
layer=miscb_if_herbs
model=model_4622
modelangle=512,0,0
modelzoom=805

// 391:98
[miscb_if_bgcopy]
type=model
x=160
y=163
width=32
height=32
model=model_4619
modelangle=512,0,0
modelzoom=525

// 391:99
[miscb_if_questionmark]
type=model
x=450
y=253
width=43
height=43
buttontype=1
model=model_4623
modelangle=515,18,0
modelzoom=1850

// 391:100
[miscb_if_text_help]
type=text
x=433
y=306
width=76
height=14
textfont=p12_full
text=Help
textalignh=centre
textshadow=yes
colour=0xbfbc8f

// 391:101
[com_101]
type=text
x=8
y=12
width=4
height=2
layer=miscb_help_1
textfont=p12_full
textactive=Deposit money in
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=if2 = 1

// 391:102
[com_102]
type=text
x=8
y=27
width=4
height=4
layer=miscb_help_1
textfont=p12_full
textactive=the coffers to
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=if2 = 1

// 391:103
[com_103]
type=text
x=8
y=42
width=4
height=2
layer=miscb_help_1
textfont=p12_full
textactive=pay your subjects
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=if2 = 1

// 391:104
[com_104]
type=text
x=8
y=57
width=4
height=2
layer=miscb_help_1
textfont=p12_full
textactive=and make them
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=if2 = 1

// 391:105
[com_105]
type=text
x=8
y=72
width=4
height=2
layer=miscb_help_1
textfont=p12_full
textactive=work harder.
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=if2 = 1

// 391:106
[com_106]
type=text
x=8
y=13
width=4
height=2
layer=miscb_help_2
textfont=p12_full
textactive=Use the arrows to
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=if2 = 1

// 391:107
[com_107]
type=text
x=8
y=28
width=4
height=2
layer=miscb_help_2
textfont=p12_full
textactive=adjust the amount
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=if2 = 1

// 391:108
[com_108]
type=text
x=8
y=43
width=4
height=2
layer=miscb_help_2
textfont=p12_full
textactive=of effort your
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=if2 = 1

// 391:109
[com_109]
type=text
x=8
y=58
width=4
height=2
layer=miscb_help_2
textfont=p12_full
textactive=subjects spend
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=if2 = 1

// 391:110
[com_110]
type=text
x=8
y=73
width=4
height=2
layer=miscb_help_2
textfont=p12_full
textactive=on each resource.
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=if2 = 1

// 391:111
[miscb_if_fishing_cookedtext]
type=text
x=6
y=39
width=36
height=12
layer=miscb_if_fishing
buttontype=1
textfont=p11_full
text=Cooked
textshadow=yes
colour=0xbfbc8f
buttontext=Cooked or raw fish?

// 391:112
[miscb_if_fishing_cooked]
type=graphic
x=18
y=20
width=15
height=15
layer=miscb_if_fishing
buttontype=4
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Cooked or raw fish?
script=misc_cooked = 1

// 391:113
[miscc_if_bgcopy_1]
type=model
x=478
y=187
width=32
height=32
model=model_4619
modelangle=512,0,0
modelzoom=625

// 391:114
[miscc_spade]
type=model
x=371
y=173
width=32
height=32
model=model_15116
modelangle=519,0,0
modelzoom=1655

// 391:115
[com_115]
type=rectangle
x=70
y=1
width=15
height=47
layer=miscb_if_rarewood
colour=0x442d22
fill=yes

// 391:116
[miscb_if_rarewood_up]
type=model
x=90
y=-1
width=10
height=28
layer=miscb_if_rarewood
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1995
buttontext=Add

// 391:117
[miscb_if_rarewood_down]
type=model
x=89
y=23
width=13
height=25
layer=miscb_if_rarewood
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1995
buttontext=Remove

// 391:118
[miscb_if_rarewood_bar1]
type=rectangle
x=73
y=41
width=9
height=4
layer=miscb_if_rarewood
colour=0x000000
colouractive=0x918f6d
fill=yes
script=misc_points_rarewood > 0

// 391:119
[miscb_if_rarewood_bar2]
type=rectangle
x=73
y=37
width=9
height=4
layer=miscb_if_rarewood
colour=0x000000
colouractive=0x969471
fill=yes
script=misc_points_rarewood > 1

// 391:120
[miscb_if_rarewood_bar3]
type=rectangle
x=73
y=33
width=9
height=4
layer=miscb_if_rarewood
colour=0x000000
colouractive=0x9c9975
fill=yes
script=misc_points_rarewood > 2

// 391:121
[miscb_if_rarewood_bar4]
type=rectangle
x=73
y=29
width=9
height=4
layer=miscb_if_rarewood
colour=0x000000
colouractive=0xa19e78
fill=yes
script=misc_points_rarewood > 3

// 391:122
[miscb_if_rarewood_bar5]
type=rectangle
x=73
y=25
width=9
height=4
layer=miscb_if_rarewood
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=misc_points_rarewood > 4

// 391:123
[miscb_if_rarewood_bar6]
type=rectangle
x=73
y=21
width=9
height=4
layer=miscb_if_rarewood
colour=0x000000
colouractive=0xaba880
fill=yes
script=misc_points_rarewood > 5

// 391:124
[miscb_if_rarewood_bar7]
type=rectangle
x=73
y=17
width=9
height=4
layer=miscb_if_rarewood
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=misc_points_rarewood > 6

// 391:125
[miscb_if_rarewood_bar8]
type=rectangle
x=73
y=13
width=9
height=4
layer=miscb_if_rarewood
colour=0x000000
colouractive=0xb5b288
fill=yes
script=misc_points_rarewood > 7

// 391:126
[miscb_if_rarewood_bar9]
type=rectangle
x=73
y=9
width=9
height=4
layer=miscb_if_rarewood
colour=0x000000
colouractive=0xbab78c
fill=yes
script=misc_points_rarewood > 8

// 391:127
[miscb_if_rarewood_bar10]
type=rectangle
x=73
y=5
width=9
height=4
layer=miscb_if_rarewood
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=misc_points_rarewood > 9

// 391:128
[miscb_if_rarewood_choosemahogany]
type=graphic
x=1
y=19
width=15
height=15
layer=miscb_if_rarewood
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Mahogany, Teak or both?
script=misc_rarewood_type = 0

// 391:129
[miscb_if_rarewood_chooseteak]
type=graphic
x=1
y=34
width=15
height=15
layer=miscb_if_rarewood
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Mahogany, Teak or both?
script=misc_rarewood_type = 1

// 391:130
[miscb_if_rarewood_chooseboth]
type=graphic
x=1
y=49
width=15
height=15
layer=miscb_if_rarewood
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Mahogany, Teak or both?
script=misc_rarewood_type = 2

// 391:131
[miscb_if_rarewood_choosemahoganytext]
type=text
x=17
y=20
width=50
height=12
layer=miscb_if_rarewood
buttontype=1
textfont=p11_full
text=Mahogany
textshadow=yes
colour=0xbfbc8f
buttontext=Mahogany, Teak or both?

// 391:132
[miscb_if_rarewood_chooseteaktext]
type=text
x=17
y=35
width=22
height=12
layer=miscb_if_rarewood
buttontype=1
textfont=p11_full
text=Teak
textshadow=yes
colour=0xbfbc8f
buttontext=Mahogany, Teak or both?

// 391:133
[miscb_if_rarewood_choosebothtext]
type=text
x=17
y=50
width=23
height=12
layer=miscb_if_rarewood
buttontype=1
textfont=p11_full
text=Both
textshadow=yes
colour=0xbfbc8f
buttontext=Mahogany, Teak or both?

// 391:134
[miscb_if_rarewood_text]
type=text
x=2
y=3
width=59
height=14
layer=miscb_if_rarewood
textfont=p12_full
text=Hardwood
textshadow=yes
colour=0xbfbc8f

// 391:135
[miscc_if_wood_icon_1_1]
type=model
x=401
y=86
width=34
height=43
model=model_15117
modelangle=512,0,0
modelzoom=1800

// 391:136
[miscc_if_wood_icon2_1]
type=model
x=424
y=42
width=34
height=43
model=model_15115
modelangle=512,0,0
modelzoom=1500

// 391:137
[miscc_if_wood_icon_1]
type=model
x=420
y=68
width=34
height=43
model=model_15117
modelangle=512,0,0
modelzoom=1500

// 391:138
[miscc_if_wood_icon2]
type=model
x=370
y=22
width=34
height=43
model=model_15115
modelangle=512,0,0
modelzoom=1500

// 391:139
[miscb_if_rarewood]
type=layer
x=395
y=34
width=104
height=76
hide=yes

// 391:140
[com_140]
type=rectangle
x=46
y=3
width=15
height=47
layer=miscb_if_farm
colour=0x442d22
fill=yes

// 391:141
[miscb_if_farm]
type=layer
x=383
y=185
width=90
height=63
hide=yes

// 391:142
[miscb_if_farm_text]
type=text
x=14
y=3
width=27
height=14
layer=miscb_if_farm
textfont=p12_full
text=Farm
textshadow=yes
colour=0xbfbc8f

// 391:143
[miscb_if_farm_up]
type=model
x=69
width=10
height=28
layer=miscb_if_farm
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1995
buttontext=Add

// 391:144
[miscb_if_farm_down]
type=model
x=68
y=27
width=13
height=25
layer=miscb_if_farm
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1995
buttontext=Remove

// 391:145
[miscb_if_farm_bar1]
type=rectangle
x=49
y=42
width=9
height=4
layer=miscb_if_farm
colour=0x000000
colouractive=0x918f6d
fill=yes
script=misc_points_farm > 0

// 391:146
[miscb_if_farm_bar2]
type=rectangle
x=49
y=38
width=9
height=4
layer=miscb_if_farm
colour=0x000000
colouractive=0x969471
fill=yes
script=misc_points_farm > 1

// 391:147
[miscb_if_farm_bar3]
type=rectangle
x=49
y=34
width=9
height=4
layer=miscb_if_farm
colour=0x000000
colouractive=0x9c9975
fill=yes
script=misc_points_farm > 2

// 391:148
[miscb_if_farm_bar4]
type=rectangle
x=49
y=30
width=9
height=4
layer=miscb_if_farm
colour=0x000000
colouractive=0xa19e78
fill=yes
script=misc_points_farm > 3

// 391:149
[miscb_if_farm_bar5]
type=rectangle
x=49
y=26
width=9
height=4
layer=miscb_if_farm
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=misc_points_farm > 4

// 391:150
[miscb_if_farm_bar6]
type=rectangle
x=49
y=22
width=9
height=4
layer=miscb_if_farm
colour=0x000000
colouractive=0xaba880
fill=yes
script=misc_points_farm > 5

// 391:151
[miscb_if_farm_bar7]
type=rectangle
x=49
y=18
width=9
height=4
layer=miscb_if_farm
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=misc_points_farm > 6

// 391:152
[miscb_if_farm_bar8]
type=rectangle
x=49
y=14
width=9
height=4
layer=miscb_if_farm
colour=0x000000
colouractive=0xb5b288
fill=yes
script=misc_points_farm > 7

// 391:153
[miscb_if_farm_bar9]
type=rectangle
x=49
y=10
width=9
height=4
layer=miscb_if_farm
colour=0x000000
colouractive=0xbab78c
fill=yes
script=misc_points_farm > 8

// 391:154
[miscb_if_farm_bar10]
type=rectangle
x=49
y=6
width=9
height=4
layer=miscb_if_farm
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=misc_points_farm > 9

// 391:155
[miscb_if_herbs_chooseherb]
type=graphic
y=23
width=15
height=15
layer=miscb_if_herbs
buttontype=1
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Herbs or Flax?
script=misc_herbs_or_flax = 0

// 391:156
[miscb_if_herbs_chooseherbtext]
type=text
x=15
y=24
width=30
height=12
layer=miscb_if_herbs
buttontype=1
textfont=p11_full
text=Herbs
textshadow=yes
colour=0xbfbc8f
buttontext=Herbs or Flax?

// 391:157
[miscb_if_herbs_chooseflax]
type=graphic
y=40
width=15
height=15
layer=miscb_if_herbs
buttontype=1
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Herbs or Flax?
script=misc_herbs_or_flax = 1

// 391:158
[miscb_if_herbs_chooseflaxtext]
type=text
x=15
y=43
width=21
height=12
layer=miscb_if_herbs
buttontype=1
textfont=p11_full
text=Flax
textshadow=yes
colour=0xbfbc8f
buttontext=Herbs or Flax?

// 391:159
[miscb_help_1]
type=layer
x=267
y=90
width=151
height=104

// 391:160
[miscb_help_2]
type=layer
x=314
y=241
width=146
height=93

// 391:161
[com_161]
type=graphic
x=486
y=4
width=26
height=23
mouseoverlayer=misc_both_manage_close_button
graphic="close_buttons,4"

// 391:162
[com_162]
type=graphic
x=3
y=3
width=26
height=23
layer=misc_both_manage_close_button
mouseoverlayer=misc_both_manage_close_button
buttontype=3
graphic="close_buttons,5"

// 391:163
[misc_both_manage_close_button]
type=layer
x=483
y=1
width=32
height=32
hide=yes

