[miscb_if_bg]

[com_1]

[com_2]

[miscb_if_mining]

[miscb_if_mining_text]

[miscb_if_mining_icon]

[com_6]

[miscb_if_herbs]

[miscb_flax_model]

[miscb_if_herbs_text]

[miscb_herbs_icon]

[miscb_if_mining_up]

[miscb_if_mining_down]

[miscb_if_mining_bar1]

[miscb_if_mining_bar2]

[miscb_if_mining_bar3]

[miscb_if_mining_bar4]

[miscb_if_mining_bar5]

[miscb_if_mining_bar6]

[miscb_if_mining_bar7]

[miscb_if_mining_bar8]

[miscb_if_mining_bar9]

[miscb_if_mining_bar10]

[miscb_if_north]

[miscb_herbs_iconcopy]

[miscb_if_coffers]

[miscb_if_coffers_text]

[miscb_if_herbs_up]

[miscb_if_herbs_down]

[miscb_if_herbs_bar1]

[com_30]

[miscb_if_wood_bar1]

[miscb_if_wood_bar2]

[miscb_if_wood_bar3]

[miscb_if_wood_bar4]

[miscb_if_wood_bar5]

[miscb_if_wood_bar6]

[miscb_if_wood_bar7]

[miscb_if_wood_bar8]

[miscb_if_wood_icon1]

[miscb_if_wood_bar9]

[miscb_if_wood_icon2]

[miscb_if_wood]

[miscb_if_wood_text]

[miscb_if_wood_icon]

[miscb_if_wood_up]

[miscb_if_wood_down]

[miscb_if_wood_bar10]

[miscb_if_herbs_bar2]

[com_49]

[miscb_if_herbs_bar3]

[miscb_if_herbs_bar4]

[miscb_if_herbs_bar5]

[miscb_if_herbs_bar6]

[miscb_if_herbs_bar7]

[miscb_if_herbs_bar8]

[miscb_if_herbs_bar9]

[miscb_if_herbs_bar10]

[miscb_if_fishing]

[miscb_if_fishing_text]

[miscb_if_fishing_icon]

[miscb_if_fishing_up]

[miscb_if_fishing_down]

[miscb_if_fishing_bar1]

[miscb_if_fishing_bar2]

[miscb_if_fishing_bar3]

[com_66]

[miscb_if_fishing_bar4]

[miscb_if_fishing_bar5]

[miscb_if_fishing_bar6]

[miscb_if_fishing_bar7]

[miscb_if_fishing_bar8]

[miscb_if_fishing_bar9]

[miscb_if_fishing_bar10]

[miscb_if_idle_bar1]

[miscb_if_idle_bar2]

[miscb_if_idle_bar3]

[miscb_if_idle_bar4]

[miscb_if_idle]

[miscb_if_idle_text]

[miscb_if_idle_icon1]

[miscb_if_idle_bar5]

[miscb_if_idle_bar6]

[miscb_if_idle_bar7]

[miscb_if_idle_bar8]

[miscb_if_idle_bar9]

[miscb_if_idle_bar10]

[miscb_if_idle_bar11]

[miscb_if_idle_bar12]

[miscb_if_idle_bar13]

[miscb_if_idle_bar14]

[miscb_if_idle_bar15]

[miscb_if_coffers_money]

[miscb_if_coffers_deposit]

[miscb_if_coffers_withdraw]

[com_95]

[com_96]

[com_97]

[miscb_if_bgcopy]

[miscb_if_questionmark]

[miscb_if_text_help]

[com_101]

[com_102]

[com_103]

[com_104]

[com_105]

[com_106]

[com_107]

[com_108]

[com_109]

[com_110]

[miscb_if_fishing_cookedtext]

[miscb_if_fishing_cooked]

[miscc_if_bgcopy_1]

[miscc_spade]

[com_115]

[miscb_if_rarewood_up]

[miscb_if_rarewood_down]

[miscb_if_rarewood_bar1]

[miscb_if_rarewood_bar2]

[miscb_if_rarewood_bar3]

[miscb_if_rarewood_bar4]

[miscb_if_rarewood_bar5]

[miscb_if_rarewood_bar6]

[miscb_if_rarewood_bar7]

[miscb_if_rarewood_bar8]

[miscb_if_rarewood_bar9]

[miscb_if_rarewood_bar10]

[miscb_if_rarewood_choosemahogany]

[miscb_if_rarewood_chooseteak]

[miscb_if_rarewood_chooseboth]

[miscb_if_rarewood_choosemahoganytext]

[miscb_if_rarewood_chooseteaktext]

[miscb_if_rarewood_choosebothtext]

[miscb_if_rarewood_text]

[miscc_if_wood_icon_1_1]

[miscc_if_wood_icon2_1]

[miscc_if_wood_icon_1]

[miscc_if_wood_icon2]

[miscb_if_rarewood]

[com_140]

[miscb_if_farm]

[miscb_if_farm_text]

[miscb_if_farm_up]

[miscb_if_farm_down]

[miscb_if_farm_bar1]

[miscb_if_farm_bar2]

[miscb_if_farm_bar3]

[miscb_if_farm_bar4]

[miscb_if_farm_bar5]

[miscb_if_farm_bar6]

[miscb_if_farm_bar7]

[miscb_if_farm_bar8]

[miscb_if_farm_bar9]

[miscb_if_farm_bar10]

[miscb_if_herbs_chooseherb]

[miscb_if_herbs_chooseherbtext]

[miscb_if_herbs_chooseflax]

[miscb_if_herbs_chooseflaxtext]

[miscb_help_1]

[miscb_help_2]

[com_161]

[com_162]

[misc_both_manage_close_button]

