// 225:0
[com_0]
type=model
x=239
y=155
width=32
height=32
model=model_3044
modelzoom=525

// 225:1
[mm_mstitle]
type=text
x=82
y=82
width=354
height=14
textfont=q8_full
textalignh=centre
textshadow=yes

// 225:2
[mm_ms1]
type=text
x=82
y=98
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:3
[mm_ms2]
type=text
x=82
y=114
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:4
[mm_ms3]
type=text
x=82
y=131
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:5
[mm_ms4]
type=text
x=82
y=148
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:6
[mm_ms5]
type=text
x=82
y=165
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:7
[mm_ms6]
type=text
x=82
y=182
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:8
[mm_ms7]
type=text
x=82
y=199
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:9
[mm_ms8]
type=text
x=82
y=216
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:10
[mm_ms9]
type=text
x=82
y=233
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:11
[mm_ms10]
type=text
x=82
y=250
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:12
[mm_ms11]
type=text
x=82
y=267
width=354
height=14
textfont=q8_full
textalignh=centre
colour=0xcccccc

// 225:13
[com_13]
type=graphic
x=444
y=54
width=26
height=23
mouseoverlayer=mm_message_close_button
graphic="close_buttons,2"

// 225:14
[mm_upright]
type=graphic
x=3
y=5
width=26
height=23
layer=mm_message_close_button
mouseoverlayer=mm_message_close_button
buttontype=3
graphic="close_buttons,3"

// 225:15
[mm_message_close_button]
type=layer
x=441
y=49
width=32
height=32
hide=yes

