// 454:0
[myq3_rectangle]
type=rectangle
width=520
height=340
colour=0x000000
fill=yes

// 454:1
[map]
type=layer
width=512
height=334

// 454:2
[scroll_myq3]
type=model
x=234
y=144
width=32
height=32
layer=map
model=model_18141
modelangle=476,0,0
modelzoom=984

// 454:3
[myq3_boat]
type=model
x=234
y=144
width=32
height=32
layer=map
model=model_18142
modelangle=476,0,0
modelzoom=984

