// 223:0
[emote_page_one]
type=layer
width=189
height=261

// 223:1
[peng_emote_shiver]
type=graphic
x=4
y=6
width=48
height=48
layer=emote_page_one
buttontype=1
graphic="peng_emotes,0"
buttontext=Shiver

// 223:2
[peng_emote_spin]
type=graphic
x=48
y=6
width=48
height=48
layer=emote_page_one
buttontype=1
graphic="peng_emotes,1"
buttontext=Spin

// 223:3
[peng_emote_clap]
type=graphic
x=92
y=6
width=48
height=48
layer=emote_page_one
buttontype=1
graphic="peng_emotes,2"
buttontext=Clap

// 223:4
[peng_emote_bow]
type=graphic
x=136
y=6
width=48
height=48
layer=emote_page_one
buttontype=1
graphic="peng_emotes,3"
buttontext=Bow

// 223:5
[peng_emote_cheer]
type=graphic
x=4
y=55
width=48
height=48
layer=emote_page_one
buttontype=1
graphic="peng_emotes,4"
buttontext=Cheer

// 223:6
[peng_emote_wave]
type=graphic
x=48
y=55
width=48
height=48
layer=emote_page_one
buttontype=1
graphic="peng_emotes,5"
buttontext=Wave

// 223:7
[peng_emote_preen]
type=graphic
x=92
y=55
width=48
height=48
layer=emote_page_one
buttontype=1
graphic="peng_emotes,6"
buttontext=Preen

// 223:8
[peng_emote_flap]
type=graphic
x=136
y=55
width=48
height=48
layer=emote_page_one
buttontype=1
graphic="peng_emotes,7"
buttontext=Flap

// 223:9
[com_9]
type=tooltip
x=10
y=6
width=34
height=48
layer=emote_page_one
text=Shiver

// 223:10
[com_10]
type=tooltip
x=55
y=6
width=34
height=48
layer=emote_page_one
text=Spin

// 223:11
[com_11]
type=tooltip
x=99
y=6
width=34
height=48
layer=emote_page_one
text=Clap

// 223:12
[com_12]
type=tooltip
x=143
y=6
width=34
height=48
layer=emote_page_one
text=Bow

// 223:13
[com_13]
type=tooltip
x=11
y=55
width=34
height=48
layer=emote_page_one
text=Cheer

// 223:14
[com_14]
type=tooltip
x=53
y=55
width=34
height=48
layer=emote_page_one
text=Wave

// 223:15
[com_15]
type=tooltip
x=99
y=55
width=34
height=48
layer=emote_page_one
text=Preen

// 223:16
[com_16]
type=tooltip
x=143
y=55
width=34
height=48
layer=emote_page_one
text=Flap

