// 503:0
[book]

// 503:1
[bm1]

// 503:2
[penguin]

// 503:3
[title]

// 503:4
[x_mark]

// 503:5
[bookmacro1_close]

// 503:6
[bookmacro_close_button]

// 503:7
[description01]

// 503:8
[description02]

// 503:9
[description03]

// 503:10
[clockwork_mechanism]

// 503:11
[description04]

// 503:12
[paper_note]

// 503:13
[larry_note]

// 503:14
[paperclip]

// 503:15
[com_15]

// 503:16
[com_16]

