[book]

[bm1]

[penguin]

[title]

[x_mark]

[bookmacro1_close]

[bookmacro_close_button]

[description01]

[description02]

[description03]

[clockwork_mechanism]

[description04]

[paper_note]

[larry_note]

[paperclip]

[com_15]

[com_16]

