// 223:0
[emote_page_one]

// 223:1
[peng_emote_shiver]

// 223:2
[peng_emote_spin]

// 223:3
[peng_emote_clap]

// 223:4
[peng_emote_bow]

// 223:5
[peng_emote_cheer]

// 223:6
[peng_emote_wave]

// 223:7
[peng_emote_preen]

// 223:8
[peng_emote_flap]

// 223:9
[com_9]

// 223:10
[com_10]

// 223:11
[com_11]

// 223:12
[com_12]

// 223:13
[com_13]

// 223:14
[com_14]

// 223:15
[com_15]

// 223:16
[com_16]

