// 393:0
[poh_hangman_letter1]

// 393:1
[poh_hangman_letter2]

// 393:2
[poh_hangman_letter3]

// 393:3
[poh_hangman_letter4]

// 393:4
[poh_hangman_letter5]

// 393:5
[poh_hangman_letter6]

// 393:6
[poh_hangman_letter7]

// 393:7
[poh_hangman_letter8]

// 393:8
[poh_hangman_letter9]

// 393:9
[poh_hangman_letter10]

// 393:10
[poh_hangman_letter11]

// 393:11
[poh_hangman_letter12]

// 393:12
[poh_hangman_letter13]

// 393:13
[poh_hangman_letter14]

// 393:14
[poh_hangman_letter15]

// 393:15
[poh_hangman_letter16]

// 393:16
[poh_hangman_letter17]

// 393:17
[poh_hangman_letter18]

// 393:18
[poh_hangman_letter19]

// 393:19
[poh_hangman_letter20]

// 393:20
[poh_hangman_letter21]

// 393:21
[poh_hangman_letter22]

// 393:22
[poh_hangman_letter23]

// 393:23
[poh_hangman_letter24]

// 393:24
[poh_hangman_letter25]

// 393:25
[poh_hangman_letter26]

// 393:26
[com_26]

// 393:27
[poh_hangman_guessbutton]

// 393:28
[poh_hangman_guessbox]

// 393:29
[poh_hangman_wordbox]

// 393:30
[com_30]

// 393:31
[poh_hangman_guess_instructions_layer]

