// 393:0
[poh_hangman_letter1]
type=text
x=200
y=8
width=9
height=17
buttontype=1
textfont=q8_full
text=A
textactive=A
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:1
[poh_hangman_letter2]
type=text
x=232
y=8
width=11
height=17
buttontype=1
textfont=q8_full
text=B
textactive=B
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:2
[poh_hangman_letter3]
type=text
x=264
y=8
width=10
height=17
buttontype=1
textfont=q8_full
text=C
textactive=C
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:3
[poh_hangman_letter4]
type=text
x=296
y=8
width=13
height=17
buttontype=1
textfont=q8_full
text=D
textactive=D
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:4
[poh_hangman_letter5]
type=text
x=328
y=8
width=12
height=17
buttontype=1
textfont=q8_full
text=E
textactive=E
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:5
[poh_hangman_letter6]
type=text
x=360
y=8
width=10
height=17
buttontype=1
textfont=q8_full
text=F
textactive=F
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:6
[poh_hangman_letter7]
type=text
x=392
y=8
width=11
height=17
buttontype=1
textfont=q8_full
text=G
textactive=G
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:7
[poh_hangman_letter8]
type=text
x=424
y=8
width=12
height=17
buttontype=1
textfont=q8_full
text=H
textactive=H
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:8
[poh_hangman_letter9]
type=text
x=456
y=8
width=7
height=17
buttontype=1
textfont=q8_full
text=I
textactive=I
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:9
[poh_hangman_letter10]
type=text
x=216
y=28
width=8
height=17
buttontype=1
textfont=q8_full
text=J
textactive=J
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:10
[poh_hangman_letter11]
type=text
x=248
y=28
width=12
height=17
buttontype=1
textfont=q8_full
text=K
textactive=K
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:11
[poh_hangman_letter12]
type=text
x=280
y=28
width=9
height=17
buttontype=1
textfont=q8_full
text=L
textactive=L
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:12
[poh_hangman_letter13]
type=text
x=312
y=28
width=15
height=17
buttontype=1
textfont=q8_full
text=M
textactive=M
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:13
[poh_hangman_letter14]
type=text
x=344
y=28
width=14
height=17
buttontype=1
textfont=q8_full
text=N
textactive=N
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:14
[poh_hangman_letter15]
type=text
x=376
y=28
width=12
height=17
buttontype=1
textfont=q8_full
text=O
textactive=O
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:15
[poh_hangman_letter16]
type=text
x=408
y=28
width=12
height=17
buttontype=1
textfont=q8_full
text=P
textactive=P
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:16
[poh_hangman_letter17]
type=text
x=440
y=28
width=12
height=17
buttontype=1
textfont=q8_full
text=Q
textactive=Q
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:17
[poh_hangman_letter18]
type=text
x=200
y=48
width=12
height=17
buttontype=1
textfont=q8_full
text=R
textactive=R
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:18
[poh_hangman_letter19]
type=text
x=232
y=48
width=9
height=17
buttontype=1
textfont=q8_full
text=S
textactive=S
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:19
[poh_hangman_letter20]
type=text
x=264
y=48
width=12
height=17
buttontype=1
textfont=q8_full
text=T
textactive=T
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:20
[poh_hangman_letter21]
type=text
x=296
y=48
width=11
height=17
buttontype=1
textfont=q8_full
text=U
textactive=U
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:21
[poh_hangman_letter22]
type=text
x=328
y=48
width=11
height=17
buttontype=1
textfont=q8_full
text=V
textactive=V
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:22
[poh_hangman_letter23]
type=text
x=360
y=48
width=16
height=17
buttontype=1
textfont=q8_full
text=W
textactive=W
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:23
[poh_hangman_letter24]
type=text
x=392
y=48
width=12
height=17
buttontype=1
textfont=q8_full
text=X
textactive=X
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:24
[poh_hangman_letter25]
type=text
x=424
y=48
width=11
height=17
buttontype=1
textfont=q8_full
text=Y
textactive=Y
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:25
[poh_hangman_letter26]
type=text
x=456
y=48
width=10
height=17
buttontype=1
textfont=q8_full
text=Z
textactive=Z
textshadow=yes
colour=0xccccff
mouseovercolour=0xcc0000

// 393:26
[com_26]
type=graphic
x=405
y=64
width=72
height=36
graphic="combatboxes,2"
graphicactive="combatboxes,3"

// 393:27
[poh_hangman_guessbutton]
type=text
x=407
y=75
width=68
height=14
buttontype=1
textfont=p12_full
text=GUESS
textactive=GUESS
textalignh=centre
textshadow=yes
colour=0xff981f
mouseovercolour=0xcc0000

// 393:28
[poh_hangman_guessbox]
type=text
x=24
y=40
width=4
height=2
buttontype=1
textfont=q8_full
textshadow=yes
colour=0x0000ff

// 393:29
[poh_hangman_wordbox]
type=text
x=24
y=8
width=145
height=17
buttontype=1
textfont=b12_full
text=__________
textactive=__________
textshadow=yes
colour=0x6633ff

// 393:30
[com_30]
type=text
width=465
height=17
layer=poh_hangman_guess_instructions_layer
textfont=p12_full
text=Enter up to five letters in any order then click 'guess' again.
textactive=Enter up to five letters in any order then click 'guess' again.
colour=0x6633ff

// 393:31
[poh_hangman_guess_instructions_layer]
type=layer
y=72
width=406
height=24

