// 440:0
[qip_digsite_rectangle_lv1]
type=rectangle
width=520
height=400
trans=64
colour=0x000000
fill=yes

// 440:1
[qip_digsite_scroll_lv1]
type=model
x=231
y=147
width=32
height=32
model=model_17345
modelangle=456,2041,0
modelzoom=594

// 440:2
[qip_digsite_roset_lv1]
type=model
x=231
y=147
width=32
height=32
model=model_17342
modelangle=456,2041,0
modelzoom=594

// 440:3
[com_3]
type=text
x=154
y=67
width=198
height=17
textfont=b12_full
text=Certificate of Qualification
textactive=Certificate of Qualification
textalignh=centre
colour=0x000000

// 440:4
[com_4]
type=text
x=156
y=87
width=196
height=50
textfont=q8_full
text=Earth Sciences Level 1<br>This is to certify that
textactive=Earth Sciences Level 1<br>This is to certify that
textalignh=centre
colour=0x000000

// 440:5
[examname]
type=text
x=231
y=152
width=47
height=17
textfont=q8_full
text=<name>
textactive=<name>
textalignh=centre
colour=0x000000

// 440:6
[com_6]
type=text
x=161
y=183
width=195
height=34
textfont=q8_full
text=has passed the Level 1<br>Earth Sciences exam.
textactive=has passed the Level 1<br>Earth Sciences exam.
textalignh=centre
colour=0x000000

// 440:7
[com_7]
type=graphic
x=483
y=5
width=26
height=23
mouseoverlayer=digsitecert1_close
graphic="close_buttons,4"

// 440:8
[qip_digsite_close_lv1]
type=graphic
x=4
y=3
width=26
height=23
layer=digsitecert1_close
buttontype=3
graphic="close_buttons,5"

// 440:9
[digsitecert1_close]
type=layer
x=479
y=2
width=32
height=32
hide=yes

