// 479:0
[myq3_castle_sketch_01_black_north]

// 479:1
[qip_watchtower_map]

// 479:2
[com_2]

// 479:3
[myq3_sketch_north_close]

// 479:4
[myq3_castle_sketch_north_close_button]

