// 501:0
[back_ground]

// 501:1
[gun_locker]

// 501:2
[cannon barrel]

// 501:3
[fuse]

// 501:4
[ramrod]

// 501:5
[cannon ball]

// 501:6
[cannon cannister]

// 501:7
[objects]

// 501:8
[cannon_barrel_button]

// 501:9
[fuse_button]

// 501:10
[ramrod_button]

// 501:11
[cannon_ball_button]

// 501:12
[cannon_canister_button]

// 501:13
[cannon_barrel_banner]

// 501:14
[cannon_barrel_scroll]

// 501:15
[cannon_barrel_scroll_text]

// 501:16
[fuse_banner]

// 501:17
[fuse_scroll]

// 501:18
[fuse_scroll_text]

// 501:19
[ramrod_banner]

// 501:20
[ramrod_scroll]

// 501:21
[ramrod_scroll_text]

// 501:22
[cannon_ball_banner]

// 501:23
[cannon_ball_scroll]

// 501:24
[cannon_ball_scroll_text]

// 501:25
[cannon_cannister_banner]

// 501:26
[cannon_cannister_scroll]

// 501:27
[cannon_cannister_text]

// 501:28
[com_28]

// 501:29
[com_29]

// 501:30
[gun_locker_close]

