// 501:0
[back_ground            ]
type=model
x=232
y=144
width=32
height=32
model=model_15711
modelangle=507,2047,0
modelzoom=272

// 501:1
[gun_locker]
type=model
x=221
y=133
width=32
height=32
model=model_21518
modelangle=339,2044,0
modelzoom=400

// 501:2
[cannon barrel]
type=model
x=36
y=54
width=32
height=32
layer=objects
model=model_11135
modelangle=168,2014,0
modelzoom=528

// 501:3
[fuse]
type=model
x=116
y=40
width=32
height=32
layer=objects
model=model_21516
modelangle=237,1777,0
modelzoom=576

// 501:4
[ramrod]
type=model
x=186
y=41
width=32
height=32
layer=objects
model=model_11133
modelangle=234,1582,0
modelzoom=400

// 501:5
[cannon ball]
type=model
x=272
y=52
width=32
height=32
layer=objects
model=model_11132
modelangle=222,1546,0
modelzoom=400

// 501:6
[cannon cannister]
type=model
x=365
y=62
width=32
height=32
layer=objects
model=model_11131
modelangle=264,1933,0
modelzoom=400

// 501:7
[objects]
type=layer
x=30
y=189
width=425
height=110

// 501:8
[cannon_barrel_button]
type=text
x=53
y=219
width=65
height=50
mouseoverlayer=cannon_barrel_banner
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 501:9
[fuse_button]
type=text
x=136
y=215
width=53
height=56
mouseoverlayer=fuse_banner
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 501:10
[ramrod_button]
type=text
x=211
y=223
width=47
height=47
mouseoverlayer=ramrod_banner
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 501:11
[cannon_ball_button]
type=text
x=288
y=214
width=61
height=59
mouseoverlayer=cannon_ball_banner
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 501:12
[cannon_canister_button]
type=text
x=387
y=226
width=50
height=45
mouseoverlayer=cannon_cannister_banner
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00

// 501:13
[cannon_barrel_banner]
type=layer
x=25
y=104
width=149
height=52
hide=yes

// 501:14
[cannon_barrel_scroll]
type=model
x=57
y=4
width=32
height=32
layer=cannon_barrel_banner
model=model_10119
modelangle=492,0,0
modelzoom=1040

// 501:15
[cannon_barrel_scroll_text]
type=text
x=52
y=5
width=32
height=32
layer=cannon_barrel_banner
textfont=q8_full
text=Cannon barrel
textalignh=centre
textalignv=centre
colour=0x000000

// 501:16
[fuse_banner]
type=layer
x=89
y=43
width=148
height=48
hide=yes

// 501:17
[fuse_scroll]
type=model
x=57
y=2
width=32
height=32
layer=fuse_banner
model=model_10119
modelangle=492,0,0
modelzoom=1040

// 501:18
[fuse_scroll_text]
type=text
x=56
y=1
width=32
height=32
layer=fuse_banner
textfont=q8_full
text=Fuse
textalignh=centre
textalignv=centre
colour=0x000000

// 501:19
[ramrod_banner]
type=layer
x=158
y=133
width=150
height=47
hide=yes

// 501:20
[ramrod_scroll]
type=model
x=59
y=3
width=32
height=32
layer=ramrod_banner
model=model_10119
modelangle=492,0,0
modelzoom=1040

// 501:21
[ramrod_scroll_text]
type=text
x=57
y=5
width=32
height=32
layer=ramrod_banner
textfont=q8_full
text=Ramrod
textalignh=centre
textalignv=centre
colour=0x000000

// 501:22
[cannon_ball_banner]
type=layer
x=244
y=80
width=150
height=49
hide=yes

// 501:23
[cannon_ball_scroll]
type=model
x=58
y=5
width=32
height=32
layer=cannon_ball_banner
model=model_10119
modelangle=492,0,0
modelzoom=1040

// 501:24
[cannon_ball_scroll_text]
type=text
x=57
y=5
width=32
height=32
layer=cannon_ball_banner
textfont=q8_full
text=Cannonball
textalignh=centre
textalignv=centre
colour=0x000000

// 501:25
[cannon_cannister_banner]
type=layer
x=347
y=124
width=150
height=51
hide=yes

// 501:26
[cannon_cannister_scroll]
type=model
x=57
y=7
width=32
height=32
layer=cannon_cannister_banner
model=model_10119
modelangle=492,0,0
modelzoom=1040

// 501:27
[cannon_cannister_text]
type=text
x=56
y=5
width=32
height=32
layer=cannon_cannister_banner
textfont=q8_full
text=Cannon cannister
textalignh=centre
textalignv=centre
colour=0x000000

// 501:28
[com_28]
type=graphic
x=462
y=18
width=26
height=23
mouseoverlayer=gun_locker_close
graphic="close_buttons,4"

// 501:29
[com_29]
type=graphic
x=3
y=5
width=26
height=23
layer=gun_locker_close
buttontype=3
graphic="close_buttons,5"

// 501:30
[gun_locker_close]
type=layer
x=459
y=13
width=32
height=32
mouseoverlayer=gun_locker_close
hide=yes

