// 282:0
[ratcatcher_scroll]
type=model
x=254
y=135
width=32
height=32
model=model_4652
modelangle=492,0,0
modelzoom=891

// 282:1
[ratcatcher_big_flute]
type=model
x=26
y=147
width=32
height=32
model=model_10097
modelangle=443,2,0
modelzoom=720

// 282:2
[ratcatcher_mini_flute1]
type=model
x=119
y=102
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:3
[ratcatcher_mini_flute2]
type=model
x=160
y=110
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:4
[ratcatcher_mini_flute3]
type=model
x=202
y=109
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:5
[ratcatcher_mini_flute4]
type=model
x=246
y=101
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:6
[ratcatcher_mini_flute5]
type=model
x=290
y=96
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:7
[ratcatcher_mini_flute6]
type=model
x=335
y=101
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:8
[ratcatcher_mini_flute7]
type=model
x=381
y=106
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:9
[ratcatcher_mini_flute8]
type=model
x=426
y=110
width=32
height=195
model=model_10098
modelangle=512,0,0
modelzoom=400

// 282:10
[rc_flute_pageno]
type=text
x=313
y=35
width=163
height=19
textfont=q8_full
text=Page 1 of 8
textactive=Page 1 of 8
textalignh=centre
colour=0x000000

// 282:11
[rc_flute_up_octave]
type=model
x=138
y=36
width=70
height=60
buttontype=4
model=model_10115
modelactive=model_10116
modelangle=512,0,0
modelzoom=400
buttontext=Raise an Octave.
script=vc_note_current_hi = 1

// 282:12
[rc_flute_d]
type=model
x=119
y=107
width=32
height=195
buttontype=4
model=model_10099
modelactive=model_10100
modelangle=512,0,0
modelzoom=400
buttontext=D
script=vc_fingers_current = 63

// 282:13
[rc_flute_e]
type=model
x=160
y=115
width=32
height=195
buttontype=4
model=model_10101
modelactive=model_10102
modelangle=460,0,0
modelzoom=400
buttontext=E
script=vc_fingers_current = 62

// 282:14
[rc_flute_fsharp]
type=model
x=202
y=114
width=32
height=195
buttontype=4
model=model_10103
modelactive=model_10104
modelangle=460,0,0
modelzoom=400
buttontext=F#
script=vc_fingers_current = 60

// 282:15
[rc_flute_g]
type=model
x=246
y=106
width=32
height=195
buttontype=4
model=model_10105
modelactive=model_10106
modelangle=460,0,0
modelzoom=400
buttontext=G
script=vc_fingers_current = 56

// 282:16
[rc_flute_a]
type=model
x=290
y=101
width=32
height=195
buttontype=4
model=model_10107
modelactive=model_10108
modelangle=460,0,0
modelzoom=400
buttontext=A
script=vc_fingers_current = 48

// 282:17
[rc_flute_b]
type=model
x=335
y=105
width=32
height=195
buttontype=4
model=model_10109
modelactive=model_10110
modelangle=460,0,0
modelzoom=400
buttontext=B
script=vc_fingers_current = 32

// 282:18
[rc_flute_csharp]
type=model
x=381
y=112
width=32
height=195
buttontype=4
model=model_10111
modelactive=model_10112
modelangle=460,0,0
modelzoom=400
buttontext=C#
script=vc_fingers_current = 1

// 282:19
[rc_flute_c]
type=model
x=426
y=115
width=32
height=195
buttontype=4
model=model_10113
modelactive=model_10114
modelangle=460,0,0
modelzoom=400
buttontext=C
script=vc_fingers_current = 24

// 282:20
[rc_flute_play]
type=text
x=208
y=55
width=149
height=21
buttontype=1
textfont=q8_full
text=PLAY
textactive=PLAY
textalignh=centre
textshadow=yes
colour=0xff981f
mouseovercolour=0xff0000
buttontext=Play your tune.

// 282:21
[rc_flute_next_note]
type=model
x=1
y=1
width=40
height=40
layer=rc_flute_next_layer
buttontype=1
model=model_10117
modelactive=model_10118
modelangle=512,0,0
modelzoom=220
buttontext=Next page.

// 282:22
[rc_flute_prev_note]
type=model
x=2
y=1
width=40
height=38
layer=rc_flute_prev_layer
buttontype=1
model=model_10117
modelactive=model_10118
modelangle=522,1024,0
modelzoom=220
buttontext=Previous Page.

// 282:23
[rc_flute_prev_layer]
type=layer
x=358
y=55
width=44
height=42

// 282:24
[rc_flute_next_layer]
type=layer
x=410
y=57
width=44
height=42

// 282:25
[com_25]
type=graphic
x=484
y=4
width=26
height=23
mouseoverlayer=ratcatcher_flute_close
graphic="close_buttons,4"

// 282:26
[ratcatcher_flute_close_window]
type=graphic
x=4
y=5
width=26
height=23
layer=ratcatcher_flute_close
buttontype=3
graphic="close_buttons,5"

// 282:27
[ratcatcher_flute_close]
type=layer
x=480
y=-1
width=32
height=32
hide=yes

