// 280:0
[com_0]

// 280:1
[vc_confirm_yes]

// 280:2
[vc_confirm_no]

// 280:3
[ratcatcher_cat_acceptcopy]

// 280:4
[ratcatcher_cat_declinecopy]

// 280:5
[vc_ratpit_bet_amount]

