// 286:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 286:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 286:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 286:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 286:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 286:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 286:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 286:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 286:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 286:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 286:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 286:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 286:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 286:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 286:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 286:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 286:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 286:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 286:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 286:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 286:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 286:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 286:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 286:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 286:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 286:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 286:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 286:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 286:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 286:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 286:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 286:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 286:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 286:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 286:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 286:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 286:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 286:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 286:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 286:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 286:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 286:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 286:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 286:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 286:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 286:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 286:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 286:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 286:48
[com_48]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 286:49
[com_49]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 286:50
[com_50]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 286:51
[com_51]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 286:52
[com_52]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 286:53
[com_53]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 286:54
[com_54]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 286:55
[com_55]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 286:56
[com_56]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 286:57
[com_57]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 286:58
[com_58]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 286:59
[com_59]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 286:60
[com_60]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 286:61
[com_61]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 286:62
[com_62]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 286:63
[com_63]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 286:64
[com_64]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 286:65
[com_65]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 286:66
[com_66]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 286:67
[com_67]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 286:68
[com_68]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 286:69
[com_69]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 286:70
[com_70]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 286:71
[com_71]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 286:72
[com_72]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 286:73
[com_73]
type=graphic
x=288
y=31
width=36
height=36
graphic="steelborder2,0"

// 286:74
[com_74]
type=graphic
x=324
y=31
width=36
height=36
graphic="steelborder2,0"

// 286:75
[com_75]
type=graphic
x=396
y=31
width=36
height=36
graphic="steelborder2,0"

// 286:76
[com_76]
type=graphic
x=252
y=31
width=36
height=36
graphic="steelborder2,0"

// 286:77
[com_77]
type=graphic
x=432
y=31
width=36
height=36
graphic="steelborder2,0"

// 286:78
[com_78]
type=graphic
x=458
y=31
width=36
height=36
graphic="steelborder2,0"

// 286:79
[com_79]
type=graphic
x=216
y=31
width=36
height=36
graphic="steelborder2,0"

// 286:80
[com_80]
type=graphic
x=180
y=31
width=36
height=36
graphic="steelborder2,0"

// 286:81
[com_81]
type=graphic
x=144
y=31
width=36
height=36
graphic="steelborder2,0"

// 286:82
[com_82]
type=graphic
x=108
y=31
width=36
height=36
graphic="steelborder2,0"

// 286:83
[com_83]
type=graphic
x=72
y=31
width=36
height=36
graphic="steelborder2,0"

// 286:84
[com_84]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 286:85
[com_85]
type=graphic
x=47
y=31
width=36
height=36
graphic="steelborder2,0"

// 286:86
[com_86]
type=graphic
x=360
y=31
width=36
height=36
graphic="steelborder2,0"

// 286:87
[com_87]
type=graphic
x=18
y=31
width=36
height=36
graphic="steelborder2,0"

// 286:88
[com_88]
type=text
x=112
y=28
width=303
height=15
textfont=p12_full
text=Fractional still
textalignh=centre
textshadow=yes
colour=0xff981f

// 286:89
[com_89]
type=model
x=408
y=120
width=32
height=32
model=model_3892
modelangle=512,0,0
modelzoom=500

// 286:90
[com_90]
type=text
x=410
y=103
width=26
height=14
textfont=p12_full
text=Heat
textalignh=centre
colour=0x000000

// 286:91
[com_91]
type=model
x=72
y=120
width=32
height=32
model=model_3892
modelangle=512,0,0
modelzoom=500

// 286:92
[com_92]
type=text
x=63
y=103
width=52
height=14
textfont=p12_full
text=Pressure
textalignh=centre
colour=0x000000

// 286:93
[com_93]
type=model
x=72
y=120
width=32
height=32
model=model_3895
modelangle=512,1536,0
modelzoom=400
script=testbit(regicide_still_settings, 0) = 0

// 286:94
[com_94]
type=model
x=72
y=120
width=32
height=32
model=model_3895
modelangle=512,1664,0
modelzoom=400
script=testbit(regicide_still_settings, 1) = 0

// 286:95
[com_95]
type=model
x=72
y=120
width=32
height=32
model=model_3895
modelangle=512,1792,0
modelzoom=400
script=testbit(regicide_still_settings, 2) = 0

// 286:96
[com_96]
type=model
x=72
y=120
width=32
height=32
model=model_3895
modelangle=512,1920,0
modelzoom=400
script=testbit(regicide_still_settings, 3) = 0

// 286:97
[com_97]
type=model
x=72
y=120
width=32
height=32
model=model_3895
modelangle=512,0,0
modelzoom=400
script=testbit(regicide_still_settings, 4) = 0

// 286:98
[com_98]
type=model
x=72
y=120
width=32
height=32
model=model_3895
modelangle=512,128,0
modelzoom=400
script=testbit(regicide_still_settings, 5) = 0

// 286:99
[com_99]
type=model
x=72
y=120
width=32
height=32
model=model_3895
modelangle=512,256,0
modelzoom=400
script=testbit(regicide_still_settings, 6) = 0

// 286:100
[com_100]
type=model
x=72
y=120
width=32
height=32
model=model_3895
modelangle=512,384,0
modelzoom=400
script=testbit(regicide_still_settings, 7) = 0

// 286:101
[com_101]
type=model
x=72
y=120
width=32
height=32
model=model_3895
modelangle=512,512,0
modelzoom=400
script=testbit(regicide_still_settings, 8) = 0

// 286:102
[com_102]
type=model
x=72
y=120
width=32
height=32
model=model_3895
modelangle=512,640,0
modelzoom=400
script=testbit(regicide_still_settings, 9) = 0

// 286:103
[com_103]
type=model
x=72
y=120
width=32
height=32
model=model_3895
modelangle=512,768,0
modelzoom=400
script=testbit(regicide_still_settings, 10) = 0

// 286:104
[com_104]
type=model
x=72
y=120
width=32
height=32
model=model_3895
modelangle=512,896,0
modelzoom=400
script=testbit(regicide_still_settings, 11) = 0

// 286:105
[com_105]
type=model
x=72
y=120
width=32
height=32
model=model_3895
modelangle=512,1024,0
modelzoom=400
script=testbit(regicide_still_settings, 12) = 0

// 286:106
[com_106]
type=model
x=408
y=120
width=32
height=32
model=model_3895
modelangle=512,1536,0
modelzoom=400
script=testbit(regicide_still_settings, 13) = 0

// 286:107
[com_107]
type=model
x=408
y=120
width=32
height=32
model=model_3895
modelangle=512,1664,0
modelzoom=400
script=testbit(regicide_still_settings, 14) = 0

// 286:108
[com_108]
type=model
x=408
y=120
width=32
height=32
model=model_3895
modelangle=512,1792,0
modelzoom=400
script=testbit(regicide_still_settings, 15) = 0

// 286:109
[com_109]
type=model
x=408
y=120
width=32
height=32
model=model_3895
modelangle=512,1920,0
modelzoom=400
script=testbit(regicide_still_settings, 16) = 0

// 286:110
[com_110]
type=model
x=408
y=120
width=32
height=32
model=model_3895
modelangle=512,0,0
modelzoom=400
script=testbit(regicide_still_settings, 17) = 0

// 286:111
[com_111]
type=model
x=408
y=120
width=32
height=32
model=model_3895
modelangle=512,128,0
modelzoom=400
script=testbit(regicide_still_settings, 18) = 0

// 286:112
[com_112]
type=model
x=408
y=120
width=32
height=32
model=model_3895
modelangle=512,256,0
modelzoom=400
script=testbit(regicide_still_settings, 19) = 0

// 286:113
[com_113]
type=model
x=408
y=120
width=32
height=32
model=model_3895
modelangle=512,384,0
modelzoom=400
script=testbit(regicide_still_settings, 20) = 0

// 286:114
[com_114]
type=model
x=408
y=120
width=32
height=32
model=model_3895
modelangle=512,512,0
modelzoom=400
script=testbit(regicide_still_settings, 21) = 0

// 286:115
[com_115]
type=model
x=408
y=120
width=32
height=32
model=model_3895
modelangle=512,640,0
modelzoom=400
script=testbit(regicide_still_settings, 22) = 0

// 286:116
[com_116]
type=model
x=408
y=120
width=32
height=32
model=model_3895
modelangle=512,768,0
modelzoom=400
script=testbit(regicide_still_settings, 23) = 0

// 286:117
[com_117]
type=model
x=408
y=120
width=32
height=32
model=model_3895
modelangle=512,896,0
modelzoom=400
script=testbit(regicide_still_settings, 24) = 0

// 286:118
[com_118]
type=model
x=408
y=120
width=32
height=32
model=model_3895
modelangle=512,1024,0
modelzoom=400
script=testbit(regicide_still_settings, 25) = 0

// 286:119
[regicide_add_coal]
type=model
x=190
y=120
width=150
height=100
buttontype=1
model=model_3893
modelangle=512,0,0
modelzoom=600
buttontext=Click this to add coal.

// 286:120
[com_120]
type=text
x=205
y=130
width=117
height=15
textfont=p12_full
text=Add Coal
textalignh=centre
colour=0x000000

// 286:121
[com_121]
type=model
x=72
y=240
width=32
height=32
model=null
modelactive=model_3896
modelangle=512,1024,0
modelzoom=1000
script=testbit(regicide_still_settings, 26) = 1

// 286:122
[com_122]
type=model
x=72
y=240
width=32
height=32
model=null
modelactive=model_3896
modelangle=512,1536,0
modelzoom=1000
script=testbit(regicide_still_settings, 27) = 1

// 286:123
[com_123]
type=model
x=72
y=240
width=32
height=32
model=null
modelactive=model_3896
modelangle=512,0,0
modelzoom=1000
script=testbit(regicide_still_settings, 28) = 1

// 286:124
[com_124]
type=model
x=408
y=240
width=32
height=32
model=null
modelactive=model_3896
modelangle=512,1024,0
modelzoom=1000
script=testbit(regicide_still_settings, 29) = 1

// 286:125
[com_125]
type=model
x=408
y=240
width=32
height=32
model=null
modelactive=model_3896
modelangle=512,1536,0
modelzoom=1000
script=testbit(regicide_still_settings, 30) = 1

// 286:126
[com_126]
type=model
x=408
y=240
width=32
height=32
model=null
modelactive=model_3896
modelangle=512,0,0
modelzoom=1000
script=testbit(regicide_still_settings, 31) = 1

// 286:127
[com_127]
type=model
x=240
y=252
width=32
height=32
model=model_3894
modelangle=512,512,0
modelzoom=400

// 286:128
[regicide_pressure_valve_down]
type=text
x=56
y=224
width=32
height=65
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Turn pressure valve down

// 286:129
[regicide_pressure_valve_up]
type=text
x=88
y=224
width=32
height=65
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Turn pressure valve up

// 286:130
[regicide_tar_valve_down]
type=text
x=391
y=224
width=32
height=65
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Turn tar flow valve down

// 286:131
[regicide_tar_valve_up]
type=text
x=423
y=224
width=32
height=65
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Turn tar valve up

// 286:132
[com_132]
type=rectangle
x=172
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 0

// 286:133
[com_133]
type=rectangle
x=179
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 1

// 286:134
[com_134]
type=rectangle
x=186
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 2

// 286:135
[com_135]
type=rectangle
x=193
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 3

// 286:136
[com_136]
type=rectangle
x=200
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 4

// 286:137
[com_137]
type=rectangle
x=207
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 5

// 286:138
[com_138]
type=rectangle
x=214
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 6

// 286:139
[com_139]
type=rectangle
x=221
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 7

// 286:140
[com_140]
type=rectangle
x=228
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 8

// 286:141
[com_141]
type=rectangle
x=235
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 9

// 286:142
[com_142]
type=rectangle
x=242
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 10

// 286:143
[com_143]
type=rectangle
x=249
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 11

// 286:144
[com_144]
type=rectangle
x=256
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 12

// 286:145
[com_145]
type=rectangle
x=263
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 13

// 286:146
[com_146]
type=rectangle
x=270
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 14

// 286:147
[com_147]
type=rectangle
x=277
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 15

// 286:148
[com_148]
type=rectangle
x=284
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 16

// 286:149
[com_149]
type=rectangle
x=291
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 17

// 286:150
[com_150]
type=rectangle
x=298
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 18

// 286:151
[com_151]
type=rectangle
x=305
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 19

// 286:152
[com_152]
type=rectangle
x=312
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 20

// 286:153
[com_153]
type=rectangle
x=319
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 21

// 286:154
[com_154]
type=rectangle
x=326
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 22

// 286:155
[com_155]
type=rectangle
x=333
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 23

// 286:156
[com_156]
type=rectangle
x=340
y=265
width=7
height=7
colour=0x000000
colouractive=0x00ff00
mouseovercolouractive=0x00ff00
fill=yes
script=regicide_still_total > 24

// 286:157
[com_157]
type=text
x=364
y=289
width=118
height=13
textfont=p12_full
text=Tar regulator
textalignh=centre
colour=0x000000

// 286:158
[com_158]
type=text
x=20
y=290
width=139
height=16
textfont=p12_full
text=Pressure valve
textalignh=centre
colour=0x000000

// 286:159
[com_159]
type=rectangle
x=86
y=212
width=4
height=12
colour=0x000000
fill=yes

// 286:160
[com_160]
type=text
x=145
y=294
width=235
height=15
textfont=b12_full
text=Total distilled
textalignh=centre
colour=0x000000

// 286:161
[com_161]
type=rectangle
x=121
y=254
width=12
height=4
colour=0x000000
fill=yes

// 286:162
[com_162]
type=rectangle
x=43
y=254
width=12
height=4
colour=0x000000
fill=yes

// 286:163
[com_163]
type=rectangle
x=379
y=254
width=12
height=4
colour=0x000000
fill=yes

// 286:164
[com_164]
type=rectangle
x=422
y=212
width=4
height=12
colour=0x000000
fill=yes

// 286:165
[com_165]
type=rectangle
x=457
y=254
width=12
height=4
colour=0x000000
fill=yes

// 286:166
[com_166]
type=graphic
x=473
y=24
width=26
height=23
mouseoverlayer=reg_close
graphic="close_buttons,0"

// 286:167
[regicide_still_close]
type=graphic
x=4
y=5
width=26
height=23
layer=reg_close
buttontype=3
graphic="close_buttons,1"

// 286:168
[reg_close]
type=layer
x=469
y=19
width=32
height=32
hide=yes

