// 427:0
[com_0]
type=model
x=238
y=168
width=46
height=32
model=model_9853
modelangle=490,0,0
modelzoom=800

// 427:1
[messagescroll1_gf]
type=text
x=81
y=89
width=344
height=17
textfont=q8_full
text=I (insert full name here) do hereby swear fealty   
textalignh=centre
colour=0x362407

// 427:2
[messagescroll2_gf]
type=text
x=82
y=113
width=344
height=17
textfont=q8_full
text=and indebtedness to the Fairy Godfather until
textalignh=centre
colour=0x362407

// 427:3
[messagescroll3_gf]
type=text
x=82
y=137
width=295
height=17
textfont=q8_full
text=such time as he releases me from my bond.
textalignh=centre
colour=0x362407

// 427:4
[messagescroll4_gf]
type=text
x=82
y=160
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 427:5
[messagescroll5_gf]
type=text
x=82
y=182
width=44
height=17
textfont=q8_full
text=Signed
textalignh=centre
colour=0x362407

// 427:6
[messagescroll6_gf]
type=text
x=82
y=204
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 427:7
[messagescroll7_gf]
type=text
x=82
y=226
width=214
height=17
textfont=q8_full
text=(insert full name and date here)
textalignh=centre
colour=0x362407

// 427:8
[messagescroll8_gf]
type=text
x=82
y=249
width=340
height=16
textfont=q8_full
textalignh=centre
colour=0x362407

// 427:9
[com_9]
type=graphic
x=421
y=52
width=26
height=23
mouseoverlayer=scroll_godfather_close
graphic="close_buttons,2"

// 427:10
[com_10]
type=graphic
x=4
y=4
width=26
height=23
layer=scroll_godfather_close
buttontype=3
graphic="close_buttons,3"

// 427:11
[scroll_godfather_close]
type=layer
x=417
y=48
width=32
height=32
hide=yes

