// 427:0
[com_0]

// 427:1
[messagescroll1_gf]

// 427:2
[messagescroll2_gf]

// 427:3
[messagescroll3_gf]

// 427:4
[messagescroll4_gf]

// 427:5
[messagescroll5_gf]

// 427:6
[messagescroll6_gf]

// 427:7
[messagescroll7_gf]

// 427:8
[messagescroll8_gf]

// 427:9
[com_9]

// 427:10
[com_10]

// 427:11
[scroll_godfather_close]

