// 461:0
[com_0]
type=rectangle
width=581
height=402
trans=42
colour=0x39391f
colouractive=0x39391f
mouseovercolour=0x39391f
mouseovercolouractive=0x39391f
fill=yes

// 461:1
[seaslug_map_model]
type=model
x=234
y=137
width=32
height=32
model=model_18428
modelangle=318,3,0
modelzoom=1070

// 461:2
[seaslug_boat_witchaven_to_fishpier]
type=model
x=235
y=138
width=32
height=32
layer=seaslug_witchhaven_to_fishingpier_layer
model=model_18429
modelangle=318,3,0
modelzoom=1070
modelanim=seaslug_witchaven_to_fishing_platform

// 461:3
[seaslug_boat_fishpier_to_witchhaven]
type=model
x=235
y=138
width=32
height=32
layer=seaslug_fishpier_to_witchhaven_layer
model=model_18429
modelangle=318,3,0
modelzoom=1070
modelanim=seaslug_fishing_platform_to_witchaven

// 461:4
[seaslug_boat_fishpier_to_isle]
type=model
x=235
y=138
width=32
height=32
layer=seaslug_fishpier_to_isle_layer
model=model_18429
modelangle=318,3,0
modelzoom=1070
modelanim=seaslug_fishing_platform_to_island

// 461:5
[seaslug_boat_isle_to_fishpier]
type=model
x=235
y=138
width=32
height=32
layer=seaslug_isle_to_fishpier_layer
model=model_18429
modelangle=318,3,0
modelzoom=1070
modelanim=seaslug_island_to_fishing_platform

// 461:6
[seaslug_boat_witchhaven_to_isle]
type=model
x=35
y=35
width=32
height=32
layer=seaslug_boat_witchhaven_to_isle_layer
model=model_18429
modelzoom=400
modelanim=seaslug_witchhaven_to_isle

// 461:7
[seaslug_island]
type=text
x=293
y=50
width=129
height=14
textfont=p12_full
text=Island
textactive=Island
textalignh=centre
textshadow=yes
colour=0x9a9a49

// 461:8
[seaslug_witchaven]
type=text
x=64
y=229
width=140
height=13
textfont=p12_full
text=Witchaven
textactive=Witchaven
textalignh=centre
textshadow=yes
colour=0x9a9a49

// 461:9
[seaslug_fishing_platform]
type=text
x=313
y=146
width=167
height=15
textfont=p12_full
text=Fishing Platform
textactive=Fishing Platform
textalignh=centre
textshadow=yes
colour=0x9a9a49

// 461:10
[seaslug_witchhaven_to_fishingpier_layer]
type=layer
x=-1
y=-1
width=512
height=334
hide=yes

// 461:11
[seaslug_fishpier_to_witchhaven_layer]
type=layer
x=-1
y=-1
width=512
height=334
hide=yes

// 461:12
[seaslug_fishpier_to_isle_layer]
type=layer
x=-1
y=-1
width=512
height=334
hide=yes

// 461:13
[seaslug_isle_to_fishpier_layer]
type=layer
x=-1
y=-1
width=512
height=334
hide=yes

// 461:14
[seaslug_boat_witchhaven_to_isle_layer]
type=layer
x=-1
y=-1
width=512
height=334
hide=yes

