// 324:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 324:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 324:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 324:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 324:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 324:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 324:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 324:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 324:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 324:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 324:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 324:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 324:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 324:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 324:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 324:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 324:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 324:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 324:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 324:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 324:20
[com_20]
type=graphic
x=276
y=259
width=88
height=60
graphic=tradebacking

// 324:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 324:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 324:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 324:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 324:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 324:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 324:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 324:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 324:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 324:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 324:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 324:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 324:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 324:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 324:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 324:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 324:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 324:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 324:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 324:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 324:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 324:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 324:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 324:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 324:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 324:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 324:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 324:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 324:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 324:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 324:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 324:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 324:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 324:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 324:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 324:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 324:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 324:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 324:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 324:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 324:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 324:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 324:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 324:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 324:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 324:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 324:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 324:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 324:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 324:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 324:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 324:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 324:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 324:74
[com_74]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 324:75
[com_75]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 324:76
[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 324:77
[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 324:78
[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 324:79
[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 324:80
[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 324:81
[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 324:82
[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 324:83
[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 324:84
[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 324:85
[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 324:86
[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 324:87
[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 324:88
[com_88]
type=text
x=15
y=25
width=477
height=24
textfont=b12_full
text=What hides would you like tanning?
textactive=What hides would you like tanning?
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xff981f

// 324:89
[com_89]
type=graphic
x=472
y=25
width=23
height=23
mouseoverlayer=tanning_close_button_layer
graphic="close_buttons,0"

// 324:90
[com_90]
type=graphic
x=7
y=3
width=23
height=23
layer=tanning_close_button_layer
buttontype=3
graphic="close_buttons,1"

// 324:91
[tanning_close_button_layer]
type=layer
x=465
y=22
width=32
height=32
hide=yes

// 324:92
[tanning_a]
type=layer
x=40
y=56
width=96
height=128

// 324:93
[tanning_b]
type=layer
x=152
y=56
width=96
height=128

// 324:94
[tanning_c]
type=layer
x=264
y=56
width=96
height=128

// 324:95
[tanning_d]
type=layer
x=376
y=56
width=96
height=128

// 324:96
[tanning_e]
type=layer
x=40
y=184
width=96
height=128

// 324:97
[tanning_f]
type=layer
x=152
y=184
width=96
height=128

// 324:98
[tanning_g]
type=layer
x=264
y=184
width=96
height=128

// 324:99
[tanning_h]
type=layer
x=369
y=184
width=115
height=128

// 324:100
[tanning_a_model]
type=model
width=96
height=96
layer=tanning_a
model=null
modelzoom=400

// 324:101
[tanning_b_model]
type=model
width=96
height=96
layer=tanning_b
model=null
modelzoom=400

// 324:102
[tanning_c_model]
type=model
width=96
height=96
layer=tanning_c
model=null
modelzoom=400

// 324:103
[tanning_d_model]
type=model
width=96
height=96
layer=tanning_d
model=null
modelzoom=400

// 324:104
[tanning_e_model]
type=model
width=96
height=96
layer=tanning_e
model=null
modelzoom=400

// 324:105
[tanning_f_model]
type=model
width=96
height=96
layer=tanning_f
model=null
modelzoom=400

// 324:106
[tanning_g_model]
type=model
width=96
height=96
layer=tanning_g
model=null
modelzoom=400

// 324:107
[tanning_h_model]
type=model
x=7
width=96
height=96
layer=tanning_h
model=null
modelzoom=400

// 324:108
[tanning_a_text]
type=text
y=96
width=96
height=14
layer=tanning_a
textfont=p11_full
text=Hide
textactive=Hide
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:109
[tanning_b_text]
type=text
y=96
width=96
height=14
layer=tanning_b
textfont=p11_full
text=Hide
textactive=Hide
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:110
[tanning_c_text]
type=text
y=96
width=96
height=14
layer=tanning_c
textfont=p11_full
text=Hide
textactive=Hide
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:111
[tanning_d_text]
type=text
y=96
width=96
height=14
layer=tanning_d
textfont=p11_full
text=Hide
textactive=Hide
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:112
[tanning_e_text]
type=text
y=96
width=96
height=14
layer=tanning_e
textfont=p11_full
text=Hide
textactive=Hide
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:113
[tanning_f_text]
type=text
y=96
width=96
height=14
layer=tanning_f
textfont=p11_full
text=Hide
textactive=Hide
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:114
[tanning_g_text]
type=text
y=96
width=96
height=14
layer=tanning_g
textfont=p11_full
text=Hide
textactive=Hide
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:115
[tanning_h_text]
type=text
x=7
y=96
width=96
height=14
layer=tanning_h
textfont=p11_full
text=Hide
textactive=Hide
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:116
[tanning_a_price]
type=text
y=111
width=96
height=14
layer=tanning_a
textfont=p11_full
text=Cost
textactive=Cost
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:117
[tanning_b_price]
type=text
y=111
width=96
height=14
layer=tanning_b
textfont=p11_full
text=Cost
textactive=Cost
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:118
[tanning_c_price]
type=text
y=111
width=96
height=14
layer=tanning_c
textfont=p11_full
text=Cost
textactive=Cost
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:119
[tanning_d_price]
type=text
y=111
width=96
height=14
layer=tanning_d
textfont=p11_full
text=Cost
textactive=Cost
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:120
[tanning_e_price]
type=text
y=111
width=96
height=14
layer=tanning_e
textfont=p11_full
text=Cost
textactive=Cost
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:121
[tanning_f_price]
type=text
y=111
width=96
height=14
layer=tanning_f
textfont=p11_full
text=Cost
textactive=Cost
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:122
[tanning_g_price]
type=text
y=111
width=96
height=14
layer=tanning_g
textfont=p11_full
text=Cost
textactive=Cost
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:123
[tanning_h_price]
type=text
x=7
y=111
width=96
height=14
layer=tanning_h
textfont=p11_full
text=Cost
textactive=Cost
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x00cfff

// 324:124
[tanning_a_all]
type=text
width=96
height=112
layer=tanning_a
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>All

// 324:125
[tanning_b_all]
type=text
width=96
height=112
layer=tanning_b
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>All

// 324:126
[tanning_c_all]
type=text
width=96
height=112
layer=tanning_c
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>All

// 324:127
[tanning_d_all]
type=text
width=96
height=112
layer=tanning_d
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>All

// 324:128
[tanning_e_all]
type=text
width=96
height=112
layer=tanning_e
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>All

// 324:129
[tanning_f_all]
type=text
width=96
height=112
layer=tanning_f
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>All

// 324:130
[tanning_g_all]
type=text
width=96
height=112
layer=tanning_g
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>All

// 324:131
[tanning_h_all]
type=text
x=7
width=96
height=112
layer=tanning_h
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>All

// 324:132
[tanning_a_x]
type=text
width=96
height=112
layer=tanning_a
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>X

// 324:133
[tanning_b_x]
type=text
width=96
height=112
layer=tanning_b
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>X

// 324:134
[tanning_c_x]
type=text
width=96
height=112
layer=tanning_c
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>X

// 324:135
[tanning_d_x]
type=text
width=96
height=112
layer=tanning_d
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>X

// 324:136
[tanning_e_x]
type=text
width=96
height=112
layer=tanning_e
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>X

// 324:137
[tanning_f_x]
type=text
width=96
height=112
layer=tanning_f
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>X

// 324:138
[tanning_g_x]
type=text
width=96
height=112
layer=tanning_g
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>X

// 324:139
[tanning_h_x]
type=text
x=7
width=96
height=112
layer=tanning_h
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>X

// 324:140
[tanning_a_5]
type=text
width=96
height=112
layer=tanning_a
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>5

// 324:141
[tanning_b_5]
type=text
width=96
height=112
layer=tanning_b
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>5

// 324:142
[tanning_c_5]
type=text
width=96
height=112
layer=tanning_c
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>5

// 324:143
[tanning_d_5]
type=text
width=96
height=112
layer=tanning_d
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>5

// 324:144
[tanning_e_5]
type=text
width=96
height=112
layer=tanning_e
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>5

// 324:145
[tanning_f_5]
type=text
width=96
height=112
layer=tanning_f
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>5

// 324:146
[tanning_g_5]
type=text
width=96
height=112
layer=tanning_g
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>5

// 324:147
[tanning_h_5]
type=text
x=7
width=96
height=112
layer=tanning_h
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>5

// 324:148
[tanning_a_1]
type=text
width=96
height=112
layer=tanning_a
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>1

// 324:149
[tanning_b_1]
type=text
width=96
height=112
layer=tanning_b
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>1

// 324:150
[tanning_c_1]
type=text
width=96
height=112
layer=tanning_c
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>1

// 324:151
[tanning_d_1]
type=text
width=96
height=112
layer=tanning_d
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>1

// 324:152
[tanning_e_1]
type=text
width=96
height=112
layer=tanning_e
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>1

// 324:153
[tanning_f_1]
type=text
width=96
height=112
layer=tanning_f
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>1

// 324:154
[tanning_g_1]
type=text
width=96
height=112
layer=tanning_g
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>1

// 324:155
[tanning_h_1]
type=text
x=7
width=96
height=112
layer=tanning_h
buttontype=1
textfont=p11_full
colour=0xffff00
buttontext=Tan <col=ff7000>1

