// 325:0
[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

// 325:1
[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

// 325:2
[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

// 325:3
[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

// 325:4
[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

// 325:5
[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

// 325:6
[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

// 325:7
[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

// 325:8
[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

// 325:9
[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

// 325:10
[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

// 325:11
[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

// 325:12
[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

// 325:13
[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

// 325:14
[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

// 325:15
[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

// 325:16
[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

// 325:17
[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

// 325:18
[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

// 325:19
[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

// 325:20
[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

// 325:21
[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

// 325:22
[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

// 325:23
[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

// 325:24
[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

// 325:25
[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

// 325:26
[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

// 325:27
[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

// 325:28
[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

// 325:29
[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

// 325:30
[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

// 325:31
[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

// 325:32
[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

// 325:33
[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

// 325:34
[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

// 325:35
[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

// 325:36
[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

// 325:37
[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

// 325:38
[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

// 325:39
[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

// 325:40
[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

// 325:41
[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

// 325:42
[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

// 325:43
[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

// 325:44
[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

// 325:45
[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

// 325:46
[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

// 325:47
[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

// 325:48
[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

// 325:49
[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

// 325:50
[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

// 325:51
[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

// 325:52
[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

// 325:53
[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

// 325:54
[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

// 325:55
[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

// 325:56
[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

// 325:57
[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

// 325:58
[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

// 325:59
[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

// 325:60
[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

// 325:61
[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

// 325:62
[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

// 325:63
[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

// 325:64
[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

// 325:65
[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

// 325:66
[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

// 325:67
[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

// 325:68
[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

// 325:69
[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

// 325:70
[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

// 325:71
[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

// 325:72
[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

// 325:73
[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

// 325:74
[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

// 325:75
[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

// 325:76
[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

// 325:77
[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

// 325:78
[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

// 325:79
[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

// 325:80
[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

// 325:81
[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

// 325:82
[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

// 325:83
[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

// 325:84
[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

// 325:85
[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

// 325:86
[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

// 325:87
[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

// 325:88
[com_88]
type=graphic
x=471
y=26
width=23
height=23
mouseoverlayer=dart_close_button
graphic="close_buttons,0"

// 325:89
[com_89]
type=graphic
x=6
y=4
width=23
height=23
layer=dart_close_button
buttontype=3
graphic="close_buttons,1"

// 325:90
[dart_close_button]
type=layer
x=465
y=22
width=32
height=32
hide=yes

// 325:91
[com_91]
type=model
x=244
y=296
width=32
height=32
model=model_10369
modelangle=97,0,0
modelzoom=360

// 325:92
[dart_bull]
type=model
x=253
y=172
width=25
height=25
model=model_1105
modelactive=model_5732
modelangle=100,150,0
modelzoom=400
script=targethit = 0

// 325:93
[com_93]
type=text
x=143
y=25
width=240
height=24
textfont=b12_full
text=Target View
textactive=Target View
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffaa44

// 325:94
[com_94]
type=model
x=60
y=114
width=25
height=25
model=null
modelactive=model_5733
modelangle=150,1200,0
modelzoom=800
script=targetcount < 11

// 325:95
[dart_1]
type=model
x=256
y=131
width=25
height=25
model=model_1105
modelactive=model_5732
modelangle=100,150,0
modelzoom=400
script=targethit = 1

// 325:96
[dart_4]
type=model
x=290
y=193
width=25
height=25
model=model_1105
modelactive=model_5732
modelangle=100,150,0
modelzoom=400
script=targethit = 4

// 325:97
[dart_6]
type=model
x=247
y=233
width=25
height=25
model=model_1105
modelactive=model_5732
modelangle=100,150,0
modelzoom=400
script=targethit = 6

// 325:98
[dart_5]
type=model
x=193
y=189
width=25
height=25
model=model_1105
modelactive=model_5732
modelangle=100,150,0
modelzoom=400
script=targethit = 5

// 325:99
[dart_9]
type=model
x=191
y=90
width=25
height=25
model=model_1105
modelactive=model_5732
modelangle=100,150,0
modelzoom=400
script=targethit = 9

// 325:100
[dart_3]
type=model
x=215
y=126
width=25
height=25
model=model_1105
modelactive=model_5732
modelangle=100,150,0
modelzoom=400
script=targethit = 3

// 325:101
[dart_8]
type=model
x=298
y=101
width=25
height=25
model=model_1105
modelactive=model_5732
modelangle=100,150,0
modelzoom=400
script=targethit = 8

// 325:102
[dart_2]
type=model
x=294
y=144
width=25
height=25
model=model_1105
modelactive=model_5732
modelangle=100,150,0
modelzoom=400
script=targethit = 2

// 325:103
[dart_7]
type=model
x=328
y=163
width=25
height=25
model=model_1105
modelactive=model_5732
modelangle=100,150,0
modelzoom=400
script=targethit = 7

// 325:104
[dart_10]
type=model
x=275
y=61
width=25
height=25
model=model_1105
modelactive=model_5732
modelangle=100,150,0
modelzoom=400
script=targethit = 10

// 325:105
[com_105]
type=text
x=19
y=86
width=67
height=15
textfont=p12_full
text=Shots
textactive=Shots
textalignh=right
textshadow=yes
colour=0xffaa44

// 325:106
[com_106]
type=text
x=387
y=147
width=79
height=17
textfont=p12_full
text=Score:
textactive=Score:
textalignh=centre
textshadow=yes
colour=0xffaa44

// 325:107
[score_text]
type=text
x=420
y=169
width=17
height=14
textfont=p12_full
text=%1
textactive=%1
textalignh=centre
textshadow=yes
colour=0x00ff99
script0=targetscore

// 325:108
[com_108]
type=text
x=90
y=86
width=63
height=15
textfont=p12_full
text=Left:
textactive=Left:
textshadow=yes
colour=0xffaa44

// 325:109
[com_109]
type=text
x=158
y=156
width=14
height=14
textfont=p12_full
text=10
textactive=10
textshadow=yes
colour=0x00ff99

// 325:110
[com_110]
type=text
x=183
y=156
width=16
height=14
textfont=p12_full
text=20
textactive=20
textshadow=yes
colour=0x00ccff

// 325:111
[com_111]
type=text
x=207
y=156
width=15
height=14
textfont=p12_full
text=30
textactive=30
textshadow=yes
colour=0x00cc00

// 325:112
[com_112]
type=text
x=231
y=156
width=15
height=14
textfont=p12_full
text=50
textactive=50
textshadow=yes
colour=0x0088ff

// 325:113
[com_113]
type=model
x=90
y=114
width=25
height=25
model=null
modelactive=model_5733
modelangle=150,1200,0
modelzoom=800
script=targetcount < 10

// 325:114
[com_114]
type=text
x=251
y=156
width=22
height=14
textfont=p12_full
text=100
textactive=100
textshadow=yes
colour=0xff0000

// 325:115
[com_115]
type=model
x=60
y=145
width=25
height=25
model=null
modelactive=model_5733
modelangle=150,1200,0
modelzoom=800
script=targetcount < 9

// 325:116
[com_116]
type=model
x=90
y=145
width=25
height=25
model=null
modelactive=model_5733
modelangle=150,1200,0
modelzoom=800
script=targetcount < 8

// 325:117
[com_117]
type=model
x=60
y=175
width=25
height=25
model=null
modelactive=model_5733
modelangle=150,1200,0
modelzoom=800
script=targetcount < 7

// 325:118
[com_118]
type=model
x=90
y=175
width=25
height=25
model=null
modelactive=model_5733
modelangle=150,1200,0
modelzoom=800
script=targetcount < 6

// 325:119
[com_119]
type=model
x=60
y=205
width=25
height=25
model=null
modelactive=model_5733
modelangle=150,1200,0
modelzoom=800
script=targetcount < 5

// 325:120
[com_120]
type=model
x=90
y=205
width=25
height=25
model=null
modelactive=model_5733
modelangle=150,1200,0
modelzoom=800
script=targetcount < 4

// 325:121
[com_121]
type=model
x=60
y=235
width=25
height=25
model=null
modelactive=model_5733
modelangle=150,1200,0
modelzoom=800
script=targetcount < 3

// 325:122
[com_122]
type=model
x=90
y=235
width=25
height=25
model=null
modelactive=model_5733
modelangle=150,1200,0
modelzoom=800
script=targetcount < 2

// 325:123
[dart_hitmiss]
type=text
x=207
y=111
width=112
height=17
textfont=b12_full
text=Missed!
textactive=Missed!
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

