// 331:0
[feud_paper_l1]
type=layer
x=34
y=34
width=32
height=32

// 331:1
[feud_paper_model]
type=model
x=306
y=119
width=32
height=32
model=model_6049
modelangle=427,13,0
modelzoom=543

// 331:2
[feud_paper_text]
type=text
x=95
y=114
width=239
height=17
textfont=q8_full
text=Whatever text you need goes here!
textactive=Whatever text you need goes here!
textalignh=centre
colour=0x000000

// 331:3
[feud_paper_text2]
type=text
x=179
y=218
width=96
height=17
textfont=q8_full
text=Combi for lock
textactive=Combi for lock
colour=0x000000

// 331:4
[feud_paper_text3]
type=text
x=95
y=140
width=239
height=17
textfont=q8_full
text=Text
textactive=Text
textalignh=centre
colour=0x000000

// 331:5
[feud_paper_text4]
type=text
x=95
y=166
width=239
height=17
textfont=q8_full
text=Text
textactive=Text
textalignh=centre
colour=0x000000

// 331:6
[feud_paper_text5]
type=text
x=95
y=192
width=239
height=17
textfont=q8_full
text=Text
textactive=Text
textalignh=centre
colour=0x000000

// 331:7
[com_7]
type=graphic
x=480
y=6
width=26
height=23
mouseoverlayer=feud_scrap_paper_close_layer
graphic="close_buttons,6"

// 331:8
[feud_paper_close]
type=graphic
x=2
y=4
width=26
height=23
layer=feud_scrap_paper_close_layer
buttontype=3
graphic="close_buttons,7"

// 331:9
[feud_scrap_paper_close_layer]
type=layer
x=478
y=2
width=32
height=32
hide=yes

