// 331:0
[feud_paper_l1]

// 331:1
[feud_paper_model]

// 331:2
[feud_paper_text]

// 331:3
[feud_paper_text2]

// 331:4
[feud_paper_text3]

// 331:5
[feud_paper_text4]

// 331:6
[feud_paper_text5]

// 331:7
[com_7]

// 331:8
[feud_paper_close]

// 331:9
[feud_scrap_paper_close_layer]

