[feud_paper_l1]

[feud_paper_model]

[feud_paper_text]

[feud_paper_text2]

[feud_paper_text3]

[feud_paper_text4]

[feud_paper_text5]

[com_7]

[feud_paper_close]

[feud_scrap_paper_close_layer]

