// 330:0
[feud_safe_l1]
type=layer
width=600
height=500

// 330:1
[feud_safe]
type=model
x=249
y=279
width=32
height=32
model=model_6039
modelangle=41,2036,0
modelzoom=207

// 330:2
[feud_bh]
type=layer
x=337
y=97
width=155
height=170

// 330:3
[feud_over_model1]
type=model
x=98
y=18
width=32
height=32
layer=feud_bh
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=397,276,0
modelzoom=1400
buttontext=Set to 1
script=if1 = 1

// 330:4
[feud_overstate_model2]
type=model
x=119
y=50
width=32
height=32
layer=feud_bh
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=450,460,0
modelzoom=1400
buttontext=Set to 2
script=if1 = 2

// 330:5
[feud_overstate_model3]
type=model
x=116
y=90
width=32
height=32
layer=feud_bh
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=404,619,0
modelzoom=1400
buttontext=Set to 3
script=if1 = 3

// 330:6
[feud_overstate_model4]
type=model
x=95
y=121
width=32
height=32
layer=feud_bh
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=429,819,0
modelzoom=1400
buttontext=Set to 4
script=if1 = 4

// 330:7
[feud_overstate_model5]
type=model
x=58
y=128
width=32
height=32
layer=feud_bh
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=435,1048,0
modelzoom=1400
buttontext=Set to 5
script=if1 = 5

// 330:8
[feud_overstate_model6]
type=model
x=22
y=114
width=30
height=35
layer=feud_bh
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=444,1216,0
modelzoom=1400
buttontext=Set to 6
script=if1 = 6

// 330:9
[feud_overstate_model7]
type=model
x=3
y=77
width=30
height=35
layer=feud_bh
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=499,1425,0
modelzoom=1400
buttontext=Set to 7
script=if1 = 7

// 330:10
[feud_overstate_model8]
type=model
x=8
y=38
width=30
height=30
layer=feud_bh
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=468,1642,0
modelzoom=1400
buttontext=Set to 8
script=if1 = 8

// 330:11
[feud_overstate_model9]
type=model
x=36
y=10
width=30
height=35
layer=feud_bh
buttontype=5
model=model_6040
modelactive=model_6041
modelangle=421,1821,0
modelzoom=1400
buttontext=Set to 9
script=if1 = 9

// 330:12
[feud_reset_model]
type=model
x=78
y=62
width=30
height=32
layer=feud_bh
buttontype=1
model=model_6042
modelactive=model_6043
modelangle=467,2026,0
modelzoom=1297
buttontext=Reset Safe

// 330:13
[com_13]
type=graphic
x=483
y=4
width=26
height=23
mouseoverlayer=feud_safe_close_layer
graphic="close_buttons,6"

// 330:14
[feud_safe_close]
type=graphic
x=4
y=3
width=26
height=23
layer=feud_safe_close_layer
buttontype=3
graphic="close_buttons,7"

// 330:15
[feud_safe_close_layer]
type=layer
x=479
y=1
width=32
height=32
hide=yes

