// 509:0
[com_0]

// 509:1
[com_1]

// 509:2
[com_2]

// 509:3
[rotation1_fixed]

// 509:4
[com_4]

// 509:5
[rotation1]

// 509:6
[com_6]

// 509:7
[tol_cage_1_1]

// 509:8
[tol_cage_1_2]

// 509:9
[tol_cage_1_3]

// 509:10
[rotation2]

// 509:11
[com_11]

// 509:12
[tol_cage_2_1]

// 509:13
[tol_cage_2_2]

// 509:14
[tol_cage_2_3]

// 509:15
[rotation3]

// 509:16
[com_16]

// 509:17
[tol_cage_3_1]

// 509:18
[tol_cage_3_2]

// 509:19
[tol_cage_3_3]

// 509:20
[rotation4]

// 509:21
[com_21]

// 509:22
[tol_cage_4_1]

// 509:23
[tol_cage_4_2]

// 509:24
[tol_cage_4_3]

// 509:25
[com_25]

// 509:26
[tol_cage_left]

// 509:27
[turn_left_button]

// 509:28
[com_28]

// 509:29
[tol_cage_right]

// 509:30
[turn_right_button]

// 509:31
[com_31]

// 509:32
[tol_cage_confirm]

// 509:33
[tol_confirm_button]

// 509:34
[com_34]

// 509:35
[com_35]

// 509:36
[com_36]

// 509:37
[tol_horizontal_pipes]

// 509:38
[tol_cage_horiz_bar]

// 509:39
[tol_vertical_pipes]

// 509:40
[tol_cage_vert_bar]

// 509:41
[tol_cage_horiz]

// 509:42
[tol_horizontal_select]

// 509:43
[com_43]

// 509:44
[tol_cage_vert]

// 509:45
[tol_vertical_select]

// 509:46
[com_46]

// 509:47
[com_47]

// 509:48
[com_48]

// 509:49
[tol_cage_minus]

// 509:50
[tol_minus]

// 509:51
[com_51]

// 509:52
[tol_cage_plus]

// 509:53
[tol_plus]

// 509:54
[com_54]

// 509:55
[com_55]

// 509:56
[tol_cage_size]

// 509:57
[com_57]

// 509:58
[com_58]

// 509:59
[tol_cage_close_button]

