[com_0]

[com_1]

[com_2]

[rotation1_fixed]

[com_4]

[rotation1]

[com_6]

[tol_cage_1_1]

[tol_cage_1_2]

[tol_cage_1_3]

[rotation2]

[com_11]

[tol_cage_2_1]

[tol_cage_2_2]

[tol_cage_2_3]

[rotation3]

[com_16]

[tol_cage_3_1]

[tol_cage_3_2]

[tol_cage_3_3]

[rotation4]

[com_21]

[tol_cage_4_1]

[tol_cage_4_2]

[tol_cage_4_3]

[com_25]

[tol_cage_left]

[turn_left_button]

[com_28]

[tol_cage_right]

[turn_right_button]

[com_31]

[tol_cage_confirm]

[tol_confirm_button]

[com_34]

[com_35]

[com_36]

[tol_horizontal_pipes]

[tol_cage_horiz_bar]

[tol_vertical_pipes]

[tol_cage_vert_bar]

[tol_cage_horiz]

[tol_horizontal_select]

[com_43]

[tol_cage_vert]

[tol_vertical_select]

[com_46]

[com_47]

[com_48]

[tol_cage_minus]

[tol_minus]

[com_51]

[tol_cage_plus]

[tol_plus]

[com_54]

[com_55]

[tol_cage_size]

[com_57]

[com_58]

[tol_cage_close_button]

