[sextant_backing]

[sextant_horizon]

[sextant_sun]

[sextant_viewer]

[sextant_tilt_up]

[sextant_tilt_down]

[sextant_arm_right]

[sextant_arm_left]

[sextant_back]

[sextant_arm]

[sextant_foreground]

[sextant_location]

[com_12]

[trail_sextant_close]

[trail_sextant_close_button]

