// 365:0
[sextant_backing]
type=model
x=273
y=70
width=32
height=32
model=model_3408
modelangle=500,0,0
modelzoom=162

// 365:1
[sextant_horizon]
type=model
x=419
y=141
width=32
height=32
model=model_3407
modelangle=500,0,0
modelzoom=353

// 365:2
[sextant_sun]
type=model
x=419
y=141
width=32
height=32
model=model_3403
modelangle=500,0,0
modelzoom=898

// 365:3
[sextant_viewer]
type=model
x=419
y=141
width=32
height=32
model=model_3402
modelangle=500,0,0
modelzoom=201

// 365:4
[sextant_tilt_up]
type=model
x=313
y=275
width=30
height=51
buttontype=1
model=model_3405
modelangle=275,2029,0
modelzoom=1389

// 365:5
[sextant_tilt_down]
type=model
x=315
y=13
width=27
height=43
buttontype=1
model=model_3404
modelangle=478,14,0
modelzoom=1418

// 365:6
[sextant_arm_right]
type=model
x=258
y=258
width=44
height=52
buttontype=1
model=model_3409
modelangle=300,285,0
modelzoom=1228

// 365:7
[sextant_arm_left]
type=model
x=21
y=264
width=47
height=49
buttontype=1
model=model_3406
modelangle=308,695,0
modelzoom=1219

// 365:8
[sextant_back]
type=model
x=152
y=180
width=32
height=32
model=model_3411
modelangle=500,0,0
modelzoom=566

// 365:9
[sextant_arm]
type=model
x=152
y=180
width=32
height=32
model=model_3410
modelangle=500,0,0
modelzoom=566

// 365:10
[sextant_foreground]
type=model
x=152
y=180
width=32
height=32
model=model_3412
modelangle=500,0,0
modelzoom=566

// 365:11
[sextant_location]
type=text
x=131
y=313
width=71
height=14
buttontype=1
textfont=p12_full
text=Get Location
textactive=Get Location
textshadow=yes
colour=0x7c6035
mouseovercolour=0xc8b08a

// 365:12
[com_12]
type=graphic
x=473
y=13
width=26
height=23
mouseoverlayer=trail_sextant_close_button
graphic="close_buttons,4"

// 365:13
[trail_sextant_close]
type=graphic
x=5
y=5
width=26
height=23
layer=trail_sextant_close_button
buttontype=3
graphic="close_buttons,5"

// 365:14
[trail_sextant_close_button]
type=layer
x=468
y=8
width=32
height=32
hide=yes

