// 365:0
[sextant_backing]

// 365:1
[sextant_horizon]

// 365:2
[sextant_sun]

// 365:3
[sextant_viewer]

// 365:4
[sextant_tilt_up]

// 365:5
[sextant_tilt_down]

// 365:6
[sextant_arm_right]

// 365:7
[sextant_arm_left]

// 365:8
[sextant_back]

// 365:9
[sextant_arm]

// 365:10
[sextant_foreground]

// 365:11
[sextant_location]

// 365:12
[com_12]

// 365:13
[trail_sextant_close]

// 365:14
[trail_sextant_close_button]

