// 374:0
[com_0]
type=graphic
x=80
y=202
width=36
height=36
graphic="miscgraphics,7"

// 374:1
[com_1]
type=graphic
x=65
y=202
width=36
height=36
graphic="miscgraphics,7"

// 374:2
[com_2]
type=graphic
x=39
y=202
width=36
height=36
graphic="miscgraphics,7"

// 374:3
[com_3]
type=graphic
x=97
y=202
width=36
height=36
graphic="miscgraphics,8"

// 374:4
[com_4]
type=graphic
x=119
y=202
width=36
height=36
graphic="miscgraphics,8"

// 374:5
[tzhaar_fightpit_orb_off]
type=text
clientcode=205
x=43
y=207
width=110
height=25
buttontype=1
textfont=b12_full
text=Stop Viewing
textalignh=centre
textalignv=centre
textshadow=yes
mouseovercolour=0xff0000

// 374:6
[com_6]
type=model
x=81
y=99
width=28
height=28
model=model_9298
modelangle=166,63,0
modelzoom=2280
modelanim=tzhaar_viewing_orb

// 374:7
[com_7]
type=model
x=25
y=46
width=28
height=28
model=model_9298
modelangle=166,63,0
modelzoom=2280
modelanim=tzhaar_viewing_orb

// 374:8
[com_8]
type=model
x=137
y=46
width=28
height=28
model=model_9298
modelangle=166,63,0
modelzoom=2280
modelanim=tzhaar_viewing_orb

// 374:9
[com_9]
type=model
x=25
y=152
width=28
height=28
model=model_9298
modelangle=166,63,0
modelzoom=2280
modelanim=tzhaar_viewing_orb

// 374:10
[com_10]
type=model
x=137
y=152
width=28
height=28
model=model_9298
modelangle=166,63,0
modelzoom=2280
modelanim=tzhaar_viewing_orb

// 374:11
[tzhaar_fightpit_orb_centre]
type=text
x=60
y=119
width=69
height=14
buttontype=1
textfont=p12_full
text=Centre
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xffffff
buttontext=View
script=tzhaar_fightpit_orb = 1

// 374:12
[tzhaar_fightpit_orb_nw]
type=text
x=5
y=66
width=95
height=13
buttontype=1
textfont=p12_full
text=North-West
textshadow=yes
colour=0xffff00
colouractive=0xffffff
buttontext=View
script=tzhaar_fightpit_orb = 2

// 374:13
[tzhaar_fightpit_orb_ne]
type=text
x=102
y=66
width=82
height=14
buttontype=1
textfont=p12_full
text=North-East
textalignh=right
textshadow=yes
colour=0xffff00
colouractive=0xffffff
buttontext=View
script=tzhaar_fightpit_orb = 3

// 374:14
[tzhaar_fightpit_orb_se]
type=text
x=98
y=173
width=85
height=14
buttontype=1
textfont=p12_full
text=South-East
textalignh=right
textshadow=yes
colour=0xffff00
colouractive=0xffffff
buttontext=View
script=tzhaar_fightpit_orb = 4

// 374:15
[tzhaar_fightpit_orb_sw]
type=text
x=4
y=172
width=89
height=15
buttontype=1
textfont=p12_full
text=South-West
textshadow=yes
colour=0xffff00
colouractive=0xffffff
buttontext=View
script=tzhaar_fightpit_orb = 5

