[com_0]

[com_1]

[com_2]

[com_3]

[com_4]

[tzhaar_fightpit_orb_off]

[com_6]

[com_7]

[com_8]

[com_9]

[com_10]

[tzhaar_fightpit_orb_centre]

[tzhaar_fightpit_orb_nw]

[tzhaar_fightpit_orb_ne]

[tzhaar_fightpit_orb_se]

[tzhaar_fightpit_orb_sw]

