// 374:0
[com_0]

// 374:1
[com_1]

// 374:2
[com_2]

// 374:3
[com_3]

// 374:4
[com_4]

// 374:5
[tzhaar_fightpit_orb_off]

// 374:6
[com_6]

// 374:7
[com_7]

// 374:8
[com_8]

// 374:9
[com_9]

// 374:10
[com_10]

// 374:11
[tzhaar_fightpit_orb_centre]

// 374:12
[tzhaar_fightpit_orb_nw]

// 374:13
[tzhaar_fightpit_orb_ne]

// 374:14
[tzhaar_fightpit_orb_se]

// 374:15
[tzhaar_fightpit_orb_sw]

