// 376:0
[com_0]

// 376:1
[viking_juglid]

// 376:2
[com_2]

// 376:3
[com_3]

// 376:4
[com_4]

// 376:5
[com_5]

// 376:6
[viking_jug_layer]

// 376:7
[com_7]

// 376:8
[viking_redcoin1]

// 376:9
[viking_redcoin2]

// 376:10
[viking_redcoin3]

// 376:11
[viking_redcoin4]

// 376:12
[viking_redcoin5]

// 376:13
[viking_redcoin6]

// 376:14
[viking_blackcircle1]

// 376:15
[viking_blackcircle2]

// 376:16
[com_16]

// 376:17
[viking_close]

// 376:18
[viking_close_button]

