[com_0]

[viking_juglid]

[com_2]

[com_3]

[com_4]

[com_5]

[viking_jug_layer]

[com_7]

[viking_redcoin1]

[viking_redcoin2]

[viking_redcoin3]

[viking_redcoin4]

[viking_redcoin5]

[viking_redcoin6]

[viking_blackcircle1]

[viking_blackcircle2]

[com_16]

[viking_close]

[viking_close_button]

