// 379:0
[com_0]

// 379:1
[com_1]

// 379:2
[com_2]

// 379:3
[com_3]

// 379:4
[waa_time]

// 379:5
[waa_xp]

// 379:6
[com_6]

// 379:7
[com_7]

// 379:8
[weregolf_close]

// 379:9
[weregolf_close_button]

