// 384:0
[com_0]
type=model
x=220
y=137
width=32
height=32
model=model_4652
modelangle=481,0,0
modelzoom=914

// 384:1
[wom1]
type=text
x=88
y=44
width=335
height=17
textfont=q8_full
text=wom1
textactive=wom1
colour=0xf0bb5e

// 384:2
[wom2]
type=text
x=88
y=60
width=335
height=17
textfont=q8_full
text=wom2
textactive=wom2
colour=0xf0bb5e

// 384:3
[wom3]
type=text
x=88
y=76
width=335
height=17
textfont=q8_full
text=wom3
textactive=wom3
colour=0xf0bb5e

// 384:4
[wom4]
type=text
x=88
y=92
width=335
height=17
textfont=q8_full
text=wom4
textactive=wom4
colour=0xf0bb5e

// 384:5
[wom5]
type=text
x=88
y=108
width=335
height=17
textfont=q8_full
text=wom5
textactive=wom5
colour=0xf0bb5e

// 384:6
[wom6]
type=text
x=88
y=124
width=335
height=17
textfont=q8_full
text=wom6
textactive=wom6
colour=0xf0bb5e

// 384:7
[wom7]
type=text
x=88
y=140
width=335
height=17
textfont=q8_full
text=wom7
textactive=wom7
colour=0xf0bb5e

// 384:8
[wom8]
type=text
x=88
y=156
width=335
height=17
textfont=q8_full
text=wom8
textactive=wom8
colour=0xf0bb5e

// 384:9
[wom9]
type=text
x=88
y=172
width=335
height=17
textfont=q8_full
text=wom9
textactive=wom9
colour=0xf0bb5e

// 384:10
[wom10]
type=text
x=88
y=188
width=335
height=17
textfont=q8_full
text=wom10
textactive=wom10
colour=0xf0bb5e

// 384:11
[wom11]
type=text
x=88
y=204
width=335
height=17
textfont=q8_full
text=wom11
textactive=wom11
colour=0xf0bb5e

// 384:12
[wom12]
type=text
x=88
y=220
width=335
height=17
textfont=q8_full
text=wom12
textactive=wom12
colour=0xf0bb5e

// 384:13
[wom13]
type=text
x=88
y=236
width=335
height=17
textfont=q8_full
text=wom13
textactive=wom13
colour=0xf0bb5e

// 384:14
[wom14]
type=text
x=88
y=252
width=335
height=17
textfont=q8_full
text=wom14
textactive=wom14
colour=0xf0bb5e

// 384:15
[wom15]
type=text
x=88
y=268
width=335
height=17
textfont=q8_full
text=wom15
textactive=wom15
colour=0xf0bb5e

// 384:16
[wom16]
type=text
x=88
y=284
width=335
height=17
textfont=q8_full
text=wom16
textactive=wom16
colour=0xf0bb5e

// 384:17
[com_17]
type=graphic
x=473
y=13
width=26
height=23
mouseoverlayer=wise_old_close_button
graphic="close_buttons,4"

// 384:18
[wise_old_close]
type=graphic
x=3
y=4
width=26
height=23
layer=wise_old_close_button
buttontype=3
graphic="close_buttons,5"

// 384:19
[wise_old_close_button]
type=layer
x=470
y=9
width=32
height=32
hide=yes

